Repository withastro/docs, pull requests merged in 2021-07, with the labels that each got.

#51 Add `yarn format` script
  package.json
  yarn.lock
Labels: dependencies, enhancement

#42 Improve usage of links
  src/pages/core-concepts/astro-pages.md
  src/pages/core-concepts/collections.md
  src/pages/core-concepts/layouts.md
  src/pages/core-concepts/ui-renderers.md
  src/pages/guides/styling.md
  src/pages/reference/api-reference.md
  src/pages/reference/cli-reference.md
  src/pages/reference/renderer-reference.md
Labels: documentation

#53 Add format ci
  .github/workflow/format.yml
  yarn.lock
Labels: dependencies, enhancement

#47 Automatically check site links via `yarn lint:linkcheck`
  package.json
  yarn.lock
Labels: dependencies, enhancement

#61 Fix sidebar hover for dark theme
  src/components/SiteSidebar.astro
Labels: bug

#63 Fixed sidebar color on dark mode
  public/theme.css
  src/components/SiteSidebar.astro
Labels: bug

#64 Fix some of the broken links
  package.json
  src/pages/core-concepts/astro-components.md
  src/pages/guides/markdown-content.md
  src/pages/guides/styling.md
  src/pages/installation.md
  src/pages/reference/cli-reference.md
Labels: documentation

#65 Fix astro warnings `:directive` -> `client:directive`
  src/layouts/Main.astro
  src/pages/guides/markdown-content.md
  src/pages/index.astro
Labels: bug

#62 Link to git blame page in AvatarList
  src/components/AvatarList.astro
Labels: enhancement

#66 Add `node-fetch` documentation until astro#140 is fixed and we have global `fetch`
  package.json
  src/pages/guides/data-fetching.md
Labels: documentation

#55 Add the basic idea for showing the sidebar on mobile
  public/index.css
  src/components/MenuToggle.tsx
  src/layouts/Main.astro
Labels: bug

#85 Add `title` to contributor photo
  src/components/AvatarList.astro
Labels: enhancement
