Repository withastro/docs, pull requests merged in 2022-06, with the labels that each got.

#698 i18n(ja): Add Japanese `core-concepts/astro-pages.md`
  src/pages/ja/core-concepts/astro-pages.md
Labels: i18n

#699 Text improvements to Partial Hydration
  src/pages/en/core-concepts/partial-hydration.md
Labels: improve documentation

#690 i18n(pt-BR): Add `comparing-astro-vs-other-tools.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/comparing-astro-vs-other-tools.md
Labels: i18n

#705 i18n(ja): Add Japanese `core-concepts/layouts.md`
  src/pages/ja/core-concepts/layouts.md
Labels: i18n

#689 i18n(es): update `astro-pages.md`
  src/pages/es/core-concepts/astro-pages.md
Labels: i18n

#691 i18n(es): Update `core-concepts/routing.md`
  src/i18n/es/ui.ts
  src/pages/es/core-concepts/routing.md
Labels: i18n

#708 i18n(es): Update `partial-hydration.md`
  src/pages/es/core-concepts/partial-hydration.md
Labels: i18n

#711 i18n(es): add `data-fetching.md`
  src/i18n/es/nav.ts
  src/pages/es/guides/data-fetching.md
Labels: i18n

#713 i18n(ja): Add Japanese configuring-astro.md
  src/pages/ja/guides/configuring-astro.md
Labels: i18n

#712 i18n(ja): Add Japanese migrate.md
  src/pages/ja/migrate.md
Labels: i18n

#710 Use eslint
  .eslintignore
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  scripts/lib/linkcheck/base/base.ts
  scripts/lib/linkcheck/checks/target-exists.ts
  scripts/lib/linkcheck/steps/find-issues.ts
  scripts/lib/linkcheck/steps/output-issues.ts
  src/components/Card.astro
  src/components/HeadCommon.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/TabBox.astro
  src/pages/index.astro
Labels: site improvement

#692 fix: Improve a11y
  src/components/Header/Header.astro
  src/components/Header/LanguageSelect.css
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/RightSidebar/RightSidebar.astro
  src/layouts/MainLayout.astro
Labels: a11y

#679 Update: remove deprecated `getStaticPaths` helper from RSS page
  src/pages/en/guides/rss.md
Labels: improve documentation

#660 i18n(fr): Adding `data-fetching.md` translation
  src/pages/fr/guides/data-fetching.md
Labels: i18n

#716 i18n(pt-BR): Update `rss.md` based on #679 changes
  src/pages/pt-BR/guides/rss.md
Labels: i18n

#635 Add `CommunityMenu` component and change `MoreMenu` to `ContributeMenu`
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/RightSidebar/CommunityMenu.astro
  src/components/RightSidebar/ContributeMenu.astro
  src/components/RightSidebar/MoreMenu.astro
  src/components/RightSidebar/RightSidebar.astro
  src/i18n/en/ui.ts
Labels: site improvement

#536 Repurposing `guides/debugging.md` page
  netlify.toml
  old-translations/zh-CN/guides/debugging.md
  src/i18n/en/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/zh-CN/nav.ts
  src/pages/en/guides/debugging.md
  src/pages/en/guides/troubleshooting.md
Labels: add new content

#715 ci: Add check to run ESLint on PRs/commits
  .github/workflows/ci.yml
  src/components/RightSidebar/CommunityMenu.astro
Labels: site improvement

#718 i18n(pt-BR): Add `troubleshooting.md` and update `ui.ts` translations
  src/i18n/pt-BR/nav.ts
  src/i18n/pt-BR/ui.ts
  src/pages/pt-BR/guides/troubleshooting.md
Labels: i18n

#609 i18n(de): Add reference/configuration-reference.md
  src/pages/de/reference/configuration-reference.md
Labels: i18n

#723 i18n(ja): Add Japanese data-fetching.md
  src/pages/ja/guides/data-fetching.md
Labels: i18n

#720 Fix scrollbar overlapping issue on Firefox
  src/components/RightSidebar/RightSidebar.astro
Labels: site improvement

#694 Remove autoprefixer as it's already included
  src/pages/en/guides/styling.md
Labels: site improvement

#714 i18n(ja): add japanese styling.md
  src/pages/ja/guides/styling.md
Labels: i18n

#732 Add i18n instructions for English PRs to README
  README.md
Labels: add new content

#734 i18n(pt-BR): Update `styling.md` based on #694 changes
  src/pages/pt-BR/guides/styling.md
Labels: i18n

#725 i18n(pt-BR): Add `configuration-reference.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/markdown-content.md
  src/pages/pt-BR/reference/configuration-reference.md
Labels: i18n

#733 i18n(es): add `guides/environment-variables.md`
  src/i18n/es/nav.ts
  src/pages/es/guides/environment-variables.md
Labels: i18n

#736 i18n(es): add `guides/imports.md`
  src/i18n/es/nav.ts
  src/pages/es/guides/imports.md
Labels: i18n

#724 i18n(es): add `core-concepts/framework-components`
  src/i18n/es/docsearch.ts
  src/i18n/es/nav.ts
  src/i18n/es/ui.ts
  src/pages/es/core-concepts/framework-components.md
Labels: i18n

#749 Add gotcha regarding usage of Astro with Berry
  src/pages/en/guides/troubleshooting.md
Labels: add new content

#753 i18n(pt-BR): Update `troubleshooting.md` based on #749 changes
  src/pages/pt-BR/guides/troubleshooting.md
Labels: i18n

#748 Practice what we preach: remove extensions from ts(x) imports 🧹
  src/components/HeadSEO.astro
  src/components/Header/Header.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/TabGroup/InstallGuideTabGroup.astro
  src/i18n/util.ts
  src/layouts/MainLayout.astro
  src/layouts/SplashLayout.astro
Labels: site improvement

#750 i18n(pt-BR): Update `markdown-content.md`
  src/pages/pt-BR/guides/markdown-content.md
  src/pages/pt-BR/guides/troubleshooting.md
  src/pages/pt-BR/migrate.md
  src/pages/pt-BR/reference/api-reference.md
  src/pages/pt-BR/reference/configuration-reference.md
Labels: i18n

#758 Add Deno Deploy using deployctl to Deploy docs
  src/pages/en/guides/deploy.md
Labels: add new content

#751 i18n(pt-BR): Update `api-reference.md` based on #742 changes
  src/pages/pt-BR/reference/api-reference.md
Labels: i18n

#755 Add nightly CI to create PRs updating reference docs
  .github/workflows/docgen.yml
  package.json
  scripts/docgen.mjs
Labels: ci

#769 ci: update reference docs
  src/pages/en/reference/configuration-reference.md
Labels: ci

#767 i18n(pt-BR): Update `migrate.md` based on #764 changes
  src/pages/pt-BR/migrate.md
Labels: i18n

#766 i18n(ja): Add `docsearch` translation in Japanese
  src/i18n/ja/docsearch.ts
Labels: i18n

#770 i18n(pt-BR): Update `configuration-reference.md` based on #769 changes
  src/pages/pt-BR/reference/configuration-reference.md
Labels: i18n

#737 i18n(ja): Add Japanese `guides/deploy.md`
  src/pages/ja/guides/deploy.md
Labels: i18n

#704 docs: inject-route
  src/pages/en/reference/integrations-reference.md
Labels: add new content

#761 Add Aside component
  astro.config.ts
  integrations/astro-asides.ts
  package.json
  pnpm-lock.yaml
  public/theme.css
  src/components/Aside.astro
  src/components/FallbackNotice.astro
  src/i18n/en/ui.ts
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/core-concepts/framework-components.md
  src/pages/en/core-concepts/project-structure.md
  src/pages/en/core-concepts/routing.md
  src/pages/en/editor-setup.md
  src/pages/en/getting-started.md
  src/pages/en/guides/data-fetching.md
  src/pages/en/guides/environment-variables.md
  src/pages/en/guides/imports.md
  src/pages/en/guides/integrations-guide.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/guides/publish-to-npm.md
  src/pages/en/guides/rss.md
  src/pages/en/guides/server-side-rendering.md
  src/pages/en/guides/styling.md
  src/pages/en/guides/troubleshooting.md
  src/pages/en/guides/typescript.md
  src/pages/en/install/auto.md
  src/pages/en/integrations/integrations.md
  src/pages/en/migrate.md
  src/pages/en/reference/api-reference.md
  src/pages/en/reference/cli-reference.md
  src/pages/en/reference/directives-reference.md
Labels: site improvement

#728 i18n(fr): Adding `troubleshooting.md` translation
  src/i18n/fr/nav.ts
  src/pages/fr/guides/troubleshooting.md
Labels: i18n

#775 Added two basic COC & CONTRIBUTING pages
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  src/i18n/README.md
Labels: add new content

#726 i18n(fr): Updating `partial-hydration.md` translation
  src/pages/fr/core-concepts/partial-hydration.md
Labels: i18n

#773 i18n(pt-BR): Update `integrations-reference.md` based on #704 changes
  src/pages/pt-BR/reference/integrations-reference.md
Labels: i18n

#776 i18n(ja): Add Japanese `framework-components.md`
  src/pages/ja/core-concepts/framework-components.md
Labels: i18n

#797 i18n(ja): Update `migrate.md`
  src/pages/ja/migrate.md
Labels: i18n

#802 a11y: Fix contrast issues in Aside component
  src/components/Aside.astro
Labels: a11y

#803 i18n(es): update pages
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/core-concepts/project-structure.md
  src/pages/es/core-concepts/routing.md
  src/pages/es/editor-setup.md
  src/pages/es/getting-started.md
  src/pages/es/guides/data-fetching.md
  src/pages/es/guides/environment-variables.md
  src/pages/es/guides/imports.md
  src/pages/es/guides/markdown-content.md
  src/pages/es/install/auto.md
  src/pages/es/integrations/integrations.md
Labels: i18n

#801 i18n(ja): Update Japanese docs with Aside component
  src/i18n/ja/ui.ts
  src/pages/ja/core-concepts/astro-components.md
  src/pages/ja/core-concepts/framework-components.md
  src/pages/ja/core-concepts/project-structure.md
  src/pages/ja/editor-setup.md
  src/pages/ja/getting-started.md
  src/pages/ja/guides/data-fetching.md
  src/pages/ja/guides/styling.md
  src/pages/ja/install/auto.md
  src/pages/ja/integrations/integrations.md
  src/pages/ja/migrate.md
Labels: i18n

#746 Chore: Updating to latest Astro beta release
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/RightSidebar/TableOfContents.tsx
  src/util.ts
Labels: site improvement

#789 i18n(pt-BR): Update `server-side-rendering.md` based on #784 and #794 changes
  src/pages/pt-BR/guides/server-side-rendering.md
Labels: i18n

#804 i18n(pt-BR): Update `integrations-reference.md` based on #795 and #808 changes
  src/pages/pt-BR/reference/integrations-reference.md
Labels: i18n

#774 i18n(pt-BR): Big review and `Aside` component
  src/i18n/pt-BR/nav.ts
  src/i18n/pt-BR/ui.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/core-concepts/astro-pages.md
  src/pages/pt-BR/core-concepts/framework-components.md
  src/pages/pt-BR/core-concepts/partial-hydration.md
  src/pages/pt-BR/core-concepts/project-structure.md
  src/pages/pt-BR/core-concepts/routing.md
  src/pages/pt-BR/editor-setup.md
  src/pages/pt-BR/getting-started.md
  src/pages/pt-BR/guides/data-fetching.md
  src/pages/pt-BR/guides/environment-variables.md
  src/pages/pt-BR/guides/imports.md
  src/pages/pt-BR/guides/integrations-guide.md
  src/pages/pt-BR/guides/markdown-content.md
  src/pages/pt-BR/guides/publish-to-npm.md
  src/pages/pt-BR/guides/rss.md
  src/pages/pt-BR/guides/server-side-rendering.md
  src/pages/pt-BR/guides/styling.md
  src/pages/pt-BR/guides/troubleshooting.md
  src/pages/pt-BR/guides/typescript.md
  src/pages/pt-BR/install/auto.md
  src/pages/pt-BR/install/manual.md
  src/pages/pt-BR/integrations/integrations.md
  src/pages/pt-BR/migrate.md
  src/pages/pt-BR/reference/api-reference.md
  src/pages/pt-BR/reference/cli-reference.md
  src/pages/pt-BR/reference/directives-reference.md
Labels: i18n

#778 Update "Fragments & Multiple Elements" examples
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#796 i18n(ja): Add Japanese `guides/markdown-content.md`
  src/pages/ja/core-concepts/layouts.md
  src/pages/ja/guides/markdown-content.md
  src/pages/ja/migrate.md
Labels: i18n

#762 Add collapsible sections
  src/components/Header/SidebarToggle.tsx
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/components/RightSidebar/CommunityMenu.astro
Labels: site improvement

#821 ci: update Code of Conduct
  CODE_OF_CONDUCT.md
Labels: ci

#777 Update: Markdown `<Content/>` Description
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#759 New individual deploy pages
  public/index.css
  public/logos/buddy.svg
  public/logos/cloudflare-pages.svg
  public/logos/deno.svg
  public/logos/firebase.svg
  public/logos/github.svg
  public/logos/gitlab.svg
  public/logos/google-cloud.svg
  public/logos/heroku.svg
  public/logos/layer0.svg
  public/logos/microsoft-azure.svg
  public/logos/netlify.svg
  public/logos/render.svg
  public/logos/surge.svg
  public/logos/vercel.svg
  src/components/BrandLogo.astro
  src/components/DeployGuidesNav.astro
  src/components/TabGroup/TabGroup.css
  src/i18n/en/nav.ts
  src/i18n/en/ui.ts
  src/layouts/DeployGuideLayout.astro
  src/pages/en/deploy/buddy.md
  src/pages/en/deploy/cloudflare.md
  src/pages/en/deploy/deno.md
  src/pages/en/deploy/github.md
  src/pages/en/deploy/gitlab.md
  src/pages/en/deploy/google-cloud.md
  src/pages/en/deploy/google-firebase.md
  src/pages/en/deploy/heroku.md
  src/pages/en/deploy/layer-zero.md
  src/pages/en/deploy/microsoft-azure.md
  src/pages/en/deploy/netlify.md
  src/pages/en/deploy/render.md
  src/pages/en/deploy/surge.md
  src/pages/en/deploy/vercel.md
  src/pages/en/guides/deploy.md
  src/pages/en/guides/server-side-rendering.md
Labels: improve documentation

#822 Add localised sitemap generation
  astro.config.ts
  package.json
  pnpm-lock.yaml
  scripts/lib/linkcheck/steps/build-index.ts
  src/components/HeadCommon.astro
Labels: site improvement

#824 Update guidance on named slots in framework components
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/core-concepts/framework-components.md
Labels: add new content

#841 Sidebar: Open current page section on mobile
  src/components/Header/SidebarToggle.tsx
Labels: site improvement

#827 i18n(es): add ssr page
  src/i18n/es/nav.ts
  src/pages/es/guides/server-side-rendering.md
Labels: i18n

#757 i18n(es): add typescript page
  src/i18n/es/nav.ts
  src/pages/es/guides/typescript.md
Labels: i18n

#782 i18n(es): add integrations guide
  src/i18n/es/nav.ts
  src/pages/es/guides/integrations-guide.md
Labels: i18n

#840 i18n(es): `publish-to-npm.md`
  src/i18n/es/nav.ts
  src/pages/es/guides/publish-to-npm.md
  src/pages/es/integrations/integrations.md
Labels: i18n

#853 Add "outDir": "./dist" to tsconfig.json
  src/pages/en/guides/typescript.md
Labels: confirm behaviour

#842 i18n(pt-BR): Update `framework-components.md` based on #824 changes.
  src/pages/pt-br/core-concepts/framework-components.md
Labels: i18n

#855 i18n(fr): Updating `project-structure` translation
  src/pages/fr/core-concepts/project-structure.md
Labels: i18n

#856 i18n(fr): Updating `routing` translation
  src/pages/fr/core-concepts/routing.md
Labels: i18n

#857 i18n(fr): Updating `editor-setup` translation
  src/pages/fr/editor-setup.md
Labels: i18n

#858 i18n(fr): Updating `getting-started` translation
  src/pages/fr/getting-started.md
Labels: i18n

#850 Improve `injectScript` documentation
  src/pages/en/reference/integrations-reference.md
Labels: improve documentation

#825 i18n(ja): Add Japanese `guides/environment-variables.md`
  src/pages/ja/guides/environment-variables.md
Labels: i18n

#851 i18n(fr): Updating `ui.ts` translation
  src/i18n/fr/ui.ts
Labels: i18n

#845 docs(zh-cn): translate aliases
  src/pages/zh-cn/guides/aliases.md
Labels: i18n

#860 docs(zh): add glossary
  src/i18n/zh-cn/README.md
Labels: i18n

#848 docs(zh): translate env-var
  src/pages/zh-cn/guides/environment-variables.md
Labels: i18n

#832 i18n(de): Update outdated translations
  src/i18n/de/nav.ts
  src/i18n/de/ui.ts
  src/pages/de/core-concepts/astro-components.md
  src/pages/de/core-concepts/partial-hydration.md
  src/pages/de/core-concepts/project-structure.md
  src/pages/de/editor-setup.md
  src/pages/de/getting-started.md
  src/pages/de/install/auto.md
  src/pages/de/reference/configuration-reference.md
Labels: i18n

#847 doc(zh-cn): translate deploy
  src/pages/zh-cn/guides/deploy.md
Labels: i18n

#861 docs(zh): translate framework component
  src/pages/zh-cn/core-concepts/framework-components.md
Labels: i18n

#869 i18n(fr): Adding glossary
  src/i18n/fr/README.md
Labels: i18n

#865 i18n(es): add rss page
  src/i18n/es/nav.ts
  src/pages/es/guides/rss.md
Labels: i18n

#877 Added: WRITING.md and changes to CONTRIBUTING.md
  CONTRIBUTING.md
  WRITING.md
Labels: add new content

#880 i18n(pt-BR): Update `integrations-reference.md` based on #850 changes
  src/pages/pt-br/reference/integrations-reference.md
Labels: i18n

#878 i18n(pt-BR): Update `editor-setup.md` based on #831 changes
  src/pages/pt-br/editor-setup.md
Labels: i18n

#819 i18n(pt-BR): Update `astro-components.md` based on #778 and #824 changes
  src/pages/pt-br/core-concepts/astro-components.md
Labels: i18n
