Repository withastro/docs, pull requests merged in 2022-07, with the labels that each got.

#870 Add collapsible "on this page" in smaller screens
  public/index.css
  public/theme.css
  src/components/Header/SidebarToggle.tsx
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/TableOfContents.css
  src/components/RightSidebar/TableOfContents.tsx
  src/layouts/MainLayout.astro
Labels: site improvement

#890 Replace `react` with `preact/compat`
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Header/DocSearch.css
  src/components/Header/DocSearch.tsx
  src/components/Header/Header.astro
  src/components/Header/Search.astro
  src/components/Header/Search.css
  src/components/Header/Search.tsx
Labels: site improvement

#849 Sidebar: Highlight subpages
  src/components/DeployGuidesNav.astro
  src/components/Header/SidebarToggle.tsx
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/pages/en/guides/deploy.md
  src/pages/en/guides/deploy/buddy.md
  src/pages/en/guides/deploy/cloudflare.md
  src/pages/en/guides/deploy/deno.md
  src/pages/en/guides/deploy/github.md
  src/pages/en/guides/deploy/gitlab.md
  src/pages/en/guides/deploy/google-cloud.md
  src/pages/en/guides/deploy/google-firebase.md
  src/pages/en/guides/deploy/heroku.md
  src/pages/en/guides/deploy/layer-zero.md
  src/pages/en/guides/deploy/microsoft-azure.md
  src/pages/en/guides/deploy/netlify.md
  src/pages/en/guides/deploy/render.md
  src/pages/en/guides/deploy/surge.md
  src/pages/en/guides/deploy/vercel.md
  src/pages/zh-cn/guides/deploy.md
  src/util.ts
Labels: site improvement

#892 docs: fix disables typo
  src/pages/en/reference/directives-reference.md
Labels: typo

#902 Improve GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Doc'ing the Docs

#876 i18n(es): update astro-components.md
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#904 i18n(es): add styling page
  src/i18n/es/nav.ts
  src/pages/es/guides/styling.md
Labels: i18n

#875 Removed unused import "h"
  src/components/TabGroup/SidebarToggleTabGroup.tsx
Labels: site improvement

#859 docs(zh): translate publish to npm
  src/pages/zh-cn/guides/publish-to-npm.md
  src/pages/zh-cn/integrations/integrations.md
Labels: i18n

#886 Add: Maintainers Contributing Guide
  MAINTAINERS.md
Labels: add new content

#897 docs(zh): translate rss
  src/i18n/zh-cn/README.md
  src/pages/zh-cn/guides/rss.md
Labels: i18n

#914 Add extra notes to GitHub deploy guide
  src/pages/en/guides/deploy/github.md
Labels: improve documentation

#917 Reorder Layout page examples
  src/pages/en/core-concepts/layouts.md
Labels: improve documentation

#862 docs: fix <scripts> typo
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation

#899 docs(zh): translate ssr
  src/i18n/zh-cn/README.md
  src/pages/zh-cn/comparing-astro-vs-other-tools.md
  src/pages/zh-cn/guides/deploy.md
  src/pages/zh-cn/guides/rss.md
  src/pages/zh-cn/guides/server-side-rendering.md
  src/pages/zh-cn/migrate.md
Labels: i18n

#866 i18n(pt-BR) Update `typescript.md` based on #853 changes
  src/pages/pt-br/guides/typescript.md
Labels: i18n

#873 Add section on how to check types on CI
  src/pages/en/guides/typescript.md
Labels: add new content

#916 i18n(es): add `guides/troubleshooting.md`
  src/i18n/es/nav.ts
  src/pages/es/guides/troubleshooting.md
Labels: i18n

#900 docs(zh): translate styling
  src/pages/zh-cn/guides/styling.md
Labels: i18n

#901 docs(zh): translate troubleshooting
  src/pages/zh-cn/guides/troubleshooting.md
Labels: i18n

#911 docs(zh): translate api reference
  src/pages/zh-cn/core-concepts/astro-components.md
  src/pages/zh-cn/reference/api-reference.md
Labels: i18n

#909 docs(zh): translate adapter reference
  src/pages/zh-cn/reference/adapter-reference.md
Labels: i18n

#924 Netlify deploy page - added Nodejs version info
  src/pages/en/guides/deploy/netlify.md
Labels: add new content

#863 docs(zh): translate routing
  src/pages/zh-cn/core-concepts/routing.md
Labels: i18n

#896 docs(zh): translate integrations guide
  src/pages/zh-cn/guides/integrations-guide.md
  src/pages/zh-cn/guides/troubleshooting.md
  src/pages/zh-cn/migrate.md
Labels: i18n

#927 Improve sticky TOC on mobile devices and medium viewports
  public/index.css
  public/theme.css
  src/components/Header/Header.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/TableOfContents.css
  src/components/RightSidebar/TableOfContents.tsx
  src/layouts/MainLayout.astro
  src/layouts/SplashLayout.astro
Labels: site improvement

#912 AWS deploy page
  public/logos/aws.svg
  src/components/BrandLogo.astro
  src/components/DeployGuidesNav.astro
  src/pages/en/guides/deploy/aws.md
Labels: add new content

#867 simlify auto-install instructions
  src/pages/en/install/auto.md
  src/pages/en/install/manual.md
Labels: improve documentation

#915 i18n(ja): Add Japanese `core-concepts/routing.md`
  src/pages/ja/core-concepts/routing.md
Labels: i18n

#943 Fix typos on `astro-components.md` and `manual.md`
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/install/manual.md
Labels: typo

#944 Update data-fetching.md
  src/pages/es/guides/data-fetching.md
Labels: i18n

#947 Update ui.ts
  src/i18n/es/ui.ts
Labels: i18n

#935 i18n(es): Update `astro-components.md`, `layouts.md` and `astro-pages.md`
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/astro-pages.md
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#854 i18n(fr): Updating `framework-components` translation
  src/pages/fr/core-concepts/framework-components.md
Labels: i18n

#852 i18n(fr): Updating `astro-components` translation
  src/pages/fr/core-concepts/astro-components.md
Labels: i18n

#933 Fix High Contrast/Forced Colors issues
  public/index.css
  src/components/Aside.astro
  src/components/BrandLogo.astro
  src/components/Button.astro
  src/components/ContributorList.astro
  src/components/DeployGuidesNav.astro
  src/components/Header/Header.astro
  src/components/Header/ThemeToggleButton.css
  src/components/LeftSidebar/SidebarContent.astro
  src/components/RightSidebar/TableOfContents.css
  src/components/TabGroup/TabGroup.css
Labels: site improvement, a11y

#949 ci: update reference docs
  src/pages/en/reference/configuration-reference.md
Labels: ci

#934 New: sharing state core concept!
  package.json
  pnpm-lock.yaml
  public/videos/stores-example.mp4
  src/components/LoopingVideo.astro
  src/components/TabGroup/TabGroup.css
  src/components/tabs/Tabs.module.css
  src/components/tabs/Tabs.tsx
  src/components/tabs/UIFrameworkTabs.astro
  src/components/tabs/store.ts
  src/components/tabs/useTabState.ts
  src/i18n/en/nav.ts
  src/pages/en/core-concepts/sharing-state.md
Labels: add new content, site improvement

#937 docs(zh): update layouts
  src/pages/zh-cn/core-concepts/layouts.md
Labels: i18n

#936 docs(zh): update astro pages
  src/pages/zh-cn/core-concepts/astro-pages.md
Labels: i18n

#906 i18n(ja): Update Japanese `astro-components.md`
  src/pages/ja/core-concepts/astro-components.md
Labels: i18n

#961 i18n(ja): Update Japanese `astro-pages.md`
  src/pages/ja/core-concepts/astro-pages.md
Labels: i18n

#959 minor: Add missing period to `astro-pages.md`
  src/pages/en/core-concepts/astro-pages.md
Labels: typo

#926 docs(zh): transalte cli reference
  src/pages/zh-cn/reference/cli-reference.md
Labels: i18n

#830 i18n(pt-BR): Update `server-side-rendering.md` based on #759 changes
  src/pages/pt-br/guides/server-side-rendering.md
Labels: i18n

#826 i18n(pt-BR): Update `markdown-content.md` based on #777 and #925 changes
  src/pages/pt-br/guides/markdown-content.md
Labels: i18n

#891 i18n(pt-BR): Update `migrate.md` based on #888 changes
  src/pages/pt-br/migrate.md
Labels: i18n

#921 i18n(pt-BR) Update `layouts.md` based on #895 and #917 changes
  src/pages/pt-br/core-concepts/layouts.md
Labels: i18n

#942 i18n(pt-BR): Update `astro-components.md` based on #787 changes
  src/pages/pt-br/core-concepts/astro-components.md
Labels: i18n

#920 i18n(pt-BR): Update `astro-pages.md` based on #895 changes
  src/pages/pt-br/core-concepts/astro-pages.md
Labels: i18n

#939 i18n(pt-BR): Update `configuring-astro.md` based on #931 changes
  src/pages/pt-br/guides/configuring-astro.md
Labels: i18n

#964 i18n(pt-BR): Update `configuration-reference.md` based on #949 changes
  src/pages/pt-br/reference/configuration-reference.md
Labels: i18n

#955 i18n(ja): translate `reference/configuration-reference.md` to Japanese
  src/pages/ja/guides/markdown-content.md
  src/pages/ja/reference/configuration-reference.md
Labels: i18n

#954 Add official integration READMEs to docs
  .github/workflows/nightly.yml
  package.json
  pnpm-lock.yaml
  public/index.css
  public/logos/astro-image.svg
  public/logos/lit.svg
  public/logos/mdx.svg
  public/logos/node.svg
  public/logos/partytown.svg
  public/logos/preact.svg
  public/logos/prefetch.svg
  public/logos/react.svg
  public/logos/sitemap.svg
  public/logos/solid.svg
  public/logos/svelte.svg
  public/logos/tailwind.svg
  public/logos/vue.svg
  scripts/generate-integration-pages.ts
  scripts/lib/github-get.mjs
  scripts/lib/github-issues.mjs
  src/components/BrandLogo.astro
  src/components/DeployGuidesNav.astro
  src/components/IntegrationsNav.astro
  src/components/LoopingVideo.astro
  src/components/NavGrid/Card.astro
  src/components/NavGrid/CardsNav.astro
  src/components/NavGrid/Grid.astro
  src/components/PageContent/PageContent.astro
  src/i18n/en/ui.ts
  src/layouts/IntegrationLayout.astro
  src/layouts/MainLayout.astro
  src/pages/en/guides/integrations-guide.md
  src/pages/en/guides/integrations-guide/cloudflare.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/lit.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/partytown.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/prefetch.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/sitemap.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/tailwind.md
  src/pages/en/guides/integrations-guide/vercel.md
  src/pages/en/guides/integrations-guide/vue.md
  src/pages/en/migrate.md
  src/pages/ja/migrate.md
  src/util.ts
Labels: add new content, site improvement, ci

#966 Fix import in translation status script
  scripts/lib/github-issues.mjs
Labels: bug, i18n, Doc'ing the Docs

#946 New: `astro add` support instructions for integrations and adapters
  src/pages/en/reference/adapter-reference.md
  src/pages/en/reference/integrations-reference.md
Labels: add new content

#969 ci: update integration docs
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/vue.md
Labels: ci

#932 Centralise community health files in `.github` repo
  .github/workflows/nightly.yml
  CODE_OF_CONDUCT.md
  package.json
  scripts/mirror-coc.mjs
Labels: Doc'ing the Docs

#938 docs(zh): update partial hyration
  src/i18n/zh-cn/README.md
  src/pages/zh-cn/core-concepts/partial-hydration.md
Labels: i18n

#928 docs(zh): translate directives reference
  src/pages/zh-cn/core-concepts/astro-components.md
  src/pages/zh-cn/core-concepts/framework-components.md
  src/pages/zh-cn/guides/troubleshooting.md
  src/pages/zh-cn/reference/directives-reference.md
Labels: i18n

#930 docs(zh): translate configuration reference
  src/pages/zh-cn/guides/deploy.md
  src/pages/zh-cn/guides/markdown-content.md
  src/pages/zh-cn/reference/configuration-reference.md
Labels: i18n

#968 Add margin for slotted content
  public/index.css
Labels: site improvement

#970 Update Maintainers Guide: NWTWWHB & small fixes
  MAINTAINERS.md
Labels: improve documentation

#950 Re-worked API Routes section with more examples
  src/pages/en/guides/server-side-rendering.md
Labels: add new content, tsc

#978 ci: update integration docs
  src/pages/en/guides/integrations-guide/cloudflare.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/partytown.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/prefetch.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/sitemap.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/tailwind.md
  src/pages/en/guides/integrations-guide/vercel.md
  src/pages/en/guides/integrations-guide/vue.md
Labels: ci

#980 Improve "edit this page" link on integrations and fallback pages
  src/layouts/MainLayout.astro
Labels: site improvement

#1000 i18n(de-DE): Update `aliases.md`
  src/pages/de/guides/aliases.md
Labels: i18n

#996 i18n(de-DE): Update `astro-components.md`
  src/pages/de/core-concepts/astro-components.md
Labels: i18n

#977 ci: update reference docs
  src/pages/en/reference/configuration-reference.md
Labels: ci

#999 i18n(de-DE): Update `editor-setup.md`
  src/pages/de/editor-setup.md
Labels: i18n

#998 i18n(de-DE): Update `layouts.md`
  src/pages/de/core-concepts/layouts.md
Labels: i18n

#989 Add note about Netlify functions to deploy guide
  src/pages/en/guides/deploy/netlify.md
Labels: add new content

#1005 Document use of Astro’s JSX types
  src/pages/en/guides/typescript.md
Labels: add new content

#948 i18n(es): add cli reference page
  src/i18n/es/nav.ts
  src/pages/es/reference/cli-reference.md
Labels: i18n

#962 i18n(es): add directives-reference
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/reference/directives-reference.md
Labels: i18n

#957 i18n(es): update multiple pages
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/editor-setup.md
  src/pages/es/guides/aliases.md
  src/pages/es/guides/configuring-astro.md
  src/pages/es/guides/typescript.md
Labels: i18n

#1035 i18n(pt-BR): Update PT-BR pages
  src/i18n/pt-br/ui.ts
  src/pages/pt-br/core-concepts/routing.md
  src/pages/pt-br/guides/aliases.md
  src/pages/pt-br/guides/configuring-astro.md
  src/pages/pt-br/guides/environment-variables.md
  src/pages/pt-br/guides/integrations-guide.md
  src/pages/pt-br/guides/markdown-content.md
  src/pages/pt-br/guides/server-side-rendering.md
  src/pages/pt-br/guides/troubleshooting.md
  src/pages/pt-br/guides/typescript.md
  src/pages/pt-br/integrations/integrations.md
  src/pages/pt-br/migrate.md
  src/pages/pt-br/reference/adapter-reference.md
  src/pages/pt-br/reference/api-reference.md
  src/pages/pt-br/reference/configuration-reference.md
  src/pages/pt-br/reference/integrations-reference.md
Labels: i18n

#747 Fix recommended import styles for js, ts, jsx and tsx files
  .gitignore
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/core-concepts/framework-components.md
  src/pages/en/guides/imports.md
  src/pages/en/guides/troubleshooting.md
  src/pages/en/guides/typescript.md
Labels: improve documentation

#1041 Navigation accessibility improvements
  src/components/Header/Header.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/i18n/en/ui.ts
Labels: site improvement, a11y

#1039 Add docs on Astro.clientAddress
  src/pages/en/reference/api-reference.md
Labels: add new content

#1004 i18n(ja): Add Japanese `imports.md`
  src/pages/ja/guides/imports.md
Labels: i18n

#550 Explain `Astro.glob()` doesn't accept variables
  src/pages/en/reference/api-reference.md
Labels: improve documentation, tsc

#1027 Add WebStorm IDE information without workaround
  src/pages/en/editor-setup.md
Labels: improve documentation

#1049 Add stub Release Candidate migration guide
  src/pages/en/migrate.md
Labels: add new content

#1044 i18n(ja): Update Japanese Install Pages
  src/pages/ja/install/auto.md
  src/pages/ja/install/manual.md
Labels: i18n

#1042 i18n(de-DE): Translate `routing.md`
  src/pages/de/core-concepts/routing.md
Labels: i18n

#1022 `<Video>` component with captions support
  public/captions/en/169920154-4b42fc52-e2b5-4ca4-b7d2-d9057ab42ddf.vtt
  scripts/generate-integration-pages.ts
  src/components/Video.astro
  src/pages/en/guides/integrations-guide/tailwind.md
Labels: site improvement, a11y

#1056 Add guides on using `<Badge />` and `<Since />`
  WRITING.md
Labels: Doc'ing the Docs

#1051 Added more JetBrains context
  src/pages/en/editor-setup.md
Labels: improve documentation

#1063 Revert "add labeler action"
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 🚨 action

#1073 docs(cn): update aliases
  src/pages/zh-cn/guides/aliases.md
Labels: i18n

#1001 Remove "imports on top" warning
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/core-concepts/framework-components.md
  src/pages/en/guides/troubleshooting.md
Labels: improve documentation

#1067 Remove translate link in non-`i18nReady`, fallback and translated pages
  src/components/RightSidebar/ContributeMenu.astro
  src/components/RightSidebar/RightSidebar.astro
Labels: i18n, site improvement

#1064 Fix invisible 404 page
  src/layouts/SplashLayout.astro
Labels: site improvement

#1078 [i18n README]: Adds extra warning re: do not translate
  src/i18n/README.md
Labels: i18n, add new content

#1033 deprecate Astro.canonicalURL & add Astro.url
  src/pages/en/migrate.md
  src/pages/en/reference/api-reference.md
Labels: add new content

#1077 i18n(ja): Add Japanese `guides/aliases.md`
  src/pages/ja/guides/aliases.md
Labels: i18n

#1020 i18n(ja): Add Japanese `guides/troubleshooting.md`
  src/i18n/ja/nav.ts
  src/pages/ja/guides/troubleshooting.md
  src/pages/ja/migrate.md
Labels: i18n

#788 ⚡️ add class:list HTML directive example to the guide
  src/pages/en/core-concepts/astro-components.md
Labels: add new content

#1086 Highlight the i18n guide and update links
  README.md
  TRANSLATING.md
  src/components/RightSidebar/ContributeMenu.astro
Labels: Doc'ing the Docs

#1084 Move integrations version out of docgen
  scripts/generate-integration-pages.ts
  src/components/Version.astro
  src/layouts/IntegrationLayout.astro
  src/pages/en/guides/integrations-guide/cloudflare.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/lit.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/partytown.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/prefetch.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/sitemap.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/tailwind.md
  src/pages/en/guides/integrations-guide/vercel.md
  src/pages/en/guides/integrations-guide/vue.md
Labels: site improvement

#1087 [migration guide] - RSS has changed
  src/pages/en/migrate.md
Labels: add new content

#1076 docs(cn): update import
  src/pages/zh-cn/guides/imports.md
Labels: i18n

#1075 docs(cn): update envvironment variables
  src/pages/zh-cn/guides/environment-variables.md
Labels: i18n

#1074 docs(cn): update configuring astro
  src/pages/zh-cn/guides/configuring-astro.md
Labels: i18n

#1072 docs(cn): update getting-started
  src/pages/zh-cn/getting-started.md
Labels: i18n

#1070 docs(cn): update routing
  src/pages/zh-cn/core-concepts/routing.md
Labels: i18n

#1069 docs(cn): update project structure
  src/pages/zh-cn/core-concepts/project-structure.md
Labels: i18n

#1108 Add accessibility guidance to the Maintainers Manual
  MAINTAINERS.md
Labels: a11y, Doc'ing the Docs

#1106 Clarify linking between pages
  src/pages/en/core-concepts/astro-pages.md
  src/pages/en/core-concepts/routing.md
Labels: add new content

#893 Updated Core Concepts
  netlify.toml
  public/index.css
  scripts/lint-slugcheck.mjs
  src/components/IslandsDiagram.astro
  src/i18n/de/nav.ts
  src/i18n/en/nav.ts
  src/i18n/es/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/pt-br/nav.ts
  src/i18n/zh-cn/nav.ts
  src/pages/en/comparing-astro-vs-other-tools.md
  src/pages/en/concepts/islands.md
  src/pages/en/concepts/mpa-vs-spa.md
  src/pages/en/concepts/why-astro.md
  src/pages/en/core-concepts/partial-hydration.astro
  src/pages/en/core-concepts/partial-hydration.md
  src/pages/en/core-concepts/sharing-state.md
  src/pages/en/getting-started.md
  src/pages/en/migration/0.21.0.astro
Labels: add new content

#1045 Remove references to the <Markdown> component
  src/pages/en/guides/markdown-content.md
  src/pages/en/migrate.md
  src/pages/en/reference/api-reference.md
  src/pages/en/reference/directives-reference.md
Labels: improve documentation

#1116 Improve code snippets
  astro.config.ts
  integrations/astro-code-snippets.ts
  package.json
  pnpm-lock.yaml
  public/index.css
  public/theme.css
  src/components/CodeSnippet.astro
Labels: site improvement

#1115 fixed non-working code example for draft-posts
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1126 Core Concepts PR follow-up
  netlify.toml
  old-translations/de/core-concepts/partial-hydration.md
  old-translations/es/core-concepts/partial-hydration.md
  old-translations/fr/core-concepts/partial-hydration.md
  old-translations/ja/core-concepts/partial-hydration.md
  old-translations/pt-br/core-concepts/partial-hydration.md
  old-translations/zh-CN/core-concepts/partial-hydration.md
  public/index.css
  scripts/lint-slugcheck.mjs
  src/components/IslandsDiagram.astro
  src/components/tabs/PackageManagerTabs.astro
  src/pages/en/concepts/islands.md
  src/pages/en/concepts/mpa-vs-spa.md
  src/pages/en/concepts/why-astro.md
  src/pages/en/getting-started.md
  src/pages/ja/comparing-astro-vs-other-tools.md
  src/pages/pt-br/comparing-astro-vs-other-tools.md
  src/pages/zh-cn/comparing-astro-vs-other-tools.md
Labels: i18n

#1071 docs(cn): update editor setup
  src/pages/zh-cn/editor-setup.md
Labels: i18n

#1048 docs(zh-cn): update components
  src/i18n/zh-cn/README.md
  src/pages/zh-cn/core-concepts/astro-components.md
Labels: i18n

#1068 docs(cn): update framework component
  src/pages/zh-cn/core-concepts/framework-components.md
Labels: i18n

#1129 i18n(ja): Update Japanese `astro-pages.md`
  src/pages/ja/core-concepts/astro-pages.md
Labels: i18n

#1100 Fixed grammar
  src/pages/en/migrate.md
Labels: typo or grammar fix

#1142 i18n(de): Nav a11y changes
  src/i18n/de/ui.ts
Labels: i18n

#1114 add deploy docs for flightcontrol
  public/logos/flightcontrol.svg
  src/components/BrandLogo.astro
  src/components/DeployGuidesNav.astro
  src/pages/en/guides/deploy/flightcontrol.md
Labels: add new content

#1105 Add new CSS specificity behavior
  src/pages/en/guides/styling.md
  src/pages/en/migrate.md
Labels: add new content

#1153 i18n(es): update markdown-content page
  src/pages/es/guides/markdown-content.md
Labels: i18n

#1157 Fixed typo in server side rendering page
  src/pages/en/guides/server-side-rendering.md
Labels: typo or grammar fix
