Repository withastro/docs, pull requests merged in 2022-10, with the labels that each got.

#1653 Changes breaking text in congrats-bot.mjs script
  scripts/congrats-bot.mjs
Labels: hacktoberfest-accepted

#1640 i18n(zh-cn): fix typo
  src/pages/zh-cn/concepts/why-astro.md
Labels: i18n

#1358 i18n(de): add instructions for handling overloaded terms
  src/i18n/de/README.md
Labels: i18n

#1634 i18n(zh-cn): Add mpa-vs-spa.md translation
  src/pages/zh-cn/concepts/mpa-vs-spa.md
Labels: i18n

#1652 i18n(zh-cn): Update `mpa-vs-spa.md` translation
  src/pages/zh-cn/concepts/mpa-vs-spa.md
Labels: i18n

#1384 i18n(fr): Create fonts.md
  src/i18n/fr/nav.ts
  src/pages/fr/guides/fonts.md
Labels: i18n

#1549 docs(zh-cn): update cli-reference [typo]
  src/pages/zh-cn/reference/cli-reference.md
Labels: i18n

#1654 i18n(fr): Update `/fr/core-concepts/astro-components.md`
  src/pages/fr/core-concepts/astro-components.md
Labels: i18n, hacktoberfest-accepted

#1657 Link to Hacktoberfest guide at the top of TRANSLATING.md
  TRANSLATING.md
Labels: Doc'ing the Docs

#1659 Don’t auto-label Hacktoberfest PRs
  .github/labeler.yml
Labels: hacktoberfest-accepted

#1660 Call more attention to README Hacktoberfest link
  README.md
Labels: hacktoberfest-accepted

#1581 i18n(pt-BR): Add `sharing-state.md` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/core-concepts/sharing-state.md
Labels: i18n

#1540 i18n(pt-BR): Add `fonts.md` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/fonts.md
Labels: i18n

#1664 i18n(es): Update astro components
  src/pages/es/core-concepts/astro-components.md
Labels: i18n, hacktoberfest-accepted

#1662 i18n(es): Update sharing-state.md translation
  src/pages/es/core-concepts/sharing-state.md
Labels: i18n, hacktoberfest-accepted

#1669 i18n(en) `netlify.md` : Put in order the numbers in the lists
  src/pages/en/guides/deploy/netlify.md
Labels: hacktoberfest-accepted

#1675 docs: Fix md links of astrocookies
  src/pages/en/reference/api-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1676 Fix typo
  src/pages/en/reference/api-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1666 i18n(es): update translation for `styling.md`
  src/pages/es/guides/styling.md
Labels: i18n, hacktoberfest-accepted

#1681 Fix `endpoints.md` links
  src/pages/en/core-concepts/endpoints.md
Labels: improve documentation, hacktoberfest-accepted

#1679 i18n(pt-BR): Add `deploy/netlify.md` translation
  src/pages/pt-br/guides/deploy/netlify.md
  src/pages/pt-br/reference/configuration-reference.md
Labels: i18n, hacktoberfest-accepted

#1651 Add auto-generated OpenGraph images
  package.json
  pnpm-lock.yaml
  src/components/HeadSEO.astro
  src/docs-logo.png
  src/pages/open-graph/[...path].ts
  src/util/getOgImageUrl.ts
Labels: site improvement, hacktoberfest-accepted

#1680 Mention package manager when naming astro add command
  src/pages/en/guides/integrations-guide.md
Labels: improve documentation, hacktoberfest-accepted

#1665 i18n(es): Add `endpoints.md` translation
  src/pages/es/core-concepts/endpoints.md
Labels: i18n, hacktoberfest-accepted

#1673 i18n(es): update `cli-reference.md`
  src/pages/en/reference/cli-reference.md
  src/pages/es/reference/cli-reference.md
Labels: i18n

#1674 i18n(es): update `netlify.md` and `project-structure.md`
  src/pages/es/core-concepts/project-structure.md
  src/pages/es/guides/deploy/netlify.md
Labels: i18n

#1682 i18n(es): Markdown update
  src/pages/es/guides/markdown-content.md
Labels: i18n

#1690 revert `###` to `<h3>` 😇
  src/pages/en/reference/cli-reference.md
Labels: hacktoberfest-accepted

#1684 i18n(es): update astro-pages.md
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/astro-pages.md
  src/pages/es/guides/rss.md
  src/pages/es/reference/integrations-reference.md
Labels: i18n, hacktoberfest-accepted

#1688 i18n(es): update `integrations-guide.md`
  src/pages/es/guides/integrations-guide.md
Labels: i18n, hacktoberfest-accepted

#1687 i18n(es): update `server-side-rendering.md`
  src/pages/es/guides/server-side-rendering.md
Labels: i18n, hacktoberfest-accepted

#1691 i18n(es): update cli-reference.md
  src/pages/es/reference/cli-reference.md
Labels: i18n, hacktoberfest-accepted

#1686 i18n(es): add API reference for Astro.cookies
  src/pages/es/reference/api-reference.md
Labels: i18n, hacktoberfest-accepted

#1694 i18n(es): update `integrations-reference.md`
  src/pages/es/reference/integrations-reference.md
Labels: i18n, hacktoberfest-accepted

#1698 [error msg fix] change "txt" lang to "js" in Github deploy instructions [en-only]
  src/pages/de/guides/deploy/github.md
  src/pages/en/guides/deploy/github.md
  src/pages/es/guides/deploy/github.md
  src/pages/fr/guides/deploy/github.md
Labels: improve documentation, hacktoberfest-accepted

#1693 Improve deploy/gitlab.md documentation
  src/pages/en/guides/deploy/gitlab.md
Labels: improve documentation, hacktoberfest-accepted

#1699 Revise and elaborate TypeScript intro
  src/pages/en/guides/typescript.md
Labels: improve documentation, hacktoberfest-accepted

#1697 perf(ContributorList): save cellular data and improve load time by specifying image size in URL
  src/components/ContributorList.astro
Labels: site improvement, hacktoberfest-accepted

#1689 i18n(pt-BR): Add deploy/github.md translation
  src/pages/pt-br/guides/deploy/github.md
Labels: i18n, hacktoberfest-accepted

#1678 i18n(pt-BR): Add `endpoints.md` translation
  src/pages/pt-br/core-concepts/endpoints.md
Labels: i18n, hacktoberfest-accepted

#1708 Workaround for `import.meta.glob` perf issue
  package.json
  pnpm-lock.yaml
  src/pages/open-graph/[...path].ts
Labels: bug, hacktoberfest-accepted

#1705 i18n(es): Update guides/troubleshooting
  src/pages/es/guides/troubleshooting.md
Labels: i18n, hacktoberfest-accepted

#1706 i18n(es): improve gitlab deploy documentation
  src/pages/es/guides/deploy/gitlab.md
Labels: i18n

#1707 i18n(es): revise and elaborate typescript intro
  src/pages/es/guides/typescript.md
Labels: i18n

#1710 i18n(es): update `getting-started.md`
  src/pages/es/getting-started.md
Labels: i18n, hacktoberfest-accepted

#1711 i18n(es): update `install/auto.md` and `install/manual.md`
  src/pages/es/install/auto.md
  src/pages/es/install/manual.md
Labels: i18n, hacktoberfest-accepted

#1541 i18n(pt-BR): Lots of small translation updates
  src/pages/pt-br/concepts/why-astro.md
  src/pages/pt-br/core-concepts/project-structure.md
  src/pages/pt-br/getting-started.md
  src/pages/pt-br/guides/configuring-astro.md
  src/pages/pt-br/guides/deploy.md
  src/pages/pt-br/guides/integrations-guide.md
  src/pages/pt-br/guides/markdown-content.md
  src/pages/pt-br/guides/rss.md
  src/pages/pt-br/install/auto.md
  src/pages/pt-br/install/manual.md
  src/pages/pt-br/reference/cli-reference.md
Labels: i18n, hacktoberfest-accepted

#1713 i18n(es): update `concepts/why-astro.md`
  src/pages/es/concepts/why-astro.md
Labels: i18n

#1712 i18n(es): update `editor-setup.md`
  src/pages/es/editor-setup.md
Labels: i18n, hacktoberfest-accepted

#1718 Document Astro GitHub Action inputs
  src/pages/en/guides/deploy/github.md
Labels: hacktoberfest-accepted

#1605 i18n(ja): Update Japanese `why-astro.md`
  src/pages/ja/concepts/why-astro.md
Labels: i18n

#1362 i18n(fr): translation added on "Configuration Reference" page
  src/pages/fr/guides/markdown-content.md
  src/pages/fr/reference/configuration-reference.md
Labels: i18n

#1727 i18n(pt-BR): update deploy/github.md translation
  src/pages/pt-br/guides/deploy/github.md
Labels: i18n, hacktoberfest-accepted

#1725 i18n(es): update `github.md`
  src/pages/es/guides/deploy/github.md
Labels: i18n

#1737 i18n(pt-BR): Fix typo `astro-components.md`
  src/pages/pt-br/core-concepts/astro-components.md
Labels: i18n, hacktoberfest-accepted

#1739 i18n(es): check grammar for core-concepts, reference, and integrations pages
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/astro-pages.md
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/core-concepts/project-structure.md
  src/pages/es/core-concepts/routing.md
  src/pages/es/core-concepts/sharing-state.md
  src/pages/es/guides/configuring-astro.md
  src/pages/es/guides/data-fetching.md
  src/pages/es/guides/deploy.md
  src/pages/es/guides/environment-variables.md
  src/pages/es/guides/images.md
  src/pages/es/guides/imports.md
  src/pages/es/guides/markdown-content.md
  src/pages/es/guides/publish-to-npm.md
  src/pages/es/guides/rss.md
  src/pages/es/guides/server-side-rendering.md
  src/pages/es/guides/styling.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/integrations/integrations.md
  src/pages/es/reference/adapter-reference.md
  src/pages/es/reference/api-reference.md
  src/pages/es/reference/configuration-reference.md
  src/pages/es/reference/directives-reference.md
  src/pages/es/reference/integrations-reference.md
Labels: i18n, hacktoberfest-accepted

#1747 i18n(es): update to `configuration-reference`
  src/pages/es/reference/configuration-reference.md
Labels: i18n, hacktoberfest-accepted

#1394 [add] Content Story Page
  src/i18n/en/nav.ts
  src/pages/en/guides/content.md
Labels: add new content

#1753 Fix typo
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation, hacktoberfest-accepted

#1754 consistent deno deploy script
  src/pages/en/guides/deploy/deno.md
Labels: improve documentation, hacktoberfest-accepted

#1757 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1742 i18n(pt-BR): Add deploy/vercel.md translation
  src/pages/pt-br/guides/deploy/vercel.md
  src/pages/pt-br/reference/configuration-reference.md
Labels: i18n, hacktoberfest-accepted

#1760 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1762 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1761 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1764 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1763 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1766 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1765 add hacktoberfest reviewer
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#1759 i18n(es): update to `getting started`
  src/pages/es/getting-started.md
Labels: i18n

#1744 [tutorial] Reordered pages
  src/components/tutorial/PreCheck.astro
  src/i18n/en/ui.ts
  src/pages/en/tutorial/0-introduction/1.md
  src/pages/en/tutorial/0-introduction/2.md
  src/pages/en/tutorial/0-introduction/index.md
  src/pages/en/tutorial/1-setup/1.md
  src/pages/en/tutorial/1-setup/2.md
  src/pages/en/tutorial/1-setup/index.md
  src/pages/en/tutorial/2-astro-pages/3.md
  src/pages/en/tutorial/2-astro-pages/index.md
  src/pages/en/tutorial/2-pages/1.md
  src/pages/en/tutorial/2-pages/2.md
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/2-pages/4.md
  src/pages/en/tutorial/2-pages/index.md
  src/pages/en/tutorial/3-components/1.md
  src/pages/en/tutorial/3-components/2.md
  src/pages/en/tutorial/3-components/index.md
  src/pages/en/tutorial/4-layouts/1.md
  src/pages/en/tutorial/4-layouts/2.md
  src/pages/en/tutorial/4-layouts/3.md
  src/pages/en/tutorial/4-layouts/index.md
  src/pages/en/tutorial/5-astro-api/1.md
  src/pages/en/tutorial/5-astro-api/2.md
  src/pages/en/tutorial/5-astro-api/3.md
  src/pages/en/tutorial/5-astro-api/4.md
  src/pages/en/tutorial/5-astro-api/index.md
  src/pages/en/tutorial/6-interactivity/1.md
  src/pages/en/tutorial/6-interactivity/2.md
  src/pages/en/tutorial/6-interactivity/3.md
  src/pages/en/tutorial/6-interactivity/index.md
Labels: hacktoberfest-accepted

#1779 fix: broken TRANSLATING guide links
  TRANSLATING.md
Labels: hacktoberfest-accepted

#1792 fix: missing package.json example comma
  src/pages/en/guides/deploy/deno.md
Labels: improve documentation, hacktoberfest-accepted

#1646 Update CLI Reference with `--site` & `--base` flags
  src/pages/en/reference/cli-reference.md
Labels: merge-on-release

#1731 Add endpoint context API
  src/pages/en/core-concepts/endpoints.md
  src/pages/en/reference/api-reference.md
Labels: merge-on-release, hacktoberfest-accepted

#1655 Added documentation for withastro/astro#4947
  src/pages/en/reference/integrations-reference.md
Labels: add new content, merge-on-release, hacktoberfest-accepted

#1791 docs: improvements for layouts page
  src/pages/en/core-concepts/layouts.md
Labels: improve documentation, hacktoberfest-accepted

#1767 i18n(es): Update `deploy/deno.md`
  src/pages/es/guides/deploy/deno.md
Labels: i18n, hacktoberfest-accepted

#1774 [i18n Guide] Add minimum quality standards and good/bad adaptation
  TRANSLATING.md
Labels: add new content, hacktoberfest-accepted

#1772 `npm i` --> `npm install`
  src/pages/en/core-concepts/sharing-state.md
  src/pages/en/guides/deploy/layer-zero.md
  src/pages/en/guides/deploy/netlify.md
  src/pages/en/guides/deploy/surge.md
  src/pages/en/guides/deploy/vercel.md
  src/pages/en/guides/fonts.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/guides/rss.md
  src/pages/en/guides/styling.md
  src/pages/en/migrate.md
  src/pages/en/reference/api-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1775 Better "Adaptor" links
  src/pages/en/comparing-astro-vs-other-tools.md
  src/pages/en/guides/deploy.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/guides/rss.md
  src/pages/en/guides/server-side-rendering.md
  src/pages/en/reference/adapter-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1776 Indentation fixes
  src/pages/en/concepts/islands.md
  src/pages/en/core-concepts/endpoints.md
  src/pages/en/core-concepts/layouts.md
  src/pages/en/getting-started.md
  src/pages/en/guides/data-fetching.md
  src/pages/en/guides/deploy.md
  src/pages/en/guides/deploy/deno.md
  src/pages/en/guides/deploy/gitlab.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/guides/rss.md
  src/pages/en/guides/server-side-rendering.md
  src/pages/en/reference/api-reference.md
  src/pages/en/reference/configuration-reference.md
  src/pages/en/reference/integrations-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1796 docs: add missing comma in code example
  src/pages/en/reference/integrations-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1770 Upgrade to Astro 1.4.7
  package.json
  pnpm-lock.yaml
Labels: site improvement, hacktoberfest-accepted

#1773 ci: make linkcheck 2 times faster
  package.json
  src/pages/open-graph/[...path].ts
Labels: hacktoberfest-accepted

#1745 Add initial docs and example on testing with Playwright
  src/i18n/en/nav.ts
  src/pages/en/guides/testing.md
Labels: add new content, hacktoberfest-accepted

#1751 support for opening the repo in gitpod
  .gitignore
  .gitpod.yml
  README.md
Labels: site improvement, hacktoberfest-accepted

#1728 Revise hydration section
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation, hacktoberfest-accepted

#1811 [tutorial] updated page titles and descriptions for unit check ins
  src/pages/en/tutorial/0-introduction/1.md
  src/pages/en/tutorial/0-introduction/index.md
  src/pages/en/tutorial/1-setup/index.md
  src/pages/en/tutorial/2-pages/index.md
  src/pages/en/tutorial/3-components/index.md
  src/pages/en/tutorial/4-layouts/index.md
  src/pages/en/tutorial/5-astro-api/index.md
  src/pages/en/tutorial/6-islands/index.md
Labels: hacktoberfest-accepted, tutorial

#1812 Tutorial: add step to install astro extension
  src/pages/en/tutorial/1-setup/3.md
Labels: tutorial

#1809 Fix OG image generation for pages like `index.md`
  package.json
  pnpm-lock.yaml
  src/pages/open-graph/[...path].ts
Labels: site improvement, hacktoberfest-accepted, tutorial

#1810 Add custom fill-in-the-blank styling to tutorial
  src/components/tutorial/Blanks.astro
  src/pages/en/tutorial/1-setup/2.md
  src/pages/en/tutorial/2-pages/1.md
  src/pages/en/tutorial/2-pages/2.md
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/3-components/1.md
  src/pages/en/tutorial/3-components/4.md
  src/pages/en/tutorial/4-layouts/3.md
Labels: site improvement, hacktoberfest-accepted, tutorial

#1815 Fix JSON syntax typo in Vercel deploy guide
  src/pages/en/guides/deploy/vercel.md
  src/pages/es/guides/deploy/vercel.md
  src/pages/pt-br/guides/deploy/vercel.md
Labels: i18n

#1817 Fix unit number in title
  src/pages/en/tutorial/3-components/index.md
Labels: tutorial

#1818 Remove empty test your knowledge box
  src/pages/en/tutorial/1-setup/1.md
Labels: tutorial

#1814 [tutorial] consistent page descriptions
  src/pages/en/tutorial/1-setup/1.md
  src/pages/en/tutorial/1-setup/2.md
  src/pages/en/tutorial/1-setup/3.md
  src/pages/en/tutorial/1-setup/4.md
  src/pages/en/tutorial/1-setup/5.md
  src/pages/en/tutorial/1-setup/6.md
  src/pages/en/tutorial/1-setup/index.md
  src/pages/en/tutorial/2-pages/1.md
  src/pages/en/tutorial/2-pages/2.md
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/2-pages/4.md
  src/pages/en/tutorial/2-pages/5.md
  src/pages/en/tutorial/2-pages/index.md
  src/pages/en/tutorial/3-components/1.md
  src/pages/en/tutorial/3-components/2.md
  src/pages/en/tutorial/3-components/3.md
  src/pages/en/tutorial/3-components/4.md
  src/pages/en/tutorial/3-components/index.md
  src/pages/en/tutorial/4-layouts/1.md
  src/pages/en/tutorial/4-layouts/2.md
  src/pages/en/tutorial/4-layouts/3.md
  src/pages/en/tutorial/4-layouts/index.md
  src/pages/en/tutorial/5-astro-api/1.md
  src/pages/en/tutorial/5-astro-api/2.md
  src/pages/en/tutorial/5-astro-api/3.md
  src/pages/en/tutorial/5-astro-api/4.md
  src/pages/en/tutorial/5-astro-api/index.md
  src/pages/en/tutorial/6-islands/1.md
  src/pages/en/tutorial/6-islands/2.md
  src/pages/en/tutorial/6-islands/3.md
  src/pages/en/tutorial/6-islands/index.md
Labels: hacktoberfest-accepted, tutorial

#1827 i18n(zh-cn): Fix markdown typo
  src/pages/zh-cn/concepts/islands.md
Labels: i18n

#1821 Use `import type` for `APIContext` imports in reference
  src/pages/en/reference/api-reference.md
Labels: hacktoberfest-accepted

#1820 Code block language fixes
  src/pages/en/core-concepts/endpoints.md
Labels: hacktoberfest-accepted

#1822 Tutorial: fix a few links within the tutorial, typos / grammer
  src/pages/en/tutorial/0-introduction/1.md
  src/pages/en/tutorial/0-introduction/index.md
  src/pages/en/tutorial/1-setup/3.md
  src/pages/en/tutorial/1-setup/5.md
Labels: hacktoberfest-accepted

#1828 [tutorial] removed references to JSX
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/4-layouts/1.md
  src/pages/en/tutorial/5-astro-api/3.md
Labels: hacktoberfest-accepted, tutorial

#1720 Caution against passing functions to HTML elements, framework components
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation, hacktoberfest-accepted

#1830 [tutorial] removed confusing items in 1.4
  src/pages/en/tutorial/1-setup/4.md
Labels: hacktoberfest-accepted, tutorial

#1831 [tutorial] less confusing self-quiz instruction
  src/pages/en/tutorial/2-pages/3.md
Labels: hacktoberfest-accepted, tutorial

#1804 i18n(es): update `api-reference.md`
  src/pages/es/reference/api-reference.md
Labels: i18n, hacktoberfest-accepted

#1838 [tutorial] updated Units 2-6 checklists
  src/pages/en/tutorial/2-pages/1.md
  src/pages/en/tutorial/2-pages/2.md
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/2-pages/4.md
  src/pages/en/tutorial/2-pages/5.md
  src/pages/en/tutorial/3-components/1.md
  src/pages/en/tutorial/3-components/2.md
  src/pages/en/tutorial/3-components/3.md
  src/pages/en/tutorial/3-components/4.md
  src/pages/en/tutorial/4-layouts/1.md
  src/pages/en/tutorial/4-layouts/2.md
  src/pages/en/tutorial/4-layouts/3.md
  src/pages/en/tutorial/5-astro-api/1.md
  src/pages/en/tutorial/5-astro-api/2.md
  src/pages/en/tutorial/5-astro-api/3.md
  src/pages/en/tutorial/5-astro-api/4.md
  src/pages/en/tutorial/6-islands/1.md
  src/pages/en/tutorial/6-islands/2.md
  src/pages/en/tutorial/6-islands/3.md
Labels: hacktoberfest-accepted, tutorial

#1839 fixed code example
  src/pages/en/core-concepts/routing.md
Labels: improve documentation, hacktoberfest-accepted

#1726 Add a section on passing a class to a child component
  src/pages/en/guides/styling.md
Labels: improve documentation, hacktoberfest-accepted

#1841 Add render.md PT-BR translation
  src/pages/pt-br/guides/deploy/render.md
Labels: i18n, hacktoberfest-accepted

#1813 i18n(es): Minor update to `islands.md`
  src/pages/es/concepts/islands.md
Labels: i18n, hacktoberfest-accepted

#1794 i18n(es): Update of `endpoints.md`
  src/pages/es/core-concepts/endpoints.md
Labels: i18n, hacktoberfest-accepted

#1842 i18n(es): Update `astro-components.md`
  src/pages/es/core-concepts/astro-components.md
Labels: i18n, hacktoberfest-accepted

#1843 i18n(es): Update `layouts.md`
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#1844 i18n(es): Update `sharing-state.md`
  src/pages/es/core-concepts/sharing-state.md
Labels: i18n

#1845 i18n(es): Update `server-side-rendering.md`
  src/pages/es/guides/server-side-rendering.md
Labels: i18n

#1789 i18n(ja): Update `alias.md` translation
  src/pages/ja/guides/aliases.md
Labels: i18n, hacktoberfest-accepted

#1799 i18n(ja): Update `project-structure.md` translation
  src/pages/ja/core-concepts/project-structure.md
Labels: i18n, hacktoberfest-accepted

#1846 i18n(es): Update `data-fetching.md`
  src/pages/es/guides/data-fetching.md
Labels: i18n

#1374 i18n(ja): Translate `reference/cli-reference.md`
  src/pages/ja/reference/cli-reference.md
Labels: i18n, hacktoberfest-accepted

#1668 i18n(fr) Added `netlify.md` translation in French language
  src/pages/fr/guides/deploy/netlify.md
  src/pages/fr/reference/configuration-reference.md
Labels: i18n, hacktoberfest-accepted

#1847 i18n(es): Update multiple deploy guides
  src/pages/es/guides/deploy/deno.md
  src/pages/es/guides/deploy/gitlab.md
  src/pages/es/guides/deploy/layer-zero.md
  src/pages/es/guides/deploy/netlify.md
  src/pages/es/guides/deploy/surge.md
  src/pages/es/guides/deploy/vercel.md
Labels: i18n

#1840 i18n(es): Update `cli-reference.md`
  src/pages/es/reference/cli-reference.md
Labels: i18n

#1645 i18n(zh-cn): Translate GitHub Pages and Vercel deploy guides
  src/pages/zh-cn/guides/deploy/github.md
  src/pages/zh-cn/guides/deploy/vercel.md
  src/pages/zh-cn/reference/configuration-reference.md
Labels: i18n, hacktoberfest-accepted

#1685 i18n(zh-cn): Translate `Endpoints.md`
  src/i18n/zh-cn/nav.ts
  src/pages/zh-cn/core-concepts/endpoints.md
Labels: i18n, hacktoberfest-accepted

#1700 i18n(zh-cn): Delete outdated links & deprecate Astro vs X
  src/i18n/zh-cn/nav.ts
  src/i18n/zh-cn/ui.ts
  src/pages/zh-cn/comparing-astro-vs-other-tools.md
Labels: i18n, hacktoberfest-accepted

#1701 i18n(zh-tw): Add `project-structure.md` and update `nav.ts`
  src/i18n/zh-tw/nav.ts
  src/pages/zh-tw/core-concepts/project-structure.md
Labels: i18n, hacktoberfest-accepted

#1703 i18n(zh-tw): Add `deploy.md` translation
  src/pages/zh-tw/guides/deploy.md
Labels: i18n, hacktoberfest-accepted

#1704 i18n(zh-tw): Add `islands.md` translation
  src/pages/zh-tw/concepts/islands.md
Labels: i18n, hacktoberfest-accepted

#1716 i18n(zh-tw): add `astro-pages.md` translation
  src/pages/zh-tw/core-concepts/astro-pages.md
Labels: i18n, hacktoberfest-accepted

#1849 i18n(zh-tw): Update `project-structure.md`
  src/pages/zh-tw/core-concepts/project-structure.md
Labels: i18n

#1856 Chonkier checklist checkmarks
  src/components/Checklist.astro
Labels: hacktoberfest-accepted, tutorial

#1788 i18n(ja): Update `astro-components.md` translation
  src/pages/ja/core-concepts/astro-components.md
Labels: i18n, hacktoberfest-accepted

#1861 docs(zh-cn): typo
  src/pages/zh-cn/concepts/why-astro.md
Labels: i18n

#1777 Use `extendDefaultPlugins` in more code samples
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/reference/configuration-reference.md
Labels: improve documentation, hacktoberfest-accepted

#1565 add contentful cms guide
  src/pages/en/guides/cms/contentful.md
Labels: add new content

#1769 Clean up <Tab> component usage
  src/components/tabs/JavascriptFlavorTabs.astro
  src/pages/en/core-concepts/sharing-state.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/guides/server-side-rendering.md
  src/pages/en/reference/api-reference.md
Labels: site improvement, hacktoberfest-accepted

#1860 i18n(es): Update `framework-components.md`
  src/pages/es/core-concepts/framework-components.md
Labels: i18n, hacktoberfest-accepted

#1852 [tutorial] Ch 3-6 questions redone
  src/pages/en/tutorial/3-components/1.md
  src/pages/en/tutorial/3-components/2.md
  src/pages/en/tutorial/3-components/4.md
  src/pages/en/tutorial/3-components/index.md
  src/pages/en/tutorial/4-layouts/1.md
  src/pages/en/tutorial/4-layouts/2.md
  src/pages/en/tutorial/4-layouts/3.md
  src/pages/en/tutorial/5-astro-api/1.md
Labels: hacktoberfest-accepted

#1867 tutorial: Fix period inside link
  src/components/tutorial/StackblitzIntro.astro
Labels: tutorial

#1871 i18n(es): Update `deploy.md`
  src/pages/es/guides/deploy.md
Labels: i18n

#1869 i18n(es): Update `sharing-state.md`
  src/pages/es/core-concepts/sharing-state.md
Labels: i18n

#1883 i18n(ja): Add Japanese `endpoints.md`
  src/i18n/ja/nav.ts
  src/pages/ja/core-concepts/endpoints.md
Labels: i18n

#1854 i18n(ja): Update `layouts.md` translation
  src/pages/ja/core-concepts/layouts.md
Labels: i18n, hacktoberfest-accepted

#1872 i18n(es): Update `markdown-content.md`
  src/pages/es/guides/markdown-content.md
Labels: i18n

#1870 i18n(es): Minor updates
  src/pages/es/getting-started.md
  src/pages/es/guides/fonts.md
  src/pages/es/migrate.md
Labels: i18n

#1889 i18n(fr): fix typo in glossary
  src/i18n/fr/README.md
Labels: i18n, hacktoberfest-accepted

#1882 i18n(es): Update `configuration-reference.md`
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1880 i18n(es): Update `adapter-reference.md`
  src/pages/es/reference/adapter-reference.md
Labels: i18n

#1876 i18n(es): Update `rss.md`
  src/pages/es/guides/rss.md
Labels: i18n

#1873 i18n(es): Update `api-reference.md`
  src/pages/es/reference/api-reference.md
Labels: i18n
