Repository withastro/docs, pull requests merged in 2022-08, with the labels that each got.

#1179 Mark code in `aliases.md`
  src/pages/en/guides/aliases.md
Labels: 🦛 stampede

#1178 Mark code in `environment-variables.md`
  src/pages/en/guides/environment-variables.md
Labels: 🦛 stampede

#1177 Mark code in `data-fetching.md`
  src/pages/en/guides/data-fetching.md
Labels: 🦛 stampede

#1166 Mark code in `astro-components.md`
  src/pages/en/core-concepts/astro-components.md
Labels: 🦛 stampede

#1167 Mark code in `manual.md`
  src/pages/en/install/manual.md
Labels: 🦛 stampede

#1168 Mark code in `islands.md`
  src/pages/en/concepts/islands.md
Labels: 🦛 stampede

#1169 Mark code in `astro-pages.md`
  src/pages/en/core-concepts/astro-pages.md
Labels: 🦛 stampede

#1170 Mark code in `layouts.md`
  src/pages/en/core-concepts/layouts.md
Labels: 🦛 stampede

#1186 Mark code in `typescript.md`
  src/pages/en/guides/typescript.md
Labels: 🦛 stampede

#1173 Mark code in `routing.md`
  src/pages/en/core-concepts/routing.md
Labels: 🦛 stampede

#1172 Mark code in `markdown-content.md`
  src/pages/en/guides/markdown-content.md
Labels: 🦛 stampede

#1185 Mark code in `server-side-rendering.md`
  src/pages/en/guides/server-side-rendering.md
Labels: 🦛 stampede

#1175 Mark code in `configuring-astro.md`
  src/pages/en/guides/configuring-astro.md
Labels: 🦛 stampede

#1176 Mark code in `styling.md`
  src/pages/en/guides/styling.md
Labels: 🦛 stampede

#1102 i18n(es): add api reference
  src/i18n/es/nav.ts
  src/i18n/es/ui.ts
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/reference/api-reference.md
Labels: i18n

#1159 Add fonts guide
  src/i18n/en/nav.ts
  src/pages/en/guides/fonts.md
Labels: add new content

#1165 New GitHub action workflow for pages
  src/pages/en/guides/deploy/github.md
Labels: improve documentation

#1119 Update Deno deployment guide
  src/pages/en/guides/deploy/deno.md
Labels: improve documentation

#1192 i18n(es): update astro-pages
  src/pages/es/core-concepts/astro-pages.md
Labels: i18n

#1110 docs(en): optional step for custom gh-pages domain
  src/pages/en/guides/deploy/github.md
Labels: add new content

#1150 i18n(ja): Add Japanese `why-astro.md`
  src/i18n/ja/nav.ts
  src/pages/ja/concepts/why-astro.md
Labels: i18n

#1162 [images guide] New page for docs
  src/i18n/en/nav.ts
  src/pages/en/guides/images.md
Labels: add new content

#1198 Add note about MDX configuration
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1206 Update SUPPORTSQUAD.md
  SUPPORTSQUAD.md
Labels: typo or grammar fix

#1117 i18n(es): add `reference/integrations-reference.md`
  src/i18n/es/nav.ts
  src/pages/es/reference/integrations-reference.md
Labels: i18n

#1214 i18n(es): `integrations-reference.md`
  src/i18n/es/nav.ts
  src/pages/es/reference/integrations-reference.md
Labels: i18n

#1204 [Markdown] New frontmatter injection feature!
  src/pages/en/guides/markdown-content.md
Labels: add new content

#1213 Added alt attribute to <img> tag and added note
  src/pages/en/guides/imports.md
Labels: improve documentation, a11y

#1217 [md/mdx] more explicit deprecation and headings reorg
  src/pages/en/core-concepts/layouts.md
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1203 Explain when you might want to use import.meta.glob
  src/pages/en/reference/api-reference.md
Labels: add new content

#1200 [add] Astro.props added to config
  src/pages/en/reference/api-reference.md
Labels: add new content

#1208 Example with default values for props
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#1225 Fix typo on `images.md`
  src/pages/en/guides/images.md
Labels: typo or grammar fix

#1209 [add] Headless CMS content on data fetching page
  src/pages/en/guides/data-fetching.md
Labels: add new content

#1223 Add note on dynamic HTML tags
  src/pages/en/core-concepts/astro-components.md
Labels: add new content

#1054 Translation of the deploy file to Spanish
  src/i18n/es/nav.ts
  src/i18n/es/ui.ts
  src/pages/es/guides/deploy.md
Labels: i18n

#1233 "Can I use Nano Stores in `.astro` files?"
  src/pages/en/core-concepts/sharing-state.md
Labels: improve documentation

#1156 i18n(ja): Add Japanese `mpa-vs-spa.md`
  src/pages/ja/concepts/mpa-vs-spa.md
Labels: i18n

#1127 Migrate to `v1.0-rc`
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/DeployGuidesNav.astro
  src/components/Header/Header.astro
  src/components/IntegrationsNav.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/CommunityMenu.astro
  src/components/RightSidebar/ContributeMenu.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/TableOfContents.tsx
  src/i18n/util.ts
  src/layouts/DeployGuideLayout.astro
  src/layouts/MainLayout.astro
Labels: site improvement

#1235 Add my `vim-astro` plugin
  src/pages/en/editor-setup.md
Labels: add new content

#1202 Add mention of new `env.d.ts` file to TypeScript page
  src/pages/en/guides/typescript.md
Labels: add new content

#1109 i18n(es): add configuration reference
  src/i18n/es/nav.ts
  src/pages/es/guides/markdown-content.md
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1128 i18n(ja): Update Japanese `astro-components.md`
  src/pages/ja/core-concepts/astro-components.md
Labels: i18n

#1243 Remove RC when talking about Astro v1
  src/pages/en/guides/markdown-content.md
  src/pages/en/migrate.md
  src/pages/es/guides/markdown-content.md
Labels: i18n

#1216 i18n(ja): Add Japanese `islands.md`
  src/i18n/ja/nav.ts
  src/pages/ja/concepts/islands.md
Labels: i18n

#1247 i18n(fr): Fix typo
  src/i18n/fr/README.md
Labels: typo or grammar fix

#1253 Fixed typo in differences between astro and jsx
  src/pages/en/core-concepts/astro-components.md
Labels: typo or grammar fix

#1244 Updated images.md Picture's formats prop
  src/pages/en/guides/images.md
Labels: improve documentation

#1197 i18n(es): update framework components
  src/pages/es/core-concepts/framework-components.md
Labels: i18n

#1219 i18n(pt-BR): Add `why-astro.md` translation
  src/i18n/pt-br/nav.ts
  src/i18n/pt-br/ui.ts
  src/pages/pt-br/concepts/why-astro.md
Labels: i18n

#1220 i18n(pt-BR): Add `mpa-vs-spa.md` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/concepts/mpa-vs-spa.md
Labels: i18n

#1248 i18n(ja): Update Japanese `astro-pages.md`
  src/pages/ja/core-concepts/astro-pages.md
Labels: i18n

#1251 Note baseUrl is required for aliases
  src/pages/en/guides/aliases.md
Labels: improve documentation

#1237 [WRITING] code authoring syntax
  WRITING.md
Labels: add new content, Doc'ing the Docs

#1272 [AlpineJS] Add comment and link to AlpineJS installation
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation

#1222 i18n(pt-BR): Add `islands.md` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/concepts/islands.md
Labels: i18n

#1224 i18n(pt-BR): Add `deploy.md` translation
  src/i18n/pt-br/nav.ts
  src/i18n/pt-br/ui.ts
  src/pages/pt-br/guides/deploy.md
Labels: i18n

#1236 i18n(pt-BR): Small updates to a bunch of pages
  src/pages/pt-br/guides/aliases.md
  src/pages/pt-br/guides/configuring-astro.md
  src/pages/pt-br/guides/environment-variables.md
  src/pages/pt-br/guides/rss.md
  src/pages/pt-br/guides/server-side-rendering.md
  src/pages/pt-br/install/auto.md
  src/pages/pt-br/install/manual.md
  src/pages/pt-br/integrations/integrations.md
  src/pages/pt-br/reference/integrations-reference.md
Labels: i18n

#1227 i18n(pt-BR): Update `getting-started.md` translation
  src/pages/pt-br/getting-started.md
Labels: i18n

#1226 i18n(pt-BR): Add `images.md` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/images.md
Labels: i18n

#1232 Markdown `content` prop -> `frontmatter` prop
  src/pages/en/core-concepts/layouts.md
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1282 i18n(es): translate images guide
  src/i18n/es/nav.ts
  src/pages/es/guides/images.md
Labels: i18n

#1291 i18n(es): update framework components
  src/pages/es/core-concepts/framework-components.md
Labels: i18n

#1292 i18n(es): update layouts
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#1289 i18n(es): update astro-components
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#1293 i18n(es): update routing
  src/pages/es/core-concepts/routing.md
Labels: i18n

#1263 i18n(ja): Update Japanese `getting-started.md`
  src/pages/ja/getting-started.md
Labels: i18n

#1295 i18n(zh-CN): Misalignment caused by grammatical errors for `editor-setup.md`
  src/pages/zh-cn/editor-setup.md
Labels: i18n

#1297 i18n(es): update editor-setup
  src/pages/es/editor-setup.md
Labels: i18n

#1278 Note explaining why MPAs are more accessible
  src/pages/en/concepts/mpa-vs-spa.md
Labels: improve documentation, a11y

#1210 [RTL Styling] fix arrows
  public/index.css
  src/i18n/ar/ui.ts
Labels: site improvement

#1309 i18n(zh-cn): fix ghost word
  src/pages/zh-cn/core-concepts/framework-components.md
Labels: i18n

#1312 i18n(zh-cn): reverse the unnecessary translation
  src/pages/zh-cn/guides/markdown-content.md
Labels: i18n

#1228 [md/mdx] More MDX to Markdown page
  src/i18n/en/nav.ts
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1304 Create /de/intergrations/integrations.md
  src/pages/de/integrations/integrations.md
Labels: i18n

#1303 Add retry logic to fetch
  package.json
  pnpm-lock.yaml
  scripts/lib/github-get.mjs
Labels: ci

#1316 i18n(de-DE): Translate `concepts/islands.md`
  src/i18n/de/nav.ts
  src/pages/de/concepts/islands.md
Labels: i18n

#1212 new arabic /getting-started.md
  src/pages/ar/getting-started.md
Labels: i18n

#1271 Create editor-setup.md
  src/i18n/ar/nav.ts
  src/pages/ar/editor-setup.md
Labels: i18n

#1329 i18n(de): Update `core-concepts/layouts.md`
  src/pages/de/core-concepts/layouts.md
Labels: i18n

#1331 i18n(de): Update `core-concepts/astro-pages.md`
  src/pages/de/core-concepts/astro-pages.md
Labels: i18n

#1310 i18n(es): update configuring-astro
  src/pages/es/guides/configuring-astro.md
Labels: i18n

#1308 i18n(es): update aliases
  src/pages/es/guides/aliases.md
Labels: i18n

#1307 i18n(es): update getting started
  src/pages/es/getting-started.md
Labels: i18n

#1311 i18n(es): update data fetching
  src/i18n/es/nav.ts
  src/pages/es/guides/data-fetching.md
Labels: i18n

#1327 i18n(es): add vercel deployment guide
  src/pages/es/guides/deploy/vercel.md
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1333 i18n(de): Update guides/configuring-astro.md
  src/pages/de/guides/configuring-astro.md
  src/pages/de/reference/configuration-reference.md
Labels: i18n

#1330 i18n(de): Update `core-concepts/routing.md`
  src/pages/de/core-concepts/routing.md
Labels: i18n

#1339 i18n(de): Add translation for data-fetching.md
  src/pages/de/guides/data-fetching.md
Labels: i18n

#1338 i18n(de): add GitHub pages deploy guide
  src/pages/de/guides/deploy/github.md
  src/pages/en/guides/deploy/github.md
Labels: i18n

#1337 i18n(de): adding deploy overview page
  src/pages/de/guides/deploy.md
Labels: i18n

#1285 i18n(zh-cn): page guide images
  src/pages/zh-cn/guides/images.md
Labels: i18n

#1313 i18n(es): create concepts directory with why-astro, mpa-vs-spa, islands
  src/pages/es/concepts/islands.md
  src/pages/es/concepts/mpa-vs-spa.md
  src/pages/es/concepts/why-astro.md
Labels: i18n

#1341 i18n(es): add github pages
  src/pages/es/guides/deploy/github.md
Labels: i18n

#1340 i18n(de): Add guides/rss translation
  src/pages/de/guides/rss.md
Labels: i18n

#1350 i18n(de) Translate de/guides/deploy/gitlab.md
  src/pages/de/guides/deploy/gitlab.md
Labels: i18n

#1354 i18n(de): Add translation for guides/server-side-rendering
  src/pages/de/guides/deploy.md
  src/pages/de/guides/rss.md
  src/pages/de/guides/server-side-rendering.md
Labels: i18n

#1343 i18n(es): add surge
  src/pages/es/guides/deploy/surge.md
Labels: i18n

#1344 i18n(es): update env vars
  src/pages/es/guides/environment-variables.md
Labels: i18n

#1345 i18n(es): add buddy deploy
  src/pages/es/guides/deploy/buddy.md
Labels: i18n

#1353 Improve support for RTL languages
  public/index.css
  scripts/add-language.mjs
  src/components/Button.astro
  src/components/DeployGuidesNav.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/components/LeftSidebar/Sponsors.astro
  src/components/PageContent/ArticleNavigationButton.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/CommunityMenu.astro
  src/components/RightSidebar/TableOfContents.css
  src/i18n/languages.ts
  src/layouts/MainLayout.astro
  src/pages/ar/editor-setup.md
  src/pages/ar/getting-started.md
Labels: i18n

#1347 i18n(es): update framework-components
  src/pages/es/core-concepts/framework-components.md
Labels: i18n

#1317 i18n(ja): Add Japanese guides/fonts.md
  src/i18n/ja/nav.ts
  src/pages/ja/guides/fonts.md
Labels: i18n

#1346 i18n(es): add netlify deploy guide
  src/pages/es/guides/deploy/netlify.md
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1332 Add example of conditional JSX expressions
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#1361 i18n(de): Update `getting-started.md`
  src/pages/de/getting-started.md
Labels: i18n

#1357 i18n(de): Added german translation for concepts/why-astro
  src/i18n/de/nav.ts
  src/pages/de/concepts/why-astro.md
Labels: i18n

#1367 i18n(es): add layer0
  src/pages/es/guides/deploy/layer-zero.md
Labels: i18n

#1365 i18n(es): add microsoft azure
  src/pages/es/guides/deploy/microsoft-azure.md
Labels: i18n

#1371 Improve configuration reference warning and edit this page link
  scripts/docgen.mjs
  scripts/generate-integration-pages.ts
  src/components/DontEditWarning.astro
  src/layouts/MainLayout.astro
  src/pages/en/guides/integrations-guide/cloudflare.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/lit.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/partytown.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/prefetch.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/sitemap.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/tailwind.md
  src/pages/en/guides/integrations-guide/vercel.md
  src/pages/en/guides/integrations-guide/vue.md
  src/pages/en/reference/configuration-reference.md
Labels: site improvement

#1373 i18n(es): add render
  src/pages/es/guides/deploy/render.md
Labels: i18n

#1372 i18n(es): add flightcontrol
  src/pages/es/guides/deploy/flightcontrol.md
Labels: i18n

#1379 i18n(es): add heroku guide
  src/pages/es/guides/deploy/heroku.md
Labels: i18n

#1323 i18n(fr): Adding `Why Astro ?` translation
  src/i18n/fr/nav.ts
  src/pages/fr/concepts/why-astro.md
Labels: i18n

#1375 i18n(de): Translated concepts/mpa-vs-spa into german
  src/i18n/de/nav.ts
  src/pages/de/concepts/mpa-vs-spa.md
Labels: i18n

#1383 i18n(es): updating some guides
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/layouts.md
  src/pages/es/guides/images.md
  src/pages/es/guides/imports.md
  src/pages/es/guides/integrations-guide.md
  src/pages/es/guides/markdown-content.md
  src/pages/es/guides/publish-to-npm.md
  src/pages/es/guides/rss.md
  src/pages/es/guides/server-side-rendering.md
  src/pages/es/guides/styling.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/reference/directives-reference.md
Labels: i18n

#1381 i18n(es): add google firebase guide
  src/pages/es/guides/deploy/google-firebase.md
Labels: i18n

#1380 i18n(es): add google cloud guide
  src/pages/es/guides/deploy/google-cloud.md
Labels: i18n

#1249 Make the tabs fancy
  src/components/tabs/Tabs.module.css
  src/components/tabs/Tabs.tsx
Labels: site improvement

#1382 i18n(es): add gitlab guide
  src/pages/es/guides/deploy/gitlab.md
Labels: i18n

#1392 i18n(es): Update deploy.md
  src/pages/es/guides/deploy.md
Labels: i18n

#1395 i18n(es): add deno guide
  src/pages/es/guides/deploy/deno.md
Labels: i18n

#1387 i18n(es): Update remaining files
  src/pages/es/guides/deploy.md
  src/pages/es/guides/typescript.md
  src/pages/es/install/auto.md
  src/pages/es/install/manual.md
  src/pages/es/integrations/integrations.md
  src/pages/es/reference/api-reference.md
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1405 i18n(es): update content
  src/pages/es/concepts/mpa-vs-spa.md
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/layouts.md
  src/pages/es/guides/markdown-content.md
  src/pages/es/guides/typescript.md
Labels: i18n

#1389 How to create an index.html at root level via getStaticPaths()
  src/pages/en/core-concepts/routing.md
Labels: improve documentation

#1359 Add note re: dynamic vs reactive
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#1396 Mention that directives are supported in .mdx
  src/pages/en/reference/directives-reference.md
Labels: improve documentation

#1404 Add remark rehype options to markdown content docs
  src/pages/en/guides/markdown-content.md
Labels: add new content

#1409 New `remark` and `rehype` plugin explainer with `extends`
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#1325 Update configuring-astro.md
  src/pages/zh-cn/guides/configuring-astro.md
Labels: i18n

#1388 fix github pages deploy guide
  src/pages/en/guides/deploy/github.md
Labels: improve documentation

#1326 i18n(zh-cn): translation of sharing state
  src/i18n/zh-cn/nav.ts
  src/pages/zh-cn/core-concepts/sharing-state.md
Labels: i18n

#1406 i18n(es): add cloudflare guide
  src/pages/es/guides/deploy/cloudflare.md
Labels: i18n

#1301 i18n(ja): Update Japanese `framework-components.md`, `troubleshooting.md`
  src/pages/ja/core-concepts/framework-components.md
  src/pages/ja/guides/troubleshooting.md
Labels: i18n

#1386 Improve contrast on Docsearch dark mode for selected item
  public/theme.css
Labels: site improvement, a11y

#1429 i18n(es): astro-components update
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#1421 docs(image): add note about error if alt is missing
  src/pages/en/guides/images.md
Labels: add new content

#1360 Expand the Dynamic HTML section
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#1438 i18n(es): update image.md
  src/pages/es/guides/images.md
Labels: i18n

#1349 i18n(fr): Adding `Deploy your Astro Site to GitHub Pages` translation
  src/pages/fr/guides/deploy/github.md
Labels: i18n

#1432 Add warning about SSR features inside layouts
  src/pages/en/guides/server-side-rendering.md
Labels: add new content
