Repository withastro/docs, pull requests merged in 2022-12, with the labels that each got.

#2131 Review Storyblok page
  src/pages/en/guides/cms/storyblok.md
Labels: improve documentation

#2128 Add linter check that fails for nondescript link labels
  package.json
  pnpm-lock.yaml
  scripts/lib/linkcheck/checks/good-link-label.ts
  scripts/lint-linkcheck.ts
  src/pages/en/guides/deploy/buddy.md
Labels: ci

#2134 i18n(ja): Update environment-variables.md and part of configuring-astro.md
  src/pages/ja/guides/configuring-astro.md
  src/pages/ja/guides/environment-variables.md
Labels: i18n

#2122 Add vitest unit tests
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/util/generateToc.test.ts
  src/util/generateToc.ts
Labels: 🚨 action

#2136 i18n(ja): Update aliases.md
  src/pages/ja/guides/aliases.md
Labels: i18n

#2137 i18n(ja): Update configuring-astro.md
  src/pages/ja/guides/configuring-astro.md
Labels: i18n

#2130 Separate error reference in multiple pages
  scripts/error-docgen.mjs
  src/components/LeftSidebar/LeftSidebar.astro
  src/pages/en/reference/error-reference.md
  src/pages/en/reference/errors/client-address-not-available.md
  src/pages/en/reference/errors/config-legacy-key.md
  src/pages/en/reference/errors/config-not-found.md
  src/pages/en/reference/errors/csssyntax-error.md
  src/pages/en/reference/errors/failed-to-load-module-ssr.md
  src/pages/en/reference/errors/get-static-paths-expected-params.md
  src/pages/en/reference/errors/get-static-paths-invalid-route-param.md
  src/pages/en/reference/errors/get-static-paths-removed-rsshelper.md
  src/pages/en/reference/errors/get-static-paths-required.md
  src/pages/en/reference/errors/invalid-get-static-path-param.md
  src/pages/en/reference/errors/invalid-get-static-paths-return.md
  src/pages/en/reference/errors/invalid-glob.md
  src/pages/en/reference/errors/markdown-frontmatter-parse-error.md
  src/pages/en/reference/errors/missing-media-query-directive.md
  src/pages/en/reference/errors/no-adapter-installed.md
  src/pages/en/reference/errors/no-client-entrypoint.md
  src/pages/en/reference/errors/no-client-only-hint.md
  src/pages/en/reference/errors/no-matching-import.md
  src/pages/en/reference/errors/no-matching-renderer.md
  src/pages/en/reference/errors/no-matching-static-path-found.md
  src/pages/en/reference/errors/only-response-can-be-returned.md
  src/pages/en/reference/errors/reserved-slot-name.md
  src/pages/en/reference/errors/static-client-address-not-available.md
  src/pages/en/reference/errors/static-redirect-not-available.md
  src/util/getPageCategory.ts
Labels: add new content

#2139 i18n(ja): Update nav.ts
  src/i18n/ja/nav.ts
Labels: i18n

#2144 Document disabling telemetry with an environment variable
  src/pages/en/reference/cli-reference.md
Labels: improve documentation

#2148 docs(i18n/zh-cn): Italic use asterisk in zh-cn
  src/pages/zh-cn/core-concepts/sharing-state.md
Labels: i18n

#2129 docs(en): add docs for including RSS post content
  src/pages/en/guides/rss.md
Labels: merge-on-release

#2138 Specifically use @astrojs/node when deploying with Edgio
  src/pages/en/guides/deploy/edgio.md
Labels: improve documentation

#2132 Added a comprehensive guide on setting up WordPress with Astro
  src/pages/en/guides/cms/wordpress.md
Labels: add new content

#2121 Remove outdated Vercel 404 workaround
  src/pages/en/guides/deploy/vercel.md
Labels: improve documentation, merge-on-release

#2157 reformat backtick
  src/pages/en/guides/cms/wordpress.md
Labels: typo or grammar fix

#2166 docs: fix typo in zh-cn
  src/pages/zh-cn/reference/directives-reference.md
Labels: i18n

#2161 i18n Status Issue design refresh
  scripts/github-translation-status.mjs
Labels: ci

#2169 i18n(ja): Update ui.ts
  src/i18n/ja/ui.ts
Labels: i18n

#2176 i18n(fr): Fix typo and directory tree in install/manual.md
  src/pages/fr/install/manual.md
Labels: i18n

#2175 Use type import in “Built-in HTML attributes” example
  src/pages/en/guides/typescript.md
Labels: improve documentation

#2184 i18n(zh): Typo fix in mpa-vs-spa.md
  src/pages/zh-cn/concepts/mpa-vs-spa.md
Labels: i18n

#2186 Fix import route in the WordPress connection guide
  src/pages/en/guides/cms/wordpress.md
Labels: typo or grammar fix

#2182 Set up landing page & navigation infra for migration guides
  public/logos/gatsby.svg
  public/logos/nextjs.svg
  src/components/BrandLogo.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/MigrationGuidesNav.astro
  src/i18n/en/nav.ts
  src/i18n/en/ui.ts
  src/layouts/MigrationLayout.astro
  src/pages/en/guides/migrate-to-astro.md
  src/pages/en/guides/migrate-to-astro/from-gatsby.md
  src/pages/en/guides/migrate-to-astro/from-nextjs.md
Labels: add new content

#2178 Add accessible `<FileTree>` component to replace ASCII art
  package.json
  pnpm-lock.yaml
  src/components/FileTree.astro
  src/components/internal/file-tree-icons.ts
  src/components/internal/rehype-file-tree.ts
  src/i18n/en/ui.ts
  src/pages/en/core-concepts/project-structure.md
  src/pages/en/core-concepts/routing.md
  src/pages/en/guides/cms/contentful.md
  src/pages/en/guides/cms/storyblok.md
  src/pages/en/guides/cms/wordpress.md
  src/pages/en/install/manual.md
  src/pages/en/reference/publish-to-npm.md
Labels: site improvement

#2096 i18n(ja): Translate CMS guides
  src/pages/ja/guides/cms/buttercms.md
  src/pages/ja/guides/cms/contentful.md
  src/pages/ja/guides/cms/storyblok.md
Labels: i18n

#2151 Add cookies.delete options description
  src/pages/en/reference/api-reference.md
Labels: add new content, merge-on-release

#2141 Content Collections guide
  src/i18n/en/nav.ts
  src/pages/en/guides/content-collections.md
Labels: add new content, merge-on-release

#2187 Fix `<FileTree>` overflow bug in Safari/iOS
  src/components/FileTree.astro
Labels: bug

#2190 Fix typos in content-collections.md
  src/pages/en/guides/content-collections.md
Labels: typo or grammar fix

#2173 i18n(es): Update of `why-astro.md`, `astro-components.md` and `astro-pages.md`
  src/pages/es/concepts/why-astro.md
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/astro-pages.md
Labels: i18n

#2177 i18n(es): Update of `layouts.md`
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#2194 i18n(es): translate url and remove duplicate code title
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#2162 i18n(es): Update markdown-content.md
  src/pages/es/guides/markdown-content.md
  src/pages/es/reference/cli-reference.md
Labels: i18n

#2195 i18n(es): Update of `project-structure.md`, `routing.md`, `sharing-state.md`, `buddy.md`, `edgio.md` & `vercel.md`
  src/pages/es/core-concepts/project-structure.md
  src/pages/es/core-concepts/routing.md
  src/pages/es/core-concepts/sharing-state.md
  src/pages/es/guides/deploy/buddy.md
  src/pages/es/guides/deploy/edgio.md
  src/pages/es/guides/deploy/vercel.md
Labels: i18n

#2196 i18nReady: Temporary fix to unblock integrations CI link errors
  src/pages/pt-br/guides/markdown-content.md
  src/pages/ru/guides/markdown-content.md
Labels: i18n

#2199 i18n(es): Update of `api-reference.md`, `configuration-reference.md`, `directives-reference.md` & `publish-to-npm.md`
  src/pages/es/reference/api-reference.md
  src/pages/es/reference/configuration-reference.md
  src/pages/es/reference/directives-reference.md
  src/pages/es/reference/publish-to-npm.md
Labels: i18n

#2197 i18n(es): Update of `rss.md`, `styling.md`, `typescript.md` & `manual.md`
  src/pages/es/guides/rss.md
  src/pages/es/guides/styling.md
  src/pages/es/guides/typescript.md
  src/pages/es/install/manual.md
Labels: i18n

#2185 Add font guide for Tailwind CSS
  src/pages/en/guides/fonts.md
Labels: add new content

#2203 chore: bump `actions/checkout` in deno deploy guide
  src/pages/en/guides/deploy/deno.md
  src/pages/es/guides/deploy/deno.md
Labels: i18n

#2204 chore: bump actions/checkout in GitHub deploy guide
  src/pages/en/guides/deploy/github.md
  src/pages/es/guides/deploy/github.md
  src/pages/pt-br/guides/deploy/github.md
  src/pages/zh-cn/guides/deploy/github.md
Labels: i18n

#2200 i18n(es): add `kinsta.md`
  src/pages/es/guides/deploy/kinsta.md
Labels: i18n

#2209 [content collections] added typescript settings guidance via tabs
  src/components/tabs/TypeScriptSettingTabs.astro
  src/pages/en/guides/content-collections.md
Labels: improve documentation

#2201 i18n(es): Added page `client-side-scripts.md`
  src/pages/es/guides/client-side-scripts.md
  src/pages/es/reference/directives-reference.md
Labels: i18n

#2214 Document custom slugs for content collection entries
  src/pages/en/guides/content-collections.md
Labels: improve documentation

#2218 i18n(es): Update translation fonts.md
  src/pages/es/guides/fonts.md
Labels: i18n

#2220 fix: misaligned code block diff markings in the tutorial
  src/pages/en/tutorial/5-astro-api/3.md
Labels: typo or grammar fix, tutorial

#2226 i18n(es): Update configuration-reference.md
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#2225 i18n(es): Update translation editor-setup.md
  src/pages/es/editor-setup.md
Labels: i18n

#2223 fix typo in `BlogPost` interface code example
  src/pages/en/guides/cms/contentful.md
Labels: typo or grammar fix

#2221 i18n(ja): Update editor-setup.md
  src/pages/ja/editor-setup.md
Labels: i18n

#2229 docs: update en astro-components about code comments
  src/pages/en/core-concepts/astro-components.md
Labels: add new content

#2231 i18n(es): Update astro-components.md
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#2233 Fix typos in markdown-content.md
  src/pages/en/guides/markdown-content.md
Labels: typo or grammar fix

#2230 i18n(ja): Update Japanese `markdown-content.md`
  src/pages/ja/core-concepts/layouts.md
  src/pages/ja/guides/markdown-content.md
  src/pages/ja/guides/troubleshooting.md
  src/pages/ja/reference/cli-reference.md
Labels: i18n

#2224 i18n(ja): Update why-astro.md
  src/pages/ja/concepts/why-astro.md
Labels: i18n

#2228 Edit/storyblok guide error fixes
  src/pages/en/guides/cms/storyblok.md
Labels: improve documentation

#2237 i18n(es): update netlify.md
  src/pages/es/guides/deploy/netlify.md
Labels: i18n

#2240 Fix typo in wordpress.md
  src/pages/en/guides/cms/wordpress.md
Labels: typo or grammar fix

#2239 i18n(es): add `errors/client-address-not-available`
  src/pages/es/reference/errors/client-address-not-available.md
Labels: i18n

#2238 i18n(es): add error-reference
  src/pages/es/reference/error-reference.md
Labels: i18n

#2241 i18n(es): add multiple error pages
  src/pages/es/reference/errors/config-legacy-key.md
  src/pages/es/reference/errors/config-not-found.md
  src/pages/es/reference/errors/csssyntax-error.md
Labels: i18n

#2243 fix: capitalize the P in WordPress
  src/pages/en/guides/cms/wordpress.md
  src/pages/es/concepts/mpa-vs-spa.md
  src/pages/fr/concepts/mpa-vs-spa.md
  src/pages/pt-br/integrations/integrations.md
Labels: i18n

#2217 Content collections api reference
  src/pages/en/reference/api-reference.md
Labels: add new content

#2216 Document rehype heading IDs plugin
  src/pages/en/guides/markdown-content.md
Labels: add new content

#2249 Add i18n for screen reader section labels
  astro.config.ts
  plugins/rehype-i18n-autolink-headings.ts
  plugins/remark-fallback-lang.ts
  src/i18n/en/ui.ts
  src/i18n/pt-br/ui.ts
  src/i18n/translation-checkers.ts
  src/i18n/util.ts
Labels: a11y

#2252 Fix out-of-memory Netlify deploys for external contributors
  netlify.toml
Labels: bug

#2251 i18n(ja): Update islands.mdx
  src/pages/ja/concepts/islands.mdx
Labels: i18n

#2232 Migrate to Astro - Guide Stubs
  public/logos/docusaurus.svg
  public/logos/eleventy.svg
  public/logos/gatsby.svg
  public/logos/gridsome.svg
  public/logos/hugo.svg
  public/logos/jekyll.png
  public/logos/nextjs.svg
  public/logos/nuxtjs.svg
  public/logos/pelican.svg
  public/logos/sveltekit.svg
  public/logos/vuepress.png
  src/components/BrandLogo.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/MigrationGuidesNav.astro
  src/components/tabs/AstroJSXTabs.astro
  src/i18n/en/nav.ts
  src/i18n/en/ui.ts
  src/layouts/MigrationLayout.astro
  src/pages/en/guides/migrate-to-astro.mdx
  src/pages/en/guides/migrate-to-astro/from-docusaurus.mdx
  src/pages/en/guides/migrate-to-astro/from-eleventy.mdx
  src/pages/en/guides/migrate-to-astro/from-gatsby.mdx
  src/pages/en/guides/migrate-to-astro/from-gridsome.mdx
  src/pages/en/guides/migrate-to-astro/from-hugo.mdx
  src/pages/en/guides/migrate-to-astro/from-jekyll.mdx
  src/pages/en/guides/migrate-to-astro/from-nextjs.mdx
  src/pages/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/pages/en/guides/migrate-to-astro/from-pelican.mdx
  src/pages/en/guides/migrate-to-astro/from-sveltekit.mdx
  src/pages/en/guides/migrate-to-astro/from-vuepress.mdx
  src/pages/en/guides/migrate-to-astro/from-wordpress.mdx
Labels: add new content

#2258 i18n(ja): Update project-structure.mdx
  src/pages/ja/core-concepts/project-structure.mdx
Labels: i18n
