Repository withastro/docs, pull requests merged in 2022-05, with the labels that each got.

#411 Update Markdown component guidance
  src/pages/en/guides/markdown-content.md
Labels: improve documentation

#419 Add visual indicator to the table of contents
  public/index.css
  src/components/RightSidebar/TableOfContents.tsx
Labels: site improvement

#397 Polished component and especially slot content
  reference/api-reference.md
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#442 Update supported languages
  scripts/github-translation-status.mjs
  src/i18n/README.md
Labels: i18n

#426 Improve "On this page" scrollbar
  public/index.css
  src/components/LeftSidebar/LeftSidebar.astro
Labels: site improvement

#506 Feat: Add links to translated pages in status table
  scripts/github-translation-status.mjs
Labels: site improvement

#498 Use a more targeted npm link for integrations
  src/pages/en/guides/integrations-guide.md
Labels: improve documentation

#437 Add API reference docs for Astro.response
  src/pages/en/reference/api-reference.md
Labels: add new content

#495 Don’t italicise keywords in syntax highlighter
  syntax-highlighting-theme.ts
Labels: site improvement

#406 fix(a11y): Purple links in light mode for accessible contrast
  public/index.css
  public/theme.css
Labels: site improvement

#512 i18n(pt-BR): Add `astro-components.md` & `astro-pages.md` translations
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/core-concepts/astro-pages.md
Labels: i18n

#522 Adding more accurate information about client side scripts
  src/pages/en/core-concepts/astro-components.md
Labels: add new content

#524 i18n(pt-BR): Add `layouts.md` and `framework.components.md` translations
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/framework-components.md
  src/pages/pt-BR/core-concepts/layouts.md
Labels: i18n

#530 Use language-specific link from docs logo
  src/components/Header/Header.astro
Labels: site improvement

#510 Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Doc'ing the Docs

#471 i18n(ja): Update `getting-started.md`
  src/pages/ja/getting-started.md
Labels: i18n

#488 i18n(ja): Translate `nav.ts`
  src/i18n/ja/nav.ts
Labels: i18n

#465 Astro vs X - Remix
  src/pages/en/comparing-astro-vs-other-tools.md
  src/pages/lighthouse/remix.astro
Labels: add new content

#532 i18n(pt-BR): Adding `imports.md` and updating `astro-components.md`
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/guides/imports.md
Labels: i18n

#545 Code as headings
  public/index.css
  src/pages/en/reference/adapter-reference.md
  src/pages/en/reference/cli-reference.md
  src/pages/en/reference/directives-reference.md
  src/pages/en/reference/integrations-reference.md
Labels: site improvement

#539 perf(a11y): add searchbox role
  src/components/Header/Search.tsx
Labels: site improvement

#538 docs(zh-CN): translate editor setup and migrate
  src/pages/zh-CN/editor-setup.md
  src/pages/zh-CN/migrate.md
Labels: i18n

#490 Add simplified-chinese-language about nav,ui,install/auto page and install/manual page
  src/i18n/zh-CN/nav.ts
  src/i18n/zh-CN/ui.ts
  src/pages/zh-CN/install/auto.md
  src/pages/zh-CN/install/manual.md
Labels: i18n

#504 i18n(fr): Adding `markdown-content.md` translations
  src/pages/fr/guides/markdown-content.md
Labels: i18n

#505 i18n(fr): Adding `server-side-rendering.md` translations
  src/pages/fr/guides/server-side-rendering.md
Labels: i18n

#502 i18n(fr): Adding `imports.md` translations
  src/pages/fr/guides/imports.md
Labels: i18n

#551 feat(i18n): pages/markdown-content to pt-br
  src/pages/pt-BR/core-concepts/layouts.md
  src/pages/pt-BR/guides/markdown-content.md
Labels: i18n

#480 Clarify render props limitation
  src/pages/en/core-concepts/framework-components.md
Labels: improve documentation

#574 removing all references to the Turbolinks integration
  src/pages/de/install/auto.md
  src/pages/en/guides/integrations-guide.md
  src/pages/en/install/auto.md
  src/pages/en/reference/configuration-reference.md
  src/pages/en/reference/integrations-reference.md
  src/pages/es/install/auto.md
  src/pages/pt-BR/guides/integrations-guide.md
  src/pages/pt-BR/install/auto.md
  src/pages/zh-CN/install/auto.md
Labels: improve documentation

#556 i18n(de): Add `core-concepts/project-structure.md`
  src/pages/de/core-concepts/project-structure.md
Labels: i18n

#418 Translate ThemeToggle labels and add system theme sync
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/ThemeToggleButton.tsx
  src/i18n/en/ui.ts
  src/i18n/pt-BR/ui.ts
Labels: site improvement

#580 Prev/next nav: Add trailing slash, use `rel` prop
  src/components/PageContent/ArticleNavigationButton.astro
  src/components/PageContent/PageContent.astro
Labels: site improvement

#571 i18n(de): Add `core-concepts/partial-hydration.md`
  src/components/IslandsDiagram.astro
  src/i18n/de/nav.ts
  src/pages/de/core-concepts/partial-hydration.md
Labels: i18n

#593 i18n(fr): Adding `themeToggle` translation to `ui.ts`
  src/i18n/fr/ui.ts
Labels: i18n

#561 i18n(es): add `core-concepts/project-structure.md`
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/project-structure.md
Labels: i18n

#541 i18n(ja): Add `install/auto.md`
  src/pages/ja/install/auto.md
Labels: i18n

#596 i18n(pt-BR): Update `framework-components.md` and `partial-hydration.md` pages
  src/pages/pt-BR/core-concepts/framework-components.md
  src/pages/pt-BR/core-concepts/partial-hydration.md
Labels: i18n

#569 i18n(pt-BR): Add `typescript.md` and `adapter-reference.md` translations
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/typescript.md
  src/pages/pt-BR/reference/adapter-reference.md
Labels: i18n

#557 Update GitHub Pages deploy guide
  src/pages/en/guides/deploy.md
Labels: improve documentation, core

#549 docs(zh): translate intergration and vs
  src/pages/zh-CN/comparing-astro-vs-other-tools.md
  src/pages/zh-CN/integrations/integrations.md
Labels: i18n

#598 Clarify `astro check` re: type checking
  src/pages/en/reference/cli-reference.md
Labels: improve documentation

#607 Feat: Linkcheck v2 (5 new checks, autofix support)
  scripts/lib/filter-warnings.cjs
  scripts/lib/linkcheck/base/base.ts
  scripts/lib/linkcheck/base/check.ts
  scripts/lib/linkcheck/base/issue.ts
  scripts/lib/linkcheck/base/page.ts
  scripts/lib/linkcheck/checks/canonical-url.ts
  scripts/lib/linkcheck/checks/relative-url.ts
  scripts/lib/linkcheck/checks/same-language.ts
  scripts/lib/linkcheck/checks/target-exists.ts
  scripts/lib/linkcheck/steps/build-index.ts
  scripts/lib/linkcheck/steps/find-issues.ts
  scripts/lib/linkcheck/steps/optional-autofix.ts
  scripts/lib/linkcheck/steps/output-issues.ts
  scripts/lib/output.mjs
  scripts/lint-linkcheck.ts
Labels: site improvement

#578 i18n(ja): Add Japanese `core-concepts/project-structure.md`
  old-translations/ja/core-concepts/project-structure.md
  src/i18n/ja/nav.ts
  src/pages/ja/core-concepts/project-structure.md
  src/pages/ja/getting-started.md
Labels: i18n

#606 docs(zh): sync getting starterd with en
  src/pages/zh-CN/getting-started.md
Labels: i18n

#621 i18n(ja): Add Japanese `install/manual.md`
  src/pages/ja/install/manual.md
Labels: i18n

#622 i18n(ja): Add Japanese translation to `ui.ts`
  src/i18n/ja/ui.ts
Labels: i18n

#626 ♻️ update instructions for grabbing the pathname
  src/pages/en/reference/api-reference.md
Labels: improve documentation

#625 i18n(es): add `core-concepts/partial-hydration`
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/partial-hydration.md
Labels: i18n

#613 i18n(pt-BR): Add `integrations-reference.md` PT-BR translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/reference/integrations-reference.md
Labels: i18n

#624 i18n(ja): Add Japanese editor-setup.md
  src/pages/ja/editor-setup.md
Labels: i18n

#554 Add details about custom 404
  src/pages/en/core-concepts/astro-pages.md
Labels: should this be documented?, confirm behaviour, core

#627 i18n(ja): Add Japanese `core-concepts/partial-hydration.md`
  src/pages/ja/core-concepts/partial-hydration.md
Labels: i18n

#463 i18n(fr): Adding `framework-components.md` & `layouts.md` translations
  src/pages/fr/core-concepts/framework-components.md
  src/pages/fr/core-concepts/layouts.md
Labels: i18n

#636 i18n(pt-BR): Update `astro-pages.md`
  src/pages/pt-BR/core-concepts/astro-pages.md
Labels: i18n

#611 Reworking the Routing Rules - Caveats section
  src/pages/en/core-concepts/routing.md
Labels: improve documentation

#641 i18n(pt-BR): add `aliases.md`
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/aliases.md
Labels: i18n

#633 New: add CSS-via-npm-packages guide
  src/pages/en/guides/styling.md
Labels: add new content

#643 i18n(fr): Updating `astro-pages.md` to reflect latest changes
  src/pages/fr/core-concepts/astro-pages.md
Labels: i18n

#637 i18n(pt-BR): add `styling.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/styling.md
Labels: i18n

#650 Moves the Routing page's sidebar entry into Learn > Basics
  src/i18n/en/nav.ts
Labels: improve documentation, site improvement, Doc'ing the Docs

#651 minor: Change the syntax for some `project-structure.md` sentences to be more accurate
  src/pages/en/core-concepts/project-structure.md
Labels: improve documentation

#503 i18n(fr): Adding `integrations-guide.md` translations
  src/pages/fr/guides/integrations-guide.md
Labels: i18n

#642 i18n(fr): Update `astro-components.md` to follow changes from #522
  src/pages/fr/core-concepts/astro-components.md
Labels: i18n

#670 i18n(pt-BR): Update `integrations-reference.md`
  src/pages/pt-BR/reference/integrations-reference.md
Labels: i18n

#665 i18n(fr): Adding `typescript.md` translation
  src/pages/fr/guides/typescript.md
Labels: i18n

#663 i18n(fr): Adding `rss.md` translation
  src/pages/fr/guides/rss.md
Labels: i18n

#657 i18n(fr): Adding `routing.md` translation
  src/pages/fr/core-concepts/routing.md
Labels: i18n

#565 docs(zh): translate partial hydration and structure
  src/pages/zh-CN/core-concepts/partial-hydration.md
  src/pages/zh-CN/core-concepts/project-structure.md
Labels: i18n

#567 docs(zh): translate page and conponent
  src/pages/zh-CN/core-concepts/astro-components.md
  src/pages/zh-CN/core-concepts/astro-pages.md
Labels: i18n

#623 docs(zh): translate typescript
  src/pages/zh-CN/guides/typescript.md
Labels: i18n

#619 docs(zh): translate debugging
  src/pages/zh-CN/guides/debugging.md
Labels: i18n

#591 docs(zh-CN): translate import and config
  src/pages/zh-CN/guides/configuring-astro.md
  src/pages/zh-CN/guides/imports.md
  src/pages/zh-CN/guides/typescript.md
Labels: i18n

#573 docs(zh): translate markdown and layout
  src/pages/zh-CN/core-concepts/layouts.md
  src/pages/zh-CN/guides/markdown-content.md
  src/pages/zh-CN/migrate.md
Labels: i18n

#528 i18n(es): Add `core-concepts/astro-components.md`
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#655 i18n(de): add `core-concepts/astro-components.md`
  src/pages/de/core-concepts/astro-components.md
Labels: i18n

#649 i18n(ja): Add Japanese `comparing-astro-vs-other-tools.md`
  src/pages/ja/comparing-astro-vs-other-tools.md
Labels: i18n

#662 i18n(fr): Adding `publish-to-npm.md` translation
  src/pages/fr/guides/publish-to-npm.md
Labels: i18n

#661 i18n(fr): Adding `environment-variables.md` translation
  src/pages/fr/guides/environment-variables.md
  src/pages/fr/guides/rss.md
Labels: i18n

#648 migration guide improvement re: `<script type="module">`
  src/pages/en/migrate.md
Labels: improve documentation

#672 i18n(fr): Fixing small issues on `configuring-astro.md`
  src/pages/fr/guides/configuring-astro.md
Labels: i18n

#653 i18n(de): Add `core-concepts/layouts.md`
  src/pages/de/core-concepts/layouts.md
Labels: i18n

#668 New: markdown `rawContent()` and `compiledContent()` helpers
  src/pages/en/guides/markdown-content.md
Labels: add new content

#671 i18n(de): add `core-concepts/astro-pages.md`
  src/pages/de/core-concepts/astro-pages.md
Labels: i18n

#605 i18n(pt-BR): Add `directives-reference.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/core-concepts/framework-components.md
  src/pages/pt-BR/reference/directives-reference.md
Labels: i18n

#675 i18n(fr): Adding `install/auto.md` translation
  src/pages/fr/install/auto.md
Labels: i18n

#676 i18n(fr): Adding `install/manual.md` translation
  src/pages/fr/install/manual.md
Labels: i18n

#677 i18n(fr): Adding `integrations.md` translation
  src/pages/fr/integrations/integrations.md
Labels: i18n

#658 i18n(fr): Adding `editor-setup.md` translation
  src/pages/fr/editor-setup.md
Labels: i18n

#464 i18n(fr): Adding `partial-hydration.md` & `project-structure.md` translations
  src/pages/fr/core-concepts/partial-hydration.md
  src/pages/fr/core-concepts/project-structure.md
Labels: i18n

#562 i18n(pt-BR): Add `rss.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/rss.md
Labels: i18n

#566 i18n(pt-BR): Add `publish-to-npm.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/guides/publish-to-npm.md
  src/pages/pt-BR/integrations/integrations.md
Labels: i18n

#682 i18n(fr): Update `markdown-content.md` to latest changes
  src/pages/fr/guides/markdown-content.md
Labels: i18n

#552 i18n(pt-BR): Add `data-fetching.md` and `enviroment-variables.md` translations + fix on `astro-components.md`
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/guides/data-fetching.md
  src/pages/pt-BR/guides/environment-variables.md
  src/pages/pt-BR/guides/imports.md
  src/pages/pt-BR/guides/rss.md
  src/pages/pt-BR/guides/styling.md
  src/pages/pt-BR/guides/typescript.md
Labels: i18n

#683 i18n(fr): Normalize `getting-started.md` with newer pages
  src/pages/fr/getting-started.md
Labels: i18n

#678 i18n(es): translate markdown-content
  src/i18n/es/nav.ts
  src/pages/es/guides/markdown-content.md
Labels: i18n

#555 i18n(pt-BR): Add `routing.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/routing.md
Labels: i18n

#684 i18n(pt-BR): Add `api-reference.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/core-concepts/astro-components.md
  src/pages/pt-BR/reference/api-reference.md
Labels: i18n

#681 i18n(pt-BR): Add `cli-reference.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/reference/cli-reference.md
Labels: i18n

#687 update the config-reference generated header for i18n
  scripts/docgen.mjs
Labels: i18n, site improvement

#688 i18n(pt-BR) Add `migrate.md` translation
  src/i18n/pt-BR/nav.ts
  src/pages/pt-BR/migrate.md
Labels: i18n
