Repository withastro/docs, pull requests merged in 2022-09, with the labels that each got.

#1420 i18n(fr) : `MPA vs. SPA`
  src/i18n/fr/nav.ts
  src/pages/fr/concepts/mpa-vs-spa.md
Labels: i18n

#1449 Add frontmatter props and generated pages guidance on `TRANSLATING.md`
  TRANSLATING.md
Labels: improve documentation

#1447 minor: Add dev-only warning to integrations pages
  scripts/docgen.mjs
  scripts/generate-integration-pages.ts
  src/components/DontEditWarning.astro
  src/pages/en/guides/integrations-guide/alpinejs.md
  src/pages/en/guides/integrations-guide/cloudflare.md
  src/pages/en/guides/integrations-guide/deno.md
  src/pages/en/guides/integrations-guide/image.md
  src/pages/en/guides/integrations-guide/lit.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/integrations-guide/netlify.md
  src/pages/en/guides/integrations-guide/node.md
  src/pages/en/guides/integrations-guide/partytown.md
  src/pages/en/guides/integrations-guide/preact.md
  src/pages/en/guides/integrations-guide/prefetch.md
  src/pages/en/guides/integrations-guide/react.md
  src/pages/en/guides/integrations-guide/sitemap.md
  src/pages/en/guides/integrations-guide/solid-js.md
  src/pages/en/guides/integrations-guide/svelte.md
  src/pages/en/guides/integrations-guide/tailwind.md
  src/pages/en/guides/integrations-guide/vercel.md
  src/pages/en/guides/integrations-guide/vue.md
  src/pages/en/reference/configuration-reference.md
Labels: site improvement

#1335 Mention Response.redirect
  src/pages/en/guides/server-side-rendering.md
Labels: add new content

#1431 i18n(pt-br): Create aws.md
  src/pages/pt-br/guides/deploy/aws.md
Labels: i18n

#1469 i18n(ja): Update Japanese `mpa-vs-spa.md`
  src/pages/ja/concepts/mpa-vs-spa.md
Labels: i18n

#1466 Add components and asides guidance to `TRANSLATING.md`
  TRANSLATING.md
Labels: add new content

#1459 Include upgrade commands on migrate page
  src/pages/en/migrate.md
Labels: add new content

#1446 Recommend using `dependencies` over `devDependencies` in package.json
  src/pages/en/core-concepts/project-structure.md
Labels: add new content

#1452 [update] ssr adapter astro add instructions
  src/pages/en/guides/deploy.md
  src/pages/en/guides/deploy/cloudflare.md
  src/pages/en/guides/deploy/deno.md
  src/pages/en/guides/deploy/flightcontrol.md
  src/pages/en/guides/deploy/netlify.md
  src/pages/en/guides/deploy/vercel.md
  src/pages/en/guides/server-side-rendering.md
Labels: improve documentation

#1472 i18n(es): Update astro components and astro pages
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/astro-pages.md
Labels: i18n

#1474 i18n(es): update api-reference.md
  src/pages/es/reference/api-reference.md
Labels: i18n

#1259 Crystallize example for the Data Fetching page
  src/pages/en/guides/data-fetching.md
Labels: add new content

#1475 i18n(pt-br): Create buddy.md
  src/pages/pt-br/guides/deploy/buddy.md
Labels: i18n

#1477 i18n(es): update framework components
  src/pages/es/core-concepts/framework-components.md
Labels: i18n

#1485 i18n(es): update framework-components title
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/guides/markdown-content.md
Labels: i18n

#1486 i18n(es): update project-structure
  src/pages/es/core-concepts/project-structure.md
Labels: i18n

#1488 i18n(es): update routing
  src/pages/es/core-concepts/routing.md
Labels: i18n

#1484 i18n(es): update mpa-vs-spa
  src/pages/es/concepts/mpa-vs-spa.md
Labels: i18n

#1489 i18n(es): update `data fetching` page
  src/pages/es/guides/data-fetching.md
Labels: i18n

#1493 i18n(es): update the images guide.
  src/pages/es/guides/images.md
Labels: i18n

#1492 i18n(es): update deploy guides
  src/pages/es/guides/deploy.md
  src/pages/es/guides/deploy/cloudflare.md
  src/pages/es/guides/deploy/deno.md
  src/pages/es/guides/deploy/flightcontrol.md
  src/pages/es/guides/deploy/github.md
  src/pages/es/guides/deploy/netlify.md
  src/pages/es/guides/deploy/vercel.md
Labels: i18n

#1499 i18n(es): update `integrations guide` page
  src/pages/es/guides/integrations-guide.md
Labels: i18n

#1500 Update `publish to npm` page
  src/pages/es/guides/publish-to-npm.md
Labels: i18n

#1501 i18n(es): update `rss` page
  src/pages/es/guides/rss.md
Labels: i18n

#1494 i18n(es): add aws page
  src/pages/es/guides/deploy/aws.md
Labels: i18n

#265 Document excluding pages and directories from build
  src/pages/en/core-concepts/routing.md
Labels: add new content

#1506 i18n(es): update `styling` page
  src/pages/es/guides/styling.md
Labels: i18n

#1504 Small sidebar design refresh
  public/index.css
  public/theme.css
  src/components/DeployGuidesNav.astro
  src/components/IslandsDiagram.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/components/RightSidebar/CommunityMenu.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/TableOfContents.css
Labels: site improvement

#1508 i18n(es): update `auto` page
  src/pages/es/install/auto.md
Labels: i18n

#1511 i18n(es): update `manual` page
  src/pages/es/install/manual.md
Labels: i18n

#1505 i18n(es): update `server side rendering` page
  src/pages/es/guides/server-side-rendering.md
Labels: i18n

#1483 Further expand `TRANSLATING.md` with more tips and guidance
  TRANSLATING.md
Labels: add new content

#1502 Add how to manually update the Translation Status Overview Issue
  MAINTAINERS.md
Labels: add new content

#1434 Add docs for non-html route encoding option
  src/pages/en/core-concepts/astro-pages.md
Labels: add new content

#1439 i18n(zh-tw): Update `i18n/zh-tw` and add `pages/zh-tw/install` translations
  src/i18n/zh-tw/docsearch.ts
  src/i18n/zh-tw/nav.ts
  src/pages/zh-tw/install/auto.md
  src/pages/zh-tw/install/manual.md
Labels: i18n

#1507 Update: sharing-state.md. Fix ref(s) for "cartStore" in code example
  src/pages/en/core-concepts/sharing-state.md
  src/pages/zh-cn/core-concepts/sharing-state.md
Labels: i18n

#1512 i18n(es): update `core-concepts/routing` page
  src/pages/es/core-concepts/routing.md
Labels: i18n

#1510 Add more accessibility sprinkles
  src/pages/en/concepts/why-astro.md
  src/pages/en/core-concepts/astro-pages.md
  src/pages/en/core-concepts/framework-components.md
  src/pages/en/core-concepts/layouts.md
Labels: improve documentation

#1518 i18n(es): update the TypeScript guide.
  src/pages/es/guides/typescript.md
Labels: i18n

#1261 i18n(pt-BR): Update `astro-components.md` translation
  src/pages/pt-br/core-concepts/astro-components.md
  src/pages/pt-br/guides/troubleshooting.md
Labels: i18n

#1284 i18n(pt-BR): Update `astro-pages.md` & `framework-components.md` translations
  src/pages/pt-br/core-concepts/astro-pages.md
  src/pages/pt-br/core-concepts/framework-components.md
Labels: i18n

#1286 i18n(pt-BR): Update `layouts.md`, `routing.md` & `imports.md` translations
  src/pages/pt-br/core-concepts/layouts.md
  src/pages/pt-br/core-concepts/routing.md
  src/pages/pt-br/guides/imports.md
Labels: i18n

#1287 i18n(pt-BR): Update `editor-setup.md` translation
  src/pages/pt-br/editor-setup.md
Labels: i18n

#1288 i18n(pt-BR): Update `data-fetching.md` translation
  src/pages/pt-br/guides/data-fetching.md
Labels: i18n

#1290 i18n(pt-BR): Update `server-side-rendering.md`, `styling.md` & `directives-reference.md` translations
  src/pages/pt-br/guides/server-side-rendering.md
  src/pages/pt-br/guides/styling.md
  src/pages/pt-br/reference/directives-reference.md
Labels: i18n

#1294 i18n(pt-BR): Update lots of pages
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/core-concepts/layouts.md
  src/pages/pt-br/guides/markdown-content.md
  src/pages/pt-br/guides/troubleshooting.md
  src/pages/pt-br/migrate.md
  src/pages/pt-br/reference/api-reference.md
  src/pages/pt-br/reference/configuration-reference.md
Labels: i18n

#1342 i18n(pt-BR): Update `mpa-vs-spa.md` translation
  src/pages/pt-br/concepts/mpa-vs-spa.md
Labels: i18n

#1393 i18n(pt-BR): Update `images.md` & `typescript.md` translations
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/images.md
  src/pages/pt-br/guides/typescript.md
Labels: i18n

#1464 i18n(pt-BR): Update `publish-to-npm.md` & `nav.ts` translations
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/publish-to-npm.md
Labels: i18n

#1529 Fix @astrojs/image npm link
  src/pages/de/concepts/why-astro.md
  src/pages/en/concepts/why-astro.md
  src/pages/es/concepts/why-astro.md
  src/pages/fr/concepts/why-astro.md
  src/pages/ja/concepts/why-astro.md
  src/pages/pt-br/concepts/why-astro.md
Labels: i18n

#1527 i18n(es): add migrate.md
  src/i18n/es/nav.ts
  src/pages/es/guides/markdown-content.md
  src/pages/es/migrate.md
Labels: i18n

#1532 Fix/Fix errors in the translation of `Deploy your Astro Site to GitHub Pages`
  src/pages/fr/guides/deploy/github.md
Labels: i18n

#1515 Add generated pages guidance to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: add new content

#1534 Delete outdated mention of `--experimental-integrations`
  src/pages/en/guides/integrations-guide.md
  src/pages/es/guides/integrations-guide.md
Labels: i18n

#1528 i18n(zh-tw): Add `editor-setup.md` and update other translations
  src/i18n/zh-tw/nav.ts
  src/i18n/zh-tw/ui.ts
  src/pages/zh-tw/editor-setup.md
  src/pages/zh-tw/getting-started.md
Labels: i18n

#1530 i18n(es): add fonts.md
  src/i18n/es/nav.ts
  src/pages/es/guides/fonts.md
Labels: i18n

#1526 i18n(zh-cn): Why Astro
  src/pages/zh-cn/concepts/why-astro.md
Labels: i18n

#1503 new: add `MarkdownLayoutProps` example to layout
  src/pages/en/guides/markdown-content.md
Labels: add new content

#1473 fr(i18n) : Updated `nav.ts` in French language
  src/i18n/fr/nav.ts
Labels: i18n

#1495 add section on remote markdown
  src/pages/en/guides/markdown-content.md
Labels: add new content

#1544 docs(zh-cn): update `integrations-reference`
  src/pages/zh-cn/reference/integrations-reference.md
Labels: i18n

#1548 i18n(es): update server-side-rendering.md
  src/pages/es/guides/server-side-rendering.md
Labels: i18n

#1545 Skip congrats bot action on `[ci] format` commits
  .github/workflows/discord-congrats.yml
Labels: 🚨 action

#1536 Add mention to the `<Version />` component in `WRITING.md`
  WRITING.md
Labels: add new content

#1542 i18n(es): add sharing-state.md
  src/i18n/es/nav.ts
  src/pages/es/core-concepts/sharing-state.md
Labels: i18n

#1461 i18n(fr) `concepts/islands.md` in French language
  src/i18n/fr/README.md
  src/i18n/fr/nav.ts
  src/pages/fr/concepts/islands.md
Labels: i18n

#1576 i18n(es): update `getting-started`
  src/pages/es/getting-started.md
Labels: i18n

#1573 i18n(es): update the `astro-components.md` page.
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/guides/imports.md
  src/pages/es/guides/styling.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/guides/typescript.md
Labels: i18n

#1575 i18n(es): update the why-astro.md page.
  src/pages/es/concepts/why-astro.md
Labels: i18n

#1582 i18n(es): update the `cli-reference.md` translation
  src/pages/es/reference/cli-reference.md
Labels: i18n

#1546 docs(zh-cn): update directives-refernence
  src/pages/zh-cn/reference/directives-reference.md
Labels: i18n

#1551 docs(zh-cn): update adapter-reference
  src/pages/zh-cn/reference/adapter-reference.md
Labels: i18n

#1547 docs(zh-cn): update configuration-reference
  src/pages/zh-cn/reference/configuration-reference.md
Labels: i18n

#1550 docs(zh-cn): update api reference
  src/pages/zh-cn/reference/api-reference.md
Labels: i18n

#1560 docs(zh-cn): update astro-components
  src/pages/zh-cn/core-concepts/astro-components.md
  src/pages/zh-cn/guides/imports.md
  src/pages/zh-cn/guides/styling.md
  src/pages/zh-cn/guides/troubleshooting.md
  src/pages/zh-cn/guides/typescript.md
Labels: i18n

#1563 docs(zh-cn): update layouts
  src/pages/zh-cn/core-concepts/layouts.md
Labels: i18n

#1564 docs(zh-cn): update project-structure
  src/pages/zh-cn/core-concepts/project-structure.md
Labels: i18n

#1579 i18n(zh-tw): Add `why-astro.md` translation
  src/pages/zh-tw/concepts/why-astro.md
Labels: i18n

#1562 docs(zh-cn): update framework- components
  src/pages/zh-cn/core-concepts/framework-components.md
Labels: i18n

#1585 i18n(es): update multiple pages
  src/pages/es/core-concepts/astro-components.md
  src/pages/es/core-concepts/astro-pages.md
  src/pages/es/core-concepts/framework-components.md
  src/pages/es/core-concepts/layouts.md
  src/pages/es/guides/configuring-astro.md
  src/pages/es/guides/environment-variables.md
  src/pages/es/guides/rss.md
  src/pages/es/reference/integrations-reference.md
Labels: i18n

#1596 Add clarification to dynamic tags about hydration directives
  src/pages/en/core-concepts/astro-components.md
Labels: improve documentation

#1602 [add] Include tsconfig.json on project structure page
  src/pages/en/core-concepts/project-structure.md
Labels: add new content

#1599 Document new types for set:html
  src/pages/en/reference/directives-reference.md
Labels: add new content, merge-on-release

#1610 i18n(es): update the `integrations-reference` page.
  src/pages/es/reference/integrations-reference.md
Labels: i18n

#1603 i18n(es): update the `directives-reference` page.
  src/pages/es/reference/directives-reference.md
Labels: i18n

#1609 i18n(es): Update guides/publish-to-npm
  src/pages/es/guides/publish-to-npm.md
Labels: i18n

#1606 i18n(es): Update astro-components
  src/pages/es/core-concepts/astro-components.md
Labels: i18n

#1608 i18n(es): Update auto.md
  src/pages/es/install/auto.md
Labels: i18n

#1617 i18n(es): Update of aliases and typescript pages.
  src/i18n/es/nav.ts
  src/pages/es/guides/aliases.md
  src/pages/es/guides/typescript.md
Labels: i18n

#1625 i18n(es): Update install/manual
  src/pages/es/install/manual.md
Labels: i18n

#1600 i18n(zh-tw) Add `layouts.md` translation
  src/pages/zh-tw/core-concepts/layouts.md
Labels: i18n

#1626 i18(es): Update `configuration-reference.md`
  src/pages/es/reference/configuration-reference.md
Labels: i18n

#1628 i18n(es): Update `auto.md` & `integrations.md`
  src/pages/es/install/auto.md
  src/pages/es/integrations/integrations.md
Labels: i18n

#1627 i18n(es): Update `api-reference.md` & `troubleshooting.md`
  src/pages/es/guides/troubleshooting.md
  src/pages/es/reference/api-reference.md
Labels: i18n

#1633 i18n(fr) : Added text in Easy to use
  src/pages/fr/concepts/why-astro.md
Labels: i18n

#1637 Add API reference for Astro.cookies
  src/pages/en/reference/api-reference.md
Labels: add new content, merge-on-release

#1638 Endpoints Guide
  src/i18n/en/nav.ts
  src/pages/en/core-concepts/astro-pages.md
  src/pages/en/core-concepts/endpoints.md
  src/pages/en/guides/rss.md
  src/pages/en/guides/server-side-rendering.md
  src/pages/en/reference/integrations-reference.md
Labels: add new content

#1650 i18n(es): update `typescript.md`
  src/pages/es/guides/typescript.md
Labels: i18n, hacktoberfest-accepted

#1621 i18n(zh-cn): Translate islands, fonts, docsearch, nav & ui files
  src/i18n/zh-cn/docsearch.ts
  src/i18n/zh-cn/nav.ts
  src/i18n/zh-cn/ui.ts
  src/pages/zh-cn/concepts/islands.md
  src/pages/zh-cn/guides/fonts.md
Labels: i18n
