Repository withastro/docs, pull requests merged in 2022-11, with the labels that each got.

#1966 Tutorial: Keyboard shortcut improvements & minor fixes
  src/pages/en/tutorial/1-setup/2.md
  src/pages/en/tutorial/2-pages/1.md
  src/pages/en/tutorial/6-islands/1.md
Labels: improve documentation, tutorial

#1956 i18n(es): update `images.md`
  src/pages/es/guides/images.md
Labels: i18n, hacktoberfest-accepted

#1904 i18n(es): Authoring Content
  src/i18n/es/nav.ts
  src/pages/es/guides/content.md
Labels: i18n, hacktoberfest-accepted

#1962 [CMS] ButterCMS Integration Guide
  src/pages/en/guides/cms/butter.md
  src/pages/en/guides/cms/buttercms.md
  src/pages/en/guides/cms/contentful.md
  src/pages/en/guides/cms/payload.md
Labels: add new content, hacktoberfest-accepted

#1971 i18n(fr): translate guides/deploy
  src/pages/fr/guides/deploy.md
Labels: i18n

#1970 I18n(ja): Update translation of deploy.md
  src/i18n/ja/ui.ts
  src/pages/ja/guides/deploy.md
Labels: i18n

#1944 Add Storyblok guide
  src/pages/en/guides/cms/storyblok.md
Labels: add new content, hacktoberfest-accepted

#1975 Add CMS Guides landing page
  public/logos/buttercms.svg
  public/logos/contentful.svg
  public/logos/directus.svg
  public/logos/ghost.png
  public/logos/netlify-cms.svg
  public/logos/payload.svg
  public/logos/prismic.svg
  public/logos/sanity.svg
  public/logos/storyblok.svg
  public/logos/wordpress.svg
  src/components/BrandLogo.astro
  src/components/CMSGuidesNav.astro
  src/i18n/en/nav.ts
  src/i18n/en/ui.ts
  src/layouts/CMSLayout.astro
  src/pages/en/guides/cms.md
  src/pages/en/guides/cms/buttercms.md
  src/pages/en/guides/cms/contentful.md
  src/pages/en/guides/cms/directus.md
  src/pages/en/guides/cms/ghost.md
  src/pages/en/guides/cms/netlify-cms.md
  src/pages/en/guides/cms/payload.md
  src/pages/en/guides/cms/prismic.md
  src/pages/en/guides/cms/sanity.md
  src/pages/en/guides/cms/storyblok.md
  src/pages/en/guides/cms/wordpress.md
Labels: add new content, site improvement

#1990 i18n(es): Update of `troubleshooting.md`
  src/pages/es/guides/troubleshooting.md
Labels: i18n

#1992 i18n(es): Translate `cms.md`
  src/i18n/es/nav.ts
  src/i18n/es/ui.ts
  src/pages/es/guides/cms.md
Labels: i18n

#2002 i18n(es): Translate of `edgio.md`
  src/pages/es/guides/deploy/edgio.md
Labels: i18n

#2000 i18n(ja): Translate `server-side-rendering.md`
  src/pages/ja/comparing-astro-vs-other-tools.md
  src/pages/ja/core-concepts/endpoints.md
  src/pages/ja/guides/deploy.md
  src/pages/ja/guides/server-side-rendering.md
Labels: i18n

#2004 i18n(es): update `configuring-astro.md`
  src/pages/es/guides/configuring-astro.md
Labels: i18n

#2006 i18n(es): Update api-reference.md
  src/pages/es/reference/api-reference.md
Labels: i18n

#2012 [tutorial] Added step: checking for tags
  src/pages/en/tutorial/5-astro-api/2.md
Labels: tutorial

#2005 i18n(ja): Translate `rss.md`
  src/pages/ja/guides/rss.md
Labels: i18n

#2014 [tutorial] use PackageManagerTabs in 1-2 and 5-4
  src/pages/en/tutorial/1-setup/2.md
  src/pages/en/tutorial/5-astro-api/4.md
Labels: tutorial

#1996 [tutorial] fix code snippets in 2-4
  src/pages/en/tutorial/2-pages/4.md
Labels: tutorial

#1999 [tutorial] update global.css in 3-3
  src/pages/en/tutorial/3-components/3.md
Labels: tutorial

#1997 [tutorial] add a diff in 4-1 for clarity
  src/pages/en/tutorial/4-layouts/1.md
Labels: tutorial

#1991 i18n(pt-br) Translate Testing page
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/testing.md
Labels: i18n

#2018 fix playwright test:e2e script
  src/pages/en/guides/testing.md
Labels: improve documentation

#2009 Add component usage example in the MDX docs
  src/pages/en/guides/markdown-content.md
Labels: add new content

#2026 Improve documentation around setting up ambient types
  src/pages/en/guides/typescript.md
  src/pages/en/install/manual.md
Labels: improve documentation

#2007 i18n(es): Update `imports.md`
  src/pages/es/guides/imports.md
Labels: i18n

#2027 Add Builder.io CMS guide stub
  public/logos/builderio.svg
  src/components/BrandLogo.astro
  src/pages/en/guides/cms/builderio.md
Labels: add new content

#2034 i18n(zh-cn): Translate CMS guide, UI and nav strings
  src/i18n/zh-cn/nav.ts
  src/i18n/zh-cn/ui.ts
  src/pages/zh-cn/guides/cms.md
Labels: i18n

#2029 Update `AstroInstance` interface reference
  src/pages/en/reference/api-reference.md
Labels: improve documentation

#2028 Document Astro component import via `Astro.glob`
  src/pages/en/guides/imports.md
Labels: improve documentation

#2040 Add troubleshooting guidance for CSPs without unsafe-inline
  src/pages/en/guides/troubleshooting.md
Labels: improve documentation

#2032 i18n(es): Update `typescript.md` & `manual.md`
  src/pages/es/guides/typescript.md
  src/pages/es/install/manual.md
Labels: i18n

#2030 Update typescript.md
  src/pages/en/guides/typescript.md
Labels: improve documentation

#2033 i18n(es): Update of `api-reference.md`
  src/pages/es/reference/api-reference.md
Labels: i18n

#2031 i18n(es): Update `markdown-content.md`
  src/pages/es/guides/markdown-content.md
Labels: i18n

#2036 i18n(ja): Update getting-started.md
  src/pages/ja/getting-started.md
Labels: i18n

#2045 i18n(es): Update `imports.md`, `troubleshooting.md` and `typescript.md`
  src/pages/es/guides/imports.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/guides/typescript.md
Labels: i18n

#2048 i18n(es): Improve translations
  src/pages/es/guides/markdown-content.md
  src/pages/es/guides/troubleshooting.md
  src/pages/es/guides/typescript.md
  src/pages/es/reference/api-reference.md
Labels: i18n

#2050 [tutorial] 4-3 update multiple choice answers
  src/pages/en/tutorial/4-layouts/3.md
Labels: tutorial

#2041 Remove bad tag from layout example
  src/pages/en/guides/markdown-content.md
  src/pages/es/guides/markdown-content.md
Labels: i18n

#2052 Update layouts.md
  src/pages/en/core-concepts/layouts.md
Labels: typo or grammar fix

#2053 i18n(es): Update layouts.md
  src/pages/es/core-concepts/layouts.md
Labels: i18n

#2058 [tutorial] added extra note to check tags, update manually
  src/pages/en/tutorial/5-astro-api/2.md
Labels: tutorial

#2061 Address typo
  src/pages/en/guides/integrations-guide/image.md
Labels: typo or grammar fix

#2063 Fix import link for Header component in tutorial 3
  src/pages/en/tutorial/3-components/3.md
Labels: tutorial

#2059 [integrations/integrations] add integrations to cms pages
  src/pages/en/guides/cms/netlify-cms.md
  src/pages/en/guides/cms/sanity.md
  src/pages/en/guides/cms/wordpress.md
  src/pages/en/integrations/integrations.md
Labels: improve documentation

#2055 i18n(zh-cn): fix typo
  src/pages/zh-cn/guides/environment-variables.md
Labels: i18n

#2049 add Cleavr deployment guide
  public/logos/cleavr.svg
  src/components/BrandLogo.astro
  src/components/DeployGuidesNav.astro
  src/pages/en/guides/deploy/cleavr.md
Labels: add new content

#2065 fix(tutorial/4): Make frontmatter consistant between codeblocks
  src/pages/en/tutorial/4-layouts/1.md
Labels: tutorial

#1985 i18n(fr): translate sharing-state
  src/pages/fr/core-concepts/sharing-state.md
Labels: i18n

#2047 Fix strict type error in routing example
  src/pages/en/core-concepts/routing.md
Labels: improve documentation

#2054 [markdown/mdx] restructure & refresh Markdown/MDX content
  src/pages/en/core-concepts/layouts.md
  src/pages/en/guides/integrations-guide/mdx.md
  src/pages/en/guides/markdown-content.md
  src/pages/en/reference/cli-reference.md
  src/pages/en/tutorial/4-layouts/2.md
Labels: add new content

#2071 Initial set-up for DocSearch categorisation [en-only]
  netlify.toml
  src/components/Header/DocSearch.tsx
  src/i18n/en/nav.ts
  src/layouts/BaseLayout.astro
  src/pages/de/integrations/integrations.md
  src/pages/en/integrations/integrations.md
  src/pages/en/reference/publish-to-npm.md
  src/pages/es/integrations/integrations.md
  src/pages/es/reference/publish-to-npm.md
  src/pages/fr/integrations/integrations.md
  src/pages/fr/reference/publish-to-npm.md
  src/pages/ja/integrations/integrations.md
  src/pages/pt-br/integrations/integrations.md
  src/pages/pt-br/reference/publish-to-npm.md
  src/pages/zh-cn/integrations/integrations.md
  src/pages/zh-cn/reference/publish-to-npm.md
  src/util/getPageCategory.ts
Labels: i18n, site improvement

#2056 i18n(zh-ch): fix typo in islands.md
  src/pages/zh-cn/concepts/islands.md
Labels: i18n

#2072 Use unique class name in tutorial nav tabs
  src/components/tabs/TabbedContent.astro
Labels: site improvement

#2064 i18n(ja): Update editor-setup.md
  src/pages/ja/editor-setup.md
Labels: i18n

#2075 Fix search result links by reintroducing URL hash
  src/components/Header/DocSearch.tsx
Labels: bug

#2024 Add an error reference page
  .github/workflows/nightly.yml
  package.json
  scripts/error-docgen.mjs
  src/i18n/en/nav.ts
  src/pages/en/reference/error-reference.md
Labels: 🚨 action

#2082 i18(es): Translate `cleavr.md`
  src/pages/es/guides/deploy/cleavr.md
Labels: i18n

#2081 i18n(es): Update of `routing.md` and `integrations.md`
  src/pages/es/core-concepts/routing.md
  src/pages/es/integrations/integrations.md
Labels: i18n

#2086 Improve DocSearch modal
  public/theme.css
  src/components/Header/DocSearch.css
  src/components/Header/DocSearch.tsx
  src/components/Header/Search.astro
  src/i18n/en/docsearch.ts
  src/i18n/translation-checkers.ts
Labels: site improvement

#2089 Strategic content tweaks for better search results
  src/pages/en/guides/styling.md
  src/pages/en/tutorial/2-pages/3.md
  src/pages/en/tutorial/2-pages/5.md
  src/pages/en/tutorial/3-components/2.md
  src/pages/en/tutorial/3-components/4.md
  src/pages/en/tutorial/4-layouts/2.md
Labels: improve documentation

#2093 i18n(fr): update sharing state
  src/pages/fr/core-concepts/sharing-state.md
Labels: i18n

#2080 i18n(ja): Translate `CMS.md`.
  src/i18n/ja/nav.ts
  src/i18n/ja/ui.ts
  src/pages/ja/guides/cms.md
Labels: i18n

#2102 Add new “Scripts and Event Handling” guide
  src/i18n/en/nav.ts
  src/pages/en/core-concepts/astro-components.md
  src/pages/en/guides/client-side-scripts.md
  src/pages/en/reference/directives-reference.md
Labels: add new content

#2108 docs(de): add cms guide
  src/i18n/de/nav.ts
  src/pages/de/guides/cms.md
Labels: i18n

#1670 i18n(zh-cn): Update `astro-components.md` and `typescript.md`
  src/pages/zh-cn/core-concepts/astro-components.md
  src/pages/zh-cn/guides/typescript.md
Labels: i18n, hacktoberfest-accepted

#2107 i18n(zh-cn): fix typo
  src/pages/zh-cn/concepts/islands.md
  src/pages/zh-cn/concepts/mpa-vs-spa.md
  src/pages/zh-cn/guides/troubleshooting.md
Labels: i18n

#2101 Add heading level hierarchy to table of contents
  public/index.css
  src/components/RightSidebar/CommunityMenu.astro
  src/components/RightSidebar/ContributeMenu.astro
  src/components/RightSidebar/EditButton.astro
  src/components/RightSidebar/RightSidebar.astro
  src/components/RightSidebar/TableOfContents.css
  src/components/RightSidebar/TableOfContents.tsx
  src/components/tutorial/TutorialNav.astro
  src/layouts/MainLayout.astro
  src/util/generateToc.ts
Labels: site improvement

#2118 i18n(es): typo in api-reference/#astrourl
  src/pages/es/reference/api-reference.md
Labels: i18n

#2067 updated web frameworks to include others
  src/pages/en/concepts/why-astro.md
Labels: improve documentation

#2119 Add WordPress resources
  src/pages/en/guides/cms/wordpress.md
Labels: improve documentation

#2105 Storyblok guide: only use preview token
  src/pages/en/guides/cms/storyblok.md
Labels: improve documentation

#2126 [tutorial] adds alt text to image in code sample
  src/pages/en/tutorial/5-astro-api/3.md
Labels: improve documentation, tutorial

#2125 [tutorial] fixes closing tag notation
  src/pages/en/tutorial/6-islands/2.md
Labels: typo or grammar fix, tutorial

#2115 Note scoped classes passed to child components
  src/pages/en/guides/styling.md
Labels: improve documentation
