Repository withastro/docs, pull requests merged in 2023-10, with the labels that each got.

#4818 Set up Hacktoberfest 2023 infrastructure
  .github/PULL_REQUEST_TEMPLATE.md
  .github/hacktoberfest.md
  src/i18n/hi/docsearch.ts
  src/i18n/hi/nav.ts
  src/i18n/hi/ui.ts
  src/i18n/languages.ts
  src/util/getNav.ts
Labels: i18n

#4887 i18n(fr) Update translated editor-setup file
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#4886 i18n(fr) Update tailwind.mdx
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
Labels: i18n

#4885 i18n(fr) Update Translated content netlify mdx
  src/content/docs/fr/guides/deploy/netlify.mdx
Labels: i18n

#4867 i18n(zh-cn): update `guides/view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#4877 typo: double quotes fix
  src/content/docs/es/tutorial/5-astro-api/1.mdx
Labels: i18n

#4860 i18n(fr): Update `getting-started` translation and glossary
  src/content/docs/fr/getting-started.mdx
  src/i18n/fr/README.md
Labels: i18n

#4896 Fix typo from drc to src
  src/content/docs/en/guides/images.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/ja/guides/images.mdx
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#4906 i18n(es): testing.mdx
  src/content/docs/es/guides/testing.mdx
Labels: i18n

#4895 i18n(es): Update `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#4908 i18n(zh-cn): update `guides/cms/strapi.mdx`
  src/content/docs/zh-cn/guides/cms/strapi.mdx
Labels: i18n

#4907 i18n(es): Update `strapi.mdx`
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#4905 i18n(fr) Update and Translate integrations.mdx
  src/content/docs/fr/integrations/integrations.mdx
Labels: i18n

#4904 i18n(fr) Update and Translate fonts.mdx
  src/content/docs/fr/guides/fonts.mdx
Labels: i18n

#4663 fix: tutorial navigation in i18n pages
  src/components/tutorial/TutorialNav.astro
Labels: tutorial

#4913 i18n(es): Update `google-firebase.mdx` & `6-islands/3.mdx`
  src/content/docs/es/guides/backend/google-firebase.mdx
  src/content/docs/es/guides/cms/strapi.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
Labels: i18n, hacktoberfest-accepted

#4909 fix external WP blog post link
  src/content/docs/en/guides/cms/wordpress.mdx
Labels: hacktoberfest-accepted

#4916 i18n review instructions update for Hacktoberfest
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#4899 Updating outdated information for astro check documentation for Astro 3
  src/content/docs/en/guides/typescript.mdx
Labels: improve documentation

#4918 i18n(es): Update `content-collections.mdx`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n, hacktoberfest-accepted

#4917 i18n(es): Update `wordpress.mdx`, `typescript.mdx`, `v3.mdx` & `3.mdx`
  src/content/docs/es/guides/cms/wordpress.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/guides/upgrade-to/v3.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
Labels: i18n, hacktoberfest-accepted

#4924 i18n(zh-cn): update `guides/upgrade-to/v3.mdx`
  src/content/docs/zh-cn/guides/upgrade-to/v3.mdx
Labels: i18n

#4925 i18n(zh-cn): update `tutorial/6-islands/3.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n

#4923 i18n(zh-cn): update `guides/typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#4922 i18n(zh-cn): update `guides/cms/wordpress.mdx`
  src/content/docs/zh-cn/guides/cms/wordpress.mdx
Labels: i18n

#4921 i18n(zh-cn): update `guides/backend/google-firebase.mdx`
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#4865 i18n(zh-cn): update `reference/errors/collection-does-not-exist-error.mdx`
  src/content/docs/zh-cn/reference/errors/collection-does-not-exist-error.mdx
Labels: i18n

#4880 i18n(zh-tw): translate tutorial/1-setup into zh-tw
  src/content/docs/zh-tw/tutorial/1-setup/1.mdx
  src/content/docs/zh-tw/tutorial/1-setup/2.mdx
  src/content/docs/zh-tw/tutorial/1-setup/3.mdx
  src/content/docs/zh-tw/tutorial/1-setup/4.mdx
  src/content/docs/zh-tw/tutorial/1-setup/5.mdx
  src/content/docs/zh-tw/tutorial/1-setup/index.mdx
Labels: i18n

#4932 i18n(es): update `preact.mdx`
  src/content/docs/es/guides/integrations-guide/preact.mdx
Labels: i18n

#4881 Clarify the relationship with the browser history API
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation

#4939 i18n(zh-cn): update tutorial
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
  src/content/docs/zh-cn/tutorial/6-islands/1.mdx
Labels: i18n

#4938 i18n(fr): Update `collection-does-not-exist-error.mdx` translation
  src/content/docs/fr/reference/errors/collection-does-not-exist-error.mdx
Labels: i18n, hacktoberfest-accepted

#4936 i18n(es): update `/6-islands/1.mdx` & `/5-astro-api/3.mdx`
  src/content/docs/es/tutorial/5-astro-api/3.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
Labels: i18n, hacktoberfest-accepted

#4929 i18n(es): update `environment-variables.mdx`
  src/content/docs/es/guides/environment-variables.mdx
Labels: i18n

#4931 i18n(es): update `cloudflare.mdx`
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4930 i18n(es): update `alpinejs.mdx`
  src/content/docs/es/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#4926 i18n(zh-cn): update integration docs
  src/content/docs/zh-cn/guides/environment-variables.mdx
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/preact.mdx
Labels: i18n

#4900 i18n(ja): Update markdown-content.mdx
  src/content/docs/ja/guides/markdown-content.mdx
Labels: i18n

#4901 i18n(ja): Update configuring-astro.mdx
  src/content/docs/ja/guides/configuring-astro.mdx
Labels: i18n

#4949 i18n(es): update `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#4920 docs: update broken link
  contributor-guides/translating-astro-docs.md
Labels: typo/link/grammar - quick fix!

#4808 Firebase Recipe - Prevent Potential Error in the Sample Code
  src/content/docs/en/guides/backend/google-firebase.mdx
Labels: improve documentation

#4833 Fix mismatched function names in Last Modified Time recipe
  src/content/docs/en/recipes/modified-time.mdx
Labels: typo/link/grammar - quick fix!

#4854 typo: missing word in astro-pages.mdx en-only
  src/content/docs/en/core-concepts/astro-pages.mdx
Labels: typo/link/grammar - quick fix!

#4964 i18n(es): Fix typos `getting-started.mdx`, `project-structure.mdx`, `routing.mdx` & `configuring-astro.mdx`
  src/content/docs/es/core-concepts/project-structure.mdx
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/es/guides/configuring-astro.mdx
Labels: i18n

#4959 i18n(es): Update `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n, hacktoberfest-accepted

#4957 i18n(es): Update `collection-does-not-exist-error.mdx` & `netlify.mdx`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
  src/content/docs/es/reference/errors/collection-does-not-exist-error.mdx
Labels: i18n, hacktoberfest-accepted

#4956 i18n(es): Update `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n, hacktoberfest-accepted

#4955 i18n(es): Update `google-firebase.mdx`
  src/content/docs/es/guides/backend/google-firebase.mdx
Labels: i18n, hacktoberfest-accepted

#4951 i18n(es): Update imports.mdx
  src/content/docs/es/guides/imports.mdx
Labels: i18n

#4940 i18n(fr): Adding `guides/middleware` translation
  src/content/docs/fr/guides/middleware.mdx
  src/i18n/fr/README.md
Labels: i18n, hacktoberfest-accepted

#4937 i18n(es) server-side-rendering.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/errors/redirect-with-no-location.mdx
  src/content/docs/es/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#4966 Add first-time contributor action
  .github/workflows/welcome-bot.yml
Labels: 🚨 action

#4946 streamline PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: hacktoberfest-accepted

#4977 i18n(es): Fix typos `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n, hacktoberfest-accepted

#4973 i18n(fr): Update `install/manual` in French language
  src/content/docs/fr/install/manual.mdx
Labels: i18n, hacktoberfest-accepted

#4963 i18n(zh-cn): update integration docs
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#4962 i18n(zh-cn): update `reference/errors/collection-does-not-exist-error.mdx`
  src/content/docs/zh-cn/reference/errors/collection-does-not-exist-error.mdx
Labels: i18n

#4961 i18n(zh-cn): update `reference/configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#4960 i18n(zh-cn): update `guides/backend/google-firebase.mdx`
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#4954 i18n(de): Add missing properties for de `UIDictionary` inside `ui.ts`
  src/i18n/de/ui.ts
Labels: i18n, hacktoberfest-accepted

#4945 i18n(zh-cn): update `guides/view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#4952 i18n(fr): Update `wordpress.mdx` translation
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n, hacktoberfest-accepted

#4982 i18n(ja): Update v3.mdx
  src/content/docs/ja/guides/upgrade-to/v3.mdx
Labels: i18n

#4953 i18n(fr): Update `google-firebase.mdx` translation
  src/content/docs/fr/guides/deploy/google-firebase.mdx
Labels: i18n, hacktoberfest-accepted

#4993 I18n(ja): Update tutorial/1-setup/index.mdx
  src/content/docs/ja/tutorial/1-setup/index.mdx
Labels: i18n

#4978 i18n(fr): Adding `deploy/sst` French translation
  src/content/docs/fr/guides/deploy/sst.mdx
Labels: i18n, hacktoberfest-accepted

#4975 i18n(fr): Adding `deploy/gitlab` French translation
  src/content/docs/fr/guides/deploy/gitlab.mdx
Labels: i18n, hacktoberfest-accepted

#4970 i18n(fr): Add `deploy/deno.mdx`
  src/content/docs/fr/guides/deploy/deno.mdx
Labels: i18n, hacktoberfest-accepted

#4927 i18n(ko-KR): update `getting-started.mdx`
  src/content/docs/ko/getting-started.mdx
Labels: i18n, hacktoberfest-accepted

#4928 i18n(ko-KR): update `install/auto.mdx`
  src/content/docs/ko/install/auto.mdx
Labels: i18n, hacktoberfest-accepted

#4893 i18n(fr) Update and Translate `render.mdx`
  src/content/docs/fr/guides/deploy/render.mdx
Labels: i18n

#4988 i18n(es): fix typo in `api-reference`
  src/content/docs/es/guides/content-collections.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n, hacktoberfest-accepted

#4998 [Update] PT-BR documentation for core-concepts to match with EN version
  src/content/docs/pt-br/core-concepts/astro-components.mdx
  src/content/docs/pt-br/core-concepts/astro-pages.mdx
Labels: i18n, hacktoberfest-accepted

#4972 i18n(fr): Add `deploy/space` in French language
  src/content/docs/fr/guides/deploy/space.mdx
Labels: i18n, hacktoberfest-accepted

#5010 [i18nIgnore] i18n(ko): Fix broken bold in `why-astro.mdx`
  src/content/docs/ko/concepts/why-astro.mdx
Labels: i18n

#4996 i18n(ja) Update guides/client-side-scripts.mdx
  src/content/docs/ja/guides/client-side-scripts.mdx
Labels: i18n

#4944 i18n(it): tutorial setup - page 4 and 5
  src/content/docs/it/tutorial/1-setup/4.mdx
  src/content/docs/it/tutorial/1-setup/5.mdx
Labels: i18n

#4980 Fix missing period and inline code `cloudflare`
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: hacktoberfest-accepted

#5009 i18n(ja) Update `reference/error-reference.mdx`
  src/content/docs/ja/reference/error-reference.mdx
Labels: i18n

#5006 i18n(ja): fix typo, use full width punctuation in `ui.ts`
  src/i18n/ja/ui.ts
Labels: i18n

#5005 i18n(ja) Update `reference/cli-reference.mdx`
  src/content/docs/ja/reference/cli-reference.mdx
Labels: i18n

#4892 i18n(fr) Update and translated `configuring-astro.mdx`
  src/content/docs/fr/guides/configuring-astro.mdx
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#4825 i18n(fr) Add new translated content `cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#5013 i18n(de): Add new `contribute.mdx` translation
  src/content/docs/de/contribute.mdx
Labels: i18n, hacktoberfest-accepted

#4995 i18n(de): Adding guides/upgrade-to/v3.mdx German translation
  src/content/docs/de/guides/upgrade-to/v3.mdx
Labels: i18n, hacktoberfest-accepted

#5018 i18n(es): Update `cloudflare`
  src/content/docs/es/guides/deploy/cloudflare.mdx
Labels: i18n

#5027 i18n(zh-cn): update `guides/client-side-scripts.mdx`
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#5024 i18n(zh-CN): Update `view-transitions.mdx`, `cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#5007 i18n(fr): Translate the `endpoints.mdx` file
  src/content/docs/fr/core-concepts/endpoints.mdx
Labels: i18n, hacktoberfest-accepted

#5017 i18n(ja): Update `tutorial/2-pages/index.mdx`
  src/content/docs/ja/tutorial/2-pages/index.mdx
Labels: i18n

#4992 i18n(fr) Update and translated `aliases.mdx`
  src/content/docs/fr/guides/aliases.mdx
Labels: i18n

#5026 Hacktober reviewed Translation PR #4995
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#5044 Hacktoberfest Translation PR Review #4944
  .github/hacktoberfest.md
Labels: hacktoberfest-accepted

#4912 Improve contributing docs 4183
  contributor-guides/writing-and-style-guide.md
Labels: add new content, hacktoberfest-accepted

#5045 Removing misleading 'including'
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#5046 i18n(de): Added backend.mdx docs translation
  src/content/docs/de/guides/backend.mdx
Labels: i18n, hacktoberfest-accepted

#5025 i18n(es): Update `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n, hacktoberfest-accepted

#5004 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n, hacktoberfest-accepted

#5051 feat: improve typescript global types guide
  README.md
  src/content/docs/en/guides/typescript.mdx
Labels: improve documentation

#4866 docs: Add mention of Picture and new `srcset`-related attributes
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/image-service-reference.mdx
Labels: add new content, merge-on-release

#5043 Document `--outDir` CLI flag
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, merge-on-release

#5050 Fix(rehype-autolink-config.ts): Typo in the xmlns svg element attribute
  plugins/rehype-autolink-config.ts
Labels: code snippet update

#5031 use standard example.com domain for code sample
  src/content/docs/en/guides/markdown-content.mdx
Labels: hacktoberfest-accepted, code snippet update

#5002 Reference: `getEntries()` would return `Array<CollectionEntry>` - not a single entry
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation

#4941 Update data-fetching.mdx
  src/content/docs/en/guides/data-fetching.mdx
Labels: add new content

#5039 i18n(zh-CN): improve translation for `reading-time.mdx`
  src/content/docs/zh-cn/recipes/reading-time.mdx
Labels: i18n

#5036 i18n(zh-CN): improve translation for `ui.ts`, `nav.ts`
  src/i18n/zh-cn/nav.ts
  src/i18n/zh-cn/ui.ts
Labels: i18n

#4910 Styling child components with Astro3 defaults
  src/content/docs/en/guides/styling.mdx
Labels: improve documentation

#5056 i18n(es): Translate `incompatible-descriptor-options.mdx`
  src/content/docs/es/reference/errors/incompatible-descriptor-options.mdx
Labels: i18n

#5058 i18n(es): Update `contribute.mdx`
  src/content/docs/es/contribute.mdx
Labels: i18n

#5062 Update images.mdx
  src/content/docs/en/guides/images.mdx
Labels: code snippet update

#5069 fix: update URL for CONTRIBUTING.md in `README`
  README.md
Labels: typo/link/grammar - quick fix!, hacktoberfest-accepted

#5084 i18n(es): Update `markdown-content`
  src/content/docs/es/guides/markdown-content.mdx
Labels: i18n

#5083 i18n(es): Update `cloudflare` & `tailwind`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
Labels: i18n

#5082 i18n(es): Update `images`
  src/content/docs/es/guides/images.mdx
Labels: i18n

#5081 i18n(zh-cn): update `guides/typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#5080 i18n(zh-cn): update `guides/styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#5078 i18n(zh-cn): update integrations docs
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n

#5077 i18n(es): update `islands`, `content-collections` & `netlify`
  src/content/docs/es/concepts/islands.mdx
  src/content/docs/es/guides/content-collections.mdx
  src/content/docs/es/guides/deploy/netlify.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#5076 i18n(zh-cn): update `guides/data-fetching.mdx`
  src/content/docs/zh-cn/guides/data-fetching.mdx
Labels: i18n

#5074 i18n(zh-cn): update `contribute.mdx`
  src/content/docs/zh-cn/contribute.mdx
Labels: i18n

#5073 i18n(zh-cn): update `concepts/islands.mdx`
  src/content/docs/zh-cn/concepts/islands.mdx
Labels: i18n

#5059 i18n(es): Update `client-side-scripts.mdx`
  src/content/docs/es/guides/client-side-scripts.mdx
Labels: i18n

#5049 i18n(ja): Update guides/styling.mdx
  src/content/docs/ja/guides/styling.mdx
Labels: i18n, hacktoberfest-accepted

#5047 i18n(fr): Start the translation of the `xata.mdx` file
  src/content/docs/fr/guides/backend/xata.mdx
Labels: i18n, hacktoberfest-accepted

#5040 i18n(zh-CN): add translation for `modified-time.mdx`
  src/content/docs/zh-cn/recipes/modified-time.mdx
Labels: i18n

#5033 i18n(fr): Add `deploy/aws` in French language
  src/content/docs/fr/guides/deploy/aws.mdx
Labels: i18n, hacktoberfest-accepted

#5028 i18n(ko-KR): update `islands.mdx`
  src/content/docs/ko/concepts/islands.mdx
Labels: i18n, hacktoberfest-accepted

#5022 i18n(ja): Translate `heroku.mdx`
  src/content/docs/ja/guides/deploy/heroku.mdx
Labels: i18n

#5015 i18n(ko-KR): update `why-astro.mdx`
  src/content/docs/ko/concepts/why-astro.mdx
Labels: i18n, hacktoberfest-accepted

#4997 i18n(fr) Update and translated `imports.mdx`
  src/content/docs/fr/guides/imports.mdx
Labels: i18n

#5093 i18n(fr): Update the translation of the `concepts/islands.mdx` file
  src/content/docs/fr/concepts/islands.mdx
Labels: i18n, hacktoberfest-accepted

#5079 i18n(zh-cn): update `guides/markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#5075 i18n(zh-cn): update `guides/content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#5055 i18n(es): Translate `modified-time.mdx`
  src/content/docs/es/recipes/modified-time.mdx
Labels: i18n

#5029 i18n(ko): update Korean translation guide `README.md`
  src/i18n/ko/README.md
Labels: i18n, hacktoberfest-accepted

#5019 i18n(ja): Add new `github.mdx` translation
  src/content/docs/ja/guides/deploy/github.mdx
Labels: i18n

#5100 i18n(es): Fix typos in `nav.ts`
  src/i18n/es/nav.ts
Labels: i18n

#5085 i18n(es): Update `styling` & `typescript`
  src/content/docs/es/guides/styling.mdx
  src/content/docs/es/guides/typescript.mdx
Labels: i18n

#5071 i18n(zh-cn): update reference and deploy docs
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/incompatible-descriptor-options.mdx
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#4876 [tutorial] new tutorial extensions
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/tutorial/6-islands/3.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
  src/content/docs/en/tutorials/add-view-transitions.mdx
  src/i18n/en/nav.ts
Labels: add new content, tutorial

#5070 docs: fix tiny bug in `typescript.mdx`
  src/content/docs/en/guides/typescript.mdx
Labels: typo/link/grammar - quick fix!, hacktoberfest-accepted

#4878 Clarify use case of astro:after-swap event
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation

#4805 Fix Indentation of Code Block in several pages
  src/content/docs/en/guides/cms/buttercms.mdx
  src/content/docs/en/guides/cms/frontmatter-cms.mdx
  src/content/docs/en/guides/cms/payload.mdx
  src/content/docs/en/guides/deploy/space.mdx
  src/content/docs/en/guides/integrations-guide.mdx
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/rss.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/en/guides/upgrade-to/v3.mdx
  src/content/docs/en/recipes/add-yaml-support.mdx
  src/content/docs/en/recipes/i18n.mdx
  src/content/docs/en/tutorial/3-components/4.mdx
  src/content/docs/en/tutorial/5-astro-api/1.mdx
Labels: hacktoberfest-accepted, consistency/formatting

#5113 Fix example diff in netlify deploy
  src/content/docs/en/guides/deploy/netlify.mdx
Labels: hacktoberfest-accepted, code snippet update

#5115 i18n(es): Update `nav.ts`
  src/i18n/es/nav.ts
Labels: i18n

#5108 i18n(es): Update `data-fetching.mdx`
  src/content/docs/es/guides/data-fetching.mdx
Labels: i18n

#5107 i18n(es): Fix typos in `guides/cms/`
  src/content/docs/es/guides/cms/contentful.mdx
  src/content/docs/es/guides/cms/frontmatter-cms.mdx
  src/content/docs/es/guides/cms/ghost.mdx
  src/content/docs/es/guides/cms/storyblok.mdx
  src/content/docs/es/guides/cms/wordpress.mdx
Labels: i18n

#4985 i18n(hi): update `getting-started.mdx` translation
  src/content/docs/hi/getting-started.mdx
Labels: i18n, hacktoberfest-accepted
