Repository withastro/docs, pull requests merged in 2023-07, with the labels that each got.

#3525 i18n(ja): Add unknown-compiler-error.mdx
  src/content/docs/ja/reference/errors/unknown-compiler-error.mdx
  src/i18n/ja/README.md
Labels: i18n

#3636 i18n(es): Updated `publish-to-npm.mdx` & `server-side-rendering.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/publish-to-npm.mdx
Labels: i18n

#3645 i18n(es): Updated graphql example
  src/content/docs/es/guides/data-fetching.mdx
Labels: i18n

#3642 i18n(es): Updated `4-layouts/1.mdx`
  src/content/docs/es/tutorial/4-layouts/1.mdx
Labels: i18n

#3640 i18n(es): Updated `middleware.mdx`
  src/content/docs/es/guides/middleware.mdx
Labels: i18n

#3647 Add imports to src/pages/tags/[tag].astro example
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3641 delete old guides [i18nIgnore]
  MAINTAINERS.md
  README.md
  RECIPES.md
  SUPPORTSQUAD.md
  TRANSLATING.md
  WRITING.md
  contributor-guides/translating-astro-docs.md
  scripts/lib/translation-status/template.html
  src/components/FallbackNotice.astro
  src/content/docs/en/recipes.mdx
  src/content/docs/es/recipes.mdx
  src/content/docs/fr/contribute.mdx
  src/content/docs/ja/contribute.mdx
  src/content/docs/pt-br/contribute.mdx
  src/content/docs/ru/recipes.mdx
  src/content/docs/zh-cn/contribute.mdx
  src/content/docs/zh-cn/recipes.mdx
  src/i18n/ja/README.md
Labels: i18n, site improvement

#3610 Feat: Integration: DatoCMS guide
  public/logos/datocms.svg
  src/content/docs/en/guides/cms/datocms.mdx
  src/data/logos.ts
Labels: add new content

#3656 i18n(es): Updated `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3650 i18n(es): Updated `sitemap.mdx` & `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3649 i18n(es): Updated `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#3552 i18n(ja): Add tutorial/1-setup/index.mdx
  src/content/docs/ja/tutorial/1-setup/index.mdx
Labels: i18n

#3596 i18n(ja): Add tutorial/1-setup/2.mdx
  src/content/docs/ja/tutorial/1-setup/2.mdx
Labels: i18n

#3624 i18n(ja): Add tutorial/1-setup/3.mdx
  src/content/docs/ja/tutorial/1-setup/3.mdx
Labels: i18n

#3643 fix form example validation
  src/content/docs/en/recipes/build-forms.mdx
  src/content/docs/es/recipes/build-forms.mdx
Labels: improve documentation, i18n

#3652 fix: use code title syntax
  src/content/docs/en/reference/integrations-reference.mdx
Labels: typo or grammar fix

#3663 Revise co-authored-by instruction in maintainers guide
  contributor-guides/astro-maintainers-guide-to-docs.md
Labels: improve documentation

#3632 feat: new APIs for middleware
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, next-release

#3666 i18n(es): Translated `datocms.mdx`
  src/content/docs/es/guides/cms/datocms.mdx
Labels: i18n

#3664 i18n(es): Updated `routing.mdx` and `integrations-reference.mdx`
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#3658 i18n(it): First set of Italian translations 🇮🇹
  src/content/docs/it/getting-started.mdx
  src/i18n/it/docsearch.ts
  src/i18n/it/nav.ts
  src/i18n/it/ui.ts
  src/i18n/languages.ts
Labels: i18n

#3674 i18n(ja): Add tutorial/2-pages/index.mdx
  src/content/docs/ja/tutorial/2-pages/index.mdx
Labels: i18n

#3676 i18n(ja): Add tutorial/2-pages/1.mdx
  src/content/docs/ja/tutorial/2-pages/1.mdx
Labels: i18n

#3681 i18n(ja): Add tutorial/2-pages/2.mdx
  src/content/docs/ja/tutorial/2-pages/2.mdx
Labels: i18n

#3655 i18n(ja): Add tutorial/1-setup/4.mdx
  src/content/docs/ja/tutorial/1-setup/4.mdx
Labels: i18n

#3665 i18n(ja): Add tutorial/1-setup/5.mdx
  src/content/docs/ja/tutorial/1-setup/5.mdx
Labels: i18n

#3670 i18n(es): Updated `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3671 i18n(es): Updated `cli-reference.mdx`
  src/content/docs/es/reference/cli-reference.mdx
Labels: i18n

#3675 i18n(es): Updated `cloudflare.mdx`, `markdoc.mdx` & `node.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/guides/integrations-guide/markdoc.mdx
  src/content/docs/es/guides/integrations-guide/node.mdx
Labels: i18n

#3672 i18n(es): Updated `middleware.mdx` & `integrations-reference.mdx`
  src/content/docs/es/guides/middleware.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#3683 i18n(es): Updated `prefetch.mdx`
  src/content/docs/es/guides/integrations-guide/prefetch.mdx
Labels: i18n

#3687 Update Docsearch and enable search insights
  package.json
  pnpm-lock.yaml
  src/components/Header/DocSearch.tsx
Labels: site improvement

#3535 i18n(ko): Translate `environment-variables.mdx`
  src/content/docs/ko/guides/environment-variables.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3678 Update reading-time to include content collections instructions
  src/content/docs/en/recipes/reading-time.mdx
Labels: add new content

#3699 i18n(es): Updated `prefetch.mdx` & `configuration-reference.mdx`
  src/content/docs/es/guides/integrations-guide/prefetch.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3698 i18n(es): Updated `getting-started.mdx`
  src/content/docs/es/getting-started.mdx
Labels: i18n

#3693 i18n(it): Added `install/auto.mdx`
  src/content/docs/it/install/auto.mdx
Labels: i18n

#3705 i18n(es): Updated `astro-syntax.mdx`
  src/content/docs/es/core-concepts/astro-syntax.mdx
Labels: i18n

#3696 Remove unnecessary spaces in HTML tags in the tutorial
  src/content/docs/en/recipes/i18n.mdx
  src/content/docs/en/tutorial/1-setup/3.mdx
  src/content/docs/en/tutorial/2-pages/3.mdx
  src/content/docs/en/tutorial/2-pages/4.mdx
  src/content/docs/en/tutorial/6-islands/index.mdx
  src/content/docs/es/recipes/i18n.mdx
  src/content/docs/es/tutorial/1-setup/3.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: typo or grammar fix, i18n

#3714 i18n(es): Updated `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3713 i18n(es): Fixed typo in `markdown-content.mdx`
  src/content/docs/es/guides/markdown-content.mdx
Labels: i18n

#3704 i18n(it): Added translators face pile
  src/content/docs/it/getting-started.mdx
Labels: i18n

#3690 i18n(ja): Add tutorial/2-pages/3.mdx
  src/content/docs/ja/tutorial/2-pages/3.mdx
Labels: i18n

#3695 i18n(ja): Add tutorial/2-pages/4.mdx
  src/content/docs/ja/tutorial/2-pages/4.mdx
Labels: i18n

#3702 i18n(ja): Add tutorial/2-pages/5.mdx
  src/content/docs/ja/tutorial/2-pages/5.mdx
Labels: i18n

#3703 i18n(ja): Add tutorial/3-components/index.mdx
  src/content/docs/ja/tutorial/3-components/index.mdx
Labels: i18n

#3707 [guides/images] Streamline (old) image integration content
  src/content/docs/en/guides/images.mdx
Labels: improve documentation

#3724 i18(es: Updated `unsupported-image-format.mdx`
  src/content/docs/es/reference/errors/unsupported-image-format.mdx
Labels: i18n

#3723 i18n(es): Updated `image.mdx` & `netlify.mdx`
  src/content/docs/es/guides/integrations-guide/image.mdx
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#3720 Fix indentation in tutorial 3-2 and 3-3
  src/content/docs/en/tutorial/3-components/2.mdx
  src/content/docs/en/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
Labels: i18n

#3718 i18n(ja): Add tutorial/3-components/1.mdx
  src/content/docs/ja/tutorial/3-components/1.mdx
Labels: i18n

#3719 i18n(ja): Add tutorial/3-components/2.mdx
  src/content/docs/ja/tutorial/3-components/2.mdx
Labels: i18n

#3726 i18n(ja): Add tutorial/3-components/3.mdx
  src/content/docs/ja/tutorial/2-pages/1.mdx
  src/content/docs/ja/tutorial/2-pages/4.mdx
  src/content/docs/ja/tutorial/2-pages/5.mdx
  src/content/docs/ja/tutorial/3-components/3.mdx
Labels: i18n

#3727 i18n(ja): Add tutorial/3-components/4.mdx
  src/content/docs/ja/tutorial/3-components/4.mdx
Labels: i18n

#3728 i18n(ja): Add tutorial/4-layouts/index.mdx
  src/content/docs/ja/tutorial/4-layouts/index.mdx
Labels: i18n

#3729 i18n(ja): Add tutorial/4-layouts/1.mdx
  src/content/docs/ja/tutorial/4-layouts/1.mdx
Labels: i18n

#3685 feat: document `locals` in adapter API
  src/content/docs/en/reference/adapter-reference.mdx
Labels: improve documentation

#3754 i18n(pt-BR): Updated `concepts/why-astro.mdx`
  src/content/docs/pt-br/concepts/why-astro.mdx
Labels: i18n

#3755 i18n(pt-BR): Updated `contribute.mdx`
  src/content/docs/pt-br/contribute.mdx
Labels: i18n

#3753 i18n(es): Updated `adapter-reference.mdx`
  src/content/docs/es/reference/adapter-reference.mdx
Labels: i18n

#3746 i18n(es): Updated `from-gatsby.mdx`, `from-nextjs.mdx` & `from-nuxtjs.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#3547 i18n(ja): Updated `guides/images.mdx`
  src/content/docs/ja/guides/images.mdx
Labels: i18n

#3731 i18n(it): Add `install/manual.mdx`
  src/content/docs/it/install/manual.mdx
Labels: i18n

#3706 View transitions docs
  src/content/docs/en/guides/client-side-routing.mdx
  src/i18n/en/nav.ts
Labels: add new content, merge-on-release, next-release

#3736 Improve tutorial 4-3
  src/content/docs/en/tutorial/4-layouts/3.mdx
Labels: tutorial

#3770 Use plain text instead of `<StackblitzIntro>`
  src/components/tutorial/StackblitzIntro.astro
  src/content/docs/en/tutorial/2-pages/index.mdx
  src/content/docs/en/tutorial/3-components/index.mdx
  src/content/docs/en/tutorial/4-layouts/index.mdx
  src/content/docs/en/tutorial/5-astro-api/index.mdx
  src/content/docs/en/tutorial/6-islands/3.mdx
  src/content/docs/en/tutorial/6-islands/index.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: i18n, tutorial

#3773 i18n(es): `routing.mdx` update
  src/content/docs/es/core-concepts/routing.mdx
Labels: i18n

#3762 i18n(es): `api-reference.mdx` update
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#3772 i18n(es): Updated tutorials
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: i18n

#3774 i18n(es): `configuration-reference.mdx` update
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3777 i18n(es): `netlify.mdx` update
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#3748 Add Prepr CMS to Connect a CMS page
  public/logos/preprcms.svg
  src/content/docs/en/guides/cms/preprcms.mdx
  src/data/logos.ts
Labels: add new content, recipe

#3779 i18n(es): tutorial/4-layouts/`3.mdx` update
  src/content/docs/es/tutorial/4-layouts/3.mdx
Labels: i18n

#3775 i18n(es): Translated `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
  src/i18n/es/nav.ts
Labels: i18n

#3793 Fix indentation in tutorial 6-2
  src/content/docs/en/tutorial/6-islands/2.mdx
  src/content/docs/es/tutorial/6-islands/2.mdx
Labels: i18n

#3786 i18n(es): Fix typos in `layouts.mdx`
  src/content/docs/es/core-concepts/layouts.mdx
  src/i18n/es/nav.ts
Labels: i18n

#3757 i18n(pt-BR): Updated `core-concepts/astro-components.mdx`, `guides/imports.mdx`, and `guides/troubleshooting.mdx`
  src/content/docs/pt-br/core-concepts/astro-components.mdx
  src/content/docs/pt-br/guides/imports.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
Labels: i18n

#3800 i18n(pt-BR): Updated `guides/deploy/google-firebase.mdx`
  src/content/docs/pt-br/guides/deploy/google-firebase.mdx
Labels: i18n

#3798 i18n(pt-BR): Updated `guides/configuring-astro.mdx`
  src/content/docs/pt-br/guides/configuring-astro.mdx
Labels: i18n

#3796 i18n(pt-BR): Updated `/core-concepts/routing.mdx`
  src/content/docs/pt-br/core-concepts/routing.mdx
Labels: i18n

#3784 Update routing pattern name and fix minor formatting in tutorial 5-3
  src/content/docs/en/tutorial/5-astro-api/3.mdx
Labels: tutorial

#3797 Fix indentation in tutorial
  src/content/docs/en/tutorial/2-pages/4.mdx
  src/content/docs/en/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
Labels: i18n

#3795 i18n(pt-BR): Updated `core-concepts/project-structure.mdx`
  src/content/docs/pt-br/core-concepts/project-structure.mdx
Labels: i18n

#3782 Update recipes.mdx
  src/content/docs/en/recipes.mdx
Labels: add new content, recipe

#3460 i18n(zh): translate upgrade-to/v2.mdx
  src/content/docs/zh-cn/guides/upgrade-to/v2.mdx
Labels: i18n

#3531 Create index.mdx
  src/content/docs/fr/tutorial/0-introduction/index.mdx
Labels: i18n

#3550 i18n(ja): Updated `ja/contribute.mdx`
  src/content/docs/ja/contribute.mdx
Labels: i18n

#3716 i18n(ru): Upgrade v2 and Blog tutorial translation
  src/content/docs/ru/tutorial/0-introduction/1.mdx
  src/content/docs/ru/tutorial/0-introduction/index.mdx
  src/content/docs/ru/tutorial/1-setup/1.mdx
  src/content/docs/ru/tutorial/1-setup/2.mdx
  src/content/docs/ru/tutorial/1-setup/3.mdx
  src/content/docs/ru/tutorial/1-setup/4.mdx
  src/content/docs/ru/tutorial/1-setup/5.mdx
  src/content/docs/ru/tutorial/1-setup/index.mdx
  src/content/docs/ru/tutorial/2-pages/1.mdx
  src/content/docs/ru/tutorial/2-pages/2.mdx
  src/content/docs/ru/tutorial/2-pages/3.mdx
  src/content/docs/ru/tutorial/2-pages/4.mdx
  src/content/docs/ru/tutorial/2-pages/5.mdx
  src/content/docs/ru/tutorial/2-pages/index.mdx
  src/content/docs/ru/tutorial/3-components/1.mdx
  src/content/docs/ru/tutorial/3-components/2.mdx
  src/content/docs/ru/tutorial/3-components/3.mdx
  src/content/docs/ru/tutorial/3-components/4.mdx
  src/content/docs/ru/tutorial/3-components/index.mdx
  src/content/docs/ru/tutorial/4-layouts/1.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
  src/content/docs/ru/tutorial/4-layouts/3.mdx
  src/content/docs/ru/tutorial/4-layouts/index.mdx
  src/content/docs/ru/tutorial/5-astro-api/1.mdx
  src/content/docs/ru/tutorial/5-astro-api/2.mdx
  src/content/docs/ru/tutorial/5-astro-api/3.mdx
  src/content/docs/ru/tutorial/5-astro-api/4.mdx
  src/content/docs/ru/tutorial/5-astro-api/index.mdx
  src/content/docs/ru/tutorial/6-islands/1.mdx
  src/content/docs/ru/tutorial/6-islands/2.mdx
  src/content/docs/ru/tutorial/6-islands/3.mdx
  src/content/docs/ru/tutorial/6-islands/index.mdx
Labels: i18n

#3733 i18n(ar): Updated `getting-started.mdx`, `why-astro.mdx`, & `editor-setup.mdx`
  src/content/docs/ar/concepts/why-astro.mdx
  src/content/docs/ar/editor-setup.mdx
  src/content/docs/ar/getting-started.mdx
  src/i18n/ar/nav.ts
Labels: i18n

#3803 i18n(es): `sitemap.mdx` update
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
Labels: i18n

#3805 i18n(ja): Remove <StackblitzIntro> from tutorial
  src/content/docs/ja/tutorial/2-pages/index.mdx
  src/content/docs/ja/tutorial/3-components/index.mdx
  src/content/docs/ja/tutorial/4-layouts/index.mdx
Labels: i18n

#3804 i18n(ja): Tweak the Japanese tutorial
  src/content/docs/ja/tutorial/0-introduction/1.mdx
  src/content/docs/ja/tutorial/0-introduction/index.mdx
  src/content/docs/ja/tutorial/1-setup/3.mdx
  src/content/docs/ja/tutorial/1-setup/index.mdx
  src/content/docs/ja/tutorial/2-pages/2.mdx
  src/content/docs/ja/tutorial/2-pages/3.mdx
  src/content/docs/ja/tutorial/2-pages/4.mdx
  src/content/docs/ja/tutorial/3-components/4.mdx
Labels: i18n

#3806 Heading level that doesn't correspond
  src/content/docs/en/tutorial/1-setup/index.mdx
Labels: tutorial

#3677 Document url constraint in data fetching
  src/content/docs/en/guides/data-fetching.mdx
Labels: improve documentation

#3811 i18n(es): Updated `recipes.mdx` & `3.mdx`
  src/content/docs/es/recipes.mdx
  src/content/docs/es/tutorial/5-astro-api/3.mdx
Labels: i18n

#3781 View Transitions and `prefers-reduced-motion`
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation

#3814 Nudge towards View Transitions defaults
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation

#3810 Document caveats with using ViewTransitions component
  src/content/docs/en/guides/view-transitions.mdx
Labels: add new content, merge-on-release, next-release

#3829 chore(en): describe more accepted `class:list` value kinds
  src/content/docs/en/reference/directives-reference.mdx
Labels: improve documentation

#3347 Add recipe for sharing state between Astro components
  src/content/docs/en/core-concepts/sharing-state.mdx
  src/content/docs/en/recipes/sharing-state.mdx
Labels: add new content, recipe

#3813 Clarified Astro.glob() docs
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation

#3819 i18n(es): Updated `/1-setup/index.mdx`
  src/content/docs/es/tutorial/1-setup/index.mdx
Labels: i18n

#3202 New recipe: Call endpoints from the server
  src/content/docs/en/core-concepts/endpoints.mdx
  src/content/docs/en/recipes/call-endpoints.mdx
Labels: add new content, recipe

#3827 i18n(pt-BR): Updated `guides/integrations-guide/deno.mdx`
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
Labels: i18n

#3822 i18n(pt-BR): Updated `guides/deploy/netlify.mdx`
  src/content/docs/pt-br/guides/deploy/netlify.mdx
Labels: i18n

#3823 i18n(pt-BR): Updated `guides/environment-variables.mdx`
  src/content/docs/pt-br/guides/environment-variables.mdx
Labels: i18n

#3820 i18n(pt-BR): Updated `/guides/data-fetching.mdx`
  src/content/docs/pt-br/guides/data-fetching.mdx
Labels: i18n

#3821 i18n(pt-BR): Updated `/guides/deploy/kinsta.mdx`
  src/content/docs/pt-br/guides/deploy/kinsta.mdx
Labels: i18n

#3824 i18n(pt-BR): Updated `guides/fonts.mdx`
  src/content/docs/pt-br/guides/fonts.mdx
Labels: i18n

#3825 i18n(pt-BR): Updated `guides/images.mdx`
  src/content/docs/pt-br/guides/images.mdx
Labels: i18n

#3839 i18n(pt-BR): Updated `core-concepts/endpoints.mdx`
  src/content/docs/pt-br/core-concepts/endpoints.mdx
Labels: i18n

#3840 i18n(pt-BR): Updated `core-concepts/sharing-state.mdx`
  src/content/docs/pt-br/core-concepts/sharing-state.mdx
Labels: i18n

#3841 i18n(pt-BR): Updated `guides/markdown-content.mdx`
  src/content/docs/pt-br/guides/markdown-content.mdx
Labels: i18n

#3828 Update WordPress.mdx to describe how to get smaller image sizes
  src/content/docs/en/guides/cms/wordpress.mdx
Labels: improve documentation

#3745 add microCMS guide
  public/logos/microcms.svg
  src/content/docs/en/guides/cms/microcms.mdx
  src/data/logos.ts
Labels: add new content, recipe

#3818 i18n(es): Updated `view-transitions.mdx` & `data-fetching.mdx`
  src/content/docs/es/guides/data-fetching.mdx
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#3833 i18n(zh-cn): Translate `recipes/i18n.mdx` and update `core-concepts/routing.mdx`
  src/content/docs/zh-cn/core-concepts/routing.mdx
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#3836 i18n(zh-cn): translate `guide/deploy/netlify.mdx`
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#3838 i18n(zh-CN): translate updates of `getting-started` and `recipes.mdx`
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#3844 i18n(zh-cn): update why-astro.mdx
  src/content/docs/zh-cn/concepts/why-astro.mdx
Labels: i18n

#3846 i18n(es): endpoints update and call-endpoints page
  src/content/docs/es/core-concepts/endpoints.mdx
  src/content/docs/es/recipes/call-endpoints.mdx
Labels: i18n

#3848 i18n(es): Updated `/core-concepts/sharing-state.mdx` and translated `recipes/sharing-state.mdx`
  src/content/docs/es/core-concepts/sharing-state.mdx
  src/content/docs/es/recipes/sharing-state.mdx
Labels: i18n

#3851 i18n(zh-cn): Translate recipes/bun.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#3852 i18n(es): Translated `hygraph.mdx`
  src/content/docs/es/guides/cms/hygraph.mdx
Labels: i18n

#3853 i18n(es): Updated `wordpress.mdx`, `makdoc.mdx` & `directives-reference.mdx`
  src/content/docs/es/guides/cms/wordpress.mdx
  src/content/docs/es/guides/integrations-guide/markdoc.mdx
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#3868 i18n(zh-cn): Update `contribute.mdx`
  src/content/docs/zh-cn/contribute.mdx
Labels: i18n

#3869 i18n(zh-cn): update reference/publish-to-npm.mdx
  src/content/docs/zh-cn/reference/publish-to-npm.mdx
Labels: i18n

#3857 i18n(zh-cn): update adapter-reference.mdx
  src/content/docs/zh-cn/reference/adapter-reference.mdx
Labels: i18n

#3730 i18n(ja): Add tutorial/4-layouts/2.mdx
  src/content/docs/ja/tutorial/4-layouts/2.mdx
Labels: i18n

#3738 i18n(ja): Add tutorial/5-astro-api/index.mdx
  src/content/docs/ja/tutorial/5-astro-api/index.mdx
Labels: i18n

#3740 i18n(ja): Add tutorial/5-astro-api/1.mdx
  src/content/docs/ja/tutorial/5-astro-api/1.mdx
Labels: i18n

#3742 i18n(ja): Add tutorial/5-astro-api/2.mdx
  src/content/docs/ja/tutorial/5-astro-api/2.mdx
Labels: i18n

#3778 i18n(ja): Add tutorial/4-layouts/3.mdx
  src/content/docs/ja/tutorial/4-layouts/3.mdx
Labels: i18n

#3785 i18n(ja): Add tutorial/5-astro-api/3.mdx
  src/content/docs/ja/tutorial/5-astro-api/3.mdx
Labels: i18n

#3787 i18n(ja): Add tutorial/5-astro-api/4.mdx
  src/content/docs/ja/tutorial/5-astro-api/4.mdx
Labels: i18n

#3888 i18n(es): Adds microcms.mdx
  src/content/docs/es/guides/cms/microcms.mdx
Labels: i18n

#3789 i18n(ja): Add tutorial/6-islands/index.mdx
  src/content/docs/ja/tutorial/6-islands/index.mdx
Labels: i18n

#3790 i18n(ja): Add tutorial/6-islands/1.mdx
  src/content/docs/ja/tutorial/6-islands/1.mdx
Labels: i18n

#3791 i18n(ja): Add tutorial/6-islands/2.mdx
  src/content/docs/ja/tutorial/6-islands/2.mdx
Labels: i18n

#3792 i18n(ja): Add tutorial/6-islands/3.mdx
  src/content/docs/ja/tutorial/6-islands/3.mdx
Labels: i18n

#3551 i18n(ja): Add Japanese tutorial
  src/content/docs/ja/tutorial/0-introduction/1.mdx
  src/content/docs/ja/tutorial/0-introduction/index.mdx
  src/content/docs/ja/tutorial/1-setup/1.mdx
  src/content/docs/ja/tutorial/1-setup/2.mdx
  src/content/docs/ja/tutorial/1-setup/3.mdx
  src/content/docs/ja/tutorial/1-setup/4.mdx
  src/content/docs/ja/tutorial/1-setup/5.mdx
  src/content/docs/ja/tutorial/1-setup/index.mdx
  src/content/docs/ja/tutorial/2-pages/1.mdx
  src/content/docs/ja/tutorial/2-pages/2.mdx
  src/content/docs/ja/tutorial/2-pages/3.mdx
  src/content/docs/ja/tutorial/2-pages/4.mdx
  src/content/docs/ja/tutorial/2-pages/5.mdx
  src/content/docs/ja/tutorial/2-pages/index.mdx
  src/content/docs/ja/tutorial/3-components/1.mdx
  src/content/docs/ja/tutorial/3-components/2.mdx
  src/content/docs/ja/tutorial/3-components/3.mdx
  src/content/docs/ja/tutorial/3-components/4.mdx
  src/content/docs/ja/tutorial/3-components/index.mdx
  src/content/docs/ja/tutorial/4-layouts/1.mdx
  src/content/docs/ja/tutorial/4-layouts/2.mdx
  src/content/docs/ja/tutorial/4-layouts/3.mdx
  src/content/docs/ja/tutorial/4-layouts/index.mdx
  src/content/docs/ja/tutorial/5-astro-api/1.mdx
  src/content/docs/ja/tutorial/5-astro-api/2.mdx
  src/content/docs/ja/tutorial/5-astro-api/3.mdx
  src/content/docs/ja/tutorial/5-astro-api/4.mdx
  src/content/docs/ja/tutorial/5-astro-api/index.mdx
  src/content/docs/ja/tutorial/6-islands/1.mdx
  src/content/docs/ja/tutorial/6-islands/2.mdx
  src/content/docs/ja/tutorial/6-islands/3.mdx
  src/content/docs/ja/tutorial/6-islands/index.mdx
Labels: i18n

#3843 i18n(zh-cn): update guides/configuring-astro.mdx & guides/data-fetching.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/data-fetching.mdx
Labels: i18n

#3842 Remove unused import in `guides/markdown-content.mdx`
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
Labels: i18n

#3697 Clean up package.json
  package.json
Labels: should this be documented?, site improvement

#3837 Document the astro:beforeload event
  src/content/docs/en/guides/view-transitions.mdx
Labels: add new content, merge-on-release

#3892 i18n(pt-BR): Updated `guides/configuring-astro.mdx`
  src/content/docs/pt-br/guides/configuring-astro.mdx
Labels: i18n

#3893 i18n(pt-BR): Updated `guides/data-fetching.mdx`
  src/content/docs/pt-br/guides/data-fetching.mdx
Labels: i18n

#3896 i18n(pt-BR): Updated `guides/rss.mdx`
  src/content/docs/pt-br/guides/rss.mdx
Labels: i18n

#3758 i18n(ru): Create `/core-concepts/routing.mdx` translation
  src/content/docs/ru/core-concepts/routing.mdx
  src/content/docs/ru/guides/data-fetching.mdx
  src/content/docs/ru/tutorial/5-astro-api/2.mdx
  src/content/docs/ru/tutorial/5-astro-api/3.mdx
Labels: i18n

#3845 i18n(zh-cn): Translate `recipes/reading-time.mdx`
  src/content/docs/zh-cn/recipes/reading-time.mdx
Labels: i18n
