Repository withastro/docs, pull requests merged in 2023-05, with the labels that each got.

#3113 i18n(es): Translated `markdown-image-not-found.mdx`
  src/content/docs/es/reference/errors/markdown-image-not-found.mdx
Labels: i18n

#3096 docs: update assets related pages for new configuration shape
  src/content/docs/en/guides/assets.mdx
  src/content/docs/en/reference/image-service-reference.mdx
Labels: improve documentation, merge-on-release

#3130 i18n(es): Translated `from-vuepress.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-vuepress.mdx
Labels: i18n

#3129 i18n(es): Fix translation in `server-side-rendering.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
Labels: i18n

#3116 i18n(es): Translated `from-sveltekit.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#3099 Document Astro.request.method in SSR guide
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: add new content

#3126 i18n(es): Translated `from-eleventy.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-eleventy.mdx
Labels: i18n

#3121 i18n(es): Fix translation in `page-number-param-not-found.mdx`
  src/content/docs/es/reference/errors/page-number-param-not-found.mdx
Labels: i18n

#3109 i18n(zh-cn): Translated `node.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
Labels: i18n

#3114 i18n(es): Translated `expected-image-options.mdx` and `expected-image.mdx`
  src/content/docs/es/reference/errors/expected-image-options.mdx
  src/content/docs/es/reference/errors/expected-image.mdx
Labels: i18n

#3082 fix: translated missing part in `react.mdx`
  src/content/docs/es/guides/integrations-guide/react.mdx
Labels: i18n

#3078 Update framework-components.mdx
  src/content/docs/zh-cn/core-concepts/framework-components.mdx
Labels: i18n

#3136 Fix incorrect Markdown plugins sample code
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#3059 Update troubleshooting.mdx
  src/content/docs/en/guides/troubleshooting.mdx
Labels: add new content

#3075 i18n(fr): Translation of `contribute.mdx`
  src/content/docs/fr/contribute.mdx
Labels: i18n

#2821 Update payload.mdx
  src/content/docs/en/guides/cms/payload.mdx
Labels: add new content

#2851 Update SSR doc to reflect streaming
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: add new content

#3111 document behavior of script tags in JSX expressions
  src/content/docs/en/guides/client-side-scripts.mdx
Labels: add new content

#3148 i18n(es): Fix translation in `layouts.mdx`
  src/content/docs/es/core-concepts/layouts.mdx
Labels: i18n

#3147 i18n(es): Translated `from-jekyll.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-jekyll.mdx
Labels: i18n

#3146 i18n(es): Translated `from-pelican.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#3139 i18n(es): Translated `prefetch.mdx`
  src/content/docs/es/guides/integrations-guide/prefetch.mdx
Labels: i18n

#3138 i18n(es): Translated `preact.mdx`
  src/content/docs/es/guides/integrations-guide/preact.mdx
Labels: i18n

#3137 i18n(es): Translated `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#3135 i18n(es): Translated `from-wordpress.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#3151 i18n(es): Translated `from-gridsome.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gridsome.mdx
Labels: i18n

#3132 i18n(es): Translated `netlify.mdx`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#3077 i18n(pt-BR): Translate `contribute.mdx` and update reference pages
  src/content/docs/pt-br/contribute.mdx
  src/content/docs/pt-br/reference/adapter-reference.mdx
  src/content/docs/pt-br/reference/api-reference.mdx
  src/content/docs/pt-br/reference/configuration-reference.mdx
  src/content/docs/pt-br/reference/directives-reference.mdx
  src/i18n/pt-br/ui.ts
Labels: i18n

#3058 i18n(de): translate `adapter-reference.mdx`
  src/content/docs/de/reference/adapter-reference.mdx
Labels: i18n

#3053 i18n(zh-TW): Add guides/migrate-to-astro.mdx in zh-TW
  src/content/docs/zh-tw/guides/migrate-to-astro.mdx
Labels: i18n

#3046 i18n(de): translate `integrations-reference.mdx`
  src/content/docs/de/reference/integrations-reference.mdx
Labels: i18n

#3160 i18n(es): Translated `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/partytown.mdx
Labels: i18n

#3118 i18n(es): Translated `svelte.mdx`
  src/content/docs/es/guides/integrations-guide/svelte.mdx
Labels: i18n

#3123 i18n(es): Translated `response-sent-error.mdx`
  src/content/docs/es/reference/errors/response-sent-error.mdx
Labels: i18n

#3159 i18n(es): Fix typo in `preact.mdx`
  src/content/docs/es/guides/integrations-guide/preact.mdx
Labels: i18n

#3157 i18n(es): Translated `backend.mdx`
  src/content/docs/es/guides/backend.mdx
Labels: i18n

#2839 Feature: copy code blocks to clipboard
  src/components/CodeSnippet/CodeSnippet.astro
  src/components/CodeSnippet/copy-button.ts
  src/components/CodeSnippet/shiki-block.ts
  src/i18n/en/ui.ts
Labels: site improvement

#3170 [middleware] page draft
  src/content/docs/en/guides/middleware.mdx
  src/i18n/en/nav.ts
Labels: add new content, merge-on-release

#3141 Document Code component new inline prop
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release

#3174 fix: update sharpImageService example to come from the right place
  src/content/docs/en/guides/assets.mdx
Labels: improve documentation, merge-on-release

#3180 i18n(ja): Update editor-setup.mdx
  src/content/docs/ja/editor-setup.mdx
Labels: i18n

#3178 i18n(ja): Add contribute.mdx
  src/content/docs/ja/contribute.mdx
  src/content/docs/ja/getting-started.mdx
Labels: i18n

#3179 i18n(ja): Update getting-started.mdx
  src/content/docs/ja/getting-started.mdx
Labels: i18n

#3166 add Xata recipe to Backend guides
  public/logos/xata.svg
  src/content/docs/en/guides/backend/xata.mdx
  src/data/logos.ts
Labels: add new content

#3158 hot firebase recipe
  src/content/docs/en/guides/backend/google-firebase.mdx
Labels: add new content

#3152 i18n(es): Translated `from-gitbook.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#2856 i18n(es-ES): translated `tutorial-build a blog`
  src/content/docs/es/tutorial/0-introduction/1.mdx
  src/content/docs/es/tutorial/0-introduction/index.mdx
  src/content/docs/es/tutorial/1-setup/1.mdx
  src/content/docs/es/tutorial/1-setup/2.mdx
  src/content/docs/es/tutorial/1-setup/3.mdx
  src/content/docs/es/tutorial/1-setup/4.mdx
  src/content/docs/es/tutorial/1-setup/5.mdx
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/1.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/3.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/1.mdx
  src/content/docs/es/tutorial/5-astro-api/2.mdx
  src/content/docs/es/tutorial/5-astro-api/3.mdx
  src/content/docs/es/tutorial/5-astro-api/4.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
  src/content/docs/es/tutorial/6-islands/2.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
  src/i18n/es/ui.ts
Labels: i18n

#3124 i18n(es): Translated `from-nextjs.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#3212 i18n(es): Fix typo in `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/partytown.mdx
Labels: i18n

#3197 i18n(ko): Translated `project-structure.mdx`
  src/content/docs/ko/core-concepts/project-structure.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3210 i18n(es): Translated `locals-not-serializable.mdx`
  src/content/docs/es/reference/errors/locals-not-serializable.mdx
Labels: i18n

#3203 mention YAML in Markdown
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#3200 Correct middleware docs (see withastro/astro#7010)
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation

#3211 i18n(es): Translated `locals-not-an-object.mdx`
  src/content/docs/es/reference/errors/locals-not-an-object.mdx
Labels: i18n

#3218 Link Firebase pages to each other
  src/content/docs/en/guides/backend/google-firebase.mdx
  src/content/docs/en/guides/deploy/google-firebase.mdx
Labels: improve documentation

#3216 i18n(ja): Update the translation about stubs
  src/content/docs/ja/guides/backend.mdx
  src/content/docs/ja/guides/cms.mdx
  src/content/docs/ja/guides/migrate-to-astro.mdx
Labels: i18n

#3192 Update tsconfig.json
  tsconfig.json
Labels: site improvement

#3219 add recipes as search category
  src/util/getPageCategory.ts
Labels: site improvement

#3220 fix: handle inline highlight due to rehype-optimize-static
  src/components/CodeSnippet/shiki-line.ts
Labels: site improvement

#3227 i18n(pt-BR): translated `backend.mdx`
  src/content/docs/pt-br/guides/backend.mdx
  src/content/docs/pt-br/guides/deploy/netlify.mdx
  src/i18n/pt-br/nav.ts
Labels: i18n

#3209 i18n(es): Translated `middleware-no-data-or-next-called.mdx`
  src/content/docs/es/reference/errors/middleware-no-data-or-next-called.mdx
Labels: i18n

#3171 i18n(es): Translated `from-nuxtjs.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#3182 Use content collections instead of astro.glob [issue 2945]
  src/content/docs/en/guides/imports.mdx
Labels: improve documentation

#3238 i18n(fr): Added `Google Firebase`
  src/content/docs/fr/guides/deploy/google-firebase.mdx
Labels: i18n

#3131 i18n(es): Translated `mdx.mdx`
  src/content/docs/es/core-concepts/astro-pages.mdx
  src/content/docs/es/guides/integrations-guide/mdx.mdx
Labels: i18n

#3245 en-only: fix typo in middleware.mdx
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation

#3221 Improve `<RecipeLinks>` i18n support
  src/components/RecipeLinks.astro
  src/i18n/en/ui.ts
  src/i18n/pt-br/ui.ts
Labels: site improvement

#3195 i18n(ko): Update getting-stated.mdx
  src/content/docs/ko/getting-started.mdx
Labels: i18n

#3232 i18n(ko): Translated `astro-components.mdx`
  src/content/docs/ko/core-concepts/astro-components.mdx
  src/content/docs/ko/core-concepts/astro-pages.mdx
  src/content/docs/ko/core-concepts/project-structure.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3237 Add feature directories to project structure guide
  src/content/docs/en/core-concepts/project-structure.mdx
Labels: add new content

#3247 i18n(ko): Translated guides/aliase.mdx
  src/content/docs/ko/guides/aliases.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3248 i18n(zh-cn): Add 5 error translations
  src/content/docs/zh-cn/reference/errors/invalid-component-args.mdx
  src/content/docs/zh-cn/reference/errors/invalid-prerender-export.mdx
  src/content/docs/zh-cn/reference/errors/no-adapter-installed.mdx
  src/content/docs/zh-cn/reference/errors/no-matching-import.mdx
  src/content/docs/zh-cn/reference/errors/reserved-slot-name.mdx
Labels: i18n

#3149 i18n(zh-cn): fix translation in `react.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n

#3255 i18n(ko): Translated `layouts.mdx`
  src/content/docs/ko/core-concepts/layouts.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3187 Sort tutorial pages by directory name only
  src/util/getTutorialPages.ts
Labels: site improvement

#3233 Data collections and collection references
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release

#3259 First pass of prerender-default hybrid rendering
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: add new content, merge-on-release

#3266 fix: update middleware docs
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation, merge-on-release

#3253 Document custom client directives
  src/content/docs/en/reference/directives-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release

#3290 i18n(es): Update translation `editor-setup.mdx`
  src/content/docs/es/editor-setup.mdx
Labels: i18n

#3291 i18n(es): Update translation `cli-reference.mdx`
  src/content/docs/es/reference/cli-reference.mdx
Labels: i18n

#3293 i18n(es): Translate various pages of errors
  src/content/docs/es/reference/errors/collection-does-not-exist-error.mdx
  src/content/docs/es/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/es/reference/errors/data-collection-entry-parse-error.mdx
  src/content/docs/es/reference/errors/mixed-content-data-collection-error.mdx
Labels: i18n

#3288 i18n(es): Update translation `tina-cms.mdx`
  src/content/docs/es/guides/cms/tina-cms.mdx
Labels: i18n

#3278 i18n(es): Update translation `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3279 i18n(es): Update translation `project-structure.mdx`
  src/content/docs/es/core-concepts/project-structure.mdx
Labels: i18n

#3249 i18n(es): Translated `node.mdx`
  src/content/docs/es/guides/integrations-guide/node.mdx
Labels: i18n

#3294 i18n(es): Fix typo in `react.mdx`
  src/content/docs/es/guides/integrations-guide/react.mdx
Labels: i18n

#3284 Fix code snippet in "Test your knowledge" tutorial section
  src/content/docs/en/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
Labels: typo or grammar fix, i18n, tutorial

#3297 fix: removes wrong inline style info
  src/content/docs/en/reference/directives-reference.mdx
Labels: improve documentation

#3142 i18n(zh-cn): Translated `mdx.mdx`
  src/content/docs/zh-cn/core-concepts/astro-pages.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#3140 i18n(zh-cn): Translated `tailwind.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n

#3270 Markdown Recipe
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/recipes/reading-time.mdx
Labels: recipe

#3292 Update integration docs
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation

#3275 i18n(es): Translated `lit.mdx`
  src/content/docs/es/guides/integrations-guide/lit.mdx
Labels: i18n

#3276 i18n(es): Translated `image.mdx`
  src/content/docs/es/guides/images.mdx
  src/content/docs/es/guides/integrations-guide/image.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#3295 i18n(es): Translate `sitemap.mdx`
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
Labels: i18n

#3214 i18n(es): Multiple pages updates
  src/content/docs/es/core-concepts/endpoints.mdx
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/es/guides/client-side-scripts.mdx
  src/content/docs/es/guides/cms/wordpress.mdx
Labels: i18n

#3316 Hotfix for failing Fontsource API
  src/pages/open-graph/[...path].ts
Labels: site improvement

#3315 Fix Create Page link
  scripts/lib/translation-status/builder.ts
Labels: site improvement

#3234 i18n(fr): Translation of `backend.mdx`
  src/content/docs/fr/guides/backend.mdx
  src/i18n/fr/nav.ts
Labels: i18n

#3325 i18n(ja): Update contribute.mdx
  src/content/docs/ja/contribute.mdx
Labels: i18n

#3229 i18n(es): Update of `google-firebase.mdx`, `kinsta.mdx` & `images.mdx`
  src/content/docs/es/guides/deploy/google-firebase.mdx
  src/content/docs/es/guides/deploy/kinsta.mdx
  src/content/docs/es/guides/images.mdx
Labels: i18n

#3011 i18n(zh-cn): Translate from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#3303 i18n(es): Translated `storyblok.mdx`
  src/content/docs/es/guides/cms/storyblok.mdx
Labels: i18n

#3310 i18n(ja): Fix typo in `guides/cms/storyblok.mdx`
  src/content/docs/ja/guides/cms/storyblok.mdx
Labels: i18n

#3308 i18n(ja): Fix typos in `guides/deploy.mdx`
  src/content/docs/ja/guides/deploy.mdx
Labels: i18n

#3302 i18n(ja): Update astro-components.mdx
  src/content/docs/ja/core-concepts/astro-components.mdx
  src/content/docs/ja/guides/data-fetching.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
Labels: i18n

#3285 RSS Recipe Next Steps
  src/content/docs/en/guides/rss.mdx
Labels: improve documentation

#3306 Add more clarifications for custom slugs that has multiple level for content collections
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3319 fix: remove middleware restriction
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation

#3304 i18n(es): Translated `from-gatsby.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#3321 i18n(ja): Fix code mistakes in `guides/cms/contentful.mdx`
  src/content/docs/ja/guides/cms/contentful.mdx
Labels: i18n

#3222 i18n(es-ES): translated `astro-syntax`
  src/content/docs/es/core-concepts/astro-syntax.mdx
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/es/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/es/reference/directives-reference.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
Labels: i18n

#3350 Link to MDX integration
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3354 content collections `type` only v2.5.0+
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3356 docs: direct users to payloads install instead of home page
  src/content/docs/en/guides/cms/payload.mdx
Labels: improve documentation

#3358 Removed link to missing 404 page
  src/content/docs/en/guides/fonts.mdx
Labels: typo or grammar fix

#3377 Fix typo in `src/content/docs/en/tutorial/5-astro-api/2.mdx`
  src/content/docs/en/tutorial/5-astro-api/2.mdx
Labels: typo or grammar fix, tutorial

#3335 i18n(es): Update `contentful.mdx`
  src/content/docs/es/guides/cms/contentful.mdx
Labels: i18n

#3336 i18n(es): Update `imports.mdx`
  src/content/docs/es/guides/imports.mdx
Labels: i18n

#3337 i18n(es): Update `markdown-content.mdx`
  src/content/docs/es/guides/markdown-content.mdx
Labels: i18n
