Repository withastro/docs, pull requests merged in 2023-08, with the labels that each got.

#3979 i18n(zh-cn): Translate `guides/cms/datocms.mdx`
  src/content/docs/zh-cn/guides/cms/datocms.mdx
Labels: i18n

#3983 i18n(zh-cn): translate frontmatter-cms.mdx
  src/content/docs/zh-cn/guides/cms/frontmatter-cms.mdx
Labels: i18n

#3976 i18n(zh-cn): update outdated error reference pages
  src/content/docs/zh-cn/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-required.mdx
  src/content/docs/zh-cn/reference/errors/image-missing-alt.mdx
  src/content/docs/zh-cn/reference/errors/invalid-component-args.mdx
  src/content/docs/zh-cn/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/zh-cn/reference/errors/invalid-image-service.mdx
  src/content/docs/zh-cn/reference/errors/invalid-prerender-export.mdx
  src/content/docs/zh-cn/reference/errors/missing-image-dimension.mdx
  src/content/docs/zh-cn/reference/errors/no-adapter-installed.mdx
  src/content/docs/zh-cn/reference/errors/no-client-only-hint.mdx
  src/content/docs/zh-cn/reference/errors/no-matching-import.mdx
  src/content/docs/zh-cn/reference/errors/only-response-can-be-returned.mdx
  src/content/docs/zh-cn/reference/errors/page-number-param-not-found.mdx
  src/content/docs/zh-cn/reference/errors/reserved-slot-name.mdx
  src/content/docs/zh-cn/reference/errors/static-client-address-not-available.mdx
  src/content/docs/zh-cn/reference/errors/static-redirect-not-available.mdx
  src/content/docs/zh-cn/reference/errors/unsupported-image-format.mdx
Labels: i18n

#3964 i18n(zh-cn): Update layouts.mdx
  src/content/docs/zh-cn/core-concepts/layouts.mdx
Labels: i18n

#3940 i18n(zh-cn): translate `guides/cms/payload.mdx`
  src/content/docs/zh-cn/guides/cms/payload.mdx
Labels: i18n

#3937 i18n(zh-cn): Translate core-concepts/endpoints、project-structure、sharing-state
  src/content/docs/zh-cn/core-concepts/endpoints.mdx
  src/content/docs/zh-cn/core-concepts/project-structure.mdx
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
Labels: i18n

#3934 i18n(zh-cn): Translate `guides/cms/wordpress.mdx`
  src/content/docs/zh-cn/guides/cms/wordpress.mdx
Labels: i18n

#3922 i18n(zh-cn): Translate `guides/cms/storyblok.mdx`
  src/content/docs/zh-cn/guides/cms/storyblok.mdx
Labels: i18n

#3919 i18n(zh-cn): Translate `guides/cms/tina-cms.mdx`
  src/content/docs/zh-cn/guides/cms/tina-cms.mdx
Labels: i18n

#4000 i18n(zh-cn): update `guides/typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#3918 i18n(zh-cn): Translate `guides/cms/statamic.mdx`
  src/content/docs/zh-cn/guides/cms/statamic.mdx
Labels: i18n

#3902 i18n(zh-cn): add guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#3996 i18n(pt-BR): Updated `guides/deploy/aws.mdx`
  src/content/docs/pt-br/guides/deploy/aws.mdx
Labels: i18n

#3997 i18n(pt-BR): Updated `guides/markdown-content.mdx`
  src/content/docs/pt-br/guides/markdown-content.mdx
Labels: i18n

#4010 i18n(es): Update core-concepts/routing
  src/content/docs/es/core-concepts/routing.mdx
Labels: i18n

#4018 i18n(zh-cn): Update /guides/client-side-scripts.mdx
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#4013 i18n(zh-cn): Update routing.mdx
  src/content/docs/zh-cn/core-concepts/routing.mdx
Labels: i18n

#3908 i18n(zh-cn): translate some migrate docs
  src/content/docs/zh-cn/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gridsome.mdx
Labels: i18n

#3905 i18n(zh-cn): update guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#3890 i18n(zh-cn): translate from-vuepress.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-vuepress.mdx
Labels: i18n

#4021 i18n(pt-BR): Update `core-concepts/routing.mdx` translation
  src/content/docs/pt-br/core-concepts/routing.mdx
Labels: i18n

#4022 i18n(zh-cn): Update api-reference.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#4020 i18n(zh-cn): Translate `guides/deploy/deno.mdx`
  src/content/docs/zh-cn/guides/deploy/deno.mdx
Labels: i18n

#4016 i18n(zh-cn): Translate `guides/deploy/cleavr.mdx`
  src/content/docs/zh-cn/guides/deploy/cleavr.mdx
Labels: i18n

#4015 i18n(zh-cn): Translate `guides/deploy/edgio.mdx`
  src/content/docs/zh-cn/guides/deploy/edgio.mdx
Labels: i18n

#4014 i18n(zh-cn): Translate `guides/deploy/flightcontrol.mdx`
  src/content/docs/zh-cn/guides/deploy/flightcontrol.mdx
Labels: i18n

#4011 i18n(zh-cn): Translate `guides/deploy/microsoft-azure.mdx`
  src/content/docs/zh-cn/guides/deploy/microsoft-azure.mdx
Labels: i18n

#4005 i18n(zh-cn): Translate `guides/deploy/render.mdx`
  src/content/docs/zh-cn/guides/deploy/render.mdx
Labels: i18n

#4004 i18n(zh-cn): Translate `guides/deploy/surge.mdx`
  src/content/docs/zh-cn/guides/deploy/surge.mdx
Labels: i18n

#4008 i18n(zh-cn): Translate `guides/deploy/space.mdx`
  src/content/docs/zh-cn/guides/deploy/space.mdx
Labels: i18n

#4002 i18n(zh-cn): Translate `guides/deploy/heroku.mdx`
  src/content/docs/zh-cn/guides/deploy/heroku.mdx
Labels: i18n

#3951 i18n(pl): Add new `aliases.mdx` translation
  src/content/docs/pl/guides/aliases.mdx
Labels: i18n

#4024 i18n(zh-cn): Update `markdown-content.mdx` `rss.mdx` `server-side-rendering.mdx` `from-nextjs.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/rss.mdx
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
Labels: i18n

#3876 i18n(zh-cn): translate `guide/integrations-guide/netlify.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#3962 i18n(zh-cn): translate from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#4019 i18n(zh-cn): Translate `guides/deploy/aws.mdx`
  src/content/docs/zh-cn/guides/deploy/aws.mdx
Labels: i18n

#4043 i18n(es): Updated `api-reference.mdx`, `netlify.mdx` & `space.mdx`
  src/content/docs/es/guides/deploy/space.mdx
  src/content/docs/es/guides/integrations-guide/netlify.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#4046 i18n(es): Updated `tutorial/2-pages/2.mdx` & `tutorial/2-layouts/2.mdx`
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
Labels: i18n

#4050 i18n(es): Updated `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#4058 i18n(zh-cn): translate reference/image-service-reference.mdx
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#4057 i18n(zh-cn): translate guides/cms/microcms.mdx
  src/content/docs/zh-cn/guides/cms/microcms.mdx
Labels: i18n

#4056 i18n(zh-cn): translate /guides/cms/caisy.mdx
  src/content/docs/zh-cn/guides/cms/caisy.mdx
Labels: i18n

#4055 i18n(zh-cn): Update `guides/deploy/vercel.mdx`
  src/content/docs/zh-cn/guides/deploy/vercel.mdx
Labels: i18n

#4054 i18n(zh-cn): Update `guides/view-transition.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#4053 i18n(zh-cn): Update api-reference.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#3900 i18n(zh-cn): translate guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#4059 remove trailing comma in `tsconfig`
  src/content/docs/de/guides/typescript.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/install/manual.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/fr/install/manual.mdx
  src/content/docs/it/install/manual.mdx
  src/content/docs/ja/install/manual.mdx
  src/content/docs/ko/install/manual.mdx
  src/content/docs/pl/install/manual.mdx
  src/content/docs/pt-br/guides/typescript.mdx
  src/content/docs/pt-br/install/manual.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/install/manual.mdx
Labels: improve documentation, i18n

#4061 Update documentation for Docker
  src/content/docs/en/recipes/docker.mdx
Labels: improve documentation

#3788 Migration Guide - Create React App
  public/logos/create-react-app.svg
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/data/logos.ts
Labels: add new content

#4063 i18n(fr): WordPress guide
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#4062 i18n(es): Updated `astro-components.mdx` & `docker.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/recipes/docker.mdx
Labels: i18n

#4066 Modify Github's suggestion syntax in the Chinese migration doc
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#4047 i18n(ja): Update install/manual.mdx
  src/content/docs/ja/install/manual.mdx
Labels: i18n

#4064 i18n(ja): Update integrations/integrations.mdx
  src/content/docs/ja/integrations/integrations.mdx
Labels: i18n

#3357 Add builder cms integration guide
  src/content/docs/en/guides/cms/builderio.mdx
Labels: add new content, recipe

#4089 i18n(ja): Update editor-setup.mdx
  src/content/docs/ja/editor-setup.mdx
Labels: i18n

#4086 i18n(es): Update `environment-variables.mdx` & `manual.mdx`
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/install/manual.mdx
Labels: i18n

#4073 i18n(es): Translate `from-create-react-app.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#4081 i18n(pt-BR): Updated `/guides/[pages]`
  src/content/docs/pt-br/guides/client-side-scripts.mdx
  src/content/docs/pt-br/guides/deploy/aws.mdx
  src/content/docs/pt-br/guides/deploy/flightcontrol.mdx
  src/content/docs/pt-br/guides/deploy/heroku.mdx
  src/content/docs/pt-br/guides/deploy/kinsta.mdx
  src/content/docs/pt-br/guides/deploy/netlify.mdx
  src/content/docs/pt-br/guides/deploy/vercel.mdx
  src/content/docs/pt-br/guides/images.mdx
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/rss.mdx
  src/content/docs/pt-br/guides/server-side-rendering.mdx
  src/content/docs/pt-br/guides/styling.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
  src/content/docs/pt-br/guides/typescript.mdx
  src/content/docs/pt-br/guides/upgrade-to/v2.mdx
Labels: i18n

#4082 i18n(pt-BR): Updated `/core-concepts/[pages]`
  src/content/docs/pt-br/core-concepts/framework-components.mdx
  src/content/docs/pt-br/core-concepts/layouts.mdx
  src/content/docs/pt-br/core-concepts/project-structure.mdx
  src/content/docs/pt-br/core-concepts/routing.mdx
  src/content/docs/pt-br/core-concepts/sharing-state.mdx
Labels: i18n

#4083 i18n(pt-BR): Updated `/reference/[pages]`
  src/content/docs/pt-br/reference/adapter-reference.mdx
  src/content/docs/pt-br/reference/api-reference.mdx
  src/content/docs/pt-br/reference/cli-reference.mdx
  src/content/docs/pt-br/reference/configuration-reference.mdx
  src/content/docs/pt-br/reference/directives-reference.mdx
  src/content/docs/pt-br/reference/errors/config-not-found.mdx
Labels: i18n

#4084 i18n(pt-BR): Updated `/install/auto.mdx`
  src/content/docs/pt-br/install/auto.mdx
Labels: i18n

#4085 i18n(pt-BR): Updated `/contribute.mdx`
  src/content/docs/pt-br/contribute.mdx
Labels: i18n

#4087 i18n(pt-BR): Updated `/core-concepts/astro-components.mdx`
  src/content/docs/pt-br/core-concepts/astro-components.mdx
Labels: i18n

#4088 i18n(pt-BR): Updated `guides/environment-variables.mdx`
  src/content/docs/pt-br/guides/environment-variables.mdx
Labels: i18n

#4093 i18n(es): Updated `deno.mdx`, `lit.mdx` & `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/deno.mdx
  src/content/docs/es/guides/integrations-guide/lit.mdx
  src/content/docs/es/guides/integrations-guide/partytown.mdx
Labels: i18n

#4098 i18n(pt-BR): Updated `guides/integrations-guide/deno.mdx`
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
Labels: i18n

#4099 i18n(pt-BR): Updated `reference/error-reference.mdx`
  src/content/docs/pt-br/reference/error-reference.mdx
Labels: i18n

#4080 [migrate-to-astro] content-first wording updates
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-sveltekit.mdx
Labels: improve documentation

#3950 Changes endpoints.mdx
  src/content/docs/en/core-concepts/endpoints.mdx
Labels: improve documentation, should this be documented?

#3966 🐛 fix(#3313): adds ResponseInit shape
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation

#4113 i18n(es): Updated `netlify.mdx` & `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
  src/content/docs/es/guides/integrations-guide/partytown.mdx
Labels: i18n

#3512 Create 1.mdx
  src/content/docs/fr/tutorial/0-introduction/1.mdx
Labels: i18n

#4091 i18n(es): Translated `invalid-get-static-paths-entry` & updated `error-reference.mdx`
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/invalid-get-static-paths-entry.mdx
Labels: i18n

#4090 i18n(zh-cn): translate `guides/integrations-guide/cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4077 i18n(zh-cn): update guides/integrations-guide/tailwind.mdx
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n

#4075 i18n(zh-cn): update guides/integrations-guide/node.mdx
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
Labels: i18n

#4074 i18n(zh-cn): update guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#4072 i18n(zh-cn): Translate `reference/errors/generate-content-types-error.mdx`
  src/content/docs/zh-cn/reference/errors/generate-content-types-error.mdx
Labels: i18n

#4071 i18n(zh-cn): Translate `reference/errors/locals-not-serializable.mdx`
  src/content/docs/zh-cn/reference/errors/locals-not-serializable.mdx
Labels: i18n

#4067 i18n(zh-cn): Update `recipes/docker.mdx` since #4061
  src/content/docs/zh-cn/recipes/docker.mdx
Labels: i18n

#3597 i18n(zh-cn): translate tutorial
  src/content/docs/zh-cn/tutorial/0-introduction/1.mdx
  src/content/docs/zh-cn/tutorial/0-introduction/index.mdx
  src/content/docs/zh-cn/tutorial/1-setup/1.mdx
  src/content/docs/zh-cn/tutorial/1-setup/2.mdx
  src/content/docs/zh-cn/tutorial/1-setup/3.mdx
  src/content/docs/zh-cn/tutorial/1-setup/4.mdx
  src/content/docs/zh-cn/tutorial/1-setup/5.mdx
  src/content/docs/zh-cn/tutorial/1-setup/index.mdx
  src/content/docs/zh-cn/tutorial/2-pages/1.mdx
  src/content/docs/zh-cn/tutorial/2-pages/2.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
  src/content/docs/zh-cn/tutorial/2-pages/4.mdx
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
  src/content/docs/zh-cn/tutorial/2-pages/index.mdx
  src/content/docs/zh-cn/tutorial/3-components/1.mdx
  src/content/docs/zh-cn/tutorial/3-components/2.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
  src/content/docs/zh-cn/tutorial/3-components/4.mdx
  src/content/docs/zh-cn/tutorial/3-components/index.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/3.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/index.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/2.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/index.mdx
  src/content/docs/zh-cn/tutorial/6-islands/1.mdx
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
  src/content/docs/zh-cn/tutorial/6-islands/index.mdx
Labels: i18n

#4069 i18n(zh-cn): Translate `reference/errors/markdown-content-schema-validation-error.mdx`
  src/content/docs/zh-cn/reference/errors/markdown-content-schema-validation-error.mdx
Labels: i18n

#4105 i18n(pt-BR): Created `guides/cms/caisy.mdx`
  src/content/docs/pt-br/guides/cms/caisy.mdx
Labels: i18n

#4124 i18n(zh-cn): Translate deno.mdx
  src/content/docs/zh-cn/guides/integrations-guide/deno.mdx
Labels: i18n

#4123 i18n(zh-cn): Update netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#4121 i18n(zh-cn): Update `core-concepts/endpoints.mdx`
  src/content/docs/zh-cn/core-concepts/endpoints.mdx
Labels: i18n

#4130 Remove authentication recipe
  src/content/docs/en/recipes.mdx
Labels: improve documentation

#4129 Add recipes on implementing authentication with Lucia
  src/content/docs/en/recipes.mdx
Labels: add new content, recipe

#4115 Issue #4101 Fix.
  src/content/docs/en/editor-setup.mdx
  src/content/docs/it/editor-setup.mdx
  src/content/docs/ja/editor-setup.mdx
  src/content/docs/ko/editor-setup.mdx
  src/content/docs/pl/editor-setup.mdx
  src/content/docs/pt-br/editor-setup.mdx
  src/content/docs/ru/editor-setup.mdx
  src/content/docs/zh-cn/editor-setup.mdx
  src/content/docs/zh-tw/editor-setup.mdx
Labels: improve documentation, i18n

#4096 Update astro-expressive-code dependency
  package.json
  pnpm-lock.yaml
Labels: site improvement

#4120 i18n(zh-cn): update from-next、form-nuxt、form-sveltekit
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#4119 i18n(zh-cn): Update error reference and translate `invalid-get-static-paths-entry.mdx`
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/invalid-get-static-paths-entry.mdx
Labels: i18n

#4111 i18n(zh-cn): update `environment-variables.mdx`
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#4104 i18n(pt-BR): Updated `reference/api-reference.mdx`
  src/content/docs/pt-br/reference/api-reference.mdx
Labels: i18n

#4139 i18n(es): Updated `editor-setup.mdx` & `sitemap.mdx`
  src/content/docs/es/editor-setup.mdx
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
Labels: i18n

#4102 Fix broken link to 'reading time' example
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3991 Add "Add Last Modified Time" recipe
  src/content/docs/en/recipes/modified-time.mdx
Labels: recipe

#4140 i18n(es): Updated `lit.mdx`, `recipes.mdx` & `api-reference.mdx`
  src/content/docs/es/guides/integrations-guide/lit.mdx
  src/content/docs/es/recipes.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#4125 i18n(zh-cn): Translate lit.mdx
  src/content/docs/zh-cn/guides/integrations-guide/lit.mdx
Labels: i18n

#4138 i18n(zh-cn): translate guides/integrations-guide/partytown.mdx
  src/content/docs/zh-cn/guides/integrations-guide/partytown.mdx
Labels: i18n

#4136 i18n(zh-cn): update recipes.mdx
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#4116 i18n(zh-cn): translate `guides/integrations-guide/alpinejs.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#4131 i18n(pt-BR): Updated `core-concepts/endpoints.mdx`
  src/content/docs/pt-br/core-concepts/endpoints.mdx
Labels: i18n

#2982 i18n(zh-cn): Translated astro-syntax.mdx
  src/content/docs/zh-cn/core-concepts/astro-syntax.mdx
  src/content/docs/zh-cn/guides/content-collections.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
  src/content/docs/zh-cn/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/zh-cn/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/zh-cn/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
  src/content/docs/zh-cn/tutorial/2-pages/4.mdx
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n

#4127 i18n(zh-cn): Translate markdoc.mdx
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#4026 i18n(it): added translation to "update to v2"
  src/content/docs/it/guides/upgrade-to/v2.mdx
Labels: i18n

#4108 i18n(zh-cn): Translate `from-create-react-app.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#4159 i18n(zh-cn): translate guides/integrations-guide/prefetch.mdx
  src/content/docs/zh-cn/guides/integrations-guide/prefetch.mdx
Labels: i18n

#4157 i18n(zh-cn): translate `\guides\cms\contentful.mdx`
  src/content/docs/zh-cn/guides/cms/contentful.mdx
Labels: i18n

#4165 i18n(zh-cn): translate guides/integrations-guide/image.mdx
  src/content/docs/zh-cn/guides/integrations-guide/image.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#3998 i18n(pt-BR): Translate `guides/content-collections.mdx`
  src/content/docs/pt-br/guides/content-collections.mdx
  src/content/docs/pt-br/guides/imports.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/reference/api-reference.mdx
Labels: i18n

#4117 i18n(pt-BR): Translate tutorial `0-introduction/`
  src/content/docs/pt-br/tutorial/0-introduction/1.mdx
  src/content/docs/pt-br/tutorial/0-introduction/index.mdx
Labels: i18n

#4097 脱字の訂正 / Correction of omissions
  src/content/docs/ja/core-concepts/framework-components.mdx
Labels: i18n

#4154 i18n(es): Updated `markdoc.mdx`
  src/content/docs/es/guides/integrations-guide/markdoc.mdx
Labels: i18n

#3969 Add translation about stub in layout
  src/i18n/en/ui.ts
  src/i18n/zh-cn/ui.ts
  src/layouts/BackendLayout.astro
  src/layouts/CMSLayout.astro
  src/layouts/MigrationLayout.astro
Labels: site improvement

#4160 i18n(it): translate docs/concepts/why-astro.mdx
  src/content/docs/it/concepts/why-astro.mdx
Labels: i18n

#4156 i18n(zh-cn): translate guides/integrations-guide/preact.mdx
  src/content/docs/zh-cn/guides/integrations-guide/preact.mdx
Labels: i18n

#4178 i18n(zh-cn): Update `integrations-guide/cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4179 i18n(zh-cn): Update `configuration-astro.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n

#4152 i18n(it): add sharing state recipe
  src/content/docs/it/recipes/sharing-state.mdx
Labels: i18n

#4186 i18n(es): Update `cloudflare.mdx` & `recipes.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#4185 i18n(es): Update `endpoints.mdx` & `configuring-astro.mdx`
  src/content/docs/es/core-concepts/endpoints.mdx
  src/content/docs/es/guides/configuring-astro.mdx
Labels: i18n

#4184 i18n(it): Added 'MPA vs SPA' page
  src/content/docs/it/concepts/mpa-vs-spa.mdx
Labels: i18n

#4190 i18n(it): translate docs/guides/backend.mdx
  src/content/docs/it/guides/backend.mdx
Labels: i18n

#4200 i18n(it): Added translation of `guides/backend/supabase`
  src/content/docs/it/guides/backend/supabase.mdx
Labels: i18n

#4195 i18n(it): translate docs/concepts/islands.mdx
  src/content/docs/it/concepts/islands.mdx
Labels: i18n

#4173 i18n(ja): Update guides/imports.mdx
  src/content/docs/ja/guides/imports.mdx
Labels: i18n

#4205 i18n(pt-BR): Update `core-concepts/endpoints.mdx` translation
  src/content/docs/pt-br/core-concepts/endpoints.mdx
Labels: i18n

#4203 i18n(pt-BR): Update `recipes.mdx` translation
  src/content/docs/pt-br/recipes.mdx
Labels: i18n

#4204 i18n(pt-BR): Update `guides/configuring-astro.mdx` translation
  src/content/docs/pt-br/guides/configuring-astro.mdx
Labels: i18n

#4202 i18n(pt-BR): Update `configuration-reference.mdx` translation
  src/content/docs/pt-br/reference/configuration-reference.mdx
Labels: i18n

#4180 i18n(zh-cn): Update `recipes/i18n.mdx`
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#3881 [ja-only] fix small typo and spelling inconsitency
  src/content/docs/ja/guides/server-side-rendering.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
  src/i18n/ja/README.md
Labels: i18n

#4134 i18n(fr): update concepts/why-astro.mdx
  src/content/docs/fr/concepts/why-astro.mdx
Labels: i18n

#4216 Fix typo in font usage guide for Spanish documentation
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#4223 Docs: updated yarn install with yarn add while adding new packages
  src/content/docs/en/guides/backend/google-firebase.mdx
  src/content/docs/es/guides/backend/google-firebase.mdx
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#4219 i18n(zh-cn): Update `guides/integrations-guide/netlify.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#4218 i18n(zh-cn): Update `guides/environment-variables.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#4221 i18n(es): Fix typo in `tutorial/0-introduction/index.mdx`
  src/content/docs/es/tutorial/0-introduction/index.mdx
Labels: i18n

#4214 i18n(es): Updated `environment-variables.mdx` & `netlify.mdx`
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#4006 Track UI translations
  scripts/lib/translation-status/builder.ts
  scripts/lib/translation-status/types.ts
  src/i18n/translation-checkers.ts
Labels: site improvement

#4233 bug: disable formatting rule (temp)
  scripts/lib/translation-status/builder.ts
Labels: bug

#4224 i18n(zh-cn): Update `integrations-guide/netfliy.mdx` and `integrations-guide/sitemap.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n

#4222 i18n(ja): Remove en text for ja
  src/content/docs/ja/tutorial/5-astro-api/1.mdx
Labels: i18n

#4137 i18n(ru): Add new core-concepts/astro-syntax.mdx translation
  src/content/docs/ru/core-concepts/astro-syntax.mdx
  src/content/docs/ru/tutorial/2-pages/3.mdx
  src/content/docs/ru/tutorial/2-pages/4.mdx
  src/content/docs/ru/tutorial/2-pages/5.mdx
Labels: i18n

#4151 I18n/ru/core concepts/client side scripts and middlewares
  src/content/docs/ru/guides/client-side-scripts.mdx
  src/content/docs/ru/guides/middleware.mdx
Labels: i18n

#4232 Add pt-BR translation for i18n recipe
  src/content/docs/pt-br/recipes/i18n.mdx
Labels: i18n

#4149 i18n(it): Translated recipes page
  src/content/docs/it/recipes.mdx
Labels: i18n

#4231 i18n(ko): delete extra space
  src/content/docs/ko/concepts/why-astro.mdx
Labels: i18n
