Repository withastro/docs, pull requests merged in 2023-12, with the labels that each got.

#5310 i18n(ja) Translate kinsta.mdx
  src/content/docs/ja/guides/deploy/kinsta.mdx
Labels: i18n

#5517 i18n(ja): Update `/guides/deploy/google-firebase.mdx`
  src/content/docs/ja/guides/deploy/google-firebase.mdx
Labels: i18n

#5513 i18n(ja): Update `/guides/deploy/github.mdx`
  src/content/docs/ja/guides/deploy/github.mdx
Labels: i18n

#5503 Add Cypress and Playwright instructions to bun testing
  src/content/docs/en/recipes/bun.mdx
Labels: add new content

#5547 Update typescript.mdx
  src/content/docs/en/guides/typescript.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#5550 update glossary branch
  src/content/docs/en/guides/internationalization.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/content/docs/en/reference/errors/image-missing-alt.mdx
  src/content/docs/es/guides/integrations-guide/netlify.mdx
  src/content/docs/es/guides/middleware.mdx
  src/content/docs/es/reference/adapter-reference.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#5554 Fix stylying and formatting on API reference
  src/content/docs/en/reference/api-reference.mdx
Labels: typo/link/grammar - quick fix!, code snippet update, consistency/formatting

#5545 i18n(fr): Add `cms/strapi.mdx` in French language
  src/content/docs/fr/guides/cms/strapi.mdx
Labels: i18n

#4360 i18n(ko): translate rss.mdx
  src/content/docs/ko/guides/rss.mdx
Labels: i18n, Merge Queue

#5544 i18n(ja): Update `/guides/deploy/microsoft-azure.mdx`
  src/content/docs/ja/guides/deploy/microsoft-azure.mdx
Labels: i18n

#5529 glossary: add “Components” and "Islands"
  contributor-guides/glossary.md
Labels: glossary

#5570 fix `submit` `events` in v4 upgrade guide
  src/content/docs/en/guides/upgrade-to/v4.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#5559 Added missing language for code block
  src/content/docs/en/recipes/dynamically-importing-images.mdx
Labels: code snippet update, Merge Queue

#5543 i18n(ja): Update `/guides/deploy/netlify.mdx`
  src/content/docs/ja/guides/deploy/netlify.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#5562 i18n(fr) Update `get-static-paths-removed-rsshelper.mdx`
  src/content/docs/fr/reference/errors/get-static-paths-removed-rsshelper.mdx
Labels: i18n

#5565 i18n(fr) Update `middleware.mdx`
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n, Merge Queue

#5564 i18n(fr) Update `migrate-to-astro.mdx`
  src/content/docs/fr/guides/migrate-to-astro.mdx
Labels: i18n, Merge Queue

#5573 i18n(fr) Create French translation `content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/content/docs/fr/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
Labels: i18n

#5576 i18n(fr) Update minor multiple files
  src/content/docs/fr/core-concepts/astro-syntax.mdx
  src/content/docs/fr/core-concepts/sharing-state.mdx
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#5579 i18n(fr) Update islands.mdx
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/guides/migrate-to-astro.mdx
Labels: i18n, Merge Queue

#5580 i18n(fr) Update contribute.mdx
  src/content/docs/fr/contribute.mdx
Labels: i18n, Merge Queue

#5582 Update middleware.mdx
  src/content/docs/en/guides/middleware.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#5583 i18n(fr): Add `guides/cms/storyblok` in French language
  src/content/docs/fr/guides/cms/storyblok.mdx
Labels: i18n

#5584 i18n(fr) Create `add-content-collections.mdx`
  src/content/docs/fr/tutorials/add-content-collections.mdx
Labels: i18n

#5592 i18n(fr): Add guides/cms/kontent-ai in French language
  src/content/docs/fr/guides/cms/kontent-ai.mdx
Labels: i18n

#5588 i18n(fr) Add french translation for `ghost.mdx`
  src/content/docs/fr/guides/cms/ghost.mdx
Labels: i18n

#5590 i18n(fr) Add french translation for `statamic.mdx`
  src/content/docs/fr/guides/cms/statamic.mdx
Labels: i18n

#5589 i18n(fr) Add french translation for `hygraph.mdx`
  src/content/docs/fr/guides/cms/hygraph.mdx
Labels: i18n

#5558 i18n(zh-cn): translate dynamically importing images
  src/content/docs/zh-cn/recipes/dynamically-importing-images.mdx
Labels: i18n

#5596 i18n(ja): Update `/guides/backend/xata.mdx`
  src/content/docs/ja/guides/backend/xata.mdx
Labels: i18n

#5601 i18n(es): Update `tutorial/`
  src/content/docs/es/tutorial/1-setup/1.mdx
  src/content/docs/es/tutorial/1-setup/5.mdx
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/5-astro-api/4.mdx
Labels: i18n

#5526 feat(i18n): add documentation for custom paths
  src/content/docs/en/guides/internationalization.mdx
Labels: add new content, merge-on-release, 4.0, Merge Queue

#5600 Add API reference for locale keys - merge after new ci Run!
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, 4.0, Merge Queue

#5512 Add `astro preferences` CLI reference
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release, 4.0, Merge Queue

#5585 Fix incorrect endpoint return values in API Reference
  src/content/docs/en/reference/api-reference.mdx
Labels: merge-on-release, code snippet update, 4.0, Merge Queue

#5540 Edit view transitions forms section for v4
  src/content/docs/en/guides/view-transitions.mdx
Labels: merge-on-release, 4.0, Merge Queue

#5541 [i18nIgnore] Rename Dev Overlay to Dev Toolbar
  src/content/docs/en/reference/dev-overlay-plugin-reference.mdx
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
  src/i18n/en/nav.ts
  src/i18n/es/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/hi/nav.ts
  src/i18n/ko/nav.ts
  src/i18n/zh-cn/nav.ts
  vercel.json
Labels: i18n, add new content, merge-on-release, 4.0, Merge Queue

#5475 [i18nIgnore] Rename entryPoint to entrypoint
  src/content/docs/de/reference/integrations-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
  src/content/docs/pt-br/reference/integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n, merge-on-release, 4.0, Merge Queue

#5614 [i18nIgnore] Move `contributor-guides/` links to AD²
  .github/hacktoberfest.md
  README.md
  scripts/lib/translation-status/template.html
  src/components/starlight/TableOfContents.astro
  src/content/docs/ar/contribute.mdx
  src/content/docs/ar/getting-started.mdx
  src/content/docs/de/contribute.mdx
  src/content/docs/de/recipes.mdx
  src/content/docs/en/recipes.mdx
  src/content/docs/es/contribute.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/es/recipes.mdx
  src/content/docs/fr/contribute.mdx
  src/content/docs/fr/getting-started.mdx
  src/content/docs/fr/recipes.mdx
  src/content/docs/hi/getting-started.mdx
  src/content/docs/it/contribute.mdx
  src/content/docs/it/getting-started.mdx
  src/content/docs/it/recipes.mdx
  src/content/docs/ja/contribute.mdx
  src/content/docs/ja/getting-started.mdx
  src/content/docs/ja/recipes.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/pt-br/contribute.mdx
  src/content/docs/pt-br/getting-started.mdx
  src/content/docs/pt-br/recipes.mdx
  src/content/docs/ru/recipes.mdx
  src/content/docs/zh-cn/contribute.mdx
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/recipes.mdx
  src/content/docs/zh-tw/getting-started.mdx
  src/i18n/ja/README.md
  src/i18n/zh-cn/README.md
  src/i18n/zh-tw/README.md
Labels: i18n, 4.0, Merge Queue

#5598 i18n(ja): Update nav.ts
  src/i18n/ja/nav.ts
Labels: i18n, 4.0, Merge Queue

#5605 Add 4.0 announcement banner & update sidebar - merge last!
  src/content/docs/en/getting-started.mdx
  src/i18n/en/nav.ts
Labels: merge-on-release, 4.0, Merge Queue

#5597 i18n(ja): Update contribute.mdx
  src/content/docs/ja/contribute.mdx
Labels: i18n, Merge Queue

#5610 Bring back heading anchor links
  astro.config.ts
  package.json
  plugins/rehype-autolink.ts
  pnpm-lock.yaml
  src/components/starlight/MarkdownContent.astro
Labels: site improvement, Merge Queue

#5609 i18n(ja): Update getting-started.mdx
  src/content/docs/ja/getting-started.mdx
  src/i18n/ja/README.md
  src/i18n/ja/nav.ts
Labels: i18n

#5647 i18n(es): Update `nav.ts`
  src/i18n/es/nav.ts
Labels: i18n

#5650 i18n(zh-CN): cleanup `guides\content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#5533 i18n(zh-CN): update `configuration-reference.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#5641 i18n(zh-cn): Update astro-components.mdx etc.
  src/content/docs/zh-cn/core-concepts/astro-components.mdx
  src/content/docs/zh-cn/core-concepts/astro-syntax.mdx
  src/content/docs/zh-cn/core-concepts/framework-components.mdx
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
  src/content/docs/zh-cn/guides/cms/caisy.mdx
  src/content/docs/zh-cn/guides/cms/kontent-ai.mdx
  src/content/docs/zh-cn/guides/deploy.mdx
  src/content/docs/zh-cn/guides/deploy/github.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/testing.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/tutorial/1-setup/1.mdx
  src/content/docs/zh-cn/tutorial/1-setup/5.mdx
  src/content/docs/zh-cn/tutorial/1-setup/index.mdx
  src/content/docs/zh-cn/tutorial/2-pages/1.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
  src/content/docs/zh-cn/tutorial/3-components/4.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
Labels: i18n

#5648 i18n(zh-cn): Update server-side-rendering.mdx
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
Labels: i18n

#5646 i18n(zh-cn): Update bun.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#5637 i18n(zh-cn): Update getting-started.mdx
  src/content/docs/zh-cn/getting-started.mdx
Labels: i18n

#5640 i18n(zh-cn): Update contribute.mdx
  src/content/docs/zh-cn/contribute.mdx
Labels: i18n

#5643 i18n(zh-cn): Update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#5644 i18n(zh-cn): Update error-reference
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/content/docs/zh-cn/reference/errors/image-missing-alt.mdx
Labels: i18n

#5638 i18n(zh-cn): Update nav.ts & ui.ts
  src/i18n/zh-cn/nav.ts
  src/i18n/zh-cn/ui.ts
Labels: i18n

#5636 i18n(ja): Update Japanese translation guide
  src/i18n/ja/README.md
Labels: i18n

#5632 i18n(es): fix typos in `why-astro.mdx`
  src/content/docs/es/concepts/why-astro.mdx
Labels: i18n

#5628 i18n(fr): Update the `getting-started`
  src/content/docs/fr/getting-started.mdx
Labels: i18n

#5624 i18n(pt-BR): Update `getting-started.mdx`
  src/content/docs/pt-br/getting-started.mdx
Labels: i18n

#5615 i18n(ja): Update editor-setup.mdx
  src/content/docs/ja/editor-setup.mdx
Labels: i18n

#5613 i18n(ja): Update ui.ts
  src/i18n/ja/ui.ts
Labels: i18n

#5658 Update internationalization.mdx
  src/content/docs/en/guides/internationalization.mdx
Labels: typo/link/grammar - quick fix!

#5608 i18n(ja): Update `/guides/cms/buttercms.mdx`
  src/content/docs/ja/guides/cms/buttercms.mdx
Labels: i18n

#5611 i18n(ja): Update `/guides/cms/contentful.mdx`
  src/content/docs/ja/guides/cms/contentful.mdx
Labels: i18n

#5683 i18n(fr) Update french translation `framework-components.mdx`
  src/content/docs/fr/core-concepts/framework-components.mdx
Labels: i18n

#5629 Consistent quotes in the internationalization guide
  src/content/docs/en/guides/internationalization.mdx
Labels: code snippet update, Merge Queue

#5693 fix(docs): shorten meaninglessly long code
  src/content/docs/en/guides/upgrade-to/v4.mdx
Labels: typo/link/grammar - quick fix!

#5691 Update image-service-reference.mdx
  src/content/docs/en/reference/image-service-reference.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#5698 Update layouts.mdx
  src/content/docs/en/core-concepts/layouts.mdx
Labels: code snippet update, Merge Queue

#5675 i18n(pt-BR): Uncomment 4.0 banner
  src/content/docs/pt-br/getting-started.mdx
Labels: i18n

#5694 i18n(ja): Update islands.mdx
  src/content/docs/ja/concepts/islands.mdx
Labels: i18n

#5639 i18n(zh-cn): Update install/auto.mdx
  src/content/docs/zh-cn/install/auto.mdx
Labels: i18n

#5699 i18n(es): Fix typo in `rendering-modes.mdx`
  src/content/docs/es/core-concepts/rendering-modes.mdx
Labels: i18n

#5685 i18n(fr) Update french translation `auto.mdx`
  src/content/docs/fr/install/auto.mdx
Labels: i18n

#5707 Make hero layout more robust
  src/components/starlight/Hero.astro
  src/components/starlight/Hero/FacePile.astro
Labels: site improvement

#5676 Add integration page headers
  astro.config.ts
  src/components/starlight/PageTitle.astro
Labels: site improvement

#5718 i18n(es): Fix typo in `rss.mdx`
  src/content/docs/es/guides/rss.mdx
Labels: i18n, Merge Queue

#5688 i18n(ko-KR): update `bun.mdx`
  src/content/docs/ko/recipes/bun.mdx
Labels: i18n, Merge Queue

#5674 Update 3.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
Labels: i18n, Merge Queue

#5672 i18n(ko-KR): update `install/auto.mdx`
  src/content/docs/ko/install/auto.mdx
Labels: i18n, Merge Queue

#5671 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n, Merge Queue

#5659 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n, Merge Queue

#5607 i18n(ko-KR): update `ui.ts`
  src/i18n/ko/ui.ts
Labels: i18n, Merge Queue

#5703 i18n(ko-KR): add `cms.mdx`
  src/content/docs/ko/guides/cms.mdx
Labels: i18n

#5702 i18n(ko-KR): add `migrate-to-astro.mdx`
  src/content/docs/ko/guides/migrate-to-astro.mdx
Labels: i18n

#5670 i18n(ko-KR): update `testing.mdx`
  src/content/docs/ko/guides/testing.mdx
Labels: i18n

#5663 i18n(ko-KR): update `astro-syntax.mdx`
  src/content/docs/ko/core-concepts/astro-syntax.mdx
Labels: i18n

#5668 i18n(ko-KR): update `environment-variable.mdx`
  src/content/docs/ko/guides/environment-variables.mdx
Labels: i18n

#5619 i18n(hi): update `getting-started.mdx`
  src/content/docs/hi/getting-started.mdx
Labels: i18n

#5665 i18n(ko-KR): update `getting-started.mdx`
  src/content/docs/ko/getting-started.mdx
Labels: i18n

#5664 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#5714 i18n(zh-cn): update `guides/deploy/deno.mdx`
  src/content/docs/zh-cn/guides/deploy/deno.mdx
Labels: i18n

#5716 i18n(zh-cn): update `guides/integrations-guide/vercel.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#5719 i18n(es): Update `astro-components.mdx`, `astro-syntax.mdx`, `frameworks-components.mdx` & `layouts.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/core-concepts/astro-syntax.mdx
  src/content/docs/es/core-concepts/framework-components.mdx
  src/content/docs/es/core-concepts/layouts.mdx
Labels: i18n

#5722 i18n(zh-cn): update `core-concepts/layouts.mdx`
  src/content/docs/zh-cn/core-concepts/layouts.mdx
Labels: i18n

#5712 Update astro-components.mdx
  src/content/docs/en/core-concepts/astro-components.mdx
Labels: code snippet update, Merge Queue

#5679 Fix a mixed-up sentence in add-view-transitions.mdx
  src/content/docs/en/tutorials/add-view-transitions.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#5731 Update add-content-collections.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
Labels: code snippet update, Merge Queue

#5630 [en-only] Clarify SSR for bun recipe
  src/content/docs/en/recipes/bun.mdx
Labels: improve documentation, Merge Queue

#5725 i18n(es): `integracions-guide.mdx`, `imports.mdx`, `view-transitions.mdx` & `from-create-react-app.mdx`
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/integrations-guide.mdx
  src/content/docs/es/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#5717 i18n(es): Translate `v4.mdx`
  src/content/docs/es/guides/upgrade-to/v4.mdx
Labels: i18n

#5735 i18n(es): Fix `getting-started.mdx`
  src/content/docs/es/getting-started.mdx
Labels: i18n

#5734 Update from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
Labels: Merge Queue

#5732 fix: remove extra title from deploy guides
  src/components/DeployGuidesNav.astro
  src/components/starlight/MarkdownContent.astro
  src/content/docs/en/guides/deploy.mdx
Labels: site improvement, Merge Queue

#5604 Add note about having to run `astro build` before `astro preview`
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, Merge Queue

#5737 Add `glossary` label to labeler action
  .github/labeler.yml
Labels: glossary

#5621 Fixes site title UX issues
  src/components/starlight/SiteTitle.astro
Labels: site improvement

#5727 [i18nIgnore] remove unused listener in sharing state recipe
  src/content/docs/en/recipes/sharing-state.mdx
  src/content/docs/es/recipes/sharing-state.mdx
  src/content/docs/fr/recipes/sharing-state.mdx
  src/content/docs/it/recipes/sharing-state.mdx
  src/content/docs/pt-br/recipes/sharing-state.mdx
  src/content/docs/zh-cn/recipes/sharing-state.mdx
Labels: i18n

#5742 i18n(es): Update why-astro.mdx
  src/content/docs/es/concepts/why-astro.mdx
Labels: typo/link/grammar - quick fix!, i18n, Merge Queue

#5747 i18n(es): update `configuring-astro.mdx`
  src/content/docs/es/guides/configuring-astro.mdx
Labels: i18n

#5746 i18n(es): update `astro-components.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
Labels: i18n

#5745 i18n(es): update `contribute.mdx`
  src/content/docs/es/contribute.mdx
Labels: i18n

#5752 i18n(es): update `mdx.mdx`
  src/content/docs/es/guides/integrations-guide/mdx.mdx
Labels: i18n, Merge Queue

#5748 i18n(es): update `deploy.mdx`
  src/content/docs/es/guides/deploy.mdx
Labels: i18n

#5750 i18n(es): update `deno.mdx`
  src/content/docs/es/guides/deploy/deno.mdx
Labels: i18n

#5751 i18n(es): update `github.mdx` (typo)
  src/content/docs/es/guides/deploy/github.mdx
Labels: i18n, Merge Queue

#5749 i18n(es): update `aws.mdx`
  src/content/docs/es/guides/deploy/aws.mdx
Labels: i18n

#5754 i18n(es): update `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#5755 i18n(es): update `middleware.mdx`
  src/content/docs/es/guides/middleware.mdx
Labels: i18n

#5756 i18n(es): update `from-create-react-app.mdx` (typos)
  src/content/docs/es/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#5757 i18n(es): already updated `from-gatsby.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#5760 i18n(es): update `typescript.mdx`
  src/content/docs/es/guides/typescript.mdx
Labels: i18n

#5767 i18n(es): update `image-missing-alt.mdx`
  src/content/docs/es/reference/errors/image-missing-alt.mdx
Labels: i18n

#5770 i18n(es): update `dynamically-importing-images.mdx` (typo)
  src/content/docs/es/recipes/dynamically-importing-images.mdx
Labels: i18n, Merge Queue

#5764 i18n(es): update `1.mdx` (typo)
  src/content/docs/es/tutorial/2-pages/1.mdx
Labels: i18n, Merge Queue

#5763 i18n(es): update `add-content-collections.mdx`
  src/content/docs/es/tutorials/add-content-collections.mdx
Labels: i18n, Merge Queue

#5762 i18n(es): update `adapter-reference.mdx`
  src/content/docs/es/reference/adapter-reference.mdx
Labels: i18n, Merge Queue

#5733 add: favicon to head in template
  scripts/lib/translation-status/template.html
Labels: site improvement, Merge Queue

#5689 i18n(ko-KR): add `contribute.mdx`
  src/content/docs/ko/contribute.mdx
Labels: i18n

#5753 i18n(es): update `node.mdx`
  src/content/docs/es/guides/integrations-guide/node.mdx
Labels: i18n

#5758 i18n(es): update `from-nuxtjs.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#5759 i18n(es): update `testing.mdx`
  src/content/docs/es/guides/testing.mdx
Labels: i18n

#5740 Update Astro to v4 and Starlight to v0.15
  package.json
  plugins/rehype-autolink.ts
  plugins/rehype-optimize-static.ts
  pnpm-lock.yaml
  scripts/generate-integration-pages.ts
  src/components/internal/rehype-file-tree.ts
Labels: site improvement

#5711 fix(tabs): disable the smooth scrolling
  src/components/tabs/Tabs.astro
Labels: site improvement

#5741 Simplify site title styling and logic
  astro.config.ts
  src/assets/astro-logo-dark.svg
  src/assets/astro-logo-light.svg
  src/assets/astro-logo.svg
  src/assets/docs.svg
  src/components/starlight/SiteTitle.astro
Labels: site improvement, a11y

#5772 [i18nIgnore] Fix type errors
  scripts/docgen.mjs
  src/i18n/ar/nav.ts
  src/i18n/de/nav.ts
  src/i18n/es/nav.ts
  src/i18n/hi/nav.ts
  src/i18n/it/nav.ts
  src/i18n/pl/nav.ts
  src/i18n/ru/nav.ts
  src/i18n/translation-checkers.ts
  src/i18n/zh-tw/nav.ts
Labels: i18n

#5765 fix: add spacing to 'added in' texts
  src/content/docs/en/core-concepts/astro-pages.mdx
  src/content/docs/en/core-concepts/routing.mdx
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/internationalization.mdx
  src/content/docs/en/guides/rss.mdx
  src/content/docs/en/guides/styling.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/guides/view-transitions.mdx
  src/content/docs/en/reference/adapter-reference.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/image-service-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: site improvement, Merge Queue

#5778 Remove unused CSS
  src/components/StarlightBanner.astro
Labels: site improvement

#5793 Add import to i18n recipe - translateRoutes
  src/content/docs/en/recipes/i18n.mdx
Labels: code snippet update, Merge Queue

#5785 Update highlighted lines and indentation in dev-toolbar-app-reference.mdx
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: code snippet update, Merge Queue

#5783 Add temporary glossary location to `glossary` label action
  .github/labeler.yml
Labels: Merge Queue

#5784 Fix malfunctioning code snippet in captcha.mdx
  src/content/docs/en/recipes/captcha.mdx
Labels: code snippet update, Merge Queue

#5796 Update pull request template to Astro version 4
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 4.0

#5769 i18n(es): update `bun.mdx`
  src/content/docs/es/recipes/bun.mdx
Labels: i18n, Merge Queue

#5768 i18n(es): update `auto.mdx` & `configuration-reference.mdx`
  src/content/docs/es/install/auto.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#5788 i18n(es): Update multiple pages
  src/content/docs/es/core-concepts/astro-pages.mdx
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/guides/content-collections.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/es/guides/rss.mdx
  src/content/docs/es/guides/styling.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/guides/view-transitions.mdx
  src/content/docs/es/reference/adapter-reference.mdx
  src/content/docs/es/reference/api-reference.mdx
  src/content/docs/es/reference/cli-reference.mdx
  src/content/docs/es/reference/image-service-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n, Merge Queue

#5660 i18n(ko-KR): update `why-astro.mdx`
  src/content/docs/ko/concepts/why-astro.mdx
Labels: i18n

#5661 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/core-concepts/astro-components.mdx
Labels: i18n

#5692 i18n(ko-KR): add `upgrade-to/v4.mdx`
  src/content/docs/ko/guides/upgrade-to/v4.mdx
Labels: i18n, Merge Queue

#5690 i18n(ko-KR): add `rendering-modes.mdx`
  src/content/docs/ko/core-concepts/rendering-modes.mdx
Labels: i18n, Merge Queue
