Repository withastro/docs, pull requests merged in 2023-02, with the labels that each got.

#2529 i18n(zh-cn): fix typo Miscrosoft -> Microsoft
  src/pages/zh-cn/editor-setup.mdx
Labels: i18n

#2530 i18n(zh-cn): fix wrong translation
  src/pages/zh-cn/guides/environment-variables.mdx
Labels: i18n

#2531 i18n(zh-cn): fix typo & delete redundant English
  src/pages/zh-cn/core-concepts/sharing-state.mdx
Labels: i18n

#2520 Update Contributor Manual fork maintenance with GitHub UI instructions (en-only)
  CONTRIBUTING.md
Labels: improve documentation

#2516 Remove "Save" button reference in GitHub Pages deploy guide
  src/pages/en/guides/deploy/github.mdx
Labels: improve documentation

#2538 Add `withastro` keyword to npm publishing guide
  src/pages/en/reference/publish-to-npm.mdx
Labels: improve documentation

#2528 i18n(ru): added translations of nav and ui items
  src/i18n/ru/nav.ts
  src/i18n/ru/ui.ts
Labels: i18n

#2510 Included common gotcha on script and style import
  src/pages/en/guides/troubleshooting.mdx
Labels: improve documentation

#2511 Add `id` attribute explanation.
  src/pages/en/guides/content-collections.mdx
Labels: improve documentation

#2535 Check types with `tsc` in CI
  .github/workflows/ci.yml
  integrations/astro-asides.ts
  integrations/utils/isMDX.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-integration-pages.ts
  scripts/lib/linkcheck/base/base.ts
  scripts/lib/linkcheck/base/check.ts
  scripts/lib/linkcheck/base/issue.ts
  scripts/lib/linkcheck/base/page.ts
  scripts/lib/linkcheck/steps/build-index.ts
  scripts/lib/linkcheck/steps/find-issues.ts
  scripts/lib/linkcheck/steps/optional-autofix.ts
  scripts/lib/linkcheck/steps/output-issues.ts
  src/components/tabs/useTabState.ts
  src/i18n/ar/ui.ts
  src/i18n/de/nav.ts
  src/i18n/es/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/pt-br/nav.ts
  src/i18n/zh-tw/nav.ts
  src/util-server.ts
  src/util/getGithubEditUrl.ts
  src/util/groupPagesByLang.ts
Labels: site improvement, ci, 🚨 action

#2543 i18n(zh-cn): remove x
  src/pages/zh-cn/guides/cms.mdx
Labels: i18n

#2541 i18n(fr): Translation of `cms.mdx`
  src/pages/fr/guides/cms.mdx
Labels: i18n

#2501 Content Collections Migration Guide
  src/pages/en/guides/content-collections.mdx
Labels: add new content

#2485 Clarify Markdown layout props in Markdown guide
  src/pages/en/guides/markdown-content.mdx
Labels: improve documentation

#2539 Add note about prerendering MDX files
  src/pages/en/guides/server-side-rendering.mdx
Labels: improve documentation

#2569 Add info about JetBrains Astro plugin
  src/pages/en/editor-setup.mdx
Labels: improve documentation

#2568 i18n(ja): Update layouts.mdx
  src/pages/ja/core-concepts/layouts.mdx
Labels: i18n

#2567 i18n(ja): Update configuring-astro.mdx
  src/pages/ja/guides/configuring-astro.mdx
Labels: i18n

#2571 Update ghost.mdx
  src/pages/en/guides/cms/ghost.mdx
Labels: improve documentation

#2573 fix the answer in tutorial question with minor addition (en-only) [i18nIgnore]
  src/pages/en/tutorial/2-pages/3.mdx
Labels: tutorial

#2557 i18n(ja): Add migrate-to-astro.mdx
  src/pages/ja/guides/migrate-to-astro.mdx
Labels: i18n

#2578 i18n(es): Update of `markdown-content.mdx`, `content-schema-containts-slug-error.mdx`, `invalid-content-entry-slug-error.mdx` and `publish-to-npm.mdx`
  src/pages/es/guides/markdown-content.mdx
  src/pages/es/reference/errors/content-schema-contains-slug-error.mdx
  src/pages/es/reference/errors/invalid-content-entry-slug-error.mdx
  src/pages/es/reference/publish-to-npm.mdx
Labels: i18n

#2519 i18n(es): Update of `api.reference.mdx`.
  src/pages/es/reference/api-reference.mdx
Labels: i18n

#2350 i18n(fr): Update rss.mdx
  src/pages/fr/guides/imports.mdx
  src/pages/fr/guides/rss.mdx
Labels: i18n

#2522 i18n(es): Add `invalid-component-args.mdx`
  src/pages/es/reference/error-reference.mdx
  src/pages/es/reference/errors/invalid-component-args.mdx
Labels: i18n

#2552 i18n(pt-BR): Add `sst.mdx` translation plus more small updates
  src/pages/pt-br/editor-setup.mdx
  src/pages/pt-br/guides/configuring-astro.mdx
  src/pages/pt-br/guides/deploy/sst.mdx
  src/pages/pt-br/guides/markdown-content.mdx
  src/pages/pt-br/guides/troubleshooting.mdx
  src/pages/pt-br/reference/publish-to-npm.mdx
Labels: i18n

#2523 i18n(pt-BR): Update deploy pages & `api-reference.mdx` translations
  src/pages/pt-br/guides/deploy/cloudflare.mdx
  src/pages/pt-br/guides/deploy/github.mdx
  src/pages/pt-br/guides/deploy/gitlab.mdx
  src/pages/pt-br/guides/deploy/kinsta.mdx
  src/pages/pt-br/guides/deploy/render.mdx
  src/pages/pt-br/reference/api-reference.mdx
Labels: i18n

#2472 i18n(pt-BR): Small translation updates
  src/pages/pt-br/core-concepts/layouts.mdx
  src/pages/pt-br/core-concepts/sharing-state.mdx
  src/pages/pt-br/guides/server-side-rendering.mdx
  src/pages/pt-br/guides/testing.mdx
Labels: i18n

#2581 Client directive disclaimer: component must be imported
  src/pages/en/reference/directives-reference.mdx
Labels: improve documentation

#2570 i18n(fr): Translation of `client-side-scripts.mdx`
  src/pages/fr/guides/client-side-scripts.mdx
Labels: i18n

#2525 i18n(pt-BR): Add error reference pages translations PART ONE
  src/pages/pt-br/reference/error-reference.mdx
  src/pages/pt-br/reference/errors/client-address-not-available.mdx
  src/pages/pt-br/reference/errors/config-legacy-key.mdx
  src/pages/pt-br/reference/errors/config-not-found.mdx
  src/pages/pt-br/reference/errors/content-schema-contains-slug-error.mdx
  src/pages/pt-br/reference/errors/csssyntax-error.mdx
  src/pages/pt-br/reference/errors/failed-to-load-module-ssr.mdx
  src/pages/pt-br/reference/errors/generate-content-types-error.mdx
  src/pages/pt-br/reference/errors/get-static-paths-expected-params.mdx
  src/pages/pt-br/reference/errors/get-static-paths-invalid-route-param.mdx
Labels: i18n

#2551 i18n(pt-BR): Add error reference pages translations PART TWO
  src/pages/pt-br/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/pages/pt-br/reference/errors/get-static-paths-required.mdx
  src/pages/pt-br/reference/errors/invalid-component-args.mdx
  src/pages/pt-br/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/pages/pt-br/reference/errors/invalid-content-entry-slug-error.mdx
  src/pages/pt-br/reference/errors/invalid-frontmatter-injection-error.mdx
  src/pages/pt-br/reference/errors/invalid-get-static-path-param.mdx
  src/pages/pt-br/reference/errors/invalid-get-static-paths-return.mdx
  src/pages/pt-br/reference/errors/invalid-glob.mdx
  src/pages/pt-br/reference/errors/invalid-prerender-export.mdx
  src/pages/pt-br/reference/errors/markdown-content-schema-validation-error.mdx
  src/pages/pt-br/reference/errors/markdown-frontmatter-parse-error.mdx
Labels: i18n

#2556 i18n(pt-BR): Add error reference pages translations PART THREE
  src/pages/pt-br/reference/errors/mdx-integration-missing-error.mdx
  src/pages/pt-br/reference/errors/missing-media-query-directive.mdx
  src/pages/pt-br/reference/errors/no-adapter-installed.mdx
  src/pages/pt-br/reference/errors/no-client-entrypoint.mdx
  src/pages/pt-br/reference/errors/no-client-only-hint.mdx
  src/pages/pt-br/reference/errors/no-matching-import.mdx
  src/pages/pt-br/reference/errors/no-matching-renderer.mdx
  src/pages/pt-br/reference/errors/no-matching-static-path-found.mdx
  src/pages/pt-br/reference/errors/only-response-can-be-returned.mdx
  src/pages/pt-br/reference/errors/page-number-param-not-found.mdx
  src/pages/pt-br/reference/errors/reserved-slot-name.mdx
  src/pages/pt-br/reference/errors/static-client-address-not-available.mdx
  src/pages/pt-br/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#2554 i18n(zh-cn): Add page `/guides/deploy/gitlab.mdx`
  src/pages/zh-cn/guides/deploy/gitlab.mdx
Labels: i18n

#2548 i18n(ru): translation of data-fetching and aliases pages
  src/pages/ru/concepts/why-astro.mdx
  src/pages/ru/guides/aliases.mdx
  src/pages/ru/guides/data-fetching.mdx
Labels: i18n

#2560 i18n(es): Update troubleshooting.mdx
  src/pages/es/guides/troubleshooting.mdx
Labels: i18n

#2576 i18n(ja): Update astro-pages.mdx
  src/pages/ja/core-concepts/astro-pages.mdx
Labels: i18n

#2582 i18n(zh-cn): [rss] Add to package on GitHub
  src/pages/zh-cn/guides/rss.mdx
Labels: i18n

#2589 i18n(zh-cn): update `mpa-vs-spa`
  src/pages/zh-cn/concepts/mpa-vs-spa.mdx
Labels: i18n

#2572 i18n(pl): Polish translation of the editor-setup page
  src/pages/pl/editor-setup.mdx
Labels: i18n

#2602 fix: code example for built-in html attributes
  src/pages/en/guides/typescript.mdx
  src/pages/es/guides/typescript.mdx
  src/pages/ja/guides/typescript.mdx
  src/pages/pt-br/guides/typescript.mdx
  src/pages/zh-cn/guides/typescript.mdx
Labels: i18n

#2580 Redirect api reference
  src/pages/en/reference/api-reference.mdx
Labels: improve documentation

#2599 i18n(pl): Translation of /install/auto page into Polish
  src/pages/pl/install/auto.mdx
Labels: i18n

#2343 i18n(fr): Update astro-pages.mdx
  src/pages/fr/core-concepts/astro-pages.mdx
Labels: i18n

#2600 i18n(zh-cn): update `getting-started` (v2 release)
  src/pages/zh-cn/getting-started.mdx
Labels: i18n

#2604 i18n(es): Update of multiple pages.
  src/pages/es/editor-setup.mdx
  src/pages/es/guides/configuring-astro.mdx
  src/pages/es/guides/data-fetching.mdx
  src/pages/es/guides/environment-variables.mdx
  src/pages/es/guides/images.mdx
  src/pages/es/guides/rss.mdx
  src/pages/es/guides/server-side-rendering.mdx
  src/pages/es/reference/api-reference.mdx
  src/pages/es/reference/directives-reference.mdx
  src/pages/es/reference/error-reference.mdx
Labels: i18n

#2630 i18n(zh-cn): Translate content.mdx
  src/pages/zh-cn/guides/content.mdx
Labels: i18n

#2595 i18n(zh-cn): update configuration-reference.mdx
  src/pages/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#2617 i18n(zh-cn): Update publish-to-npm.mdx
  src/pages/zh-cn/reference/publish-to-npm.mdx
Labels: i18n

#2650 i18n(zh-cn): fix comma typo
  src/pages/zh-cn/guides/styling.mdx
Labels: i18n

#2647 i18n(zh-cn): update publish to npm guide
  src/pages/zh-cn/reference/publish-to-npm.mdx
Labels: i18n

#2579 Storyblok Revision: Home page and blogPost filtering
  src/pages/en/guides/cms/storyblok.mdx
Labels: improve documentation

#2631 GCP Deploy guide update
  src/components/DeployGuidesNav.astro
  src/pages/en/guides/deploy/google-cloud.mdx
Labels: add new content

#2632 docs: markdown content: Add section about how to customize the plugins
  src/pages/en/guides/markdown-content.mdx
Labels: add new content

#2655 i18n(zh-cn): update publish to npm guide
  src/pages/zh-cn/reference/publish-to-npm.mdx
Labels: i18n

#2614 i18n(es): Translated `page-number-param-not-found.mdx`
  src/pages/es/reference/errors/page-number-param-not-found.mdx
Labels: i18n

#2633 i18n(zh-cn): Fix syntax typo in manual install guide
  src/pages/zh-cn/install/manual.mdx
Labels: i18n

#2651 i18n(zh-cn): Update project-structure.mdx
  src/pages/zh-cn/core-concepts/project-structure.mdx
Labels: i18n

#2654 i18n(es): Multiple updates
  src/content/docs/es/guides/deploy/cloudflare.mdx
  src/content/docs/es/guides/deploy/vercel.mdx
  src/content/docs/es/guides/integrations-guide.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/testing.mdx
  src/content/docs/es/install/auto.mdx
Labels: i18n

#2667 i18n(zh-cn): fix typo
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n

#2657 i18n(zh-cn): Update integrations API
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#2679 i18n(de): Move translated file to correct location
  src/content/docs/de/guides/migrate-to-astro.mdx
Labels: i18n

#2684 Contentful: Correct code sample
  src/content/docs/en/guides/cms/contentful.mdx
Labels: improve documentation

#2640 i18n(fr): Translation of `buddy.mdx`
  src/content/docs/fr/guides/deploy/buddy.mdx
Labels: i18n

#2644 i18n(ja): Update editor-setup.mdx
  src/content/docs/ja/editor-setup.mdx
Labels: i18n

#2583 i18n(zh-cn): Add `error-reference.mdx` and 4 error page translations
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/no-matching-static-path-found.mdx
  src/content/docs/zh-cn/reference/errors/only-response-can-be-returned.mdx
  src/content/docs/zh-cn/reference/errors/static-client-address-not-available.mdx
  src/content/docs/zh-cn/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#2695 i18n(es): Update of `sst.mdx`
  src/content/docs/es/guides/deploy/sst.mdx
Labels: i18n

#2625 I18n(ru): Translation of env variables, editor setup, fonts, testing
  src/content/docs/ru/editor-setup.mdx
  src/content/docs/ru/guides/environment-variables.mdx
  src/content/docs/ru/guides/fonts.mdx
  src/content/docs/ru/guides/testing.mdx
Labels: i18n

#2653 i18n(ko): Translation of `getting-started` and scaffolding stuff
  scripts/github-translation-status.mjs
  src/content/docs/ko/getting-started.mdx
  src/i18n/ko/README.md
  src/i18n/ko/docsearch.ts
  src/i18n/ko/nav.ts
  src/i18n/ko/ui.ts
  src/i18n/languages.ts
Labels: i18n

#2692 Delay loading Feedback Fish script until button is visible
  src/components/tutorial/FeedbackButton.astro
Labels: site improvement

#2646 Add note about the `allowJs` tsconfig compiler option in `content-collections.mdx`
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#2660 i18n(fr): Translation of `guides/testing.mdx`
  src/content/docs/fr/guides/testing.mdx
  src/i18n/fr/nav.ts
Labels: i18n

#2717 i18n(ja):Update framework-components.mdx
  src/content/docs/ja/core-concepts/framework-components.mdx
Labels: i18n

#2665 i18n(zh-cn): Update install guide
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-cn/install/auto.mdx
  src/content/docs/zh-cn/install/manual.mdx
Labels: i18n

#2720 [i18nIgnore] feat: Correct TypeScript spelling
  src/content/docs/en/guides/testing.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/es/core-concepts/project-structure.mdx
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/reference/api-reference.mdx
  src/content/docs/fr/install/manual.mdx
  src/content/docs/ru/guides/testing.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: typo or grammar fix, i18n

#2685 Remove "private pages" in Excluding Pages
  src/content/docs/en/core-concepts/routing.mdx
Labels: improve documentation

#2723 Update example for Generating Pages
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: improve documentation

#2705 Remark-toc heading disclaimer
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#2682 Add english tina-cms page (#2681)
  public/logos/tina-cms.svg
  src/content/docs/en/guides/cms/tina-cms.mdx
  src/data/logos.ts
Labels: add new content

#2711 Prompt for git initialization last
  src/content/docs/en/tutorial/1-setup/2.mdx
Labels: tutorial

#2690 Extending `window` and `globalThis`
  src/content/docs/en/guides/typescript.mdx
Labels: add new content

#2731 Migrate i18n Translation Status from GitHub issue to HTML output
  .github/workflows/translation-status.yml
  .npmrc
  netlify.toml
  package.json
  scripts/github-translation-status.mjs
  scripts/lib/translation-status/template.html
  scripts/lib/translation-status/types.ts
  scripts/lib/translation-status/utils.ts
  scripts/translation-status.ts
Labels: 🚨 action

#2686 i18n(de): Translate imports.mdx
  src/content/docs/de/guides/imports.mdx
Labels: i18n

#2675 i18n(fr): Translation of `images.mdx`
  src/content/docs/fr/guides/images.mdx
Labels: i18n

#2694 i18n(zh-cn): Update `integrations-guide.mdx` and `troubleshooting.mdx`
  src/content/docs/zh-cn/guides/integrations-guide.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#2740 i18n(de): navigation route name
  src/i18n/de/nav.ts
Labels: i18n

#2741 [i18nIgnore]Fix typo and grammar
  src/content/docs/zh-cn/guides/testing.mdx
  src/i18n/ar/ui.ts
  src/i18n/en/ui.ts
  src/i18n/es/ui.ts
  src/i18n/ja/ui.ts
  src/i18n/pl/ui.ts
  src/i18n/pt-br/ui.ts
Labels: typo or grammar fix, i18n

#2734 i18n(es): Translated pages
  src/content/docs/es/reference/errors/unknown-clierror.mdx
  src/content/docs/es/reference/errors/unknown-compiler-error.mdx
  src/content/docs/es/reference/errors/unknown-config-error.mdx
  src/content/docs/es/reference/errors/unknown-content-collection-error.mdx
Labels: i18n

#2730 i18n(es): Translated `v2.mdx`
  src/content/docs/es/guides/upgrade-to/v2.mdx
Labels: i18n

#2736 i18n(es): More translated pages
  src/content/docs/es/reference/errors/unknown-csserror.mdx
  src/content/docs/es/reference/errors/unknown-markdown-error.mdx
  src/content/docs/es/reference/errors/unknown-vite-error.mdx
Labels: i18n

#2689 docs: add testing guide for cypress
  src/content/docs/en/guides/testing.mdx
Labels: add new content

#2701 i18n(ko): Translate install/auto.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/ko/install/auto.mdx
  src/i18n/ko/README.md
  src/i18n/ko/nav.ts
Labels: i18n

#2758 [i18nIgnore] Add new subpage handling logic
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/LeftSidebar/SidebarContent.astro
  src/content/docs/es/core-concepts/sharing-state.mdx
  src/content/docs/es/guides/rss.mdx
  src/content/docs/fr/core-concepts/sharing-state.mdx
  src/content/docs/fr/guides/rss.mdx
  src/content/docs/ja/guides/rss.mdx
  src/content/docs/pt-br/core-concepts/sharing-state.mdx
  src/content/docs/pt-br/guides/rss.mdx
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
  src/content/docs/zh-cn/guides/rss.mdx
  src/util.ts
  src/util/getPageCategory.ts
  src/util/isSubPage.ts
Labels: i18n
