Repository withastro/docs, pull requests merged in 2023-06, with the labels that each got.

#3342 i18n(es): Update `generate-content-types-error.mdx`
  src/content/docs/es/reference/errors/generate-content-types-error.mdx
Labels: i18n

#3341 i18n(es): Update `testing.mdx`
  src/content/docs/es/guides/testing.mdx
Labels: i18n

#3387 i18n(fr): create error code references part 2
  src/content/docs/fr/reference/errors/config-legacy-key.mdx
  src/content/docs/fr/reference/errors/config-not-found.mdx
  src/content/docs/fr/reference/errors/invalid-frontmatter-injection-error.mdx
  src/content/docs/fr/reference/errors/markdown-frontmatter-parse-error.mdx
  src/content/docs/fr/reference/errors/mdx-integration-missing-error.mdx
  src/content/docs/fr/reference/errors/unknown-config-error.mdx
  src/content/docs/fr/reference/errors/unknown-markdown-error.mdx
Labels: i18n

#3386 i18n(fr): create error code references part 1
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/collection-does-not-exist-error.mdx
  src/content/docs/fr/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/fr/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/fr/reference/errors/csssyntax-error.mdx
  src/content/docs/fr/reference/errors/data-collection-entry-parse-error.mdx
  src/content/docs/fr/reference/errors/generate-content-types-error.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-slug-error.mdx
  src/content/docs/fr/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/fr/reference/errors/unknown-clierror.mdx
  src/content/docs/fr/reference/errors/unknown-content-collection-error.mdx
  src/content/docs/fr/reference/errors/unknown-csserror.mdx
Labels: i18n

#3384 i18n(fr): Update `contribute.mdx` and `getting-started.mdx` translations
  src/content/docs/fr/contribute.mdx
  src/content/docs/fr/getting-started.mdx
Labels: i18n

#3383 i18n(es): Translated `astro-glob-no-match.mdx` && `astro-glob-used-outside.mdx`
  src/content/docs/es/reference/errors/astro-glob-no-match.mdx
  src/content/docs/es/reference/errors/astro-glob-used-outside.mdx
Labels: i18n

#3371 i18n(zh-cn): Update manual.mdx
  src/content/docs/zh-cn/install/manual.mdx
Labels: i18n

#3370 i18n(zh-cn): Update editor-setup.mdx
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#3369 i18n(zh-cn): Update getting-started.mdx
  src/content/docs/zh-cn/getting-started.mdx
Labels: i18n

#3368 i18n(zh-cn): Update contribute.mdx
  src/content/docs/zh-cn/contribute.mdx
Labels: i18n

#3367 i18n(zh-cn): Update cloudflare.mdx
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#3366 i18n(es): Fix typo in `routing.mdx`
  src/content/docs/es/core-concepts/routing.mdx
Labels: i18n

#3364 i18n(es): Update `middleware-no-data-or-next-called.mdx`
  src/content/docs/es/reference/errors/middleware-no-data-or-next-called.mdx
Labels: i18n

#3363 i18n(es): Update `content-schema-contains-slug-error.mdx`
  src/content/docs/es/reference/errors/content-schema-contains-slug-error.mdx
Labels: i18n

#3362 i18n(es): Update `locals-not-an-object.mdx`
  src/content/docs/es/reference/errors/locals-not-an-object.mdx
Labels: i18n

#3361 i18n(es): Translated `local-image-used-wrongly.mdx`
  src/content/docs/es/reference/errors/local-image-used-wrongly.mdx
Labels: i18n

#3359 i18n(es): Update `fonts.mdx`
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#3351 i18n(es): Fix typos in `tutorial`
  src/content/docs/es/tutorial/0-introduction/1.mdx
  src/content/docs/es/tutorial/0-introduction/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
Labels: i18n

#3346 i18n(es): Update `static-client-address-not-available.mdx` && `static-redirect-not-available.mdx`
  src/content/docs/es/reference/errors/static-client-address-not-available.mdx
  src/content/docs/es/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#3345 i18n(es): Update `no-adapter-installed.mdx`
  src/content/docs/es/reference/errors/no-adapter-installed.mdx
Labels: i18n

#3344 i18n(es): Update `invalid-image-service.mdx`
  src/content/docs/es/reference/errors/invalid-image-service.mdx
Labels: i18n

#3343 i18n(es): Update `image-missing-alt.mdx`
  src/content/docs/es/reference/errors/image-missing-alt.mdx
Labels: i18n

#3338 i18n(es): Update `rss.mdx`
  src/content/docs/es/guides/rss.mdx
Labels: i18n

#3397 gitbook link to Markdoc will change on release
  src/content/docs/en/guides/migrate-to-astro/from-gitbook.mdx
Labels: typo or grammar fix, merge-on-release

#3410 i18n(es): Update `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/partytown.mdx
Labels: i18n

#3409 i18n(es): Update `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3408 i18n(es): Update `mdx.mdx`
  src/content/docs/es/guides/integrations-guide/mdx.mdx
Labels: i18n

#3406 i18n(es): Update `middleware-not-aresponse.mdx`, `response-sent-error.mdx` && `unsupported-image-format.mdx`
  src/content/docs/es/reference/errors/middleware-not-aresponse.mdx
  src/content/docs/es/reference/errors/response-sent-error.mdx
  src/content/docs/es/reference/errors/unsupported-image-format.mdx
Labels: i18n

#3404 i18n(es): Update `api-reference.mdx`
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#3405 i18n(es): Update `error-reference.mdx`
  src/content/docs/es/reference/error-reference.mdx
Labels: i18n

#3403 i18n(es): Update `adapter-reference.mdx`
  src/content/docs/es/reference/adapter-reference.mdx
Labels: i18n

#3399 i18n(es): Update `styling.mdx`
  src/content/docs/es/guides/styling.mdx
Labels: i18n

#3402 i18n(es): Update `manual.mdx`
  src/content/docs/es/install/manual.mdx
Labels: i18n

#3400 i18n(es): Update `typescript.mdx`
  src/content/docs/es/guides/typescript.mdx
Labels: i18n

#3380 i18n(pt-br): Translate deno.mdx
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
Labels: i18n

#3385 i18n(es): update configuration-reference.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/reference/directives-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#3389 i18n(zh-cn): Translate backend.mdx
  src/content/docs/zh-cn/guides/backend.mdx
Labels: i18n

#3172 Use optional chaining to ensure posts can be found
  src/content/docs/en/tutorial/5-astro-api/2.mdx
Labels: tutorial

#3413 i18n(es): Updated `publish-to-npm.mdx`
  src/content/docs/es/reference/publish-to-npm.mdx
Labels: i18n

#3414 Fixing content collections guide "Accessing referenced data" example
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#3154 docs(endpoints): added new example for returning buffers from endpoints
  src/content/docs/en/core-concepts/endpoints.mdx
Labels: improve documentation

#3392 [fix] Create new folder and add files for contributor guides
  contributor-guides/ translating-astro-docs.md
  contributor-guides/astro-maintainers-guide-to-docs.md
  contributor-guides/submitting-a-recipe.md
  contributor-guides/support-squad-guide-to-docs.md
  contributor-guides/writing-and-style-guide.md
Labels: improve documentation

#3412 i18n(es): Updated `tutorial/5-astro-api/2.mdx`
  src/content/docs/es/tutorial/5-astro-api/2.mdx
Labels: i18n

#3374 Elaborate more on the route priority order
  src/content/docs/en/core-concepts/routing.mdx
Labels: improve documentation

#3401 Update NGINX example
  src/content/docs/en/recipes/docker.mdx
Labels: improve documentation

#3415 i18n(es): Updated `endpoints.mdx`
  src/content/docs/es/core-concepts/endpoints.mdx
Labels: i18n

#3407 i18n(zh-cn): Update github.mdx
  src/content/docs/zh-cn/guides/deploy/github.mdx
Labels: i18n

#3379 i18n(pl): Update editor-setup.mdx, getting-started.mdx, manual.mdx
  src/content/docs/pl/editor-setup.mdx
  src/content/docs/pl/getting-started.mdx
  src/content/docs/pl/guides/upgrade-to/v2.mdx
  src/content/docs/pl/install/manual.mdx
Labels: i18n

#3376 Remove experimental flag for custom client directives
  src/content/docs/en/reference/directives-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release

#3331 update: remove experimental wording about middleware
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release

#3355 Document inline stylesheets
  src/content/docs/en/guides/styling.mdx
Labels: add new content, merge-on-release

#3395 Document new Redirects feature
  src/content/docs/en/core-concepts/routing.mdx
  src/content/docs/en/guides/cms/contentful.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/en/recipes/i18n.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release

#3445 i18n(es): Updated `directives-reference.mdx`
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#3449 i18n(es): Updated `error-reference.mdx`
  src/content/docs/es/reference/error-reference.mdx
Labels: i18n

#3448 i18n(es): Updated `api-reference.mdx`
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#3444 i18n(es): Updated `from-gatsby.mdx`,`from-nuxtjsmdx`, `from-nextjs.mdx`, `server-side-rendering.mdx` & `v2.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/guides/upgrade-to/v2.mdx
Labels: i18n

#3443 i18n(es): Updated `styling.mdx`
  src/content/docs/es/guides/styling.mdx
Labels: i18n

#3442 i18n(es): Updated `integrations-reference.mdx`
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#3438 i18n(es): Updated `from-pelican.mdx` & `from-vuepress.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/es/guides/migrate-to-astro/from-vuepress.mdx
Labels: i18n

#3437 i18n(es): Updated `from-gitbook.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#3436 i18n(es): Updated `from-docusaurus.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-docusaurus.mdx
Labels: i18n

#3434 i18n(es): Updated `netlify.mdx`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#3424 i18n(es): Updated `routing.mdx`
  src/content/docs/es/core-concepts/routing.mdx
Labels: i18n

#3433 i18n(es): Updated `contentful.mdx`
  src/content/docs/es/guides/cms/contentful.mdx
Labels: i18n

#3422 i18n(ja) Minor content fixes storyblok Typos
  src/content/docs/ja/guides/cms/storyblok.mdx
Labels: i18n

#3456 i18n(es): Updated `google-firebase.mdx`
  src/content/docs/es/guides/deploy/google-firebase.mdx
Labels: i18n

#3450 i18n(es): Updated `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3425 i18n(ko): Update the outdated ko/project-structure.mdx
  src/content/docs/ko/core-concepts/project-structure.mdx
Labels: i18n

#3458 Update i18n.mdx
  src/content/docs/en/recipes/i18n.mdx
Labels: add new content

#3207 Add Xata guide to BE Recipe section
  src/content/docs/en/guides/backend/xata.mdx
Labels: add new content

#3459 Fix error content
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
Labels: i18n

#3373 ✨ Added Astro Docs for Strapi CMS integration 📚
  public/logos/strapi.svg
  src/content/docs/en/guides/cms/strapi.mdx
  src/data/logos.ts
Labels: add new content

#3462 Update google-firebase.mdx
  src/content/docs/en/guides/backend/google-firebase.mdx
Labels: typo or grammar fix

#3465 i18n(es): Translated `invalid-dyndamic-route.mdx`
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/invalid-dynamic-route.mdx
Labels: i18n

#3429 i18n(es): Updated `static-redirect-not-available.mdx` & `redirect-with-no-location.mdx`
  src/content/docs/es/reference/errors/redirect-with-no-location.mdx
  src/content/docs/es/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#3469 i18n(es): Fix typos in `storyblok.mdx` & `directives-reference.mdx`
  src/content/docs/es/guides/cms/storyblok.mdx
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#3470 i18n(es): Translated `unsupported-config-transform-error.mdx`
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/unsupported-config-transform-error.mdx
Labels: i18n

#3388 i18n(ko): Translate `framework-components.mdx`
  src/content/docs/ko/core-concepts/astro-components.mdx
  src/content/docs/ko/core-concepts/framework-components.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3483 i18n(es): Updated `locals-not-serializable.mdx` & `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/reference/errors/locals-not-serializable.mdx
Labels: i18n

#3482 i18n(es): Translated `duplicate-content-entry-slug-error.mdx` & `error-reference.mdx`
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/duplicate-content-entry-slug-error.mdx
Labels: i18n

#3468 i18n(es): Translated `strapi.mdx`
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#3486 i18n(es): Updated `server-side-rendering.mdx` & `csssyntax-error.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/errors/csssyntax-error.mdx
Labels: i18n

#3494 typo: properties
  src/content/docs/en/guides/cms/contentful.mdx
Labels: typo or grammar fix

#3491 i18n(es): Updated `contribute.mdx`
  src/content/docs/es/contribute.mdx
Labels: i18n

#3501 i18n(es): Updated `netlify.mdx` & `server-side-rendering.mdx`
  src/content/docs/es/guides/deploy/netlify.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
Labels: i18n

#3515 Update nav labels for middleware
  src/i18n/en/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/zh-cn/nav.ts
Labels: improve documentation

#3274 i18n(ru): Translated page ```backend.mdx```
  src/content/docs/ru/guides/backend.mdx
  src/i18n/ru/nav.ts
Labels: i18n

#3467 i18n(fr): Translation of `directives-reference.mdx`
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/core-concepts/framework-components.mdx
  src/content/docs/fr/core-concepts/sharing-state.mdx
  src/content/docs/fr/guides/client-side-scripts.mdx
  src/content/docs/fr/guides/troubleshooting.mdx
  src/content/docs/fr/reference/directives-reference.mdx
Labels: i18n

#3528 i18n(es): Updated `fonts.mdx`
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#3524 i18n(ja): Add error-reference.mdx
  src/content/docs/ja/reference/error-reference.mdx
Labels: i18n

#3475 i18n(zh-cn): Add 5 error translations
  src/content/docs/zh-cn/reference/errors/image-missing-alt.mdx
  src/content/docs/zh-cn/reference/errors/invalid-image-service.mdx
  src/content/docs/zh-cn/reference/errors/missing-image-dimension.mdx
  src/content/docs/zh-cn/reference/errors/page-number-param-not-found.mdx
  src/content/docs/zh-cn/reference/errors/unsupported-image-format.mdx
Labels: i18n

#3476 i18n(ar): Getting Started, Editor Setup: Update content
  src/content/docs/ar/editor-setup.mdx
  src/content/docs/ar/getting-started.mdx
Labels: i18n

#3044 i18n(pt-BR): Small translation updates
  src/content/docs/pt-br/core-concepts/astro-pages.mdx
  src/content/docs/pt-br/core-concepts/endpoints.mdx
  src/content/docs/pt-br/core-concepts/framework-components.mdx
  src/content/docs/pt-br/core-concepts/layouts.mdx
  src/content/docs/pt-br/core-concepts/routing.mdx
  src/content/docs/pt-br/editor-setup.mdx
  src/content/docs/pt-br/guides/client-side-scripts.mdx
  src/content/docs/pt-br/guides/data-fetching.mdx
Labels: i18n

#3519 API reference: make `AstroCookie.value` optional
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation

#3504 feat: document the new `split` option
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, next-release

#3545 i18n(es): Updated `content-schema-contains-slug-error.mdx`
  src/content/docs/es/reference/errors/content-schema-contains-slug-error.mdx
Labels: i18n

#3540 i18n(es): Updated `api-reference.mdx`
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#3539 i18n(es): Updated `tailwind.mdx`
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
Labels: i18n

#3560 Update congrats workflow to use new shared action
  .github/workflows/discord-congrats.yml
  scripts/congrats-bot.mjs
Labels: 🚨 action

#3556 docs: update CMS link
  src/content/docs/en/concepts/why-astro.mdx
Labels: improve documentation

#3554 docs: update Tailwind link
  src/content/docs/en/guides/styling.mdx
Labels: improve documentation

#3569 i18n(es): Updated error pages
  src/content/docs/es/reference/errors/duplicate-content-entry-slug-error.mdx
  src/content/docs/es/reference/errors/invalid-dynamic-route.mdx
  src/content/docs/es/reference/errors/static-redirect-not-available.mdx
  src/content/docs/es/reference/errors/unsupported-config-transform-error.mdx
Labels: i18n

#3567 i18n(es): Updated `node.mdx`
  src/content/docs/es/guides/integrations-guide/node.mdx
Labels: i18n

#3570 i18n(es): Updated `why-astro.mdx`, `server-side-rendering.mdx` & `configuration-reference.mdx`
  src/content/docs/es/concepts/why-astro.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3566 i18n(es): Updated `styling.mdx`
  src/content/docs/es/guides/styling.mdx
Labels: i18n

#3559 i18n(es): Translated `failed-to-find-page-map-ssr.mdx`
  src/content/docs/es/reference/errors/failed-to-find-page-map-ssr.mdx
Labels: i18n

#3565 i18n(es): Updated `integrations-reference.mdx`
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#3573 i18n(es): Updated `csssyntax-error.mdx`
  src/content/docs/es/reference/errors/csssyntax-error.mdx
Labels: i18n

#3542 i18n(zh-cn): Translate recipes.mdx
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#3575 Updated welcoming channel in docs
  src/content/docs/ar/getting-started.mdx
  src/content/docs/de/getting-started.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/fr/getting-started.mdx
  src/content/docs/ja/getting-started.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/pl/getting-started.mdx
  src/content/docs/pt-br/getting-started.mdx
  src/content/docs/ru/getting-started.mdx
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#3516 Add warning about named slot usage
  src/content/docs/en/core-concepts/astro-components.mdx
Labels: add new content

#3557 Remove the space that breaks the link
  src/content/docs/es/guides/configuring-astro.mdx
Labels: i18n

#3506 Add astroad to community resources of the PayloadCMS guide
  src/content/docs/en/guides/cms/payload.mdx
Labels: add new content

#3580 i18n(es): Updated `tutorial/3-components/2.mdx`
  src/content/docs/es/tutorial/3-components/2.mdx
Labels: i18n

#3583 i18n(es): Updated `cloudflare.mdx`, `deno.mdx` & `image.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/guides/integrations-guide/deno.mdx
  src/content/docs/es/guides/integrations-guide/image.mdx
Labels: i18n

#3585 i18n(es): Translated `decap-cms.mdx`
  src/content/docs/es/guides/cms/decap-cms.mdx
Labels: i18n

#3584 i18n(es): Translated `crystallize.mdx`
  src/content/docs/es/guides/cms/crystallize.mdx
Labels: i18n

#3561 i18n(zh-cn): update `fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n

#3526 Updated docs to fix dark mode flash
  src/content/docs/en/tutorial/6-islands/2.mdx
Labels: tutorial

#3606 i18n(es): Updated `netlify.mdx`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#3609 i18n(es): Updated `solid-js.mdx`, `sitemap.mdx`, `prefetch.mdx` & `partytown.mdx`
  src/content/docs/es/guides/integrations-guide/partytown.mdx
  src/content/docs/es/guides/integrations-guide/prefetch.mdx
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
  src/content/docs/es/guides/integrations-guide/solid-js.mdx
Labels: i18n

#3593 i18n(es): Translated `external-links.mdx`
  src/content/docs/es/recipes/external-links.mdx
Labels: i18n

#3623 Update i18n.mdx
  src/content/docs/en/recipes/i18n.mdx
Labels: i18n

#3627 i18n(es): Updated `from-gitbook.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#3628 i18n(es): Fix typos in `tutorial`
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
Labels: i18n

#3626 i18n(es): Updated `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3617 i18n(es): Translated `recipes.mdx`
  src/content/docs/es/recipes.mdx
Labels: i18n

#3616 i18n(es): Translated `payload.cms`
  src/content/docs/es/guides/cms/payload.mdx
Labels: i18n

#3615 i18n(es): Translated `middleware.mdx`
  src/content/docs/es/guides/middleware.mdx
Labels: i18n

#3614 i18n(es): Translated `frontmatter-cms.mdx`
  src/content/docs/es/guides/cms/frontmatter-cms.mdx
Labels: i18n

#3613 i18n(es): Translated `build-forms-api.mdx`
  src/content/docs/es/recipes/build-forms-api.mdx
Labels: i18n

#3611 i18n(es): Translated recipe `build-forms.mdx`
  src/content/docs/es/recipes/build-forms.mdx
Labels: i18n

#3605 i18n(es): Translated `directus.mdx`
  src/content/docs/es/guides/cms/directus.mdx
Labels: i18n

#3604 i18n(es): Translated `cloudcannon.mdx`
  src/content/docs/es/guides/cms/cloudcannon.mdx
Labels: i18n

#3603 i18n(es): Translated `prismic.mdx`
  src/content/docs/es/guides/cms/prismic.mdx
Labels: i18n

#3601 i18n(es): Translated `spinal.mdx`
  src/content/docs/es/guides/cms/spinal.mdx
Labels: i18n

#3600 i18n(es): Translated `sanity.mdx`
  src/content/docs/es/guides/cms/sanity.mdx
Labels: i18n

#3598 i18n(es): Updated `lit.mdx`
  src/content/docs/es/guides/integrations-guide/lit.mdx
Labels: i18n

#3591 i18n(es): Translated `docker.mdx`
  src/content/docs/es/guides/deploy/google-cloud.mdx
  src/content/docs/es/recipes/docker.mdx
Labels: i18n

#3588 i18n(es): Updated `mdx.mdx`
  src/content/docs/es/guides/integrations-guide/mdx.mdx
Labels: i18n

#3587 i18n(es): Updated `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3586 i18n(es): Updated `astro-components.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
Labels: i18n

#3582 i18n(es): Translating `xata.mdx`
  src/content/docs/es/guides/backend/xata.mdx
Labels: i18n

#3629 i18n(es): Fix various typos
  src/content/docs/es/core-concepts/framework-components.mdx
  src/content/docs/es/editor-setup.mdx
  src/content/docs/es/guides/deploy.mdx
  src/content/docs/es/guides/deploy/kinsta.mdx
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/integrations-guide/deno.mdx
  src/content/docs/es/guides/integrations-guide/partytown.mdx
  src/content/docs/es/guides/integrations-guide/preact.mdx
  src/content/docs/es/guides/integrations-guide/vue.mdx
  src/content/docs/es/guides/migrate-to-astro.mdx
  src/content/docs/es/guides/testing.mdx
  src/content/docs/es/reference/api-reference.mdx
  src/content/docs/es/reference/cli-reference.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/reference/directives-reference.mdx
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/content/docs/es/reference/errors/markdown-content-schema-validation-error.mdx
  src/content/docs/es/reference/publish-to-npm.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
Labels: i18n

#3619 i18n(es): Translated of `markdoc.mdx`
  src/content/docs/es/guides/integrations-guide/markdoc.mdx
  src/content/docs/es/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#3620 i18n(es): Translated `google-firebase.mdx`
  src/content/docs/es/guides/backend/google-firebase.mdx
Labels: i18n

#3618 i18n(es): Translated `image-service-reference.mdx`
  src/content/docs/es/reference/image-service-reference.mdx
Labels: i18n

#3439 refactor: parameterize 'docs' entry types
  src/content/config.ts
Labels: site improvement

#3602 i18n(es): Translated `keystonejs.mdx`
  src/content/docs/es/guides/cms/keystonejs.mdx
Labels: i18n

#3599 i18n(es): Translated `bun.mdx`
  src/content/docs/es/recipes/bun.mdx
Labels: i18n
