Repository withastro/docs, pull requests merged in 2023-09, with the labels that each got.

#4493 i18n(de): update getting started tip for v3
  src/content/docs/de/getting-started.mdx
Labels: i18n

#4490 i18n(zh-cn): Update `recipes.mdx`
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#4492 i18n(zh-cn): Update `guides/images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#4491 i18n(zh-cn): Update `integrations-guide/cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4489 i18n(zh-cn): Update `recipes/docker.mdx`
  src/content/docs/zh-cn/recipes/docker.mdx
Labels: i18n

#4488 i18n(zh-cn): Update `adapter-reference.mdx` and `server-side-rendering.mdx`
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
  src/content/docs/zh-cn/reference/adapter-reference.mdx
Labels: i18n

#4487 i18n(zh-cn): Update routing.mdx
  src/content/docs/zh-cn/core-concepts/routing.mdx
Labels: i18n

#4479 i18n(es): Update `routing.mdx`, `cloudflare.mdx` & `recipes.mdx`
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#4444 i18n(zh-CN): Update `view-transitions.mdx` translation
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#4403 i18n(zh-cn): Update `tutorial/5-astro-api/3.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
Labels: i18n

#4483 i18n(pt-BR): Updated `recipes.mdx`
  src/content/docs/pt-br/recipes.mdx
Labels: i18n

#4455 i18n(zh-CN): Update translations in `v3.mdx`, `images.mdx` and `typescript.mdx`
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/guides/upgrade-to/v3.mdx
Labels: i18n

#4505 i18n(es): Update `v3.mdx`
  src/content/docs/es/guides/upgrade-to/v3.mdx
Labels: i18n

#4502 i18n(es): Update `configuration-reference.mdx` & `image-service-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/reference/image-service-reference.mdx
Labels: i18n

#4508 Move old `/fr` translation
  old-translations/fr/guides/server-side-rendering.mdx
  src/content/docs/fr/guides/deploy.mdx
Labels: improve documentation, i18n

#4501 i18n(es): Update `server-side-rendering.mdx` & `adapter-reference.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/adapter-reference.mdx
Labels: i18n

#4500 i18n(es): Update `images.mdx`
  src/content/docs/es/guides/images.mdx
Labels: i18n

#4520 i18n(ja): Update recipes.mdx
  src/content/docs/ja/recipes.mdx
Labels: i18n

#4525 i18n(de): Update `rss.mdx` translation
  src/content/docs/de/guides/rss.mdx
Labels: i18n

#4518 i18n(ja): Update endpoints.mdx
  src/content/docs/ja/core-concepts/endpoints.mdx
Labels: i18n

#4517 i18n(fr-FR): Update `why-astro.mdx` and `contribute.mdx` v3 translation
  src/content/docs/fr/concepts/why-astro.mdx
  src/content/docs/fr/contribute.mdx
Labels: i18n

#4516 i18n(ja): Add captcha.mdx
  src/content/docs/ja/recipes/captcha.mdx
Labels: i18n

#4513 i18n(ja): Update rss.mdx
  src/content/docs/ja/guides/rss.mdx
Labels: i18n

#4511 i18n(ja): Add v3.mdx
  src/content/docs/ja/guides/upgrade-to/v3.mdx
Labels: i18n

#4535 i18n(es): Update `imports.mdx`, `docker.mdx` & `testing.mdx`
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/testing.mdx
  src/content/docs/es/recipes/docker.mdx
Labels: i18n

#4536 i18n(es): Updated `recipes.mdx` & `server-side-rendering.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#4510 i18n(zh-cn): Update `reference/configuration-reference.mdx` and `reference/image-service-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#4317 i18n(it): translate docs/guides/deploy/cloudflare.mdx
  src/content/docs/it/guides/deploy/cloudflare.mdx
Labels: i18n

#4484 i18n(pt-BR): Updated `reference/adapter-reference.mdx`
  src/content/docs/pt-br/reference/adapter-reference.mdx
Labels: i18n

#4482 i18n(pt-BR): Updated `guides/server-side-rendering.mdx`
  src/content/docs/pt-br/guides/server-side-rendering.mdx
Labels: i18n

#4481 i18n(pt-BR): Updated `guides/images.mdx`
  src/content/docs/pt-br/guides/images.mdx
Labels: i18n

#4480 i18n(pt-BR): Updated `core-concepts/routing.mdx`
  src/content/docs/pt-br/core-concepts/routing.mdx
Labels: i18n

#4450 i18n(pt-BR): Updated `guides/view-transitions.mdx`
  src/content/docs/pt-br/guides/view-transitions.mdx
Labels: i18n

#4453 i18n(pt-BR): Updated `guides/upgrade-to/v3.mdx`
  src/content/docs/pt-br/guides/upgrade-to/v3.mdx
Labels: i18n

#4308 i18n(it): translated tutorial introduction
  src/content/docs/it/tutorial/0-introduction/1.mdx
  src/content/docs/it/tutorial/0-introduction/index.mdx
Labels: i18n

#4448 i18n(pt-BR): Updated `reference/integrations-reference.mdx`
  src/content/docs/pt-br/reference/integrations-reference.mdx
Labels: i18n

#4542 i18n(zh-cn): Update `guides/imports.mdx`
  src/content/docs/zh-cn/guides/imports.mdx
Labels: i18n

#4541 i18n(zh-cn): Update `recipes/docker.mdx`
  src/content/docs/zh-cn/recipes/docker.mdx
Labels: i18n

#4540 i18n(zh-cn): Update `recipes.mdx`
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#4545 Fix the missing highlight for example codes
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: code snippet update

#4539 Update astro-components.mdx
  src/content/docs/en/core-concepts/astro-components.mdx
Labels: typo or grammar fix

#4499 Fixed URL to "Add searching to your site with Pagefind" resource
  src/content/docs/en/recipes.mdx
Labels: typo or grammar fix

#4538 Use Fragments
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
Labels: site improvement, code snippet update

#4557 i18n(ja): Update view-transitions.mdx
  src/content/docs/ja/guides/view-transitions.mdx
Labels: i18n

#4556 i18n(ja): Update recipes.mdx
  src/content/docs/ja/recipes.mdx
Labels: i18n

#4555 i18n(ja): Update tutorial/3-components/3.mdx
  src/content/docs/ja/tutorial/3-components/3.mdx
Labels: i18n

#4551 i18n(ja): Update static-redirect-not-available.mdx
  src/content/docs/ja/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#4546 i18n(ja): Update configuration-reference.mdx
  src/content/docs/ja/guides/content-collections.mdx
  src/content/docs/ja/guides/images.mdx
  src/content/docs/ja/guides/server-side-rendering.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
  src/content/docs/ja/tutorial/5-astro-api/4.mdx
Labels: i18n

#4553 i18n(es): Update `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#4550 i18n(es): Update `astro-components.mdx`, `from-create-react-app.mdx`, `server-side-rendering.mdx` & `recipes.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#4567 i18n(zh-cn): update `guides/migrate-to-astro/from-create-react-app.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#4565 i18n(zh-cn): update `recipes.mdx`
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#4566 i18n(zh-cn): update `reference/configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#4578 i18n(zh-cn): update `guides/cms/tina-cms.mdx`
  src/content/docs/zh-cn/guides/cms/tina-cms.mdx
Labels: i18n

#4577 i18n(zh-CN):Update 1.mdx in chinese
  src/content/docs/zh-cn/tutorial/2-pages/1.mdx
Labels: i18n

#4461 Upgrade docs site to Astro v3
  .github/workflows/ci.yml
  .gitpod.yml
  astro.config.ts
  contributor-guides/writing-and-style-guide.md
  package.json
  pnpm-lock.yaml
  scripts/lib/linkcheck/checks/canonical-url.ts
  scripts/lib/linkcheck/checks/good-link-label.ts
  scripts/lib/linkcheck/checks/relative-url.ts
  scripts/lib/linkcheck/checks/same-language.ts
  scripts/lib/linkcheck/checks/target-exists.ts
  scripts/lib/linkcheck/steps/build-index.ts
  scripts/lib/linkcheck/steps/find-issues.ts
  scripts/lib/linkcheck/steps/optional-autofix.ts
  scripts/lib/translation-status/builder.ts
  scripts/lint-linkcheck.ts
  src/components/BrandLogo.astro
  src/components/Checklist.astro
  src/components/Header/ThemeToggleButton.tsx
  src/components/IntegrationsNav.astro
  src/components/RecipesNav.astro
  src/components/Spoiler.astro
  src/components/TabBox.astro
  src/components/internal/rehype-file-tree.ts
  src/components/tabs/AstroJSXTabs.astro
  src/components/tabs/AstroVueTabs.astro
  src/components/tabs/JavascriptFlavorTabs.astro
  src/components/tabs/PackageManagerTabs.astro
  src/components/tabs/StaticSsrTabs.astro
  src/components/tabs/TypeScriptSettingTabs.astro
  src/components/tabs/UIFrameworkTabs.astro
  src/components/tutorial/FeedbackButton.astro
  src/content/config.ts
  src/content/docs/de/guides/typescript.mdx
  src/content/docs/ru/guides/typescript.mdx
  src/pages/404.astro
  src/pages/open-graph/[...path].ts
  src/pages/robots.txt.ts
  tsconfig.json
Labels: i18n, site improvement, 🚨 action

#4600 18n(ja): Update fonts.mdx
  src/content/docs/ja/guides/fonts.mdx
Labels: i18n

#4527 i18n(it): update outdated translations
  src/content/docs/it/concepts/why-astro.mdx
  src/content/docs/it/getting-started.mdx
  src/content/docs/it/guides/backend/google-firebase.mdx
  src/content/docs/it/recipes.mdx
  src/i18n/it/nav.ts
  src/i18n/it/ui.ts
Labels: i18n

#4592 [i18nIgnore] fix punctuation in `styling.mdx`
  src/content/docs/en/guides/styling.mdx
Labels: typo/link/grammar - quick fix!

#4590 fix: broken tailwind configuration file link
  src/content/docs/en/guides/integrations-guide/tailwind.mdx
Labels: typo/link/grammar - quick fix!

#4570 Update xata.mdx
  src/content/docs/en/guides/backend/xata.mdx
Labels: improve documentation

#4584 Update Discord icon
  src/components/RightSidebar/CommunityMenu.astro
Labels: site improvement

#4580 Added the missing `PackageManagerTabs` component
  src/content/docs/en/guides/styling.mdx
Labels: improve documentation

#4576 Update build-forms-api.mdx for React example
  src/content/docs/en/recipes/build-forms-api.mdx
Labels: improve documentation

#4596 Fix formatting and update wording in server-side-rendering guide
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: improve documentation

#4633 [i18nIgnore] fix typo grc -> gcr
  src/content/docs/de/guides/deploy/google-cloud.mdx
  src/content/docs/en/guides/deploy/google-cloud.mdx
  src/content/docs/es/guides/deploy/google-cloud.mdx
  src/content/docs/pt-br/guides/deploy/google-cloud.mdx
Labels: typo/link/grammar - quick fix!

#4009 Storyblok folder and API behavior note
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: improve documentation

#4634 fix Api call for retrieving stories
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: code snippet update

#4603 i18n(ja): Add new `guides/backend/xata.mdx` translation
  src/content/docs/ja/guides/backend/xata.mdx
Labels: i18n

#4581 i18n(zh-cn): Remove redundant colons
  src/i18n/zh-cn/docsearch.ts
Labels: i18n

#4579 i18n(zh-cn): update `guides/styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#4574 i18n(es): Update `styling.mdx` & `tina-cms.mdx`
  src/content/docs/es/guides/cms/tina-cms.mdx
  src/content/docs/es/guides/styling.mdx
Labels: i18n

#4561 i18n(fr): Updating nav elements translation
  src/i18n/fr/nav.ts
Labels: i18n

#4630 i18n(es) Redundant description
  src/content/docs/es/core-concepts/routing.mdx
Labels: i18n

#4626 18n(ja): Update imports.mdx
  src/content/docs/ja/guides/imports.mdx
Labels: i18n

#4622 18n(ja): Add get-static-paths-invalid-route-param.mdx
  src/content/docs/ja/reference/errors/get-static-paths-invalid-route-param.mdx
Labels: i18n

#4621 18n(ja): Add get-static-paths-expected-params.mdx
  src/content/docs/ja/reference/errors/get-static-paths-expected-params.mdx
Labels: i18n

#4620 18n(ja): Add get-static-paths-removed-rsshelper.mdx
  src/content/docs/ja/reference/errors/get-static-paths-removed-rsshelper.mdx
Labels: i18n

#4619 18n(ja): Add invalid-get-static-paths-entry.mdx
  src/content/docs/ja/guides/upgrade-to/v3.mdx
  src/content/docs/ja/reference/errors/invalid-get-static-paths-entry.mdx
Labels: i18n

#4617 18n(ja): Update error-reference.mdx
  src/content/docs/ja/reference/error-reference.mdx
Labels: i18n

#4613 i18n(es): Update `xata.mdx`, `tailwind.mdx` & `from-jekyll.mdx`
  src/content/docs/es/guides/backend/xata.mdx
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
  src/content/docs/es/guides/migrate-to-astro/from-jekyll.mdx
Labels: i18n

#4612 i18n(es): Update `astro-pages.mdx`
  src/content/docs/es/core-concepts/astro-pages.mdx
Labels: i18n

#4611 i18n(ja): Add new guides/deploy/netlify.mdx translation
  src/content/docs/ja/guides/deploy/netlify.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#4632 i18n(de): Update `ui.ts` translation
  src/i18n/de/ui.ts
Labels: i18n

#4660 i18n(es): Update `tailwind.mdx`, `vercel.mdx` & `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#4646 i18n(zh-cn): update `reference/errors/missing-sharp.mdx`
  src/content/docs/zh-cn/reference/errors/missing-sharp.mdx
Labels: i18n

#4645 i18n(zh-cn): update `recipes/build-forms-api.mdx`
  src/content/docs/zh-cn/recipes/build-forms-api.mdx
Labels: i18n

#4642 i18n(zh-cn): update `cloudflare.mdx`, `tailwind.mdx` and `vercel.mdx` guides
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#4641 i18n(zh-cn): update `guides/cms/storyblok.mdx`
  src/content/docs/zh-cn/guides/cms/storyblok.mdx
Labels: i18n

#4640 i18n(zh-cn): update `guides/backend/xata.mdx`
  src/content/docs/zh-cn/guides/backend/xata.mdx
Labels: i18n

#4639 i18n(zh-cn): update `core-concepts/astro-pages.mdx`
  src/content/docs/zh-cn/core-concepts/astro-pages.mdx
Labels: i18n

#4656 i18n(ja): Add new guides/deploy/buddy.mdx translation
  src/content/docs/ja/guides/deploy/buddy.mdx
Labels: i18n

#4638 i18n(zh-cn): Translate the brand new `recipes/bun.mdx`
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#4636 i18n(es): Update `storyblok.mdx`
  src/content/docs/es/guides/cms/storyblok.mdx
Labels: i18n

#4618 18n(ja): Add invalid-get-static-paths-return.mdx
  src/content/docs/ja/reference/errors/invalid-get-static-paths-return.mdx
Labels: i18n

#4477 Add notes about old-translations on i18n tracking dashboard.
  scripts/lib/translation-status/builder.ts
  scripts/lib/translation-status/types.ts
  scripts/translation-status.ts
  scripts/tuesday-bot.ts
Labels: site improvement

#4666 Add `add-yaml-support.mdx` to our translation-ready pages
  src/content/docs/en/recipes/add-yaml-support.mdx
Labels: i18n

#3056 i18n(de): translate `add-yaml-support.mdx`
  src/content/docs/de/recipes/add-yaml-support.mdx
Labels: i18n

#4193 i18n(ko): Add new `fonts.mdx` translations
  src/content/docs/ko/guides/fonts.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#4662 i18n(fr): Updating ui elements translation
  src/i18n/fr/ui.ts
Labels: i18n

#4212 i18n(fr): translated docs/fr/core-concepts/astro-components.mdx
  src/content/docs/fr/core-concepts/astro-components.mdx
  src/content/docs/fr/core-concepts/framework-components.mdx
  src/content/docs/fr/core-concepts/layouts.mdx
  src/content/docs/fr/guides/data-fetching.mdx
Labels: i18n

#4591 i18n(pt-br): new recipes translation
  src/content/docs/pt-br/recipes/build-forms-api.mdx
  src/content/docs/pt-br/recipes/captcha.mdx
  src/content/docs/pt-br/recipes/reading-time.mdx
Labels: i18n

#4668 i18n(es): Fixed highlighted part
  src/content/docs/es/core-concepts/astro-components.mdx
Labels: i18n

#4673 i18n(fr): Updating `astro-pages` translation
  src/content/docs/fr/core-concepts/astro-pages.mdx
Labels: i18n

#4659 Add bun-types to recipe
  src/content/docs/en/recipes/bun.mdx
Labels: improve documentation

#4675 i18n(zh-CN): Update `bun.mdx` translation
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#4674 i18n(zh-cn): Translate `recipes/add-yaml-support.mdx`
  src/content/docs/zh-cn/recipes/add-yaml-support.mdx
Labels: i18n

#4670 i18n(es): Translate `add-yaml-support.mdx`
  src/content/docs/es/recipes/add-yaml-support.mdx
Labels: i18n

#4643 i18n(zh-cn): update `guides/migrate-to-astro/from-jekyll.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
Labels: i18n

#4678 fix: generate rss.xml file by lowercasing get() function
  src/content/docs/en/tutorial/5-astro-api/4.mdx
Labels: code snippet update

#4637 i18n(es): Translate `bun.mdx`
  src/content/docs/es/recipes/bun.mdx
Labels: i18n

#4597 Change extension to .cjs to align with documentation
  src/content/docs/es/guides/styling.mdx
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#4252 i18n(fr) : add new "index.mdx" and "1.mdx" for french tutorial
  src/content/docs/fr/tutorial/0-introduction/index.mdx
Labels: i18n

#4650 Fix incorrect punctuation in greeting spanish message
  src/content/docs/es/tutorial/6-islands/1.mdx
Labels: i18n, tutorial

#4681 i18n(es): Fixed highlighted layouts.mdx
  src/content/docs/es/core-concepts/layouts.mdx
Labels: i18n

#4326 i18n(zh-tw): Update `docsearch.ts`, `nav.ts` and `ui.ts`
  src/i18n/zh-tw/docsearch.ts
  src/i18n/zh-tw/nav.ts
  src/i18n/zh-tw/ui.ts
Labels: i18n

#4683 i18n(es): Update `4.mdx` & `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/tutorial/5-astro-api/4.mdx
Labels: i18n

#4682 i18n(es): Update `cloudflare.mdx`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4679 feat: add documentation for new types exported from `astro:content`
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, next-release

#4689 i18n(zh-cn): update `guides/integrations-guide/cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#4686 i18n(fr): Updating ui elements translation
  src/i18n/fr/ui.ts
Labels: i18n

#4680 [i18nIgnore] Update bun-types in Bun recipe
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/es/recipes/bun.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#4699 i18n(es): Fix typos in some pages
  src/content/docs/es/recipes/bun.mdx
  src/content/docs/es/reference/cli-reference.mdx
Labels: i18n

#4702 I18n(es): Updating some pages translation
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/expected-image.mdx
  src/content/docs/es/reference/errors/local-image-used-wrongly.mdx
Labels: i18n

#4598 18n(ja): Update server-side-rendering.mdx
  src/content/docs/ja/guides/cms/contentful.mdx
  src/content/docs/ja/guides/server-side-rendering.mdx
Labels: i18n

#4723 i18n(es): Update `expected-image.mdx` & `unsupported-config-transform-error.mdx`
  src/content/docs/es/reference/errors/expected-image.mdx
  src/content/docs/es/reference/errors/unsupported-config-transform-error.mdx
Labels: i18n

#4721 i18n(es): Update `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#4720 i18n(es): Update `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#4201 i18n(it): Introduction of the italian glossary
  src/i18n/it/README.md
Labels: i18n

#4707 i18n(es): Update `tutorial` & fix typos
  src/content/docs/es/tutorial/0-introduction/1.mdx
  src/content/docs/es/tutorial/1-setup/1.mdx
  src/content/docs/es/tutorial/1-setup/2.mdx
  src/content/docs/es/tutorial/1-setup/3.mdx
  src/content/docs/es/tutorial/1-setup/4.mdx
  src/content/docs/es/tutorial/1-setup/5.mdx
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/1.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/3.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/1.mdx
  src/content/docs/es/tutorial/5-astro-api/2.mdx
  src/content/docs/es/tutorial/5-astro-api/3.mdx
  src/content/docs/es/tutorial/5-astro-api/4.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
  src/content/docs/es/tutorial/6-islands/2.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: i18n

#4706 i18n(zh-cn): update `guides/integrations-guide/vercel.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#4704 [i18nIgnore] Add missing quotation marks
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/es/recipes/bun.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#4709 fix ahref audit issues
  src/content/docs/ru/concepts/why-astro.mdx
Labels: i18n

#4733 Update images.mdx
  src/content/docs/es/guides/images.mdx
Labels: i18n

#4734 i18n(es): Update `tutorial/` `(Remove from tracking)`
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/1.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/3.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/1.mdx
  src/content/docs/es/tutorial/5-astro-api/3.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: i18n

#4731 i18n(zh-cn): update error references
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/expected-image.mdx
  src/content/docs/zh-cn/reference/errors/local-image-used-wrongly.mdx
  src/content/docs/zh-cn/reference/errors/unsupported-config-transform-error.mdx
Labels: i18n

#4730 i18n(zh-cn): update `reference/configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#4729 i18n(zh-cn): update `guides/images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#4725 i18n(zh-TW): Update `getting-started.mdx` and `ui.ts`
  src/content/docs/zh-tw/getting-started.mdx
  src/i18n/zh-tw/ui.ts
Labels: i18n

#4719 i18n(zh-TW): Update `why-astro.mdx` and `nav.ts`
  src/content/docs/zh-tw/concepts/why-astro.mdx
  src/i18n/zh-tw/nav.ts
Labels: i18n

#4718 i18n(ja): Update configuration-reference.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#4728 i18n(es): Update from-nuxtjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#4693 [i18nIgnore] correct extension when overriding file names
  src/content/docs/de/guides/configuring-astro.mdx
  src/content/docs/en/guides/configuring-astro.mdx
  src/content/docs/es/guides/configuring-astro.mdx
  src/content/docs/ja/guides/configuring-astro.mdx
  src/content/docs/pt-br/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n, code snippet update

#4732 i18n(zh-cn): update consistent voice for tutorial
  src/content/docs/zh-cn/tutorial/1-setup/index.mdx
  src/content/docs/zh-cn/tutorial/2-pages/1.mdx
  src/content/docs/zh-cn/tutorial/2-pages/2.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
  src/content/docs/zh-cn/tutorial/2-pages/4.mdx
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
  src/content/docs/zh-cn/tutorial/2-pages/index.mdx
  src/content/docs/zh-cn/tutorial/3-components/1.mdx
  src/content/docs/zh-cn/tutorial/3-components/2.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
  src/content/docs/zh-cn/tutorial/3-components/index.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/3.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/index.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/index.mdx
  src/content/docs/zh-cn/tutorial/6-islands/1.mdx
  src/content/docs/zh-cn/tutorial/6-islands/index.mdx
Labels: i18n

#4717 i18n(ja): Update error-reference.mdx
  src/content/docs/ja/reference/error-reference.mdx
Labels: i18n

#4711 i18n(ru): Add Wordpress CMS guide
  src/content/docs/ru/guides/cms/wordpress.mdx
Labels: i18n

#4652 i18n(zh-tw): update tutorial/0-introduction
  src/content/docs/zh-tw/tutorial/0-introduction/1.mdx
  src/content/docs/zh-tw/tutorial/0-introduction/index.mdx
Labels: i18n

#4735 i18n(de): Update `nav.ts` translation
  src/i18n/de/nav.ts
Labels: i18n

#4740 i18n(fr): update `project-structure.mdx`
  src/content/docs/fr/core-concepts/project-structure.mdx
Labels: i18n

#4624 i18n(it): Add new `tutorial/1-setup/3.mdx` translation
  src/content/docs/it/tutorial/1-setup/3.mdx
Labels: i18n
