Repository withastro/docs, pull requests merged in 2023-04, with the labels that each got.

#2948 i18n(de): translate typescript.mdx
  src/content/docs/de/guides/typescript.mdx
  src/content/docs/en/guides/typescript.mdx
Labels: i18n

#2972 [WRITING.md] adds recipe writing examples
  WRITING.md
Labels: add new content, recipe

#2958 [contribute] New contributor landing page!
  src/components/RightSidebar/ContributeMenu.astro
  src/content/docs/en/contribute.mdx
  src/i18n/en/ui.ts
Labels: add new content

#2932 i18n(es): Transalated `react.mdx`
  src/content/docs/es/guides/integrations-guide/react.mdx
Labels: i18n

#2974 i18n(ja): Update Japanese `guides/imports.mdx`
  src/content/docs/ja/guides/imports.mdx
  src/content/docs/ja/guides/markdown-content.mdx
Labels: i18n

#2954 i18n(es): Translated `contentful.mdx`
  src/content/docs/es/guides/cms/contentful.mdx
Labels: i18n

#2927 i18n(es): Translated `tina-cms.mdx`
  src/content/docs/es/guides/cms/tina-cms.mdx
Labels: i18n

#2968 i18n(es): Translated `space.mdx`
  src/content/docs/es/guides/deploy/space.mdx
Labels: i18n

#2938 i18n(zh-cn): update configuration-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#2919 i18n(zh-cn): updated api-reference & markdown-content, .etc.
  src/content/docs/zh-cn/core-concepts/layouts.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/styling.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
  src/i18n/zh-cn/nav.ts
Labels: i18n

#2985 i18n(zh-cn): update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#2984 i18n(zh-cn): update error-reference.mdx
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/static-client-address-not-available.mdx
Labels: i18n

#2745 i18n(zh-cn): update directives-reference.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n

#2863 i18n(zh-cn): update server-side-rendering.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
Labels: i18n

#2939 i18n(zh-cn): update adapter-reference.mdx
  src/content/docs/zh-cn/reference/adapter-reference.mdx
Labels: i18n

#2971 Document `import.meta.env.ASSETS_PREFIX` for CDN support
  src/content/docs/en/guides/environment-variables.mdx
Labels: add new content, merge-on-release

#2961 fix: use new shape for image()
  src/content/docs/en/guides/assets.mdx
Labels: improve documentation, merge-on-release

#2991 Updated the react docs url to the new one in various places
  src/content/docs/de/concepts/islands.mdx
  src/content/docs/de/core-concepts/framework-components.mdx
  src/content/docs/en/concepts/islands.mdx
  src/content/docs/en/core-concepts/framework-components.mdx
  src/content/docs/es/concepts/islands.mdx
  src/content/docs/es/core-concepts/framework-components.mdx
  src/content/docs/es/guides/integrations-guide/react.mdx
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/core-concepts/framework-components.mdx
  src/content/docs/ja/concepts/islands.mdx
  src/content/docs/pt-br/concepts/islands.mdx
  src/content/docs/pt-br/core-concepts/framework-components.mdx
  src/content/docs/ru/concepts/islands.mdx
  src/content/docs/zh-cn/concepts/islands.mdx
  src/content/docs/zh-cn/core-concepts/framework-components.mdx
  src/content/docs/zh-tw/concepts/islands.mdx
Labels: i18n

#2998 i18n(zh-cn): Add 6 error translations
  src/content/docs/zh-cn/reference/errors/get-static-paths-expected-params.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/content/docs/zh-cn/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/zh-cn/reference/errors/invalid-get-static-paths-return.mdx
  src/content/docs/zh-cn/reference/errors/no-client-only-hint.mdx
Labels: i18n

#2990 i18n(es): Translated `contribute.mdx`
  src/content/docs/es/contribute.mdx
  src/i18n/es/ui.ts
Labels: i18n

#2978 add minimal examples guide
  src/content/docs/en/guides/troubleshooting.mdx
Labels: add new content

#3012 Update #support channel name
  src/content/docs/ar/getting-started.mdx
  src/content/docs/de/getting-started.mdx
  src/content/docs/de/guides/troubleshooting.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/en/guides/troubleshooting.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/fr/getting-started.mdx
  src/content/docs/fr/guides/troubleshooting.mdx
  src/content/docs/ja/getting-started.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/pl/getting-started.mdx
  src/content/docs/pt-br/getting-started.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
  src/content/docs/ru/getting-started.mdx
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#2993 Migrate React links to new documentation site
  src/content/docs/de/core-concepts/sharing-state.mdx
  src/content/docs/de/guides/troubleshooting.mdx
  src/content/docs/de/guides/typescript.mdx
  src/content/docs/en/core-concepts/sharing-state.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/reference/integrations-reference.mdx
  src/content/docs/es/core-concepts/sharing-state.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/reference/integrations-reference.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
  src/content/docs/ja/guides/typescript.mdx
  src/content/docs/pt-br/core-concepts/sharing-state.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
  src/content/docs/pt-br/guides/typescript.mdx
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: typo or grammar fix, i18n

#2970 New recipe: Add icons to external links
  src/content/docs/en/recipes/external-links.mdx
Labels: add new content, recipe

#2952 i18n(de): translate environment-variables.mdx
  src/content/docs/de/guides/environment-variables.mdx
  src/content/docs/de/guides/rss.mdx
Labels: i18n

#3021 Add note on yaml types
  src/content/docs/en/recipes/add-yaml-support.mdx
Labels: improve documentation, recipe

#2986 i18n(zh-cn): Translate contribute.mdx
  src/content/docs/zh-cn/contribute.mdx
  src/i18n/zh-cn/ui.ts
Labels: i18n

#2995 i18n(zh-cn): update astro-pages.mdx & content.mdx & rss.mdx
  src/content/docs/zh-cn/core-concepts/astro-pages.mdx
  src/content/docs/zh-cn/guides/content.mdx
  src/content/docs/zh-cn/guides/rss.mdx
Labels: i18n

#2996 i18n(zh-cn): update endpoint.mdx
  src/content/docs/zh-cn/core-concepts/endpoints.mdx
Labels: i18n

#2997 i18n(zh-cn): update framework-components.mdx
  src/content/docs/zh-cn/core-concepts/framework-components.mdx
Labels: i18n

#3001 i18n(zh-cn): add `build.assetsPrefix` in config-reference
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#3023 i18n(zh-cn): update deploy.mdx
  src/content/docs/zh-cn/guides/deploy.mdx
Labels: i18n

#3007 i18n(zh-cn): update editor-setup.mdx
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#3009 i18n(zh-cn): update client-side-scripts.mdx
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#3017 i18n(ja): Update Japanese `guides/styling.mdx`
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/styling.mdx
Labels: i18n

#3031 Update to pnpm 8
  package.json
  pnpm-lock.yaml
Labels: site improvement

#3042 docs: changed "front matter" to "frontmatter"
  src/content/docs/en/core-concepts/astro-pages.mdx
  src/content/docs/ru/core-concepts/astro-pages.mdx
  src/content/docs/zh-tw/core-concepts/astro-pages.mdx
Labels: typo or grammar fix, i18n

#3040 i18n(zh-cn): update environment-variables.mdx and configuring-astro.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#3055 i18n(ko): Translate articles in section 'Start Here'
  src/content/docs/ko/editor-setup.mdx
  src/content/docs/ko/guides/upgrade-to/v2.mdx
  src/content/docs/ko/install/auto.mdx
  src/content/docs/ko/install/manual.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3013 i18n(es): Translated `deno.mdx`
  src/content/docs/es/guides/integrations-guide/deno.mdx
Labels: i18n

#3000 i18n(es): Translated `wordpress.mdx`
  src/content/docs/es/guides/cms/wordpress.mdx
Labels: i18n

#3068 Fix typo in `zh-cn` -> `astro-components.mdx`
  src/content/docs/zh-cn/core-concepts/astro-components.mdx
Labels: i18n

#3065 Minor changes to WP guide - unnecessary section removed
  src/content/docs/en/guides/cms/wordpress.mdx
Labels: improve documentation

#3038 i18n(zh-cn): Translated get-static-paths-required.mdx
  src/content/docs/zh-cn/core-concepts/routing.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/zh-cn/reference/errors/get-static-paths-required.mdx
Labels: i18n

#3060 Docs: add Astro + Statamic CMS guide
  public/logos/statamic.svg
  src/content/docs/en/guides/cms/statamic.mdx
  src/data/logos.ts
Labels: add new content

#3030 Updates Kinsta Deployment with SSR deployment
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/kinsta.mdx
Labels: add new content

#3029 Front Matter CMS - Documentation
  public/logos/frontmatter-cms.svg
  src/content/docs/en/guides/cms/frontmatter-cms.mdx
  src/data/logos.ts
Labels: add new content

#3064 i18n(ko): Translate files in 'concepts' section
  src/content/docs/ko/concepts/islands.mdx
  src/content/docs/ko/concepts/mpa-vs-spa.mdx
  src/content/docs/ko/concepts/why-astro.mdx
  src/i18n/ko/nav.ts
Labels: i18n

#3088 i18n(ja): Update Japanese `install/manual.mdx`
  src/content/docs/ja/install/manual.mdx
Labels: i18n

#3072 i18n(es): multiple pages update.
  src/content/docs/es/editor-setup.mdx
  src/content/docs/es/guides/deploy/google-cloud.mdx
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#3081 i18n(es): Translated `vue.mdx`
  src/content/docs/es/guides/integrations-guide/vue.mdx
Labels: i18n

#3032 feat(assets): Update text to mention we support images in MDX and Markdoc too
  src/content/docs/en/guides/assets.mdx
Labels: improve documentation, merge-on-release

#3066 announce v2.2 in getting-started.mdx
  src/content/docs/en/getting-started.mdx
Labels: improve documentation

#3074 fix: netlify cms has become decap cms
  public/logos/decap-cms.svg
  public/logos/netlify-cms.svg
  src/content/docs/en/guides/cms/decap-cms.mdx
  src/data/logos.ts
Labels: improve documentation

#3005 Add RecipeLink component and link to recipes
  public/houston_chef.webp
  src/components/RecipeLinks.astro
  src/content/docs/en/core-concepts/endpoints.mdx
  src/content/docs/en/core-concepts/routing.mdx
  src/content/docs/en/guides/content.mdx
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: site improvement, recipe

#3102 Add PUBLIC_TWO_LANG flag to build two translations only
  package.json
  pnpm-lock.yaml
  src/content.ts
  src/i18n/languages.ts
Labels: site improvement

#3104 i18n(zh-CN): Translated `react.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n

#3093 i18n(zh-cn): Translate `buddy.mdx`
  src/content/docs/zh-cn/guides/deploy/buddy.mdx
Labels: i18n

#3083 i18n(zh-cn): Update `date-fetching.mdx`
  src/content/docs/zh-cn/guides/data-fetching.mdx
Labels: i18n

#3097 i18n(es): fix translation in `/es/guides/client-side-scripts.mdx`
  src/content/docs/es/guides/client-side-scripts.mdx
Labels: i18n

#3020 i18n(es): Translated `alpinejs.mdx`
  src/content/docs/es/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#3036 i18n(es): Translated `vercel.mdx`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#3051 i18n(es): Translated `solid-js.mdx`
  src/content/docs/es/guides/integrations-guide/solid-js.mdx
Labels: i18n

#3091 i18n(es): Translated `tailwind.mdx`
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
Labels: i18n

#3098 i18n(es): Translated `statamic.mdx`
  src/content/docs/es/guides/cms/statamic.mdx
Labels: i18n

#3106 i18n(es): Translated `from-docusaurus.mdx`
  src/content/docs/es/guides/migrate-to-astro/from-docusaurus.mdx
Labels: i18n
