Repository withastro/docs, pull requests merged in 2023-11, with the labels that each got.

#5248 feat: add new events and update event names for the overlay
  src/content/docs/en/reference/dev-overlay-plugin-reference.mdx
Labels: add new content, merge-on-release

#5236 i18n(ko): Update translation guide
  src/i18n/ko/README.md
Labels: i18n

#5096 i18n(ko-KR): update `nav.ts` and `ui.ts`
  src/i18n/ko/nav.ts
  src/i18n/ko/ui.ts
Labels: i18n, hacktoberfest-accepted

#5101 i18n(ko-KR): update `astro-pages.mdx`
  src/content/docs/ko/core-concepts/astro-pages.mdx
Labels: i18n, hacktoberfest-accepted

#5088 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/core-concepts/astro-components.mdx
  src/content/docs/ko/core-concepts/framework-components.mdx
Labels: i18n

#5243 i18n(es): Update `xata`
  src/content/docs/es/guides/backend/xata.mdx
Labels: i18n

#5263 i18n(es): Update `environment-variables`
  src/content/docs/es/guides/environment-variables.mdx
Labels: i18n

#5262 i18n(zh-cn): Update no-adapter-installed.mdx
  src/content/docs/zh-cn/reference/errors/no-adapter-installed.mdx
Labels: i18n

#5261 i18n(zh-cn): Update view-transitions.mdx
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#5260 i18n(zh-cn): Update wordpress.mdx
  src/content/docs/zh-cn/guides/cms/wordpress.mdx
Labels: i18n

#5259 i18n(zh-cn): Update build-custom-img-component.mdx
  src/content/docs/zh-cn/recipes/build-custom-img-component.mdx
Labels: i18n

#5257 i18n(es): Update `microsoft-azure`
  src/content/docs/es/guides/deploy/microsoft-azure.mdx
Labels: i18n

#5256 i18n(zh-cn): Update environment-variables.mdx & configuring-astro.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#5252 i18n(es): Update `content-collections`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#5251 i18n(es): Update `wordpress`
  src/content/docs/es/guides/cms/wordpress.mdx
Labels: i18n

#5247 i18n(zh-cn): fix typo
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
Labels: i18n

#5235 i18n(zh-cn): translate `guides/cms/cosmic.mdx`
  src/content/docs/zh-cn/guides/cms/cosmic.mdx
Labels: i18n

#5020 i18n(ja): Add new `sst.mdx` translation
  src/content/docs/ja/guides/deploy/sst.mdx
Labels: i18n

#5266 i18n(fr): Add `recipes.mdx` in French language
  src/content/docs/fr/recipes.mdx
Labels: i18n

#5264 i18n(es): Update `images`
  src/content/docs/es/guides/images.mdx
Labels: i18n

#5220 i18n(zh-cn): update `core-concepts/astro-pages.mdx`
  src/content/docs/zh-cn/core-concepts/astro-pages.mdx
Labels: i18n

#5265 i18n(zh-cn): update `guides/backend/xata.mdx`
  src/content/docs/zh-cn/guides/backend/xata.mdx
Labels: i18n

#5269 i18n(zh-cn): Update `guides/content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#5171 i18n(es): Translate `add-view-transitions.mdx`
  src/content/docs/es/tutorials/add-view-transitions.mdx
Labels: i18n

#5229 i18n(es): Fix typos in `tutorial/`
  src/content/docs/es/tutorial/0-introduction/1.mdx
  src/content/docs/es/tutorial/0-introduction/index.mdx
  src/content/docs/es/tutorial/1-setup/2.mdx
  src/content/docs/es/tutorial/1-setup/3.mdx
  src/content/docs/es/tutorial/1-setup/4.mdx
  src/content/docs/es/tutorial/1-setup/5.mdx
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/3-components/index.mdx
  src/content/docs/es/tutorial/4-layouts/1.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/3.mdx
  src/content/docs/es/tutorial/4-layouts/index.mdx
  src/content/docs/es/tutorial/5-astro-api/1.mdx
  src/content/docs/es/tutorial/5-astro-api/2.mdx
  src/content/docs/es/tutorial/5-astro-api/3.mdx
  src/content/docs/es/tutorial/5-astro-api/4.mdx
  src/content/docs/es/tutorial/5-astro-api/index.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
  src/content/docs/es/tutorial/6-islands/2.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorial/6-islands/index.mdx
Labels: i18n

#5274 i18n(es): Update `configuring-astro`
  src/content/docs/es/guides/configuring-astro.mdx
Labels: i18n

#5278 i18n(es): Update `build-custom-image-component`
  src/content/docs/es/recipes/build-custom-img-component.mdx
Labels: i18n

#5277 i18n(es): Update `middleware`
  src/content/docs/es/guides/middleware.mdx
Labels: i18n

#5276 i18n(es): Update `vercel`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#5275 i18n(es): Update `markdoc`, `mdx` & `vue`
  src/content/docs/es/guides/integrations-guide/markdoc.mdx
  src/content/docs/es/guides/integrations-guide/mdx.mdx
  src/content/docs/es/guides/integrations-guide/vue.mdx
Labels: i18n

#5267 i18n(es): Update `astro-pages`
  src/content/docs/es/core-concepts/astro-pages.mdx
Labels: i18n

#5254 Fix tutorial cards usage
  src/content/docs/en/tutorial/3-components/1.mdx
  src/content/docs/en/tutorial/3-components/3.mdx
Labels: tutorial

#5130 guides: update `gitlab`
  src/content/docs/en/guides/deploy/gitlab.mdx
Labels: improve documentation, confirm behaviour, help wanted

#5284 [i18nIgnore] Fix pnpm command typos
  src/content/docs/en/editor-setup.mdx
  src/content/docs/en/guides/backend/google-firebase.mdx
  src/content/docs/en/guides/backend/supabase.mdx
  src/content/docs/en/guides/cms/buttercms.mdx
  src/content/docs/en/guides/cms/contentful.mdx
  src/content/docs/en/guides/cms/ghost.mdx
  src/content/docs/en/guides/cms/keystatic.mdx
  src/content/docs/en/guides/cms/kontent-ai.mdx
  src/content/docs/en/guides/cms/storyblok.mdx
  src/content/docs/en/guides/configuring-astro.mdx
  src/content/docs/en/guides/deploy/cloudflare.mdx
  src/content/docs/en/guides/fonts.mdx
  src/content/docs/en/guides/rss.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/guides/upgrade-to/v2.mdx
  src/content/docs/en/guides/upgrade-to/v3.mdx
  src/content/docs/en/install/manual.mdx
  src/content/docs/en/recipes/modified-time.mdx
  src/content/docs/en/recipes/reading-time.mdx
  src/content/docs/en/recipes/sharing-state.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/tutorial/5-astro-api/4.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
  src/content/docs/en/tutorials/add-view-transitions.mdx
Labels: confirm behaviour, code snippet update

#5288 i18n(es): Update `cli-reference.mdx`, `configuration-reference.mdx` & `error-reference.mdx`
  src/content/docs/es/reference/cli-reference.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/es/reference/error-reference.mdx
Labels: i18n

#5290 i18n(es): Update `api-reference.mdx` & `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#5289 i18n(es): Update `no-adapter-installed.mdx`, `image-service-reference.mdx` & `integrations-reference.mdx`
  src/content/docs/es/reference/errors/no-adapter-installed.mdx
  src/content/docs/es/reference/image-service-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#5287 i18n(es): Update `view-transitions.mdx`, `gitlab.mdx` & `v2.mdx`
  src/content/docs/es/guides/deploy/gitlab.mdx
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#5286 i18n(es): Update `tutorial/` & `publish-to-npm.mdx`
  src/content/docs/es/reference/publish-to-npm.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
Labels: i18n

#5285 i18n(es): Fix typo in `directives-reference.mdx`
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#5283 i18n(es): Translate `cosmic.mdx`
  src/content/docs/es/guides/cms/cosmic.mdx
Labels: i18n

#5279 i18n(ko-KR): Add new `bun.mdx` translation
  src/content/docs/ko/recipes/bun.mdx
Labels: i18n

#5292 i18n(zh-cn): update `reference/publish-to-npm.mdx`
  src/content/docs/zh-cn/reference/publish-to-npm.mdx
Labels: i18n

#5300 add note on linking to headings
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#5293 i18n(zh-cn): update `guides/deploy/gitlab.mdx`
  src/content/docs/zh-cn/guides/deploy/gitlab.mdx
Labels: i18n

#5291 i18n(zh-cn): update `tutorial/3-components/1.mdx` and `tutorial/3-components/3.mdx`
  src/content/docs/zh-cn/tutorial/3-components/1.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
Labels: i18n

#4529 i18n(it): translate `core-concepts`
  src/content/docs/it/core-concepts/astro-components.mdx
  src/content/docs/it/core-concepts/astro-pages.mdx
  src/content/docs/it/core-concepts/astro-syntax.mdx
  src/content/docs/it/core-concepts/endpoints.mdx
  src/content/docs/it/core-concepts/framework-components.mdx
  src/content/docs/it/core-concepts/layouts.mdx
Labels: i18n

#5304 i18n(es): Update `markdown-content`
  src/content/docs/es/guides/markdown-content.mdx
Labels: i18n

#5303 i18n(es): Update `gitlab`
  src/content/docs/es/guides/deploy/gitlab.mdx
Labels: i18n

#5272 Add Recipe for Using Tailwind to Style Rendered Markdown
  src/content/docs/en/recipes/tailwind-rendered-markdown.mdx
Labels: add new content, recipe

#5298 fix: add note about dynamic slot support
  src/content/docs/en/core-concepts/astro-components.mdx
Labels: improve documentation

#5203 i18n (hi):update `docsearch.ts` for hindi translated content
  src/i18n/hi/docsearch.ts
Labels: i18n, hacktoberfest-accepted

#5001 i18n(fr) Update and Translate `integration-guide.mdx`
  src/content/docs/fr/guides/integrations-guide.mdx
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#5250 i18n(hi): update `install/auto.mdx` & `install/manual.mdx` translation
  src/content/docs/hi/install/auto.mdx
  src/content/docs/hi/install/manual.mdx
Labels: i18n

#4688 i18n(fr): 📝 Tutorial Translation
  src/content/docs/fr/tutorial/0-introduction/1.mdx
  src/content/docs/fr/tutorial/0-introduction/index.mdx
  src/content/docs/fr/tutorial/1-setup/1.mdx
  src/content/docs/fr/tutorial/1-setup/2.mdx
  src/content/docs/fr/tutorial/1-setup/3.mdx
  src/content/docs/fr/tutorial/1-setup/4.mdx
  src/content/docs/fr/tutorial/1-setup/5.mdx
  src/content/docs/fr/tutorial/1-setup/index.mdx
  src/content/docs/fr/tutorial/2-pages/1.mdx
  src/content/docs/fr/tutorial/2-pages/2.mdx
  src/content/docs/fr/tutorial/2-pages/3.mdx
  src/content/docs/fr/tutorial/2-pages/4.mdx
  src/content/docs/fr/tutorial/2-pages/5.mdx
  src/content/docs/fr/tutorial/2-pages/index.mdx
  src/content/docs/fr/tutorial/3-components/1.mdx
  src/content/docs/fr/tutorial/3-components/2.mdx
  src/content/docs/fr/tutorial/3-components/3.mdx
  src/content/docs/fr/tutorial/3-components/4.mdx
  src/content/docs/fr/tutorial/3-components/index.mdx
  src/content/docs/fr/tutorial/4-layouts/1.mdx
  src/content/docs/fr/tutorial/4-layouts/2.mdx
  src/content/docs/fr/tutorial/4-layouts/3.mdx
  src/content/docs/fr/tutorial/4-layouts/index.mdx
  src/content/docs/fr/tutorial/5-astro-api/1.mdx
  src/content/docs/fr/tutorial/5-astro-api/2.mdx
  src/content/docs/fr/tutorial/5-astro-api/3.mdx
  src/content/docs/fr/tutorial/5-astro-api/4.mdx
  src/content/docs/fr/tutorial/5-astro-api/index.mdx
  src/content/docs/fr/tutorial/6-islands/1.mdx
  src/content/docs/fr/tutorial/6-islands/2.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
  src/content/docs/fr/tutorial/6-islands/index.mdx
Labels: i18n

#5271 Add prefetch docs
  src/content/docs/en/guides/prefetch.mdx
  src/i18n/en/nav.ts
Labels: add new content, merge-on-release, next-release

#5302 feat(overlay): Add information on new exit hook
  src/content/docs/en/reference/dev-overlay-plugin-reference.mdx
Labels: add new content, merge-on-release, next-release

#5191 Update docs for shikiji multiple theming
  src/content/docs/en/guides/markdown-content.mdx
Labels: add new content, merge-on-release, next-release

#5299 Document form support in the ViewTransitions router
  src/content/docs/en/guides/view-transitions.mdx
  src/content/docs/en/tutorials/add-view-transitions.mdx
Labels: add new content, merge-on-release, next-release

#5253 Document integration hooks for middleware
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, next-release

#5187 feat(guides): experimental i18n routing
  src/content/docs/en/guides/internationalization.mdx
  src/i18n/en/nav.ts
Labels: add new content, merge-on-release, next-release

#5312 Add section on experimental cache to Content Collection page
  src/content/docs/en/guides/content-collections.mdx
Labels: add new content, merge-on-release, next-release

#5330 fix: fix broken import in `storyblok`
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: code snippet update, next-release

#4667 [rendering-modes] New page!
  src/content/docs/en/core-concepts/rendering-modes.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
  src/content/docs/en/recipes/streaming-improve-page-performance.mdx
  src/i18n/en/nav.ts
Labels: add new content, next-release

#5321 i18n(zh-cn): update `core-concepts/astro-components.mdx`
  src/content/docs/zh-cn/core-concepts/astro-components.mdx
Labels: i18n

#5320 i18n(zh-cn): translate `recipes/tailwind-rendered-markdown.mdx`
  src/content/docs/zh-cn/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#5316 i18n(zh-cn): update `guides/deploy/gitlab.mdx`
  src/content/docs/zh-cn/guides/deploy/gitlab.mdx
Labels: i18n

#5326 [i18nIgnore] feat(image-service-reference): Change types to Uint8Array
  src/content/docs/en/reference/image-service-reference.mdx
  src/content/docs/es/reference/image-service-reference.mdx
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n, merge-on-release, next-release

#5315 i18n(zh-cn): update `guides/cms/tina-cms.mdx`
  src/content/docs/zh-cn/guides/cms/tina-cms.mdx
Labels: i18n

#5317 i18n(zh-cn): update `tutorials/add-view-transitions.mdx`
  src/content/docs/zh-cn/tutorials/add-view-transitions.mdx
Labels: i18n

#5314 i18n(zh-cn): update `guides/migrate-to-astro/from-nextjs.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#5335 i18n(zh-cn): update `guides/cms/storyblok.mdx`
  src/content/docs/zh-cn/guides/cms/storyblok.mdx
Labels: i18n

#5327 i18n(zh-cn): update `recipes.mdx`
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#5301 i18n(zh-cn): update `guides/markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#5341 Refactor Configuration Reference docgen script
  scripts/docgen.mjs
  src/content/docs/en/reference/configuration-reference.mdx
Labels: ci

#5363 Adds configuring instructions for Emacs
  src/content/docs/en/editor-setup.mdx
Labels: add new content

#5342 i18n(es): Update `astro-components`, `storyblok` & `tina-cms`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/guides/cms/storyblok.mdx
  src/content/docs/es/guides/cms/tina-cms.mdx
Labels: i18n

#5354 i18n(fr) Update translation configuring-astro.mdx
  src/content/docs/fr/guides/configuring-astro.mdx
Labels: i18n

#5355 i18n(fr) Update fr translation astro-components.mdx
  src/content/docs/fr/core-concepts/astro-components.mdx
Labels: i18n

#5361 i18n(fr) Update environment-variables.mdx
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#5360 i18n(fr) Update Fr translation netlify.mdx
  src/content/docs/fr/guides/deploy/netlify.mdx
Labels: i18n

#5362 i18n(fr) Update tailwind.mdx
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
Labels: i18n

#5359 i18n(fr) Update fr translation gitlab.mdx
  src/content/docs/fr/guides/deploy/gitlab.mdx
Labels: i18n

#5358 i18n(fr) Minor update github.mdx
  src/content/docs/fr/guides/deploy/github.mdx
Labels: i18n

#5356 Mention shikiji in Markdown & MDX page
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#5353 Tina CMS: clarify admin folder info
  src/content/docs/en/guides/cms/tina-cms.mdx
Labels: improve documentation

#5374 i18n(fr) Update wordpress.mdx
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#5373 i18n(fr) Update xata.mdx
  src/content/docs/fr/guides/backend/xata.mdx
Labels: i18n

#5377 i18n(fr) Update `middleware.mdx`
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#5372 i18n(fr) editor-setup.mdx
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#5376 i18n(fr) Update french translation `cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#5371 i18n(zh-cn): update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#5365 i18n(es): Update `editor-setup`
  src/content/docs/es/editor-setup.mdx
Labels: i18n

#5357 i18n(fr) Update fr translation astro-pages.mdx
  src/content/docs/fr/core-concepts/astro-pages.mdx
Labels: i18n

#5348 i18n(zh-cn): update `reference/integrations-reference.mdx`
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#5349 i18n(zh-cn): update `reference/configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/i18n/zh-cn/nav.ts
Labels: i18n

#5347 i18n(zh-cn): update `reference/cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#5346 i18n(zh-cn): update `guides/view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#5345 i18n(zh-cn): translate `guides/prefetch.mdx` and update `guides/integrations-guide/prefetch.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/prefetch.mdx
  src/content/docs/zh-cn/guides/prefetch.mdx
  src/i18n/zh-cn/nav.ts
Labels: i18n

#5344 i18n(zh-cn): translate `core-concepts/rendering-modes.mdx`
  src/content/docs/zh-cn/core-concepts/rendering-modes.mdx
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
  src/i18n/zh-cn/nav.ts
Labels: i18n

#5343 i18n(zh-cn): translate `recipes/streaming-improve-page-performance.mdx`
  src/content/docs/zh-cn/recipes/streaming-improve-page-performance.mdx
Labels: i18n

#5337 i18n (hi): update `nav.ts` for hindi translated content
  src/i18n/hi/nav.ts
Labels: i18n

#5375 i18n(fr) Update `microsoft-azure.mdx`
  src/content/docs/fr/guides/deploy/microsoft-azure.mdx
Labels: i18n

#5336 i18n(zh-cn): update `guides/content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#5388 i18n(fr) Update `nav.ts`
  src/i18n/fr/nav.ts
Labels: i18n

#5386 i18n(fr) Update `collection-does-not-exist-error.mdx`
  src/content/docs/fr/reference/errors/collection-does-not-exist-error.mdx
Labels: i18n

#5385 i18n(fr) Update `recipes.mdx`
  src/content/docs/fr/recipes.mdx
Labels: i18n

#5384 i18n(fr) Update `space.mdx`
  src/content/docs/fr/guides/deploy/space.mdx
Labels: i18n

#5381 i18n(es): Update `v2.mdx`, `recipes.mdx` & `view-transitions.mdx`
  src/content/docs/es/guides/view-transitions.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#5380 i18n(es): Update `tina-cms`, `markdown-content.mdx` & `from-nextjs.mdx`
  src/content/docs/es/guides/cms/tina-cms.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#5379 i18n(es): Translate `streaming-improve-page-performance.mdx`
  src/content/docs/es/recipes/streaming-improve-page-performance.mdx
Labels: i18n

#5305 [i18nIgnore] Add tab component to recipes and `deploy.mdx`
  src/content/docs/de/guides/deploy.mdx
  src/content/docs/de/recipes/add-yaml-support.mdx
  src/content/docs/en/guides/deploy.mdx
  src/content/docs/en/recipes/add-yaml-support.mdx
  src/content/docs/en/recipes/external-links.mdx
  src/content/docs/es/guides/deploy.mdx
  src/content/docs/es/recipes/add-yaml-support.mdx
  src/content/docs/es/recipes/external-links.mdx
  src/content/docs/fr/guides/deploy.mdx
  src/content/docs/ja/guides/deploy.mdx
  src/content/docs/ja/recipes/add-yaml-support.mdx
  src/content/docs/pt-br/guides/deploy.mdx
  src/content/docs/pt-br/recipes/external-links.mdx
  src/content/docs/ru/guides/deploy.mdx
  src/content/docs/zh-cn/guides/deploy.mdx
  src/content/docs/zh-cn/recipes/add-yaml-support.mdx
  src/content/docs/zh-cn/recipes/external-links.mdx
  src/content/docs/zh-tw/guides/deploy.mdx
Labels: i18n

#5364 [code-example-syntax] hippo-proof code examples
  src/content/docs/en/core-concepts/astro-components.mdx
  src/content/docs/en/core-concepts/astro-pages.mdx
  src/content/docs/en/core-concepts/astro-syntax.mdx
  src/content/docs/en/core-concepts/routing.mdx
  src/content/docs/en/core-concepts/sharing-state.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/internationalization.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/tutorial/2-pages/3.mdx
Labels: code snippet update

#5367 i18n(fr) Update markdown-content.mdx and Add reading-time.mdx and cli-reference.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/recipes/reading-time.mdx
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#5394 [i18nIgnore] typo fix - default
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: typo/link/grammar - quick fix!, i18n

#5402 i18n(es): Update `integrations-reference`
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#5401 i18n(es): Update `/2-pages/3`
  src/content/docs/es/tutorial/2-pages/3.mdx
Labels: i18n

#5400 i18n(es): Update `api-reference`
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#5399 i18n(es): Update `imports`
  src/content/docs/es/guides/imports.mdx
Labels: i18n

#5398 i18n(es): Update `routing`, `sharing-state` & `images`
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/core-concepts/sharing-state.mdx
  src/content/docs/es/guides/images.mdx
Labels: i18n

#5397 i18n(es): Update `astro-components`, `astro-pages` & `astro-syntax`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/core-concepts/astro-pages.mdx
  src/content/docs/es/core-concepts/astro-syntax.mdx
Labels: i18n

#5405 i18n(es): Update `v2.mdx`
  src/content/docs/es/guides/upgrade-to/v2.mdx
Labels: i18n

#5403 i18n(es): Update `nav.ts`
  src/i18n/es/nav.ts
Labels: i18n

#5396 i18n(es): Update `add-view-transitions`
  src/content/docs/es/tutorials/add-view-transitions.mdx
Labels: i18n

#5395 i18n(es): Translate `tailwind-rendered-markdown`
  src/content/docs/es/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#5383 i18n (hi): update `ui.ts` for hindi translated content
  src/i18n/hi/ui.ts
Labels: i18n

#5378 i18n(es): Update `integrations-guides/prefetch` & `configuration-reference` and translate `guides/prefetch`
  src/content/docs/es/guides/integrations-guide/prefetch.mdx
  src/content/docs/es/guides/prefetch.mdx
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#5339 feat: add new toggle component to dev overlay reference
  src/content/docs/en/reference/dev-overlay-plugin-reference.mdx
Labels: add new content, merge-on-release

#5416 Migrate docs site to Vercel
  src/i18n/languages.ts
  src/i18n/translation-checkers.ts
  src/pages/404.astro
  src/pages/[lang]/404.astro
  vercel.json
Labels: i18n

#5423 i18n(es): Update `cloudflare`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#5415 i18n(fr) Update auto.mdx
  src/content/docs/fr/install/auto.mdx
Labels: i18n

#5414 i18n(fr) Fix several file for last PR #5364
  src/content/docs/fr/core-concepts/astro-components.mdx
  src/content/docs/fr/core-concepts/astro-pages.mdx
  src/content/docs/fr/core-concepts/astro-syntax.mdx
  src/content/docs/fr/core-concepts/routing.mdx
  src/content/docs/fr/core-concepts/sharing-state.mdx
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/tutorial/2-pages/3.mdx
Labels: i18n

#5412 i18n(fr) Update nav.ts
  src/i18n/fr/nav.ts
Labels: i18n

#5411 i18n(es): Update `server-side-rendering.mdx`
  src/content/docs/es/guides/server-side-rendering.mdx
Labels: i18n

#5366 i18n(es): Update `content-collections`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#5352 i18n(ja): Update `tutorial/2-pages/`
  src/content/docs/ja/tutorial/2-pages/2.mdx
Labels: i18n

#5455 i18n(fr) fix translation with last PR #5417 `environment-variables.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#5447 i18(fr) Create `modified-time.mdx`
  src/content/docs/fr/recipes/modified-time.mdx
Labels: i18n

#5443 i18n(fr) Create `build-custom-img-component.mdx`
  src/content/docs/fr/recipes/build-custom-img-component.mdx
Labels: i18n

#5439 i18n(fr) Create `add-yaml-support.mdx`
  src/content/docs/fr/recipes/add-yaml-support.mdx
Labels: i18n

#5437 i18n(fr) Create `frontmatter-cms.mdx`
  src/content/docs/fr/guides/cms/frontmatter-cms.mdx
Labels: i18n

#5435 i18n(fr) Update `cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#5422 i18n(zh-CN): Update images.mdx, cloudflare.mdx
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#5421 i18n(zh-CN): update guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#5420 i18n(zh-CN): update guides\environment-variables.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#5419 i18n(zh-CN): hippo-proof code examples
  src/content/docs/zh-cn/core-concepts/astro-components.mdx
  src/content/docs/zh-cn/core-concepts/astro-pages.mdx
  src/content/docs/zh-cn/core-concepts/astro-syntax.mdx
  src/content/docs/zh-cn/core-concepts/routing.mdx
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
Labels: i18n

#5418 i18n(zh-CN): update guides/cms/tina-cms.mdx
  src/content/docs/zh-cn/guides/cms/tina-cms.mdx
Labels: i18n

#5370 i18n(zh-CN): update tutorial\2-pages\3.mdx
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
Labels: i18n

#4694 i18n(zh-CN): add translation guides
  src/i18n/zh-cn/README.md
Labels: i18n

#5459 i18n(zh-cn): update `guides/server-side-rendering.mdx`
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
Labels: i18n
