Repository withastro/docs, pull requests merged in 2023-01, with the labels that each got.

#2253 i18n(ja): Add typescript.mdx
  src/pages/ja/guides/typescript.mdx
Labels: i18n

#2268 i18n(ja): Update auto.mdx
  src/pages/ja/install/auto.mdx
Labels: i18n

#2265 Revert "Consistent installation title"
  src/pages/en/install/auto.mdx
  src/pages/en/install/manual.mdx
Labels: site improvement

#2272 i18n(ar): Translate why-astro
  src/i18n/ar/nav.ts
  src/pages/ar/concepts/why-astro.mdx
Labels: i18n

#2267 Align left edge of Tabs and TabGroup
  src/components/TabGroup/InstallGuideTabGroup.astro
  src/components/TabGroup/TabGroup.css
  src/components/tabs/Tabs.module.css
Labels: site improvement

#2245 Change content collection slug default to `github-slugger`
  src/pages/en/guides/content-collections.mdx
Labels: improve documentation, merge-on-release

#2254 Document `vite.ssr.noExternal`
  src/pages/en/guides/imports.mdx
  src/pages/en/reference/configuration-reference.mdx
Labels: add new content

#2264 Additional info about vercel deployment project config (#2263)
  src/pages/en/guides/deploy/vercel.mdx
Labels: improve documentation

#2250 Injected frontmatter change
  src/pages/en/guides/content-collections.mdx
  src/pages/en/guides/markdown-content.mdx
  src/pages/en/reference/api-reference.mdx
Labels: improve documentation

#2288 [i18nIgnore] Delete outdated content with broken link in es/ja
  src/pages/es/guides/markdown-content.mdx
  src/pages/ja/guides/markdown-content.mdx
Labels: i18n

#2278 [tutorial] quick fixes from Hippo feedback
  src/pages/en/tutorial/0-introduction/1.mdx
  src/pages/en/tutorial/1-setup/2.mdx
  src/pages/en/tutorial/1-setup/4.mdx
  src/pages/en/tutorial/1-setup/index.mdx
  src/pages/en/tutorial/2-pages/1.mdx
Labels: tutorial

#2242 fix: update WordPress cms guide formatting and examples
  src/pages/en/guides/cms/wordpress.mdx
Labels: improve documentation

#2281 i18n(pt-BR): Add `client-side-scripts.mdx` translation
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/client-side-scripts.mdx
Labels: i18n

#2289 i18n(ja): Add integrations-guide.mdx
  src/pages/ja/guides/integrations-guide.mdx
  src/pages/ja/reference/cli-reference.mdx
Labels: i18n

#2293 i18n(zh-cn): Add testing.mdx
  src/pages/zh-cn/guides/testing.mdx
Labels: i18n

#2259 Cookies SSR Page Guide + example
  src/pages/en/guides/server-side-rendering.mdx
Labels: add new content

#2269 Added comprehensive guide on using Ghost with Astro
  src/pages/en/guides/cms/ghost.mdx
Labels: add new content

#2305 [i18nIgnore] Prep to remove `astroFlavoredMarkdown` in reference
  MAINTAINERS.md
  package.json
  pnpm-lock.yaml
  src/pages/en/migrate.mdx
  src/pages/ru/guides/markdown-content.mdx
Labels: i18n

#2308 Use `<Spoiler>` component directly & remove micromark extension
  astro.config.ts
  integrations/astro-spoilers/constants.ts
  integrations/astro-spoilers/index.ts
  integrations/astro-spoilers/remark-spoilers.ts
  src/pages/en/tutorial/2-pages/3.mdx
  src/pages/en/tutorial/2-pages/4.mdx
  src/pages/en/tutorial/2-pages/5.mdx
  src/pages/en/tutorial/6-islands/1.mdx
Labels: bug

#2298 i18n(de): Add custom endpoints translation
  src/i18n/de/nav.ts
  src/pages/de/core-concepts/endpoints.mdx
Labels: i18n

#2316 i18n(fr): Update 'islands concept' page in French
  src/pages/fr/concepts/islands.mdx
Labels: i18n

#2294 i18n(zh-CN): Translate client-side scripts and nav strings
  src/i18n/zh-cn/nav.ts
  src/pages/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#2315 i18n(ja): Update getting-started.mdx
  src/pages/ja/getting-started.mdx
Labels: i18n

#2323 i18n(es): Fix missing file name query
  src/pages/es/guides/aliases.mdx
Labels: i18n

#2303 i18n(pt-BR): Update `markdown-content.mdx` and `layouts.mdx` translations
  src/pages/pt-br/core-concepts/layouts.mdx
  src/pages/pt-br/guides/markdown-content.mdx
Labels: i18n

#2246 i18n(es): Update of `api-reference.mdx` and `cli-reference.mdx`
  src/pages/es/reference/api-reference.mdx
  src/pages/es/reference/cli-reference.mdx
Labels: i18n

#2276 [i18nIgnore] Remove Vue TypeScript troubleshooting section
  src/pages/en/guides/typescript.mdx
  src/pages/es/guides/typescript.mdx
  src/pages/ja/guides/typescript.mdx
  src/pages/pt-br/guides/typescript.mdx
  src/pages/zh-cn/guides/typescript.mdx
Labels: improve documentation, merge-on-release

#2333 [i18nIgnore] Delete comparisons page & lighthouse audits
  netlify.toml
  old-translations/de/comparing-astro-vs-other-tools.md
  old-translations/es/comparing-astro-vs-other-tools.md
  old-translations/ja/comparing-astro-vs-other-tools.md
  old-translations/zh-CN/comparing-astro-vs-other-tools.md
  src/pages/de/core-concepts/astro-components.mdx
  src/pages/en/comparing-astro-vs-other-tools.mdx
  src/pages/es/core-concepts/astro-components.mdx
  src/pages/es/guides/troubleshooting.mdx
  src/pages/fr/core-concepts/astro-components.mdx
  src/pages/fr/guides/troubleshooting.mdx
  src/pages/ja/comparing-astro-vs-other-tools.mdx
  src/pages/lighthouse/11ty.astro
  src/pages/lighthouse/astro.astro
  src/pages/lighthouse/docusaurus.astro
  src/pages/lighthouse/gatsby.astro
  src/pages/lighthouse/hugo.astro
  src/pages/lighthouse/jekyll.astro
  src/pages/lighthouse/next.astro
  src/pages/lighthouse/nuxt.astro
  src/pages/lighthouse/remix.astro
  src/pages/lighthouse/sveltekit.astro
  src/pages/lighthouse/vuepress.astro
  src/pages/lighthouse/zola.astro
  src/pages/pt-br/comparing-astro-vs-other-tools.mdx
  src/pages/pt-br/core-concepts/astro-components.mdx
  src/pages/zh-cn/comparing-astro-vs-other-tools.mdx
  src/pages/zh-cn/core-concepts/astro-components.mdx
  src/pages/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#2319 i18n(ja): Update astro-pages.mdx
  src/pages/ja/core-concepts/astro-pages.mdx
Labels: i18n

#2331 i18n(fr): Update why-astro.mdx
  src/pages/fr/concepts/why-astro.mdx
Labels: i18n

#2312 i18n(pt-BR): Update `astro-components.mdx`, `astro-pages.mdx` and a few more!
  src/pages/pt-br/concepts/why-astro.mdx
  src/pages/pt-br/core-concepts/astro-components.mdx
  src/pages/pt-br/core-concepts/astro-pages.mdx
  src/pages/pt-br/core-concepts/project-structure.mdx
  src/pages/pt-br/core-concepts/sharing-state.mdx
  src/pages/pt-br/editor-setup.mdx
  src/pages/pt-br/getting-started.mdx
  src/pages/pt-br/guides/data-fetching.mdx
  src/pages/pt-br/guides/deploy/buddy.mdx
  src/pages/pt-br/guides/integrations-guide.mdx
  src/pages/pt-br/reference/integrations-reference.mdx
  src/pages/pt-br/reference/publish-to-npm.mdx
Labels: i18n

#2341 ci(check): Add `astro check` step
  .github/workflows/ci.yml
  package.json
  src/components/Aside.astro
  src/components/ContributorList.astro
  src/components/DeployGuidesNav.astro
  src/components/HeadCommon.astro
  src/components/Header/ThemeToggleButton.tsx
  src/components/IntegrationsNav.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/NavGrid/Card.astro
  src/components/NavGrid/CardsNav.astro
  src/components/Video.astro
  src/components/tabs/TabbedContent.astro
  src/components/tutorial/TutorialNav.astro
  src/i18n/util.ts
  src/layouts/BaseLayout.astro
  src/layouts/DeployGuideLayout.astro
  src/layouts/MainLayout.astro
  src/pages/[lang]/404.astro
  src/pages/[lang]/[...fallback].astro
Labels: 🚨 action

#2347 i18n(es): Update of `project-structure.mdx`, `rss.mdx`, `server-side-rendering.mdx`, `styling.mdx` and `troubleshooting.mdx`
  src/pages/es/core-concepts/project-structure.mdx
  src/pages/es/guides/rss.mdx
  src/pages/es/guides/server-side-rendering.mdx
  src/pages/es/guides/styling.mdx
  src/pages/es/guides/troubleshooting.mdx
Labels: i18n

#2324 i18n(ja): Update layouts.mdx
  src/pages/ja/core-concepts/layouts.mdx
  src/pages/ja/guides/markdown-content.mdx
Labels: i18n

#2349 i18n(zh-cn): fix punctuation and bold typos
  src/pages/zh-cn/concepts/why-astro.mdx
  src/pages/zh-cn/editor-setup.mdx
Labels: i18n

#2325 i18n(ja): Update docsearch.ts
  src/i18n/ja/docsearch.ts
Labels: site improvement

#2335 [Content collections] `z.object` wrapper for schemas
  src/pages/en/guides/content-collections.mdx
  src/pages/en/reference/api-reference.mdx
Labels: improve documentation

#2313 [Content collections] Add `.astro` directory setup
  src/pages/en/guides/content-collections.mdx
  src/pages/en/reference/cli-reference.mdx
Labels: add new content

#2362 [i18nIgnore] Update supported Node versions
  src/pages/de/install/manual.mdx
  src/pages/en/guides/deploy/netlify.mdx
  src/pages/en/install/auto.mdx
  src/pages/en/install/manual.mdx
  src/pages/en/tutorial/1-setup/1.mdx
  src/pages/es/guides/deploy/netlify.mdx
  src/pages/es/install/auto.mdx
  src/pages/es/install/manual.mdx
  src/pages/fr/guides/deploy/netlify.mdx
  src/pages/fr/install/auto.mdx
  src/pages/fr/install/manual.mdx
  src/pages/ja/install/auto.mdx
  src/pages/ja/install/manual.mdx
  src/pages/pt-br/guides/deploy/netlify.mdx
  src/pages/pt-br/install/auto.mdx
  src/pages/pt-br/install/manual.mdx
  src/pages/ru/install/auto.mdx
  src/pages/zh-cn/install/auto.mdx
  src/pages/zh-cn/install/manual.mdx
  src/pages/zh-tw/install/auto.mdx
  src/pages/zh-tw/install/manual.mdx
Labels: improve documentation, i18n

#2364 remove outdated (and duplicated!) installation instructions
  src/pages/en/core-concepts/framework-components.mdx
Labels: improve documentation

#2344 i18n(pt-BR): Update `endpoints.mdx` and `api-reference.mdx` translations
  src/pages/pt-br/core-concepts/endpoints.mdx
  src/pages/pt-br/reference/api-reference.mdx
Labels: i18n

#2365 remove scary warning
  src/pages/en/guides/integrations-guide.mdx
Labels: improve documentation

#2358 i18n(ja): Translate Scripts and Event Handling
  src/pages/ja/guides/client-side-scripts.mdx
Labels: i18n

#2368 i18n(fr): Update github.mdx
  src/pages/fr/guides/deploy/github.mdx
Labels: i18n

#2346 i18n(pt-BR): Update `framework-components.mdx` and +9 translations
  src/pages/pt-br/core-concepts/framework-components.mdx
  src/pages/pt-br/guides/configuring-astro.mdx
  src/pages/pt-br/guides/deploy.mdx
  src/pages/pt-br/guides/deploy/gitlab.mdx
  src/pages/pt-br/guides/deploy/netlify.mdx
  src/pages/pt-br/guides/deploy/vercel.mdx
  src/pages/pt-br/guides/environment-variables.mdx
  src/pages/pt-br/guides/server-side-rendering.mdx
  src/pages/pt-br/integrations/integrations.mdx
  src/pages/pt-br/reference/adapter-reference.mdx
Labels: i18n

#2363 i18n(pt-BR): Update `(configuration/directives)-reference.mdx` translations
  src/pages/pt-br/migrate.mdx
  src/pages/pt-br/reference/configuration-reference.mdx
  src/pages/pt-br/reference/directives-reference.mdx
Labels: i18n

#2366 i18n(pt-BR): Add `migrate-to-astro.mdx` and `cms.mdx` translations
  src/i18n/pt-br/docsearch.ts
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/cms.mdx
  src/pages/pt-br/guides/migrate-to-astro.mdx
Labels: i18n

#2361 i18n(fr): Update astro-components.mdx
  src/pages/fr/core-concepts/astro-components.mdx
  src/pages/fr/core-concepts/framework-components.mdx
  src/pages/fr/core-concepts/layouts.mdx
  src/pages/fr/guides/markdown-content.mdx
Labels: i18n

#2382 [tutorial] Update outdated image src
  src/pages/en/tutorial/5-astro-api/1.mdx
Labels: typo or grammar fix

#2342 i18n(es): Update of `getting-started.mdx`, `vercel.mdx` , `imports.md` and `markdown-content.md`
  src/pages/es/getting-started.mdx
  src/pages/es/guides/deploy/vercel.mdx
  src/pages/es/guides/imports.mdx
  src/pages/es/guides/markdown-content.mdx
  src/pages/es/reference/api-reference.mdx
Labels: i18n

#2336 Added https://spinalcms.com/ as a CMS option
  public/logos/spinal.svg
  src/components/BrandLogo.astro
  src/pages/en/guides/cms/spinal.mdx
Labels: add new content

#2387 [Tutorial] Fix typos
  src/pages/en/tutorial/0-introduction/1.mdx
  src/pages/en/tutorial/1-setup/1.mdx
  src/pages/en/tutorial/1-setup/4.mdx
  src/pages/en/tutorial/1-setup/5.mdx
  src/pages/en/tutorial/2-pages/1.mdx
  src/pages/en/tutorial/2-pages/2.mdx
  src/pages/en/tutorial/2-pages/4.mdx
  src/pages/en/tutorial/2-pages/index.mdx
  src/pages/en/tutorial/3-components/1.mdx
  src/pages/en/tutorial/3-components/3.mdx
  src/pages/en/tutorial/3-components/index.mdx
  src/pages/en/tutorial/4-layouts/2.mdx
  src/pages/en/tutorial/4-layouts/3.mdx
  src/pages/en/tutorial/4-layouts/index.mdx
  src/pages/en/tutorial/5-astro-api/2.mdx
  src/pages/en/tutorial/5-astro-api/3.mdx
  src/pages/en/tutorial/5-astro-api/4.mdx
  src/pages/en/tutorial/5-astro-api/index.mdx
  src/pages/en/tutorial/6-islands/1.mdx
  src/pages/en/tutorial/6-islands/2.mdx
Labels: typo or grammar fix, tutorial

#2374 i18n(ja): Update ui.ts
  src/i18n/ja/ui.ts
Labels: i18n

#2375 i18n(ja): Update project-structure.mdx
  src/pages/ja/core-concepts/project-structure.mdx
Labels: i18n

#2377 i18n(ja): Add deploy/flightcontrol.mdx
  src/pages/ja/guides/deploy/flightcontrol.mdx
Labels: i18n

#2370 Add beta tag detection in `<Since>`
  src/components/Since.astro
  src/i18n/en/ui.ts
Labels: site improvement

#2389 feat(tsconfig): Use Astro's tsconfig preset
  src/components/CMSGuidesNav.astro
  src/components/Header/Search.astro
  src/components/UIString.astro
  src/components/tutorial/TutorialNav.astro
  src/pages/[lang]/[...fallback].astro
  tsconfig.json
Labels: site improvement

#2388 Use more reliable image source for tutorial
  src/pages/en/tutorial/5-astro-api/1.mdx
Labels: improve documentation, tutorial

#2356 i18n(zh-cn): migrate-to-astro
  src/pages/zh-cn/guides/migrate-to-astro.mdx
Labels: i18n

#2391 Improve subpages handling and add missing pages
  src/util.ts
Labels: site improvement

#2379 i18n(ja): Add deploy/google-firebase.mdx
  src/pages/ja/guides/deploy/google-firebase.mdx
Labels: i18n

#2378 i18n(ja): Add deploy/google-cloud.mdx
  src/pages/ja/guides/deploy/google-cloud.mdx
Labels: i18n

#2390 Remove fake tabs from install guides
  src/pages/en/install/auto.mdx
  src/pages/en/install/manual.mdx
Labels: improve documentation

#2392 Correcting Ghost dependencies integration commands
  src/pages/en/guides/cms/ghost.mdx
Labels: typo or grammar fix

#2367 i18n(es): Update of `framework-components.mdx`, `integrations-guide.mdx`, `auto.mdx`, `manual.mdx`, `integrations.mdx` & `api-reference.mdx`
  src/pages/es/core-concepts/framework-components.mdx
  src/pages/es/guides/integrations-guide.mdx
  src/pages/es/guides/markdown-content.mdx
  src/pages/es/install/auto.mdx
  src/pages/es/install/manual.mdx
  src/pages/es/integrations/integrations.mdx
  src/pages/es/reference/api-reference.mdx
Labels: i18n

#2396 i18n(ja): Add guides/content.mdx
  src/pages/ja/guides/content.mdx
Labels: i18n

#2385 i18n(fr): Update `publish-to-npm.mdx`, `integrations.mdx`, `manual.mdx` and `auto.mdx`
  src/pages/fr/install/auto.mdx
  src/pages/fr/install/manual.mdx
  src/pages/fr/integrations/integrations.mdx
  src/pages/fr/reference/publish-to-npm.mdx
Labels: i18n

#2401 Revamped RSS instructions for content collections
  src/pages/en/guides/rss.mdx
  src/pages/en/tutorial/5-astro-api/4.mdx
Labels: improve documentation

#2409 content collections in styling, markdown pages
  src/pages/en/core-concepts/astro-pages.mdx
  src/pages/en/guides/markdown-content.mdx
  src/pages/en/guides/styling.mdx
Labels: improve documentation

#2410 i18n(es): add multiple error pages
  src/pages/es/reference/errors/failed-to-load-module-ssr.mdx
  src/pages/es/reference/errors/generate-content-types-error.mdx
  src/pages/es/reference/errors/get-static-paths-expected-params.mdx
  src/pages/es/reference/errors/get-static-paths-invalid-route-param.mdx
Labels: i18n

#2421 Document version of RSS package needed for new features
  WRITING.md
  src/components/Since.astro
  src/pages/en/guides/rss.mdx
Labels: improve documentation

#2394 i18n(pt-BR): Update `styling.mdx` and `markdown-content.mdx` translations
  src/pages/pt-br/guides/markdown-content.mdx
  src/pages/pt-br/guides/styling.mdx
Labels: i18n

#2416 i18n(es): multiple updates of pages
  src/pages/es/guides/deploy/vercel.mdx
  src/pages/es/migrate.mdx
  src/pages/es/reference/cli-reference.mdx
  src/pages/es/reference/configuration-reference.mdx
  src/pages/es/reference/error-reference.mdx
  src/pages/es/reference/errors/config-legacy-key.mdx
  src/pages/es/reference/integrations-reference.mdx
Labels: i18n

#2413 Document using `--template` with other branch names
  src/pages/en/install/auto.mdx
Labels: improve documentation

#2360 i18n(fr): Update layouts.mdx
  src/pages/fr/core-concepts/layouts.mdx
  src/pages/fr/guides/markdown-content.mdx
Labels: i18n

#2371 Fred's edit pass on content collections guide
  src/i18n/en/nav.ts
  src/pages/en/core-concepts/astro-pages.mdx
  src/pages/en/guides/content-collections.mdx
  src/pages/en/reference/api-reference.mdx
  src/pages/es/reference/api-reference.mdx
  src/pages/pt-br/reference/api-reference.mdx
Labels: improve documentation, i18n

#2430 i18n(es): add multiple error pages
  src/pages/es/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/pages/es/reference/errors/get-static-paths-required.mdx
  src/pages/es/reference/errors/invalid-frontmatter-injection-error.mdx
Labels: i18n

#2425 i18n(es): update of `astro-pages.mdx`, `markdown-content.mdx`, `rss.mdx`, `styling.mdx` & `auto.mdx`
  src/pages/es/core-concepts/astro-pages.mdx
  src/pages/es/guides/markdown-content.mdx
  src/pages/es/guides/rss.mdx
  src/pages/es/guides/styling.mdx
  src/pages/es/install/auto.mdx
Labels: i18n

#2434 i18n(es): add multiple error pages
  src/pages/es/guides/migrate-to-astro.mdx
  src/pages/es/reference/errors/client-address-not-available.mdx
  src/pages/es/reference/errors/invalid-get-static-path-param.mdx
  src/pages/es/reference/errors/invalid-get-static-paths-return.mdx
  src/pages/es/reference/errors/invalid-glob.mdx
  src/pages/es/reference/errors/invalid-prerender-export.mdx
  src/pages/es/reference/errors/markdown-content-schema-validation-error.mdx
  src/pages/es/reference/errors/markdown-frontmatter-parse-error.mdx
  src/pages/es/reference/errors/mdx-integration-missing-error.mdx
  src/pages/es/reference/errors/missing-media-query-directive.mdx
  src/pages/es/reference/errors/no-adapter-installed.mdx
  src/pages/es/reference/errors/no-client-entrypoint.mdx
  src/pages/es/reference/errors/no-client-only-hint.mdx
  src/pages/es/reference/errors/no-matching-import.mdx
  src/pages/es/reference/errors/no-matching-renderer.mdx
  src/pages/es/reference/errors/no-matching-static-path-found.mdx
  src/pages/es/reference/errors/only-response-can-be-returned.mdx
  src/pages/es/reference/errors/reserved-slot-name.mdx
  src/pages/es/reference/errors/static-client-address-not-available.mdx
  src/pages/es/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#2393 i18n(pt-BR): Update `cli-reference.mdx` and `vercel.mdx` translations
  src/pages/pt-br/guides/deploy/vercel.mdx
  src/pages/pt-br/reference/cli-reference.mdx
Labels: i18n

#2403 i18n(pt-BR): Update `integrations-guide.mdx` and `install/*.mdx` translations
  src/pages/pt-br/guides/integrations-guide.mdx
  src/pages/pt-br/install/auto.mdx
  src/pages/pt-br/install/manual.mdx
Labels: i18n

#2406 i18n(pt-BR): Update `fonts.mdx` and `images.mdx` translations
  src/pages/pt-br/guides/fonts.mdx
  src/pages/pt-br/guides/images.mdx
Labels: i18n

#2411 i18n(pt-BR): Update `imports.mdx` and `troubleshooting.mdx` translations
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/imports.mdx
  src/pages/pt-br/guides/troubleshooting.mdx
Labels: i18n

#2412 i18n(pt-BR): Update `routing.mdx` and `astro-pages.mdx` translations
  src/pages/pt-br/core-concepts/astro-pages.mdx
  src/pages/pt-br/core-concepts/routing.mdx
Labels: i18n

#2417 i18n(pt-BR): Update `rss.mdx` translation
  src/pages/pt-br/guides/rss.mdx
Labels: i18n

#2440 i18n(pt-BR): Update `api-reference.mdx` translation
  src/pages/pt-br/reference/api-reference.mdx
Labels: i18n

#2438 i18n(pt-BR): Add final missing deploy pages translations
  src/pages/pt-br/guides/deploy/cloudflare.mdx
  src/pages/pt-br/guides/deploy/deno.mdx
  src/pages/pt-br/guides/deploy/kinsta.mdx
  src/pages/pt-br/guides/deploy/microsoft-azure.mdx
Labels: i18n

#2427 i18n(pt-BR): Add `error-reference.mdx` and 4 more deploy pages translations
  src/i18n/pt-br/nav.ts
  src/pages/pt-br/guides/deploy/cleavr.mdx
  src/pages/pt-br/guides/deploy/edgio.mdx
  src/pages/pt-br/guides/deploy/flightcontrol.mdx
  src/pages/pt-br/guides/deploy/heroku.mdx
  src/pages/pt-br/reference/error-reference.mdx
Labels: i18n

#2446 [i18nIgnore] [tutorial] tiny typo tweak
  src/pages/en/tutorial/2-pages/3.mdx
Labels: tutorial

#2330 [upgrade guide] [i18nIgnore] Add upgrade to v2 guide + moving pieces
  netlify.toml
  src/i18n/en/nav.ts
  src/pages/ar/getting-started.mdx
  src/pages/de/getting-started.mdx
  src/pages/en/getting-started.mdx
  src/pages/en/guides/upgrade-to/v1.mdx
  src/pages/en/guides/upgrade-to/v2.mdx
  src/pages/en/migration/0.21.0.astro
  src/pages/es/getting-started.mdx
  src/pages/fr/getting-started.mdx
  src/pages/ja/getting-started.mdx
  src/pages/ja/migrate.mdx
  src/pages/pt-br/getting-started.mdx
  src/pages/pt-br/migrate.mdx
  src/pages/ru/getting-started.mdx
  src/pages/ru/guides/markdown-content.mdx
  src/pages/zh-cn/getting-started.mdx
  src/pages/zh-cn/migrate.mdx
  src/pages/zh-tw/getting-started.mdx
Labels: i18n, add new content, merge-on-release

#2436 Add v2 callout to docs landing page
  src/pages/en/getting-started.mdx
Labels: merge-on-release

#2441 i18n(ja): Update getting-started.mdx (add v2 callout)
  src/pages/ja/getting-started.mdx
Labels: i18n, merge-on-release

#2437 i18n(fr): Add Astro v2 callout to `getting-started.mdx`
  src/pages/fr/getting-started.mdx
Labels: i18n, merge-on-release

#2450 i18n(de): Add v2 callout to landing page
  src/pages/de/getting-started.mdx
Labels: i18n, merge-on-release

#2449 i18n(es): Add v2 callout to landing page
  src/pages/es/getting-started.mdx
Labels: i18n, merge-on-release

#2443 i18n(es): Update of `api-reference.mdx`
  src/pages/es/reference/api-reference.mdx
Labels: i18n

#2376 i18n(ja): Add deploy/vercel.mdx
  src/pages/ja/guides/deploy/vercel.mdx
  src/pages/ja/reference/configuration-reference.mdx
Labels: i18n

#2432 i18n(zh-cn): fix some typos
  src/pages/zh-cn/guides/client-side-scripts.mdx
  src/pages/zh-cn/guides/deploy/cloudflare.mdx
  src/pages/zh-cn/guides/testing.mdx
Labels: i18n

#2458 [testing guide] accepting translations!
  src/pages/en/guides/testing.mdx
Labels: i18n

#2448 i18n(es): Update of `error-reference.mdx` and removed identical paragraph from `rss.mdx`
  src/pages/es/guides/rss.mdx
  src/pages/es/reference/error-reference.mdx
Labels: i18n

#2459 [i18nIgnore] Fixing typos
  src/pages/de/core-concepts/endpoints.mdx
  src/pages/en/guides/cms/contentful.mdx
  src/pages/en/guides/cms/wordpress.mdx
  src/pages/en/guides/content-collections.mdx
  src/pages/en/guides/deploy/cleavr.mdx
  src/pages/en/guides/integrations-guide/mdx.mdx
  src/pages/en/guides/upgrade-to/v1.mdx
  src/pages/en/reference/api-reference.mdx
  src/pages/en/reference/integrations-reference.mdx
  src/pages/en/reference/publish-to-npm.mdx
  src/pages/en/tutorial/2-pages/3.mdx
  src/pages/en/tutorial/5-astro-api/2.mdx
Labels: i18n

#2461 Update prerendering section
  src/pages/en/guides/server-side-rendering.mdx
Labels: improve documentation

#2456 i18n(es): Add translate page /guides/testing/
  src/pages/es/guides/testing.mdx
Labels: i18n

#2481 i18n(es): Add page `/guides/deploy/sst.mdx`
  src/pages/es/guides/deploy/sst.mdx
Labels: i18n

#2479 i18n(es): Update of `layouts.mdx`, `sharing-state.mdx` & `server-side-rendering.mdx`
  src/pages/es/core-concepts/layouts.mdx
  src/pages/es/core-concepts/sharing-state.mdx
  src/pages/es/guides/server-side-rendering.mdx
Labels: i18n

#2484 [i18n Guide] Add PR Recommendations
  TRANSLATING.md
Labels: add new content

#2488 i18n(fr): Update core-concepts/layouts.mdx
  src/pages/fr/core-concepts/layouts.mdx
Labels: i18n

#2491 i18n(fr): Updated core-concepts/sharing-state.mdx
  src/pages/fr/core-concepts/sharing-state.mdx
Labels: i18n

#2489 i18n(fr): core-concepts/project-structure.mdx
  src/pages/fr/core-concepts/project-structure.mdx
Labels: i18n

#2493 i18n(es): Added error pages
  src/pages/es/reference/errors/content-schema-contains-slug-error.mdx
  src/pages/es/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/pages/es/reference/errors/invalid-content-entry-slug-error.mdx
Labels: i18n

#2490 i18n(fr): Update core-concepts/routing.mdx
  src/pages/fr/core-concepts/routing.mdx
Labels: i18n

#2477 Replace deprecated pnpx command
  src/pages/de/guides/integrations-guide.mdx
  src/pages/en/guides/integrations-guide.mdx
  src/pages/en/guides/server-side-rendering.mdx
  src/pages/es/guides/integrations-guide.mdx
  src/pages/es/guides/server-side-rendering.mdx
  src/pages/fr/guides/integrations-guide.mdx
  src/pages/ja/guides/integrations-guide.mdx
  src/pages/ja/guides/server-side-rendering.mdx
  src/pages/pt-br/guides/integrations-guide.mdx
  src/pages/pt-br/guides/server-side-rendering.mdx
  src/pages/zh-cn/guides/integrations-guide.mdx
Labels: i18n

#2502 i18n(es): Update of `configuring-astro.mdx`
  src/pages/es/guides/configuring-astro.mdx
Labels: i18n

#2508 i18n(es): Update `testing.mdx`
  src/pages/es/guides/testing.mdx
Labels: i18n

#2512 Correct code sample in Contentful guide
  src/pages/en/guides/cms/contentful.mdx
Labels: improve documentation

#2505 i18n(ja): Add testing.mdx
  src/pages/ja/guides/testing.mdx
Labels: i18n

#2514 docs: Taliwind to Tailwind
  src/pages/zh-cn/guides/migrate-to-astro.mdx
Labels: i18n

#2405 i18n(ja): Add guides/images.mdx
  src/pages/ja/guides/images.mdx
Labels: i18n

#2503 Note Code component Shiki edge case
  src/pages/en/reference/api-reference.mdx
Labels: improve documentation
