Repository withastro/docs, pull requests merged in 2023-03, with the labels that each got.

#2761 Enable CI for `merge_group`
  .github/workflows/ci.yml
Labels: 🚨 action

#2738 i18n(de): Translate troubleshooting.mdx
  src/content/docs/de/guides/troubleshooting.mdx
Labels: i18n

#2746 i18n(zh-cn): Update `troubleshooting.mdx`
  src/content/docs/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#2709 i18n(zh-cn): update cli-reference
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#2762 Minor fix to file extensions in cypress section
  src/content/docs/en/guides/testing.mdx
Labels: improve documentation

#2769 Replace `drop-shadow` with `box-shadow` in `<CodeSnippet>`
  src/components/CodeSnippet/CodeSnippet.astro
Labels: site improvement

#2751 docs: rework custom fonts usage guide
  src/content/docs/en/guides/fonts.mdx
Labels: improve documentation

#2780 typo: update typescript docs.
  src/content/docs/pt-br/guides/typescript.mdx
Labels: i18n

#2747 i18n(fr): translation of `reference/error-reference.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/i18n/fr/nav.ts
Labels: i18n

#2737 i18n(pl): Polish translation of the `/install/manual.mdx` page
  src/content/docs/pl/install/auto.mdx
  src/content/docs/pl/install/manual.mdx
Labels: i18n

#2784 i18n(zh-cn): Update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#2770 i18n(zh-cn): update `integrations/integrations.mdx`
  src/content/docs/zh-cn/integrations/integrations.mdx
Labels: i18n

#2779 Add assets page
  src/content/docs/en/guides/assets.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/image-service-reference.mdx
  src/i18n/en/nav.ts
Labels: add new content, merge-on-release

#2765 Document new getStaticPaths type helpers
  src/content/docs/en/guides/typescript.mdx
Labels: add new content, merge-on-release

#2791 Adds missing options to the "Quick API Reference"
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation

#2752 i18n(es): Update of `routing.mdx`, `images.mdx`, `imports.mdx` & `markdown-content.mdx`
  src/content/docs/es/core-concepts/routing.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/markdown-content.mdx
Labels: i18n

#2753 i18n(es): Update of multiple pages
  src/content/docs/es/guides/testing.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/integrations/integrations.mdx
  src/content/docs/es/reference/api-reference.mdx
  src/content/docs/es/reference/cli-reference.mdx
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#2771 i18n(zh-cn): update `why-astro.mdx`
  src/content/docs/zh-cn/concepts/why-astro.mdx
Labels: i18n

#2789 i18n(zh-cn) Typo cloudflare deploy guide
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#2351 i18n(fr): Update mardown-content.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/styling.mdx
  src/content/docs/fr/guides/troubleshooting.mdx
Labels: i18n

#2801 Add three recipes to start the community recipe section
  src/content/docs/en/guides/cms/spinal.mdx
  src/content/docs/en/guides/cms/wordpress.mdx
  src/content/docs/en/recipes.mdx
Labels: add new content

#2715 i18n(pt-BR): Small translation updates
  src/content/docs/pt-br/editor-setup.mdx
  src/content/docs/pt-br/guides/configuring-astro.mdx
  src/content/docs/pt-br/guides/data-fetching.mdx
  src/content/docs/pt-br/guides/deploy/cloudflare.mdx
  src/content/docs/pt-br/guides/deploy/sst.mdx
  src/content/docs/pt-br/guides/deploy/vercel.mdx
  src/content/docs/pt-br/guides/environment-variables.mdx
  src/content/docs/pt-br/guides/rss.mdx
  src/content/docs/pt-br/install/auto.mdx
  src/content/docs/pt-br/reference/publish-to-npm.mdx
  src/i18n/pt-br/ui.ts
Labels: i18n

#2776 i18n(pt-BR): Add `upgrade-to/v2` translation
  src/content/docs/pt-br/guides/upgrade-to/v2.mdx
  src/i18n/pt-br/nav.ts
Labels: i18n

#2777 i18n(pt-BR): Update/add error pages translations
  src/content/docs/pt-br/reference/error-reference.mdx
  src/content/docs/pt-br/reference/errors/csssyntax-error.mdx
  src/content/docs/pt-br/reference/errors/unknown-clierror.mdx
  src/content/docs/pt-br/reference/errors/unknown-compiler-error.mdx
  src/content/docs/pt-br/reference/errors/unknown-config-error.mdx
  src/content/docs/pt-br/reference/errors/unknown-content-collection-error.mdx
  src/content/docs/pt-br/reference/errors/unknown-csserror.mdx
  src/content/docs/pt-br/reference/errors/unknown-markdown-error.mdx
  src/content/docs/pt-br/reference/errors/unknown-vite-error.mdx
Labels: i18n

#2764 i18n(fr): Translation of `cli-reference.mdx`
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#2756 i18n(de): Translate client-side-scripts.mdx
  src/content/docs/de/guides/client-side-scripts.mdx
  src/i18n/de/nav.ts
Labels: i18n

#2798 [i18nIgnore] github consistent spelling per style guide
  CONTRIBUTING.md
  old-translations/de/core-concepts/routing.md
  old-translations/es/guides/deploy.md
  old-translations/zh-CN/installation.md
  old-translations/zh-TW/examples.md
  old-translations/zh-TW/installation.md
  scripts/generate-integration-pages.ts
  src/content/docs/de/guides/deploy/github.mdx
  src/content/docs/en/guides/deploy/deno.mdx
  src/content/docs/en/guides/deploy/flightcontrol.mdx
  src/content/docs/en/guides/testing.mdx
  src/content/docs/es/guides/deploy/deno.mdx
  src/content/docs/es/guides/deploy/flightcontrol.mdx
  src/content/docs/es/guides/deploy/github.mdx
  src/content/docs/es/guides/testing.mdx
  src/content/docs/es/install/auto.mdx
  src/content/docs/fr/guides/deploy/github.mdx
  src/content/docs/fr/guides/testing.mdx
  src/content/docs/ko/install/auto.mdx
  src/content/docs/pt-br/guides/deploy/deno.mdx
  src/content/docs/pt-br/guides/deploy/github.mdx
  src/content/docs/ru/guides/testing.mdx
  src/content/docs/zh-cn/guides/content.mdx
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
  src/content/docs/zh-cn/guides/deploy/github.mdx
  src/content/docs/zh-cn/guides/testing.mdx
  src/content/docs/zh-tw/getting-started.mdx
  src/i18n/ar/ui.ts
  src/i18n/ru/ui.ts
  src/i18n/zh-cn/ui.ts
Labels: typo or grammar fix, i18n

#2211 Next.js/Gatsby Migration guides to Astro
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
Labels: add new content

#2309 NuxtJS Migration guides to Astro
  src/components/tabs/AstroVueTabs.astro
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: add new content

#2818 Note that env.d.ts needs updating for assets support
  src/content/docs/en/guides/assets.mdx
Labels: improve documentation

#2799 Update GraphQL data fetching example
  src/content/docs/en/guides/data-fetching.mdx
Labels: improve documentation

#2827 fix typo: 'Astro 2.0' to 'Astro v2.0'
  src/content/docs/en/guides/upgrade-to/v2.mdx
Labels: typo or grammar fix

#2815 Add docker deploy recipe
  public/logos/docker.svg
  src/content/docs/en/recipes/docker.mdx
Labels: add new content

#2823 i18n(es): Translated missing error pages.
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/errors/image-missing-alt.mdx
  src/content/docs/es/reference/errors/invalid-image-service.mdx
  src/content/docs/es/reference/errors/missing-image-dimension.mdx
  src/content/docs/es/reference/errors/unsupported-image-format.mdx
Labels: i18n

#2834 i18n(es): Update of `astro-components.mdx`, `endpoints.mdx`, `layouts.mdx` & `client-side-scripts.mdx`
  src/content/docs/es/core-concepts/astro-components.mdx
  src/content/docs/es/core-concepts/endpoints.mdx
  src/content/docs/es/core-concepts/framework-components.mdx
  src/content/docs/es/core-concepts/layouts.mdx
  src/content/docs/es/guides/client-side-scripts.mdx
  src/content/docs/es/guides/data-fetching.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#2796 i18n(pl): `concepts/why-astro` translation
  src/content/docs/pl/concepts/why-astro.mdx
Labels: i18n

#2848 [i18nIgnore] fix image search query for image integrations
  src/content/docs/en/guides/images.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/fr/guides/images.mdx
  src/content/docs/ja/guides/images.mdx
  src/content/docs/pt-br/guides/images.mdx
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#2858 i18n(es): Update of `configuration-reference.mdx`, `server-side-rendering.mdx` & `integrations-guide.mdx`
  src/content/docs/es/guides/integrations-guide.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/i18n/es/nav.ts
Labels: i18n

#2852 Tutorial Styling Improvements
  public/index.css
  src/components/Checklist.astro
  src/components/tutorial/Box.astro
  src/components/tutorial/TutorialNav.astro
  src/components/tutorial/UnitProgressIcon.astro
Labels: site improvement, a11y, tutorial

#2728 Add information on manually installing Typescript plugin. (#2727)
  src/content/docs/en/guides/typescript.mdx
Labels: improve documentation

#2862 [i18nIgnore] Fix link in integration API reference
  src/content/docs/en/reference/integrations-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
  src/content/docs/pt-br/reference/integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#2822 i18n(de): `sharing-state.mdx` translation
  src/content/docs/de/core-concepts/sharing-state.mdx
Labels: i18n

#2832 i18n(de): translate multiple deploy guides
  src/content/docs/de/guides/deploy/edgio.mdx
  src/content/docs/de/guides/deploy/flightcontrol.mdx
  src/content/docs/de/guides/deploy/google-cloud.mdx
  src/content/docs/de/guides/deploy/google-firebase.mdx
  src/content/docs/de/guides/deploy/heroku.mdx
  src/content/docs/de/guides/deploy/kinsta.mdx
Labels: i18n

#2876 Remove old `extendDefaultPlugins` from examples
  src/content/docs/en/guides/markdown-content.mdx
Labels: typo or grammar fix

#2889 Fixed incorrect code example
  src/content/docs/en/guides/cms/wordpress.mdx
Labels: typo or grammar fix

#2873 Add inline styles section to Styling
  src/content/docs/en/guides/styling.mdx
Labels: improve documentation

#2859 feat(image_services): Add mention of new validateOptions hook
  src/content/docs/en/reference/image-service-reference.mdx
Labels: merge-on-release

#2835 i18n(zh-cn): Add 5 error translations
  src/content/docs/zh-cn/reference/errors/client-address-not-available.mdx
  src/content/docs/zh-cn/reference/errors/missing-media-query-directive.mdx
  src/content/docs/zh-cn/reference/errors/no-client-entrypoint.mdx
  src/content/docs/zh-cn/reference/errors/no-matching-renderer.mdx
  src/content/docs/zh-cn/reference/errors/unknown-compiler-error.mdx
Labels: i18n

#2867 i18n(es): Update of `editor-setup.mdx`, `data-fetching.mdx` & `static-client-address-not-available.mdx`
  src/content/docs/es/editor-setup.mdx
  src/content/docs/es/guides/data-fetching.mdx
  src/content/docs/es/reference/errors/static-client-address-not-available.mdx
Labels: i18n

#2849 i18n(es): Update of `google-cloud.mdx` & `fonts.mdx`
  src/content/docs/en/guides/deploy/google-cloud.mdx
  src/content/docs/es/guides/deploy/google-cloud.mdx
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#2891 Document `verbatimModuleSyntax` for TS 5.0 users
  src/content/docs/en/guides/typescript.mdx
Labels: improve documentation

#2910 Update assets guide to mention that images in the frontmatter are relative to the current file
  src/content/docs/en/guides/assets.mdx
Labels: improve documentation, merge-on-release, code snippet update

#2895 Add i18n Recipe
  src/components/tabs/StaticSsrTabs.astro
  src/content/docs/en/recipes/i18n.mdx
Labels: recipe

#2882 i18n(es): Translation of `buttercms.mdx`
  src/content/docs/es/guides/cms/buttercms.mdx
Labels: i18n

#2903 i18n(es): Translated `ghost.mdx`
  src/content/docs/es/guides/cms/ghost.mdx
Labels: i18n

#2884 Translation Tuesday
  .github/workflows/discord-i18n-ping.yml
  scripts/lib/translation-status/builder.ts
  scripts/translation-status.ts
  scripts/tuesday-bot.ts
Labels: 🚨 action

#2933 Make “Translation Tuesday” bot post to #docs-i18n
  .github/workflows/discord-i18n-ping.yml
Labels: 🚨 action

#2934 Change Translation Tuesday bot post time to 10:00 UTC
  .github/workflows/discord-i18n-ping.yml
Labels: 🚨 action

#2826 docs: Add Space deploy recipe and logo
  public/logos/space.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/space.mdx
  src/data/logos.ts
Labels: add new content

#2879 Add Bun recipe
  src/content/docs/en/recipes/bun.mdx
Labels: add new content

#2924 i18n(ja): Update Japanese `markdown-content.md`
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
Labels: i18n

#2833 i18n(de): translate multiple deploy guides
  src/content/docs/de/guides/deploy/microsoft-azure.mdx
  src/content/docs/de/guides/deploy/netlify.mdx
  src/content/docs/de/guides/deploy/render.mdx
  src/content/docs/de/guides/deploy/sst.mdx
  src/content/docs/de/guides/deploy/surge.mdx
  src/content/docs/de/guides/deploy/vercel.mdx
  src/content/docs/de/reference/configuration-reference.mdx
Labels: i18n

#2883 i18n(de): translate `guides/images.mdx`
  src/content/docs/de/guides/images.mdx
  src/i18n/de/nav.ts
Labels: i18n

#2877 i18n(de): translate `upgrade-to/v2`
  src/content/docs/de/guides/upgrade-to/v2.mdx
Labels: i18n

#2928 i18n(zh-cn): update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#2936 fix bad markdown formatting in links
  src/content/docs/de/guides/deploy/google-cloud.mdx
  src/content/docs/en/guides/deploy/google-cloud.mdx
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/en/recipes/docker.mdx
  src/content/docs/es/guides/deploy/google-cloud.mdx
Labels: i18n

#2937 i18n(zh-cn): update error-reference.mdx
  src/content/docs/zh-cn/reference/error-reference.mdx
Labels: i18n

#2778 i18n(de): translate `styling.mdx`
  src/content/docs/de/guides/styling.mdx
  src/i18n/de/README.md
Labels: i18n

#2950 [recipes.md] initial edits to recipes guide
  RECIPES.md
Labels: improve documentation

#2960 [contributing guide] added ways to contribute
  CONTRIBUTING.md
Labels: add new content

#2916 Add Gitbook migration stub
  public/logos/gitbook.svg
  src/content/docs/en/guides/migrate-to-astro/from-gitbook.mdx
  src/data/logos.ts
Labels: add new content, recipe

#2897 docs: Update Playwright config example
  src/content/docs/en/guides/testing.mdx
Labels: code snippet update

#2946 [cli-reference] add new --open flag
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release

#2953 Remove "Early Access" from JetBrains IDEs section
  src/content/docs/en/editor-setup.mdx
Labels: improve documentation

#2790 Clarify how to run client-side code in framework components
  src/content/docs/en/guides/troubleshooting.mdx
Labels: improve documentation

#2923 i18n(fr): Translation of `migrate-to-astro.mdx`
  src/content/docs/fr/guides/migrate-to-astro.mdx
  src/i18n/fr/nav.ts
Labels: i18n
