Repository withastro/docs, pull requests merged in 2024-01, with the labels that each got.

#6020 i18n(zh-cn): Update `core-concepts/sharing-state.mdx`
  src/content/docs/zh-cn/core-concepts/sharing-state.mdx
Labels: i18n, Merge Queue

#6021 i18n(zh-cn): Update `guides/configuring-astro.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n, Merge Queue

#6047 i18n(fr) Update `layouts.mdx`
  src/content/docs/fr/core-concepts/layouts.mdx
Labels: i18n, Merge Queue

#6044 i18n(fr) Update `astro-components.mdx`
  src/content/docs/fr/core-concepts/astro-components.mdx
Labels: i18n, Merge Queue

#6053 i18n(fr) Update `cms.mdx`
  src/content/docs/fr/guides/cms.mdx
Labels: i18n, Merge Queue

#6048 i18n(fr) Update `project-structure.mdx`
  src/content/docs/fr/core-concepts/project-structure.mdx
Labels: i18n, Merge Queue

#6057 i18n(fr) Update `content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n, Merge Queue

#6058 i18n(fr) Update `deploy.mdx`
  src/content/docs/fr/guides/deploy.mdx
Labels: i18n, Merge Queue

#6055 i18n(fr) Update `wordpress.mdx`
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n, Merge Queue

#6056 i18n(fr) Update `configuring-astro.mdx`
  src/content/docs/fr/guides/configuring-astro.mdx
Labels: i18n, Merge Queue

#6045 i18n(fr) Update `astro-pages.mdx`
  src/content/docs/fr/core-concepts/astro-pages.mdx
Labels: i18n, Merge Queue

#6046 i18n(fr) Update `framework-components.mdx`
  src/content/docs/fr/core-concepts/framework-components.mdx
Labels: i18n, Merge Queue

#6050 i18n(fr) Update `sharing-state.mdx`
  src/content/docs/fr/core-concepts/sharing-state.mdx
Labels: i18n, Merge Queue

#6054 i18n(fr) Update `storyblok.mdx`
  src/content/docs/fr/guides/cms/storyblok.mdx
Labels: i18n, Merge Queue

#6051 i18n(fr) Update `backend.mdx`
  src/content/docs/fr/guides/backend.mdx
Labels: i18n, Merge Queue

#6049 i18n(fr) Update `routing.mdx`
  src/content/docs/fr/core-concepts/routing.mdx
Labels: i18n, Merge Queue

#6026 i18n(es): Update `netlify` & `space`
  src/content/docs/es/guides/deploy/netlify.mdx
  src/content/docs/es/guides/deploy/space.mdx
Labels: i18n, Merge Queue

#6036 i18n(zh-cn): Update alpinejs.mdx
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n, Merge Queue

#6029 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/core-concepts/astro-components.mdx
Labels: i18n, Merge Queue

#6034 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n, Merge Queue

#6030 i18n(ko-KR): update `configuring-astro.mdx`
  src/content/docs/ko/guides/configuring-astro.mdx
Labels: i18n, Merge Queue

#6035 i18n(ko-KR): update `ui.ts`
  src/i18n/ko/ui.ts
Labels: i18n, Merge Queue

#6032 i18n(ko-KR): update `integrations-guide.mdx`
  src/content/docs/ko/guides/integrations-guide.mdx
Labels: i18n, Merge Queue

#6064 Update view-transitions.mdx
  src/content/docs/en/guides/view-transitions.mdx
Labels: code snippet update, consistency/formatting

#6074 i18n(zh-cn): Update netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#6066 i18n(zh-cn): Update alpinejs.mdx
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#6060 i18n(fr): Add `integrations-guide/alpinejs` in French language
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#6063 i18n(zh-cn): Update vercel.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#6072 i18n(zh-cn): Update mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#6040 Document --host and --port flags for preview
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, Merge Queue

#6076 Fix: Type "string" is not assignable to type "Provider".
  src/content/docs/en/guides/backend/supabase.mdx
Labels: code snippet update, Merge Queue

#6043 Telemetry clear is now telemetry reset.
  src/content/docs/en/reference/cli-reference.mdx
Labels: code snippet update, Merge Queue

#6078 i18n(fr): Add `integrations-guide/lit` in French language
  src/content/docs/fr/guides/integrations-guide/lit.mdx
Labels: i18n, Merge Queue

#6023 i18n(fr): Translate unsupported-config-transform-error.mdx
  src/content/docs/fr/reference/errors/unsupported-config-transform-error.mdx
Labels: i18n, Merge Queue

#6070 i18n(zh-cn): Update lit.mdx
  src/content/docs/zh-cn/guides/integrations-guide/lit.mdx
Labels: i18n, Merge Queue

#6037 i18n(zh-cn): Update cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n, Merge Queue

#6025 i18n(zh-cn): Update vue.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vue.mdx
Labels: i18n, Merge Queue

#6071 i18n(zh-cn): Update markdoc.mdx
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
Labels: i18n, Merge Queue

#6028 i18n(zh-cn):Create dev-toolbar-app-reference.mdx
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#6022 i18n(fr): translate turso.mdx
  src/content/docs/fr/guides/backend/turso.mdx
Labels: i18n, Merge Queue

#6080 i18n(fr): Add `integrations-guide/markdoc` in French language
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/i18n/fr/README.md
Labels: i18n

#6038 Update directives-reference.mdx with optional root margin
  src/content/docs/en/reference/directives-reference.mdx
Labels: add new content, merge-on-release, minor-release

#6039 Update open flag string value behaviour
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release, minor-release

#6073 Update default image service section
  src/content/docs/en/guides/images.mdx
Labels: improve documentation, merge-on-release, minor-release

#6042 Document Astro.cookie options
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release

#6062 docs: add extendable `CSSProperties` interface
  src/content/docs/en/guides/typescript.mdx
Labels: add new content, merge-on-release, minor-release

#6027 Solid.js async rendering
  src/content/docs/en/guides/integrations-guide/solid-js.mdx
Labels: add new content, merge-on-release, minor-release

#5967 [i18nIgnore][prefetch.mdx]: Adds a `load` prefetch strategy
  src/content/docs/en/guides/prefetch.mdx
  src/content/docs/es/guides/prefetch.mdx
  src/content/docs/ko/guides/prefetch.mdx
  src/content/docs/zh-cn/guides/prefetch.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#6109 [minor release] 4.1.0 docs
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/integrations-guide/solid-js.mdx
  src/content/docs/en/guides/prefetch.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/directives-reference.mdx
  src/content/docs/es/guides/prefetch.mdx
  src/content/docs/ko/guides/prefetch.mdx
  src/content/docs/zh-cn/guides/prefetch.mdx
Labels: i18n, minor-release

#6102 i18n(fr) Update `build-forms.mdx`
  src/content/docs/fr/recipes/build-forms.mdx
Labels: i18n

#6096 i18n(fr) Update `rss.mdx`
  src/content/docs/fr/guides/rss.mdx
Labels: i18n

#6091 i18n(fr) Update `sst.mdx`
  src/content/docs/fr/guides/deploy/sst.mdx
Labels: i18n

#6090 i18n(fr) Update `space.mdx`
  src/content/docs/fr/guides/deploy/space.mdx
Labels: i18n

#6088 i18n(fr) Update `heroku.mdx`
  src/content/docs/fr/guides/deploy/heroku.mdx
Labels: i18n

#6085 i18n(fr) Update `flightcontrol.mdx`
  src/content/docs/fr/guides/deploy/flightcontrol.mdx
Labels: i18n

#6100 i18n(fr) Update `build-forms-api.mdx`
  src/content/docs/fr/recipes/build-forms-api.mdx
Labels: i18n

#6087 i18n(fr) Update `google-firebase.mdx`
  src/content/docs/fr/guides/deploy/google-firebase.mdx
Labels: i18n

#6092 i18n(fr) Update `environment-variables.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#6097 i18n(fr) Update `integrations.mdx`
  src/content/docs/fr/integrations/integrations.mdx
Labels: i18n

#6061 i18n(fr): Add `integrations-guide/deno` in French language
  src/content/docs/fr/guides/integrations-guide/deno.mdx
Labels: i18n, Merge Queue

#6086 i18n(fr) Update `github.mdx`
  src/content/docs/fr/guides/deploy/github.mdx
Labels: i18n

#6116 i18n(fr) Update `captcha.mdx`
  src/content/docs/fr/recipes/captcha.mdx
Labels: i18n

#6118 i18n(fr) Update `modified-time.mdx`
  src/content/docs/fr/recipes/modified-time.mdx
Labels: i18n

#6124 i18n(fr) Update `add-content-collections.mdx`
  src/content/docs/fr/tutorials/add-content-collections.mdx
Labels: i18n

#6089 i18n(fr) Update `netlify.mdx`
  src/content/docs/fr/guides/deploy/netlify.mdx
Labels: i18n

#6123 i18n(fr) Update and create error file
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/could-not-transform-image.mdx
  src/content/docs/fr/reference/errors/middleware-cant-be-loaded.mdx
  src/content/docs/fr/reference/errors/middleware-no-data-or-next-called.mdx
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#6120 i18n(fr) Update `sharing-state.mdx`
  src/content/docs/fr/core-concepts/sharing-state.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/recipes/build-custom-img-component.mdx
  src/content/docs/fr/recipes/external-links.mdx
  src/content/docs/fr/recipes/reading-time.mdx
Labels: i18n

#6083 Update `dev-toolbar-app-reference.mdx`
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: consistency/formatting, Merge Queue

#6016 i18n(es): Update `google-firebase` & `heroku`
  src/content/docs/es/guides/deploy/google-firebase.mdx
  src/content/docs/es/guides/deploy/heroku.mdx
Labels: i18n, Merge Queue

#6084 i18n(es): Translate `dev-toolbar-app-reference.mdx`
  src/content/docs/es/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#6068 i18n(ko-KR): add `alpinejs.mdx`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
Labels: i18n, Merge Queue

#6082 Update vercel.mdx - Vercel Speed Insights API is deprecated
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: improve documentation, Merge Queue

#6041 i18n(it-IT): add new `guides/fonts.mdx` translation
  src/content/docs/it/guides/fonts.mdx
Labels: i18n, Merge Queue

#6127 i18n(zh-cn): Fix indentation of directory structure
  src/content/docs/zh-cn/recipes/dynamically-importing-images.mdx
Labels: i18n, code snippet update, Merge Queue

#6065 i18n(zh-cn): Update nav.ts
  src/i18n/zh-cn/nav.ts
Labels: i18n, Merge Queue

#6103 i18n(zh-cn): Update netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n, Merge Queue

#6122 i18n(fr) Update `tailwind-rendered-markdown.mdx`
  src/content/docs/fr/recipes/tailwind-rendered-markdown.mdx
Labels: i18n, Merge Queue

#6121 i18n(fr) Update `streaming-improve-page-performance.mdx`
  src/content/docs/fr/recipes/streaming-improve-page-performance.mdx
Labels: i18n, Merge Queue

#6101 i18n(zh-cn): Update view-transitions.mdx
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, code snippet update, Merge Queue

#6115 i18n(zh-cn): Update vue.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vue.mdx
Labels: i18n, Merge Queue

#6094 i18n(fr) Update `integrations-guide.mdx`
  src/content/docs/fr/guides/integrations-guide.mdx
Labels: i18n

#6114 i18n(zh-cn): Update tailwind.mdx
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n

#6113 i18n(zh-cn): Update svelte.mdx
  src/content/docs/zh-cn/guides/integrations-guide/svelte.mdx
Labels: i18n, Merge Queue

#6107 i18n(zh-cn): Update preact.mdx
  src/content/docs/zh-cn/guides/integrations-guide/preact.mdx
Labels: i18n, Merge Queue

#6108 i18n(zh-cn): Update react.mdx
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n, Merge Queue

#6110 i18n(zh-cn): Update sitemap.mdx
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n, Merge Queue

#6104 i18n(zh-cn): Update node.mdx
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
Labels: i18n, Merge Queue

#6106 i18n(zh-cn): Update partytown.mdx
  src/content/docs/zh-cn/guides/integrations-guide/partytown.mdx
Labels: i18n, Merge Queue

#6112 i18n(zh-cn): Update solid-js.mdx
  src/content/docs/zh-cn/guides/integrations-guide/solid-js.mdx
Labels: i18n, Merge Queue

#6099 i18n(zh-cn): Update cli-reference.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n, Merge Queue

#6131 i18n(zh-cn): Update images.mdx
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n, Merge Queue

#6132 i18n(zh-cn): Update vercel.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#6136 i18n(es): Fix typo in `google-firebase.mdx`
  src/content/docs/es/guides/deploy/google-firebase.mdx
Labels: i18n, Merge Queue

#6134 Update Astro website sitemap URL
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#6156 [i18nIgnore] Update `configuration-reference.mdx`
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#6144 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#6129 i18n(es): Update `add-view-transitions.mdx`, `adapter-reference.mdx`, `integrations-reference.mdx`, `error-reference.mdx`, `tailwind-rendered-markdown.mdx`, `streaming-improve-page-performance.mdx` & `modified-time.mdx`
  src/content/docs/es/recipes/modified-time.mdx
  src/content/docs/es/recipes/streaming-improve-page-performance.mdx
  src/content/docs/es/recipes/tailwind-rendered-markdown.mdx
  src/content/docs/es/reference/adapter-reference.mdx
  src/content/docs/es/reference/error-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
  src/content/docs/es/tutorials/add-view-transitions.mdx
Labels: i18n

#6163 [i18nignore] Update formatting for `deploy/google-firebase.mdx`
  src/content/docs/en/guides/deploy/google-firebase.mdx
  src/content/docs/es/guides/deploy/google-firebase.mdx
  src/content/docs/fr/guides/deploy/google-firebase.mdx
  src/content/docs/zh-cn/guides/deploy/google-firebase.mdx
Labels: i18n, consistency/formatting

#6128 i18n(es): Update `ui.ts`, `sst.mdx`, `environment-variables.mdx`, `images.mdx`
  src/content/docs/es/guides/deploy/sst.mdx
  src/content/docs/es/guides/environment-variables.mdx
  src/content/docs/es/guides/images.mdx
  src/i18n/es/ui.ts
Labels: i18n, Merge Queue

#6125 i18n(fr): Add `integrations-guide/mdx` in French language
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
Labels: i18n, Merge Queue

#6174 i18n(fr): Add `integrations-guide/prefetch` in French language
  src/content/docs/fr/guides/integrations-guide/prefetch.mdx
Labels: i18n

#6165 i18n(fr): Add `integrations-guide/node` in French language
  src/content/docs/fr/guides/integrations-guide/node.mdx
Labels: i18n

#6166 i18n(fr): Add `integrations-guide/partytown` in French language
  src/content/docs/fr/guides/integrations-guide/partytown.mdx
Labels: i18n

#6173 i18n(fr): Add `integrations-guide/preact` in French language
  src/content/docs/fr/guides/integrations-guide/preact.mdx
Labels: i18n

#6151 Update cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: consistency/formatting, Merge Queue

#6179 i18n(pt-br): Update `ui` labels
  src/i18n/pt-br/ui.ts
Labels: i18n

#6167 Add community Resource. Ghost CMS Docs page.
  src/content/docs/en/guides/cms/ghost.mdx
Labels: add new content

#6164 Sitecore XM CMS guide
  public/logos/sitecore.svg
  src/content/docs/en/guides/cms/sitecore.mdx
  src/data/logos.ts
Labels: add new content

#6093 chore: Update `tailwind.mdx`
  src/content/docs/en/guides/integrations-guide/tailwind.mdx
Labels: improve documentation, Merge Queue

#6180 i18n(pt-BR): Update `reference/configuration-reference`
  src/content/docs/pt-br/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#6033 i18n(ko-KR): update `testing.mdx`
  src/content/docs/ko/guides/testing.mdx
Labels: i18n, Merge Queue

#6147 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#6170 i18n(ko-KR): add `unknown-compiler-error.mdx`
  src/content/docs/ko/reference/errors/unknown-compiler-error.mdx
Labels: i18n, Merge Queue

#6142 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n, Merge Queue

#6143 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#6149 i18n(ko-KR): update `directives-reference.mdx`
  src/content/docs/ko/reference/directives-reference.mdx
Labels: i18n, Merge Queue

#6145 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n, Merge Queue

#6146 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n, Merge Queue

#6148 i18n(ko-KR): update `dev-toolbar-app-reference.mdx`
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#6176 Make corrections to `supabase.mdx`
  src/content/docs/en/guides/backend/supabase.mdx
Labels: code snippet update, Merge Queue

#6183 i18n(ko-KR): add `static-redirect-not-available.mdx`
  src/content/docs/ko/reference/errors/static-redirect-not-available.mdx
Labels: i18n, Merge Queue

#6184 i18n(ko-KR): add `client-address-not-available.mdx`
  src/content/docs/ko/reference/errors/client-address-not-available.mdx
Labels: i18n, Merge Queue

#6196 i18n(ko-KR): add `missing-media-query-directive.mdx`
  src/content/docs/ko/reference/errors/missing-media-query-directive.mdx
Labels: i18n, Merge Queue

#6195 i18n(ko-KR): add `only-response-can-be-returned.mdx`
  src/content/docs/ko/reference/errors/only-response-can-be-returned.mdx
Labels: i18n, Merge Queue

#6194 i18n(ko-KR): add `no-matching-static-path-found.mdx`
  src/content/docs/ko/reference/errors/no-matching-static-path-found.mdx
Labels: i18n, Merge Queue

#6185 i18n(ko-KR): add `static-client-address-not-available.mdx`
  src/content/docs/ko/reference/errors/static-client-address-not-available.mdx
Labels: i18n, Merge Queue

#6153 i18n(ko-KR): add `turso.mdx`
  src/content/docs/ko/guides/backend/turso.mdx
Labels: i18n, Merge Queue

#6168 i18n(ko-KR): add `buttercms.mdx`
  src/content/docs/ko/guides/cms/buttercms.mdx
Labels: i18n, Merge Queue

#6193 i18n(zh-cn): Update Ghost.mdx
  src/content/docs/zh-cn/guides/cms/ghost.mdx
Labels: i18n, Merge Queue

#6169 i18n(ko-KR): add `deno.mdx`
  src/content/docs/ko/guides/deploy/deno.mdx
Labels: i18n, Merge Queue

#6202 [from-docusaurus.mdx]: refresh with more Starlight-specific text
  src/content/docs/en/guides/migrate-to-astro/from-docusaurus.mdx
Labels: improve documentation

#6188 i18n(ja): Update nav.ts
  src/i18n/ja/nav.ts
Labels: i18n, Merge Queue

#6171 i18n(zh-cn): Update `reference/dev-toolbar-app-reference.mdx`
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#6137 i18n(zh-cn): Update typescript.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n, Merge Queue

#6152 i18n(ko-KR): add `sharing-state.mdx`
  src/content/docs/ko/core-concepts/sharing-state.mdx
Labels: i18n, Merge Queue

#6067 i18n(fr): translate middleware-cant-be-loaded.mdx
  src/content/docs/fr/reference/errors/middleware-cant-be-loaded.mdx
Labels: i18n

#6222 i18n(zh-cn): Update from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#6150 Update cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: add new content, merge-on-release

#6210 i18n(zh-cn): Update from-docusaurus.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-docusaurus.mdx
Labels: i18n

#6207 i18n(zh-cn): Update rss.mdx
  src/content/docs/zh-cn/guides/rss.mdx
Labels: i18n

#6138 i18n(zh-cn): Update directives-reference.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n

#6209 i18n(zh-cn): Create sitecore.mdx
  src/content/docs/zh-cn/guides/cms/sitecore.mdx
Labels: i18n

#6191 i18n(fr): Add `integrations-guide/sitemap` in French language
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
Labels: i18n

#6190 i18n(fr): Add `integrations-guide/react` in French language
  src/content/docs/fr/guides/integrations-guide/react.mdx
Labels: i18n

#6178 i18n(pt-BR): Add Prefetch Guide translation
  src/content/docs/pt-br/guides/prefetch.mdx
  src/i18n/pt-br/nav.ts
Labels: i18n

#6252 i18n(es): Create `sitecore.mdx`
  src/content/docs/es/guides/cms/sitecore.mdx
Labels: i18n

#6126 i18n(fr): Add `integrations-guide/netlify` in French language
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
Labels: i18n

#6237 i18n(zh-cn): Update tailwind.mdx
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n

#6238 i18n(zh-cn): Update cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#6172 i18n(zh-cn): Update `guides/integrations-guide/sitemap.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n
