Repository withastro/docs, pull requests merged in 2024-10, with the labels that each got.

#9454 i18n(pl): Layout docs translation
  src/content/docs/pl/basics/layouts.mdx
Labels: i18n

#9515 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#9520 Add note in last modified time recipe
  src/content/docs/en/recipes/modified-time.mdx
Labels: improve documentation, Merge Queue

#9516 docs: add note about client:only `fallback` slot
  src/content/docs/en/reference/directives-reference.mdx
Labels: add new content, hacktoberfest-accepted, Merge Queue

#9521 i18n(ko-KR): update `client-side-scripts.mdx`
  src/content/docs/ko/guides/client-side-scripts.mdx
Labels: i18n

#9527 Updates server-side-rendering.mdx
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: code snippet update

#9523 i18n(fr): Update `guides/client-side-scripts.mdx` from #9519
  src/content/docs/fr/guides/client-side-scripts.mdx
Labels: i18n, hacktoberfest-accepted

#9528 i18n(pt-BR): update `tutorial/0-introduction/1.mdx` file
  src/content/docs/pt-br/tutorial/0-introduction/1.mdx
Labels: i18n

#9529 i18n(pt-BR): update `tutorial/4-layout` files
  src/content/docs/pt-br/tutorial/4-layouts/1.mdx
  src/content/docs/pt-br/tutorial/4-layouts/2.mdx
Labels: i18n

#9530 i18n(pt-BR): update `recipes/captcha.mdx` file
  src/content/docs/pt-br/recipes/captcha.mdx
Labels: i18n

#9544 Fix 'Submit Feedback' button style
  src/components/tutorial/FeedbackButton.astro
Labels: site improvement, hacktoberfest-accepted, Merge Queue

#9497 feat: document decoding of params
  src/content/docs/en/guides/routing.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: add new content, 5.0.0-beta

#9534 i18n(fr): update `server-side-rendering.mdx`
  src/content/docs/fr/guides/server-side-rendering.mdx
Labels: i18n

#9536 i18n(fr): update `recipes/modified-time.mdx`
  src/content/docs/fr/recipes/modified-time.mdx
Labels: i18n

#9547 i18n(ko-KR): update `directives-reference.mdx`
  src/content/docs/ko/reference/directives-reference.mdx
Labels: i18n

#9545 i18n(ko-KR): update `server-side-rendering.mdx`
  src/content/docs/ko/guides/server-side-rendering.mdx
Labels: i18n

#9546 i18n(ko-KR): update `modified-time.mdx`
  src/content/docs/ko/recipes/modified-time.mdx
Labels: i18n

#9563 change action name from addToCard to addToCart
  src/content/docs/en/guides/actions.mdx
Labels: typo/link/grammar - quick fix!

#9556 [i18nIgnore] Docs(en-only): Added missing word on routing guide
  src/content/docs/en/guides/routing.mdx
Labels: typo/link/grammar - quick fix!, hacktoberfest-accepted, Merge Queue

#9554 [i18nIgnore] fix(5.0.0): update Vite links to use their new domain
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/loader-reference.mdx
  src/content/docs/ru/reference/api-reference.mdx
Labels: i18n

#9465 [i18nIgnore] [reference] new components page
  src/content/docs/de/guides/markdown-content.mdx
  src/content/docs/de/guides/troubleshooting.mdx
  src/content/docs/en/basics/astro-components.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/troubleshooting.mdx
  src/content/docs/en/guides/upgrade-to/v1.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/components-reference.mdx
  src/content/docs/es/basics/astro-components.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/troubleshooting.mdx
  src/content/docs/fr/guides/upgrade-to/v1.mdx
  src/content/docs/hi/basics/astro-components.mdx
  src/content/docs/it/basics/astro-components.mdx
  src/content/docs/ja/basics/astro-components.mdx
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
  src/content/docs/ko/basics/astro-components.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/guides/troubleshooting.mdx
  src/content/docs/pl/basics/astro-components.mdx
  src/content/docs/pt-br/basics/astro-components.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
  src/content/docs/ru/basics/astro-components.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/zh-cn/basics/astro-components.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-tw/basics/astro-components.mdx
  src/i18n/en/nav.ts
Labels: i18n

#9573 Clarify markdown flavor in Markdown Page
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#9576 Update community WordPress resources
  src/content/docs/en/guides/migrate-to-astro/from-wordpress.mdx
Labels: community resource

#9574 i18n(ko-KR): create `components-reference.mdx`
  src/content/docs/ko/reference/components-reference.mdx
Labels: i18n

#9565 i18n(fr): fix code snippet of `guides/actions.mdx`
  src/content/docs/fr/guides/actions.mdx
Labels: i18n

#9568 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#9569 i18n(ko-KR): create `render-undefined-entry-error.mdx`
  src/content/docs/ko/reference/errors/render-undefined-entry-error.mdx
Labels: i18n

#9567 i18n(ko-KR): update `actions.mdx`
  src/content/docs/ko/guides/actions.mdx
Labels: i18n

#9525 i18n(pl): Create project-structure.mdx
  src/content/docs/pl/basics/project-structure.mdx
Labels: i18n, hacktoberfest-accepted

#9522 i18n(pl): create astro-syntax.mdx
  src/content/docs/pl/basics/astro-syntax.mdx
Labels: i18n, hacktoberfest-accepted

#9542 i18n(pt-BR): update `guides/upgrade-to/v2.mdx` file
  src/content/docs/pt-br/guides/upgrade-to/v2.mdx
Labels: i18n

#9540 i18n(pt-BR): update `guides/deploy/microsoft-azure.mdx` file
  src/content/docs/pt-br/guides/deploy/microsoft-azure.mdx
Labels: i18n

#9539 i18n(pt-BR): update `reference/errors` files
  src/content/docs/pt-br/reference/errors/locals-not-serializable.mdx
  src/content/docs/pt-br/reference/errors/markdown-content-schema-validation-error.mdx
  src/content/docs/pt-br/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n

#9538 i18n(pt-BR): update `getting-started.mdx` file
  src/content/docs/pt-br/getting-started.mdx
Labels: i18n

#9535 i18n(pt-BR): update `guides/cms.mdx` file
  src/content/docs/pt-br/guides/cms.mdx
Labels: i18n

#9532 i18n(pt-BR): update `basics/rendering-modes.mdx` file
  src/content/docs/pt-br/basics/rendering-modes.mdx
Labels: i18n

#9572 [project-structure] update FileTree example to show content collections
  src/content/docs/en/basics/project-structure.mdx
Labels: improve documentation

#9555 Reference dynamic route variables in Legacy Collection examples in v5.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: improve documentation, hacktoberfest-accepted, code snippet update

#9580 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9577 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#9578 i18n(ko-KR): update `from-wordpress.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#9466 i18n(zh-cn): Update `install-and-setup.mdx`
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n

#9467 i18n(zh-cn): Update `craft-cms.mdx`
  src/content/docs/zh-cn/guides/cms/craft-cms.mdx
Labels: i18n

#9483 i18n(zh-cn): Update `mdx.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#9485 i18n(zh-cn): add `fleek.mdx`
  src/content/docs/zh-cn/guides/deploy/fleek.mdx
Labels: i18n

#9482 i18n(zh-cn): Update `sst.mdx`
  src/content/docs/zh-cn/guides/deploy/sst.mdx
Labels: i18n

#9494 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9484 i18n(zh-cn): Update `nav.ts`
  src/i18n/zh-cn/nav.ts
Labels: i18n

#9504 i18n(zh-cn): add `clever-cloud.mdx`
  src/content/docs/zh-cn/guides/deploy/clever-cloud.mdx
Labels: i18n

#9579 i18n(fr): add `components-reference.mdx`
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/reference/api-reference.mdx
  src/content/docs/fr/reference/components-reference.mdx
Labels: i18n

#9593 i18n(zh-cn): Update `server-side-rendering.mdx`
  src/content/docs/zh-cn/guides/server-side-rendering.mdx
Labels: i18n

#9591 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#9435 i18n(zh-cn): Update `api-reference.mdx` & add `components-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/components-reference.mdx
Labels: i18n

#9586 i18n(ko-KR): update `project-structure.mdx`
  src/content/docs/ko/basics/project-structure.mdx
Labels: i18n

#9584 [i18nIgnore] fix: update Rollup links
  src/content/docs/de/guides/configuring-astro.mdx
  src/content/docs/en/guides/configuring-astro.mdx
  src/content/docs/es/guides/configuring-astro.mdx
  src/content/docs/fr/guides/configuring-astro.mdx
  src/content/docs/it/guides/configuring-astro.mdx
  src/content/docs/ja/guides/configuring-astro.mdx
  src/content/docs/ko/guides/configuring-astro.mdx
  src/content/docs/pt-br/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n

#9413 i18n(ru): translate `install-and-setup.mdx` and update `ru/nav.ts`
  src/content/docs/ru/basics/project-structure.mdx
  src/content/docs/ru/install-and-setup.mdx
  src/content/docs/ru/reference/cli-reference.mdx
  src/i18n/ru/nav.ts
Labels: i18n

#9531 i18n(pt-BR): update `guides/integrations-guide.mdx` file
  src/content/docs/pt-br/guides/integrations-guide.mdx
  src/content/docs/pt-br/reference/cli-reference.mdx
Labels: i18n

#9541 fix(guides): add error handling for sync errors in supabase guide
  src/content/docs/en/guides/backend/supabase.mdx
Labels: code snippet update, Merge Queue

#9600 i18n(fr): update `basics/project-structure.mdx`
  src/content/docs/fr/basics/project-structure.mdx
Labels: i18n

#9583 i18n(fr): update errors references
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/astro-glob-used-outside.mdx
  src/content/docs/fr/reference/errors/render-undefined-entry-error.mdx
  src/content/docs/fr/reference/errors/unknown-vite-error.mdx
Labels: i18n

#9606 i18n(fr): update `backend/supabase.mdx`
  src/content/docs/fr/guides/backend/supabase.mdx
Labels: i18n

#9609 i18n(ko-KR): update `supabase.mdx`
  src/content/docs/ko/guides/backend/supabase.mdx
Labels: i18n

#9607 i18n(fr): update `guides/markdown-content.mdx`
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#9608 i18n(fr): update `publish-to-npm.mdx`
  src/content/docs/fr/reference/publish-to-npm.mdx
Labels: i18n

#9614 i18n(fr): update `migrate-to-astro/from-wordpress.mdx`
  src/content/docs/fr/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#9581 i18n(pl): translate rendering-modes.mdx
  src/content/docs/pl/basics/rendering-modes.mdx
Labels: i18n

#9605 i18n(pt-BR): update `community-resources/talks.mdx` file
  src/content/docs/pt-br/community-resources/talks.mdx
Labels: i18n

#9604 i18n(pt-BR): update `tutorial/5-astro-api` files
  src/content/docs/pt-br/tutorial/5-astro-api/1.mdx
  src/content/docs/pt-br/tutorial/5-astro-api/2.mdx
  src/content/docs/pt-br/tutorial/5-astro-api/4.mdx
Labels: i18n

#9616 i18n(pt-BR): update `reference/publish-to-npm.mdx` file
  src/content/docs/pt-br/reference/publish-to-npm.mdx
Labels: i18n

#9617 i18n(pt-BR): create `guides/integrations-guide/vue.mdx` file
  src/content/docs/pt-br/guides/integrations-guide/vue.mdx
Labels: i18n

#8840 Add documentation for xslURL in sitemap package
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
Labels: add new content, merge-on-release, Merge Queue

#9488 Improve pagination documentation
  src/content/docs/en/guides/routing.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation, Merge Queue

#9453 feat(markdown): document new option `langAlias`
  src/content/docs/en/guides/markdown-content.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#9611 Fix posts.map() return format in getStaticPaths function
  src/content/docs/en/guides/cms/builderio.mdx
Labels: hacktoberfest-accepted, code snippet update, Merge Queue

#9619 i18n(ko-KR): update `builderio.mdx`
  src/content/docs/ko/guides/cms/builderio.mdx
Labels: i18n

#9620 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#9621 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#9622 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/errors/astro-glob-used-outside.mdx
  src/content/docs/ko/reference/errors/unknown-vite-error.mdx
Labels: i18n

#9618 4.16.0 Minor release docs
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/reference/configuration-reference.mdx
Labels: add new content, merge-on-release, minor-release

#9631 i18n(zh-cn): Update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n, Merge Queue

#9630 i18n(zh-cn): Update `routing.mdx`
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n, Merge Queue

#9627 i18n(zh-cn): Update `sitemap.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n, Merge Queue

#9625 i18n(zh-cn): Update `builderio.mdx`
  src/content/docs/zh-cn/guides/cms/builderio.mdx
Labels: i18n, Merge Queue

#9613 i18n(zh-cn): Update `supabase.mdx`
  src/content/docs/zh-cn/guides/backend/supabase.mdx
Labels: i18n, Merge Queue

#9634 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9612 i18n(zh-cn): Update `publish-to-npm.mdx`
  src/content/docs/zh-cn/reference/publish-to-npm.mdx
Labels: i18n, Merge Queue

#9587 i18n(zh-cn): update error reference docs
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/render-undefined-entry-error.mdx
  src/content/docs/zh-cn/reference/errors/unknown-vite-error.mdx
Labels: i18n, Merge Queue

#9588 i18n(zh-cn): Update `project-structure.mdx`
  src/content/docs/zh-cn/basics/project-structure.mdx
Labels: i18n, Merge Queue

#9590 i18n(zh-cn): Update `client-side-scripts.mdx`
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n, Merge Queue

#9589 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#9592 i18n(zh-cn): Update `from-wordpress.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n, Merge Queue

#9594 i18n(zh-cn): Update `modified-time.mdx`
  src/content/docs/zh-cn/recipes/modified-time.mdx
Labels: i18n, Merge Queue

#9595 i18n(zh-cn): Update `directives-reference.mdx`
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n, Merge Queue

#9624 i18n(pt-BR): update `recipes/i18n.mdx` file
  src/content/docs/pt-br/recipes/i18n.mdx
Labels: i18n

#9566 i18n(ar): Update `nav.ts` translation
  src/i18n/ar/nav.ts
  src/i18n/ar/ui.ts
Labels: i18n

#9628 i18n(pt-BR): create `guides/migrate-to-astro/from-vuepress.mdx` file
  src/content/docs/pt-br/guides/migrate-to-astro/from-vuepress.mdx
Labels: i18n

#9629 i18n(pt-BR): create `guides/cms/prismic.mdx` file
  src/content/docs/pt-br/guides/cms/prismic.mdx
Labels: i18n

#9626 i18n(pt-BR): create `guides/migrate-to-astro/from-wordpress.mdx` file
  src/content/docs/pt-br/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#9623 i18n(pt-BR): create `guides/integrations-guide/prefetch.mdx` file
  src/content/docs/pt-br/guides/integrations-guide/prefetch.mdx
Labels: i18n

#9636 i18n(fr): update `api-reference.mdx` and `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9643 i18n(fr): Update `guides/integrations-guide/sitemap.mdx` from #8840
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
Labels: i18n

#9642 i18n(fr): Update `guides/cms/builderio.mdx` from #9611
  src/content/docs/fr/guides/cms/builderio.mdx
Labels: i18n

#9644 i18n(fr): Update `guides/markdown-content.mdx` from #9618
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#9647 i18n(pt-BR): create `recipes/build-custom-img-component.mdx` file
  src/content/docs/pt-br/recipes/build-custom-img-component.mdx
Labels: i18n

#9648 i18n(pt-BR): create `recipes/build-forms.mdx` file
  src/content/docs/pt-br/recipes/build-forms.mdx
Labels: i18n

#9649 i18n(pt-BR): create `recipes/bun.mdx` file
  src/content/docs/pt-br/recipes/bun.mdx
Labels: i18n

#9653 i18n(pt-BR): create `recipes/streaming-improve-page-performance.mdx`
  src/content/docs/pt-br/recipes/streaming-improve-page-performance.mdx
Labels: i18n

#9652 i18n(pt-BR): create `recipes/modified-time.mdx` file
  src/content/docs/pt-br/recipes/modified-time.mdx
Labels: i18n

#9650 i18n(pt-BR): create `recipes/docker.mdx` file
  src/content/docs/pt-br/guides/deploy/google-cloud.mdx
  src/content/docs/pt-br/recipes/docker.mdx
Labels: i18n

#9654 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9655 i18n(ko-KR): update `rss.mdx`
  src/content/docs/ko/guides/rss.mdx
Labels: i18n

#9637 i18n(zh-cn): Update `image-service-reference.mdx`
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#9550 docs: Updates Cloudinary Astro Integration Guides
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/media/cloudinary.mdx
Labels: add new content

#9492 DOC: Drupal CMS Integration.
  public/logos/drupal.svg
  src/content/docs/en/guides/cms/drupal.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue, 3rd-party guide

#9602 Add Neon to Backend Guide
  public/logos/neon.svg
  src/content/docs/en/guides/backend/neon.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue, 3rd-party guide

#9509 feat: remove Astro Studio references
  src/content/docs/en/guides/astro-db.mdx
  src/content/docs/en/guides/integrations-guide/db.mdx
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/it/guides/astro-db.mdx
  src/content/docs/ja/guides/integrations-guide/db.mdx
Labels: i18n, hacktoberfest-accepted

#9656 i18n(zh-cn): Update `rss.mdx`
  src/content/docs/zh-cn/guides/rss.mdx
Labels: i18n, Merge Queue

#9638 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#9639 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9657 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#9665 i18n(ko-KR): create `drupal.mdx`
  src/content/docs/ko/guides/cms/drupal.mdx
Labels: i18n

#9662 i18n(ko-KR): update `db.mdx`
  src/content/docs/ko/guides/integrations-guide/db.mdx
Labels: i18n

#9663 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#9603 Update talks.mdx
  src/content/docs/en/guides/cms/umbraco.mdx
Labels: Merge Queue, community resource

#9671 i18n(ko-KR): update `umbraco.mdx`
  src/content/docs/ko/guides/cms/umbraco.mdx
Labels: i18n

#9675 i18n(zh-cn): fix typo in cloudflare.mdx
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#9676 Add example of script re-execution after transition
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation, code snippet update

#9646 Remove start command
  CONTRIBUTING.md
  src/content/docs/en/basics/project-structure.mdx
  src/content/docs/en/guides/deploy/clever-cloud.mdx
  src/content/docs/en/guides/deploy/zerops.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, 5.0.0-beta

#9681 i18n(fr): add `guides/cms/drupal.mdx`
  src/content/docs/fr/guides/cms/drupal.mdx
Labels: i18n

#9679 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#9680 feat: document new entrypoints
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation, merge-on-release, 5.0.0-beta

#9667 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n, Merge Queue

#9678 i18n(zh-cn): Update `umbraco.mdx`
  src/content/docs/zh-cn/guides/cms/umbraco.mdx
Labels: i18n, Merge Queue

#9666 i18n(zh-cn): add `neon.mdx`
  src/content/docs/zh-cn/guides/backend/neon.mdx
Labels: i18n, Merge Queue

#9677 i18n(zh-cn): Update `cloudinary.mdx`
  src/content/docs/zh-cn/guides/media/cloudinary.mdx
Labels: i18n, hacktoberfest-accepted, Merge Queue

#9694 Adam prendergast patch 1
  src/content/docs/en/guides/media.mdx
Labels: improve documentation, hacktoberfest-accepted

#9439 i18n(zh-cn): translate guides/actions.mdx into Chinese(Simplified)
  src/content/docs/zh-cn/guides/actions.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#9690 i18n(zh-cn): update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
  src/content/docs/zh-cn/guides/integrations-guide/db.mdx
Labels: i18n

#9673 fix(5.0.0): nitpicking and suggestions regarding `on-demand-rendering.mdx`
  src/content/docs/en/guides/on-demand-rendering.mdx
Labels: add new content, 5.0.0-beta

#9700 update a code snippet in `guides/server-side-rendering.mdx`
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: code snippet update, Merge Queue

#9701 Update code snippet in `astro-db.mdx`
  src/content/docs/en/guides/astro-db.mdx
Labels: code snippet update, Merge Queue

#9691 i18n(fr): update `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#9692 i18n(fr): update `guides/rss.mdx`
  src/content/docs/fr/guides/rss.mdx
Labels: i18n

#9698 i18n(fr): update `guides/media/cloudinary.mdx`
  src/content/docs/fr/guides/media/cloudinary.mdx
Labels: i18n

#9707 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n

#9704 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n, Merge Queue

#9699 i18n(zh-cn): Update nav.ts
  src/i18n/zh-cn/nav.ts
Labels: i18n, Merge Queue

#9706 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n, Merge Queue

#9708 i18n(zh-cn): Update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n, Merge Queue

#9705 i18n(ko-KR): update `server-side-rendering.mdx`
  src/content/docs/ko/guides/server-side-rendering.mdx
Labels: i18n
