Repository withastro/docs, pull requests merged in 2024-07, with the labels that each got.

#8707 Fix view transitions tutorial
  src/content/docs/en/tutorials/add-view-transitions.mdx
Labels: improve documentation, code snippet update

#8706 example does not work, missing comma
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: code snippet update, Merge Queue

#8691 i18n(fr): Add some references files and `reference/integrations-reference.mdx`
  src/content/docs/fr/reference/adapter-reference.mdx
  src/content/docs/fr/reference/directives-reference.mdx
  src/content/docs/fr/reference/errors/actions-without-server-output-error.mdx
  src/content/docs/fr/reference/errors/env-invalid-variable.mdx
  src/content/docs/fr/reference/errors/env-invalid-variables.mdx
  src/content/docs/fr/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/fr/reference/errors/expected-not-esmimage.mdx
  src/content/docs/fr/reference/errors/i18n-no-locale-found-in-path.mdx
  src/content/docs/fr/reference/errors/invalid-rewrite404.mdx
  src/content/docs/fr/reference/errors/no-client-entrypoint.mdx
  src/content/docs/fr/reference/errors/prerender-client-address-not-available.mdx
  src/content/docs/fr/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/fr/reference/errors/rewrite-with-body-used.mdx
  src/content/docs/fr/reference/errors/server-only-module.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#8703 i18n(fr): add guides/internationalization.mdx
  src/content/docs/fr/guides/internationalization.mdx
Labels: i18n

#8709 i18n(fr): add migrate-to-astro/from-wordpress.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#8702 i18n(fr): add guides/content.mdx
  src/content/docs/fr/guides/content.mdx
Labels: i18n

#8698 i18n(fr): update content-collections.mdx
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#8713 en-only - Typo fix from 'overtime' to 'over time'
  src/content/docs/en/guides/astro-db.mdx
Labels: typo/link/grammar - quick fix!

#8712 i18n(zh-cn): Update `testing.mdx`
  src/content/docs/zh-cn/guides/testing.mdx
Labels: i18n, Merge Queue

#8714 i18n(zh-cn): Update `dev-toolbar-app-reference.mdx`
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#8635 i18n(es): update `rendering-modes` & `community-resources/content`
  src/content/docs/es/basics/rendering-modes.mdx
  src/content/docs/es/community-resources/content.mdx
Labels: i18n

#8716 i18n(ko-KR): update `testing.mdx`
  src/content/docs/ko/guides/testing.mdx
Labels: i18n

#8717 i18n(ko-KR): update `dev-toolbar-app-reference.mdx`
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#8718 i18n(ko-KR): update `add-view-transitions.mdx`
  src/content/docs/ko/tutorials/add-view-transitions.mdx
Labels: i18n

#8721 [endpoints.mdx] update for hybrid mode
  src/content/docs/en/guides/endpoints.mdx
Labels: improve documentation

#8715 i18n(zh-cn): Update `add-view-transitions.mdx`
  src/content/docs/zh-cn/tutorials/add-view-transitions.mdx
Labels: i18n, Merge Queue

#8726 i18n(zh-cn): Update `endpoints.mdx`
  src/content/docs/zh-cn/guides/endpoints.mdx
Labels: i18n

#8727 Add video links in zerops guide
  src/content/docs/en/guides/deploy/zerops.mdx
Labels: community resource

#8728 markdown plugin changes
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation, Merge Queue

#8730 i18n(fr): Add `guides/endpoints.mdx` from #8721
  src/content/docs/fr/guides/endpoints.mdx
Labels: i18n

#8724 i18n(ko-KR): update `endpoints.mdx`
  src/content/docs/ko/guides/endpoints.mdx
Labels: i18n

#8725 i18n(ko-KR): update `add-view-transitions.mdx`
  src/content/docs/ko/tutorials/add-view-transitions.mdx
Labels: i18n

#8736 i18n(ko-KR): update `zerops.mdx`
  src/content/docs/ko/guides/deploy/zerops.mdx
Labels: i18n

#8737 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#8741 Fix Fathom 404 tracking
  src/components/starlight/Head.astro
Labels: site improvement

#8740 Make clear that transition:persist-props does not work without transition:persist
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve documentation, Merge Queue

#8743 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#8744 i18n(ko-KR): update `i18n.mdx`
  src/content/docs/ko/recipes/i18n.mdx
Labels: i18n

#8750 i18n(fr): Fix escaping typo in Rss guide
  src/content/docs/fr/guides/rss.mdx
Labels: i18n

#8746 Update render.mdx
  src/content/docs/en/guides/deploy/render.mdx
Labels: improve documentation, Merge Queue

#8620 i18n(es): Correction of missing imports for the function 'translatePath'
  src/content/docs/es/recipes/i18n.mdx
Labels: i18n, code snippet update

#8752 i18n(fr): Update `recipes/i18n.mdx` from #8645
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#8729 i18n(fr): Add `guides/markdown-content.mdx` from #8728
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#8747 i18n(zh-cn): Update `i18n.mdx`
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#8735 i18n(fr): add migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#8754 i18n(fr): Add `guides/cms/hashnode.mdx`
  src/content/docs/fr/guides/cms/hashnode.mdx
Labels: i18n

#8755 i18n(fr): Add `guides/cms/umbraco.mdx`
  src/content/docs/fr/guides/cms/umbraco.mdx
Labels: i18n

#8753 i18n(fr): Update `render.mdx` from #8746
  src/content/docs/fr/guides/deploy/render.mdx
Labels: i18n

#8732 i18n(fr): Add `guides/migrate-to-astro/from-xx`
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-vuepress.mdx
Labels: i18n

#8720 i18n(fr): update tutorials/add-view-transitions.mdx
  src/content/docs/fr/tutorials/add-view-transitions.mdx
Labels: i18n

#8719 i18n(fr): update guides/testing.mdx
  src/content/docs/fr/guides/testing.mdx
Labels: i18n

#8748 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, Merge Queue

#8733 i18n(zh-cn): Update `zerops.mdx`
  src/content/docs/zh-cn/guides/deploy/zerops.mdx
Labels: i18n, Merge Queue

#8734 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#8761 i18n(zh-cn): Update `render.mdx`
  src/content/docs/zh-cn/guides/deploy/render.mdx
Labels: i18n, Merge Queue

#8758 i18n(fr): Update `guides/view-transitions.mdx` from #8740
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#8760 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#8759 i18n(ko-KR): update `render.mdx`
  src/content/docs/ko/guides/deploy/render.mdx
Labels: i18n

#8745 i18n(es) update `configuration-reference.mdx`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#8765 fix(content): update code diff in migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: code snippet update, Merge Queue

#8762 i18n(fr): add migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#8764 i18n(fr): add migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#8669 i18n(de): update `layouts.mdx`
  src/content/docs/de/basics/layouts.mdx
Labels: i18n, Merge Queue

#8768 i18n(ko-KR): update `from-nuxtjs.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#8770 i18n(zh-cn):Update `from-nuxtjs.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n, Merge Queue

#8776 Updated recipe pages schema and components
  src/components/RecipeLinks.astro
  src/components/RecipesNav.astro
  src/content/config.ts
Labels: site improvement

#8773 i18n(fr): Add `guides/deploy/zerops.mdx` in French language
  src/content/docs/fr/guides/deploy/zerops.mdx
Labels: i18n

#8774 i18n(fr): Add `guides/deploy/stormkit.mdx` in French language
  src/content/docs/fr/guides/deploy/stormkit.mdx
Labels: i18n

#8785 [i18nIgnore] Fix Spelling typo on Cloudflare
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#8786 i18n(ja): Update `ja/guides/cms/contentful.mdx`
  src/content/docs/ja/guides/cms/contentful.mdx
Labels: i18n, Merge Queue

#8769 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#8738 Migrate docs.astro.build to Netlify
  astro.config.ts
  netlify.toml
  public/_headers
  public/_redirects
  src/components/LeftSidebar/Sponsors.astro
  src/components/NotFound.astro
  src/content/docs/404.mdx
  src/pages/404.astro
  src/pages/[lang]/404.astro
  vercel.json
Labels: i18n, site improvement, merge-on-release

#8751 add new `first` and `last` to pagination page prop
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8701 Document how to extend integration hooks
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8722 Feature: add note about default color configuration for shiki
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8797 Update Astro+Keystatic: document to markdoc field
  src/content/docs/en/guides/cms/keystatic.mdx
Labels: code snippet update, Merge Queue

#8771 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#8801 Fix an import statement in `build-forms-api.mdx`
  src/content/docs/en/recipes/build-forms-api.mdx
Labels: code snippet update, Merge Queue

#8802 i18n(fr): update guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
Labels: i18n

#8624 i18n(de): add solid integration guide
  src/content/docs/de/guides/integrations-guide/solid-js.mdx
Labels: i18n

#8788 i18n(ja): Update `ja/guides/styling.mdx`
  src/content/docs/ja/guides/styling.mdx
Labels: i18n

#8795 i18n(es): update `endpoints`
  src/content/docs/es/guides/endpoints.mdx
Labels: i18n

#8813 i18n(zh-cn): Update `keystatic.mdx`
  src/content/docs/zh-cn/guides/cms/keystatic.mdx
Labels: i18n

#8815 i18n(ko-KR): update `keystatic.mdx`
  src/content/docs/ko/guides/cms/keystatic.mdx
Labels: i18n, Merge Queue

#8814 i18n(zh-cn): Update `build-forms-api.mdx`
  src/content/docs/zh-cn/recipes/build-forms-api.mdx
Labels: i18n, Merge Queue

#8816 i18n(ko-KR): update `build-forms-api.mdx`
  src/content/docs/ko/recipes/build-forms-api.mdx
Labels: i18n, Merge Queue

#8804 Update Cloudflare Adapter Documentation - New imageService Default
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: code snippet update, Merge Queue

#8810 i18n(fr): update recipes/build-forms-api.mdx
  src/content/docs/fr/recipes/build-forms-api.mdx
Labels: i18n

#8820 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#8821 i18n(fr): update integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#8818 Remove all mentioned `jsconfig`
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/guides/upgrade-to/v1.mdx
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, Merge Queue

#8829 i18n(zh-cn): Update `cli-reference.mdx` & `imports.mdx` & `typescript.mdx`
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#8828 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n, Merge Queue

#8832 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#8831 i18n(ko-KR): update `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
Labels: i18n

#8833 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#8708 i18n(ja): Add new recipes/sharing-state-islands.mdx translation
  src/content/docs/ja/recipes/sharing-state-islands.mdx
Labels: i18n

#8790 i18n(ja): Update `astro-pages.mdx` translation
  src/content/docs/ja/basics/astro-pages.mdx
Labels: i18n

#8197 Sidebar Reorganization Implementation
  astro.config.ts
  src/components/FooterLinks.astro
  src/components/starlight/EditLink.astro
  src/components/starlight/Footer.astro
  src/components/starlight/TableOfContents.astro
  src/components/tutorial/FeedbackButton.astro
Labels: site improvement

#8838 feat: add new flag for astro check
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8808 feat(images): Add small snippet about the inferRemoteSize function
  src/content/docs/en/guides/images.mdx
Labels: add new content, merge-on-release, minor-release

#8854 Add community recipe
  src/content/docs/en/community-resources/content.mdx
Labels: Merge Queue, community resource

#8851 i18n(es): Update index.mdx
  src/content/docs/es/tutorial/2-pages/index.mdx
Labels: i18n, Merge Queue

#8837 i18n(fr): add configuration-reference.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
  src/content/docs/fr/reference/errors/config-legacy-key.mdx
Labels: i18n

#8853 i18n(fr): update `images`, `markdown-content` and `integrations-reference`
  src/content/docs/fr/guides/images.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#8852 i18n(es): Update 2.mdx [i18nIgnore]
  src/content/docs/es/tutorial/2-pages/2.mdx
Labels: i18n, Merge Queue

#8830 i18n(fr): update `imports`, `typescript` & `cli-reference`
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#8849 i18n(fr): update error-reference.mdx & env-invalid-variables.mdx
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/env-invalid-variables.mdx
Labels: i18n

#8772 i18n(fr): add upgrade-to/vX.mdx guides
  src/content/docs/fr/guides/upgrade-to/v1.mdx
  src/content/docs/fr/guides/upgrade-to/v2.mdx
  src/content/docs/fr/guides/upgrade-to/v3.mdx
  src/content/docs/fr/guides/upgrade-to/v4.mdx
  src/content/docs/fr/reference/errors/invalid-get-static-paths-entry.mdx
Labels: i18n

#8841 i18n(ja): Update nav.ts translation
  src/i18n/ja/nav.ts
Labels: i18n

#8859 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#8864 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#8865 i18n(ko-KR): update `integrations-reference.mdx`
  src/content/docs/ko/reference/integrations-reference.mdx
Labels: i18n

#8863 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#8862 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#8861 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#8844 i18n(ko-KR): update `env-invalid-variables.mdx`
  src/content/docs/ko/reference/errors/env-invalid-variables.mdx
Labels: i18n

#8843 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#8799 Update code example from supabase.mdx (Astro & Supabase Guide)
  src/content/docs/en/guides/backend/supabase.mdx
Labels: improve documentation, Merge Queue

#8812 Migrating from Pelican: comparing integrations/plugins
  src/content/docs/en/guides/migrate-to-astro/from-pelican.mdx
Labels: improve documentation, Merge Queue

#8858 new CMS guide: Craft CMS
  public/logos/craft-cms.svg
  src/content/docs/en/guides/cms/craft-cms.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue

#8839 Update Video tutoriales
  src/content/docs/en/community-resources/content.mdx
Labels: Merge Queue, community resource

#8836 docs: use `var` instead of `const` for declarations
  src/content/docs/en/guides/typescript.mdx
Labels: code snippet update, Merge Queue

#8811 Update GitLab Pages deployment guide
  src/content/docs/en/guides/deploy/gitlab.mdx
Labels: improve documentation, Merge Queue

#8822 Add collecting payments with Stripe article to community resources
  src/content/docs/en/guides/ecommerce.mdx
Labels: Merge Queue, community resource

#8850 feat: document `addClientRenderer`
  src/content/docs/en/reference/container-reference.mdx
Labels: add new content

#8827 i18n(es): update `from-nextjs`
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n, Merge Queue

#8826 i18n(es): update `from-gatsby`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n, Merge Queue

#8873 i18n(ko-KR): update `supabase.mdx`
  src/content/docs/ko/guides/backend/supabase.mdx
Labels: i18n

#8874 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#8876 i18n(ko-KR): update `ecommerce.mdx`
  src/content/docs/ko/guides/ecommerce.mdx
Labels: i18n

#8875 i18n(ko-KR): update `gitlab.mdx`
  src/content/docs/ko/guides/deploy/gitlab.mdx
Labels: i18n

#8877 i18n(ko-KR): update `from-pelican.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#8879 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#8878 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#8880 i18n(ko-KR): create `craft-cms.mdx`
  src/content/docs/ko/guides/cms/craft-cms.mdx
Labels: i18n

#8881 i18n(fr): update `guides/typescript.mdx`
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#8882 i18n(fr): update `migrate-to-astro/from-pelican.mdx`
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#8883 i18n(fr): update guides/ecommerce.mdx
  src/content/docs/fr/guides/ecommerce.mdx
Labels: i18n

#8884 i18n(fr): update `guides/deploy/gitlab.mdx`
  src/content/docs/fr/guides/deploy/gitlab.mdx
Labels: i18n

#8885 i18n(fr): update `guides/backend/supabase.mdx`
  src/content/docs/fr/guides/backend/supabase.mdx
Labels: i18n

#8886 i18n(fr): add `guides/cms/craft-cms.mdx`
  src/content/docs/fr/guides/cms/craft-cms.mdx
Labels: i18n

#8893 i18nIgnore(ar): Fix filenames
  src/content/docs/ar/basics/astro-pages.mdx
Labels: i18n, code snippet update, Merge Queue

#8775 [i18n Ja] Updated translation of `layouts.mdx` page.
  src/content/docs/ja/basics/layouts.mdx
Labels: i18n

#8869 i18n(fr): update `community-resources/content.mdx`
  src/content/docs/fr/community-resources/content.mdx
Labels: i18n

#8791 i18n(es): update `directus`
  src/content/docs/es/guides/cms/directus.mdx
Labels: i18n

#8792 i18n(es): update `content-collections`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#8793 i18n(es): update `render`
  src/content/docs/es/guides/deploy/render.mdx
Labels: i18n

#8824 i18n(es): update `cloudflare`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#8894 fix(routing): document priority of redirects
  src/content/docs/en/guides/routing.mdx
Labels: improve documentation, Merge Queue

#8903 i18n(zh-cn): Update `typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#8901 i18n(zh-cn): Update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n, Merge Queue

#8905 i18n(zh-cn): Update `ecommerce.mdx`
  src/content/docs/zh-cn/guides/ecommerce.mdx
Labels: i18n, Merge Queue

#8897 Backend guides nav: sort alphabetically (part of #8860)
  src/components/BackendGuidesNav.astro
Labels: site improvement, Merge Queue

#8898 CMS guides nav: sort alphabetically (part of #8860)
  src/components/CMSGuidesNav.astro
Labels: site improvement, Merge Queue

#8896 Migration guides nav: sort alphabetically (part of #8860)
  src/components/MigrationGuidesNav.astro
Labels: site improvement, Merge Queue

#8895 i18n(fr): update `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#8899 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#8902 i18n(zh-cn): Update `supabase.mdx`
  src/content/docs/zh-cn/guides/backend/supabase.mdx
Labels: i18n, Merge Queue

#8891 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue
