Repository withastro/docs, pull requests merged in 2024-11, with the labels that each got.

#9902 i18n(zh-cn): Update `craft-cms.mdx`
  src/content/docs/zh-cn/guides/cms/craft-cms.mdx
Labels: i18n

#9901 i18n(fr): update title of `guides/cms/craft-cms.mdx`
  src/content/docs/fr/guides/cms/craft-cms.mdx
Labels: i18n

#9903 i18n(ko-KR): update `craft-cms.mdx`
  src/content/docs/ko/guides/cms/craft-cms.mdx
Labels: i18n

#9904 [i18nIgnore] fix: code blocks `env` language identifier
  src/content/docs/en/guides/astro-db.mdx
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/ko/guides/astro-db.mdx
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#9886 i18n(de): update `basics/astro-syntax.mdx`
  src/content/docs/de/basics/astro-syntax.mdx
Labels: i18n

#9885 i18n(pt-BR): create `guides/migrate-to-astro/from-eleventy.mdx`
  src/content/docs/pt-br/guides/migrate-to-astro/from-eleventy.mdx
Labels: i18n

#9867 i18n(pt-BR): `reference/errors`
  src/content/docs/pt-br/reference/errors/action-called-from-server-error.mdx
  src/content/docs/pt-br/reference/errors/action-not-found-error.mdx
  src/content/docs/pt-br/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/pt-br/reference/errors/actions-returned-invalid-data-error.mdx
  src/content/docs/pt-br/reference/errors/actions-used-with-for-get-error.mdx
  src/content/docs/pt-br/reference/errors/actions-without-server-output-error.mdx
  src/content/docs/pt-br/reference/errors/endpoint-did-not-return-aresponse.mdx
  src/content/docs/pt-br/reference/errors/env-invalid-variable.mdx
  src/content/docs/pt-br/reference/errors/env-invalid-variables.mdx
  src/content/docs/pt-br/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/pt-br/reference/errors/expected-not-esmimage.mdx
  src/content/docs/pt-br/reference/errors/get-entry-deprecation-error.mdx
  src/content/docs/pt-br/reference/errors/i18n-no-locale-found-in-path.mdx
  src/content/docs/pt-br/reference/errors/incorrect-strategy-for-i18n.mdx
  src/content/docs/pt-br/reference/errors/invalid-rewrite404.mdx
Labels: i18n

#9866 i18n(de): update `nav.tsx`
  src/i18n/de/nav.ts
Labels: i18n

#9754 i18n(de): update `basics/astro-components.mdx`
  src/content/docs/de/basics/astro-components.mdx
Labels: i18n

#9854 i18n(ja): Add install-and-setup.mdx and update related files
  src/content/docs/ja/basics/project-structure.mdx
  src/content/docs/ja/guides/deploy/render.mdx
  src/content/docs/ja/install-and-setup.mdx
  src/content/docs/ja/recipes/bun.mdx
  src/content/docs/ja/reference/cli-reference.mdx
Labels: i18n

#9794 i18n(ar): Update `nav.ts` file [i18nIgnore]
  src/i18n/ar/nav.ts
Labels: i18n

#9792 i18n(pl): translate rss.mdx
  src/content/docs/pl/guides/rss.mdx
Labels: i18n, hacktoberfest-accepted

#9791 i18n(pl): translate contribute.mdx
  src/content/docs/pl/contribute.mdx
Labels: i18n, hacktoberfest-accepted

#9772 i18n(pl): translate media.mdx
  src/content/docs/pl/guides/media.mdx
Labels: i18n, hacktoberfest-accepted

#9773 i18n(pl): translate fonts.mdx
  src/content/docs/pl/guides/fonts.mdx
Labels: i18n, hacktoberfest-accepted

#9770 i18n(pl): translate content.mdx
  src/content/docs/pl/guides/content.mdx
Labels: i18n, hacktoberfest-accepted

#9632 i18n(pl): translate integrations-guide.mdx
  src/content/docs/pl/guides/integrations-guide.mdx
  src/content/docs/pl/guides/upgrade-to/v4.mdx
Labels: i18n, hacktoberfest-accepted

#9748 i18n(ja): fix guides/images.mdx, output result was wrong [i18nIgnore]
  src/content/docs/ja/guides/images.mdx
Labels: i18n

#9740 i18n(ar): update `getting-started.mdx` file
  src/content/docs/ar/getting-started.mdx
Labels: i18n

#9723 i18n(ar): Update editor-setup.mdx file
  src/content/docs/ar/editor-setup.mdx
Labels: i18n

#9888 Redistribute Built-in components and remove page
  src/content/docs/de/basics/astro-components.mdx
  src/content/docs/de/guides/troubleshooting.mdx
  src/content/docs/de/reference/api-reference.mdx
  src/content/docs/en/basics/astro-components.mdx
  src/content/docs/en/basics/astro-syntax.mdx
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/syntax-highlighting.mdx
  src/content/docs/en/guides/troubleshooting.mdx
  src/content/docs/en/guides/upgrade-to/v1.mdx
  src/content/docs/en/reference/components-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/es/basics/astro-components.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/troubleshooting.mdx
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/troubleshooting.mdx
  src/content/docs/fr/guides/upgrade-to/v1.mdx
  src/content/docs/fr/reference/components-reference.mdx
  src/content/docs/hi/basics/astro-components.mdx
  src/content/docs/it/basics/astro-components.mdx
  src/content/docs/ja/basics/astro-components.mdx
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
  src/content/docs/ko/basics/astro-components.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/guides/troubleshooting.mdx
  src/content/docs/ko/reference/components-reference.mdx
  src/content/docs/pl/basics/astro-components.mdx
  src/content/docs/pt-br/basics/astro-components.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/troubleshooting.mdx
  src/content/docs/ru/basics/astro-components.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/zh-cn/basics/astro-components.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/troubleshooting.mdx
  src/content/docs/zh-cn/reference/components-reference.mdx
  src/content/docs/zh-tw/basics/astro-components.mdx
  src/i18n/ar/nav.ts
  src/i18n/de/nav.ts
  src/i18n/en/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/ko/nav.ts
  src/i18n/zh-cn/nav.ts
Labels: i18n, add new content, information architecture

#9917 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#9929 i18n(zh-cn): Update `astro-syntax.mdx`
  src/content/docs/zh-cn/basics/astro-syntax.mdx
Labels: i18n

#9928 i18n(zh-cn): Update `troubleshooting.mdx`
  src/content/docs/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#9939 i18n(fr): Update `guides/troubleshooting.mdx` from #9888
  src/content/docs/fr/guides/troubleshooting.mdx
Labels: i18n

#9937 i18n(fr): Update `community-resources/content.mdx` from #9900
  src/content/docs/fr/community-resources/content.mdx
Labels: i18n

#9936 i18n(fr): Update `basics/astro-syntax.mdx` from #9888
  src/content/docs/fr/basics/astro-syntax.mdx
Labels: i18n

#9934 i18n(fr): add `guides/syntax-highlighting.mdx` & update `configuration-reference.mdx`
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/syntax-highlighting.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9938 i18n(fr): Update `guides/markdown-content.mdx` from #9888
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/upgrade-to/v1.mdx
Labels: i18n

#9915 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n

#9670 i18n(pl): Create migrate-to-astro.mdx
  src/content/docs/pl/guides/migrate-to-astro.mdx
Labels: i18n, hacktoberfest-accepted

#9926 i18n(zh-cn): update `recipes.mdx`
  src/content/docs/zh-cn/recipes.mdx
Labels: i18n

#9925 i18n(zh-cn): update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n

#9923 i18n(ko-KR): create `syntax-highlighting.mdx`
  src/content/docs/ko/guides/syntax-highlighting.mdx
Labels: i18n

#9921 i18n(ko-KR): update `recipes.mdx`
  src/content/docs/ko/recipes.mdx
Labels: i18n

#9916 i18n(ko-KR): update `astro-syntax.mdx`
  src/content/docs/ko/basics/astro-syntax.mdx
Labels: i18n

#9922 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9920 i18n(ko-KR): update `troubleshooting.mdx`
  src/content/docs/ko/guides/troubleshooting.mdx
Labels: i18n

#9918 i18n(ko-KR): update `markdoc.mdx`
  src/content/docs/ko/guides/integrations-guide/markdoc.mdx
Labels: i18n

#9919 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#9927 i18n(zh-cn): Create `syntax-highlighting.mdx` & update `markdoc.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
  src/content/docs/zh-cn/guides/syntax-highlighting.mdx
Labels: i18n

#9946 i18n(zh-cn): Update `bun.mdx`
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n

#9941 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9947 i18n(zh-cn): Update `nav.ts`
  src/i18n/zh-cn/nav.ts
Labels: i18n

#9951 update redirects
  public/_redirects
Labels: site improvement

#9948 i18n(fr): update `recipes/bun.mdx`
  src/content/docs/fr/recipes/bun.mdx
Labels: i18n

#9940 i18n(de): update `nav.ts`
  src/i18n/de/nav.ts
Labels: i18n

#9942 i18n(de): update `astro-syntax.mdx`
  src/content/docs/de/basics/astro-syntax.mdx
Labels: i18n

#9969 Add a button to share tutorial achievement on Bluesky
  src/content/docs/en/tutorial/6-islands/3.mdx
Labels: tutorial

#9931 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#9971 i18n(zh-cn): Update `3.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n

#9950 fix(v5): add missing import in content collection tutorial
  src/content/docs/en/tutorials/add-content-collections.mdx
Labels: tutorial, 5.0.0-beta

#9943 Add 5.0 Actions Middleware change
  src/content/docs/en/guides/actions.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/reference/modules/astro-actions.mdx
Labels: add new content, merge-on-release, 5.0.0-beta

#9958 feat(middleware): more explanation for `next()` rewrite
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation, Merge Queue

#9914 docs: update `deploy/render.mdx`
  src/content/docs/en/guides/deploy/render.mdx
Labels: improve documentation, Merge Queue, 3rd-party guide

#9944 fix `Alpine.js` examples link
  src/content/docs/en/guides/integrations-guide/alpinejs.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#9982 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9983 i18n(zh-cn): Update `middleware.mdx`
  src/content/docs/zh-cn/guides/middleware.mdx
Labels: i18n

#9981 i18n(zh-cn): Update `alpinejs.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#9980 i18n(zh-cn): Update `render.mdx`
  src/content/docs/zh-cn/guides/deploy/render.mdx
Labels: i18n

#9973 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9972 i18n(fr): update `tutorial/6-islands/3.mdx`
  src/content/docs/fr/tutorial/6-islands/3.mdx
Labels: i18n

#9991 i18n(zh-cn): Update `streaming-improve-page-performance.mdx`
  src/content/docs/zh-cn/recipes/streaming-improve-page-performance.mdx
Labels: i18n, Merge Queue

#9986 i18n(ko-KR): update `render.mdx`
  src/content/docs/ko/guides/deploy/render.mdx
Labels: i18n, Merge Queue

#9987 i18n(ko-KR): update `alpinejs.mdx`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
Labels: i18n, Merge Queue

#9989 i18n(ko-KR): update `streaming-improve-page-performance.mdx`
  src/content/docs/ko/recipes/streaming-improve-page-performance.mdx
Labels: i18n, Merge Queue

#9990 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9978 Migrate Astro Docs to Lunaria v1 prerelease
  .github/workflows/lunaria.yml
  lunaria.config.ts
  lunaria/components.ts
  lunaria/renderer.config.ts
  lunaria/styles.css
  lunaria/styles.ts
  package.json
  pnpm-lock.yaml
  scripts/lunaria.mts
  scripts/tuesday-bot.ts
Labels: 🚨 action

#9970 i18n(ko-KR): update `/tutorial/6-islands/3.mdx`
  src/content/docs/ko/tutorial/6-islands/3.mdx
Labels: i18n

#9996 i18n(fr): update `recipes/streaming-improve-page-performance.mdx`
  src/content/docs/fr/recipes/streaming-improve-page-performance.mdx
Labels: i18n

#9997 i18n(fr): update `guides/middleware.mdx`
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#9999 i18n(fr): update `guides/deploy/render.mdx`
  src/content/docs/fr/guides/deploy/render.mdx
Labels: i18n

#9953 i18n(pt-BR): update `tutorial/2-pages/1.mdx` file
  src/content/docs/pt-br/tutorial/2-pages/1.mdx
Labels: i18n

#9955 i18n(pt-BR): update `tutorial/2-pages/3.mdx` file
  src/content/docs/pt-br/tutorial/2-pages/3.mdx
Labels: i18n

#9956 i18n(pt-BR): update `tutorial/2-pages/4.mdx` file
  src/content/docs/pt-br/tutorial/2-pages/4.mdx
Labels: i18n

#9957 i18n(pt-BR): update `tutorial/2-pages/5.mdx` file
  src/content/docs/pt-br/tutorial/2-pages/5.mdx
Labels: i18n

#9959 i18n(pt-BR): update `tutorial/3-components/1.mdx` file
  src/content/docs/pt-br/tutorial/3-components/1.mdx
Labels: i18n

#9960 i18n(pt-BR): update `tutorial/3-components/2.mdx` file
  src/content/docs/pt-br/tutorial/3-components/2.mdx
Labels: i18n

#9961 i18n(pt-BR): update `tutorial/3-components/3.mdx` file
  src/content/docs/pt-br/tutorial/3-components/3.mdx
Labels: i18n

#9962 i18n(pt-BR): update `tutorial/3-components/4.mdx` file
  src/content/docs/pt-br/tutorial/3-components/4.mdx
Labels: i18n

#9954 i18n(pt-BR): update `tutorial/2-pages/2.mdx` file
  src/content/docs/pt-br/tutorial/2-pages/2.mdx
Labels: i18n

#9976 Actions middleware
  src/content/docs/en/guides/actions.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/reference/modules/astro-actions.mdx
Labels: add new content, merge-on-release, Merge Queue, 5.0.0-beta

#10003 Update hashnode.mdx
  src/content/docs/en/guides/cms/hashnode.mdx
Labels: code snippet update, Merge Queue

#10008 Fix formatting CI
  lunaria/components.ts
  package.json
  plugins/rehype-autolink.ts
  pnpm-lock.yaml
  src/components/tabs/TabbedContent.astro
  src/components/tutorial/UnitProgressIcon.astro
Labels: site improvement

#9780 Update i18n.mdx
  src/content/docs/en/recipes/i18n.mdx
Labels: Merge Queue, community resource

#9966 Update astro-i18n.mdx [i18nIgnore]
  src/content/docs/en/reference/modules/astro-i18n.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10005 Add `Astro.callAction()` guide
  src/content/docs/en/guides/actions.mdx
Labels: add new content

#9945 i18n(ko-KR): update `bun.mdx`
  src/content/docs/ko/recipes/bun.mdx
Labels: i18n

#10010 i18n(ko-KR): update `i18n.mdx`
  src/content/docs/ko/recipes/i18n.mdx
Labels: i18n

#10011 i18n(ko-KR): update `hashnode.mdx`
  src/content/docs/ko/guides/cms/hashnode.mdx
Labels: i18n

#10012 i18n(ko-KR): update `actions.mdx`
  src/content/docs/ko/guides/actions.mdx
Labels: i18n

#9895 Update cli-reference.mdx
  src/content/docs/en/reference/cli-reference.mdx
Labels: improve documentation, add new content, Merge Queue

#10014 i18n(zh-cn): Update `i18n.mdx`
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n, Merge Queue

#9963 i18n(de): update guides/deploy/vercel.mdx
  src/content/docs/de/guides/deploy/vercel.mdx
Labels: i18n

#9949 Add guide of deploying static site to Deno Deploy
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/deno.mdx
Labels: add new content, code snippet update, 3rd-party guide

#10015 i18n(zh-cn): Update `actions.mdx`
  src/content/docs/zh-cn/guides/actions.mdx
Labels: i18n, Merge Queue

#10013 i18n(zh-cn): Update `hashnode.mdx`
  src/content/docs/zh-cn/guides/cms/hashnode.mdx
Labels: i18n, Merge Queue

#10022 i18n(fr): update `recipes/i18n.mdx`
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#10023 i18n(fr): update `guides/actions.mdx`
  src/content/docs/fr/guides/actions.mdx
Labels: i18n

#10024 i18n(fr): update `guides/cms/hashnode.mdx`
  src/content/docs/fr/guides/cms/hashnode.mdx
Labels: i18n

#10017 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#10002 Update Svelte integration v6 docs
  src/content/docs/en/guides/integrations-guide/svelte.mdx
Labels: improve documentation, merge-on-release, Merge Queue

#9798 Add Flotiq and Astro integration guide
  public/logos/flotiq.svg
  src/content/docs/en/guides/cms/flotiq.mdx
  src/data/logos.ts
Labels: add new content, 3rd-party guide

#9974 feat(recipe): add bundle analyzer recipe
  src/content/docs/en/recipes/analyze-bundle-size.mdx
Labels: add new content, recipe

#10029 i18n(ja): update `nav.ts`
  src/i18n/ja/nav.ts
Labels: i18n

#10036 i18n(ko-KR): create `flotiq.mdx`
  src/content/docs/ko/guides/cms/flotiq.mdx
Labels: i18n

#10037 i18n(ko-KR): create `analyze-bundle-size.mdx`
  src/content/docs/ko/recipes/analyze-bundle-size.mdx
Labels: i18n

#10031 i18n(fr): Update `guides/deploy/deno.mdx` from #9949
  src/content/docs/fr/guides/deploy/deno.mdx
Labels: i18n

#10030 i18n(ko-KR): update `svelte.mdx`
  src/content/docs/ko/guides/integrations-guide/svelte.mdx
Labels: i18n

#10026 i18n(ko-KR): update `deno.mdx`
  src/content/docs/ko/guides/deploy/deno.mdx
Labels: i18n

#10016 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#10038 Ensure that the transition:animate="none" example is technically correct
  src/content/docs/en/guides/view-transitions.mdx
Labels: code snippet update

#10032 new programmatic-reference page
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/en/reference/programmatic-reference.mdx
  src/i18n/en/nav.ts
Labels: 5.0.0-beta, information architecture

#10039 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#10040 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#10044 Run CI on all PRs
  .github/workflows/ci.yml
  .github/workflows/lunaria.yml
Labels: 🚨 action

#10046 Add file streaming community recipe
  src/content/docs/en/community-resources/content.mdx
Labels: community resource

#10033 remove View Transitions extend tutorial
  public/_redirects
  src/content/docs/en/guides/view-transitions.mdx
  src/content/docs/en/tutorial/0-introduction/1.mdx
  src/content/docs/en/tutorial/6-islands/3.mdx
  src/content/docs/en/tutorials/add-view-transitions.mdx
  src/content/docs/es/guides/view-transitions.mdx
  src/content/docs/es/tutorial/6-islands/3.mdx
  src/content/docs/es/tutorials/add-view-transitions.mdx
  src/content/docs/fr/guides/view-transitions.mdx
  src/content/docs/fr/tutorial/0-introduction/1.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
  src/content/docs/fr/tutorials/add-view-transitions.mdx
  src/content/docs/it/tutorials/add-view-transitions.mdx
  src/content/docs/ja/tutorial/6-islands/3.mdx
  src/content/docs/ko/guides/view-transitions.mdx
  src/content/docs/ko/tutorial/0-introduction/1.mdx
  src/content/docs/ko/tutorial/6-islands/3.mdx
  src/content/docs/ko/tutorials/add-view-transitions.mdx
  src/content/docs/pt-br/tutorial/0-introduction/1.mdx
  src/content/docs/pt-br/tutorial/6-islands/3.mdx
  src/content/docs/ru/guides/view-transitions.mdx
  src/content/docs/ru/tutorial/6-islands/3.mdx
  src/content/docs/ru/tutorials/add-view-transitions.mdx
  src/content/docs/zh-cn/guides/view-transitions.mdx
  src/content/docs/zh-cn/tutorial/0-introduction/1.mdx
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
  src/content/docs/zh-cn/tutorials/add-view-transitions.mdx
Labels: improve documentation, i18n, tutorial, 5.0.0-beta, information architecture

#10048 Update to the `astro-actions` page, adding documentation for `isActionError`.
  src/content/docs/en/reference/modules/astro-actions.mdx
Labels: add new content

#10047 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#10028 i18n(zh-cn): Update `deno.mdx`
  src/content/docs/zh-cn/guides/deploy/deno.mdx
Labels: i18n, Merge Queue

#10041 i18n(zh-cn): Update `svelte.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/svelte.mdx
Labels: i18n, Merge Queue

#10052 i18n(fr): Update `guides/view-transitions.mdx` from #10038
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n, Merge Queue

#10059 Update Astro, Starlight, Astro check + sitemap integration
  package.json
  pnpm-lock.yaml
Labels: site improvement

#10057 i18n(ko-KR): update `astro-actions.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/ko/reference/modules/astro-actions.mdx
  src/content/docs/ko/reference/modules/astro-i18n.mdx
Labels: i18n

#10056 i18n(fr): Add `recipes/analyze-bundle-size.mdx` from #9974
  src/content/docs/fr/recipes/analyze-bundle-size.mdx
Labels: i18n

#10055 i18n(fr): Add `guides/cms/flotiq.mdx` from #9798
  src/content/docs/fr/guides/cms/flotiq.mdx
Labels: i18n

#10054 i18n(fr): Update `reference/modules/astro-i18n.mdx` from #9966
  src/content/docs/fr/reference/modules/astro-i18n.mdx
Labels: i18n

#10053 i18n(fr): Update `reference/modules/astro-actions.mdx` from #10048
  src/content/docs/fr/reference/modules/astro-actions.mdx
Labels: i18n

#10050 i18n(fr): Update `community-resources/content.mdx` from #10046
  src/content/docs/fr/community-resources/content.mdx
Labels: i18n

#10065 Fix incorrect reference in `mdx.mdx` file
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: code snippet update

#10064 Update authentication.mdx - remove Lucia
  src/content/docs/en/guides/authentication.mdx
Labels: improve documentation

#10067 i18n(zh-cn): Update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n

#10068 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
  src/content/docs/ko/reference/errors/reserved-slot-name.mdx
Labels: i18n

#10069 i18n(fr): update `guides/authentication.mdx`
  src/content/docs/fr/guides/authentication.mdx
Labels: i18n

#10049 fix(v5): update tutorial
  src/content/docs/en/tutorial/1-setup/2.mdx
  src/content/docs/en/tutorial/3-components/4.mdx
  src/content/docs/en/tutorial/5-astro-api/1.mdx
  src/content/docs/en/tutorial/5-astro-api/2.mdx
  src/content/docs/en/tutorial/5-astro-api/3.mdx
  src/content/docs/en/tutorial/6-islands/4.mdx
  src/content/docs/en/tutorial/7-collections/index.mdx
Labels: tutorial, 5.0.0-beta, information architecture

#10058 create new sidebar section for feature flags
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/client-prerender.mdx
  src/content/docs/en/reference/experimental-flags/content-intellisense.mdx
  src/content/docs/en/reference/experimental-flags/index.mdx
  src/content/docs/en/reference/legacy-flags.mdx
  src/content/nav/en.ts
Labels: 5.0.0-beta, information architecture

#10006 i18n(de): add CRA migration guide
  src/content/docs/de/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#10082 i18n(zh-cn): Update authentication.mdx
  src/content/docs/zh-cn/guides/authentication.mdx
Labels: i18n

#10083 i18n(zh-cn): Update error-reference
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/env-unsupported-get-secret.mdx
Labels: i18n

#10080 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n, Merge Queue

#10084 i18n(fr): update `errors/env-unsupported-get-secret.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/env-unsupported-get-secret.mdx
Labels: i18n

#9911 Add `svg` component reference
  astro.sidebar.ts
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/experimental-flags/svg.mdx
Labels: add new content, merge-on-release, Merge Queue, 5.0.0-beta

#10061 Move content config file
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/rss.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/recipes/i18n.mdx
  src/content/docs/en/reference/content-loader-reference.mdx
  src/content/docs/en/reference/modules/astro-content.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
Labels: improve documentation, merge-on-release, Merge Queue, 5.0.0-beta

#10079 add responsive images as an experimental flag page
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
Labels: add new content, merge-on-release, Merge Queue, 5.0.0-beta

#10060 streamlined install plus develop and build pages
  astro.sidebar.ts
  src/content/docs/en/develop-and-build.mdx
  src/content/docs/en/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/en/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/en/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/en/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/en/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/en/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/en/guides/migrate-to-astro/from-wordpress.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/it/recipes/bun.mdx
Labels: i18n, 5.0.0-beta, information architecture

#10081 i18n(ko-KR): update `env-unsupported-get-secret.mdx`
  src/content/docs/ko/reference/errors/env-unsupported-get-secret.mdx
Labels: i18n

#10087 [i18ignore] fix incorrect module in `mdx.mdx`
  src/content/docs/en/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n, code snippet update

#10042 i18n(de): update `basics/project-structure.mdx`
  src/content/docs/de/basics/project-structure.mdx
Labels: i18n

#10043 i18n(de): update `concepts/islands.mdx`
  src/content/docs/de/concepts/islands.mdx
Labels: i18n
