Repository withastro/docs, pull requests merged in 2024-12, with the labels that each got.

#10127 update some SSR wording
  src/content/docs/en/guides/backend/google-firebase.mdx
  src/content/docs/en/guides/backend/supabase.mdx
  src/content/docs/en/guides/cms/kontent-ai.mdx
  src/content/docs/en/guides/cms/storyblok.mdx
  src/content/docs/en/guides/cms/strapi.mdx
  src/content/docs/en/guides/deploy/index.mdx
  src/content/docs/en/guides/integrations-guide/lit.mdx
  src/content/docs/en/guides/integrations-guide/preact.mdx
  src/content/docs/en/guides/integrations-guide/react.mdx
  src/content/docs/en/guides/integrations-guide/solid-js.mdx
  src/content/docs/en/guides/integrations-guide/svelte.mdx
  src/content/docs/en/guides/integrations-guide/vue.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/index.mdx
  src/content/docs/en/recipes/bun.mdx
  src/content/docs/en/reference/adapter-reference.mdx
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/en/reference/image-service-reference.mdx
Labels: 5.0.0-beta, information architecture

#10063 redraft configuring Astro
  src/content/docs/ar/basics/project-structure.mdx
  src/content/docs/de/basics/project-structure.mdx
  src/content/docs/de/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/basics/project-structure.mdx
  src/content/docs/en/guides/configuring-astro.mdx
  src/content/docs/en/guides/environment-variables.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/es/basics/project-structure.mdx
  src/content/docs/es/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
  src/content/docs/hi/basics/project-structure.mdx
  src/content/docs/it/basics/project-structure.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
  src/content/docs/ko/basics/project-structure.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/pl/basics/project-structure.mdx
  src/content/docs/pt-br/basics/project-structure.mdx
  src/content/docs/pt-br/reference/configuration-reference.mdx
  src/content/docs/ru/basics/project-structure.mdx
  src/content/docs/ru/guides/environment-variables.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-tw/basics/project-structure.mdx
Labels: i18n, 5.0.0-beta, information architecture

#10121 [upgrade guide] remove mentions of beta
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: 5.0.0-beta, information architecture

#10117 Correct location for creating Decap CMS admin HTML page
  src/content/docs/en/guides/cms/decap-cms.mdx
Labels: improve documentation, Merge Queue

#10143 fix: update a broken link in `guides/content-collections.mdx`
  src/content/docs/en/guides/content-collections.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10170 Add `--typescript` flag removal to v5 upgrade guide
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: add new content, Merge Queue

#10193 fix: remove experimental and update comments in `cli-reference.mdx`
  src/content/docs/en/reference/cli-reference.mdx
Labels: code snippet update, Merge Queue

#10172 fix: update a link in `guides/environment-variables.mdx`
  src/content/docs/en/guides/environment-variables.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10167 fix: typo in `api-reference.mdx`
  src/content/docs/en/reference/api-reference.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10148 Convert `slug` to `id` in Typescript docs page
  src/content/docs/en/guides/typescript.mdx
Labels: code snippet update, Merge Queue

#10187 Installation : content loader configuration
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: add new content, Merge Queue

#10198 i18n(zh-cn): Update `directives-reference.mdx`
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n

#10173 i18n(zh-cn): Update `islands.mdx`
  src/content/docs/zh-cn/concepts/islands.mdx
Labels: i18n

#10202 fix: remove `image().refine` from a code snippet in `guides/images.mdx`
  src/content/docs/en/guides/images.mdx
Labels: code snippet update, Merge Queue

#10206 Cleanup docgen workflows post-v5 release
  .github/workflows/nightly.yml
  scripts/docgen.mjs
Labels: 🚨 action

#10190 Added tip for Actions
  src/content/docs/en/guides/actions.mdx
Labels: add new content, Merge Queue

#10197 Hotfix for #10148: fix indentation in `^?` comments
  src/content/docs/en/guides/typescript.mdx
Labels: code snippet update, Merge Queue

#10208 Fix link to public types in upgrade guide
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: typo/link/grammar - quick fix!

#10210 i18n(fr): update `reference/dev-toolbar-app-reference.mdx`
  src/content/docs/fr/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#10203 i18n(fr): update `reference/astro-syntax.mdx`
  src/content/docs/fr/reference/astro-syntax.mdx
Labels: i18n

#10192 i18n(fr): update `reference/cli-reference.mdx` & `upgrade-to/v3.mdx`
  src/content/docs/fr/guides/upgrade-to/v3.mdx
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#10191 I18n(fr) : Update `guides/cms/*` from #9240
  src/content/docs/fr/guides/cms/apostrophecms.mdx
  src/content/docs/fr/guides/cms/builderio.mdx
  src/content/docs/fr/guides/cms/buttercms.mdx
  src/content/docs/fr/guides/cms/caisy.mdx
  src/content/docs/fr/guides/cms/cloudcannon.mdx
  src/content/docs/fr/guides/cms/contentful.mdx
  src/content/docs/fr/guides/cms/cosmic.mdx
  src/content/docs/fr/guides/cms/craft-cms.mdx
  src/content/docs/fr/guides/cms/crystallize.mdx
  src/content/docs/fr/guides/cms/datocms.mdx
  src/content/docs/fr/guides/cms/decap-cms.mdx
  src/content/docs/fr/guides/cms/directus.mdx
  src/content/docs/fr/guides/cms/drupal.mdx
  src/content/docs/fr/guides/cms/flotiq.mdx
  src/content/docs/fr/guides/cms/frontmatter-cms.mdx
  src/content/docs/fr/guides/cms/ghost.mdx
  src/content/docs/fr/guides/cms/hashnode.mdx
  src/content/docs/fr/guides/cms/hygraph.mdx
  src/content/docs/fr/guides/cms/index.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/keystonejs.mdx
  src/content/docs/fr/guides/cms/kontent-ai.mdx
  src/content/docs/fr/guides/cms/microcms.mdx
  src/content/docs/fr/guides/cms/payload.mdx
  src/content/docs/fr/guides/cms/preprcms.mdx
  src/content/docs/fr/guides/cms/prismic.mdx
  src/content/docs/fr/guides/cms/sanity.mdx
  src/content/docs/fr/guides/cms/sitecore.mdx
  src/content/docs/fr/guides/cms/spinal.mdx
  src/content/docs/fr/guides/cms/statamic.mdx
  src/content/docs/fr/guides/cms/storyblok.mdx
  src/content/docs/fr/guides/cms/strapi.mdx
  src/content/docs/fr/guides/cms/tina-cms.mdx
  src/content/docs/fr/guides/cms/umbraco.mdx
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#10180 i18n(fr): Update `guides/backend/*` from #9240
  src/content/docs/fr/guides/backend/appwriteio.mdx
  src/content/docs/fr/guides/backend/google-firebase.mdx
  src/content/docs/fr/guides/backend/index.mdx
  src/content/docs/fr/guides/backend/neon.mdx
  src/content/docs/fr/guides/backend/sentry.mdx
  src/content/docs/fr/guides/backend/supabase.mdx
  src/content/docs/fr/guides/backend/turso.mdx
  src/content/docs/fr/guides/backend/xata.mdx
Labels: i18n

#10154 i18n(ko-KR): update `backend/`
  src/content/docs/ko/guides/backend/appwriteio.mdx
  src/content/docs/ko/guides/backend/google-firebase.mdx
  src/content/docs/ko/guides/backend/index.mdx
  src/content/docs/ko/guides/backend/neon.mdx
  src/content/docs/ko/guides/backend/sentry.mdx
  src/content/docs/ko/guides/backend/supabase.mdx
  src/content/docs/ko/guides/backend/turso.mdx
  src/content/docs/ko/guides/backend/xata.mdx
Labels: i18n

#10155 i18n(ko-KR): update `deploy/`
  src/content/docs/ko/guides/deploy/aws.mdx
  src/content/docs/ko/guides/deploy/azion.mdx
  src/content/docs/ko/guides/deploy/buddy.mdx
  src/content/docs/ko/guides/deploy/cleavr.mdx
  src/content/docs/ko/guides/deploy/clever-cloud.mdx
  src/content/docs/ko/guides/deploy/cloudflare.mdx
  src/content/docs/ko/guides/deploy/deno.mdx
  src/content/docs/ko/guides/deploy/edgio.mdx
  src/content/docs/ko/guides/deploy/fleek.mdx
  src/content/docs/ko/guides/deploy/flightcontrol.mdx
  src/content/docs/ko/guides/deploy/flyio.mdx
  src/content/docs/ko/guides/deploy/github.mdx
  src/content/docs/ko/guides/deploy/gitlab.mdx
  src/content/docs/ko/guides/deploy/google-cloud.mdx
  src/content/docs/ko/guides/deploy/google-firebase.mdx
  src/content/docs/ko/guides/deploy/heroku.mdx
  src/content/docs/ko/guides/deploy/index.mdx
  src/content/docs/ko/guides/deploy/kinsta.mdx
  src/content/docs/ko/guides/deploy/microsoft-azure.mdx
  src/content/docs/ko/guides/deploy/netlify.mdx
  src/content/docs/ko/guides/deploy/render.mdx
  src/content/docs/ko/guides/deploy/sst.mdx
  src/content/docs/ko/guides/deploy/stormkit.mdx
  src/content/docs/ko/guides/deploy/surge.mdx
  src/content/docs/ko/guides/deploy/vercel.mdx
  src/content/docs/ko/guides/deploy/zeabur.mdx
  src/content/docs/ko/guides/deploy/zerops.mdx
Labels: i18n

#10213 fix: remove useless escape character in `content-collections.mdx`
  src/content/docs/en/guides/content-collections.mdx
Labels: code snippet update, Merge Queue

#10164 i18n(ko-KR): update `directives-reference.mdx`
  src/content/docs/ko/reference/directives-reference.mdx
Labels: i18n

#10176 i18n(fr): update `content/nav/fr.ts`
  src/content/nav/fr.ts
Labels: i18n

#10178 i18n(ko-KR): update `astro-pages.mdx`
  src/content/docs/ko/basics/astro-pages.mdx
Labels: i18n

#10181 i18n(ko-KR): update `why-astro.mdx`
  src/content/docs/ko/concepts/why-astro.mdx
Labels: i18n

#10185 i18n(ko-KR): update `client-side-script.mdx`
  src/content/docs/ko/guides/client-side-scripts.mdx
Labels: i18n

#10182 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#10214 Fix link to TypeScript guide
  src/content/docs/en/develop-and-build.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10183 i18n(ko-KR): update `getting-started.mdx`
  src/content/docs/ko/getting-started.mdx
Labels: i18n

#10139 i18n(fr): update `guides/actions.mdx` & `modules/astro-actions.mdx`
  src/content/docs/fr/guides/actions.mdx
  src/content/docs/fr/reference/modules/astro-actions.mdx
Labels: i18n

#10132 i18n(ko-KR): update `nav/ko.ts`
  src/content/nav/ko.ts
Labels: i18n

#10179 i18n(ko-KR): update `project-structure.mdx`
  src/content/docs/ko/basics/project-structure.mdx
Labels: i18n

#10223 fix: Reorder the number of instruction list in `1-setup/2.mdx`
  src/content/docs/en/tutorial/1-setup/2.mdx
Labels: consistency/formatting, Merge Queue

#10226 i18n(ko-KR): create `routing-reference.mdx`
  src/content/docs/ko/reference/routing-reference.mdx
Labels: i18n

#10229 i18n(ko-KR): create `develop-and-build.mdx`
  src/content/docs/ko/develop-and-build.mdx
Labels: i18n

#10220 i18n(zh-cn): Update `0-introduction/1.mdx`
  src/content/docs/zh-cn/tutorial/0-introduction/1.mdx
Labels: i18n, Merge Queue

#10138 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/basics/astro-components.mdx
Labels: i18n

#10246 Fix call of render function in doc example
  src/content/docs/en/guides/markdown-content.mdx
Labels: code snippet update, Merge Queue

#10255 feat(link): update link in `guides/deploy/aws` because it now links to same page [i18nIgnore]
  src/content/docs/en/guides/deploy/aws.mdx
Labels: typo/link/grammar - quick fix!

#10268 i18n(fr): update `reference/integrations-reference.mdx`
  src/content/docs/fr/reference/adapter-reference.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#10266 i18n(fr): update `reference/image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#10195 i18n(fr): update `directives-reference.mdx`
  src/content/docs/fr/reference/directives-reference.mdx
Labels: i18n

#10273 Add link to v4 snapshot
  src/content/docs/en/upgrade-astro.mdx
Labels: improve documentation

#10235 i18n(fr): update `reference/errors` and `error-reference.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/actions-without-server-output-error.mdx
  src/content/docs/fr/reference/errors/adapter-support-output-mismatch.mdx
  src/content/docs/fr/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/fr/reference/errors/content-entry-data-error.mdx
  src/content/docs/fr/reference/errors/content-loader-invalid-data-error.mdx
  src/content/docs/fr/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/fr/reference/errors/env-invalid-variables.mdx
  src/content/docs/fr/reference/errors/forbidden-rewrite.mdx
  src/content/docs/fr/reference/errors/get-static-paths-expected-params.mdx
  src/content/docs/fr/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/fr/reference/errors/get-static-paths-required.mdx
  src/content/docs/fr/reference/errors/i18n-not-enabled.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-data-error.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/content/docs/fr/reference/errors/invalid-content-entry-slug-error.mdx
  src/content/docs/fr/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/fr/reference/errors/invalid-get-static-paths-entry.mdx
  src/content/docs/fr/reference/errors/invalid-get-static-paths-return.mdx
  src/content/docs/fr/reference/errors/locals-reassigned.mdx
  src/content/docs/fr/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/fr/reference/errors/no-adapter-installed-server-islands.mdx
  src/content/docs/fr/reference/errors/no-adapter-installed.mdx
  src/content/docs/fr/reference/errors/no-matching-static-path-found.mdx
  src/content/docs/fr/reference/errors/prerender-client-address-not-available.mdx
  src/content/docs/fr/reference/errors/prerender-dynamic-endpoint-path-collide.mdx
  src/content/docs/fr/reference/errors/static-client-address-not-available.mdx
  src/content/docs/fr/reference/errors/unknown-content-collection-error.mdx
Labels: i18n

#10291 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#10292 i18n(ko-KR): update `upgrade-astro.mdx`
  src/content/docs/ko/tutorial/2-pages/3.mdx
  src/content/docs/ko/tutorial/2-pages/4.mdx
  src/content/docs/ko/tutorial/2-pages/5.mdx
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#10290 i18n(ko-KR): update `dev-toolbar-app-reference.mdx`
  src/content/docs/ko/recipes/analyze-bundle-size.mdx
  src/content/docs/ko/recipes/build-forms.mdx
  src/content/docs/ko/recipes/docker.mdx
  src/content/docs/ko/recipes/sharing-state.mdx
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#10289 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#10288 i18n(ko-KR): update `troubleshooting.mdx` and `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
  src/content/docs/ko/guides/troubleshooting.mdx
Labels: i18n

#10287 i18n(ko-KR): update `styling.mdx`
  src/content/docs/ko/guides/styling.mdx
Labels: i18n

#10286 i18n(ko-KR): update `media/`
  src/content/docs/ko/guides/media/cloudinary.mdx
  src/content/docs/ko/guides/media/index.mdx
Labels: i18n

#10285 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#10284 i18n(ko-KR): update `framework-components.mdx`
  src/content/docs/ko/guides/framework-components.mdx
Labels: i18n

#10283 i18n(ko-KR): update `layouts.mdx`
  src/content/docs/ko/basics/layouts.mdx
Labels: i18n

#10282 i18n(ko-KR): create `programmatic-reference.mdx`
  src/content/docs/ko/reference/programmatic-reference.mdx
Labels: i18n

#10281 i18n(ko-KR): create `legacy-flags.mdx`
  src/content/docs/ko/reference/legacy-flags.mdx
Labels: i18n

#10280 i18n(ko-KR): create `reference/experimental-flags/`
  src/content/docs/ko/reference/experimental-flags/client-prerender.mdx
  src/content/docs/ko/reference/experimental-flags/content-intellisense.mdx
  src/content/docs/ko/reference/experimental-flags/index.mdx
  src/content/docs/ko/reference/experimental-flags/responsive-images.mdx
  src/content/docs/ko/reference/experimental-flags/svg.mdx
Labels: i18n

#10279 i18n(ko-KR): create `server-islands.mdx`
  src/content/docs/ko/guides/server-islands.mdx
Labels: i18n

#10303 [i18nIgnore] update command for `creating a new project with react and tailwind`
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#10304 Fix typo
  src/content/docs/en/guides/actions.mdx
Labels: code snippet update

#10312 fix: remove unnecessary `\` in code example
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: code snippet update, Merge Queue

#10272 i18n(ja) update banners [i18nIgnore]
  src/content/docs/ja/getting-started.mdx
  src/content/docs/ja/install-and-setup.mdx
  src/content/docs/ja/upgrade-astro.mdx
Labels: i18n

#10311 i18n(ko-KR): create `content-loader-reference.mdx` and `astro-content.mdx`
  src/content/docs/ko/reference/content-loader-reference.mdx
  src/content/docs/ko/reference/modules/astro-content.mdx
Labels: i18n

#10307 i18n(ko-KR): update `configuring-astro.mdx`
  src/content/docs/ko/guides/configuring-astro.mdx
Labels: i18n

#10315 Additional import.meta.glob fixes
  src/content/docs/en/guides/imports.mdx
Labels: improve documentation, Merge Queue

#10306 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#10318 i18n(fr): update `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#10316 i18n(fr): Update `guides/deploy/*` from #9240
  src/content/docs/fr/guides/deploy/aws.mdx
  src/content/docs/fr/guides/deploy/azion.mdx
  src/content/docs/fr/guides/deploy/buddy.mdx
  src/content/docs/fr/guides/deploy/cleavr.mdx
  src/content/docs/fr/guides/deploy/clever-cloud.mdx
  src/content/docs/fr/guides/deploy/cloudflare.mdx
  src/content/docs/fr/guides/deploy/deno.mdx
  src/content/docs/fr/guides/deploy/edgio.mdx
  src/content/docs/fr/guides/deploy/fleek.mdx
  src/content/docs/fr/guides/deploy/flightcontrol.mdx
  src/content/docs/fr/guides/deploy/flyio.mdx
  src/content/docs/fr/guides/deploy/github.mdx
  src/content/docs/fr/guides/deploy/gitlab.mdx
  src/content/docs/fr/guides/deploy/google-cloud.mdx
  src/content/docs/fr/guides/deploy/google-firebase.mdx
  src/content/docs/fr/guides/deploy/heroku.mdx
  src/content/docs/fr/guides/deploy/index.mdx
  src/content/docs/fr/guides/deploy/kinsta.mdx
  src/content/docs/fr/guides/deploy/microsoft-azure.mdx
  src/content/docs/fr/guides/deploy/netlify.mdx
  src/content/docs/fr/guides/deploy/render.mdx
  src/content/docs/fr/guides/deploy/sst.mdx
  src/content/docs/fr/guides/deploy/stormkit.mdx
  src/content/docs/fr/guides/deploy/surge.mdx
  src/content/docs/fr/guides/deploy/vercel.mdx
  src/content/docs/fr/guides/deploy/zeabur.mdx
  src/content/docs/fr/guides/deploy/zerops.mdx
Labels: i18n

#10322 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#10321 i18n(ko-KR): update `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
Labels: i18n

#10332 [i18nIgnore] remove `await` from `import.meta.glob()`
  src/content/docs/en/guides/integrations-guide/mdx.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/routing.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/tutorial/5-astro-api/1.mdx
  src/content/docs/en/tutorial/5-astro-api/2.mdx
  src/content/docs/en/tutorial/5-astro-api/3.mdx
  src/content/docs/en/tutorial/6-islands/4.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/ko/guides/imports.mdx
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/routing.mdx
  src/content/docs/ko/reference/api-reference.mdx
  src/content/docs/ko/tutorial/5-astro-api/1.mdx
  src/content/docs/ko/tutorial/5-astro-api/2.mdx
  src/content/docs/ko/tutorial/5-astro-api/3.mdx
  src/content/docs/ko/tutorial/6-islands/4.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#10338 Add dockerhub URL to registry examples in Google Cloud Deploy Guide
  src/content/docs/en/guides/deploy/google-cloud.mdx
Labels: improve documentation, Merge Queue

#10331 i18n(fr): update `guides/imports.mdx` & `migrate-to` guides
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-wordpress.mdx
  src/content/docs/fr/guides/migrate-to-astro/index.mdx
Labels: i18n

#10341 i18n(fr): Update `guides/media/*` from #9240
  src/content/docs/fr/guides/media/cloudinary.mdx
  src/content/docs/fr/guides/media/index.mdx
Labels: i18n

#10219 i18n(zh-cn): Update `0-introduction/index.mdx`
  src/content/docs/zh-cn/tutorial/0-introduction/index.mdx
Labels: i18n, Merge Queue

#10200 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/guides/upgrade-to/v3.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n, Merge Queue

#10342 [I18nIgnore] fix(tutorial): remove a useless `await` in unit 5
  src/content/docs/en/tutorial/5-astro-api/1.mdx
  src/content/docs/ko/tutorial/5-astro-api/1.mdx
Labels: i18n

#10343 i18n(fr): update `tutorial/*`
  src/content/docs/fr/tutorial/0-introduction/1.mdx
  src/content/docs/fr/tutorial/0-introduction/index.mdx
  src/content/docs/fr/tutorial/1-setup/2.mdx
  src/content/docs/fr/tutorial/1-setup/5.mdx
  src/content/docs/fr/tutorial/1-setup/index.mdx
  src/content/docs/fr/tutorial/2-pages/3.mdx
  src/content/docs/fr/tutorial/2-pages/4.mdx
  src/content/docs/fr/tutorial/2-pages/5.mdx
  src/content/docs/fr/tutorial/3-components/4.mdx
  src/content/docs/fr/tutorial/5-astro-api/1.mdx
  src/content/docs/fr/tutorial/5-astro-api/2.mdx
  src/content/docs/fr/tutorial/5-astro-api/3.mdx
  src/content/docs/fr/tutorial/5-astro-api/4.mdx
  src/content/docs/fr/tutorial/5-astro-api/index.mdx
  src/content/docs/fr/tutorial/6-islands/2.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
  src/content/docs/fr/tutorial/6-islands/4.mdx
  src/content/docs/fr/tutorial/6-islands/index.mdx
Labels: i18n

#10339 i18n(ko-KR): update `cloudcannon.mdx`
  src/content/docs/ko/guides/cms/cloudcannon.mdx
Labels: i18n

#10340 i18n(ko-KR): update `google-cloud.mdx`
  src/content/docs/ko/guides/deploy/google-cloud.mdx
Labels: i18n

#10334 i18n(ko-KR): update `project-structure.mdx`
  src/content/docs/ko/basics/project-structure.mdx
  src/content/docs/ko/guides/upgrade-to/v5.mdx
Labels: i18n

#10133 i18n(fr): Update `basics/*` from #9240
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/basics/astro-pages.mdx
  src/content/docs/fr/basics/layouts.mdx
  src/content/docs/fr/basics/project-structure.mdx
Labels: i18n

#10319 i18n(fr): update `guides/markdown-content.mdx`
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#10328 i18n(fr): Update `guides/integrations-guide/*`from #9240
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/guides/integrations-guide/deno.mdx
  src/content/docs/fr/guides/integrations-guide/index.mdx
  src/content/docs/fr/guides/integrations-guide/lit.mdx
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
  src/content/docs/fr/guides/integrations-guide/partytown.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/prefetch.mdx
  src/content/docs/fr/guides/integrations-guide/react.mdx
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
  src/content/docs/fr/guides/integrations-guide/solid-js.mdx
  src/content/docs/fr/guides/integrations-guide/svelte.mdx
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/integrations-guide/vue.mdx
Labels: i18n

#10314 i18n(fr) Up and Add french translation for `upgrade-astro.mdx` and `v5.mdx`
  src/content/docs/fr/guides/upgrade-to/v5.mdx
  src/content/docs/fr/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/fr/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/fr/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
  src/content/docs/fr/upgrade-astro.mdx
Labels: i18n

#10344 fix: malformed code snippet in `integrations-guide/mdx.mdx`
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: typo/link/grammar - quick fix!, code snippet update

#10145 i18n(fr): update `content-collections.mdx` & `modules/astro-content.mdx`
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/reference/modules/astro-content.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
Labels: i18n

#10345 i18n(fr): Fix link l19 in `content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#10346 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#10349 i18n(fr): update `install-and-setup.mdx`
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#10211 i18n(fr): update `reference/configuration-reference.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#10354 Add prefix to tab panels IDs to avoid clashes
  src/components/starlight/Sidebar.astro
Labels: site improvement

#10356 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/deploy/vercel.mdx
Labels: i18n

#10357 i18n(ko-KR): update `routing-reference.mdx`
  src/content/docs/ko/reference/routing-reference.mdx
Labels: i18n

#10358 i18n(ko-KR): update `tutorial/6-islands/4.mdx`
  src/content/docs/ko/tutorial/6-islands/4.mdx
Labels: i18n

#10350 i18n(fr): update all the `recipes`
  src/content/docs/fr/recipes/analyze-bundle-size.mdx
  src/content/docs/fr/recipes/build-forms-api.mdx
  src/content/docs/fr/recipes/build-forms.mdx
  src/content/docs/fr/recipes/bun.mdx
  src/content/docs/fr/recipes/call-endpoints.mdx
  src/content/docs/fr/recipes/captcha.mdx
  src/content/docs/fr/recipes/docker.mdx
  src/content/docs/fr/recipes/i18n.mdx
  src/content/docs/fr/recipes/index.mdx
  src/content/docs/fr/recipes/rss.mdx
  src/content/docs/fr/recipes/sharing-state-islands.mdx
  src/content/docs/fr/recipes/sharing-state.mdx
Labels: i18n

#10363 i18n(fr): update `getting-started.mdx` and `editor-setup.mdx`
  src/content/docs/fr/editor-setup.mdx
  src/content/docs/fr/getting-started.mdx
Labels: i18n

#10135 i18n(fr): Update `concepts/*` from #9240
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/concepts/why-astro.mdx
Labels: i18n

#10365 i18n(fr): update `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#10366 i18n(fr): update `guides/typescript.mdx`
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#10391 i18n(pt-BR): create `reference/errors/server-only-module.mdx`
  src/content/docs/pt-br/reference/errors/server-only-module.mdx
Labels: i18n

#10390 i18n(pt-BR): create `reference/errors/route-not-found.mdx`
  src/content/docs/pt-br/reference/errors/route-not-found.mdx
Labels: i18n

#10388 i18n(pt-BR): create `reference/errors/rewrite-encountered-an-error.mdx`
  src/content/docs/pt-br/reference/errors/rewrite-encountered-an-error.mdx
Labels: i18n

#10384 i18n(fr): update `guides/styling.mdx`
  src/content/docs/fr/guides/styling.mdx
  src/content/docs/fr/guides/upgrade-to/v3.mdx
Labels: i18n

#10385 i18n(pt-BR): create `reference/errors/no-adapter-installed-server-islands.mdx`
  src/content/docs/pt-br/reference/errors/no-adapter-installed-server-islands.mdx
Labels: i18n

#10379 i18n(fr): update `guides/testing.mdx`
  src/content/docs/fr/guides/testing.mdx
Labels: i18n

#10383 i18n(pt-BR): create `reference/errors/missing-middleware-for-internationalization.mdx`
  src/content/docs/pt-br/reference/errors/missing-middleware-for-internationalization.mdx
Labels: i18n

#10372 i18n(pt-BR): create `reference/errors/content-entry-data-error.mdx`
  src/content/docs/pt-br/reference/errors/content-entry-data-error.mdx
Labels: i18n

#10381 i18n(pt-BR): create `reference/errors/invalid-content-entry-data-error.mdx`
  src/content/docs/pt-br/reference/errors/invalid-content-entry-data-error.mdx
Labels: i18n

#10380 i18n(pt-BR): create `reference/errors/forbidden-rewrite.mdx`
  src/content/docs/pt-br/reference/errors/forbidden-rewrite.mdx
Labels: i18n

#10373 i18n(pt-BR): create `reference/errors/content-loader-invalid-data-error.mdx`
  src/content/docs/pt-br/reference/errors/content-loader-invalid-data-error.mdx
Labels: i18n

#10369 i18n(pt-BR): create `reference/errors/adapter-support-output-mismatch.mdx`
  src/content/docs/pt-br/reference/errors/adapter-support-output-mismatch.mdx
Labels: i18n

#10134 i18n(zh-tw): update `project-structure.mdx`
  src/content/docs/zh-tw/basics/project-structure.mdx
Labels: i18n

#10238 i18n(de): update `basics/project-structure.mdx`
  src/content/docs/de/basics/project-structure.mdx
Labels: i18n

#10337 i18n(de): update `guides/deploy/google-cloud.mdx`
  src/content/docs/de/guides/deploy/google-cloud.mdx
Labels: i18n

#10329 i18n(de): update `guides/deploy/vercel.mdx`
  src/content/docs/de/guides/deploy/vercel.mdx
Labels: i18n

#10324 i18n(de): update `guides/deploy/gitlab.mdx`
  src/content/docs/de/guides/deploy/gitlab.mdx
Labels: i18n

#10294 i18n(de): update `guides/deploy/deno.mdx`
  src/content/docs/de/guides/deploy/deno.mdx
Labels: i18n

#10298 i18n(de): update `guides/deploy/github.mdx`
  src/content/docs/de/guides/deploy/github.mdx
Labels: i18n

#10297 i18n(de): update `guides/deploy/flightcontrol.mdx`
  src/content/docs/de/guides/deploy/flightcontrol.mdx
Labels: i18n

#10296 i18n(de): update `guides/deploy/edgio.mdx`
  src/content/docs/de/guides/deploy/edgio.mdx
Labels: i18n

#10254 i18n(de): update `guides/deploy/aws.mdx`
  src/content/docs/de/guides/deploy/aws.mdx
Labels: i18n

#10293 i18n(de): update `guides/deploy/cleavr.mdx`
  src/content/docs/de/guides/deploy/cleavr.mdx
Labels: i18n

#10265 i18n(de): update `guides/deploy/buddy.mdx`
  src/content/docs/de/guides/deploy/buddy.mdx
Labels: i18n

#10274 i18n(zh-tw): update `getting-started.mdx`
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#10271 i18n(zh-tw): update `basics/layouts.mdx`
  src/content/docs/zh-tw/basics/layouts.mdx
Labels: i18n

#10257 i18n(de): update `guides/environment-variables.mdx`
  src/content/docs/de/guides/environment-variables.mdx
Labels: i18n

#10400 i18n(zh-cn): Update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#10222 i18n(zh-cn): Update `1-setup/2.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/2.mdx
Labels: i18n, Merge Queue

#10376 i18n(zh-cn): Update `configuring-astro.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n, Merge Queue

#10404 i18n(zh-cn): Update backend pages
  src/content/docs/zh-cn/guides/backend/appwriteio.mdx
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
  src/content/docs/zh-cn/guides/backend/index.mdx
  src/content/docs/zh-cn/guides/backend/neon.mdx
  src/content/docs/zh-cn/guides/backend/sentry.mdx
  src/content/docs/zh-cn/guides/backend/supabase.mdx
  src/content/docs/zh-cn/guides/backend/turso.mdx
  src/content/docs/zh-cn/guides/backend/xata.mdx
Labels: i18n

#10402 i18n(ko-KR): update `rss.mdx`
  src/content/docs/ko/recipes/rss.mdx
Labels: i18n, Merge Queue

#10359 i18n(zh-cn): Update `install-and-setup.mdx` and Add `develop-and-build.mdx`
  src/content/docs/zh-cn/develop-and-build.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n, Merge Queue

#10261 i18n(zh-tw): update `nav/zh-TW.ts`
  src/content/nav/zh-TW.ts
Labels: i18n, Merge Queue

#10397 i18n(pt-BR): update `guides/deploy/fleek.mdx`
  src/content/docs/pt-br/guides/deploy/fleek.mdx
Labels: i18n

#10396 i18n(pt-BR): create `guides/cms/sanity.mdx`
  src/content/docs/pt-br/guides/cms/sanity.mdx
Labels: i18n

#10256 i18n(pt-BR): update `nav/pt-BR.ts`
  src/content/nav/pt-BR.ts
Labels: i18n

#10253 i18n(de): update `guides/data-fetching.mdx`
  src/content/docs/de/guides/data-fetching.mdx
Labels: i18n

#10409 i18n(zh-cn): Update `typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#10414 i18n(fr): fix code snippet in `tutorial/6-islands/4.mdx`
  src/content/docs/fr/tutorial/6-islands/4.mdx
Labels: i18n

#10415 i18n(fr): update code snippets in `recipes/rss.mdx`
  src/content/docs/fr/recipes/rss.mdx
Labels: i18n

#10398 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/guides/actions.mdx
  src/content/docs/fr/guides/cms/builderio.mdx
  src/content/docs/fr/guides/endpoints.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/internationalization.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/guides/upgrade-to/v1.mdx
  src/content/docs/fr/guides/upgrade-to/v3.mdx
  src/content/docs/fr/guides/upgrade-to/v4.mdx
  src/content/docs/fr/reference/adapter-reference.mdx
  src/content/docs/fr/reference/api-reference.mdx
  src/content/docs/fr/reference/errors/action-called-from-server-error.mdx
  src/content/docs/fr/reference/errors/client-address-not-available.mdx
  src/content/docs/fr/reference/errors/prerender-client-address-not-available.mdx
  src/content/docs/fr/reference/errors/redirect-with-no-location.mdx
  src/content/docs/fr/reference/errors/rewrite-with-body-used.mdx
  src/content/docs/fr/reference/errors/static-client-address-not-available.mdx
  src/content/docs/fr/reference/errors/static-redirect-not-available.mdx
Labels: i18n

#10407 i18n(zh-cn): Update deploy pages
  src/content/docs/zh-cn/guides/deploy/aws.mdx
  src/content/docs/zh-cn/guides/deploy/azion.mdx
  src/content/docs/zh-cn/guides/deploy/buddy.mdx
  src/content/docs/zh-cn/guides/deploy/cleavr.mdx
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
  src/content/docs/zh-cn/guides/deploy/deno.mdx
  src/content/docs/zh-cn/guides/deploy/edgio.mdx
  src/content/docs/zh-cn/guides/deploy/fleek.mdx
  src/content/docs/zh-cn/guides/deploy/flightcontrol.mdx
  src/content/docs/zh-cn/guides/deploy/flyio.mdx
  src/content/docs/zh-cn/guides/deploy/github.mdx
  src/content/docs/zh-cn/guides/deploy/gitlab.mdx
  src/content/docs/zh-cn/guides/deploy/google-cloud.mdx
  src/content/docs/zh-cn/guides/deploy/google-firebase.mdx
  src/content/docs/zh-cn/guides/deploy/heroku.mdx
  src/content/docs/zh-cn/guides/deploy/index.mdx
  src/content/docs/zh-cn/guides/deploy/kinsta.mdx
  src/content/docs/zh-cn/guides/deploy/microsoft-azure.mdx
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
  src/content/docs/zh-cn/guides/deploy/render.mdx
  src/content/docs/zh-cn/guides/deploy/sst.mdx
  src/content/docs/zh-cn/guides/deploy/stormkit.mdx
  src/content/docs/zh-cn/guides/deploy/surge.mdx
  src/content/docs/zh-cn/guides/deploy/vercel.mdx
  src/content/docs/zh-cn/guides/deploy/zeabur.mdx
  src/content/docs/zh-cn/guides/deploy/zerops.mdx
Labels: i18n, Merge Queue

#10368 i18n(fr): update `guides/troubleshooting.mdx`
  src/content/docs/fr/guides/troubleshooting.mdx
Labels: i18n

#10417 i18n(fr): update `errors/get-static-paths-removed-rsshelper.mdx`
  src/content/docs/fr/reference/errors/get-static-paths-removed-rsshelper.mdx
Labels: i18n
