Repository withastro/docs, pull requests merged in 2024-02, with the labels that each got.

#6684 i18n(fr) Add French translation for `content.mdx` `talks.mdx` and update `recipes.mdx` and `nav.ts`
  src/content/docs/fr/community-resources/content.mdx
  src/content/docs/fr/community-resources/talks.mdx
  src/content/docs/fr/recipes.mdx
  src/i18n/fr/nav.ts
Labels: i18n

#6685 i18n(fr) Add French Translation for `images.mdx`
  src/content/docs/fr/guides/images.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/recipes/build-custom-img-component.mdx
  src/content/docs/fr/reference/errors/image-missing-alt.mdx
  src/content/docs/fr/reference/errors/local-image-used-wrongly.mdx
  src/content/docs/fr/reference/errors/missing-image-dimension.mdx
  src/content/docs/fr/reference/errors/missing-sharp.mdx
Labels: i18n

#6725 i18n(es): update kinsta.mdx
  src/content/docs/es/guides/deploy/kinsta.mdx
Labels: i18n

#6604 i18n(ko-KR): add `integrations.mdx`
  src/content/docs/ko/integrations/integrations.mdx
Labels: i18n

#6606 i18n(ko-KR): add `docker.mdx`
  src/content/docs/ko/guides/deploy/google-cloud.mdx
  src/content/docs/ko/recipes/docker.mdx
Labels: i18n

#6607 i18n(ko-KR): add `dynamically-importing-images.mdx`
  src/content/docs/ko/recipes/dynamically-importing-images.mdx
Labels: i18n

#6609 i18n(hi): add `islands.mdx`
  src/content/docs/hi/concepts/islands.mdx
Labels: i18n

#6610 i18n(ko-KR): add `from-create-react-app.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#6603 i18n(ko-KR): add `from-gatsby.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6611 i18n(ko-KR): add `from-nextjs.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#6618 i18n(ko-KR): add `from-pelican.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#6612 i18n(ko-KR): add `i18n.mdx`
  src/content/docs/ko/recipes/i18n.mdx
Labels: i18n

#6619 i18n(ko-KR): add `from-wordpress.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#6645 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#6648 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/5-astro-api/3.mdx
  src/content/docs/ko/tutorial/6-islands/1.mdx
  src/content/docs/ko/tutorial/6-islands/2.mdx
Labels: i18n

#6646 i18n(ko-KR): update `astro-glob-no-match.mdx`
  src/content/docs/ko/reference/errors/astro-glob-no-match.mdx
Labels: i18n

#6644 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/guides/deploy.mdx
  src/content/docs/ko/guides/server-side-rendering.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#6649 i18n(ko-KR): update `add-content-collections.mdx`
  src/content/docs/ko/tutorials/add-content-collections.mdx
Labels: i18n

#6650 i18n(ko-KR): add`i18n-not-enabled.mdx`
  src/content/docs/ko/reference/errors/i18n-not-enabled.mdx
Labels: i18n

#6651 i18n(ko-KR): add `missing-index-for-internationalization.mdx`
  src/content/docs/ko/reference/errors/missing-index-for-internationalization.mdx
Labels: i18n

#6672 i18n(ko-KR): update `alpinejs.mdx`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#6673 i18n(ko-KR): update `manual.mdx`
  src/content/docs/ko/install/manual.mdx
Labels: i18n

#6675 i18n(ko-KR): update `recipes.mdx`, add `talks.mdx` and `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
  src/content/docs/ko/community-resources/talks.mdx
  src/content/docs/ko/recipes.mdx
Labels: i18n

#6670 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n

#6722 i18n(fr) Update `typescript.mdx`
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#6703 i18n(zh-cn): Update content.mdx
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n

#6702 feat(types): add `ComponentProps` reference to TypeScript page
  src/content/docs/en/guides/typescript.mdx
Labels: add new content, merge-on-release, minor-release

#6655 feat(i18n): experimental support of i18n domains
  src/content/docs/en/guides/internationalization.mdx
  src/content/docs/en/reference/configuration-reference.mdx
Labels: add new content, merge-on-release, minor-release

#6587 i18n(it): update editor-setup.mdx
  src/content/docs/it/editor-setup.mdx
Labels: i18n

#6614 i18n(it): update install/auto.mdx
  src/content/docs/it/install/auto.mdx
Labels: i18n

#6627 i18n(pt-BR): Update `core-concepts/why-astro` page
  src/content/docs/pt-br/concepts/why-astro.mdx
Labels: i18n

#6621 i18n(it): update why-astro.mdx
  src/content/docs/it/concepts/why-astro.mdx
Labels: i18n

#6741 [typescript.mdx] Button import typo fix
  src/content/docs/en/guides/typescript.mdx
Labels: typo/link/grammar - quick fix!

#6733 Update integrations-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: code snippet update, Merge Queue

#6692 Add dynamic generation of `robots.txt`
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
Labels: add new content, Merge Queue

#6652 i18n(ko-KR): add `from-nuxtjs.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#6728 [talks.mdx] Add Astro discussion in Netlify developer data report
  src/content/docs/en/community-resources/talks.mdx
Labels: Merge Queue, community resource

#6658 i18n(zh-cn): Update v4.mdx
  src/content/docs/zh-cn/guides/upgrade-to/v4.mdx
Labels: i18n

#6704 i18n(zh-cn): Update i18n.mdx
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#6711 i18n(zh-cn): Update translate words “other”
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/i18n/zh-cn/ui.ts
Labels: i18n

#6712 i18n(zh-cn): Update sanity.mdx
  src/content/docs/zh-cn/guides/cms/sanity.mdx
Labels: i18n

#6713 i18n(zh-cn): Create appwriteio.mdx
  src/content/docs/zh-cn/guides/backend/appwriteio.mdx
Labels: i18n

#6714 i18n(zh-cn): Create tigris.mdx
  src/content/docs/zh-cn/guides/backend/tigris.mdx
Labels: i18n

#6716 i18n(zh-cn): Create keystatic.mdx
  src/content/docs/zh-cn/guides/cms/keystatic.mdx
Labels: i18n

#6719 [i18nIgnore] Update the dash in i18n.mdx
  src/content/docs/en/recipes/i18n.mdx
  src/content/docs/es/recipes/i18n.mdx
Labels: i18n

#6724 [i18nIgnore] fix: images sizes and densities are not experimental
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/image-service-reference.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/es/reference/image-service-reference.mdx
  src/content/docs/fr/reference/image-service-reference.mdx
  src/content/docs/ja/guides/images.mdx
  src/content/docs/ko/guides/images.mdx
  src/content/docs/ko/reference/image-service-reference.mdx
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#6729 i18n(ko-KR): add `prefetch.mdx`
  src/content/docs/ko/guides/integrations-guide/prefetch.mdx
Labels: i18n

#6730 i18n(ko-KR): add `prismic.mdx`
  src/content/docs/ko/guides/cms/prismic.mdx
Labels: i18n

#6731 i18n(ko-KR): add `deno.mdx`
  src/content/docs/ko/guides/integrations-guide/deno.mdx
Labels: i18n

#6732 i18n(ko-KR): add `preprcms.mdx`
  src/content/docs/ko/guides/cms/preprcms.mdx
Labels: i18n

#6617 i18n(it): update install/manual.mdx
  src/content/docs/it/install/manual.mdx
Labels: i18n

#6750 i18n(it): Add new `prefetch.mdx` translation
  src/content/docs/it/guides/prefetch.mdx
Labels: i18n

#6753 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#6754 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#6757 i18n(ko-KR): update `error-reference.mdx` and add `no-prerendered-routes-with-domains.mdx`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n

#6759 i18n(zh-cn): Update sitemap.mdx
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n

#6715 i18n(zh-cn): Create builderio.mdx
  src/content/docs/zh-cn/guides/cms/builderio.mdx
Labels: i18n

#6760 i18n(zh-cn): Update talks.mdx
  src/content/docs/zh-cn/community-resources/talks.mdx
Labels: i18n

#6761 i18n(zh-cn): Update configuration-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#6749 i18n(es): update sitemap.mdx
  src/content/docs/es/guides/integrations-guide/sitemap.mdx
Labels: i18n

#6720 i18n(zh-cn): Update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#6697 i18n(zh-cn): Update `guides/typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#6768 i18n(es): Add `talks.mdx`
  src/content/docs/es/community-resources/talks.mdx
Labels: i18n

#6772 i18n(es): Update integrations-reference.mdx
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#6765 i18n(fr) Update french translation for all last update files
  src/content/docs/fr/community-resources/talks.mdx
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n

#6766 i18n(fr) Add french transltion for Backend file
  src/content/docs/fr/guides/backend/appwriteio.mdx
  src/content/docs/fr/guides/backend/supabase.mdx
  src/content/docs/fr/guides/backend/tigris.mdx
Labels: i18n

#6767 i18n(fr) Add all file in CMS folder
  src/content/docs/fr/guides/cms/builderio.mdx
  src/content/docs/fr/guides/cms/caisy.mdx
  src/content/docs/fr/guides/cms/cloudcannon.mdx
  src/content/docs/fr/guides/cms/crystallize.mdx
  src/content/docs/fr/guides/cms/decap-cms.mdx
  src/content/docs/fr/guides/cms/directus.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/keystonejs.mdx
  src/content/docs/fr/guides/cms/microcms.mdx
  src/content/docs/fr/guides/cms/payload.mdx
  src/content/docs/fr/guides/cms/preprcms.mdx
  src/content/docs/fr/guides/cms/prismic.mdx
  src/content/docs/fr/guides/cms/sanity.mdx
  src/content/docs/fr/guides/cms/spinal.mdx
Labels: i18n

#6774 i18n(es): update `typescript.mdx`
  src/content/docs/es/guides/typescript.mdx
Labels: i18n

#6777 fix: typo in `api-reference`
  src/content/docs/en/reference/api-reference.mdx
Labels: typo/link/grammar - quick fix!

#6776 i18n(es): update `caisy` & `api-reference`
  src/content/docs/es/guides/cms/caisy.mdx
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#6779 i18n(es): update `error-reference`
  src/content/docs/es/reference/error-reference.mdx
Labels: i18n

#6700 i18n(pt-BR): update `guides/typescript.mdx`
  src/content/docs/pt-br/guides/typescript.mdx
Labels: i18n

#6701 i18n(pt-br): Create `guides/cms/wordpress.mdx`
  src/content/docs/pt-br/guides/cms/wordpress.mdx
Labels: i18n

#6742 i18n(it): Update ui.ts
  src/i18n/it/ui.ts
Labels: i18n

#6745 i18n(it): Update nav.ts
  src/i18n/it/nav.ts
Labels: i18n

#6778 i18n(es): update `configuration-reference`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#6755 Add 'preview' command to AstroIntegration hooks
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation, Merge Queue

#6769 Add link to community resources for migrating from Gatsby
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
Labels: Merge Queue, community resource

#6793 Revert "Update mention about dynamically generated slot names (#6440)"
  src/content/docs/en/basics/astro-components.mdx
Labels: improve documentation

#6756 i18n(ko-KR): update `configuration-reference.mdx` and `internationalization.mdx`
  src/content/docs/ko/guides/internationalization.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#6758 i18n(ko-KR): update `integrations-reference.mdx`
  src/content/docs/ko/reference/integrations-reference.mdx
Labels: i18n

#6679 i18n(ja): Add new `guides/prefetch.mdx` translation
  src/content/docs/ja/guides/prefetch.mdx
Labels: i18n

#6763 Fix an issue where 404 page couldn't switch to English
  src/components/NotFound.astro
Labels: site improvement

#6738 i18n(zh-cn): Update translate #6727&#6748
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n

#6775 i18n(pt-BR): Point to new community resource section
  src/content/docs/pt-br/recipes.mdx
Labels: i18n

#6788 i18n(ko-KR): update `from-gatsby.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6787 i18n(zh-cn): Update from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6781 i18n(es): Add `community-resources/content`
  src/content/docs/es/community-resources/content.mdx
  src/content/docs/es/recipes.mdx
Labels: i18n

#6782 i18n(es): add `tigris`
  src/content/docs/es/guides/backend/tigris.mdx
Labels: i18n

#6785 i18n(es): add `no-prerendered-routes-with-domains`
  src/content/docs/es/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n

#6783 i18n(es): add `i18n-not-enabled`
  src/content/docs/es/reference/errors/i18n-not-enabled.mdx
Labels: i18n

#6784 i18n(es): add `missing-index-for-internationalization`
  src/content/docs/es/reference/errors/missing-index-for-internationalization.mdx
Labels: i18n

#6803 i18n(zh-cn): Update `astro-components.mdx`
  src/content/docs/zh-cn/basics/astro-components.mdx
Labels: i18n

#6805 i18n(es): add `supabase`
  src/content/docs/es/guides/backend/supabase.mdx
Labels: i18n

#6810 i18n(es): add `builderio`
  src/content/docs/es/guides/cms/builderio.mdx
Labels: i18n

#6806 i18n(es): update `astro-components`
  src/content/docs/es/basics/astro-components.mdx
Labels: i18n

#6807 i18n(es): update `from-gatsby`
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6808 i18n(es): update `integrations-reference`
  src/content/docs/es/reference/integrations-reference.mdx
Labels: i18n

#6811 i18n(es): add `keystatic`
  src/content/docs/es/guides/cms/keystatic.mdx
Labels: i18n

#6786 document new behavior(vercel, netlify): edge middleware verification
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: add new content, merge-on-release

#6812 i18n(fr) Update french translation for `astro-components.mdx`
  src/content/docs/fr/basics/astro-components.mdx
Labels: i18n

#6813 i18n(fr) Add french translation for `server-side-rendering.mdx`
  src/content/docs/fr/basics/rendering-modes.mdx
  src/content/docs/fr/guides/server-side-rendering.mdx
Labels: i18n

#6818 [i18nIgnore] Corrected Ryan's name in all current languages
  src/content/docs/en/community-resources/talks.mdx
  src/content/docs/fr/community-resources/talks.mdx
  src/content/docs/ko/community-resources/talks.mdx
  src/content/docs/zh-cn/community-resources/talks.mdx
Labels: i18n

#6794 chore: add astro.new to relevant issue templates
  .github/ISSUE_TEMPLATE/BUGS.yml
  .github/ISSUE_TEMPLATE/CONTENT.yml
  .github/ISSUE_TEMPLATE/REQUEST.yml
Labels: improve documentation, Merge Queue

#6815 Update StoryblokComponent import source path on tutorial
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: code snippet update, Merge Queue

#6799 explain images in cc are same as md/mdx images
  src/content/docs/en/guides/images.mdx
Labels: improve documentation, Merge Queue

#6814 i18n(en): update talks.mdx to make explicit that links to livestreams are recor…
  src/content/docs/en/community-resources/talks.mdx
Labels: improve documentation, Merge Queue

#6831 fix: add missing import to example
  src/content/docs/en/guides/integrations-guide/tailwind.mdx
Labels: code snippet update, Merge Queue

#6804 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/basics/astro-components.mdx
Labels: i18n

#6820 i18n(pt-br): translate communtiy-resources/talks
  src/content/docs/pt-br/community-resources/talks.mdx
Labels: i18n

#6827 i18n(ko-KR): add `payload.mdx`
  src/content/docs/ko/guides/cms/payload.mdx
Labels: i18n

#6826 i18n(ko-KR): add `keystatic.mdx`
  src/content/docs/ko/guides/cms/keystatic.mdx
Labels: i18n

#6828 i18n(ko-KR): add `builderio.mdx`
  src/content/docs/ko/guides/cms/builderio.mdx
Labels: i18n

#6817 i18n(fr): Add `recipes/i18n` in French language
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#6819 i18n(fr): Add `guides/view-transitions` in French language
  src/content/docs/fr/guides/view-transitions.mdx
  src/content/docs/fr/tutorials/add-view-transitions.mdx
  src/i18n/fr/README.md
Labels: i18n

#6834 i18n(es): update tailwind.mdx
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
Labels: i18n

#6833 [from-gatsby.mdx] Adds community resource and fixes link
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue, community resource

#6838 i18n(ko-KR): update `talk.mdx`
  src/content/docs/ko/community-resources/talks.mdx
Labels: i18n

#6839 i18n(ko-KR): update `storyblok.mdx`
  src/content/docs/ko/guides/cms/storyblok.mdx
Labels: i18n

#6840 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#6841 i18n(ko-KR): update `tailwind.mdx`
  src/content/docs/ko/guides/integrations-guide/tailwind.mdx
Labels: i18n

#6842 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#6762 Update strapi.mdx
  src/content/docs/en/guides/cms/strapi.mdx
Labels: improve documentation, Merge Queue

#6740 chore(i18n): add one more example for APIs
  src/content/docs/en/guides/internationalization.mdx
Labels: improve documentation, Merge Queue

#6535 Update deno.mdx
  src/content/docs/en/guides/deploy/deno.mdx
Labels: improve documentation

#6718 Update content-collections.mdx
  src/content/docs/en/guides/content-collections.mdx
Labels: code snippet update, Merge Queue

#6796 [i18nIgnore] Adjust markdown output by `error-docgen.mjs`
  scripts/error-docgen.mjs
  src/content/docs/en/reference/error-reference.mdx
Labels: site improvement

#6847 i18n(ko-KR): update `strapi.mdx`
  src/content/docs/ko/guides/cms/strapi.mdx
Labels: i18n

#6848 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#6849 i18n(ko-KR): update `deno.mdx`
  src/content/docs/ko/guides/deploy/deno.mdx
Labels: i18n

#6850 i18n(ko-KR): update `from-gatsby.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6853 i18n(es): Add blog article link for migrating from Gatsby to Astro
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#6854 i18n(es): update strapi.mdx
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#6843 [i18nIgnore] Change event name
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/es/reference/dev-toolbar-app-reference.mdx
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#6857 [i18nIgnore] Remove duplicate content
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/es/reference/dev-toolbar-app-reference.mdx
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#6861 corrects misspelled data-astro- attribute in ko and pt-br
  src/content/docs/ko/guides/view-transitions.mdx
  src/content/docs/pt-br/guides/view-transitions.mdx
Labels: i18n

#6825 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
Labels: i18n

#6846 i18n(es): Fix typo in `content-collections.mdx`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#6829 feat(markdoc): Document using custom image components in Markdoc
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
Labels: add new content, merge-on-release, Merge Queue

#6801 i18n(hi): translate`why-astro.mdx`, `install/manual.mdx`, `editor-setup.mdx` & `nav.ts`
  src/content/docs/hi/concepts/why-astro.mdx
  src/content/docs/hi/editor-setup.mdx
  src/content/docs/hi/install/manual.mdx
  src/i18n/hi/nav.ts
Labels: i18n

#6872 i18n(es): update `lit`
  src/content/docs/es/guides/integrations-guide/lit.mdx
Labels: i18n

#6876 i18n(es): update `configuration-reference`
  src/content/docs/es/reference/configuration-reference.mdx
Labels: i18n

#6883 Update tailwind fonts snippet
  src/content/docs/en/guides/fonts.mdx
Labels: code snippet update

#6869 i18n(es): update `content-collections`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#6871 i18n(es): update `images`
  src/content/docs/es/guides/images.mdx
Labels: i18n

#6874 i18n(es): update `netlify`
  src/content/docs/es/guides/integrations-guide/netlify.mdx
Labels: i18n

#6875 i18n(es): update `vercel`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#6885 i18n(es): Update `fonts.mdx`
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#6797 Get remote dimensions
  src/content/docs/en/guides/images.mdx
Labels: add new content, merge-on-release, minor-release

#6795 i18n(ja): Add new `reference/errors/no-prerendered-routes-with-domains.mdx` translation
  src/content/docs/ja/reference/errors/no-prerendered-routes-with-domains.mdx
Labels: i18n
