Repository withastro/docs, pull requests merged in 2024-04, with the labels that each got.

#7531 Improve tab scroll on click
  src/components/tabs/Tabs.astro
Labels: site improvement

#7722 i18n(zh-cn): Update `styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n, Merge Queue

#7190 Update images.mdx
  src/content/docs/en/guides/images.mdx
Labels: code snippet update, consistency/formatting, Merge Queue

#7717 Added up to date theme example for simple tailwind integration.
  src/content/docs/en/guides/integrations-guide/tailwind.mdx
Labels: Merge Queue

#7697 i18n(ja): Update tutorial/4-layouts
  src/content/docs/ja/tutorial/4-layouts/1.mdx
  src/content/docs/ja/tutorial/4-layouts/2.mdx
  src/content/docs/ja/tutorial/4-layouts/3.mdx
  src/content/docs/ja/tutorial/4-layouts/index.mdx
Labels: i18n

#7696 i18n(ja): Update tutorial/3-components
  src/content/docs/ja/tutorial/3-components/1.mdx
  src/content/docs/ja/tutorial/3-components/2.mdx
  src/content/docs/ja/tutorial/3-components/3.mdx
  src/content/docs/ja/tutorial/3-components/4.mdx
  src/content/docs/ja/tutorial/3-components/index.mdx
Labels: i18n

#7683 i18n(ru): Update tutorial units 1 through 4
  src/content/docs/ru/tutorial/1-setup/1.mdx
  src/content/docs/ru/tutorial/1-setup/2.mdx
  src/content/docs/ru/tutorial/1-setup/3.mdx
  src/content/docs/ru/tutorial/1-setup/4.mdx
  src/content/docs/ru/tutorial/1-setup/5.mdx
  src/content/docs/ru/tutorial/1-setup/index.mdx
  src/content/docs/ru/tutorial/2-pages/1.mdx
  src/content/docs/ru/tutorial/2-pages/2.mdx
  src/content/docs/ru/tutorial/2-pages/3.mdx
  src/content/docs/ru/tutorial/2-pages/4.mdx
  src/content/docs/ru/tutorial/2-pages/5.mdx
  src/content/docs/ru/tutorial/3-components/1.mdx
  src/content/docs/ru/tutorial/3-components/2.mdx
  src/content/docs/ru/tutorial/3-components/3.mdx
  src/content/docs/ru/tutorial/3-components/4.mdx
  src/content/docs/ru/tutorial/4-layouts/1.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
  src/content/docs/ru/tutorial/4-layouts/3.mdx
Labels: i18n

#7715 i18n(ru): Add `dev-toolbar.mdx` translation
  src/content/docs/ru/guides/dev-toolbar.mdx
  src/content/docs/ru/install/auto.mdx
  src/i18n/ru/nav.ts
Labels: i18n

#7714 i18n(ru): Update `integrations-guide.mdx` translation
  src/content/docs/ru/guides/integrations-guide.mdx
Labels: i18n

#7704 i18n(de): Update src/i18n/de/ui.ts.
  src/i18n/de/ui.ts
Labels: i18n

#7713 i18n(ru): Update `db.mdx` translation
  src/content/docs/ru/guides/integrations-guide/db.mdx
Labels: i18n

#7700 [i18nIgnore] Update broken theme URL Sanity section
  src/content/docs/en/guides/cms/sanity.mdx
  src/content/docs/es/guides/cms/sanity.mdx
  src/content/docs/fr/guides/cms/sanity.mdx
  src/content/docs/ko/guides/cms/sanity.mdx
  src/content/docs/ru/guides/cms/sanity.mdx
  src/content/docs/zh-cn/guides/cms/sanity.mdx
Labels: i18n

#7545 i18n(pt-br): Update tutorial/4-layouts/2.mdx
  src/content/docs/pt-br/tutorial/4-layouts/2.mdx
Labels: i18n

#7547 i18n(pt-br): Update `tutorial/4-layouts/3.mdx`
  src/content/docs/pt-br/tutorial/4-layouts/3.mdx
Labels: i18n

#7684 i18n(ru): Update `content.mdx` translation
  src/content/docs/ru/community-resources/content.mdx
Labels: i18n

#7499 i18n(ja): Update server-side-rendering.mdx
  src/content/docs/ja/basics/rendering-modes.mdx
  src/content/docs/ja/guides/astro-db.mdx
  src/content/docs/ja/guides/server-side-rendering.mdx
Labels: i18n

#7650 i18n(pt-br): add new `tailwind-rendered-markdown.mdx` translation
  src/content/docs/pt-br/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#7665 i18n(ko-KR): update `integrations-guide/cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7678 i18n(fr): Update`guides/aliases`
  src/content/docs/fr/guides/aliases.mdx
Labels: i18n

#7679 i18n(fr): Update `guides/cms/wordpress`
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#7680 i18n(fr): Update `guides/view-transitions`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#7659 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n, Merge Queue

#7727 i18n(zh-cn): Update `tailwind.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/tailwind.mdx
Labels: i18n, Merge Queue

#7676 i18n(zh-cn): Update `wordpress.mdx`
  src/content/docs/zh-cn/guides/cms/wordpress.mdx
Labels: i18n, Merge Queue

#7682 i18n(zh-cn): Update `5-astro-api/3.mdx` Missing translation
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
Labels: i18n, Merge Queue

#7732 i18n(zh-cn): Update `middleware.mdx`
  src/content/docs/zh-cn/guides/middleware.mdx
Labels: i18n

#7652 feat: better explanation of the Node.js policy
  src/content/docs/en/upgrade-astro.mdx
Labels: add new content

#7738 i18n(pt-br): Update `community-resources/talks.mdx`
  src/content/docs/pt-br/community-resources/talks.mdx
Labels: i18n

#7737 i18n(pt-br): Update `community-resources/content.mdx`
  src/content/docs/pt-br/community-resources/content.mdx
Labels: i18n

#7736 i18n(pt-br): Update `basics/project-structure.mdx`
  src/content/docs/pt-br/basics/project-structure.mdx
Labels: i18n

#7733 i18n(pt-br): Update `basics/astro-syntax.mdx`
  src/content/docs/pt-br/basics/astro-syntax.mdx
Labels: i18n

#7698 i18n(ja): Update tutorial/5-astro-api
  src/content/docs/ja/tutorial/5-astro-api/1.mdx
  src/content/docs/ja/tutorial/5-astro-api/2.mdx
  src/content/docs/ja/tutorial/5-astro-api/3.mdx
  src/content/docs/ja/tutorial/5-astro-api/4.mdx
  src/content/docs/ja/tutorial/5-astro-api/index.mdx
Labels: i18n

#7726 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#7731 i18n(ko-KR): update `styling.mdx`
  src/content/docs/ko/guides/styling.mdx
Labels: i18n

#7730 i18n(ko-KR): update `tailwind.mdx`
  src/content/docs/ko/guides/integrations-guide/tailwind.mdx
Labels: i18n

#7729 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#7471 i18n(fr) Wrong code example on rss feed generation
  src/content/docs/fr/tutorial/5-astro-api/4.mdx
Labels: i18n

#7559 i18n(zh-TW): update glossaries in translation guide
  src/i18n/zh-tw/README.md
Labels: i18n

#7747 i18n(zh-cn): Update `upgrade-astro.mdx`
  src/content/docs/zh-cn/upgrade-astro.mdx
Labels: i18n, Merge Queue

#7748 i18n(ko-KR): update `upgrade-astro.mdx`
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#7728 i18n(es): Update add-content-collections.mdx
  src/content/docs/es/tutorials/add-content-collections.mdx
Labels: i18n

#7551 i18n(pt-br): Update `reference/errors/missing-image-dimension.mdx`
  src/content/docs/pt-br/reference/errors/missing-image-dimension.mdx
Labels: i18n

#7641 i18n(es): update `integrations.mdx`
  src/content/docs/es/integrations/integrations.mdx
Labels: i18n

#7743 markdoc partials
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
Labels: add new content, merge-on-release

#7636 i18n(es): update `content.mdx`, `authentication.mdx` & `strapi.mdx`
  src/content/docs/es/community-resources/content.mdx
  src/content/docs/es/guides/authentication.mdx
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#7637 i18n(es): update `rss.mdx`, `server-side-rendering.mdx` & `db.mdx`
  src/content/docs/es/guides/integrations-guide/db.mdx
  src/content/docs/es/guides/rss.mdx
  src/content/docs/es/guides/server-side-rendering.mdx
Labels: i18n

#7754 i18n(fr): Update `guides/styling`
  src/content/docs/fr/guides/styling.mdx
Labels: i18n

#7640 i18n(es): update `auto.mdx`, `nav.ts` and add `dev-toolbar.mdx`
  src/content/docs/es/guides/dev-toolbar.mdx
  src/content/docs/es/install/auto.mdx
  src/i18n/es/nav.ts
Labels: i18n

#7740 i18n(es): Update `aliases.mdx`, `wordpress.mdx` & `deploy.mdx`
  src/content/docs/es/guides/aliases.mdx
  src/content/docs/es/guides/cms/wordpress.mdx
  src/content/docs/es/guides/deploy.mdx
Labels: i18n

#7741 add link to community blog post
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
Labels: community resource

#7744 Rework Markdoc info hierarchy
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
Labels: improve documentation, Merge Queue

#7716 i18n(de): translate content/docs/de/guides/alpinejs.mdx.
  src/content/docs/de/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#7725 i18n(ja): Add `upgrade-astro.mdx`
  src/content/docs/ja/upgrade-astro.mdx
  src/i18n/ja/nav.ts
Labels: i18n

#7734 i18n(de): translate 0-introduction/index to German
  src/content/docs/de/tutorial/0-introduction/index.mdx
Labels: i18n

#7745 i18n(ru): Add `cloudflare.mdx` translation
  src/content/docs/ru/guides/deploy/cloudflare.mdx
Labels: i18n

#7602 i18n(de): add 1-setup to german blog tutorial
  src/content/docs/de/tutorial/1-setup/1.mdx
Labels: i18n

#7604 i18n(it): Update `it/recipes/studio.mdx`
  src/content/docs/it/recipes/studio.mdx
Labels: i18n

#7606 i18n(it): Update `tutorials/add-content-collections.mdx`
  src/content/docs/it/tutorials/add-content-collections.mdx
Labels: i18n

#7607 i18n(it): Update `tutorials/add-view-transitions.mdx`
  src/content/docs/it/tutorials/add-view-transitions.mdx
Labels: i18n

#7608 i18n(it): Update `nav.ts`
  src/i18n/it/nav.ts
Labels: i18n

#7610 i18n(it): Update `community-resources/talks.mdx`
  src/content/docs/it/community-resources/talks.mdx
Labels: i18n

#7703 i18n(ja): Update deploy.mdx
  src/content/docs/ja/guides/deploy.mdx
Labels: i18n

#7706 i18n(ja): Update prefetch.mdx
  src/content/docs/ja/guides/prefetch.mdx
Labels: i18n

#7122 i18n(de): Update src/i18n/de/nav.ts
  src/i18n/de/nav.ts
Labels: i18n

#7750 i18n(fr): Update `upgrade-astro`
  src/content/docs/fr/upgrade-astro.mdx
Labels: i18n

#7766 i18n(ko-KR): update `from-create-react-app.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n

#7765 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#7632 i18n(it): Update `guides/backend/supabase.mdx`
  src/content/docs/it/guides/backend/supabase.mdx
Labels: i18n

#7709 i18n(ja): Update integrations.mdx
  src/content/docs/ja/integrations/integrations.mdx
Labels: i18n

#7710 i18n(ja): Update nav.ts
  src/i18n/ja/nav.ts
Labels: i18n

#7707 i18n(ja): Update styling.mdx
  src/content/docs/ja/guides/styling.mdx
Labels: i18n

#7705 i18n(ja): Update integrations-guide.mdx
  src/content/docs/ja/guides/integrations-guide.mdx
Labels: i18n

#7701 i18n(ja): Update aliases.mdx
  src/content/docs/ja/guides/aliases.mdx
Labels: i18n

#7699 i18n(ja): Update tutorial/6-islands
  src/content/docs/ja/tutorial/6-islands/1.mdx
  src/content/docs/ja/tutorial/6-islands/2.mdx
  src/content/docs/ja/tutorial/6-islands/3.mdx
Labels: i18n

#7769 i18n(es): community-resources/content.mdx
  src/content/docs/es/community-resources/content.mdx
Labels: i18n

#7773 i18n(es): update `supabase.mdx`
  src/content/docs/es/guides/backend/supabase.mdx
Labels: i18n

#7775 i18n(fr): Updating `guides/integration-guide/tailwind.mdx`
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
Labels: i18n

#7655 Explain how to rename a table
  src/content/docs/en/guides/astro-db.mdx
Labels: add new content, Merge Queue

#7774 i18n(es): src/content/docs/es/upgrade-astro.mdx
  src/content/docs/es/upgrade-astro.mdx
Labels: i18n

#7724 i18n(es): Update `/tutorial` with `<Steps />`
  src/content/docs/es/tutorial/1-setup/1.mdx
  src/content/docs/es/tutorial/1-setup/2.mdx
  src/content/docs/es/tutorial/1-setup/3.mdx
  src/content/docs/es/tutorial/1-setup/4.mdx
  src/content/docs/es/tutorial/1-setup/5.mdx
  src/content/docs/es/tutorial/1-setup/index.mdx
  src/content/docs/es/tutorial/2-pages/1.mdx
  src/content/docs/es/tutorial/2-pages/2.mdx
  src/content/docs/es/tutorial/2-pages/3.mdx
  src/content/docs/es/tutorial/2-pages/4.mdx
  src/content/docs/es/tutorial/2-pages/5.mdx
  src/content/docs/es/tutorial/3-components/1.mdx
  src/content/docs/es/tutorial/3-components/2.mdx
  src/content/docs/es/tutorial/3-components/3.mdx
  src/content/docs/es/tutorial/3-components/4.mdx
  src/content/docs/es/tutorial/4-layouts/1.mdx
  src/content/docs/es/tutorial/4-layouts/2.mdx
  src/content/docs/es/tutorial/4-layouts/3.mdx
  src/content/docs/es/tutorial/6-islands/1.mdx
  src/content/docs/es/tutorial/6-islands/2.mdx
Labels: i18n

#7780 i18n(es): update `integrations-guide`
  src/content/docs/es/guides/integrations-guide.mdx
Labels: i18n

#7782 i18n(es): update `tailwind`
  src/content/docs/es/guides/integrations-guide/tailwind.mdx
Labels: i18n

#7760 i18n(zh-cn): Update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n, Merge Queue

#7762 i18n(zh-cn): Update `from-create-react-app.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n, Merge Queue

#7790 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n, Merge Queue

#7756 i18n(zh-cn): Update `markdoc.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
Labels: i18n, Merge Queue

#7789 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#7777 i18n(zh-cn): Update `supabase.mdx`
  src/content/docs/zh-cn/guides/backend/supabase.mdx
Labels: i18n, Merge Queue

#7783 i18n(es): update `vercel`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n, Merge Queue

#7801 Fix: Little typo "toobar" in `dev-toolbar.mdx` [i18nIgnore]
  src/content/docs/en/guides/dev-toolbar.mdx
Labels: typo/link/grammar - quick fix!

#7798 [CONTRIBUTING.md] fix typo in directory path
  CONTRIBUTING.md
Labels: typo/link/grammar - quick fix!, Merge Queue

#7797 i18n(es): Adding Steps component to prefetch.mdx
  src/content/docs/es/guides/prefetch.mdx
Labels: i18n

#7708 i18n(ja): Update auto.mdx
  src/content/docs/ja/install/auto.mdx
Labels: i18n

#7791 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#7776 i18n(fr): Updating `guides/integration-guide/markdoc.mdx`
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
Labels: i18n

#7755 i18n(de): Update `astro-components.mdx`
  src/content/docs/de/basics/astro-components.mdx
  src/content/docs/de/guides/data-fetching.mdx
  src/content/docs/de/guides/framework-components.mdx
  src/content/docs/de/guides/imports.mdx
  src/content/docs/de/guides/troubleshooting.mdx
Labels: i18n

#7759 i18n(ko-KR): update `markdoc.mdx`
  src/content/docs/ko/guides/integrations-guide/markdoc.mdx
Labels: i18n

#7723 Document ASTRO_DATABASE_FILE
  src/content/docs/en/guides/astro-db.mdx
Labels: add new content

#7810 fix(docs): internationalisation domains config demo
  src/content/docs/en/guides/internationalization.mdx
Labels: typo/link/grammar - quick fix!

#7799 add docs stub for deploying to fly.io
  public/logos/flyio.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/flyio.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue

#7752 Add a link to Jamstack.io's Headless CMS list
  src/content/docs/en/guides/cms.mdx
Labels: community resource

#7779 i18n(es): update `images`
  src/content/docs/es/guides/images.mdx
Labels: i18n

#7800 i18n(fr): Add `guides/dev-toolbar.mdx`
  src/content/docs/fr/guides/dev-toolbar.mdx
Labels: i18n

#7816 i18n(zh-cn): Update `cms.mdx`
  src/content/docs/zh-cn/guides/cms.mdx
Labels: i18n, Merge Queue

#7817 i18n(zh-cn): Create `flyio.mdx`
  src/content/docs/zh-cn/guides/deploy/flyio.mdx
Labels: i18n, Merge Queue

#7815 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#7758 i18n(zh-tw): adjust terms based on updated translation guide [i18nIgnore]
  src/content/docs/zh-tw/basics/astro-components.mdx
  src/content/docs/zh-tw/basics/astro-pages.mdx
  src/content/docs/zh-tw/basics/astro-syntax.mdx
  src/content/docs/zh-tw/basics/layouts.mdx
  src/content/docs/zh-tw/basics/project-structure.mdx
  src/content/docs/zh-tw/concepts/islands.mdx
  src/content/docs/zh-tw/concepts/why-astro.mdx
  src/content/docs/zh-tw/editor-setup.mdx
  src/content/docs/zh-tw/guides/deploy.mdx
  src/content/docs/zh-tw/guides/migrate-to-astro.mdx
  src/content/docs/zh-tw/install/auto.mdx
  src/content/docs/zh-tw/install/manual.mdx
  src/i18n/zh-tw/docsearch.ts
  src/i18n/zh-tw/nav.ts
  src/i18n/zh-tw/ui.ts
Labels: i18n, Merge Queue

#7795 i18n(de): add `tutorial/3-components/index`
  src/content/docs/de/tutorial/3-components/index.mdx
Labels: i18n

#7719 i18n(fr): ADD `reference/adapter-reference`
  src/content/docs/fr/reference/adapter-reference.mdx
Labels: i18n

#7819 i18n(ko-KR): add `flyio.mdx`
  src/content/docs/ko/guides/deploy/flyio.mdx
Labels: i18n

#7818 i18n(ko-KR): update `cms.mdx`
  src/content/docs/ko/guides/cms.mdx
Labels: i18n

#7786 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#7609 i18n(it): Update `community-resources/content.mdx`
  src/content/docs/it/community-resources/content.mdx
Labels: i18n

#7546 i18n(pt-br): Update `tutorial/5-astro-api/3.mdx`
  src/content/docs/pt-br/tutorial/5-astro-api/3.mdx
Labels: i18n

#7809 Small import updates
  src/components/starlight/MobileTableOfContents.astro
  src/components/starlight/TableOfContents.astro
Labels: site improvement, Merge Queue

#7544 i18n(pt-br): Update tutorial/1-setup/2.mdx
  src/content/docs/pt-br/tutorial/1-setup/2.mdx
Labels: i18n

#7565 i18n (ar): Updating README.md file
  src/i18n/ar/README.md
Labels: i18n

#7460 Add a note for using `id` instead of `slug` when using type: 'data'
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation, Merge Queue

#7823 i18n(fr): Update `guides/cms.mdx` from #7752
  src/content/docs/fr/guides/cms.mdx
Labels: i18n

#7822 update PR template: changes in one language only
  .github/PULL_REQUEST_TEMPLATE.md
Labels: site improvement, Merge Queue

#7639 edit: new indexes config
  src/content/docs/en/guides/integrations-guide/db.mdx
Labels: add new content, merge-on-release, Merge Queue

#7804 Add Steps component to fonts.mdx
  src/content/docs/en/guides/fonts.mdx
Labels: consistency/formatting, Merge Queue

#7803 Add Steps component to images.mdx
  src/content/docs/en/guides/images.mdx
Labels: consistency/formatting, Merge Queue

#7462 added a tip for markdown with `layout` frontmatter
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation, Merge Queue

#7827 i18n(zh-cn): Update `fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n, Merge Queue

#7826 i18n(zh-cn): Update `content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n, Merge Queue

#7828 i18n(zh-cn): Update `db.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/db.mdx
Labels: i18n, Merge Queue

#7829 i18n(es): Adding step components to fonts.mdx
  src/content/docs/es/guides/fonts.mdx
Labels: i18n, Merge Queue

#7831 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/guides/fonts.mdx
Labels: i18n, Merge Queue

#7832 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n, Merge Queue

#7751 fix: fix style, make the style more perfect!
  src/components/tabs/TabbedContent.astro
Labels: site improvement

#7836 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#7813 Document new option 'custom' for cloudflare integration's imageService.
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: add new content, merge-on-release, Merge Queue

#7835 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n, Merge Queue

#7529 Enable `experimental.directRenderScript` option
  astro.config.ts
  package.json
  pnpm-lock.yaml
Labels: site improvement, Merge Queue

#7834 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#7833 i18n(ko-KR): update `db.mdx`
  src/content/docs/ko/guides/integrations-guide/db.mdx
Labels: i18n

#7720 feat: mention that the user can change the placement of the dev toolbar
  src/content/docs/en/guides/dev-toolbar.mdx
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#7814 Update the list of acceptable cookie options for Astro.cookies.delete
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#7749 feat(i18n): manual routing
  src/content/docs/en/guides/internationalization.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
  src/content/docs/ko/guides/internationalization.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#7843 Update Lunaria to latest and add Action
  .github/actions/install/action.yml
  .github/workflows/lunaria.yml
  lunaria.config.json
  package.json
  pnpm-lock.yaml
  scripts/tuesday-bot.ts
Labels: 🚨 action

#7847 Fix duplicate step
  .github/workflows/lunaria.yml
Labels: 🚨 action

#7848 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7852 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7811 i18n(ru): update some translations
  src/content/docs/ru/community-resources/content.mdx
  src/content/docs/ru/guides/astro-db.mdx
  src/content/docs/ru/guides/backend/supabase.mdx
  src/content/docs/ru/guides/cms.mdx
  src/content/docs/ru/guides/testing.mdx
  src/content/docs/ru/guides/typescript.mdx
  src/content/docs/ru/guides/upgrade-to/v3.mdx
  src/content/docs/ru/guides/view-transitions.mdx
  src/content/docs/ru/recipes/studio.mdx
  src/content/docs/ru/reference/api-reference.mdx
  src/content/docs/ru/reference/cli-reference.mdx
  src/content/docs/ru/tutorial/5-astro-api/1.mdx
  src/content/docs/ru/tutorial/5-astro-api/2.mdx
  src/content/docs/ru/tutorial/5-astro-api/3.mdx
  src/content/docs/ru/tutorial/5-astro-api/4.mdx
  src/content/docs/ru/tutorial/6-islands/1.mdx
  src/content/docs/ru/tutorial/6-islands/2.mdx
  src/content/docs/ru/tutorial/6-islands/3.mdx
  src/content/docs/ru/tutorial/6-islands/index.mdx
  src/content/docs/ru/tutorials/add-view-transitions.mdx
  src/content/docs/ru/upgrade-astro.mdx
  src/i18n/ru/nav.ts
  src/i18n/ru/ui.ts
Labels: i18n

#7861 i18n(zh-cn): Update `auto.mdx`
  src/content/docs/zh-cn/install/auto.mdx
Labels: i18n

#7863 i18n(zh-cn): Update `dev-toolbar-app-reference.mdx`
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#7864 i18n(zh-cn): Update `error-reference.mdx`
  src/content/docs/zh-cn/reference/error-reference.mdx
Labels: i18n, Merge Queue

#7860 i18n(zh-cn): Update `dev-toolbar.mdx`
  src/content/docs/zh-cn/guides/dev-toolbar.mdx
Labels: i18n, Merge Queue

#7867 i18n(zh-cn): Create `missing-middleware-for-internationalization.mdx`
  src/content/docs/zh-cn/reference/errors/missing-middleware-for-internationalization.mdx
Labels: i18n, Merge Queue
