Repository withastro/docs, pull requests merged in 2024-05, with the labels that each got.

#8015 Fix double/triple click selection issues on headings
  src/components/starlight/MarkdownContent.astro
Labels: bug, site improvement, a11y

#8011 Add info to SSR page on using Astro.response
  src/content/docs/en/guides/server-side-rendering.mdx
Labels: add new content, Merge Queue

#8014 Enforce __session name for cookie
  src/content/docs/en/guides/backend/google-firebase.mdx
Labels: improve documentation, Merge Queue

#8129 Register Button name
  src/content/docs/en/guides/backend/supabase.mdx
Labels: code snippet update, Merge Queue

#8140 i18n(ko-KR): update `google-firebase.mdx`
  src/content/docs/ko/guides/backend/google-firebase.mdx
Labels: i18n

#8141 i18n(ko-KR): update `supabase.mdx`
  src/content/docs/ko/guides/backend/supabase.mdx
Labels: i18n

#8144 i18n(ko-KR): update `astro-glob-outside.mdx`
  src/content/docs/ko/reference/errors/astro-glob-used-outside.mdx
Labels: i18n

#8142 i18n(ko-KR): update `server-side-rendering.mdx`
  src/content/docs/ko/guides/server-side-rendering.mdx
Labels: i18n

#8062 Remove unnecessary character from integrations-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: typo/link/grammar - quick fix!, code snippet update, Merge Queue

#8126 Add Steps component to `add-yaml-support.mdx`
  src/content/docs/en/recipes/add-yaml-support.mdx
Labels: consistency/formatting

#8115 Add Steps component to `zeabur.mdx`
  src/content/docs/en/guides/deploy/zeabur.mdx
Labels: consistency/formatting

#8108 Add Steps component to `stormkit.mdx`
  src/content/docs/en/guides/deploy/stormkit.mdx
Labels: consistency/formatting

#8107 Add Steps component to `sst.mdx`
  src/content/docs/en/guides/deploy/sst.mdx
Labels: consistency/formatting

#8099 Add Steps component to `space.mdx`
  src/content/docs/en/guides/deploy/space.mdx
Labels: consistency/formatting

#8124 Add Steps component to `build-forms.mdx`
  src/content/docs/en/recipes/build-forms.mdx
Labels: consistency/formatting

#8065 Add Steps component to `middleware.mdx`
  src/content/docs/en/guides/middleware.mdx
Labels: consistency/formatting

#8091 Add Steps component to `deno.mdx`
  src/content/docs/en/guides/deploy/deno.mdx
Labels: consistency/formatting

#8102 Add Steps component to `microsoft-azure.mdx`
  src/content/docs/en/guides/deploy/microsoft-azure.mdx
Labels: consistency/formatting

#8067 Add Steps component to `builderio.mdx`
  src/content/docs/en/guides/cms/builderio.mdx
Labels: consistency/formatting

#8116 Add Steps component to `vercel.mdx`
  src/content/docs/en/guides/deploy/vercel.mdx
Labels: consistency/formatting

#8069 Add Steps component to `reading-times.mdx`
  src/content/docs/en/recipes/reading-time.mdx
Labels: consistency/formatting

#8068 Add Steps component to `sharing-state.mdx`
  src/content/docs/en/recipes/sharing-state.mdx
Labels: consistency/formatting

#8104 Add Steps component to `heroku.mdx`
  src/content/docs/en/guides/deploy/heroku.mdx
Labels: consistency/formatting

#8075 Add Steps component to `preprcms.mdx`
  src/content/docs/en/guides/cms/preprcms.mdx
Labels: consistency/formatting

#8121 Add Steps component to `docker.mdx`
  src/content/docs/en/recipes/docker.mdx
Labels: consistency/formatting

#8117 Add Steps component to `from-nextjs.mdx`
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
Labels: consistency/formatting

#8111 Add Steps component to `v2.mdx`
  src/content/docs/en/guides/upgrade-to/v2.mdx
Labels: consistency/formatting

#8109 Add Steps component to `surge.mdx`
  src/content/docs/en/guides/deploy/surge.mdx
Labels: consistency/formatting

#8079 Add Steps component to `hygraph.mdx`
  src/content/docs/en/guides/cms/hygraph.mdx
Labels: consistency/formatting

#8103 Add Steps component to `kinsta.mdx`
  src/content/docs/en/guides/deploy/kinsta.mdx
Labels: consistency/formatting

#8101 Add Steps component to `netlify.mdx`
  src/content/docs/en/guides/deploy/netlify.mdx
Labels: consistency/formatting

#8074 Add Steps component to `sitecore.mdx`
  src/content/docs/en/guides/cms/sitecore.mdx
Labels: consistency/formatting

#8064 Add Steps component to `markdown-content.mdx`
  src/content/docs/en/guides/markdown-content.mdx
Labels: consistency/formatting

#8080 Add Steps component to `decap-cms.mdx`
  src/content/docs/en/guides/cms/decap-cms.mdx
Labels: consistency/formatting

#8063 Add Steps component to `ecommerce.mdx`
  src/content/docs/en/guides/ecommerce.mdx
Labels: consistency/formatting

#8125 Add Steps component to `build-forms-api.mdx`
  src/content/docs/en/recipes/build-forms-api.mdx
Labels: consistency/formatting

#8114 Add Steps component to `markdoc.mdx`
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
Labels: consistency/formatting

#8092 Add Steps component to `cloudfare.mdx`
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: consistency/formatting

#8089 Add Steps component to `flightcontrol.mdx`
  src/content/docs/en/guides/deploy/flightcontrol.mdx
Labels: consistency/formatting

#8059 Add Steps component to `rss.mdx`
  src/content/docs/en/guides/rss.mdx
Labels: consistency/formatting

#8071 Add Steps component to `tina-cms.mdx`
  src/content/docs/en/guides/cms/tina-cms.mdx
Labels: consistency/formatting

#8120 Add Steps component to `dynamically-importing-images.mdx`
  src/content/docs/en/recipes/dynamically-importing-images.mdx
Labels: consistency/formatting

#8090 Add Steps component to `edgio.mdx`
  src/content/docs/en/guides/deploy/edgio.mdx
Labels: consistency/formatting

#8122 Add Steps component to `captcha.mdx`
  src/content/docs/en/recipes/captcha.mdx
Labels: consistency/formatting

#8088 Add Steps component to `flyio.mdx`
  src/content/docs/en/guides/deploy/flyio.mdx
Labels: consistency/formatting

#8123 Add Steps component to `call-endpoint.mdx`
  src/content/docs/en/recipes/call-endpoints.mdx
Labels: consistency/formatting

#8085 Add Steps component to `tailwind-rendered-markdown.mdx`
  src/content/docs/en/recipes/tailwind-rendered-markdown.mdx
Labels: consistency/formatting

#8082 Add Steps component to `cosmic.mdx`
  src/content/docs/en/guides/cms/cosmic.mdx
Labels: consistency/formatting

#8127 Add Steps component to `i18n.mdx`
  src/content/docs/en/recipes/i18n.mdx
Labels: consistency/formatting

#8128 Add Steps component to `external-links.mdx`
  src/content/docs/en/recipes/external-links.mdx
Labels: consistency/formatting

#8072 Add Steps component to `storyblok.mdx`
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: consistency/formatting

#8087 Add Steps component to `strapi.mdx`
  src/content/docs/en/guides/cms/strapi.mdx
Labels: consistency/formatting

#8073 Add Steps component to `spinal.mdx`
  src/content/docs/en/guides/cms/spinal.mdx
Labels: consistency/formatting

#8119 Add Steps component to `build-custom-img-component.mdx`
  src/content/docs/en/recipes/build-custom-img-component.mdx
Labels: consistency/formatting

#8097 Add Steps component to `github.mdx`
  src/content/docs/en/guides/deploy/github.mdx
Labels: consistency/formatting

#8118 Add Steps component to `from-nuxtjs.mdx`
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: consistency/formatting

#8112 Add Steps component to `v3.mdx`
  src/content/docs/en/guides/upgrade-to/v3.mdx
Labels: consistency/formatting

#8113 Add Steps component to `from-gatsby.mdx`
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
Labels: consistency/formatting

#8110 Add Steps component to `v1.mdx`
  src/content/docs/en/guides/upgrade-to/v1.mdx
Labels: consistency/formatting

#8105 Add Steps component to `google-firebase.mdx`
  src/content/docs/en/guides/deploy/google-firebase.mdx
Labels: consistency/formatting

#8106 Add Steps component to `google-cloud.mdx`
  src/content/docs/en/guides/deploy/google-cloud.mdx
Labels: consistency/formatting

#8093 Add Steps component to `cleavr.mdx`
  src/content/docs/en/guides/deploy/cleavr.mdx
Labels: consistency/formatting

#8100 Add Steps component to `render.mdx`
  src/content/docs/en/guides/deploy/render.mdx
Labels: consistency/formatting

#8095 Add Steps component to `aws.mdx`
  src/content/docs/en/guides/deploy/aws.mdx
Labels: consistency/formatting

#8098 Add Steps component to `gitlab.mdx`
  src/content/docs/en/guides/deploy/gitlab.mdx
Labels: consistency/formatting

#8081 Add Steps component to `datocms.mdx`
  src/content/docs/en/guides/cms/datocms.mdx
Labels: consistency/formatting

#8083 Add Steps component to `contentful.mdx`
  src/content/docs/en/guides/cms/contentful.mdx
Labels: consistency/formatting

#8086 Add Steps component to `publish-to-npm.mdx`
  src/content/docs/en/reference/publish-to-npm.mdx
Labels: consistency/formatting

#8096 Add Steps component to `testing.mdx`
  src/content/docs/en/guides/testing.mdx
Labels: consistency/formatting

#8070 Add Steps component to `modified-time.mdx`
  src/content/docs/en/recipes/modified-time.mdx
Labels: consistency/formatting

#8076 Add Steps component to `payload.mdx`
  src/content/docs/en/guides/cms/payload.mdx
Labels: consistency/formatting

#8077 Add Steps component to `kontent-ai.mdx`
  src/content/docs/en/guides/cms/kontent-ai.mdx
Labels: consistency/formatting

#8057 i18n(pt-BR): Update `fonts.mdx` translation
  src/content/docs/pt-br/guides/fonts.mdx
Labels: i18n

#8061 i18n(pt-BR): Update `integrations-reference.mdx` translation
  src/content/docs/pt-br/reference/integrations-reference.mdx
Labels: i18n

#8169 [i18nIgnore] Update directives-reference.mdx/added a comma
  src/content/docs/en/reference/directives-reference.mdx
Labels: typo/link/grammar - quick fix!

#7374 Add hashnode cms guide
  public/logos/hashnode.png
  src/content/docs/en/guides/cms/hashnode.mdx
  src/data/logos.ts
Labels: add new content

#8131 Set docgen files to read-only
  .gitignore
  .vscode/settings.json
Labels: site improvement, low effort, Merge Queue

#8038 Improve nodes description in React integrations docs
  src/content/docs/en/guides/integrations-guide/react.mdx
Labels: typo/link/grammar - quick fix!, help - confirm behaviour

#7568 [cms] Expand ApostropheCMS stub into full guide
  src/content/docs/en/guides/cms/apostrophecms.mdx
Labels: add new content, Merge Queue

#8154 i18n(fr): Update `guides/dev-toolbar.mdx` from #8002
  src/content/docs/fr/guides/dev-toolbar.mdx
Labels: i18n

#8155 i18n(fr): Update `guides/backend/supabase.mdx` from #8129
  src/content/docs/fr/guides/backend/supabase.mdx
Labels: i18n

#8156 i18n(fr): Update `guides/server-side-rendering.mdx` from #8011
  src/content/docs/fr/guides/server-side-rendering.mdx
Labels: i18n

#8157 i18n(fr): Update `guides/testing.mdx` from #7859
  src/content/docs/fr/guides/testing.mdx
Labels: i18n

#8158 i18n(fr): Update `install/manual.mdx` from #7933 (Node version at L19)
  src/content/docs/fr/install/manual.mdx
Labels: i18n

#8159 i18n(fr): Update `reference/cli-reference.mdx` from #8002
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#8160 i18n(fr): Update `integrations/integrations.mdx` from #7628
  src/content/docs/fr/integrations/integrations.mdx
Labels: i18n

#8161 i18n(fr): Update `reference/error-reference.mdx` from #7646
  src/content/docs/fr/reference/error-reference.mdx
Labels: i18n

#8176 Simplify middleware examples
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation, Merge Queue

#8166 i18n(fr): Add `guides/deploy/flyio.mdx`
  src/content/docs/fr/guides/deploy/flyio.mdx
Labels: i18n

#8177 specify that remote images in `.md` are not optimized.
  src/content/docs/en/guides/images.mdx
Labels: improve documentation

#7973 Minor: Zerops Deployment Guide
  public/logos/zerops.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/zerops.mdx
  src/data/logos.ts
Labels: add new content

#7879 Adding Umbraco to "Use a CMS with Astro" guide
  public/logos/umbraco.svg
  src/content/docs/en/guides/cms/umbraco.mdx
  src/data/logos.ts
Labels: add new content

#8179 i18n(zh-cn): Update `google-firebase.mdx`
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#8180 i18n(zh-cn): Update `supabase.mdx`
  src/content/docs/zh-cn/guides/backend/supabase.mdx
Labels: i18n, Merge Queue

#7218 fix: add reactive theme content
  src/content/docs/en/guides/markdown-content.mdx
Labels: add new content

#8183 Update bun.mdx
  src/content/docs/en/recipes/bun.mdx
Labels: improve documentation

#8035 i18n(es): update `community-resources/content`
  src/content/docs/es/community-resources/content.mdx
Labels: i18n

#8012 i18n(ar): Update editor-setup.mdx
  src/content/docs/ar/editor-setup.mdx
Labels: i18n

#8058 i18n(pt-BR): Update `rss.mdx` translation
  src/content/docs/pt-br/guides/rss.mdx
Labels: i18n

#7940 Generate OG images as WebP
  package.json
  pnpm-lock.yaml
  src/pages/open-graph/[...path].ts
  src/util/getOgImageUrl.ts
Labels: site improvement

#8206 i18n(pl): update ui.ts
  src/i18n/pl/ui.ts
Labels: i18n

#8208 i18n(fr) Update French translation for multiple file
  src/content/docs/fr/guides/cms/builderio.mdx
  src/content/docs/fr/guides/cms/buttercms.mdx
  src/content/docs/fr/guides/cms/contentful.mdx
  src/content/docs/fr/guides/cms/cosmic.mdx
  src/content/docs/fr/guides/cms/datocms.mdx
  src/content/docs/fr/guides/cms/decap-cms.mdx
  src/content/docs/fr/guides/cms/hygraph.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/kontent-ai.mdx
  src/content/docs/fr/guides/cms/payload.mdx
  src/content/docs/fr/guides/cms/preprcms.mdx
  src/content/docs/fr/guides/cms/sitecore.mdx
  src/content/docs/fr/guides/cms/spinal.mdx
  src/content/docs/fr/guides/cms/storyblok.mdx
  src/content/docs/fr/guides/cms/strapi.mdx
  src/content/docs/fr/guides/cms/tina-cms.mdx
  src/content/docs/fr/guides/deploy/aws.mdx
  src/content/docs/fr/guides/deploy/buddy.mdx
  src/content/docs/fr/guides/deploy/cleavr.mdx
  src/content/docs/fr/guides/deploy/cloudflare.mdx
  src/content/docs/fr/guides/deploy/deno.mdx
  src/content/docs/fr/guides/deploy/edgio.mdx
  src/content/docs/fr/guides/deploy/flightcontrol.mdx
  src/content/docs/fr/guides/deploy/flyio.mdx
  src/content/docs/fr/guides/deploy/github.mdx
  src/content/docs/fr/guides/deploy/gitlab.mdx
  src/content/docs/fr/guides/deploy/google-cloud.mdx
  src/content/docs/fr/guides/deploy/google-firebase.mdx
  src/content/docs/fr/guides/deploy/heroku.mdx
  src/content/docs/fr/guides/deploy/kinsta.mdx
  src/content/docs/fr/guides/deploy/microsoft-azure.mdx
  src/content/docs/fr/guides/deploy/netlify.mdx
  src/content/docs/fr/guides/deploy/render.mdx
  src/content/docs/fr/guides/deploy/space.mdx
  src/content/docs/fr/guides/deploy/sst.mdx
  src/content/docs/fr/guides/deploy/surge.mdx
  src/content/docs/fr/guides/deploy/vercel.mdx
  src/content/docs/fr/guides/deploy/zeabur.mdx
Labels: i18n

#8153 i18n(fr): Update `guides/backend/google-firebase.mdx` from #8014 (__session)
  src/content/docs/fr/guides/backend/google-firebase.mdx
Labels: i18n

#8193 i18n(fr): Update `install/auto.mdx` for `ILC` to `CLI` in title
  src/content/docs/fr/install/auto.mdx
Labels: i18n

#8201 i18n(zh-cn): Update bun.mdx
  src/content/docs/zh-cn/recipes/bun.mdx
Labels: i18n, Merge Queue

#8200 i18n(zh-cn): Update integrations-reference.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n, Merge Queue

#8199 i18n(zh-cn): Update react.mdx
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n, Merge Queue

#8145 fix: `changeAppState` to `toggleState`
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
Labels: i18n, Merge Queue

#8198 i18n(zh-cn): Update cosmic.mdx
  src/content/docs/zh-cn/guides/cms/cosmic.mdx
Labels: i18n, Merge Queue

#8222 Update main CTA text in landing page
  src/content/docs/en/getting-started.mdx
Labels: site improvement

#8218 Add support for nesting and collapsing sidebar groups
  config/sidebar.ts
  src/i18n/en/nav.ts
  src/i18n/translation-checkers.ts
Labels: i18n, site improvement

#8050 feat: new toolbar component and button property
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8188 feat: skew protection
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8151 Update mdx integration docs for v3
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: improve documentation, merge-on-release, minor-release, Merge Queue

#8189 docs: add solid devtools option
  src/content/docs/en/guides/integrations-guide/solid-js.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8164 docs: add preact devtools option
  src/content/docs/en/guides/integrations-guide/preact.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8150 docs: add vue devtools option
  src/content/docs/en/guides/integrations-guide/vue.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8192 Document new `getViteConfig()` option for Vitest
  src/content/docs/en/guides/testing.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8053 i18n(es): update `rss`
  src/content/docs/es/guides/rss.mdx
Labels: i18n

#7359 i18n(es): Create astro-db.mdx
  src/content/docs/es/guides/astro-db.mdx
  src/content/docs/es/guides/integrations-guide/db.mdx
Labels: i18n

#8184 i18n(zh-cn): Create `hashnode.mdx`
  src/content/docs/zh-cn/guides/cms/hashnode.mdx
Labels: i18n, Merge Queue

#8185 i18n(zh-cn): Create `umbraco.mdx`
  src/content/docs/zh-cn/guides/cms/umbraco.mdx
Labels: i18n, Merge Queue

#8217 Update deploy/vercel.mdx
  src/content/docs/en/guides/deploy/vercel.mdx
Labels: improve documentation, Merge Queue

#8223 Improve Nano Store FAQ
  src/content/docs/en/recipes/sharing-state-islands.mdx
Labels: Merge Queue

#8225 i18n(zh-cn): fix inconsistencies with the en doc [i18nIgnore]
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
  src/content/docs/zh-cn/tutorials/add-view-transitions.mdx
Labels: i18n, Merge Queue

#8228 i18n(zh-cn): Update `data-fetching.mdx`
  src/content/docs/zh-cn/guides/data-fetching.mdx
Labels: i18n, Merge Queue

#8229 i18n(zh-cn): Update `testing.mdx`
  src/content/docs/zh-cn/guides/testing.mdx
Labels: i18n, Merge Queue

#8224 4.8.0 minor release docs
  src/content/docs/en/guides/integrations-guide/mdx.mdx
  src/content/docs/en/guides/integrations-guide/preact.mdx
  src/content/docs/en/guides/integrations-guide/solid-js.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/integrations-guide/vue.mdx
  src/content/docs/en/guides/testing.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/prerender-client-address-not-available.mdx
  src/content/docs/en/reference/errors/route-not-found.mdx
Labels: add new content, merge-on-release, minor-release

#8242 i18n(zh-cn): Update `sharing-state-islands.mdx`
  src/content/docs/zh-cn/recipes/sharing-state-islands.mdx
Labels: i18n

#8232 i18n(zh-cn): update vercel.mdx
  src/content/docs/zh-cn/guides/deploy/vercel.mdx
Labels: i18n, Merge Queue

#8214 i18n(zh-cn): Update translation in framework-components.mdx
  src/content/docs/zh-cn/guides/framework-components.mdx
Labels: i18n, Merge Queue

#8215 i18n(zh-cn): Astro together is coming
  src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, Merge Queue

#8227 i18n(zh-cn): Update `getting-started.mdx`
  src/content/docs/zh-cn/getting-started.mdx
Labels: i18n, Merge Queue

#8241 i18n(zh-cn): Update content about upstream #8224
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/preact.mdx
  src/content/docs/zh-cn/guides/integrations-guide/solid-js.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vue.mdx
  src/content/docs/zh-cn/guides/testing.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/dev-toolbar-app-reference.mdx
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/prerender-client-address-not-available.mdx
  src/content/docs/zh-cn/reference/errors/route-not-found.mdx
Labels: i18n

#8258 Update required Node version on Build a Blog tutorial page
  src/content/docs/en/tutorial/1-setup/1.mdx
Labels: improve documentation, Merge Queue

#8262 i18n(zh-cn): Update `1-setup/1.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/1.mdx
Labels: i18n

#8233 Update require nodejs version for netlify.mdx and render.mdx
  src/content/docs/en/guides/deploy/netlify.mdx
  src/content/docs/en/guides/deploy/render.mdx
Labels: improve documentation, Merge Queue

#8268 i18n(zh-cn): Update content about upstream #8233
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
  src/content/docs/zh-cn/guides/deploy/render.mdx
Labels: i18n

#8238 Add Zed
  src/content/docs/en/editor-setup.mdx
Labels: add new content, Merge Queue

#8259 Change map to flatMap in Builder.io example.
  src/content/docs/en/guides/cms/builderio.mdx
Labels: code snippet update, Merge Queue

#8243 Update `shikiConfig.experimentalThemes` -> `shikiConfig.themes`
  src/content/docs/en/guides/markdown-content.mdx
Labels: code snippet update, Merge Queue

#8226 docker.mdx: use `--omit=dev` for npm over deprecated `--production`
  src/content/docs/en/recipes/docker.mdx
Labels: code snippet update, Merge Queue

#8270 Added Lit with decorators usage example
  src/content/docs/en/guides/integrations-guide/lit.mdx
Labels: improve documentation, Merge Queue

#8231 Update some links without absolute url
  src/content/docs/en/guides/cms/apostrophecms.mdx
  src/content/docs/en/guides/cms/umbraco.mdx
Labels: Merge Queue

#8216 i18n(zh-cn): add missed frontmatter
  src/content/docs/zh-cn/guides/deploy/gitlab.mdx
  src/content/docs/zh-cn/guides/deploy/google-firebase.mdx
Labels: i18n, Merge Queue

#8230 i18n(zh-cn): update markdown-content.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#8251 i18n(fr): Update some files from #8224
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/solid-js.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/integrations-guide/vue.mdx
  src/content/docs/fr/guides/testing.mdx
  src/content/docs/fr/reference/error-reference.mdx
Labels: i18n

#8252 i18n(fr): Update `publish-to-npm.mdx` file from #8167 (Steeeeeeeeps!)
  src/content/docs/fr/reference/publish-to-npm.mdx
Labels: i18n

#8266 i18n(es): add `prerender-client-address-not-available`
  src/content/docs/es/reference/errors/prerender-client-address-not-available.mdx
Labels: i18n

#8267 i18n(es): add `route-not-found`
  src/content/docs/es/reference/errors/route-not-found.mdx
Labels: i18n
