Repository withastro/docs, pull requests merged in 2024-06, with the labels that each got.

#8341 i18n(es): Update `spinal.mdx`, `storyblok.mdx` & `strapi.mdx`
  src/content/docs/es/guides/cms/spinal.mdx
  src/content/docs/es/guides/cms/storyblok.mdx
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#8398 i18n(pl): update installation docs
  src/content/docs/pl/install/auto.mdx
  src/content/docs/pl/install/manual.mdx
Labels: i18n

#8403 i18n(es): update `vercel`
  src/content/docs/es/guides/integrations-guide/vercel.mdx
Labels: i18n

#8401 i18n(es): update `react`
  src/content/docs/es/guides/integrations-guide/react.mdx
Labels: i18n

#8406 i18n(es): update `vue`
  src/content/docs/es/guides/integrations-guide/vue.mdx
Labels: i18n

#7932 i18n(es): Fix greeting banner code snippet in blog tutorial [i18nIgnore]
  src/content/docs/es/tutorial/6-islands/1.mdx
Labels: i18n

#8287 i18n(ar): Add `project-structure.mdx`
  src/content/docs/ar/basics/project-structure.mdx
Labels: i18n

#8419 Remove step 4 and 6 from the tutorial
  src/content/docs/en/tutorial/5-astro-api/4.mdx
Labels: improve documentation, Merge Queue

#8415 new install and setup page
  src/content/docs/en/install-and-setup.mdx
Labels: improve documentation

#8424 i18n(zh-cn): Update `4.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
Labels: i18n

#8423 i18n(ko-KR): update `4.mdx`
  src/content/docs/ko/tutorial/5-astro-api/4.mdx
Labels: i18n, Merge Queue

#8425 i18n(zh-cn): Update `install-and-setup.mdx`
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n, Merge Queue

#8426 i18n(zh-cn): Update mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#8416 i18n(fr): Move `recipes/studio.mdx` into `astro-db`
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/recipes/studio.mdx
Labels: i18n

#8315 i18n(es): update `apostrophecms`
  src/content/docs/es/guides/cms/apostrophecms.mdx
Labels: i18n

#8393 feat: add empty slot fallback content info (#8302)
  src/content/docs/en/basics/astro-components.mdx
Labels: add new content

#8428 feat(container): document new way to load renderers
  src/content/docs/en/reference/container-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8442 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#8440 i18n(zh-cn): Update `astro-components.mdx`
  src/content/docs/zh-cn/basics/astro-components.mdx
Labels: i18n, Merge Queue

#8439 4.10.0 Minor release docs
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/container-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/env-invalid-variable.mdx
  src/content/docs/en/reference/errors/env-invalid-variables.mdx
  src/content/docs/en/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/en/reference/errors/invalid-rewrite404.mdx
  src/content/docs/en/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/en/reference/errors/server-only-module.mdx
Labels: add new content, merge-on-release, minor-release

#8441 i18n(zh-cn): Update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n, Merge Queue

#8445 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#8444 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#8437 i18n(pl): update nav.ts
  src/i18n/pl/nav.ts
Labels: i18n

#8427 i18n(ko-KR): add `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#8443 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/basics/astro-components.mdx
Labels: i18n

#8436 i18n(es): update `deploy/cloudflare`
  src/content/docs/es/guides/deploy/cloudflare.mdx
Labels: i18n

#8435 i18n(es): update `content-collections`
  src/content/docs/es/guides/content-collections.mdx
Labels: i18n

#8434 i18n(es): update `getting-started`, `content`, `talks`
  src/content/docs/es/community-resources/content.mdx
  src/content/docs/es/community-resources/talks.mdx
  src/content/docs/es/getting-started.mdx
Labels: i18n

#8429 i18n(fr): add missing backquote for npm code block
  src/content/docs/fr/guides/astro-db.mdx
Labels: i18n, Merge Queue

#8211 Update cloudflare adapter docs for new import types
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: add new content, merge-on-release, Merge Queue

#8446 i18n(ko-KR): add studio content to DB guide
  src/content/docs/ko/guides/astro-db.mdx
  src/content/docs/ko/guides/integrations-guide/db.mdx
  src/content/docs/ko/recipes/studio.mdx
Labels: i18n

#8457 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#8463 i18n(ko-KR): add `server-only-module.mdx`
  src/content/docs/ko/reference/errors/server-only-module.mdx
Labels: i18n

#8462 i18n(ko-KR): add `rewrite-encountered-an-error.mdx`
  src/content/docs/ko/reference/errors/rewrite-encountered-an-error.mdx
Labels: i18n

#8461 i18n(ko-KR): add `invalid-rewrite404.mdx`
  src/content/docs/ko/reference/errors/invalid-rewrite404.mdx
Labels: i18n

#8459 i18n(ko-KR): add `env-invalid-variables.mdx`
  src/content/docs/ko/reference/errors/env-invalid-variables.mdx
Labels: i18n

#8458 i18n(ko-KR): add `env-invalid-variable.mdx`
  src/content/docs/ko/reference/errors/env-invalid-variable.mdx
Labels: i18n

#8456 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#8452 [studio-DB] Move Studio recipe to DB guide in `es`, `it` & `ru`
  src/content/docs/es/guides/astro-db.mdx
  src/content/docs/es/guides/integrations-guide/db.mdx
  src/content/docs/es/recipes/studio.mdx
  src/content/docs/it/guides/astro-db.mdx
  src/content/docs/it/guides/integrations-guide/db.mdx
  src/content/docs/it/recipes/studio.mdx
  src/content/docs/ru/guides/astro-db.mdx
  src/content/docs/ru/guides/integrations-guide/db.mdx
  src/content/docs/ru/recipes/studio.mdx
Labels: i18n

#8414 [i18nIgnore] [studio-DB] add studio content to DB guide
  src/content/docs/en/guides/astro-db.mdx
  src/content/docs/en/guides/integrations-guide/db.mdx
  src/content/docs/en/recipes/studio.mdx
  src/content/docs/es/guides/astro-db.mdx
  src/content/docs/es/guides/integrations-guide/db.mdx
  src/content/docs/es/recipes/studio.mdx
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/recipes/studio.mdx
  src/content/docs/it/guides/astro-db.mdx
  src/content/docs/it/guides/integrations-guide/db.mdx
  src/content/docs/it/recipes/studio.mdx
  src/content/docs/ko/guides/astro-db.mdx
  src/content/docs/ko/guides/integrations-guide/db.mdx
  src/content/docs/ko/recipes/studio.mdx
  src/content/docs/ru/guides/astro-db.mdx
  src/content/docs/ru/guides/integrations-guide/db.mdx
  src/content/docs/ru/recipes/studio.mdx
  src/content/docs/zh-cn/guides/astro-db.mdx
  src/content/docs/zh-cn/guides/integrations-guide/db.mdx
  src/content/docs/zh-cn/recipes/studio.mdx
  src/i18n/ar/nav.ts
  src/i18n/de/nav.ts
  src/i18n/en/nav.ts
  src/i18n/fr/nav.ts
  src/i18n/it/nav.ts
  src/i18n/ja/nav.ts
  src/i18n/ko/nav.ts
  src/i18n/pl/nav.ts
  src/i18n/pt-br/nav.ts
  src/i18n/ru/nav.ts
  src/i18n/zh-cn/nav.ts
  vercel.json
Labels: i18n

#8466 Added caution element to the anchor section.
  src/content/docs/en/guides/routing.mdx
Labels: add new content, Merge Queue

#8467 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#8460 i18n(ko-KR): add `env-unsupported-get-secret.mdx`
  src/content/docs/ko/reference/errors/env-unsupported-get-secret.mdx
Labels: i18n

#8438 i18n(es): updates `internationalization`
  src/content/docs/es/guides/internationalization.mdx
Labels: i18n

#8451 i18n(ru): Update editor-setup.mdx [i18nIgnore]
  src/content/docs/ru/editor-setup.mdx
Labels: i18n

#8363 i18n(ja): update `astro-pages.mdx`
  src/content/docs/ja/basics/astro-pages.mdx
Labels: i18n

#8365 i18n(de): add `tutorial/3-components/4`
  src/content/docs/de/tutorial/3-components/4.mdx
Labels: i18n

#8470 i18n(ko-KR): update `rednering-modes.mdx`
  src/content/docs/ko/basics/rendering-modes.mdx
Labels: i18n

#8472 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#8471 i18n(ko-KR): update `zerops.mdx`
  src/content/docs/ko/guides/deploy/zerops.mdx
Labels: i18n

#8473 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#8453 Bump `.nvmrc` Node.js version to `18.17.1`
  .nvmrc
Labels: site improvement

#8318 replace astro light logo with dark logo
  public/assets/rose.webp
  src/content/docs/en/tutorial/2-pages/2.mdx
  src/content/docs/en/tutorial/4-layouts/2.mdx
Labels: tutorial, Merge Queue

#8404 feat(container-api): add props reference
  src/content/docs/en/reference/container-reference.mdx
Labels: add new content, Merge Queue

#8479 [i18nIgnore] Fix link checker workflow
  .github/workflows/ci.yml
  .gitpod.yml
  old-translations/ja/astro-db.mdx
  src/content/docs/ar/basics/astro-pages.mdx
  src/content/docs/ar/basics/project-structure.mdx
  src/content/docs/ar/concepts/why-astro.mdx
  src/content/docs/ar/guides/integrations-guide/sitemap.mdx
  src/content/docs/en/recipes/sharing-state-islands.mdx
  src/content/docs/en/reference/container-reference.mdx
  src/content/docs/es/guides/cms/apostrophecms.mdx
  src/content/docs/es/guides/integrations-guide/db.mdx
  src/content/docs/es/guides/internationalization.mdx
  src/content/docs/es/reference/configuration-reference.mdx
  src/content/docs/fr/getting-started.mdx
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/fr/guides/cms/apostrophecms.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/hi/editor-setup.mdx
  src/content/docs/ja/guides/integrations-guide/db.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
  src/content/docs/ko/guides/cms/apostrophecms.mdx
  src/content/docs/ko/guides/internationalization.mdx
  src/content/docs/ko/guides/upgrade-to/v4.mdx
  src/content/docs/ko/recipes/sharing-state-islands.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/pl/basics/astro-components.mdx
  src/content/docs/zh-cn/guides/internationalization.mdx
  src/content/docs/zh-cn/recipes/sharing-state-islands.mdx
Labels: i18n, 🚨 action

#8481 Disable content collections caching
  astro.config.ts
Labels: site improvement, Merge Queue

#8474 i18n(es): add `install-and-setup.mdx`
  src/content/docs/es/install-and-setup.mdx
Labels: i18n

#8478 Update astro-db.mdx
  src/content/docs/en/guides/astro-db.mdx
Labels: improve documentation, Merge Queue

#8486 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/i18n-no-locale-found-in-path.mdx
Labels: i18n

#8484 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#8485 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/2-pages/2.mdx
  src/content/docs/ko/tutorial/4-layouts/2.mdx
Labels: i18n

#8475 i18n(ja): update `astro-components.mdx`
  src/content/docs/ja/basics/astro-components.mdx
Labels: i18n

#8487 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#8489 fix code block for consistency
  src/content/docs/en/tutorial/5-astro-api/2.mdx
Labels: consistency/formatting, Merge Queue

#8490 i18n(fr): add missing translations in nav.ts
  src/i18n/fr/nav.ts
Labels: i18n

#8493 i18n(ko-KR): update `2.mdx`
  src/content/docs/ko/tutorial/5-astro-api/2.mdx
Labels: i18n

#8491 Add timeout to CI
  .github/workflows/ci.yml
Labels: 🚨 action, Merge Queue

#8492 Upgrade Lunaria and Action to latest
  .github/workflows/lunaria.yml
  package.json
  pnpm-lock.yaml
Labels: 🚨 action

#8455 i18n(zh-cn): Update `error-reference.mdx` and related new file
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/env-invalid-variable.mdx
  src/content/docs/zh-cn/reference/errors/env-invalid-variables.mdx
  src/content/docs/zh-cn/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/zh-cn/reference/errors/i18n-no-locale-found-in-path.mdx
  src/content/docs/zh-cn/reference/errors/invalid-rewrite404.mdx
  src/content/docs/zh-cn/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/zh-cn/reference/errors/server-only-module.mdx
Labels: i18n

#8454 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#8498 i18n(zh-cn): update `2-pages/2.mdx` & `4-layouts/2.mdx`
  src/content/docs/zh-cn/tutorial/2-pages/2.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
Labels: i18n

#8499 i18n(zh-cn): update `5-astro-api/2.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/2.mdx
Labels: i18n, Merge Queue

#8500 i18n(zh-cn): update `routing.mdx`
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n, Merge Queue

#8502 i18n(zh-cn): update `apostrophecms.mdx`
  src/content/docs/zh-cn/guides/cms/apostrophecms.mdx
Labels: i18n, Merge Queue

#8503 i18n(zh-cn): update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#8513 [install-and-setup] add basic typescript content
  src/content/docs/en/install-and-setup.mdx
Labels: add new content

#8514 i18n(zh-cn): update untranslate word in directives-reference.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n, Merge Queue

#8515 move alias page to `imports.mdx`
  old-translations/de/guides/aliases.mdx
  old-translations/es/guides/aliases.mdx
  old-translations/fr/guides/aliases.mdx
  old-translations/ja/guides/aliases.mdx
  old-translations/ko/guides/aliases.mdx
  old-translations/pl/guides/aliases.mdx
  old-translations/pt-br/guides/aliases.mdx
  old-translations/ru/guides/aliases.mdx
  old-translations/zh-CN/guides/aliases.mdx
  src/content/docs/de/guides/imports.mdx
  src/content/docs/de/guides/typescript.mdx
  src/content/docs/en/guides/aliases.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/es/guides/images.mdx
  src/content/docs/es/guides/imports.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/typescript.mdx
  src/content/docs/es/install-and-setup.mdx
  src/content/docs/fr/guides/images.mdx
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/ja/guides/images.mdx
  src/content/docs/ja/guides/imports.mdx
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/typescript.mdx
  src/content/docs/ko/guides/images.mdx
  src/content/docs/ko/guides/imports.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/guides/typescript.mdx
  src/content/docs/ko/install-and-setup.mdx
  src/content/docs/pt-br/guides/images.mdx
  src/content/docs/pt-br/guides/imports.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/typescript.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/ru/guides/typescript.mdx
  src/content/docs/zh-cn/guides/images.mdx
  src/content/docs/zh-cn/guides/imports.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
  vercel.json
Labels: i18n

#8501 i18n(zh-cn): update `zerops.mdx`
  src/content/docs/zh-cn/guides/deploy/zerops.mdx
Labels: i18n

#8506 i18n(zh-cn): update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n, Merge Queue

#8519 i18n(zh-cn): update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#8522 i18n(zh-tw): update `getting-started.mdx`
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#8521 i18n(ko-KR): update `3.mdx`
  src/content/docs/ko/tutorial/6-islands/3.mdx
Labels: i18n

#8523 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#8518 Update ghost.mdx
  src/content/docs/en/guides/cms/ghost.mdx
Labels: improve documentation

#8516 Remove duplicate text from RU translation in astro-pages.mdx
  src/content/docs/ru/basics/astro-pages.mdx
Labels: i18n

#8191 Shorter Relative Path
  src/content/docs/en/tutorial/5-astro-api/1.mdx
Labels: code snippet update

#7119 Update statamic.mdx
  src/content/docs/en/guides/cms/statamic.mdx
Labels: improve documentation, help - confirm behaviour, code snippet update

#8422 Fix service account for firebase prod.
  src/content/docs/en/guides/backend/google-firebase.mdx
Labels: improve documentation

#8510 Cancel incomplete lunaria preview builds on new commits
  .github/workflows/lunaria.yml
Labels: 🚨 action, Merge Queue

#8531 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n

#8530 i18n(ko-KR): update `5-astro-api/1.mdx`
  src/content/docs/ko/tutorial/5-astro-api/1.mdx
Labels: i18n

#8529 i18n(ko-KR): update `0-introduction/1.mdx`
  src/content/docs/ko/tutorial/0-introduction/1.mdx
Labels: i18n

#8528 i18n(ko-KR): update `statamic.mdx`
  src/content/docs/ko/guides/cms/statamic.mdx
Labels: i18n

#8527 i18n(ko-KR): update `ghost.mdx`
  src/content/docs/ko/guides/cms/ghost.mdx
Labels: i18n

#8526 i18n(ko-KR): update `google-firebase.mdx`
  src/content/docs/ko/guides/backend/google-firebase.mdx
Labels: i18n

#8533 Add explanation about Vite environment variables being replaced at build time
  src/content/docs/en/guides/environment-variables.mdx
Labels: improve documentation, Merge Queue

#8525 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#8540 i18n(ko-KR): add `rewrite-with-body-used.mdx`
  src/content/docs/ko/reference/errors/rewrite-with-body-used.mdx
Labels: i18n

#8539 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#8538 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#8537 i18n(ko-KR): update `environment-variables.mdx`
  src/content/docs/ko/guides/environment-variables.mdx
Labels: i18n

#8543 align images alt attribute description
  src/content/docs/en/tutorial/2-pages/2.mdx
  src/content/docs/en/tutorial/4-layouts/2.mdx
Labels: improve documentation, code snippet update, Merge Queue

#8536 Fix checked indicator for Option component in forced colors
  src/components/tutorial/Option.astro
Labels: site improvement, a11y

#8556 [guides/content/] polished and ready for i18n!
  src/content/docs/en/guides/content.mdx
Labels: improve documentation, Merge Queue

#8554 i18n(ko-KR): add `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#8555 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/2-pages/2.mdx
  src/content/docs/ko/tutorial/4-layouts/2.mdx
Labels: i18n

#8495 feat: document custom 500
  src/content/docs/en/basics/astro-pages.mdx
Labels: add new content, merge-on-release, Merge Queue

#8546 i18n(zh-cn): update 6-islands/3.mdx
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n, Merge Queue

#8547 i18n(zh-cn): update 5-astro-api/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
Labels: i18n, Merge Queue

#8552 i18n(zh-cn): update `content.mdx`
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n, Merge Queue

#8548 i18n(zh-cn): update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#8560 Fix typo in cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#8541 i18n(it): translate guides/deploy/zerops.mdx
  src/content/docs/it/guides/deploy/zerops.mdx
Labels: i18n

#8564 i18n(ko-KR): update `astro-pages.mdx`
  src/content/docs/ko/basics/astro-pages.mdx
Labels: i18n

#8550 i18n(zh-cn): update `google-firebase.mdx`
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#8549 i18n(zh-cn): update `environment-variables.mdx`
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#8563 Update instructions on using prettier-plugin-astro
  src/content/docs/en/editor-setup.mdx
Labels: add new content, Merge Queue

#8561 i18n(ko-KR): add `content.mdx`
  src/content/docs/ko/guides/content.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#8496 feat: static section and updated yml in zerops guide
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/zerops.mdx
Labels: improve documentation, Merge Queue, 3rd-party guide

#8558 i18n(zh-TW): Update `why-astro.mdx`
  src/content/docs/zh-tw/concepts/why-astro.mdx
Labels: i18n

#8551 i18n(zh-cn): update `install-and-setup.mdx`
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n, Merge Queue

#8559 Document use of transformers in Code component
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release

#8392 feat: new 500.astro error prop
  src/content/docs/en/basics/astro-pages.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#8572 Clarify on demand rendering features for middleware
  src/content/docs/en/guides/middleware.mdx
Labels: improve documentation, Merge Queue

#8450 Add Sentry Integration as a Recipe
  public/logos/sentry.svg
  src/content/docs/en/guides/backend.mdx
  src/content/docs/en/guides/backend/sentry.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue, Docs is happy if OP is happy!, 3rd-party guide

#8582 i18n(zh-cn): Update `tutorial/2-pages/2.mdx` and `tutorial/4-layouts/2.mdx`
  src/content/docs/zh-cn/tutorial/2-pages/2.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
Labels: i18n

#8580 i18n(zh-cn): Update `guides/cms/statamic.mdx`
  src/content/docs/zh-cn/guides/cms/statamic.mdx
Labels: i18n

#8575 improve adapters page visibility
  src/content/docs/en/basics/rendering-modes.mdx
  src/content/docs/en/guides/integrations-guide.mdx
  src/util/isSubPage.ts
Labels: improve documentation

#8583 [recipe] emphasize RTL for search result in docs
  src/content/docs/en/recipes/i18n.mdx
Labels: improve documentation, Merge Queue

#8584 extra step in tutorial refactor guidance
  src/content/docs/en/tutorial/4-layouts/1.mdx
Labels: improve documentation, tutorial, Merge Queue

#8585 Add additional explanation about define:vars directive
  src/content/docs/en/basics/astro-syntax.mdx
  src/content/docs/en/reference/directives-reference.mdx
Labels: improve documentation, Merge Queue

#8578 i18n(zh-cn): Update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n, Merge Queue

#8581 i18n(zh-cn): Update `guides/middleware.mdx`
  src/content/docs/zh-cn/guides/middleware.mdx
Labels: i18n, Merge Queue

#8579 i18n(zh-cn): Update `guides/cms/ghost.mdx`
  src/content/docs/zh-cn/guides/cms/ghost.mdx
Labels: i18n, Merge Queue

#8577 i18n(zh-cn): Update `basics/astro-pages.mdx`
  src/content/docs/zh-cn/basics/astro-pages.mdx
Labels: i18n, Merge Queue

#8602 i18n(zh-cn): Update `i18n.mdx`
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#8598 i18n(zh-cn): update `astro-syntax.mdx` & `directives-reference.mdx`
  src/content/docs/zh-cn/basics/astro-syntax.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n, Merge Queue

#8601 i18n(zh-cn): Update `backend.mdx`
  src/content/docs/zh-cn/guides/backend.mdx
Labels: i18n, Merge Queue

#8599 i18n(zh-cn): Update `4-layouts/1.mdx`
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
Labels: i18n, Merge Queue

#8544 i18n(zh-cn): Update nav.ts
  src/i18n/zh-cn/nav.ts
Labels: i18n, Merge Queue

#8607 fix: changed some code to make `sentry.mdx` more readable
  src/content/docs/en/guides/backend/sentry.mdx
Labels: code snippet update, consistency/formatting

#8573 4.11.0 Minor release docs
  src/content/docs/en/basics/astro-pages.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release

#8604 i18n(zh-cn): Update `rendering.mdx` & `integrations-guide.mdx`
  src/content/docs/zh-cn/basics/rendering-modes.mdx
  src/content/docs/zh-cn/guides/integrations-guide.mdx
Labels: i18n

#8597 i18n(ko-KR): add `expected-not-esmimage.mdx`
  src/content/docs/ko/reference/errors/expected-not-esmimage.mdx
Labels: i18n

#8595 i18n(ko-KR): update `4-layout/1.mdx`
  src/content/docs/ko/tutorial/4-layouts/1.mdx
Labels: i18n

#8600 i18n(zh-cn): Update `0-introduction/1.mdx`
  src/content/docs/zh-cn/tutorial/0-introduction/1.mdx
Labels: i18n

#8596 i18n(ko-KR): add `sentry.mdx`
  src/content/docs/ko/guides/backend/sentry.mdx
Labels: i18n

#8611 [environment-variables.mdx] link to `astro:env`
  src/content/docs/en/guides/environment-variables.mdx
Labels: improve documentation
