Repository withastro/docs, pull requests merged in 2024-09, with the labels that each got.

#9287 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#9285 i18n(fr): update `error-reference.mdx`
  src/content/docs/fr/reference/error-reference.mdx
Labels: i18n

#9283 i18n(zh-cn): Update `integrations-reference.mdx`
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n, Merge Queue

#9289 i18n(zh-cn): update `vercel.mdx` & `node.ndx`
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#9218 feat(next): better tsconfig docs
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release, 5.0.0-beta

#9292 i18n(zh-cn): update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#9293 i18n(zh-cn): update `directives-reference.mdx`
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n

#9263 i18n(pt-BR): Update `guides/prefetch.mdx` file
  src/content/docs/pt-br/guides/prefetch.mdx
Labels: i18n

#9297 [i18nIgnore] update github deploy action for `github.mdx`
  src/content/docs/en/guides/deploy/github.mdx
  src/content/docs/es/guides/deploy/github.mdx
  src/content/docs/fr/guides/deploy/github.mdx
  src/content/docs/ko/guides/deploy/github.mdx
  src/content/docs/zh-cn/guides/deploy/github.mdx
Labels: i18n

#9228 i18n(pt-BR): Translate `guides/content.mdx` file
  src/content/docs/pt-br/guides/content.mdx
Labels: i18n

#9291 i18n(zh-cn): update `configuration-reference.mdx` & `internationalization.mdx`
  src/content/docs/zh-cn/guides/internationalization.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9298 i18n(pt-BR): Create `recipes/add-yaml-support.mdx`
  src/content/docs/pt-br/recipes/add-yaml-support.mdx
Labels: i18n

#9302 [i18nIgnore] i18n(es,fr,ko,ru): fix typo in `guides/internationalization.mdx`
  src/content/docs/es/guides/internationalization.mdx
  src/content/docs/fr/guides/internationalization.mdx
  src/content/docs/ko/guides/internationalization.mdx
  src/content/docs/ru/guides/internationalization.mdx
Labels: i18n

#9306 i18n(es): update `client-side-scripts`
  src/content/docs/es/guides/client-side-scripts.mdx
Labels: i18n

#9307 i18n(es): update `strapi`
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#9225 i18n(zh-tw): add `guides/cms.mdx`
  src/content/docs/zh-tw/guides/cms.mdx
Labels: i18n

#9181 Suggest using import.meta.glob
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/routing.mdx
  src/content/docs/en/guides/troubleshooting.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/tutorial/5-astro-api/1.mdx
  src/content/docs/en/tutorial/5-astro-api/2.mdx
  src/content/docs/en/tutorial/5-astro-api/3.mdx
  src/content/docs/en/tutorial/5-astro-api/index.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
Labels: Merge Queue, 5.0.0-beta

#9282 docs: update ecommerce.mdx - typo fix
  src/content/docs/en/guides/ecommerce.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#9273 feat: integrations now receive a IntegrationRouteData
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation, add new content, 5.0.0-beta

#9311 i18n(pt-BR): Update `nav.ts`
  src/i18n/pt-br/nav.ts
Labels: i18n

#9310 i18n(fr): update `cli-reference.mdx`
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#9271 Update tutorial unit 4 by giving more explanation on h1 style in about.astro page
  src/content/docs/en/tutorial/4-layouts/1.mdx
Labels: tutorial

#9317 i18n(fr): update `client-side-scripts.mdx`
  src/content/docs/fr/guides/client-side-scripts.mdx
Labels: i18n

#9315 i18n(fr): update `tutorial/4-layouts/1.mdx`
  src/content/docs/fr/tutorial/4-layouts/1.mdx
Labels: i18n

#9316 i18n(pt-BR): Update `reference/error-reference.mdx`
  src/content/docs/pt-br/reference/error-reference.mdx
Labels: i18n

#9322 i18n(zh-cn): Update `client-side-scripts.mdx`
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#9321 i18n(zh-cn): Update `tutorial/4-layouts/1.mdx`
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
Labels: i18n, Merge Queue

#9294 i18n(zh-cn): update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n, Merge Queue

#9231 i18n(zh-cn): Update some `docs about error` from 4.15
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/action-called-from-server-error.mdx
  src/content/docs/zh-cn/reference/errors/action-not-found-error.mdx
  src/content/docs/zh-cn/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/zh-cn/reference/errors/actions-returned-invalid-data-error.mdx
  src/content/docs/zh-cn/reference/errors/env-invalid-variable.mdx
  src/content/docs/zh-cn/reference/errors/invalid-rewrite404.mdx
  src/content/docs/zh-cn/reference/errors/locals-not-serializable.mdx
  src/content/docs/zh-cn/reference/errors/markdown-content-schema-validation-error.mdx
Labels: i18n, Merge Queue

#9318 i18n(ko-KR): update `client-side-scripts.mdx`
  src/content/docs/ko/guides/client-side-scripts.mdx
Labels: i18n

#9320 i18n(ko-KR): update `tutorial/4-layout/1.mdx`
  src/content/docs/ko/tutorial/4-layouts/1.mdx
Labels: i18n

#9319 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#9290 i18n(zh-cn): update api-reference.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n, Merge Queue

#9160 feat: astro:env stable
  src/content/docs/en/guides/environment-variables.mdx
  src/content/docs/en/reference/adapter-reference.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: Merge Queue, 5.0.0-beta

#9329 removing/updating some links
  src/content/docs/en/guides/cms.mdx
  src/content/docs/en/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/en/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/en/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/en/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/en/guides/migrate-to-astro/from-sveltekit.mdx
Labels: improve documentation

#9333 Update some links pointing to Layouts page [i18nIgnore]
  src/content/docs/en/basics/layouts.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/en/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/en/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/en/guides/styling.mdx
  src/content/docs/es/basics/layouts.mdx
  src/content/docs/es/guides/markdown-content.mdx
  src/content/docs/es/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/es/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/es/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/es/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/es/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/es/guides/styling.mdx
  src/content/docs/fr/basics/layouts.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/fr/guides/styling.mdx
  src/content/docs/ja/basics/layouts.mdx
  src/content/docs/ja/guides/markdown-content.mdx
  src/content/docs/ja/guides/styling.mdx
  src/content/docs/ko/basics/layouts.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/ko/guides/styling.mdx
  src/content/docs/pt-br/basics/layouts.mdx
  src/content/docs/pt-br/guides/markdown-content.mdx
  src/content/docs/pt-br/guides/styling.mdx
  src/content/docs/ru/basics/layouts.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
  src/content/docs/zh-cn/basics/layouts.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#9331 i18n(fr): update links in `cms.mdx` and `migrate-to-astro` guides
  src/content/docs/fr/guides/cms.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#9332 i18n(ko-KR): update `migrate-to-astro/`
  src/content/docs/ko/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#9336 Remove self-referential link in astro-pages.mdx
  src/content/docs/en/basics/astro-pages.mdx
Labels: improve documentation

#9330 i18n(ko-KR): update `cms.mdx`
  src/content/docs/ko/guides/cms.mdx
Labels: i18n

#9338 i18n(ko-KR): update `astro-pages.mdx`
  src/content/docs/ko/basics/astro-pages.mdx
Labels: i18n

#9340 i18n(ko-KR): update `layouts.mdx`
  src/content/docs/ko/basics/layouts.mdx
Labels: i18n

#9341 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#9342 i18n(ko-KR): update `troubleshooting.mdx`
  src/content/docs/ko/guides/troubleshooting.mdx
Labels: i18n

#9345 Remove Deta Space references
  public/logos/space.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/space.mdx
  src/content/docs/es/guides/deploy/space.mdx
  src/content/docs/fr/guides/deploy/space.mdx
  src/content/docs/ja/guides/deploy/space.mdx
  src/content/docs/ko/guides/deploy/space.mdx
  src/content/docs/zh-cn/guides/deploy/space.mdx
  src/data/logos.ts
Labels: i18n

#9348 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#9344 new markdown content page
  src/content/docs/en/basics/layouts.mdx
  src/content/docs/en/guides/integrations-guide/mdx.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/migrate-to-astro.mdx
  src/content/docs/en/guides/troubleshooting.mdx
  src/content/docs/en/recipes/modified-time.mdx
  src/content/docs/en/recipes/reading-time.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/directives-reference.mdx
  src/content/docs/en/tutorial/4-layouts/2.mdx
  src/content/docs/it/basics/layouts.mdx
  src/content/docs/zh-tw/basics/layouts.mdx
  src/content/docs/zh-tw/guides/migrate-to-astro.mdx
Labels: improve documentation, i18n

#9357 i18n(ko-KR): update `migrate-to-astro.mdx`
  src/content/docs/ko/guides/migrate-to-astro.mdx
Labels: i18n

#9358 i18n(ko-KR): update `troubleshooting.mdx`
  src/content/docs/ko/guides/troubleshooting.mdx
Labels: i18n

#9359 i18n(ko-KR): update `modified-time.mdx`
  src/content/docs/ko/recipes/modified-time.mdx
Labels: i18n

#9360 i18n(ko-KR): update `reading-time.mdx`
  src/content/docs/ko/recipes/reading-time.mdx
Labels: i18n

#9356 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#9362 i18n(ko-KR): update `directives-reference.mdx`
  src/content/docs/ko/reference/directives-reference.mdx
Labels: i18n

#9328 Revamp Content section 5.0
  old-translations/es/guides/content.mdx
  old-translations/fr/content.mdx
  old-translations/ja/guides/content.mdx
  old-translations/ko/guides/content.mdx
  old-translations/pt-br/guides/content.mdx
  old-translations/zh-CN/guides/content.mdx
  public/_redirects
  src/content/docs/de/guides/cms.mdx
  src/content/docs/en/basics/project-structure.mdx
  src/content/docs/en/guides/cms/keystatic.mdx
  src/content/docs/en/guides/content-collections-old.mdx
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/guides/content.mdx
  src/content/docs/en/guides/defining-collections.mdx
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/upgrade-to/v3.mdx
  src/content/docs/en/guides/upgrade-to/v4.mdx
  src/content/docs/en/guides/working-with-collections.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/loader-reference.mdx
  src/content/docs/en/reference/publish-to-npm.mdx
  src/content/docs/en/tutorials/add-content-collections.mdx
  src/content/docs/es/guides/cms.mdx
  src/content/docs/es/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/es/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/es/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/es/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/es/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/es/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/ja/guides/cms.mdx
  src/content/docs/pt-br/guides/cms.mdx
  src/content/docs/ru/guides/cms.mdx
  src/content/docs/zh-cn/guides/cms.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/zh-tw/guides/cms.mdx
  src/i18n/en/nav.ts
  src/util/isSubPage.ts
Labels: i18n, 5.0.0-beta

#9350 i18n(zh-cn): Update some links in `migrate-to-astro/` & `cms.mdx`
  src/content/docs/zh-cn/guides/cms.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n, Merge Queue

#9351 i18n(zh-cn): Update `astro-pages.mdx`
  src/content/docs/zh-cn/basics/astro-pages.mdx
Labels: i18n, Merge Queue

#9377 i18n(zh-cn): Update `mdx.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n

#9354 i18n(zh-cn): Update `troubleshooting.mdx`
  src/content/docs/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#9352 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#9303 i18n(es): update `nav.ts`
  src/i18n/es/nav.ts
Labels: i18n, Merge Queue

#9369 i18n(fr): Update `guides/integrations-guide/mdx.mdx` from #9337
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
Labels: i18n

#9375 i18n(fr): add `guides/deploy/azion.mdx`
  src/content/docs/fr/guides/deploy/azion.mdx
Labels: i18n

#9376 i18n(ko-KR): create `azion.mdx`
  src/content/docs/ko/guides/deploy/azion.mdx
Labels: i18n

#9355 i18n(ko-KR): update `layouts.mdx`
  src/content/docs/ko/basics/layouts.mdx
Labels: i18n

#9361 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9363 i18n(ko-KR): update `/tutorial/4-layout/2.mdx`
  src/content/docs/ko/tutorial/4-layouts/2.mdx
Labels: i18n

#9365 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#9326 i18n(es): update `alpinejs`
  src/content/docs/es/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#9325 i18n(es): update `ecommerce`
  src/content/docs/es/guides/ecommerce.mdx
Labels: i18n

#9304 i18n(es): update `astro-syntax`
  src/content/docs/es/basics/astro-syntax.mdx
Labels: i18n

#9270 feat: add `HookParameters` type to integrations
  src/content/docs/en/reference/integrations-reference.mdx
Labels: improve documentation

#9386 Remove remaining references to Lit integration
  src/content/docs/en/reference/container-reference.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: 5.0.0-beta

#9379 Add call outs to Markdown page
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#9385 i18n(ko-KR): update `integrations-reference.mdx`
  src/content/docs/ko/reference/integrations-reference.mdx
Labels: i18n

#9384 i18n(fr): update `integrations-reference.mdx`
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#9389 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9390 i18n(fr): update `guides/markdown-content.mdx`
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#9255 Server islands
  src/content/docs/en/basics/astro-components.mdx
  src/content/docs/en/basics/rendering.mdx
  src/content/docs/en/concepts/islands.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/en/guides/server-islands.mdx
  src/content/docs/en/guides/testing.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/reference/directives-reference.mdx
  src/i18n/en/nav.ts
Labels: add new content, 5.0.0-beta

#9394 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9398 i18n(zh-cn): Update `5-astro-api/2.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/2.mdx
Labels: i18n, Merge Queue

#9396 i18n(zh-cn): Update `integrations-reference.mdx`
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n, Merge Queue

#9405 i18n(zh-cn): Update `actions-used-with-for-get-error.mdx`
  src/content/docs/zh-cn/reference/errors/actions-used-with-for-get-error.mdx
Labels: i18n

#9406 i18n(zh-cn): Update `astro-glob-used-outside.mdx`
  src/content/docs/zh-cn/reference/errors/astro-glob-used-outside.mdx
Labels: i18n

#9414 feat(next): overriden locals note
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: 5.0.0-beta

#9411 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9397 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#9412 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9381 i18n(zh-cn): Update `layouts.mdx` & `markdown-content.mdx` & referenced links
  src/content/docs/zh-cn/basics/layouts.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro.mdx
  src/content/docs/zh-cn/recipes/modified-time.mdx
  src/content/docs/zh-cn/recipes/reading-time.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
Labels: i18n

#9404 Add v5 guide for PRs by Erika
  .vscode/settings.json
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/reference/adapter-reference.mdx
Labels: 5.0.0-beta

#9393 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#9402 rename @astrojs/deno to @deno/astro-adapter [i18nIgnore]
  src/content/docs/de/guides/deploy/deno.mdx
  src/content/docs/en/guides/deploy/deno.mdx
  src/content/docs/en/guides/integrations-guide/deno.mdx
  src/content/docs/es/guides/deploy/deno.mdx
  src/content/docs/es/guides/integrations-guide/deno.mdx
  src/content/docs/fr/guides/deploy/deno.mdx
  src/content/docs/fr/guides/integrations-guide/deno.mdx
  src/content/docs/it/guides/deploy/deno.mdx
  src/content/docs/ja/guides/deploy/deno.mdx
  src/content/docs/ko/guides/deploy/deno.mdx
  src/content/docs/ko/guides/integrations-guide/deno.mdx
  src/content/docs/pt-br/guides/deploy/deno.mdx
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
  src/content/docs/zh-cn/guides/deploy/deno.mdx
  src/content/docs/zh-cn/guides/integrations-guide/deno.mdx
Labels: i18n

#9387 Add 5.0 banners
  src/content/docs/en/getting-started.mdx
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/upgrade-astro.mdx
Labels: merge-on-release, 5.0.0-beta

#9424 Sync beta docs
  src/content/docs/de/guides/deploy/deno.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/guides/deploy/deno.mdx
  src/content/docs/en/guides/integrations-guide/deno.mdx
  src/content/docs/en/upgrade-astro.mdx
  src/content/docs/es/guides/deploy/deno.mdx
  src/content/docs/es/guides/integrations-guide/deno.mdx
  src/content/docs/fr/guides/deploy/deno.mdx
  src/content/docs/fr/guides/integrations-guide/deno.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
  src/content/docs/it/guides/deploy/deno.mdx
  src/content/docs/ja/guides/deploy/deno.mdx
  src/content/docs/ko/guides/deploy/deno.mdx
  src/content/docs/ko/guides/integrations-guide/deno.mdx
  src/content/docs/ko/guides/markdown-content.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/pt-br/guides/deploy/deno.mdx
  src/content/docs/pt-br/guides/integrations-guide/deno.mdx
  src/content/docs/zh-cn/basics/layouts.mdx
  src/content/docs/zh-cn/guides/deploy/deno.mdx
  src/content/docs/zh-cn/guides/integrations-guide/deno.mdx
  src/content/docs/zh-cn/guides/markdown-content.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro.mdx
  src/content/docs/zh-cn/recipes/modified-time.mdx
  src/content/docs/zh-cn/recipes/reading-time.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/errors/missing-image-dimension.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
Labels: i18n

#9426 i18n(ko-KR): update `getting-started.mdx`
  src/content/docs/ko/getting-started.mdx
Labels: i18n

#9427 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#9425 Turso migration
  src/content/docs/en/guides/astro-db.mdx
Labels: add new content

#9429 i18n(ko-KR): update `upgrade-astro.mdx`
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#9430 i18n(fr): add Astro 5 banners in French version
  src/content/docs/fr/getting-started.mdx
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/upgrade-astro.mdx
Labels: i18n

#9422 Actions: add detailed form input validation reference
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content

#9423 fix(v5): format `adapter-reference.mdx`
  src/content/docs/en/reference/adapter-reference.mdx
Labels: add new content, consistency/formatting

#9432 i18n(fr): update `guides/astro-db.mdx`
  src/content/docs/fr/guides/astro-db.mdx
Labels: i18n

#9431 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9436 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#9437 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9433 i18n(hi): add Astro v5 banner in Hindi
  src/content/docs/hi/getting-started.mdx
Labels: i18n

#9127 i18n(de): add `rendering-modes` translation
  src/content/docs/de/basics/rendering-modes.mdx
Labels: i18n

#9380 i18n(es): update `astro-pages`
  src/content/docs/es/basics/astro-pages.mdx
Labels: i18n

#9313 i18n(pt-BR): Create `install-and-setup.mdx`
  src/content/docs/pt-br/basics/project-structure.mdx
  src/content/docs/pt-br/guides/deploy/render.mdx
  src/content/docs/pt-br/install-and-setup.mdx
  src/content/docs/pt-br/reference/cli-reference.mdx
Labels: i18n

#9364 i18n(zh-tw): update `basics/layouts.mdx`
  src/content/docs/zh-tw/basics/layouts.mdx
Labels: i18n

#9353 i18n(zh-tw): update `guides/cms.mdx`
  src/content/docs/zh-tw/guides/cms.mdx
Labels: i18n

#8926 i18n(pl): Add new Astro Islands [islands.mdx] translation
  src/content/docs/pl/concepts/islands.mdx
Labels: i18n

#8938 i18n(pl) Pages [astro-pages.mdx]
  src/content/docs/pl/basics/astro-pages.mdx
Labels: i18n

#9444 i18n(pt-BR): update `editor-setup.mdx`
  src/content/docs/pt-br/editor-setup.mdx
Labels: i18n

#9434 i18n(zh-cn): add Astro 5 banners in `zh-cn` version
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/guides/content-collections.mdx
  src/content/docs/zh-cn/upgrade-astro.mdx
Labels: i18n, Merge Queue

#9443 Enable pagefind for draft docs
  astro.config.ts
Labels: 5.0.0-beta

#9450 Craft CMS guide: add SSG guide w/ optional cache community resource
  src/content/docs/en/guides/cms/craft-cms.mdx
Labels: Merge Queue, community resource

#9449 fix: Update install-and-setup.mdx
  src/content/docs/en/install-and-setup.mdx
Labels: improve documentation, Merge Queue

#9438 i18n(zh-cn): Update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n, Merge Queue

#9447 i18n(pt-BR): update `astro-syntax.mdx`
  src/content/docs/pt-br/basics/astro-syntax.mdx
Labels: i18n

#9460 i18n(ko-KR): update `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#9459 i18n(ko-KR): update `craft-cms.mdx`
  src/content/docs/ko/guides/cms/craft-cms.mdx
Labels: i18n

#9461 i18n(fr): update `install-and-setup.mdx`
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#9462 i18n(fr): update `guides/cms/craft-cms.mdx`
  src/content/docs/fr/guides/cms/craft-cms.mdx
Labels: i18n

#9464 i18n(fr): fix `tutorial/5-astro-api` wording
  src/content/docs/fr/tutorial/5-astro-api/2.mdx
  src/content/docs/fr/tutorial/5-astro-api/3.mdx
  src/content/docs/fr/tutorial/5-astro-api/index.mdx
Labels: i18n

#9463 i18n(fr): fix inconsistent use of `props`/`prop`/`property` in French translation
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/basics/astro-pages.mdx
  src/content/docs/fr/basics/layouts.mdx
  src/content/docs/fr/guides/client-side-scripts.mdx
  src/content/docs/fr/guides/cms/apostrophecms.mdx
  src/content/docs/fr/guides/cms/contentful.mdx
  src/content/docs/fr/guides/cms/storyblok.mdx
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/data-fetching.mdx
  src/content/docs/fr/guides/framework-components.mdx
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/fr/guides/styling.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/guides/view-transitions.mdx
  src/content/docs/fr/recipes/build-custom-img-component.mdx
  src/content/docs/fr/recipes/dynamically-importing-images.mdx
  src/content/docs/fr/recipes/sharing-state-islands.mdx
  src/content/docs/fr/reference/api-reference.mdx
  src/content/docs/fr/reference/directives-reference.mdx
  src/content/docs/fr/tutorial/4-layouts/2.mdx
  src/content/docs/fr/tutorial/4-layouts/3.mdx
  src/content/docs/fr/tutorial/5-astro-api/1.mdx
  src/content/docs/fr/tutorial/5-astro-api/3.mdx
Labels: i18n

#9446 i18n(pt-BR): update `astro-pages.mdx`
  src/content/docs/pt-br/basics/astro-pages.mdx
  src/content/docs/pt-br/guides/endpoints.mdx
Labels: i18n

#9472 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#9473 i18n(ko-KR): create `fleek.mdx`
  src/content/docs/ko/guides/deploy/fleek.mdx
Labels: i18n

#9469 i18n(fr): update `guides/astro-db.mx`
  src/content/docs/fr/guides/astro-db.mdx
Labels: i18n

#9470 i18n(fr): add `guides/deploy/fleek.mdx`
  src/content/docs/fr/guides/deploy/fleek.mdx
Labels: i18n

#9475 Update to SST v3
  src/content/docs/en/guides/deploy/sst.mdx
Labels: improve documentation, Merge Queue

#9050 i18n(zh-tw): Create cloudflare.mdx
  src/content/docs/zh-tw/guides/deploy/cloudflare.mdx
Labels: i18n

#9474 [mdx] remove mention of layout frontmatter property
  src/content/docs/en/guides/integrations-guide/mdx.mdx
Labels: improve documentation

#9477 i18n(ko-KR): update `sst.mdx`
  src/content/docs/ko/guides/deploy/sst.mdx
Labels: i18n

#9478 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#9486 i18n(ko-KR): update `sst.mdx`
  src/content/docs/ko/guides/deploy/sst.mdx
Labels: i18n

#9480 i18n(fr): update `guides/deploy/sst.mdx`
  src/content/docs/fr/guides/deploy/sst.mdx
Labels: i18n

#9481 i18n(fr): update `integrations-guide/mdx.mdx`
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
Labels: i18n

#9496 i18n(fr): Update `reference/configuration-reference.mdx` from #9487
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9030 Clever Cloud deploy guide
  public/logos/clever-cloud.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/clever-cloud.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue

#9506 i18n(ko-KR): create `clever-cloud.mdx`
  src/content/docs/ko/guides/deploy/clever-cloud.mdx
Labels: i18n

#9508 i18n(fr): add `guides/deploy/clever-cloud.mdx`
  src/content/docs/fr/guides/deploy/clever-cloud.mdx
Labels: i18n

#9511 [i18nIgnore] fix: updates the URL of a Tina CMS theme example
  src/content/docs/en/guides/cms/tina-cms.mdx
  src/content/docs/es/guides/cms/tina-cms.mdx
  src/content/docs/fr/guides/cms/tina-cms.mdx
  src/content/docs/ko/guides/cms/tina-cms.mdx
  src/content/docs/zh-cn/guides/cms/tina-cms.mdx
Labels: i18n

#9499 i18n(fr): fix broken link in `guides/framework-components`
  src/content/docs/fr/guides/framework-components.mdx
Labels: i18n

#9501 i18n(zh-tw): update `getting-started.mdx`
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#9512 docs: update container-reference.mdx
  src/content/docs/en/reference/container-reference.mdx
Labels: improve documentation, code snippet update

#9505 Add info about propertiesToHash to image-service-reference.mdx
  src/content/docs/en/reference/image-service-reference.mdx
Labels: improve documentation, Merge Queue

#9514 i18n(fr): Update `reference/image-service-reference.mdx` from #9505
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n
