Repository withastro/docs, pull requests merged in 2024-03, with the labels that each got.

#7082 i18n(es): update `keystatic`
  src/content/docs/es/guides/cms/keystatic.mdx
Labels: i18n

#7089 i18n(es): update `preprcms`
  src/content/docs/es/guides/cms/preprcms.mdx
Labels: i18n

#7090 i18n(es): update `strapi`
  src/content/docs/es/guides/cms/strapi.mdx
Labels: i18n

#7091 i18n(es): update `fonts`
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#7094 i18n(es): updates `framework-components`
  src/content/docs/es/guides/framework-components.mdx
Labels: i18n

#7095 i18n(es): update `middleware`
  src/content/docs/es/guides/middleware.mdx
Labels: i18n

#7097 i18n(es): update `middleware-cant-be-lodaded`
  src/content/docs/es/reference/errors/middleware-cant-be-loaded.mdx
Labels: i18n

#7111 i18n(es): translate `ecommerce`
  src/content/docs/es/guides/ecommerce.mdx
Labels: i18n

#7113 i18n(zh-cn): Update content.mdx
  src/content/docs/zh-cn/community-resources/content.mdx
Labels: i18n, Merge Queue

#7120 Fix duplicate links in `ecommerce.mdx`
  src/content/docs/en/guides/ecommerce.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#7117 Fix typos and format code in ecommerce.mdx
  src/content/docs/en/guides/ecommerce.mdx
Labels: typo/link/grammar - quick fix!, code snippet update, consistency/formatting, Merge Queue

#7115 Fix incorrect list numbering in `ecommerce.mdx`
  src/content/docs/en/guides/ecommerce.mdx
Labels: consistency/formatting, Merge Queue

#7118 Replace "Google Cloud Registry" with "Artifact Registry"
  src/content/docs/en/guides/deploy/google-cloud.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#7116 i18n(ru): Update `content.mdx`
  src/content/docs/ru/community-resources/content.mdx
Labels: i18n, Merge Queue

#7076 i18n(ru): Update `why-astro.mdx` translation
  src/content/docs/ru/concepts/why-astro.mdx
Labels: i18n, Merge Queue

#7044 i18n(zh-tw): update `layouts.mdx` translation
  src/content/docs/zh-tw/basics/layouts.mdx
Labels: i18n, Merge Queue

#7121 i18n(de): Update src/i18n/de/ui.ts
  src/i18n/de/ui.ts
Labels: i18n

#7125 i18n(fr): Fix vite import link missing a parenthesis in styling.mdx [i18nIgnore]
  src/content/docs/fr/guides/styling.mdx
Labels: i18n

#6990 i18n(pl): adding `v4.mdx` translation
  src/content/docs/pl/guides/upgrade-to/v4.mdx
  src/i18n/pl/nav.ts
Labels: i18n

#7129 i18n(es): update google-cloud.mdx
  src/content/docs/es/guides/deploy/google-cloud.mdx
Labels: i18n

#7128 i18n(es): update ecommerce.mdx
  src/content/docs/es/guides/ecommerce.mdx
Labels: i18n

#7108 Add section about RSS autodiscovery to RSS guide
  src/content/docs/en/guides/rss.mdx
Labels: add new content, Merge Queue

#7136 i18n(es): update rss.mdx
  src/content/docs/es/guides/rss.mdx
Labels: i18n

#7130 i18n(es): Update content.mdx
  src/content/docs/es/community-resources/content.mdx
Labels: i18n

#7127 i18n(es): Update directives-reference.mdx
  src/content/docs/es/reference/directives-reference.mdx
Labels: i18n

#7109 i18n(fr): Update week 9
  src/content/docs/fr/community-resources/content.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/preprcms.mdx
  src/content/docs/fr/guides/deploy/google-cloud.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/guides/styling.mdx
  src/i18n/fr/nav.ts
  src/i18n/fr/ui.ts
Labels: i18n

#7140 i18n(es): Update `styling.mdx`
  src/content/docs/es/guides/styling.mdx
Labels: i18n

#7163 Fix incorrect list numbering in `fonts.mdx`
  src/content/docs/en/guides/fonts.mdx
Labels: consistency/formatting, Merge Queue

#7159 fix: change step order for typescript and dependencies
  src/content/docs/en/tutorial/1-setup/2.mdx
Labels: improve documentation, Merge Queue

#7148 Update api-reference.mdx fix getEntry() code example
  src/content/docs/en/reference/api-reference.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#7167 i18n(zh-cn): Update `fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n

#7157 i18n(zh-cn): Update `styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#7156 i18n(zh-cn): Update `rss.mdx`
  src/content/docs/zh-cn/guides/rss.mdx
Labels: i18n

#7160 i18n(es): Update ecommerce.mdx
  src/content/docs/es/guides/ecommerce.mdx
Labels: i18n

#7154 i18n(zh-cn): Update `google-cloud.mdx`
  src/content/docs/zh-cn/guides/deploy/google-cloud.mdx
Labels: i18n, Merge Queue

#7155 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n, Merge Queue

#7168 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#7169 i18n(ko-KR): update `middleware.mdx`
  src/content/docs/ko/guides/middleware.mdx
Labels: i18n

#7170 i18n(ko-KR): update `prefetch.mdx`
  src/content/docs/ko/guides/prefetch.mdx
Labels: i18n

#7171 i18n(ko-KR): update `rss.mdx`
  src/content/docs/ko/guides/rss.mdx
Labels: i18n

#7172 i18n(ko-KR): update `styling.mdx`
  src/content/docs/ko/guides/styling.mdx
Labels: i18n

#7173 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#7174 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#7176 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/guides/fonts.mdx
Labels: i18n

#7177 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
  src/content/docs/ko/reference/errors/missing-image-dimension.mdx
Labels: i18n

#7178 i18n(ko-KR): update `integrations-guide.mdx`
  src/content/docs/ko/guides/integrations-guide.mdx
Labels: i18n

#7181 i18n(zh-cn): Update `middleware-cant-be-loaded.mdx`
  src/content/docs/zh-cn/reference/errors/middleware-cant-be-loaded.mdx
Labels: i18n, Merge Queue

#6948 i18n(zh-tw): add new `astro-components.mdx` translation
  src/content/docs/zh-tw/basics/astro-components.mdx
  src/content/docs/zh-tw/basics/astro-pages.mdx
  src/content/docs/zh-tw/basics/layouts.mdx
Labels: i18n, Merge Queue

#7114 i18n(zh-cn): Create ecommerce.mdx
  src/content/docs/zh-cn/guides/ecommerce.mdx
  src/i18n/zh-cn/nav.ts
Labels: i18n, Merge Queue

#6998 i18n(ru): Add new `rendering-modes.mdx` translation
  src/content/docs/ru/basics/rendering-modes.mdx
Labels: i18n

#7080 i18n(ru): Update `tutorial/1-setup/1.mdx` translation
  src/content/docs/ru/tutorial/1-setup/1.mdx
Labels: i18n

#7079 i18n(ru): Update `tutorial/1-setup/3.mdx` translation
  src/content/docs/ru/tutorial/1-setup/3.mdx
Labels: i18n

#7075 i18n(ru): Add new `contibute.mdx` translation
  src/content/docs/ru/contribute.mdx
Labels: i18n

#7068 i18n(ru): Update `astro-pages.mdx` translation
  src/content/docs/ru/basics/astro-pages.mdx
Labels: i18n

#6975 i18n(ru): Update `layouts.mdx` translation
  src/content/docs/ru/basics/layouts.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
Labels: i18n

#7062 i18n(pt-BR): add new `react.mdx` translation
  src/content/docs/pt-br/guides/integrations-guide/react.mdx
Labels: i18n

#6997 i18n(ru): Add new `talks.mdx` translation
  src/content/docs/ru/community-resources/talks.mdx
Labels: i18n

#7093 i18n(ru): Update `project-structure.mdx` translation
  src/content/docs/ru/basics/project-structure.mdx
Labels: i18n

#7092 i18n(ru): Update `getting-started.mdx` translation
  src/content/docs/ru/getting-started.mdx
Labels: i18n

#7102 i18n(ru): Update `backend.mdx` translation
  src/content/docs/ru/guides/backend.mdx
Labels: i18n

#7103 i18n(ru): Update `editor-setup.mdx` translation
  src/content/docs/ru/editor-setup.mdx
Labels: i18n

#7105 i18n(ru): Add `appwriteio.mdx` translation
  src/content/docs/ru/guides/backend/appwriteio.mdx
Labels: i18n

#7106 i18n(ru): Update `nav.ts` translation
  src/i18n/ru/nav.ts
Labels: i18n

#7145 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n

#7146 i18n(ko-KR): add `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#7107 i18n(ru): Add `ecommerce.mdx` translation
  src/content/docs/ru/guides/ecommerce.mdx
Labels: i18n

#7124 i18n(ru): Add new translations to the `reference/errors` dir
  src/content/docs/ru/reference/error-reference.mdx
  src/content/docs/ru/reference/errors/astro-glob-no-match.mdx
  src/content/docs/ru/reference/errors/astro-glob-used-outside.mdx
  src/content/docs/ru/reference/errors/cant-render-page.mdx
  src/content/docs/ru/reference/errors/client-address-not-available.mdx
  src/content/docs/ru/reference/errors/collection-does-not-exist-error.mdx
  src/content/docs/ru/reference/errors/config-legacy-key.mdx
  src/content/docs/ru/reference/errors/config-not-found.mdx
  src/content/docs/ru/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/ru/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/ru/reference/errors/could-not-transform-image.mdx
  src/content/docs/ru/reference/errors/csssyntax-error.mdx
  src/content/docs/ru/reference/errors/data-collection-entry-parse-error.mdx
  src/content/docs/ru/reference/errors/duplicate-content-entry-slug-error.mdx
  src/content/docs/ru/reference/errors/expected-image-options.mdx
  src/content/docs/ru/reference/errors/expected-image.mdx
  src/content/docs/ru/reference/errors/failed-to-fetch-remote-image-dimensions.mdx
  src/content/docs/ru/reference/errors/failed-to-find-page-map-ssr.mdx
  src/content/docs/ru/reference/errors/failed-to-load-module-ssr.mdx
  src/content/docs/ru/reference/errors/generate-content-types-error.mdx
  src/content/docs/ru/reference/errors/get-static-paths-expected-params.mdx
  src/content/docs/ru/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/ru/reference/errors/get-static-paths-removed-rsshelper.mdx
  src/content/docs/ru/reference/errors/get-static-paths-required.mdx
  src/content/docs/ru/reference/errors/i18n-not-enabled.mdx
Labels: i18n

#7131 i18n(ru): Add new translations to the `reference/errors` dir, vol.2
  src/content/docs/ru/reference/errors/image-missing-alt.mdx
  src/content/docs/ru/reference/errors/image-not-found.mdx
  src/content/docs/ru/reference/errors/incompatible-descriptor-options.mdx
  src/content/docs/ru/reference/errors/invalid-component-args.mdx
  src/content/docs/ru/reference/errors/invalid-content-entry-frontmatter-error.mdx
  src/content/docs/ru/reference/errors/invalid-content-entry-slug-error.mdx
  src/content/docs/ru/reference/errors/invalid-dynamic-route.mdx
  src/content/docs/ru/reference/errors/invalid-frontmatter-injection-error.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-paths-entry.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-paths-return.mdx
  src/content/docs/ru/reference/errors/invalid-glob.mdx
  src/content/docs/ru/reference/errors/invalid-image-service.mdx
  src/content/docs/ru/reference/errors/invalid-prerender-export.mdx
  src/content/docs/ru/reference/errors/local-image-used-wrongly.mdx
  src/content/docs/ru/reference/errors/locals-not-an-object.mdx
  src/content/docs/ru/reference/errors/locals-not-serializable.mdx
  src/content/docs/ru/reference/errors/markdown-content-schema-validation-error.mdx
  src/content/docs/ru/reference/errors/markdown-frontmatter-parse-error.mdx
  src/content/docs/ru/reference/errors/markdown-image-not-found.mdx
Labels: i18n

#7142 i18n(ru): Add new translations to the `reference/errors` dir, vol.3
  src/content/docs/ru/reference/errors/mdx-integration-missing-error.mdx
  src/content/docs/ru/reference/errors/middleware-cant-be-loaded.mdx
  src/content/docs/ru/reference/errors/middleware-no-data-or-next-called.mdx
  src/content/docs/ru/reference/errors/middleware-not-aresponse.mdx
  src/content/docs/ru/reference/errors/missing-image-dimension.mdx
  src/content/docs/ru/reference/errors/missing-index-for-internationalization.mdx
  src/content/docs/ru/reference/errors/missing-locale.mdx
  src/content/docs/ru/reference/errors/missing-media-query-directive.mdx
  src/content/docs/ru/reference/errors/missing-sharp.mdx
  src/content/docs/ru/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/ru/reference/errors/no-adapter-installed.mdx
  src/content/docs/ru/reference/errors/no-client-entrypoint.mdx
  src/content/docs/ru/reference/errors/no-client-only-hint.mdx
  src/content/docs/ru/reference/errors/no-image-metadata.mdx
  src/content/docs/ru/reference/errors/no-matching-import.mdx
  src/content/docs/ru/reference/errors/no-matching-renderer.mdx
  src/content/docs/ru/reference/errors/no-matching-static-path-found.mdx
  src/content/docs/ru/reference/errors/no-prerendered-routes-with-domains.mdx
  src/content/docs/ru/reference/errors/only-response-can-be-returned.mdx
  src/content/docs/ru/reference/errors/page-number-param-not-found.mdx
Labels: i18n

#7153 i18n(ru): Add new translations to the `reference/errors` dir, vol.4
  src/content/docs/ru/reference/errors/prerender-dynamic-endpoint-path-collide.mdx
  src/content/docs/ru/reference/errors/redirect-with-no-location.mdx
  src/content/docs/ru/reference/errors/reserved-slot-name.mdx
  src/content/docs/ru/reference/errors/response-sent-error.mdx
  src/content/docs/ru/reference/errors/static-client-address-not-available.mdx
  src/content/docs/ru/reference/errors/static-redirect-not-available.mdx
  src/content/docs/ru/reference/errors/unhandled-rejection.mdx
  src/content/docs/ru/reference/errors/unknown-clierror.mdx
  src/content/docs/ru/reference/errors/unknown-compiler-error.mdx
  src/content/docs/ru/reference/errors/unknown-config-error.mdx
  src/content/docs/ru/reference/errors/unknown-content-collection-error.mdx
  src/content/docs/ru/reference/errors/unknown-csserror.mdx
  src/content/docs/ru/reference/errors/unknown-markdown-error.mdx
  src/content/docs/ru/reference/errors/unknown-vite-error.mdx
  src/content/docs/ru/reference/errors/unsupported-config-transform-error.mdx
  src/content/docs/ru/reference/errors/unsupported-image-conversion.mdx
  src/content/docs/ru/reference/errors/unsupported-image-format.mdx
Labels: i18n

#7196 i18n(zh-cn): Update `reference/api-reference.mdx` code example
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#7179 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7184 i18n(zh-cn): Update `tutorial/1-setup/2.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/2.mdx
Labels: i18n, Merge Queue

#7139 i18n(zh-tw): update `manual.mdx` translation
  src/content/docs/zh-tw/install/manual.mdx
Labels: i18n, Merge Queue

#7135 i18n(zh-tw): update `auto.mdx` translation
  src/content/docs/zh-tw/install/auto.mdx
Labels: i18n, Merge Queue

#7133 i18n(zh-tw): update `project-structure.mdx` translation
  src/content/docs/zh-tw/basics/project-structure.mdx
Labels: i18n, Merge Queue

#7193 i18n(ko-KR): update `content.mdx`
  src/content/docs/ko/community-resources/content.mdx
Labels: i18n

#7194 i18n(ko-KR): update `talks.mdx`
  src/content/docs/ko/community-resources/talks.mdx
Labels: i18n

#7151 i18n(fr): Update `guides/images.mdx` and `guides/rss.mdx`
  src/content/docs/fr/guides/images.mdx
  src/content/docs/fr/guides/rss.mdx
Labels: i18n

#7189 i18n(fr): Update `guides/fonts.mdx` and `tutorial/1-setup/2.mdx`
  src/content/docs/fr/guides/fonts.mdx
  src/content/docs/fr/tutorial/1-setup/2.mdx
Labels: i18n

#7164 i18n(ru): Update `migrate-to-astro.mdx` translation
  src/content/docs/ru/guides/migrate-to-astro.mdx
Labels: i18n

#7165 i18n(ru): Update `recipes.mdx` translation
  src/content/docs/ru/recipes.mdx
Labels: i18n

#7166 i18n(ru): Update `fonts.mdx` translation
  src/content/docs/ru/guides/fonts.mdx
Labels: i18n

#7149 i18n(ko-KR): add `ecommerce.mdx`
  src/content/docs/ko/guides/ecommerce.mdx
Labels: i18n

#7003 i18n(hi): add `astro-pages.mdx`
  src/content/docs/hi/basics/astro-pages.mdx
  src/i18n/hi/nav.ts
Labels: i18n

#6951 i18n(pt-BR): Create `authentication.mdx`
  src/content/docs/pt-br/guides/authentication.mdx
Labels: i18n

#7186 i18n(ru): Update `tutorial/1-setup/2.mdx` translation
  src/content/docs/ru/tutorial/1-setup/2.mdx
Labels: i18n

#7187 i18n(ru): Update `astro-syntax.mdx` translation
  src/content/docs/ru/basics/astro-syntax.mdx
Labels: i18n

#7195 i18n(ru): Update `islands.mdx` translation
  src/content/docs/ru/concepts/islands.mdx
  src/content/docs/ru/guides/migrate-to-astro.mdx
Labels: i18n

#7085 i18n(it): Updated guides
  src/content/docs/it/guides/backend.mdx
  src/content/docs/it/guides/backend/google-firebase.mdx
  src/content/docs/it/guides/deploy/deno.mdx
  src/content/docs/it/guides/fonts.mdx
Labels: i18n

#7088 i18n(it): Updated basics
  src/content/docs/it/basics/astro-components.mdx
  src/content/docs/it/basics/astro-pages.mdx
  src/content/docs/it/basics/astro-syntax.mdx
Labels: i18n

#7202 i18n(ru): Add `image-service-reference.mdx` translation
  src/content/docs/ru/reference/image-service-reference.mdx
Labels: i18n

#7197 i18n(es): Update images.mdx translation
  src/content/docs/es/guides/images.mdx
Labels: i18n, Merge Queue

#7199 i18n(es): Update fonts.mdx
  src/content/docs/es/guides/fonts.mdx
Labels: i18n, Merge Queue

#7143 Add docs for Cloudflare service bindings
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: add new content, merge-on-release, Merge Queue

#7210 [i18nIgnore] Fix incorrect list numbering in `/tutorial/1-setup/4.mdx`
  src/content/docs/en/tutorial/1-setup/4.mdx
  src/content/docs/es/tutorial/1-setup/4.mdx
  src/content/docs/fr/tutorial/1-setup/4.mdx
  src/content/docs/ja/tutorial/1-setup/4.mdx
  src/content/docs/ko/tutorial/1-setup/4.mdx
  src/content/docs/pt-br/tutorial/1-setup/4.mdx
  src/content/docs/zh-cn/tutorial/1-setup/4.mdx
Labels: i18n

#7020 i18n(ja): Update auto.mdx
  src/content/docs/ja/install/manual.mdx
Labels: i18n

#7205 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#7206 i18n(ko-KR): update `captcha.mdx`
  src/content/docs/ko/recipes/captcha.mdx
Labels: i18n

#7213 i18n(ru): Update `tutorial/2-pages/1.mdx` translation
  src/content/docs/ru/tutorial/2-pages/1.mdx
Labels: i18n

#7212 i18n(ru): Update `tutorial/1-setup/index.mdx` translation
  src/content/docs/ru/tutorial/1-setup/index.mdx
Labels: i18n

#7211 i18n(ru): Update `tutorial/1-setup/4.mdx` translation
  src/content/docs/ru/tutorial/1-setup/4.mdx
Labels: i18n

#7209 i18n(ru): Update `tutorial/1-setup/5.mdx` translation
  src/content/docs/ru/tutorial/1-setup/1.mdx
  src/content/docs/ru/tutorial/1-setup/2.mdx
  src/content/docs/ru/tutorial/1-setup/3.mdx
  src/content/docs/ru/tutorial/1-setup/5.mdx
  src/i18n/ru/ui.ts
Labels: i18n

#7083 i18n(it): Updated formatting and features
  src/content/docs/it/basics/astro-components.mdx
  src/content/docs/it/basics/astro-pages.mdx
  src/content/docs/it/basics/astro-syntax.mdx
  src/content/docs/it/basics/layouts.mdx
  src/content/docs/it/basics/project-structure.mdx
  src/content/docs/it/guides/backend/appwriteio.mdx
  src/content/docs/it/guides/backend/google-firebase.mdx
  src/content/docs/it/guides/backend/turso.mdx
  src/content/docs/it/guides/backend/xata.mdx
  src/content/docs/it/guides/configuring-astro.mdx
  src/content/docs/it/guides/deploy/cloudflare.mdx
  src/content/docs/it/guides/deploy/deno.mdx
  src/content/docs/it/guides/endpoints.mdx
  src/content/docs/it/guides/fonts.mdx
  src/content/docs/it/guides/framework-components.mdx
  src/content/docs/it/guides/prefetch.mdx
  src/content/docs/it/guides/routing.mdx
  src/content/docs/it/guides/upgrade-to/v2.mdx
  src/content/docs/it/install/auto.mdx
  src/content/docs/it/install/manual.mdx
  src/content/docs/it/recipes/bun.mdx
  src/content/docs/it/recipes/captcha.mdx
  src/content/docs/it/recipes/sharing-state.mdx
  src/content/docs/it/tutorials/add-content-collections.mdx
  src/content/docs/it/tutorials/add-view-transitions.mdx
Labels: i18n

#7086 i18n(it): Major update to guides
  src/content/docs/it/guides/configuring-astro.mdx
  src/content/docs/it/guides/framework-components.mdx
  src/content/docs/it/guides/routing.mdx
Labels: i18n

#6999 i18n(ja): Update ui.ts
  src/i18n/ja/ui.ts
Labels: i18n

#7002 i18n(ja): Update backend.mdx
  src/content/docs/ja/guides/backend.mdx
Labels: i18n

#7006 i18n(ja): Update cms.mdx
  src/content/docs/ja/guides/cms.mdx
Labels: i18n

#7008 i18n(ja): Update configuring-astro.mdx
  src/content/docs/ja/guides/configuring-astro.mdx
Labels: i18n

#7010 i18n(ja): Update environment-variables.mdx
  src/content/docs/ja/guides/environment-variables.mdx
Labels: i18n

#7016 i18n(ja): Update migrate-to-astro.mdx and islands.mdx
  src/content/docs/ja/concepts/islands.mdx
  src/content/docs/ja/guides/migrate-to-astro.mdx
Labels: i18n

#7022 i18n(ja): Update recipes.mdx
  src/content/docs/ja/recipes.mdx
Labels: i18n

#7015 i18n(ja): Update middleware.mdx
  src/content/docs/ja/guides/middleware.mdx
Labels: i18n

#7216 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7198 i18n(zh-tw): update `nav.ts` translation
  src/i18n/zh-tw/nav.ts
Labels: i18n, Merge Queue

#7012 i18n(ja): Update fonts.mdx
  src/content/docs/ja/guides/fonts.mdx
Labels: i18n

#7014 i18n(ja): Update integrations-guide.mdx
  src/content/docs/ja/guides/integrations-guide.mdx
Labels: i18n

#7137 i18n(ja): Update astro-components.mdx
  src/content/docs/ja/basics/astro-components.mdx
Labels: i18n

#7138 i18n(ja): Update nav.ts
  src/i18n/ja/nav.ts
Labels: i18n

#7123 i18n(ja): Update data-fetching.mdx
  src/content/docs/ja/guides/data-fetching.mdx
Labels: i18n

#7221 i18n(ru): Update `/tutorial/2-pages/3.mdx` translation
  src/content/docs/ru/tutorial/2-pages/3.mdx
Labels: i18n

#7222 i18n(ru): Update `/tutorial/2-pages/2.mdx` translation
  src/content/docs/ru/tutorial/2-pages/2.mdx
Labels: i18n

#7220 i18n(ru): Add `publish-to-npm.mdx` translation
  src/content/docs/ru/reference/publish-to-npm.mdx
Labels: i18n

#7214 i18n(ru): Add `integrations-reference.mdx` translation
  src/content/docs/ru/reference/errors/no-client-entrypoint.mdx
  src/content/docs/ru/reference/integrations-reference.mdx
Labels: i18n

#7232 i18n(zh-cn): Update `4-layouts/3.mdx` and `5-astro-api/1.mdx` in `tutorial`
  src/content/docs/zh-cn/tutorial/4-layouts/3.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
Labels: i18n, Merge Queue

#7235 i18n(ko-KR): update `keystatic.mdx`
  src/content/docs/ko/guides/cms/keystatic.mdx
Labels: i18n

#7236 i18n(ko-KR): update `google-cloud.mdx`
  src/content/docs/ko/guides/deploy/google-cloud.mdx
Labels: i18n

#7237 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7238 i18n(ko-KR): update `lit.mdx`
  src/content/docs/ko/guides/integrations-guide/lit.mdx
Labels: i18n

#7239 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
Labels: i18n

#7244 i18n(zh-tw): Update editor-setup.mdx
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#7243 i18n(zh-tw): update `islands.mdx` translation
  src/content/docs/zh-tw/concepts/islands.mdx
  src/content/docs/zh-tw/guides/migrate-to-astro.mdx
Labels: i18n, Merge Queue

#7242 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/1-setup/2.mdx
  src/content/docs/ko/tutorial/4-layouts/2.mdx
  src/content/docs/ko/tutorial/4-layouts/3.mdx
  src/content/docs/ko/tutorial/5-astro-api/3.mdx
Labels: i18n

#7241 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/failed-to-fetch-remote-image-dimensions.mdx
  src/content/docs/ko/reference/errors/middleware-cant-be-loaded.mdx
  src/content/docs/ko/reference/errors/missing-image-dimension.mdx
Labels: i18n

#7231 i18n(ru): Add `v3.mdx` translation
  src/content/docs/ru/guides/upgrade-to/v3.mdx
Labels: i18n

#7233 i18n(pt-BR): updated aws.mdx translation
  src/content/docs/pt-br/guides/deploy/aws.mdx
Labels: i18n

#7229 i18n(ru): Add `supabase.mdx` translation
  src/content/docs/ru/guides/authentication.mdx
  src/content/docs/ru/guides/backend/supabase.mdx
Labels: i18n

#7230 i18n(ru): Add `v2.mdx` translation
  src/content/docs/ru/guides/upgrade-to/v2.mdx
Labels: i18n

#7227 i18n(ru): Add `turso.mdx` translation
  src/content/docs/ru/guides/backend/turso.mdx
Labels: i18n

#7228 i18n(ru): Add `google-firebase.mdx` translation
  src/content/docs/ru/guides/authentication.mdx
  src/content/docs/ru/guides/backend/google-firebase.mdx
Labels: i18n

#7226 i18n(ru): Add `xata.mdx` translation
  src/content/docs/ru/guides/backend/xata.mdx
Labels: i18n

#7224 i18n(es): update `cloudflare`
  src/content/docs/es/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#7223 i18n(es): update `api-reference`
  src/content/docs/es/reference/api-reference.mdx
Labels: i18n

#7217 i18n(es): Add `tutorial/1-setup/2.mdx`translation
  src/content/docs/es/tutorial/1-setup/2.mdx
Labels: i18n

#7252 i18n(ru): Add `v4.mdx` translation
  src/content/docs/ru/guides/integrations-guide.mdx
  src/content/docs/ru/guides/upgrade-to/v4.mdx
Labels: i18n

#6898 Move to shiki and stabilize dual themes support
  src/content/docs/en/guides/integrations-guide/markdoc.mdx
  src/content/docs/en/guides/markdown-content.mdx
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation, merge-on-release, minor-release, Merge Queue

#7191 feat: add all the colors to dev toolbar components
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#7200 feat(dev-toolbar-reference): Add level property to notifications
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: merge-on-release, minor-release, Merge Queue

#7030 i18n(pt-BR): Update astro-pages.mdx translation
  src/content/docs/pt-br/basics/astro-pages.mdx
Labels: i18n

#7260 i18n(es): update authentication.mdx
  src/content/docs/es/guides/authentication.mdx
Labels: i18n
