Repository withastro/docs, pull requests merged in 2024-08, with the labels that each got.

#8962 i18n(ko-KR): update `layouts.mdx`
  src/content/docs/ko/basics/layouts.mdx
Labels: i18n

#8959 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#8958 i18n(ko-KR): update `project-structure.mdx`
  src/content/docs/ko/basics/project-structure.mdx
Labels: i18n

#8957 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#8970 i18n(fr): Update `guides/content-collections.mdx` from #8967
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#8977 i18n(fr): Add `reference/errors/actions-used-with-for-get-error.mdx` from #8967
  src/content/docs/fr/reference/errors/actions-used-with-for-get-error.mdx
Labels: i18n

#8976 i18n(fr): Add `reference/errors/action-query-string-invalid-error.mdx` from #8967
  src/content/docs/fr/reference/errors/action-query-string-invalid-error.mdx
Labels: i18n

#8975 i18n(fr): Update `reference/errors/rewrite-with-body-used.mdx` from #8967
  src/content/docs/fr/reference/errors/rewrite-with-body-used.mdx
Labels: i18n

#8974 i18n(fr): Update `reference/errors/rewrite-encountered-an-error.mdx` from #8967
  src/content/docs/fr/reference/errors/rewrite-encountered-an-error.mdx
Labels: i18n

#8945 i18n(fr): Update `install-and-setup.mdx` from #8942
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#8961 i18n(fr): update `basics/layouts.mdx`
  src/content/docs/fr/basics/layouts.mdx
  src/content/docs/fr/tutorial/4-layouts/3.mdx
Labels: i18n

#8968 i18n(zh-cn): Update `layouts.mdx`
  src/content/docs/zh-cn/basics/layouts.mdx
Labels: i18n

#8954 i18n(fr): update `basics/project-structure.mdx`
  src/content/docs/fr/basics/project-structure.mdx
Labels: i18n

#8936 i18n(pt-BR): update `nav.ts`
  src/i18n/pt-br/nav.ts
Labels: i18n

#8972 i18n(fr): Update `reference/configuration-reference.mdx` from #8967
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#8944 i18n(fr): Update `guides/routing.mdx` from #8941 and add `reference/api-reference.mdx`
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/endpoints.mdx
  src/content/docs/fr/guides/imports.mdx
  src/content/docs/fr/guides/internationalization.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/fr/guides/server-side-rendering.mdx
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#8971 i18n(fr): Update `guides/middleware.mdx` from #8967
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#8986 docs: fix typo
  src/content/docs/fr/basics/astro-components.mdx
Labels: i18n

#8994 Fix typo in middleware.mdx
  src/content/docs/en/guides/middleware.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#8993 fix typo path in routing.mdx
  src/content/docs/en/guides/routing.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#8960 i18n(zh-cn): Update `project-structure.mdx`
  src/content/docs/zh-cn/basics/project-structure.mdx
Labels: i18n, Merge Queue

#8997 Overhaul `@astrojs/sitemap` docs
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
Labels: improve documentation, Merge Queue

#8943 fix(api-reference): add missing info, types and `<Since />`
  public/_redirects
  src/content/docs/en/reference/api-reference.mdx
Labels: improve documentation, consistency/formatting, Merge Queue

#9000 i18n(fr): update `guides/imports.mdx`
  src/content/docs/fr/guides/imports.mdx
Labels: i18n

#9001 i18n(fr): update `guides/content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#9002 i18n(fr): fix typo in `guides/middleware.mdx`
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#9003 i18n(fr): fix typo in `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#8987 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#8996 i18n(ko-KR): update `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
Labels: i18n

#9004 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#8952 fix(guides): update misleading copy in Netlify deploy guide
  src/content/docs/en/guides/deploy/netlify.mdx
Labels: improve documentation, Merge Queue

#9007 i18n(fr): Add `reference/errors/action-called-from-server-error.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/action-called-from-server-error.mdx
Labels: i18n

#8989 i18n(ko-KR): update `middleware.mdx`, `routing.mdx`, `api-reference.mdx`
  src/content/docs/ko/guides/middleware.mdx
  src/content/docs/ko/guides/routing.mdx
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9005 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9008 i18n(fr): Update `guides/integrations-guides/sitemap.mdx`
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
Labels: i18n

#8991 i18n(ko-KR): update `configuration-reference.mdx`, `error-reference.mdx`, `/reference/errors/`
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/action-called-from-server-error.mdx
  src/content/docs/ko/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/ko/reference/errors/actions-used-with-for-get-error.mdx
  src/content/docs/ko/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/ko/reference/errors/rewrite-with-body-used.mdx
Labels: i18n

#9011 Improve TypeScript "setup" section
  src/content/docs/en/guides/typescript.mdx
Labels: improve documentation, add new content, Merge Queue

#9014 Updates alpinejs.mdx
  src/content/docs/en/guides/integrations-guide/alpinejs.mdx
Labels: improve documentation, Merge Queue

#9015 i18n(fr): Update `guides/integrations-guide/alpinejs.mdx` from #9014
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#9016 i18n(fr): Update `guides/typescript.mdx` from #9011
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#9021 i18n(ko-KR): update `alpinejs.mdx`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#9022 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#8995 i18n(zh-cn): update `content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#9019 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/deploy/netlify.mdx
Labels: i18n

#8887 i18n(ja): Update /basics/astro-syntax.mdx, /basics/rendering-modes.mdx translation
  src/content/docs/ja/basics/astro-syntax.mdx
  src/content/docs/ja/basics/rendering-modes.mdx
Labels: i18n

#8920 i18n(ja): Add new reference/image-service-reference.mdx translation
  src/content/docs/ja/reference/image-service-reference.mdx
Labels: i18n

#8912 i18n(ja): Add new reference/directives-reference.mdx translation
  src/content/docs/ja/concepts/islands.mdx
  src/content/docs/ja/guides/client-side-scripts.mdx
  src/content/docs/ja/guides/framework-components.mdx
  src/content/docs/ja/guides/troubleshooting.mdx
  src/content/docs/ja/guides/view-transitions.mdx
  src/content/docs/ja/recipes/sharing-state-islands.mdx
  src/content/docs/ja/reference/directives-reference.mdx
  src/content/docs/ja/tutorial/6-islands/1.mdx
Labels: i18n

#8916 i18n(pl): Add new Install and setup [install-and-setup.mdx] translation
  src/content/docs/pl/install-and-setup.mdx
  src/i18n/pl/nav.ts
Labels: i18n

#9028 i18n(fr): update `integrations-guide/mdx.mdx`
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
Labels: i18n

#9031 i18n(zh-cn): Update `mdx.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
Labels: i18n

#9026 i18n(zh-cn): Update `sitemap.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n, Merge Queue

#9020 i18n(zh-cn): Update `alpinejs.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n, Merge Queue

#9018 i18n(zh-cn): Update `netlify.mdx`
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
Labels: i18n, Merge Queue

#9023 i18n(zh-cn): Update `typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n, Merge Queue

#9029 i18n(ko-KR): update `mdx.mdx`
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
Labels: i18n

#8992 i18n(zh-cn): Update docs for 4.13
  src/content/docs/zh-cn/guides/middleware.mdx
  src/content/docs/zh-cn/guides/routing.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/action-called-from-server-error.mdx
  src/content/docs/zh-cn/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/zh-cn/reference/errors/actions-used-with-for-get-error.mdx
  src/content/docs/zh-cn/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/zh-cn/reference/errors/rewrite-with-body-used.mdx
Labels: i18n

#9034 Capitalized "javascript"
  src/content/docs/en/guides/client-side-scripts.mdx
Labels: consistency/formatting, Merge Queue

#8969 i18n(zh-cn): Update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#9036 i18n(zh-cn): Update `imports.mdx`
  src/content/docs/zh-cn/guides/imports.mdx
Labels: i18n

#8932 i18n(es): update `content`, `authentication` and `supabase`
  src/content/docs/es/community-resources/content.mdx
  src/content/docs/es/guides/authentication.mdx
  src/content/docs/es/guides/backend/supabase.mdx
Labels: i18n

#8979 i18n(es): update `layouts` and `project-structure`
  src/content/docs/es/basics/layouts.mdx
  src/content/docs/es/basics/project-structure.mdx
Labels: i18n

#8982 i18n(es): update `keystatic`, `content-collections` and `gitlab`
  src/content/docs/es/guides/cms/keystatic.mdx
  src/content/docs/es/guides/content-collections.mdx
  src/content/docs/es/guides/deploy/gitlab.mdx
Labels: i18n

#9056 i18n(fr): update `guides/cms/craft-cms.mdx`
  src/content/docs/fr/guides/cms/craft-cms.mdx
Labels: i18n

#9039 i18n(hi): update `getting-started.mdx`
  src/content/docs/hi/getting-started.mdx
Labels: i18n

#9044 i18n(hi): update `astro-pages.mdx`
  src/content/docs/hi/basics/astro-pages.mdx
Labels: i18n

#9059 i18n(ko-KR): update `craft-cms.mdx`
  src/content/docs/ko/guides/cms/craft-cms.mdx
Labels: i18n

#9060 i18n(ko-KR): update `client-side-scripts.mdx`
  src/content/docs/ko/guides/client-side-scripts.mdx
Labels: i18n

#9062 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9063 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#8984 i18n(es): update `imports`
  src/content/docs/es/guides/imports.mdx
Labels: i18n

#9057 i18n(zh-cn): Update `craft-cms.mdx`
  src/content/docs/zh-cn/guides/cms/craft-cms.mdx
Labels: i18n, Merge Queue

#9052 i18n(zh-cn): Update `2.mdx`, Fix errors in translation
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
Labels: i18n, Merge Queue

#9045 Link the Fontsource docs for Preloading Fonts in the Fonts page
  src/content/docs/en/guides/fonts.mdx
Labels: add new content, Merge Queue

#9017 Update view-transitions.mdx
  src/content/docs/en/guides/view-transitions.mdx
Labels: add new content, Merge Queue

#9066 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9071 fix(guides): typo in `view-transitions.mdx` code block title
  src/content/docs/en/guides/view-transitions.mdx
Labels: consistency/formatting

#9068 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#9070 i18n(fr): update `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#9075 i18n(zh-cn): Update `fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n

#9064 Document new `astro:route:setup` hook
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#9054 add docs for meta attribute in Code component
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#9041 i18n(hi): update `project-structure.mdx`
  src/content/docs/hi/basics/project-structure.mdx
Labels: i18n

#9042 i18n(hi): update `astro-syntax.mdx`
  src/content/docs/hi/basics/astro-syntax.mdx
Labels: i18n

#9038 i18n(hi): update `nav.ts`
  src/i18n/hi/nav.ts
Labels: i18n

#9040 i18n(hi): update `editor-setup.mdx`
  src/content/docs/hi/editor-setup.mdx
Labels: i18n

#9061 i18n(pt-BR): update `astro-components.mdx`
  src/content/docs/pt-br/basics/astro-components.mdx
Labels: i18n

#9074 Update markdown-content.mdx
  src/content/docs/en/guides/markdown-content.mdx
Labels: code snippet update, Merge Queue

#9083 Fix Algolia DocSearch result categorisation
  src/components/starlight/Search.astro
Labels: site improvement

#9088 i18n(fr): update `guides/markdown-content.mdx`
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#9081 4.14.0 Minor Release Docs
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/guides/typescript.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/cli-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/get-entry-deprecation-error.mdx
  src/content/docs/en/reference/errors/unknown-filesystem-error.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content, merge-on-release, minor-release

#9106 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9105 i18n(ko-KR): create `unknown-filesystem-error.mdx`
  src/content/docs/ko/reference/errors/unknown-filesystem-error.mdx
Labels: i18n

#9104 i18n(ko-KR): create `get-entry-deprecation-error.mdx`
  src/content/docs/ko/reference/errors/get-entry-deprecation-error.mdx
Labels: i18n

#9103 i18n(ko-KR): update `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
Labels: i18n

#9102 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#9101 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9097 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
Labels: i18n

#9100 i18n(ko-KR): update `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#9099 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#9098 i18n(ko-KR): update `middleware.mdx`
  src/content/docs/ko/guides/middleware.mdx
Labels: i18n

#9096 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n

#9095 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#9093 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#9092 i18n(ko-KR): update `astro-syntax.mdx`
  src/content/docs/ko/basics/astro-syntax.mdx
Labels: i18n

#9090 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n

#9073 Update editor-setup.mdx to mention new Webstorm features.
  src/content/docs/en/editor-setup.mdx
Labels: improve documentation

#9113 i18n(fr): update `install-and-setup.mdx`
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#9076 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, Merge Queue

#9091 i18n(zh-cn): Update `astro-syntax.mdx`
  src/content/docs/zh-cn/basics/astro-syntax.mdx
Labels: i18n, Merge Queue

#9117 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#9119 i18n(fr): update `integrations-reference.mdx`
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#9118 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9112 i18n(fr): update guides and integration-guides
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#9114 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9120 i18n(fr): update `editor-setup.mdx`
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#9111 i18n(fr): update error references
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/get-entry-deprecation-error.mdx
  src/content/docs/fr/reference/errors/unknown-filesystem-error.mdx
Labels: i18n

#9126 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#9129 Update view-transitions.mdx
  src/content/docs/en/guides/view-transitions.mdx
Labels: code snippet update, Merge Queue

#9116 i18n(fr): update `cli-reference.mdx` & `configuration-reference.mdx`
  src/content/docs/fr/reference/cli-reference.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9138 i18n(ko-KR): update `astro-db.mdx`
  src/content/docs/ko/guides/astro-db.mdx
Labels: i18n

#9140 i18n(zh-cn): update `astro-db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
Labels: i18n

#9148 fix: newline not being interpreted while adding .astro directory to gitignore file
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation, code snippet update

#9131 [i18nIgnore] Upgrade Starlight to 0.26.1
  astro.config.ts
  config/sidebar.ts
  package.json
  pnpm-lock.yaml
  src/components/starlight/MobileMenuFooter.astro
  src/components/starlight/Sidebar.astro
  src/content/docs/ar/getting-started.mdx
  src/content/docs/de/getting-started.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/es/getting-started.mdx
  src/content/docs/fr/getting-started.mdx
  src/content/docs/hi/getting-started.mdx
  src/content/docs/it/getting-started.mdx
  src/content/docs/ja/getting-started.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/pl/getting-started.mdx
  src/content/docs/pt-br/getting-started.mdx
  src/content/docs/ru/getting-started.mdx
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n, site improvement

#9153 i18n(fr): update `guides/content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#9151 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#9150 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#9136 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9137 i18n(fr): update `guides/astro-db.mdx`
  src/content/docs/fr/guides/astro-db.mdx
Labels: i18n

#9139 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9142 i18n(zh-cn): update some docs from 4.14
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
  src/content/docs/zh-cn/guides/middleware.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n

#9141 i18n(zh-cn): update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#9162 Fix import in Netlify adapter guide
  src/content/docs/en/guides/integrations-guide/netlify.mdx
Labels: typo/link/grammar - quick fix!, improve documentation

#9163 i18n(fr): update `integrations-guide/netlify.mdx`
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
Labels: i18n

#9152 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#9154 i18n(fr): update `integrations-guide/vercel.mdx`
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
Labels: i18n

#9146 i18n(zh-cn): update `integrations-reference.mdx`
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#9147 i18n(zh-cn): update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#9145 i18n(zh-cn): update error-reference
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/get-entry-deprecation-error.mdx
  src/content/docs/zh-cn/reference/errors/unknown-filesystem-error.mdx
Labels: i18n

#9143 i18n(zh-cn): update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#9173 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n

#9172 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#9171 i18n(zh-cn): Update `netlify.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#9170 i18n(zh-cn): Update `content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#9178 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#9177 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#9182 Adds Hosted Media / DAM section to Content Management section
  public/logos/cloudinary.svg
  src/components/MediaGuidesNav.astro
  src/components/starlight/MarkdownContent.astro
  src/content/config.ts
  src/content/docs/en/guides/media.mdx
  src/content/docs/en/guides/media/cloudinary.mdx
  src/data/logos.ts
  src/i18n/en/nav.ts
  src/i18n/en/ui.ts
  src/util/getPageCategory.ts
  src/util/isSubPage.ts
Labels: add new content, site improvement

#9175 i18n(es): Update `fonts.mdx`
  src/content/docs/es/guides/fonts.mdx
Labels: i18n

#9183 i18n(fr): add `guides/media.mdx` & `guides/media/cloudinary.mdx`
  src/content/docs/fr/guides/media.mdx
  src/content/docs/fr/guides/media/cloudinary.mdx
  src/i18n/fr/nav.ts
  src/i18n/fr/ui.ts
Labels: i18n

#9184 i18n(ko-KR): update `ui.ts`
  src/i18n/ko/ui.ts
Labels: i18n

#9185 i18n(ko-KR): update `nav.ts`
  src/i18n/ko/nav.ts
Labels: i18n
