Repository withastro/docs, pull requests merged in 2025-06, with the labels that each got.

#11817 i18n(ru): Add new `guides/endpoints.mdx` translation
  src/content/docs/ru/guides/endpoints.mdx
  src/content/docs/ru/guides/on-demand-rendering.mdx
  src/content/docs/ru/guides/upgrade-to/v3.mdx
  src/content/docs/ru/recipes/captcha.mdx
  src/content/docs/ru/reference/integrations-reference.mdx
Labels: i18n

#11816 i18n(ko-KR): update `configuration-reference.mdx` and `responsive-images.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/experimental-flags/responsive-images.mdx
Labels: i18n

#11815 i18n(ko-KR): update `v5.mdx`
  src/content/docs/ko/guides/upgrade-to/v5.mdx
Labels: i18n

#11814 i18n(zh-cn): Update `modules/`
  src/content/docs/zh-cn/reference/modules/astro-actions.mdx
  src/content/docs/zh-cn/reference/modules/astro-config.mdx
Labels: i18n

#11700 i18n(ja): Add `guides/migrate-to-astro/from-gitbook.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#11698 i18n(ja): Add `guides/migrate-to-astro/from-docusaurus.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-docusaurus.mdx
Labels: i18n

#11699 i18n(ja): Add `guides/migrate-to-astro/from-eleventy.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-eleventy.mdx
Labels: i18n

#11821 i18n(zh-cn): Update `google-firebase.mdx`
  src/content/docs/zh-cn/guides/backend/google-firebase.mdx
Labels: i18n

#11801 Add docs for renderMarkdown
  src/content/docs/en/reference/content-loader-reference.mdx
Labels: add new content, merge-on-release, minor-release

#11820 i18n(fr): update `experimental-flags/responsive-images.mdx`
  src/content/docs/fr/reference/experimental-flags/responsive-images.mdx
Labels: i18n

#11795 i18n(fr): add new words to the French `i18n-guide`
  i18n-guides/français.md
Labels: i18n

#11827 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#11840 i18n(fr): update `tutorial/5-astro-api/4.mdx`
  src/content/docs/fr/tutorial/5-astro-api/4.mdx
Labels: i18n

#11835 i18n(fr): improve the wording in `upgrade-to/v3.mdx`
  src/content/docs/fr/guides/upgrade-to/v3.mdx
  src/content/docs/fr/guides/upgrade-to/v4.mdx
Labels: i18n

#11841 i18n(fr): improve the wording in already updated files (second pass)
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/guides/backend/supabase.mdx
  src/content/docs/fr/guides/cms/frontmatter-cms.mdx
  src/content/docs/fr/guides/deploy/cloudflare.mdx
  src/content/docs/fr/guides/deploy/index.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/guides/integrations-guide/index.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
  src/content/docs/fr/guides/media/cloudinary.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/install-and-setup.mdx
  src/content/docs/fr/tutorial/2-pages/1.mdx
  src/content/docs/fr/tutorial/2-pages/2.mdx
  src/content/docs/fr/tutorial/2-pages/3.mdx
  src/content/docs/fr/tutorial/2-pages/4.mdx
  src/content/docs/fr/tutorial/3-components/1.mdx
  src/content/docs/fr/tutorial/3-components/4.mdx
  src/content/docs/fr/tutorial/6-islands/1.mdx
Labels: i18n

#11837 i18n(fr): improve the wording in `upgrade-to/v5.mdx`
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/upgrade-to/v5.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#11836 i18n(fr): improve the wording in `upgrade-to/v4.mdx`
  src/content/docs/fr/guides/upgrade-to/v4.mdx
Labels: i18n

#11849 i18n(ko-KR): create `csp.mdx`
  src/content/docs/ko/reference/experimental-flags/csp.mdx
Labels: i18n

#11844 i18n(ko-KR): update `adapter-reference.mdx`
  src/content/docs/ko/reference/adapter-reference.mdx
Labels: i18n

#11860 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#11829 i18n(zh-cn): Update `5-astro-api/4.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
Labels: i18n, Merge Queue

#11832 i18n(zh-cn): Update `server-islands.mdx`
  src/content/docs/zh-cn/guides/server-islands.mdx
Labels: i18n, Merge Queue

#11852 i18n(zh-cn): Update `error-reference.mdx` and related docs
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/csp-not-enabled.mdx
Labels: i18n, Merge Queue

#11862 i18n(zh-cn): Update `configuration-reference.mdx` & `responsive-images.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n, Merge Queue

#11851 i18n(zh-cn): Update `adapter-reference.mdx`
  src/content/docs/zh-cn/reference/adapter-reference.mdx
Labels: i18n, Merge Queue

#11822 i18n(ja): update `guides/routing.mdx`
  src/content/docs/ja/guides/routing.mdx
Labels: i18n

#11790 [i18nIgnore] i18n(ja): update `reference/configuration-reference.mdx`
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#11850 fix: update `csp.mdx`
  src/content/docs/en/reference/experimental-flags/csp.mdx
Labels: i18n

#11868 chore: update CSP docs for v5.9.2
  src/content/docs/en/reference/experimental-flags/csp.mdx
Labels: improve or update documentation, merge-on-release

#11873 i18n(ko-KR): update `integrations-guide/`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
  src/content/docs/ko/guides/integrations-guide/markdoc.mdx
  src/content/docs/ko/guides/integrations-guide/mdx.mdx
  src/content/docs/ko/guides/integrations-guide/partytown.mdx
  src/content/docs/ko/guides/integrations-guide/preact.mdx
  src/content/docs/ko/guides/integrations-guide/react.mdx
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
  src/content/docs/ko/guides/integrations-guide/solid-js.mdx
  src/content/docs/ko/guides/integrations-guide/svelte.mdx
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
  src/content/docs/ko/guides/integrations-guide/vue.mdx
Labels: i18n

#11872 fix: build forms recipe
  src/content/docs/en/recipes/build-forms.mdx
Labels: code snippet update, Merge Queue

#11874 i18n(fr): improve the wording in `guides/styling.mdx`
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/guides/markdown-content.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/styling.mdx
  src/content/docs/fr/tutorial/2-pages/4.mdx
  src/content/docs/fr/tutorial/2-pages/5.mdx
Labels: i18n

#11875 i18n(fr): update `recipes/build-forms.mdx`
  src/content/docs/fr/recipes/build-forms.mdx
Labels: i18n

#11855 i18n(fr): update `adapter-reference.mdx`
  src/content/docs/fr/reference/adapter-reference.mdx
Labels: i18n

#11856 i18n(fr): update `content-loader-reference.mdx`
  src/content/docs/fr/reference/content-loader-reference.mdx
Labels: i18n

#11869 i18n(fr): add `experimental-flags/csp.mdx`
  src/content/docs/fr/reference/experimental-flags/csp.mdx
Labels: i18n

#11878 i18n(ko-KR): update `build-forms.mdx`
  src/content/docs/ko/recipes/build-forms.mdx
Labels: i18n

#11882 fix(csp): code examples
  src/content/docs/en/reference/experimental-flags/csp.mdx
Labels: merge-on-release, code snippet update

#11888 i18n(ko-KR): update `csp.mdx`
  src/content/docs/ko/reference/experimental-flags/csp.mdx
Labels: i18n

#11886 i18n(ko-KR): update `adapter-reference.mdx`
  src/content/docs/ko/reference/adapter-reference.mdx
Labels: i18n

#11887 fix: update codeblock in `adapter-reference.mdx`
  src/content/docs/en/reference/adapter-reference.mdx
Labels: code snippet update

#11741 responsive images stable
  astro.sidebar.ts
  public/_redirects
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
  src/content/docs/en/reference/modules/astro-assets.mdx
  src/content/docs/fr/reference/experimental-flags/responsive-images.mdx
  src/content/docs/ko/reference/experimental-flags/responsive-images.mdx
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#11782 Add docs for experimental live collections
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/live-content-collections.mdx
Labels: add new content, merge-on-release

#11901 5.10.0 Minor release docs
  astro.sidebar.ts
  public/_redirects
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/live-content-config-error.mdx
  src/content/docs/en/reference/experimental-flags/live-content-collections.mdx
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
  src/content/docs/en/reference/modules/astro-assets.mdx
  src/content/docs/fr/reference/experimental-flags/responsive-images.mdx
  src/content/docs/ko/reference/experimental-flags/responsive-images.mdx
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#11910 on-demand rendering for experimental Live Content collections
  src/content/docs/en/reference/experimental-flags/live-content-collections.mdx
Labels: code snippet update

#11914 i18n(ko-KR): update `errors/`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/live-content-config-error.mdx
Labels: i18n

#11892 i18n(fr): update `adapter-reference.mdx`
  src/content/docs/fr/reference/adapter-reference.mdx
Labels: i18n

#11883 i18n(fr): fix link + improve the wording in `guides/typescript.mdx`
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/reference/routing-reference.mdx
Labels: i18n

#11920 fix(live-content-collections): increment `ol` + consistent verb tense
  src/content/docs/en/reference/experimental-flags/live-content-collections.mdx
Labels: consistency/formatting

#11922 i18n(ko-KR): add `live-content-collections.mdx`
  src/content/docs/ko/reference/experimental-flags/live-content-collections.mdx
Labels: i18n

#11921 i18n(ko-KR): update `live-content-config-error.mdx`
  src/content/docs/ko/reference/errors/live-content-config-error.mdx
Labels: i18n

#11924 i18n(fr): update `experimental-flags/live-content-collections.mdx`
  src/content/docs/fr/reference/experimental-flags/live-content-collections.mdx
Labels: i18n

#11916 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11881 i18n(zh-cn): add `experimental-flags/csp.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/csp.mdx
Labels: i18n

#11918 i18n(ko-KR): update `configuration-reference.mdx`, images docs
  src/content/docs/ko/guides/images.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/modules/astro-assets.mdx
Labels: i18n

#11925 i18n(fr): add `errors/live-content-config-error.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/live-content-config-error.mdx
Labels: i18n

#11898 i18n(zh-tw): update `editor-setup.mdx`
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#11880 i18n(zh-cn): Update `build-forms.mdx`
  src/content/docs/zh-cn/recipes/build-forms.mdx
Labels: i18n

#11865 i18n(zh-cn): Update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#11867 i18n(zh-cn): Update `aws.mdx`
  src/content/docs/zh-cn/guides/deploy/aws.mdx
Labels: i18n

#11934 i18n(fr): update `errors/live-content-config-error.mdx`
  src/content/docs/fr/reference/errors/live-content-config-error.mdx
Labels: i18n

#11929 Add `cacheHint.lastModified` to live collections
  src/content/docs/en/reference/experimental-flags/live-content-collections.mdx
Labels: add new content, merge-on-release

#11900 docs: add reference to Astro.slots utility functions in Components guide
  src/content/docs/en/basics/astro-components.mdx
Labels: improve or update documentation, Merge Queue

#11908 docs: add note about non-deterministic sort order in collections
  src/content/docs/en/guides/content-collections.mdx
Labels: add new content, Merge Queue

#11941 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#11942 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#11943 i18n(fr): update `guides/content-collections`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#11940 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/basics/astro-components.mdx
  src/content/docs/ko/reference/errors/live-content-config-error.mdx
Labels: i18n

#11937 i18n(fr): update `basics/astro-components`
  src/content/docs/fr/basics/astro-components.mdx
Labels: i18n

#11870 Update to Starlight `0.34.4`
  astro.config.ts
  config/plugins/rehype-autolink.ts
  config/plugins/remark-fallback-lang.ts
  package.json
  pnpm-lock.yaml
  src/components/Landing/Discord.astro
  src/components/StudioHeading.astro
  src/components/starlight/EditLink.astro
  src/components/starlight/Footer.astro
  src/components/starlight/Head.astro
  src/components/starlight/Hero.astro
  src/components/starlight/MarkdownContent.astro
  src/components/starlight/MobileMenuFooter.astro
  src/components/starlight/MobileTableOfContents.astro
  src/components/starlight/PageSidebar.astro
  src/components/starlight/PageTitle.astro
  src/components/starlight/Pagination.astro
  src/components/starlight/Sidebar.astro
  src/components/starlight/SiteTitle.astro
  src/components/starlight/TableOfContents.astro
  src/components/tutorial/Box.astro
  src/components/tutorial/PreCheck.astro
  src/components/tutorial/TutorialNav.astro
  src/content/i18n-schema.ts
  src/content/i18n/ar.yml
  src/content/i18n/de.yml
  src/content/i18n/en.yml
  src/content/i18n/es.yml
  src/content/i18n/fr.yml
  src/content/i18n/hi.yml
  src/content/i18n/it.yml
  src/content/i18n/ja.yml
  src/content/i18n/ko.yml
  src/content/i18n/pl.yml
  src/content/i18n/pt-BR.yml
  src/content/i18n/ru.yml
  src/content/i18n/zh-CN.yml
  src/content/i18n/zh-TW.yml
  src/env.d.ts
  src/routeData.ts
Labels: i18n, site improvement

#11935 Add CloudRay deployment Guide
  public/logos/cloudray.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/en/guides/deploy/cloudray.mdx
  src/data/logos.ts
Labels: 3rd-party guide

#11958 i18n(zh-cn): Update `authentication.mdx`
  src/content/docs/zh-cn/guides/authentication.mdx
Labels: i18n

#11951 i18n(zh-tw): update `guides/deploy/github.mdx`
  src/content/docs/zh-tw/guides/deploy/github.mdx
Labels: i18n

#11959 i18n(zh-cn): Update `content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#11948 i18n(ko-KR): create `astro-courses.mdx`
  src/content/docs/ko/astro-courses.mdx
Labels: i18n

#11933 i18n(fr): update `integrations-guide/cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n
