Repository withastro/docs, pull requests merged in 2025-02, with the labels that each got.

#10864 i18n(fr): update `integrations-guide/*` (Lit, MDX, Tailwind)
  src/content/docs/fr/guides/integrations-guide/lit.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
Labels: i18n

#10863 i18n(fr): update `guides/imports.mdx`
  src/content/docs/fr/guides/imports.mdx
Labels: i18n

#10862 i18n(fr): update `guides/fonts.mdx`
  src/content/docs/fr/guides/fonts.mdx
Labels: i18n

#10861 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#10872 fix: misplaced sentence in `serialized-configuration.mdx`
  src/content/docs/en/reference/experimental-flags/serialized-configuration.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10874 i18n(fr): update `contribute.mdx`
  src/content/docs/fr/contribute.mdx
Labels: i18n

#10870 i18n(zh-cn): Add `serialized-configuration.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/serialized-configuration.mdx
Labels: i18n

#10875 Fix code formatting in `serialized-configuration.mdx`
  src/content/docs/en/reference/experimental-flags/serialized-configuration.mdx
Labels: consistency/formatting

#10871 i18n(fr): add `experimental-flags/serialized-configuration.mdx`
  src/content/docs/fr/reference/experimental-flags/serialized-configuration.mdx
Labels: i18n

#10820 i18n(fr): update `migrate-to-astro/from-gatsby.mdx`
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#10866 i18n(fr): update `guides/migrate-to-astro/from-*` (CRA, Hugo, NextJS)
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#10847 i18n(ko-KR): create `serialized-configuration.mdx`
  src/content/docs/ko/reference/experimental-flags/serialized-configuration.mdx
Labels: i18n

#10844 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#10836 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#10829 i18n(ko-KR): update `migrate-to-astro/`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#10879 i18n(fr): update `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#10880 i18n(fr): update `guides/styling.mdx`
  src/content/docs/fr/guides/styling.mdx
Labels: i18n

#10881 i18n(fr): update `recipes/tailwind-rendered-markdown.mdx`
  src/content/docs/fr/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#10790 docs: update `guides/deploy/cloudflare.mdx`
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: improve or update documentation, Merge Queue

#10887 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#10885 i8n(zh-cn): Update `authentication.mdx`
  src/content/docs/zh-cn/guides/authentication.mdx
Labels: i18n

#10830 i18n(zh-cn): Update `astro-i18n.mdx`
  src/content/docs/zh-cn/reference/modules/astro-i18n.mdx
Labels: i18n

#10890 i18n(fr): update `guides/deploy/cloudflare.mdx`
  src/content/docs/fr/guides/deploy/cloudflare.mdx
Labels: i18n

#10897 i18n(zh-cn): Update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#10895 i18n(zh-tw): update `editor-setup.mdx`
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#10891 i18n(zh-tw): update `guides/deploy/cloudflare.mdx`
  src/content/docs/zh-tw/guides/deploy/cloudflare.mdx
Labels: i18n

#10888 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#10883 i18n(pt-br): Update content-i18n-pt-BR.yml
  src/content/i18n/pt-BR.yml
Labels: i18n

#10898 chore: update github node adapter URL
  src/content/docs/en/guides/integrations-guide/node.mdx
Labels: site improvement, merge-on-release

#10899 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#10822 fix: add undocumented options in `integrations-reference.mdx`
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/reference/integrations-reference.mdx
Labels: add new content

#10859 i18n(es): Update upgrade-astro.mdx
  src/content/docs/es/upgrade-astro.mdx
Labels: i18n

#10886 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#10854 i18n(zh-cn): Update styling.mdx
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#10853 i18n(zh-cn): Update `routing.mdx`
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n

#10841 i18n(zh-cn): Add `programmatic-reference.mdx`
  src/content/docs/zh-cn/reference/programmatic-reference.mdx
Labels: i18n

#10831 i18n(zh-cn): Update `react.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n

#10812 i18n(zh-cn): Add `server-islands.mdx`
  src/content/docs/zh-cn/guides/server-islands.mdx
Labels: i18n

#10811 i18n(zh-tw): update `basics/astro-pages.mdx`
  src/content/docs/zh-tw/basics/astro-pages.mdx
Labels: i18n

#10809 i18n(zh-cn): Update some error docs
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/zh-cn/reference/errors/content-loader-returns-invalid-id.mdx
  src/content/docs/zh-cn/reference/errors/unsupported-external-redirect.mdx
Labels: i18n

#10808 i18n(zh-cn): Update `from-gatsby.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#10807 i18n(es): Update preact.mdx
  src/content/docs/es/guides/integrations-guide/preact.mdx
Labels: i18n

#10799 i18n(it) - created `develop-and-build.mdx`
  src/content/docs/it/develop-and-build.mdx
Labels: i18n

#10755 i18n(es): Update `project-structure.mdx`
  src/content/docs/es/basics/project-structure.mdx
Labels: i18n

#10893 i18n(zh-cn): Update `tutorial/`
  src/content/docs/zh-cn/tutorial/2-pages/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
  src/content/docs/zh-cn/tutorial/6-islands/4.mdx
Labels: i18n, Merge Queue

#10903 i18n(zh-cn): Update `integration-guide/`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
Labels: i18n, Merge Queue

#10909 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#10907 i18n(ko-KR): update `node.mdx`
  src/content/docs/ko/guides/integrations-guide/node.mdx
Labels: i18n, Merge Queue

#10906 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n, Merge Queue

#10905 i18n(zh-cn): Update `serialized-configuration.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/serialized-configuration.mdx
Labels: i18n

#10911 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
Labels: i18n

#10908 i18n(ko-KR): update `v5.mdx`
  src/content/docs/ko/guides/upgrade-to/v5.mdx
Labels: i18n

#10910 chore: update github cloudflare adapter URL
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: merge-on-release

#10916 i18n(fr): update adapter links in `integrations-guide/*`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
Labels: i18n

#10917 i18n(fr): update code snippet in `upgrade-to/v5.mdx`
  src/content/docs/fr/guides/upgrade-to/v5.mdx
Labels: i18n

#10918 i18n(fr): update a link in `editor-setup.mdx`
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#10914 i18n(fr): update `integrations-reference.mdx`
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#10921 i18n(zh-cn): Update `integrations-guide/`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#10925 i18n(zh-cn): Update `v5.mdx`
  src/content/docs/zh-cn/guides/upgrade-to/v5.mdx
Labels: i18n

#10923 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#10922 i18n(ko-KR): update `integrations-reference.mdx`
  src/content/docs/ko/reference/integrations-reference.mdx
Labels: i18n

#10930 i18n(hi): update `astro-pages.mdx`
  src/content/docs/hi/basics/astro-pages.mdx
Labels: i18n

#10928 i18n(hi): update `hi.ts` navigation strings
  src/content/nav/hi.ts
Labels: i18n

#10927 i18n(hi): update`hi.yml`
  src/content/i18n/hi.yml
Labels: i18n

#10806 i18n(es): Update react.mdx
  src/content/docs/es/guides/integrations-guide/react.mdx
Labels: i18n

#10932 i18n(ko-KR): update `cant-use-astro-config-module-error.mdx`
  src/content/docs/ko/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/ko/reference/experimental-flags/index.mdx
Labels: i18n

#10934 i18n(fr): update `errors/cant-use-astro-config-module-error.mdx`
  src/content/docs/fr/reference/errors/cant-use-astro-config-module-error.mdx
Labels: i18n

#10933 i18n(fr): update links in `integrations-reference.mdx`
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#10656 Update mention about script processing behavior in JSX expression
  src/content/docs/en/guides/client-side-scripts.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: add new content, merge-on-release, Merge Queue

#10687 i18n(fr): update `guides/upgrade-to/v5.mdx` and `guides/client-side-scripts.mdx`
  src/content/docs/fr/guides/client-side-scripts.mdx
  src/content/docs/fr/guides/upgrade-to/v5.mdx
Labels: i18n, merge-on-release

#10939 i18n(zh-cn): Update `client-side-scripts.mdx`
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#10936 i18n(zh-cn): Update `cant-use-astro-config-module-error.mdx`
  src/content/docs/zh-cn/reference/errors/cant-use-astro-config-module-error.mdx
Labels: i18n, Merge Queue

#10937 i18n(ko-KR): update `client-side-scripts.mdx`
  src/content/docs/ko/guides/client-side-scripts.mdx
Labels: i18n

#10938 i18n(ko-KR): update `v5.mdx`
  src/content/docs/ko/guides/upgrade-to/v5.mdx
Labels: i18n

#10867 i18n(ja): Update github.mdx i18n
  src/content/docs/ja/guides/deploy/github.mdx
Labels: i18n

#10760 Docs update for includeFiles and excludeFiles options on netlify adapter
  src/content/docs/en/guides/integrations-guide/netlify.mdx
Labels: add new content, merge-on-release, minor-release

#10915 feat: add docs for experimental sessions auto-config
  src/content/docs/en/reference/experimental-flags/sessions.mdx
Labels: merge-on-release, minor-release

#10947 Document new HEAD handling
  src/content/docs/en/guides/endpoints.mdx
Labels: merge-on-release, minor-release

#10950 5.3.0 Minor release docs
  src/content/docs/en/guides/endpoints.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/session-config-missing-error.mdx
  src/content/docs/en/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/en/reference/errors/session-without-supported-adapter-output-error.mdx
  src/content/docs/en/reference/experimental-flags/sessions.mdx
Labels: add new content, merge-on-release, minor-release

#10954 [nightly.yml] update PR title for ci config reference docs
  .github/workflows/nightly.yml
Labels: 🚨 action

#10955 Update Astro & co.
  package.json
  pnpm-lock.yaml
Labels: site improvement

#10940 i18n(zh-cn): Update `v5.mdx`
  src/content/docs/zh-cn/guides/upgrade-to/v5.mdx
Labels: i18n

#10960 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#10961 i18n(ko-KR): update `error-reference.mdx` and `errors/`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/session-config-missing-error.mdx
  src/content/docs/ko/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/ko/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#10931 i18n(zh-cn): Update `integrations-reference.mdx`
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#10957 i18n(ko-KR): update `endpoints.mdx`
  src/content/docs/ko/guides/endpoints.mdx
Labels: i18n

#10964 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#10973 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#10972 i18n(fr): update `integrations-guide/netlify.mdx`
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
Labels: i18n

#10975 i18n(fr): update errors references
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/session-config-missing-error.mdx
  src/content/docs/fr/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/fr/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#10976 i18n(fr): update code snippets in recipes and `markdoc.mdx`
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/recipes/modified-time.mdx
  src/content/docs/fr/recipes/reading-time.mdx
  src/content/docs/fr/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#10970 i18n(fr): update code snippet in `guides/content-collections.mdx`
  src/content/docs/fr/guides/content-collections.mdx
Labels: i18n

#10969 i18n(ko-KR): update `tailwind-rendered-markdown.mdx`
  src/content/docs/ko/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#10968 i18n(ko-KR): update `reading-time.mdx`
  src/content/docs/ko/recipes/reading-time.mdx
Labels: i18n

#10967 i18n(ko-KR): update `modified-time.mdx`
  src/content/docs/ko/recipes/modified-time.mdx
Labels: i18n

#10974 i18n(fr): update `experimental-flags/sessions.mdx`
  src/content/docs/fr/reference/experimental-flags/sessions.mdx
Labels: i18n

#10983 i18n(fr): fix a heading in `integrations-guide/markdoc.mdx`
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
Labels: i18n

#10965 i18n(ko-KR): update `sessions.mdx`
  src/content/docs/ko/reference/experimental-flags/sessions.mdx
Labels: i18n

#10982 i18n(es): Add `syntax-highlighting.mdx`
  src/content/docs/es/guides/syntax-highlighting.mdx
Labels: i18n

#10989 i18n(fr): update code snippet in `guides/middleware.mdx`
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#10990 i18n(ko-KR): update `middleware.mdx`
  src/content/docs/ko/guides/middleware.mdx
Labels: i18n

#10993 fix: update cli commands in `testing.mdx`
  src/content/docs/en/guides/testing.mdx
Labels: code snippet update

#10992 fix: update link pointing to removed heading
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: typo/link/grammar - quick fix!

#10991 fix: update zed extension link
  src/content/docs/en/editor-setup.mdx
Labels: typo/link/grammar - quick fix!

#10998 i18n(zh-tw): update `editor-setup.mdx`
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#10985 i18n(pt-br): Add develop-and-build.mdx
  src/content/docs/pt-br/develop-and-build.mdx
Labels: i18n

#11003 i18n(fr): update a link in `integrations-guide/cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11002 i18n(fr): update link in `editor-setup.mdx`
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#11000 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11001 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#10996 i18n(zh-cn): Update `render(entry)` function in `recipes/` & `markdoc.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
  src/content/docs/zh-cn/recipes/modified-time.mdx
  src/content/docs/zh-cn/recipes/reading-time.mdx
  src/content/docs/zh-cn/recipes/tailwind-rendered-markdown.mdx
Labels: i18n

#11004 i18n(fr): update CLI commands in `guides/testings.mdx`
  src/content/docs/fr/guides/testing.mdx
Labels: i18n

#11009 i18n(zh-cn): Update `middleware.mdx`
  src/content/docs/zh-cn/guides/middleware.mdx
Labels: i18n

#11007 i18n(zh-cn): Update `editor-setup.mdx`
  src/content/docs/zh-cn/editor-setup.mdx
Labels: i18n

#11006 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11005 i18n(zh-cn): Update `testing.mdx`
  src/content/docs/zh-cn/guides/testing.mdx
Labels: i18n

#10994 UTM tags in Flotiq links
  src/content/docs/en/guides/cms/flotiq.mdx
Labels: Merge Queue, community resource

#11015 fix: update a word in `islands.mdx`
  src/content/docs/en/concepts/islands.mdx
Labels: typo/link/grammar - quick fix!

#11014 i18n(ko-KR): update `flotiq.mdx`
  src/content/docs/ko/guides/cms/flotiq.mdx
Labels: i18n

#11017 i18n(zh-cn): Update `flotiq.mdx`
  src/content/docs/zh-cn/guides/cms/flotiq.mdx
Labels: i18n

#11018 i18n(fr): add UTM tags to `cms/flotiq.mdx`
  src/content/docs/fr/guides/cms/flotiq.mdx
Labels: i18n

#11013 i18n(ko-KR): update `getting-started.mdx` and `concepts/`
  i18n-guides/한국어.md
  src/content/docs/ko/concepts/islands.mdx
  src/content/docs/ko/concepts/why-astro.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-eleventy.mdx
Labels: i18n

#11012 i18n(es): Add `on-demand-rendering.mdx`
  src/content/docs/es/guides/astro-db.mdx
  src/content/docs/es/guides/on-demand-rendering.mdx
Labels: i18n

#11022 i18n(ko-KR): update `contribute.mdx`, `develop-and-build.mdx`, `editor-setup.mdx`
  i18n-guides/한국어.md
  src/content/docs/ko/contribute.mdx
  src/content/docs/ko/develop-and-build.mdx
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#11030 i18n(ko-KR): update `install-and-setup.mdx`
  i18n-guides/한국어.md
  src/content/docs/ko/contribute.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-wordpress.mdx
  src/content/docs/ko/install-and-setup.mdx
  src/content/docs/ko/recipes/bun.mdx
Labels: i18n

#10943 i18n(zh-tw): update `reference/astro-syntax.mdx`
  src/content/docs/zh-tw/reference/astro-syntax.mdx
Labels: i18n

#11032 i18n(ko-KR): update `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#11020 [from wordpress] another community resource
  src/content/docs/en/guides/migrate-to-astro/from-wordpress.mdx
Labels: Merge Queue, community resource

#11026 Fixes #10941 and replace outdated links in troubleshoot page
  src/content/docs/en/guides/troubleshooting.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10951 Update view-transitions.mdx
  src/content/docs/en/guides/view-transitions.mdx
Labels: improve or update documentation, Merge Queue

#11044 i18n(fr): update `install-and-setup.mdx`
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#11046 i18n(fr): update links in `guides/troubleshooting.mdx`
  src/content/docs/fr/guides/troubleshooting.mdx
Labels: i18n

#11045 i18n(fr): update `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#11042 i18n(zh-cn): Update `from-wordpress.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#11041 i18n(zh-cn): Update `troubleshooting.mdx`
  src/content/docs/zh-cn/guides/troubleshooting.mdx
Labels: i18n

#11040 i18n(zh-cn): Update `install-and-setup.mdx`
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n

#11035 i18n(ko-KR): update `from-wordpress.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#11033 i18n(ko-KR): update `upgrade-astro.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/ko/reference/errors/env-invalid-variable.mdx
  src/content/docs/ko/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/ko/reference/errors/invalid-rewrite404.mdx
  src/content/docs/ko/reference/errors/locals-not-serializable.mdx
  src/content/docs/ko/reference/errors/markdown-content-schema-validation-error.mdx
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#11050 i18n(ko-KR): update `astro-components.mdx` and `project-structure.mdx`
  src/content/docs/ko/basics/astro-components.mdx
  src/content/docs/ko/basics/project-structure.mdx
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#11055 Use `PackageManagerTabs` for CLI commands in `guides/environment-variables`
  src/content/docs/en/guides/environment-variables.mdx
Labels: code snippet update

#11058 i18n(fr): update code snippet in `guide/environment-variables.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#11059 i18n(fr): update `basics/astro-components.mdx`
  src/content/docs/fr/basics/astro-components.mdx
Labels: i18n

#11063 fix: update `configuring-astro.mdx`
  src/content/docs/en/guides/configuring-astro.mdx
Labels: code snippet update, consistency/formatting

#11019 feat: document new CLI flag
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11065 feat(vercel): update `exclude` API for upcoming new feature
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11021 5.4.0: Markdown Remote Images
  src/content/docs/en/guides/images.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11060 Experimental responsive images for Markdown
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11064 fix: update prettier setup in `editor-setup.mdx`
  src/content/docs/en/editor-setup.mdx
Labels: improve or update documentation

#11071 i18n(fr): Update `guides/configuring-astro` from #11063
  src/content/docs/fr/guides/configuring-astro.mdx
Labels: i18n

#11070 i18n(fr): Update `editor-setup` from #11064
  src/content/docs/fr/editor-setup.mdx
Labels: i18n
