Repository withastro/docs, pull requests merged in 2025-10, with the labels that each got.

#12469 [v6] clean deprecated APIs
  src/content/docs/en/guides/upgrade-to/v6.mdx
Labels: 6.0

#12467 [v6] trailing slash never for endpoints with file extension
  src/content/docs/en/guides/endpoints.mdx
  src/content/docs/en/guides/upgrade-to/v6.mdx
Labels: 6.0

#12335 Clarify remote Markdown support in Astro
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve or update documentation, Merge Queue

#12481 i18n(fr): update `guides/markdown-content.mdx`
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#12479 i18n(de): update why-astro.mdx
  src/content/docs/de/concepts/why-astro.mdx
Labels: i18n

#12494 [v6] stabilize experimental.staticImportMetaEnv
  astro.sidebar.ts
  src/content/docs/en/guides/upgrade-to/v6.mdx
  src/content/docs/en/reference/experimental-flags/static-import-meta-env.mdx
  src/content/docs/fr/reference/experimental-flags/static-import-meta-env.mdx
  src/content/docs/ko/reference/experimental-flags/static-import-meta-env.mdx
Labels: i18n, 6.0

#12472 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#12496 i18n(de): update heroku.mdx
  src/content/docs/de/guides/deploy/heroku.mdx
Labels: i18n, hacktoberfest-accepted

#12454 i18n(ja): update `tutorial/5-astro-api/2.mdx`
  src/content/docs/ja/tutorial/5-astro-api/2.mdx
Labels: i18n

#12455 i18n(ja): update `tutorial/5-astro-api/3.mdx`
  src/content/docs/ja/tutorial/5-astro-api/3.mdx
Labels: i18n

#12498 i18n(fr): Update `reference/cli-reference.mdx` from #12495
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#12453 i18n(ja): update `tutorial/5-astro-api/index.mdx`
  src/content/docs/ja/tutorial/5-astro-api/index.mdx
Labels: i18n

#12499 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#12449 i18n(ja): update `guides/imports.mdx`
  src/content/docs/ja/guides/imports.mdx
Labels: i18n

#12452 i18n(ja): update `tutorial/5-astro-api/1.mdx`
  src/content/docs/ja/tutorial/5-astro-api/1.mdx
Labels: i18n

#12512 docs: add Hacktoberfest participation information
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: hacktoberfest-accepted

#12513 i18n(fr): Add `reference/container-reference.mdx`
  src/content/docs/fr/reference/container-reference.mdx
Labels: i18n, hacktoberfest-accepted

#12518 i18n(fr): update `container-reference.mdx`
  src/content/docs/fr/reference/container-reference.mdx
Labels: i18n

#12519 i18n(fr): update links in `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#12419 i18n(ja): recipe/build custom img component
  src/content/docs/ja/recipes/build-custom-img-component.mdx
Labels: i18n

#12474 i18n(zh-cn): Update errors
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/font-family-not-found.mdx
  src/content/docs/zh-cn/reference/errors/live-content-config-error.mdx
  src/content/docs/zh-cn/reference/errors/prerender-route-conflict.mdx
  src/content/docs/zh-cn/reference/errors/response-sent-error.mdx
Labels: i18n

#12473 i18n(zh-cn): Update `server-islands.mdx`
  src/content/docs/zh-cn/guides/server-islands.mdx
Labels: i18n

#12461 i18n(zh-cn): Update `tutorial/*`
  src/content/docs/zh-cn/tutorial/2-pages/4.mdx
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
  src/content/docs/zh-cn/tutorial/3-components/4.mdx
  src/content/docs/zh-cn/tutorial/3-components/index.mdx
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n
