Repository withastro/docs, pull requests merged in 2025-04, with the labels that each got.

#11332 fix(docs-11320): fix ts error on recipies/i18n
  src/content/docs/en/recipes/i18n.mdx
Labels: code snippet update

#11341 i18n(ko-KR): update `i18n.mdx`
  src/content/docs/ko/recipes/i18n.mdx
Labels: i18n

#11339 i18n(zh-cn): fix typo in `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#11335 i18n(zh-cn): Add `gitcms.mdx`
  src/content/docs/zh-cn/guides/cms/gitcms.mdx
Labels: i18n

#11342 i18n(fr): update `recipes/i18n.mdx`
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#11250 Add `eagerness` option description and example for `prefetch()`
  src/content/docs/en/guides/prefetch.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11347 Add session.load
  src/content/docs/en/reference/experimental-flags/sessions.mdx
Labels: add new content, merge-on-release, minor-release

#11348 Update svg reference for removed features
  src/content/docs/en/reference/experimental-flags/svg.mdx
Labels: improve or update documentation, merge-on-release, minor-release

#11343 5.6.0 Minor release docs
  src/content/docs/en/guides/prefetch.mdx
  src/content/docs/en/reference/adapter-reference.mdx
  src/content/docs/en/reference/experimental-flags/sessions.mdx
  src/content/docs/en/reference/experimental-flags/svg.mdx
Labels: add new content, merge-on-release, minor-release

#11279 Edit Tailwind style section to change links and wording
  src/content/docs/en/concepts/why-astro.mdx
  src/content/docs/en/getting-started.mdx
  src/content/docs/en/guides/integrations-guide/index.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/styling.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/reference/integrations-reference.mdx
  src/content/docs/en/reference/programmatic-reference.mdx
  src/content/docs/en/upgrade-astro.mdx
Labels: improve or update documentation

#11354 Exclude Learn Astro ad from Algolia indexing
  src/components/RightSidebar/LearnAstroAd.astro
Labels: site improvement

#11305 i18n(ja-JP): update `content/nav/ja.ts`
  src/content/nav/ja.ts
Labels: i18n

#11319 i18n(zh-cn): Add `studiocms.mdx`
  src/content/docs/zh-cn/guides/cms/studiocms.mdx
Labels: i18n

#11355 i18n(ko-KR): update tailwindcss links and sections
  src/content/docs/ko/concepts/why-astro.mdx
  src/content/docs/ko/getting-started.mdx
  src/content/docs/ko/guides/integrations-guide/index.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/styling.mdx
  src/content/docs/ko/install-and-setup.mdx
  src/content/docs/ko/reference/integrations-reference.mdx
  src/content/docs/ko/reference/programmatic-reference.mdx
  src/content/docs/ko/upgrade-astro.mdx
Labels: i18n

#11359 fix: correct steps numbers and link format in `deploy/cloudflare`
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#11365 docs: replace await.then() in `routing-reference.mdx`
  src/content/docs/en/reference/routing-reference.mdx
Labels: code snippet update

#11369 i18n(ko-KR): update `adapter-reference.mdx`
  src/content/docs/ko/reference/adapter-reference.mdx
Labels: i18n

#11372 i18n(ko-KR): update `routing-reference.mdx`
  src/content/docs/ko/reference/routing-reference.mdx
Labels: i18n

#11370 i18n(ko-KR): update `sessions.mdx`
  src/content/docs/ko/reference/experimental-flags/sessions.mdx
Labels: i18n

#11371 i18n(ko-KR): update `svg.mdx`
  src/content/docs/ko/reference/experimental-flags/svg.mdx
Labels: i18n

#11368 i18n(ko-KR): update `prefetch.mdx`
  src/content/docs/ko/guides/prefetch.mdx
Labels: i18n

#11367 i18n(ko-KR): update `integrations-guide/cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11364 i18n(zh-tw): update `getting-started.mdx`
  src/content/docs/zh-tw/getting-started.mdx
Labels: i18n

#11353 i18n(fr): update `guides/prefetch.mdx`
  src/content/docs/fr/guides/prefetch.mdx
Labels: i18n

#11363 i18n(zh-tw): update `concepts/why-astro.mdx`
  src/content/docs/zh-tw/concepts/why-astro.mdx
Labels: i18n

#11366 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#11383 i18n(fr): update `integrations-guide/markdoc.mdx`
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
Labels: i18n

#11382 i18n(fr): update code snippet in `routing-reference.mdx`
  src/content/docs/fr/reference/routing-reference.mdx
Labels: i18n

#11338 i18n(zh-cn): Update `styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#11340 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#11346 i18n(zh-cn): Update `prerender-client-address-not-available.mdx`
  src/content/docs/zh-cn/reference/errors/prerender-client-address-not-available.mdx
Labels: i18n

#11357 i18n(fr): update `concepts/why-astro.mdx`
  src/content/docs/fr/concepts/why-astro.mdx
Labels: i18n

#11358 i18n(fr): replace Tailwind mention in various files
  src/content/docs/fr/getting-started.mdx
  src/content/docs/fr/guides/integrations-guide/index.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/install-and-setup.mdx
  src/content/docs/fr/reference/integrations-reference.mdx
  src/content/docs/fr/reference/programmatic-reference.mdx
  src/content/docs/fr/upgrade-astro.mdx
Labels: i18n

#11350 i18n(fr): update `experimental-flags/sessions.mdx`
  src/content/docs/fr/reference/experimental-flags/sessions.mdx
Labels: i18n

#11384 fix(css): prevent `LearnAstroAd` from being cut off when TOC is long
  src/components/starlight/PageSidebar.astro
Labels: design

#11362 i18n(fr): update `integrations-guide/cloudflare.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11351 i18n(fr): update `reference/adapter-reference.mdx`
  src/content/docs/fr/reference/adapter-reference.mdx
Labels: i18n

#11356 i18n(fr): update `guides/styling.mdx`
  src/content/docs/fr/guides/styling.mdx
Labels: i18n

#11360 i18n(fr): update `deploy/cloudflare.mdx`
  src/content/docs/fr/guides/deploy/cloudflare.mdx
Labels: i18n

#11390 i18n(zh-cn): Update `markdoc.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
Labels: i18n

#11388 i18n(zh-cn): Update `svg.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/svg.mdx
Labels: i18n

#11387 i18n(zh-cn): Update `routing-reference.mdx`
  src/content/docs/zh-cn/reference/routing-reference.mdx
Labels: i18n

#11385 i18n(zh-cn): fix missing code block closing tag in `configuring-astro.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n

#11306 i18n(ru): update some translations
  i18n-guides/russian.md
  src/content/docs/ru/basics/astro-pages.mdx
  src/content/docs/ru/concepts/islands.mdx
  src/content/docs/ru/concepts/why-astro.mdx
  src/content/docs/ru/develop-and-build.mdx
  src/content/docs/ru/getting-started.mdx
  src/content/docs/ru/guides/dev-toolbar.mdx
  src/content/docs/ru/guides/migrate-to-astro/index.mdx
  src/content/docs/ru/guides/testing.mdx
  src/content/docs/ru/guides/upgrade-to/v3.mdx
  src/content/docs/ru/guides/view-transitions.mdx
  src/content/docs/ru/install-and-setup.mdx
  src/content/docs/ru/tutorial/6-islands/1.mdx
  src/content/docs/ru/tutorial/6-islands/2.mdx
  src/content/docs/ru/tutorial/6-islands/index.mdx
Labels: i18n

#11395 Mention .assetsignore in cloudflare deploy docs
  src/content/docs/en/guides/deploy/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: improve or update documentation, Merge Queue

#11376 Update community resources for migration guides
  src/content/docs/en/guides/cms/directus.mdx
  src/content/docs/en/guides/cms/drupal.mdx
  src/content/docs/en/guides/cms/ghost.mdx
  src/content/docs/en/guides/cms/wordpress.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/en/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/en/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/en/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/en/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/en/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/en/guides/migrate-to-astro/from-wordpress.mdx
Labels: consistency/formatting, community resource

#11402 i18n(ko-KR): update `/guides/cms/`
  src/content/docs/ko/guides/cms/directus.mdx
  src/content/docs/ko/guides/cms/drupal.mdx
  src/content/docs/ko/guides/cms/flotiq.mdx
  src/content/docs/ko/guides/cms/ghost.mdx
  src/content/docs/ko/guides/cms/wordpress.mdx
Labels: i18n

#11403 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11404 i18n(ko-KR): update `/guides/migrate-to-astro/`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#11410 i18n(es): update `why-astro.mdx`
  src/content/docs/es/concepts/why-astro.mdx
Labels: i18n

#11412 i18n(fr): update `migrate-to-astro/from` guides to use cards list
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#11408 i18n(fr): update some `guides/cms` to use cards list
  src/content/docs/fr/guides/cms/directus.mdx
  src/content/docs/fr/guides/cms/drupal.mdx
  src/content/docs/fr/guides/cms/ghost.mdx
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#11426 i18n(es): translate `studiocms.mdx`
  src/content/docs/es/guides/cms/studiocms.mdx
Labels: i18n

#11416 i18n(es): translate `actions-cant-be-loaded.mdx`
  src/content/docs/es/reference/errors/actions-cant-be-loaded.mdx
Labels: i18n

#11414 i18n(es): translate `gitcms.mdx`
  src/content/docs/es/guides/cms/gitcms.mdx
Labels: i18n

#11386 i18n(zh-cn): replace Tailwind mention in various files
  src/content/docs/zh-cn/concepts/why-astro.mdx
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/guides/integrations-guide/index.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/zh-cn/guides/styling.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
  src/content/docs/zh-cn/reference/programmatic-reference.mdx
  src/content/docs/zh-cn/upgrade-astro.mdx
Labels: i18n, Merge Queue

#11389 i18n(zh-cn): Update `sessions.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/sessions.mdx
Labels: i18n, Merge Queue

#11392 i18n(zh-cn): Update `prefetch.mdx`
  src/content/docs/zh-cn/guides/prefetch.mdx
Labels: i18n, Merge Queue

#11391 i18n(zh-cn): Update `adapter-reference.mdx`
  src/content/docs/zh-cn/reference/adapter-reference.mdx
Labels: i18n, Merge Queue

#11405 i18n(es): update `astro-components.mdx`
  src/content/docs/es/basics/astro-components.mdx
Labels: i18n

#11406 i18n(es): update `astro-pages.mdx`
  src/content/docs/es/basics/astro-pages.mdx
Labels: i18n

#11411 i18n(es): update `editor-setup.mdx`
  src/content/docs/es/editor-setup.mdx
Labels: i18n

#11413 i18n(es): update `getting-started.mdx`
  src/content/docs/es/getting-started.mdx
Labels: i18n

#11419 i18n(es): translate `client-prerender.mdx`
  src/content/docs/es/reference/experimental-flags/client-prerender.mdx
Labels: i18n

#11433 i18n(es): translate `azion.mdx`
  src/content/docs/es/guides/deploy/azion.mdx
Labels: i18n

#11434 i18n(es): translate `clever-cloud.mdx`
  src/content/docs/es/guides/deploy/clever-cloud.mdx
Labels: i18n

#11432 i18n(es): translate `heading-id-compat.mdx`
  src/content/docs/es/reference/experimental-flags/heading-id-compat.mdx
Labels: i18n

#11401 feat: document `emitImageMetadata`, deprecate `emitESMImage`
  src/content/docs/en/reference/image-service-reference.mdx
Labels: improve or update documentation, add new content, merge-on-release, Merge Queue

#11380 feat: document `astro:config` in reference page
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/en/reference/modules/astro-config.mdx
  src/content/docs/fr/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/ko/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/zh-cn/reference/experimental-flags/serialized-configuration.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#11302 feat: experimental fonts
  astro.sidebar.ts
  src/content/docs/en/guides/fonts.mdx
  src/content/docs/en/reference/experimental-flags/fonts.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#11352 Stable sessions docs
  astro.sidebar.ts
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/node.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/sessions.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/session-config-missing-error.mdx
  src/content/docs/en/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/en/reference/errors/session-storage-init-error.mdx
  src/content/docs/en/reference/errors/session-storage-save-error.mdx
  src/content/docs/en/reference/errors/session-without-supported-adapter-output-error.mdx
  src/content/docs/en/reference/experimental-flags/sessions.mdx
  src/content/docs/es/reference/errors/session-config-missing-error.mdx
  src/content/docs/es/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/es/reference/errors/session-storage-init-error.mdx
  src/content/docs/es/reference/errors/session-storage-save-error.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
  src/content/docs/fr/reference/errors/session-config-missing-error.mdx
  src/content/docs/fr/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/fr/reference/errors/session-storage-init-error.mdx
  src/content/docs/fr/reference/errors/session-storage-save-error.mdx
  src/content/docs/fr/reference/experimental-flags/sessions.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/errors/session-config-missing-error.mdx
  src/content/docs/ko/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/ko/reference/errors/session-storage-init-error.mdx
  src/content/docs/ko/reference/errors/session-storage-save-error.mdx
  src/content/docs/ko/reference/experimental-flags/sessions.mdx
  src/content/docs/pt-br/reference/errors/session-config-missing-error.mdx
  src/content/docs/pt-br/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-init-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-save-error.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/errors/session-config-missing-error.mdx
  src/content/docs/zh-cn/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-init-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-save-error.mdx
  src/content/docs/zh-cn/reference/experimental-flags/sessions.mdx
Labels: i18n, add new content, merge-on-release, minor-release, Merge Queue

#11400 i18n(fr): update `guides/cms/flotiq.mdx`
  src/content/docs/fr/guides/cms/flotiq.mdx
Labels: i18n

#11437 i18n(zh-cn): Update community resources for migration guides
  src/content/docs/zh-cn/guides/cms/directus.mdx
  src/content/docs/zh-cn/guides/cms/drupal.mdx
  src/content/docs/zh-cn/guides/cms/ghost.mdx
  src/content/docs/zh-cn/guides/cms/wordpress.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-wordpress.mdx
Labels: i18n

#11394 SVG stable for 5.7.0
  astro.sidebar.ts
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/reference/experimental-flags/svg.mdx
  src/content/docs/fr/reference/experimental-flags/svg.mdx
  src/content/docs/ko/reference/experimental-flags/svg.mdx
  src/content/docs/zh-cn/reference/experimental-flags/svg.mdx
Labels: i18n, add new content, merge-on-release, minor-release, Merge Queue

#11444 5.7.0 Minor release docs
  astro.sidebar.ts
  src/content/docs/en/guides/fonts.mdx
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/node.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/sessions.mdx
  src/content/docs/en/reference/api-reference.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/error-reference.mdx
  src/content/docs/en/reference/errors/session-config-missing-error.mdx
  src/content/docs/en/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/en/reference/errors/session-storage-init-error.mdx
  src/content/docs/en/reference/errors/session-storage-save-error.mdx
  src/content/docs/en/reference/errors/session-without-supported-adapter-output-error.mdx
  src/content/docs/en/reference/experimental-flags/fonts.mdx
  src/content/docs/en/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/en/reference/experimental-flags/sessions.mdx
  src/content/docs/en/reference/experimental-flags/svg.mdx
  src/content/docs/en/reference/modules/astro-config.mdx
  src/content/docs/es/reference/errors/session-config-missing-error.mdx
  src/content/docs/es/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/es/reference/errors/session-storage-init-error.mdx
  src/content/docs/es/reference/errors/session-storage-save-error.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
  src/content/docs/fr/reference/errors/session-config-missing-error.mdx
  src/content/docs/fr/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/fr/reference/errors/session-storage-init-error.mdx
  src/content/docs/fr/reference/errors/session-storage-save-error.mdx
  src/content/docs/fr/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/fr/reference/experimental-flags/sessions.mdx
  src/content/docs/fr/reference/experimental-flags/svg.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/errors/session-config-missing-error.mdx
  src/content/docs/ko/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/ko/reference/errors/session-storage-init-error.mdx
  src/content/docs/ko/reference/errors/session-storage-save-error.mdx
  src/content/docs/ko/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/ko/reference/experimental-flags/sessions.mdx
  src/content/docs/ko/reference/experimental-flags/svg.mdx
  src/content/docs/pt-br/reference/errors/session-config-missing-error.mdx
  src/content/docs/pt-br/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-init-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-save-error.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
  src/content/docs/zh-cn/reference/errors/session-config-missing-error.mdx
  src/content/docs/zh-cn/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-init-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-save-error.mdx
  src/content/docs/zh-cn/reference/experimental-flags/serialized-configuration.mdx
  src/content/docs/zh-cn/reference/experimental-flags/sessions.mdx
  src/content/docs/zh-cn/reference/experimental-flags/svg.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#11448 doc: update clever cloud link
  src/content/docs/en/guides/deploy/clever-cloud.mdx
Labels: Merge Queue, community resource

#11450 i18n(ko-KR): update `clever-cloud.mdx`
  src/content/docs/ko/guides/deploy/clever-cloud.mdx
Labels: i18n

#11453 i18n(ko-KR): update `errors/` and `error-reference.mdx`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/cannot-extract-font-type.mdx
  src/content/docs/ko/reference/errors/cannot-fetch-font-file.mdx
  src/content/docs/ko/reference/errors/cannot-load-font-provider.mdx
  src/content/docs/ko/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/ko/reference/errors/experimental-fonts-not-enabled.mdx
  src/content/docs/ko/reference/errors/font-family-not-found.mdx
  src/content/docs/ko/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#11454 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#11456 Update _redirects
  public/_redirects
Labels: site improvement

#11457 i18n(ko-KR): update `images.mdx`
  src/content/docs/ko/guides/images.mdx
Labels: i18n

#11455 i18n(ko-KR): update `astro-config.mdx`
  src/content/docs/ko/reference/modules/astro-config.mdx
Labels: i18n

#11458 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#11459 i18n(ko-KR): update Korean documents
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
  src/content/docs/ko/guides/integrations-guide/node.mdx
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#11465 i18n(fr): update `image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#11461 i18n(fr): update errors references
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/cannot-extract-font-type.mdx
  src/content/docs/fr/reference/errors/cannot-fetch-font-file.mdx
  src/content/docs/fr/reference/errors/cannot-load-font-provider.mdx
  src/content/docs/fr/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/fr/reference/errors/experimental-fonts-not-enabled.mdx
  src/content/docs/fr/reference/errors/font-family-not-found.mdx
  src/content/docs/fr/reference/errors/session-config-missing-error.mdx
  src/content/docs/fr/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/fr/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#11462 i18n(fr): create `reference/modules/astro-config.mdx`
  src/content/docs/fr/reference/modules/astro-config.mdx
Labels: i18n

#11468 i18n(ko-KR): create `sessions.mdx`
  src/content/docs/ko/guides/sessions.mdx
Labels: i18n

#11469 i18n(ko-KR): create `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11471 i18n(zh-cn): Update `clever-cloud.mdx`
  src/content/docs/zh-cn/guides/deploy/clever-cloud.mdx
Labels: i18n

#11473 i18n(fr): update links in `guides/deploy/clever-cloud.mdx`
  src/content/docs/fr/guides/deploy/clever-cloud.mdx
Labels: i18n

#11422 i18n(es): translate `preserve-scripts-order.mdx`
  src/content/docs/es/reference/experimental-flags/preserve-scripts-order.mdx
Labels: i18n

#11480 [tutorial] update install commands for create astro
  src/content/docs/en/tutorial/1-setup/2.mdx
Labels: tutorial, code snippet update

#11479 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11472 i18n(fr): add `experimental-flags/fonts.mdx`
  src/content/docs/fr/reference/experimental-flags/fonts.mdx
Labels: i18n

#11333 docs: update reference() documentation to match Astro v5 behavior
  src/content/docs/en/reference/modules/astro-content.mdx
Labels: improve or update documentation, Merge Queue

#11483 docs: fix typo of `srcDir`
  src/content/docs/en/reference/modules/astro-config.mdx
  src/content/docs/fr/reference/modules/astro-config.mdx
  src/content/docs/ko/reference/modules/astro-config.mdx
Labels: typo/link/grammar - quick fix!, i18n, Merge Queue

#11435 fix: update type of CollectionEntry ids
  src/content/docs/en/reference/modules/astro-content.mdx
Labels: improve or update documentation, Merge Queue

#11482 i18n(ko-KR): update `tutorial/1-setup/2.mdx`
  src/content/docs/ko/tutorial/1-setup/2.mdx
Labels: i18n

#11486 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11487 i18n(ko-KR): update `astro-content.mdx`
  src/content/docs/ko/reference/modules/astro-content.mdx
Labels: i18n

#11481 i18n(fr): update `tutorial/1-setup/2.mdx`
  src/content/docs/fr/tutorial/1-setup/2.mdx
Labels: i18n

#11485 i18n(fr): update `modules/astro-content.mdx`
  src/content/docs/fr/reference/modules/astro-content.mdx
Labels: i18n

#11475 i18n(fr): update `guides/images.mdx`
  src/content/docs/fr/guides/images.mdx
Labels: i18n

#11474 i18n(fr): update `guides/fonts.mdx`
  src/content/docs/fr/guides/fonts.mdx
Labels: i18n

#11466 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#11427 i18n(es): translate `legacy-flags.mdx`
  src/content/docs/es/reference/legacy-flags.mdx
Labels: i18n

#11464 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#11463 i18n(fr): create `guides/sessions.mdx`
  src/content/docs/fr/guides/sessions.mdx
Labels: i18n

#11420 i18n(es): translate `content-intellisense.mdx`
  src/content/docs/es/reference/experimental-flags/content-intellisense.mdx
Labels: i18n

#11489 i18n(fr): update `experimental-flags/fonts.mdx`
  src/content/docs/fr/reference/experimental-flags/fonts.mdx
Labels: i18n

#11409 i18n(es): update `islands.mdx`
  src/content/docs/es/concepts/islands.mdx
Labels: i18n

#11467 i18n(zh-cn): Update `flotiq.mdx`
  src/content/docs/zh-cn/guides/cms/flotiq.mdx
Labels: i18n

#11493 i18n(zh-cn): update `tutorial/1-setup/2.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/2.mdx
Labels: i18n

#11491 Fix: Adds inline to Fonts Tailwind v4 instructions
  src/content/docs/en/reference/experimental-flags/fonts.mdx
Labels: improve or update documentation, code snippet update

#11496 i18n(fr): update `experimental-flags/fonts.mdx`
  src/content/docs/fr/reference/experimental-flags/fonts.mdx
Labels: i18n

#11499 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11502 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#11505 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#11508 fix(guides/imports): update Node.js built-ins section
  src/content/docs/en/guides/imports.mdx
Labels: improve or update documentation, Merge Queue

#11501 Update routing.mdx to reflect the need for adapters and prerender binding in SSR mode
  src/content/docs/en/guides/cms/preprcms.mdx
  src/content/docs/en/guides/cms/strapi.mdx
  src/content/docs/en/guides/routing.mdx
Labels: improve or update documentation, code snippet update

#11506 fix: update cloudflare integration guide
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: consistency/formatting, Merge Queue

#11529 i18n(fr): update `guides/imports.mdx`
  src/content/docs/fr/guides/imports.mdx
Labels: i18n

#11530 i18n(fr): update `integrations-guide/cloudflare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11521 Document dev server hot keys in CLI reference
  src/content/docs/en/reference/cli-reference.mdx
Labels: add new content, Merge Queue

#11517 i18n(ko-KR): update `cms/` and `routing.mdx`
  src/content/docs/ko/guides/cms/preprcms.mdx
  src/content/docs/ko/guides/cms/strapi.mdx
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#11518 i18n(ko-KR): update `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
Labels: i18n

#11519 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11520 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11534 i18n(fr): update `cli-reference.mdx`
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#11533 i18n(ko-KR): update `cli-reference.mdx`
  src/content/docs/ko/reference/cli-reference.mdx
Labels: i18n

#11540 [i18nIgnore] Fixed a missing closing <style> tag
  src/content/docs/de/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-create-react-app.mdx
Labels: i18n, code snippet update

#11514 i18n(es): translate `cannot-extract-font-type.mdx`
  src/content/docs/es/reference/errors/cannot-extract-font-type.mdx
Labels: i18n

#11515 i18n(es): translate `cannot-fetch-font-file.mdx`
  src/content/docs/es/reference/errors/cannot-fetch-font-file.mdx
Labels: i18n

#11513 Update experimental responsive image docs
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
Labels: improve or update documentation, merge-on-release

#11497 Update adapters and their deploy guides re: `output:'server'`
  src/components/tabs/StaticSsrTabs.astro
  src/content/docs/en/guides/deploy/cloudflare.mdx
  src/content/docs/en/guides/deploy/netlify.mdx
  src/content/docs/en/guides/deploy/vercel.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/node.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/i18n/en.yml
Labels: improve or update documentation, merge-on-release, code snippet update

#11546 i18n(fr): update `errors/unsupported-external-redirect.mdx`
  src/content/docs/fr/reference/errors/unsupported-external-redirect.mdx
Labels: i18n

#11407 i18n(es): update `layouts.mdx`
  src/content/docs/es/basics/layouts.mdx
Labels: i18n, Merge Queue

#11477 i18n(zh-tw): add `recipes/index.mdx`
  src/content/docs/zh-tw/recipes/index.mdx
Labels: i18n

#11377 i18n(zh-cn): Update `image-service-reference.mdx`
  src/content/docs/zh-cn/reference/image-service-reference.mdx
Labels: i18n

#11430 i18n(es): translate `index.mdx`
  src/content/docs/es/guides/media/index.mdx
Labels: i18n

#11436 i18n(es): translate `flotiq.mdx`
  src/content/docs/es/guides/cms/flotiq.mdx
Labels: i18n

#11451 i18n(es): translate `4.mdx`
  src/content/docs/es/tutorial/6-islands/4.mdx
Labels: i18n

#11478 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#11498 i18n(ja): Update `basic/layout.mdx` [i18nIgnore]
  src/content/docs/ja/basics/layouts.mdx
Labels: i18n

#11503 i18n(ja): Update `astro-components.mdx`
  src/content/docs/ja/basics/astro-components.mdx
Labels: i18n

#11549 fix(recipes/i18n): update code snippet to use collection `id`
  src/content/docs/en/recipes/i18n.mdx
Labels: code snippet update

#11553 i18n(ko-KR): update `deploy/`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
  src/content/docs/ko/guides/deploy/netlify.mdx
  src/content/docs/ko/guides/deploy/vercel.mdx
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#11554 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#11555 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n
