Repository withastro/docs, pull requests merged in 2025-01, with the labels that each got.

#10581 i18n(zh-cn): Update `3-components/4.mdx`
  src/content/docs/zh-cn/tutorial/3-components/4.mdx
Labels: i18n

#10580 i18n(zh-cn): Update `3-components/1.mdx`
  src/content/docs/zh-cn/tutorial/3-components/1.mdx
Labels: i18n, Merge Queue

#10579 i18n(zh-cn): Update `2-pages/5.mdx`
  src/content/docs/zh-cn/tutorial/2-pages/5.mdx
Labels: i18n, Merge Queue

#10577 i18n(zh-cn): Update `2-pages/3.mdx`
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
Labels: i18n, Merge Queue

#10575 i18n(zh-cn): Update `astro-transitions.mdx`
  src/content/docs/zh-cn/reference/modules/astro-transitions.mdx
Labels: i18n, Merge Queue

#10576 i18n(zh-cn): Update `1-setup/5.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/5.mdx
Labels: i18n, Merge Queue

#10570 i18n(es): translate src\content\nav\`es.ts`
  src/content/nav/es.ts
Labels: i18n

#10597 [migration guides] update options for content location
  src/content/docs/en/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: improve documentation

#10598 [content-collections] quick fixes
  src/content/docs/en/guides/content-collections.mdx
Labels: improve documentation

#10596 [vercel.mdx] update for `@vercel/analytics` changes
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: improve documentation

#10600 [routing.mdx] can't have multiple rest params for on-demand rendering
  src/content/docs/en/guides/routing.mdx
Labels: improve documentation

#10594 [markdown-content] clearer distinction between imported Markdown and collections data
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/guides/markdown-content.mdx
Labels: improve documentation

#10599 i18n(zh-cn): Update `5-astro-api/index.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/index.mdx
Labels: i18n, Merge Queue

#10593 i18n(zh-cn): Update `5-astro-api/4.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/4.mdx
Labels: i18n, Merge Queue

#10590 i18n(zh-cn): Update `6-islands/2.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
Labels: i18n, Merge Queue

#10611 Pin Algolia Docsearch to 3.5.1
  package.json
  pnpm-lock.yaml
Labels: site improvement

#10603 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#10604 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/integrations-guide/vercel.mdx
Labels: i18n

#10605 i18n(ko-KR): update `migrate-to-astro/`
  src/content/docs/ko/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#10602 i18(es): fix typo in `es.ts`
  src/content/nav/es.ts
Labels: i18n

#10606 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#10584 i18n(zh-cn): Update `5-astro-api/1.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
Labels: i18n, Merge Queue

#10585 i18n(zh-cn): Update `5-astro-api/3.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
Labels: i18n, Merge Queue

#10591 i18n(zh-cn): Update `6-islands/3.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/3.mdx
Labels: i18n, Merge Queue

#10607 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n

#10613 i18n(zh-cn): Update `3-components/4.mdx`
  src/content/docs/zh-cn/tutorial/3-components/4.mdx
Labels: i18n

#10618 i18n(fr): update `content-collections` & `markdown-content` guides
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#10617 i18n(fr): update `guides/migrate-to-astro/*`
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n

#10619 i18n(fr): update `integrations-guide/vercel.mdx`
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
Labels: i18n

#10621 Update page footer to add sponsor link
  src/components/FooterLinks.astro
  src/components/tutorial/FeedbackButton.astro
  src/components/tutorial/MobileTutorialNav.astro
  src/components/tutorial/houston-happy.webp
  src/content/i18n-schema.ts
  src/content/i18n/ar.yml
  src/content/i18n/de.yml
  src/content/i18n/en.yml
  src/content/i18n/es.yml
  src/content/i18n/fr.yml
  src/content/i18n/hi.yml
  src/content/i18n/it.yml
  src/content/i18n/ja.yml
  src/content/i18n/ko.yml
  src/content/i18n/pl.yml
  src/content/i18n/pt-BR.yml
  src/content/i18n/ru.yml
  src/content/i18n/zh-CN.yml
  src/content/i18n/zh-TW.yml
Labels: i18n, site improvement

#10614 Update build-forms-api.mdx
  src/content/docs/en/recipes/build-forms-api.mdx
Labels: code snippet update, Merge Queue

#10610 docs: fix vercel serverless deprecated error
  src/content/docs/en/guides/deploy/vercel.mdx
Labels: code snippet update, Merge Queue

#10615 fix: typo in `guides/routing.mdx`
  src/content/docs/en/guides/routing.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10609 docs: fix .env testing
  src/content/docs/en/guides/environment-variables.mdx
Labels: code snippet update, Merge Queue

#10620 fix: incorrect code example for Contentful imports
  src/content/docs/en/guides/cms/contentful.mdx
Labels: code snippet update, Merge Queue

#10601 fix: wrong code example for persist in cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
Labels: code snippet update, Merge Queue

#10625 i18n(ko-KR): update `environment-variables.mdx`
  src/content/docs/ko/guides/environment-variables.mdx
Labels: i18n

#10623 i18n(ko-KR): update `contentful.mdx`
  src/content/docs/ko/guides/cms/contentful.mdx
Labels: i18n, Merge Queue

#10636 Fix `micromatch` link in `content-collections.mdx`
  src/content/docs/en/guides/content-collections.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#10616 i18n(fr): update `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#10646 i18n(fr): update some integrations guides
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/react.mdx
  src/content/docs/fr/guides/integrations-guide/solid-js.mdx
  src/content/docs/fr/guides/integrations-guide/svelte.mdx
  src/content/docs/fr/guides/integrations-guide/vue.mdx
Labels: i18n

#10624 i18n(ko-KR): update `vercel.mdx`
  src/content/docs/ko/guides/deploy/vercel.mdx
Labels: i18n

#10631 i18n(ko-KR): update `ko.yml`
  src/content/i18n/ko.yml
Labels: i18n

#10627 i18n(ko-KR): update `build-forms-api.mdx`
  src/content/docs/ko/recipes/build-forms-api.mdx
Labels: i18n

#10626 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#10644 i18n(fr): fix wrong dot in `guides/environment-variables.mdx`
  src/content/docs/fr/guides/environment-variables.mdx
Labels: i18n

#10643 i18n(fr): fix code snippet in `guides/deploy/vercel.mdx`
  src/content/docs/fr/guides/deploy/vercel.mdx
Labels: i18n

#10633 i18n(zh-cn): Update environment-variables.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#10634 i18n(zh-cn): Update contentful.mdx
  src/content/docs/zh-cn/guides/cms/contentful.mdx
Labels: i18n

#10628 i18n(ko-KR): update `integrations-guide/`
  src/content/docs/ko/guides/integrations-guide/alpinejs.mdx
  src/content/docs/ko/guides/integrations-guide/preact.mdx
  src/content/docs/ko/guides/integrations-guide/react.mdx
  src/content/docs/ko/guides/integrations-guide/solid-js.mdx
  src/content/docs/ko/guides/integrations-guide/svelte.mdx
  src/content/docs/ko/guides/integrations-guide/vue.mdx
Labels: i18n, Merge Queue

#10649 Added checklist component to the optional content collection tutorial.
  src/content/docs/en/tutorial/6-islands/4.mdx
Labels: tutorial

#10647 hash -> encrypt
  src/content/docs/en/guides/server-islands.mdx
Labels: improve documentation

#10641 i18n(fr): update `i18n/fr.yml`
  src/content/i18n/fr.yml
Labels: i18n

#10655 Removed key from checklist component in island tutorial.
  src/content/docs/en/tutorial/6-islands/index.mdx
Labels: tutorial, consistency/formatting

#10629 i18n(zh-cn): Update zh-CN.yml
  src/content/i18n/zh-CN.yml
Labels: i18n, Merge Queue

#10637 i18n(zh-cn): Update some from-x.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/zh-cn/guides/migrate-to-astro/from-nuxtjs.mdx
Labels: i18n, Merge Queue

#10635 i18n(zh-cn): Update `content-collections`.mdx
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n, Merge Queue

#10658 i18n(zh-cn): Update `6-islands/index.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/index.mdx
Labels: i18n

#10659 i18n(ko-KR): update `tutorial/6-islands/index.mdx`
  src/content/docs/ko/tutorial/6-islands/index.mdx
Labels: i18n, Merge Queue

#10661 i18n(zh-cn): Update `vercel.mdx`
  src/content/docs/zh-cn/guides/deploy/vercel.mdx
Labels: i18n, Merge Queue

#10650 i18n(ko-KR): update `server-islands.mdx`
  src/content/docs/ko/guides/server-islands.mdx
Labels: i18n

#10651 i18n(ko-KR): update `tutorial/6-islands/4.mdx`
  src/content/docs/ko/tutorial/6-islands/4.mdx
Labels: i18n

#10582 i18n(zh-tw): update `editor-setup.mdx`
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#10452 i18n(ja): Add new ”develop-and-build.mdx” translation
  src/content/docs/ja/develop-and-build.mdx
Labels: i18n

#10662 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#10653 i18n(ar): create ar/basics/layouts
  src/content/docs/ar/basics/layouts.mdx
Labels: i18n

#10665 Revert "i18n(ar): create ar/basics/layouts"
  src/content/docs/ar/basics/layouts.mdx
Labels: i18n

#10446 i18n(pt-BR): create `guides/backend/sentry.mdx`
  src/content/docs/pt-br/guides/backend/sentry.mdx
Labels: i18n

#10669 i18n(zh-tw): update `zh-TW.yml`
  src/content/i18n/zh-TW.yml
Labels: i18n, Merge Queue

#10668 i18n(zh-cn): Update `build-forms-api.mdx`
  src/content/docs/zh-cn/recipes/build-forms-api.mdx
Labels: i18n

#10666 i18n(ar): Update localized link issues in Arabic documentation Revert (#10655)
  src/content/docs/ar/basics/layouts.mdx
Labels: i18n

#10445 i18n(pt-BR): create `guides/backend/neon.mdx`
  src/content/docs/pt-br/guides/backend/neon.mdx
Labels: i18n

#10444 i18n(pt-BR): create `guides/backend/appwriteio.mdx`
  src/content/docs/pt-br/guides/backend/appwriteio.mdx
Labels: i18n

#10395 i18n(pt-BR): create `tutorial/6-islands/4.mdx`
  src/content/docs/pt-br/tutorial/6-islands/4.mdx
Labels: i18n

#10664 i18n(zh-cn): Update `routing.mdx`
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n, Merge Queue

#10571 i18n(zh-cn): Update some error reference docs
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/adapter-support-output-mismatch.mdx
  src/content/docs/zh-cn/reference/errors/content-entry-data-error.mdx
  src/content/docs/zh-cn/reference/errors/content-loader-invalid-data-error.mdx
  src/content/docs/zh-cn/reference/errors/forbidden-rewrite.mdx
  src/content/docs/zh-cn/reference/errors/invalid-content-entry-data-error.mdx
  src/content/docs/zh-cn/reference/errors/locals-reassigned.mdx
  src/content/docs/zh-cn/reference/errors/no-adapter-installed-server-islands.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-init-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-save-error.mdx
Labels: i18n, Merge Queue

#10663 i18n(zh-cn): Update `vercel.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n, Merge Queue

#10660 i18n(zh-cn): Update `1-setup/index.mdx`
  src/content/docs/zh-cn/tutorial/1-setup/index.mdx
Labels: i18n, Merge Queue

#10592 i18n(zh-cn): Update `clever-cloud.mdx`
  src/content/docs/zh-cn/guides/deploy/clever-cloud.mdx
Labels: i18n, Merge Queue

#10679 fix: code snippet highlighting in `cms/contentful.mdx`
  src/content/docs/en/guides/cms/contentful.mdx
Labels: code snippet update, Merge Queue

#10672 [issue templates] streamline and improve options
  .github/ISSUE_TEMPLATE/OTHER.yml
  .github/ISSUE_TEMPLATE/REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: consistency/formatting, Merge Queue

#10670 Update file paths in markdown content guide.
  src/content/docs/en/guides/markdown-content.mdx
Labels: code snippet update, Merge Queue

#10681 i18n(ko-KR): update `contentful.mdx`
  src/content/docs/ko/guides/cms/contentful.mdx
Labels: i18n, Merge Queue

#10684 i18n(ko-KR): update `markdown-content.mdx`
  src/content/docs/ko/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#10682 i18n(ko-KR): update `reference/errors/`
  src/content/docs/ko/reference/errors/session-storage-init-error.mdx
  src/content/docs/ko/reference/errors/session-storage-save-error.mdx
Labels: i18n, Merge Queue

#10678 i18n(fr): update `guides/cms/contentful.mdx`
  src/content/docs/fr/guides/cms/contentful.mdx
Labels: i18n

#10677 i18n(fr): update `integrations-guide/cloudfare.mdx`
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#10676 i18n(fr): update `guides/server-islands.mdx`
  src/content/docs/fr/guides/server-islands.mdx
Labels: i18n

#10675 i18n(fr): update `tutorial/6-islands`
  src/content/docs/fr/tutorial/6-islands/4.mdx
  src/content/docs/fr/tutorial/6-islands/index.mdx
Labels: i18n

#10692 [i18nIgnore] i18n(ko-KR): Update `strapi.mdx` code file name
  src/content/docs/ko/guides/cms/strapi.mdx
Labels: i18n

#10691 Update the Community resources section of from-gridsome.mdx
  src/content/docs/en/guides/migrate-to-astro/from-gridsome.mdx
Labels: Merge Queue, community resource

#10690 docs: update `layouts.mdx`
  src/content/docs/en/basics/layouts.mdx
Labels: improve or update documentation, Merge Queue

#10693 i18n(fr): Update `guides/markdown-content.mdx` from #10670
  src/content/docs/fr/guides/markdown-content.mdx
Labels: i18n

#10694 i18n(fr): Update `reference/errors/*`
  src/content/docs/fr/reference/errors/session-storage-init-error.mdx
  src/content/docs/fr/reference/errors/session-storage-save-error.mdx
Labels: i18n

#10697 i18n(fr): update `basics/layouts/mdx`
  src/content/docs/fr/basics/layouts.mdx
Labels: i18n

#10695 i18n(ko-KR): update `layouts.mdx`
  src/content/docs/ko/basics/layouts.mdx
Labels: i18n

#10699 i18n(zh-cn): Update `layouts.mdx`
  src/content/docs/zh-cn/basics/layouts.mdx
Labels: i18n

#10700 i18n(zh-cn): Update errors page
  src/content/docs/zh-cn/reference/errors/session-storage-init-error.mdx
  src/content/docs/zh-cn/reference/errors/session-storage-save-error.mdx
Labels: i18n, Merge Queue

#10696 i18n(ko-KR): update `from-gridsome.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-gridsome.mdx
Labels: i18n

#10701 i18n(zh-cn): Update `contentful.mdx`
  src/content/docs/zh-cn/guides/cms/contentful.mdx
Labels: i18n

#10706 i18n(zh-cn): Update `from-gridsome.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-gridsome.mdx
Labels: i18n

#10709 i18n(zh-cn): add `astro-env.mdx`
  src/content/docs/zh-cn/reference/modules/astro-env.mdx
Labels: i18n, Merge Queue

#10707 i18n(zh-cn): Update `markdown-content.mdx`
  src/content/docs/zh-cn/guides/markdown-content.mdx
Labels: i18n, Merge Queue

#10708 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, Merge Queue

#10711 i18n(zh-cn): Add `legacy-flags.mdx`
  src/content/docs/zh-cn/reference/legacy-flags.mdx
Labels: i18n, Merge Queue

#10712 i18n(zh-cn): Add `experimental-flags/index.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/index.mdx
Labels: i18n, Merge Queue

#10702 i18n(zh-cn): Update `v5.mdx` and related docs
  src/content/docs/zh-cn/guides/content-collections.mdx
  src/content/docs/zh-cn/guides/upgrade-to/v4.mdx
  src/content/docs/zh-cn/guides/upgrade-to/v5.mdx
  src/content/docs/zh-cn/reference/adapter-reference.mdx
  src/content/docs/zh-cn/reference/errors/content-collection-type-mismatch-error.mdx
  src/content/docs/zh-cn/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/zh-cn/reference/errors/mixed-content-data-collection-error.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#10717 Use a simpler label for fonts guide in the sidebar
  src/content/docs/en/guides/fonts.mdx
Labels: site improvement, information architecture

#10715 Make `implementation PR` can be translated
  src/components/SourcePR.astro
  src/content/i18n-schema.ts
  src/content/i18n/en.yml
  src/content/i18n/zh-CN.yml
Labels: i18n

#10718 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/guides/fonts.mdx
Labels: i18n

#10720 i18n(ko-KR): update `ko.yml`
  src/content/i18n/ko.yml
Labels: i18n

#10721 i18n(fr): Update `i18n/fr.yml` from #10715
  src/content/i18n/fr.yml
Labels: i18n

#10722 i18n(fr): Update `guides/fonts.mdx` from #10717
  src/content/docs/fr/guides/fonts.mdx
Labels: i18n

#10723 i18n(fr): Update `guides/fonts.mdx` from #10717 (fix #10721)
  src/content/i18n/fr.yml
Labels: i18n

#10724 i18n(zh-tw): update `zh-TW.yml`
  src/content/i18n/zh-TW.yml
Labels: i18n

#10686 i18n(ar): create ar/guides/fonts:
  src/content/docs/ar/guides/fonts.mdx
Labels: i18n

#10725 i18n(zh-cn): Update `fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
Labels: i18n

#10714 i18n(zh-cn): Add `content-intellisense.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/content-intellisense.mdx
Labels: i18n

#10716 i18n(zh-cn): Add `experimental-flags/svg.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/svg.mdx
Labels: i18n

#10713 i18n(zh-cn): Add `client-prerender.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/client-prerender.mdx
Labels: i18n

#10729 i18n(fr): Update `tutorial/6-islands/2.mdx` from #10719
  src/content/docs/fr/tutorial/6-islands/2.mdx
Labels: i18n

#10728 i18n(ko-KR): update `tutorial/6-islands/2.mdx`
  src/content/docs/ko/tutorial/6-islands/2.mdx
Labels: i18n

#10688 Updated docs to reflect that getEntry returns undefined
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/reference/modules/astro-content.mdx
Labels: improve or update documentation, Merge Queue

#10710 Content Loader API: include docs for the built-in loaders
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/reference/content-loader-reference.mdx
  src/content/docs/en/reference/modules/astro-content.mdx
  src/content/docs/zh-cn/reference/modules/astro-content.mdx
Labels: i18n

#10726 i18n(zh-cn): Add `responsive-images.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n, Merge Queue

#10732 i18n(zh-cn): Update `6-islands/2.mdx`
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
Labels: i18n, Merge Queue

#10735 i18n(zh-cn): Update two tutorial docs
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
  src/content/docs/zh-cn/tutorial/6-islands/2.mdx
Labels: i18n, Merge Queue

#10741 i18n(fr): Update `reference/modules/astro-content.mdx` from #10688
  src/content/docs/fr/reference/modules/astro-content.mdx
Labels: i18n

#10740 i18n(fr): Update `guides/content-collection.mdx` from #10688
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/reference/content-loader-reference.mdx
  src/content/docs/fr/reference/modules/astro-content.mdx
Labels: i18n

#10739 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/5-astro-api/3.mdx
  src/content/docs/ko/tutorial/6-islands/2.mdx
Labels: i18n

#10737 i18n(ko-KR): update documents about content collections
  src/content/docs/ko/guides/content-collections.mdx
  src/content/docs/ko/reference/content-loader-reference.mdx
  src/content/docs/ko/reference/modules/astro-content.mdx
Labels: i18n

#10746 Remove duplicated `prop` in `routing-reference.mdx`
  src/content/docs/en/reference/routing-reference.mdx
Labels: consistency/formatting

#10751 i18n(ko-KR): update `routing-reference.mdx`
  src/content/docs/ko/reference/routing-reference.mdx
Labels: i18n

#10122 [i18n Ja] Added new translation for the e-commerce guide in Japanese
  src/content/docs/ja/guides/ecommerce.mdx
Labels: i18n

#10689 i18n(zh-tw): update `basics/astro-components.mdx`
  src/content/docs/zh-tw/basics/astro-components.mdx
Labels: i18n

#10753 Added github pages deployment example
  src/content/docs/en/guides/deploy/github.mdx
Labels: Merge Queue, community resource

#10736 i18n(zh-cn): Add `on-demand-rendering.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
  src/content/docs/zh-cn/guides/on-demand-rendering.mdx
  src/content/docs/zh-cn/reference/integrations-reference.mdx
Labels: i18n

#10744 i18n(zh-cn): Add `routing-reference.mdx`
  src/content/docs/zh-cn/guides/endpoints.mdx
  src/content/docs/zh-cn/guides/routing.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/routing-reference.mdx
Labels: i18n, Merge Queue

#10733 i18n(zh-cn): Add `sessions.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/sessions.mdx
Labels: i18n

#10767 i18n(zh-cn): Update `github.mdx`
  src/content/docs/zh-cn/guides/deploy/github.mdx
Labels: i18n

#10766 i18n(zh-cn): Update `drupal.mdx`
  src/content/docs/zh-cn/guides/cms/drupal.mdx
Labels: i18n, Merge Queue

#10764 i18n(ko-KR): update `drupal.mdx`
  src/content/docs/ko/guides/cms/drupal.mdx
Labels: i18n, Merge Queue

#10763 i18n(zh-cn): Add `content-loader-reference.mdx` & Update related docs
  src/content/docs/zh-cn/guides/content-collections.mdx
  src/content/docs/zh-cn/reference/content-loader-reference.mdx
  src/content/docs/zh-cn/reference/modules/astro-content.mdx
Labels: i18n, Merge Queue

#10759 Add reference to the official example on the payload repo
  src/content/docs/en/guides/cms/payload.mdx
Labels: Merge Queue, community resource

#10765 i18n(ko-KR): update `github.mdx`
  src/content/docs/ko/guides/deploy/github.mdx
Labels: i18n

#10776 i18n(fr): add `content-loader-returns-invalid-id.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/content-loader-returns-invalid-id.mdx
Labels: i18n

#10777 i18n(fr): add example link in `guides/deploy/github.mdx`
  src/content/docs/fr/guides/deploy/github.mdx
Labels: i18n

#10731 Update v5.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: improve or update documentation, Merge Queue

#10762 Update cloudflare deploy docs
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: improve or update documentation, Merge Queue

#10771 i18n(ko-KR): update `payload.mdx`
  src/content/docs/ko/guides/cms/payload.mdx
Labels: i18n, Merge Queue
