Repository withastro/docs, pull requests merged in 2025-09, with the labels that each got.

#12252 i18n(fr): update `integrations-guide/alpinejs`
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#12261 fix: update broken link to correct URL
  src/content/docs/en/guides/authentication.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue, community resource

#12254 clarify astro:before-swap example [i18nIgnore]
  src/content/docs/en/guides/view-transitions.mdx
  src/content/docs/es/guides/view-transitions.mdx
  src/content/docs/fr/guides/view-transitions.mdx
  src/content/docs/ja/guides/view-transitions.mdx
  src/content/docs/ko/guides/view-transitions.mdx
  src/content/docs/ru/guides/view-transitions.mdx
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, code snippet update

#12262 [i18nIgnore] i18n(ja,ko,zh-cn,fr): update a broken link in `guides/authentication`
  src/content/docs/fr/guides/authentication.mdx
  src/content/docs/ja/guides/authentication.mdx
  src/content/docs/ko/guides/authentication.mdx
  src/content/docs/zh-cn/guides/authentication.mdx
Labels: i18n

#12256 i18n(fr): improve the wording in `integrations-reference.mdx`
  src/content/docs/fr/reference/integrations-reference.mdx
Labels: i18n

#12258 i18n(fr): missing changes + wording improvement in `directives-reference`
  src/content/docs/fr/reference/directives-reference.mdx
Labels: i18n

#12257 i18n(fr): improve the wording in `configuration-reference.mdx`
  src/content/docs/fr/guides/upgrade-to/v5.mdx
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#12227 3rd-party media hosting category updates
  public/logos/mux.svg
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/imports.mdx
  src/content/docs/en/guides/media/index.mdx
  src/content/docs/en/guides/media/mux.mdx
  src/content/i18n/en.yml
  src/content/nav/en.ts
  src/data/logos.ts
Labels: add new content, merge-on-release

#12282 i18n(ko-KR): create `mux.mdx`
  src/content/docs/ko/guides/media/mux.mdx
Labels: i18n

#12288 i18n(fr): update `guides/images.mdx`
  src/content/docs/fr/guides/images.mdx
Labels: i18n

#12287 i18n(fr): update `guides/imports.mdx`
  src/content/docs/fr/guides/imports.mdx
Labels: i18n

#12291 i18n(zh-cn): Update `db.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/db.mdx
Labels: i18n

#12311 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#12289 i18n(fr): update `media/index`, `nav/fr` and `i18n/fr`
  src/content/docs/fr/guides/media/index.mdx
  src/content/i18n/fr.yml
  src/content/nav/fr.ts
Labels: i18n

#12301 i18n(fr): translate `guides/deploy/railway.mdx`
  src/content/docs/fr/guides/deploy/railway.mdx
Labels: i18n

#12269 i18n(fr): improve the wording in `reference/experimental-flags`
  src/content/docs/fr/reference/experimental-flags/client-prerender.mdx
  src/content/docs/fr/reference/experimental-flags/content-intellisense.mdx
  src/content/docs/fr/reference/experimental-flags/heading-id-compat.mdx
  src/content/docs/fr/reference/experimental-flags/index.mdx
Labels: i18n

#12277 i18n(zh-cn): Update alpinejs.mdx
  src/content/docs/zh-cn/guides/integrations-guide/alpinejs.mdx
Labels: i18n

#12276 i18n(zh-cn): Update `content-collections.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
Labels: i18n

#12278 i18n(fr): improve the wording in `image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#12286 i18n(fr): translate `guides/media/mux`
  src/content/docs/fr/guides/media/mux.mdx
Labels: i18n

#12320 i18n(fr): update `integrations-guide/sitemap.mdx`
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
Labels: i18n

#12324 Fixes #12271 with adapter prerequisite missing from auth-astro
  src/content/docs/en/guides/authentication.mdx
Labels: improve or update documentation, code snippet update, Merge Queue

#12250 feat(sitemap): add configurable XML namespaces support
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
Labels: add new content, merge-on-release, Merge Queue

#12328 Add Webflow to sidebar sponsors
  src/components/LeftSidebar/Sponsors.astro
  src/components/LeftSidebar/logos/webflow.svg
Labels: site improvement

#12327 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#12330 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#12333 i18n(fr): update `guides/authentication.mdx`
  src/content/docs/fr/guides/authentication.mdx
Labels: i18n

#12323 Document experimental `useActionState()` helpers with Actions
  src/content/docs/en/guides/integrations-guide/react.mdx
Labels: add new content

#12155 Add deleted section about json schema generation
  src/content/docs/en/guides/content-collections.mdx
Labels: add new content

#12342 i18n(es): update `google-firebase.mdx`
  src/content/docs/es/guides/backend/google-firebase.mdx
Labels: i18n

#12302 i18n(zh-tw): update `zh-TW.yml`
  src/content/i18n/zh-TW.yml
Labels: i18n

#12303 i18n(zh-tw): update `nav/zh-TW.ts`
  src/content/nav/zh-TW.ts
Labels: i18n

#12308 i18n(zh-cn): Update `nav/zh-CN.ts` & `zh-CN.yml`
  src/content/i18n/zh-CN.yml
  src/content/nav/zh-CN.ts
Labels: i18n

#12346 i18n(es): create `prisma-postgres.mdx`
  src/content/docs/es/guides/backend/prisma-postgres.mdx
Labels: i18n

#12348 i18n(es): create `optimizely.mdx`
  src/content/docs/es/guides/cms/optimizely.mdx
Labels: i18n

#12355 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#12362 i18n(zh-cn): Update `authentication.mdx`
  src/content/docs/zh-cn/guides/authentication.mdx
Labels: i18n

#12368 i18n(es): create `sitepins.mdx`
  src/content/docs/es/guides/cms/sitepins.mdx
Labels: i18n

#12388 feat(typescript): extract extend global types to its own section
  src/content/docs/en/guides/cms/builderio.mdx
  src/content/docs/en/guides/cms/datocms.mdx
  src/content/docs/en/guides/cms/strapi.mdx
  src/content/docs/en/guides/environment-variables.mdx
  src/content/docs/en/guides/integrations-guide/alpinejs.mdx
  src/content/docs/en/guides/integrations-guide/cloudflare.mdx
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
  src/content/docs/en/guides/middleware.mdx
  src/content/docs/en/guides/sessions.mdx
  src/content/docs/en/guides/typescript.mdx
Labels: improve or update documentation, add new content

#12369 i18n(es): create `cloudray.mdx`
  src/content/docs/es/guides/deploy/cloudray.mdx
Labels: i18n

#12408 i18n(ko-KR): update `routing.mdx`
  src/content/docs/ko/guides/routing.mdx
Labels: i18n

#12406 add SvgComponent type docs
  src/content/docs/en/guides/images.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#12402 Update experimental React Actions helpers to stable
  src/content/docs/en/guides/integrations-guide/react.mdx
Labels: add new content, merge-on-release, minor-release, Merge Queue

#12414 i18n(es): update `upgrade-astro.mdx`
  src/content/docs/es/upgrade-astro.mdx
Labels: i18n

#12409 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#12413 5.14.0 minor release docs
  astro.sidebar.ts
  src/content/docs/en/guides/images.mdx
  src/content/docs/en/guides/integrations-guide/react.mdx
  src/content/docs/en/reference/experimental-flags/fail-on-prerender-conflict.mdx
  src/content/docs/en/reference/experimental-flags/fonts.mdx
  src/content/docs/en/reference/routing-reference.mdx
Labels: add new content, merge-on-release, minor-release

#12404 i18n(fr): update links in `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#12341 i18n(ar): update contribute.mdx
  src/content/docs/ar/contribute.mdx
Labels: i18n

#12433 docs: update Storyblok astro resources
  src/content/docs/en/guides/cms/storyblok.mdx
Labels: improve or update documentation, Merge Queue, community resource

#12432 i18n(ko-KR): create `fail-on-prerender-conflict.mdx`
  src/content/docs/ko/reference/experimental-flags/fail-on-prerender-conflict.mdx
Labels: i18n

#12425 i18n(ko-KR): update `tutorial/`
  src/content/docs/ko/tutorial/2-pages/4.mdx
  src/content/docs/ko/tutorial/2-pages/5.mdx
  src/content/docs/ko/tutorial/3-components/3.mdx
  src/content/docs/ko/tutorial/3-components/4.mdx
  src/content/docs/ko/tutorial/3-components/index.mdx
  src/content/docs/ko/tutorial/6-islands/2.mdx
  src/content/docs/ko/tutorial/6-islands/3.mdx
Labels: i18n

#12451 i18n(fr): update `errors/response-sent-error.mdx`
  src/content/docs/fr/reference/errors/response-sent-error.mdx
Labels: i18n

#12450 i18n(fr): update `cms/storyblok.mdx`
  src/content/docs/fr/guides/cms/storyblok.mdx
Labels: i18n

#12459 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n

#12457 i18n(zh-cn): Update `storyblok.mdx`
  src/content/docs/zh-cn/guides/cms/storyblok.mdx
Labels: i18n

#12456 i18n(zh-cn): Update some integrations-guide
  src/content/docs/zh-cn/guides/integrations-guide/markdoc.mdx
  src/content/docs/zh-cn/guides/integrations-guide/mdx.mdx
  src/content/docs/zh-cn/guides/integrations-guide/preact.mdx
  src/content/docs/zh-cn/guides/integrations-guide/solid-js.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vue.mdx
Labels: i18n

#12411 i18n(fr): update `integrations-guide/*` with API references
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/partytown.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/solid-js.mdx
  src/content/docs/fr/guides/integrations-guide/vue.mdx
Labels: i18n

#12396 i18n(fr): update `guides/typescript` and linking in other pages
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/middleware.mdx
  src/content/docs/fr/guides/sessions.mdx
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#12364 i18n(zh-cn): Update `astro-db.mdx` & `db.mdx`
  src/content/docs/zh-cn/guides/astro-db.mdx
  src/content/docs/zh-cn/guides/integrations-guide/db.mdx
Labels: i18n

#12384 i18n(zh-cn): Update `node.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
Labels: i18n

#12385 i18n(zh-cn): Update `react.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/react.mdx
Labels: i18n

#12379 i18n(zh-cn): Update `partydown.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/partytown.mdx
Labels: i18n

#12378 i18n(zh-cn): Update `netlify.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
Labels: i18n

#12386 i18n(zh-cn): Update `rss.mdx`
  src/content/docs/zh-cn/recipes/rss.mdx
Labels: i18n

#12375 i18n(zh-cn): Update `api-reference.mdx`
  src/content/docs/zh-cn/reference/api-reference.mdx
Labels: i18n

#12464 i18n(de): update why-astro.mdx
  src/content/docs/de/concepts/why-astro.mdx
Labels: i18n

#12462 i18n(de): update de.yml
  src/content/i18n/de.yml
Labels: i18n

#12410 Adds Cloudflare to the list of sponsors
  src/components/LeftSidebar/Sponsors.astro
  src/components/LeftSidebar/logos/cloudflare.svg
Labels: Merge Queue

#12424 i18n(zh-cn): Update `railway.mdx`
  src/content/docs/zh-cn/guides/deploy/railway.mdx
Labels: i18n, Merge Queue

#12439 i18n(fr): update `integrations-guide/react.mdx`
  src/content/docs/fr/guides/integrations-guide/react.mdx
Labels: i18n

#12442 i18n(fr): update `routing-reference.mdx`
  src/content/docs/fr/reference/routing-reference.mdx
Labels: i18n
