Repository withastro/docs, pull requests merged in 2025-07, with the labels that each got.

#11962 i18n(fr): add `guides/deploy/cloudray.mdx`
  src/content/docs/fr/guides/deploy/cloudray.mdx
Labels: i18n

#11968 i18n(fr): update `experimental-flags/live-content-collections`
  src/content/docs/fr/reference/experimental-flags/live-content-collections.mdx
Labels: i18n

#11973 i18n(fr): improve the wording in `server-islands` & `syntax-highlighting`
  src/content/docs/fr/guides/server-islands.mdx
  src/content/docs/fr/guides/syntax-highlighting.mdx
Labels: i18n

#11971 feat: document experimental static headers
  src/content/docs/en/guides/integrations-guide/netlify.mdx
  src/content/docs/en/guides/integrations-guide/node.mdx
  src/content/docs/en/guides/integrations-guide/vercel.mdx
Labels: add new content, merge-on-release, minor-release

#11977 i18n(ko-KR): update `node.mdx`
  src/content/docs/ko/guides/integrations-guide/node.mdx
Labels: i18n

#11976 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n

#11979 Fix Firefox sidebar content flash
  src/components/tabs/TabPanel.astro
Labels: site improvement, Merge Queue

#11982 i18n(fr): update `integrations-guide/vercel.mdx`
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
Labels: i18n

#11980 i18n(fr): update `integrations-guide/netlify.mdx`
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
Labels: i18n

#11960 i18n(ja): Add `guides/backend/appwriteio.mdx`
  src/content/docs/ja/guides/backend/appwriteio.mdx
Labels: i18n

#11961 i18n(ja): Add `guides/backend/neon.mdx`
  src/content/docs/ja/guides/backend/neon.mdx
Labels: i18n

#11967 i18n(ja): Add `guides/backend/supabase.mdx`
  src/content/docs/ja/guides/authentication.mdx
  src/content/docs/ja/guides/backend/supabase.mdx
Labels: i18n

#11969 i18n(ja): Add `guides/backend/turso.mdx`
  src/content/docs/ja/guides/backend/turso.mdx
Labels: i18n

#11928 Update cloudflare.mdx
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: code snippet update, Merge Queue

#11999 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#12000 i18n(ko-KR): update `authentication.mdx`
  src/content/docs/ko/guides/authentication.mdx
Labels: i18n

#12001 i18n(fr): update `guides/deploy/cloudflare.mdx`
  src/content/docs/fr/guides/deploy/cloudflare.mdx
Labels: i18n

#11996 added sitepins as a cms option
  public/logos/sitepins.svg
  src/content/docs/en/guides/cms/sitepins.mdx
  src/data/logos.ts
Labels: 3rd-party guide

#11983 i18n(pl): create `develop-and-build.mdx`
  src/content/docs/pl/develop-and-build.mdx
Labels: i18n

#12017 i18n(zh-cn): Update cloudflare.mdx
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#12009 i18n(ko-KR): create `sitepins.mdx`
  src/content/docs/ko/guides/cms/sitepins.mdx
Labels: i18n

#12007 i18n(ja): correct Japanese typo in guides/integrations-guide/react.mdx
  src/content/docs/ja/guides/integrations-guide/react.mdx
Labels: i18n

#12022 Reference `<ClientRouter />` component rather than view transitions on Prefetch page
  src/content/docs/en/guides/prefetch.mdx
Labels: feedback-improvement

#11985 i18n(ja): Add `guides/integrations-guide/markdoc.mdx`
  src/content/docs/ja/guides/integrations-guide/markdoc.mdx
  src/content/docs/ja/guides/migrate-to-astro/from-gitbook.mdx
Labels: i18n

#11991 i18n(ja): Add `guides/integrations-guide/sitemap.mdx`
  src/content/docs/ja/guides/integrations-guide/sitemap.mdx
Labels: i18n

#12006 i18n(fr): improve the wording in `guides/framework-components.mdx`
  src/content/docs/fr/guides/framework-components.mdx
Labels: i18n

#11879 i18n(ja): Update `basics/astro-components.mdx`
  src/content/docs/ja/basics/astro-components.mdx
  src/content/docs/ja/reference/astro-syntax.mdx
  src/content/docs/ja/reference/directives-reference.mdx
Labels: i18n

#12011 i18n(fr): improve the wording in `fonts` and `environment-variables`
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/guides/fonts.mdx
Labels: i18n

#12013 i18n(fr): improve the wording in `endpoints` & `on-demand-rendering`
  src/content/docs/fr/guides/endpoints.mdx
  src/content/docs/fr/guides/on-demand-rendering.mdx
Labels: i18n

#11987 i18n(ja): Add `guides/integrations-guide/netlify.mdx`
  src/content/docs/ja/guides/integrations-guide/netlify.mdx
  src/content/docs/ja/guides/sessions.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#11988 i18n(ja): Add `guides/integrations-guide/node.mdx`
  src/content/docs/ja/guides/integrations-guide/node.mdx
  src/content/docs/ja/guides/sessions.mdx
  src/content/docs/ja/reference/configuration-reference.mdx
Labels: i18n

#12025 i18n(ko-KR): update `prefetch.mdx`
  src/content/docs/ko/guides/prefetch.mdx
Labels: i18n

#12018 i18n(zh-cn): Update netlify.mdx、node.mdx、vercel.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#12019 Add "Build with AI" guide
  astro.sidebar.ts
  scripts/lib/linkcheck/base/check.ts
  scripts/lib/linkcheck/checks/target-exists.ts
  scripts/lib/linkcheck/steps/find-issues.ts
  src/content/docs/en/guides/build-with-ai.mdx
Labels: add new content

#12039 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#12030 Add Netlify dev reference
  src/content/docs/en/guides/integrations-guide/netlify.mdx
Labels: add new content

#12041 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/integrations-guide/netlify.mdx
Labels: i18n

#12043 i18n(fr): add `guides/build-with-ai.mdx`
  src/content/docs/fr/guides/build-with-ai.mdx
Labels: i18n

#12046 i18n(ko-KR): update `errors/`
  src/content/docs/ko/reference/errors/data-collection-entry-parse-error.mdx
  src/content/docs/ko/reference/errors/file-parser-not-found.mdx
Labels: i18n

#12047 i18n(ko-KR): create `raw-env-values.mdx`
  src/content/docs/ko/reference/experimental-flags/raw-env-values.mdx
Labels: i18n

#12050 i18n(fr): update two `errors` reference
  src/content/docs/fr/reference/errors/data-collection-entry-parse-error.mdx
  src/content/docs/fr/reference/errors/file-parser-not-found.mdx
Labels: i18n

#12056 fix(content-loader-reference): update `store.set` usage in a snippet
  src/content/docs/en/reference/content-loader-reference.mdx
Labels: code snippet update

#12058 i18n(ko-KR): update `astro-assets.mdx`
  src/content/docs/ko/reference/modules/astro-assets.mdx
Labels: i18n

#12060 i18n(fr): Update `content-loader-reference` from #12056
  src/content/docs/fr/reference/content-loader-reference.mdx
Labels: i18n

#12061 docs: fix example domain and improve clarity in config guide
  src/content/docs/en/guides/configuring-astro.mdx
Labels: typo/link/grammar - quick fix!, Merge Queue

#12012 Tutorial custom page title
  src/content/docs/en/tutorial/0-introduction/index.mdx
  src/content/docs/en/tutorial/1-setup/index.mdx
  src/content/docs/en/tutorial/2-pages/index.mdx
  src/content/docs/en/tutorial/3-components/index.mdx
  src/content/docs/en/tutorial/4-layouts/index.mdx
  src/content/docs/en/tutorial/5-astro-api/index.mdx
  src/content/docs/en/tutorial/6-islands/4.mdx
  src/content/docs/en/tutorial/6-islands/index.mdx
  src/content/i18n-schema.ts
  src/content/i18n/en.yml
  src/content/i18n/fr.yml
  src/routeData.ts
Labels: i18n, site improvement

#12068 i18n(ko-KR): update `configuring-astro.mdx`
  src/content/docs/ko/guides/configuring-astro.mdx
Labels: i18n

#12070 i18n(fr): update `tutorial/*`
  src/content/docs/fr/tutorial/0-introduction/index.mdx
  src/content/docs/fr/tutorial/1-setup/index.mdx
  src/content/docs/fr/tutorial/2-pages/index.mdx
  src/content/docs/fr/tutorial/3-components/index.mdx
  src/content/docs/fr/tutorial/4-layouts/index.mdx
  src/content/docs/fr/tutorial/5-astro-api/index.mdx
  src/content/docs/fr/tutorial/6-islands/4.mdx
  src/content/docs/fr/tutorial/6-islands/index.mdx
Labels: i18n

#10944 feat: explain the limitations of serialization
  src/content/docs/en/guides/framework-components.mdx
  src/content/docs/en/guides/server-islands.mdx
Labels: improve or update documentation

#11610 Document Astro.originPathname
  src/content/docs/en/reference/api-reference.mdx
Labels: add new content

#12081 i18n(ko-KR): update `api-reference.mdx`
  src/content/docs/ko/recipes/captcha.mdx
  src/content/docs/ko/reference/api-reference.mdx
Labels: i18n

#12080 i18n(ko-KR): update `server-island.mdx`
  src/content/docs/ko/guides/server-islands.mdx
Labels: i18n

#12079 i18n(ko-KR): update `framework-components.mdx`
  src/content/docs/ko/guides/framework-components.mdx
Labels: i18n

#12085 i18n(fr): update `api-reference.mdx`
  src/content/docs/fr/reference/api-reference.mdx
Labels: i18n

#12086 i18n(fr): update `errors/only-response-can-be-returned.mdx`
  src/content/docs/fr/reference/errors/only-response-can-be-returned.mdx
Labels: i18n

#12082 Add instructions on date serialization at astro-actions.mdx
  src/content/docs/en/reference/modules/astro-actions.mdx
Labels: improve or update documentation, Merge Queue

#12073 i18n(fr): improve the wording in `guides/actions` & `guides/astro-db`
  src/content/docs/fr/guides/actions.mdx
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
Labels: i18n

#12084 i18n(fr): update `framework-components.mdx` & `server-islands.mdx`
  src/content/docs/fr/guides/framework-components.mdx
  src/content/docs/fr/guides/server-islands.mdx
Labels: i18n

#12089 i18n(ko-KR): create `optimizely.mdx`
  src/content/docs/ko/guides/cms/optimizely.mdx
Labels: i18n

#12090 i18n(ko-KR): create `customizing-output-filenames.mdx`
  src/content/docs/ko/recipes/customizing-output-filenames.mdx
Labels: i18n

#12094 i18n(fr): update `reference/modules/astro-actions.mdx`
  src/content/docs/fr/reference/modules/astro-actions.mdx
Labels: i18n

#12093 i18n(fr): translate `guides/cms/optimizely.mdx`
  src/content/docs/fr/guides/cms/optimizely.mdx
Labels: i18n

#12095 add missing event listener boiler plate
  src/content/docs/en/guides/view-transitions.mdx
Labels: code snippet update

#12098 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/view-transitions.mdx
Labels: i18n

#12096 i18n(fr): update code snippet in `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n
