Repository withastro/docs, pull requests merged in 2025-08, with the labels that each got.

#12101 i18n(fr): improve the wording in `guides/middleware.mdx`
  src/content/docs/fr/guides/internationalization.mdx
  src/content/docs/fr/guides/middleware.mdx
Labels: i18n

#12099 i18n(fr): improve the wording in `data-fetching` & `dev-toolbar`
  src/content/docs/fr/guides/data-fetching.mdx
  src/content/docs/fr/guides/dev-toolbar.mdx
Labels: i18n

#12097 i18n(fr): improve the wording in `client-side-scripts` & `configuring-astro`
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/guides/client-side-scripts.mdx
  src/content/docs/fr/guides/configuring-astro.mdx
  src/content/docs/fr/guides/upgrade-to/v5.mdx
Labels: i18n

#12107 i18n(es): update GitHub Pages deployment guide
  src/content/docs/es/guides/deploy/github.mdx
Labels: i18n

#12123 feat(editor): Added some tools and tweaks to the editor setup apge
  src/content/docs/en/editor-setup.mdx
Labels: improve or update documentation, add new content, Merge Queue

#12124 Add open issues tip to contributing page
  src/content/docs/en/contribute.mdx
Labels: add new content

#12091 Client side scripts guide update
  src/content/docs/ar/basics/astro-components.mdx
  src/content/docs/ar/basics/layouts.mdx
  src/content/docs/en/basics/astro-components.mdx
  src/content/docs/en/guides/client-side-scripts.mdx
  src/content/docs/en/guides/upgrade-to/v5.mdx
  src/content/docs/en/guides/view-transitions.mdx
  src/content/docs/hi/basics/astro-components.mdx
  src/content/docs/it/basics/astro-components.mdx
  src/content/docs/pl/basics/astro-components.mdx
  src/content/docs/pl/basics/layouts.mdx
  src/content/docs/zh-tw/basics/astro-components.mdx
Labels: improve or update documentation, i18n

#11974 Prisma Postgres Added
  public/logos/prisma-postgres.svg
  src/content/docs/en/guides/backend/prisma-postgres.mdx
  src/data/logos.ts
Labels: add new content, Merge Queue, 3rd-party guide

#12128 i18n(fr): update `editor-setup.mdx`
  src/content/docs/fr/editor-setup.mdx
Labels: i18n

#12122 i18n(es): update view transitions guide and migration guide v3
  src/content/docs/es/guides/upgrade-to/v3.mdx
  src/content/docs/es/guides/view-transitions.mdx
Labels: i18n

#12125 i18n(es): update i18n/es.yml
  src/content/i18n/es.yml
Labels: i18n

#12139 feat: add enum docs
  src/content/docs/en/guides/integrations-guide/db.mdx
Labels: add new content, merge-on-release, minor-release

#12146 i18n(es): update recipes/index.mdx
  src/content/docs/es/recipes/index.mdx
Labels: i18n

#12147 i18n(es): update editor-setup page
  src/content/docs/es/editor-setup.mdx
Labels: i18n

#12134 i18n(fr): update `guides/client-side-scripts.mdx`
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/guides/client-side-scripts.mdx
  src/content/docs/fr/guides/upgrade-to/v5.mdx
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#12135 i18n(fr): translate `guides/backend/prisma-postgres.mdx`
  src/content/docs/fr/guides/backend/prisma-postgres.mdx
Labels: i18n

#12105 feat: experimental static import.meta.env
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/raw-env-values.mdx
  src/content/docs/en/reference/experimental-flags/static-import-meta-env.mdx
  src/content/docs/fr/reference/experimental-flags/raw-env-values.mdx
  src/content/docs/ko/reference/experimental-flags/raw-env-values.mdx
Labels: i18n, add new content, merge-on-release, minor-release, Merge Queue

#12130 Add note that the bug appears only with trailingSlash: ignore
  src/content/docs/en/guides/upgrade-to/v5.mdx
Labels: code snippet update

#12150 i18n(ko-KR): update `db.mdx`
  src/content/docs/ko/guides/integrations-guide/db.mdx
Labels: i18n

#12120 i18n(ru): translate `recipes/modified-time.mdx`
  src/content/docs/ru/recipes/modified-time.mdx
Labels: i18n

#12144 Astro 5.13.0 release docs
  astro.sidebar.ts
  src/content/docs/en/guides/integrations-guide/sitemap.mdx
  src/content/docs/en/reference/experimental-flags/chrome-devtools-workspace.mdx
  src/content/docs/en/reference/experimental-flags/raw-env-values.mdx
  src/content/docs/en/reference/experimental-flags/static-import-meta-env.mdx
  src/content/docs/fr/reference/experimental-flags/raw-env-values.mdx
  src/content/docs/ko/reference/experimental-flags/raw-env-values.mdx
Labels: i18n, add new content, merge-on-release, minor-release

#12154 i18n(ko-KR): update `v5.mdx`
  src/content/docs/ko/guides/upgrade-to/v5.mdx
Labels: i18n

#12156 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#12118 i18n(ru): update `i18n/ru.yml`
  src/content/i18n/ru.yml
Labels: i18n

#12151 i18n(fr): update `integrations-guide/db.mdx`
  src/content/docs/fr/guides/integrations-guide/db.mdx
Labels: i18n

#12174 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#12161 i18n(es): update contribute guide
  src/content/docs/es/contribute.mdx
Labels: i18n

#12162 i18n(es): update prefetch guide
  src/content/docs/es/guides/prefetch.mdx
Labels: i18n

#12173 feat: clarify partytown config
  src/content/docs/en/guides/integrations-guide/partytown.mdx
Labels: add new content

#12185 context about limited full post content support in RSS
  src/content/docs/en/recipes/rss.mdx
Labels: improve or update documentation

#12184 Adds community resources section to Partytown with links
  src/content/docs/en/guides/integrations-guide/partytown.mdx
Labels: community resource

#12188 tip to restart dev server if collections schema not recognized
  src/content/docs/en/guides/content-collections.mdx
Labels: improve or update documentation

#12194 Updates CMS guide for Strapi 5
  src/content/docs/en/guides/cms/strapi.mdx
Labels: code snippet update, 3rd-party guide

#12204 i18n(ko-KR): update `github.mdx`
  src/content/docs/ko/guides/deploy/github.mdx
Labels: i18n

#12202 i18n(ko-KR): update `content-loader-reference.mdx`
  src/content/docs/ko/reference/content-loader-reference.mdx
Labels: i18n

#12201 i18n(ko-KR): update `rss.mdx`
  src/content/docs/ko/recipes/rss.mdx
Labels: i18n

#12200 i18n(ko-KR): update `build-forms.mdx`
  src/content/docs/ko/recipes/build-forms.mdx
Labels: i18n

#12199 i18n(ko-KR): update `partytown.mdx`
  src/content/docs/ko/guides/integrations-guide/partytown.mdx
Labels: i18n

#12198 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#12197 i18n(ko-KR): update `strapi.mdx`
  src/content/docs/ko/guides/cms/strapi.mdx
Labels: i18n

#12169 i18n(fr): improve the wording and fix mismatches in `cli-reference.mdx`
  src/content/docs/fr/reference/cli-reference.mdx
Labels: i18n

#12189 fix(dev-toolbar-app-reference): API reference format + new component
  src/content/docs/en/reference/dev-toolbar-app-reference.mdx
Labels: add new content, consistency/formatting

#12216 i18n(fr): update `experimental-flags/fonts.mdx`
  src/content/docs/fr/reference/experimental-flags/fonts.mdx
Labels: i18n

#12222 i18n(zh-cn): Update `astro-components.mdx`
  src/content/docs/zh-cn/basics/astro-components.mdx
Labels: i18n

#12226 i18n(ko-KR): update `dev-toolbar-app-reference.mdx`
  src/content/docs/ko/reference/dev-toolbar-app-reference.mdx
Labels: i18n

#12239 removed trailing comma in .prettierrc example config
  src/content/docs/en/editor-setup.mdx
Labels: code snippet update

#12218 i18n(zh-cn): Update `tutorial/*`
  src/content/docs/zh-cn/tutorial/0-introduction/index.mdx
  src/content/docs/zh-cn/tutorial/1-setup/index.mdx
  src/content/docs/zh-cn/tutorial/2-pages/index.mdx
  src/content/docs/zh-cn/tutorial/3-components/index.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/index.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/index.mdx
  src/content/docs/zh-cn/tutorial/6-islands/4.mdx
  src/content/docs/zh-cn/tutorial/6-islands/index.mdx
  src/content/i18n/zh-CN.yml
Labels: i18n

#12233 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
Labels: i18n

#12232 i18n(zh-cn): Update `configuring-astro.mdx`
  src/content/docs/zh-cn/guides/configuring-astro.mdx
Labels: i18n

#12205 i18n(zh-tw): update `editor-setup.mdx`
  src/content/docs/zh-tw/editor-setup.mdx
Labels: i18n

#12245 i18n(ko-KR): update `csp.mdx`
  src/content/docs/ko/reference/experimental-flags/csp.mdx
Labels: i18n

#12244 i18n(ko-KR): update `editor-setup.mdx`
  src/content/docs/ko/editor-setup.mdx
Labels: i18n

#12225 i18n(zh-cn): Update `contribute.mdx`
  src/content/docs/zh-cn/contribute.mdx
Labels: i18n

#12220 i18n(fr): update `recipes/rss.mdx`
  src/content/docs/fr/recipes/rss.mdx
Labels: i18n

#12219 i18n(fr): update `dev-toolbar-app-reference.mdx`
  src/content/docs/fr/recipes/making-toolbar-apps.mdx
  src/content/docs/fr/reference/dev-toolbar-app-reference.mdx
Labels: i18n
