Repository withastro/docs, pull requests merged in 2025-03, with the labels that each got.

#11109 i18n(ko-KR): update `sessions.mdx`
  src/content/docs/ko/reference/experimental-flags/sessions.mdx
Labels: i18n

#11110 i18n(ko-KR): update `typescript.mdx`
  i18n-guides/한국어.md
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#11113 i18n(ko-KR): update `typescript.mdx`
  src/content/docs/ko/guides/typescript.mdx
Labels: i18n

#11114 Fix Broken Link in Zerops Guide
  src/content/docs/en/guides/deploy/zerops.mdx
  src/content/docs/es/guides/deploy/zerops.mdx
  src/content/docs/fr/guides/deploy/zerops.mdx
  src/content/docs/ko/guides/deploy/zerops.mdx
  src/content/docs/pt-br/guides/deploy/zerops.mdx
  src/content/docs/zh-cn/guides/deploy/zerops.mdx
Labels: typo/link/grammar - quick fix!, i18n

#11118 fix: update `environment-variables.mdx`
  src/content/docs/en/guides/environment-variables.mdx
  src/content/docs/ko/guides/cms/kontent-ai.mdx
  src/content/docs/ko/guides/environment-variables.mdx
Labels: improve or update documentation, i18n

#11116 i18n(ja): Update /i18n-guides/日本語.md
  i18n-guides/日本語.md
Labels: i18n

#11125 i18n(zh-cn): Update `typescript.mdx`
  src/content/docs/zh-cn/guides/typescript.mdx
Labels: i18n

#11124 i18n(zh-cn): Update `5-astro-api/2.mdx`
  src/content/docs/zh-cn/tutorial/5-astro-api/2.mdx
Labels: i18n

#11008 i18n(zh-cn): Update `endpoints.mdx`
  src/content/docs/zh-cn/guides/endpoints.mdx
Labels: i18n, Merge Queue

#11010 i18n(zh-cn): Update `configuration-reference.mdx`
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n, Merge Queue

#10997 i18n(zh-cn): Update `error-reference.mdx` & `reference/errors/`
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/session-config-missing-error.mdx
  src/content/docs/zh-cn/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/zh-cn/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n, Merge Queue

#11097 i18n(zh-cn): Update `dev-toolbar.mdx`
  src/content/docs/zh-cn/guides/dev-toolbar.mdx
Labels: i18n, Merge Queue

#11099 i18n(zh-cn): Update `vercel.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n, Merge Queue

#11100 i18n(zh-cn): Update `images.mdx`
  src/content/docs/zh-cn/guides/images.mdx
Labels: i18n, Merge Queue

#11043 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n, Merge Queue

#11129 i18n(fr): fix type in `reference/modules/astro-content.mdx`
  src/content/docs/fr/reference/modules/astro-content.mdx
Labels: i18n

#11128 i18n(ko-KR): update `astro-content.mdx`
  src/content/docs/ko/reference/modules/astro-content.mdx
Labels: i18n

#11130 i18n(fr): update `guides/typescript.mdx`
  src/content/docs/fr/guides/typescript.mdx
Labels: i18n

#11135 i18n(zh-cn): update `microsoft-azure.mdx`
  src/content/docs/zh-cn/guides/deploy/microsoft-azure.mdx
Labels: i18n, Merge Queue

#11052 i18n(zh-cn): Update `sessions.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/sessions.mdx
Labels: i18n, Merge Queue

#11136 i18n(zh-cn): update `programmatic-reference.mdx`
  src/content/docs/zh-cn/reference/programmatic-reference.mdx
Labels: i18n, Merge Queue

#11137 fix: update `astro-pages.mdx`
  src/content/docs/en/basics/astro-pages.mdx
Labels: improve or update documentation

#11142 i18n(fr): update `guides/syntax-highlighting.mdx`
  src/content/docs/fr/guides/syntax-highlighting.mdx
Labels: i18n

#11143 i18n(ko-KR): update `astro-pages.mdx`
  i18n-guides/한국어.md
  src/content/docs/ko/basics/astro-pages.mdx
  src/content/docs/ko/reference/routing-reference.mdx
Labels: i18n

#11011 i18n(zh-tw): Update `guides/deploy/github.mdx`
  src/content/docs/zh-tw/guides/deploy/github.mdx
Labels: i18n, Merge Queue

#11146 fix(content-collections): improve `reference()` docs and minor fixes
  src/content/docs/en/guides/content-collections.mdx
  src/content/docs/en/reference/modules/astro-content.mdx
Labels: improve or update documentation

#11147 i18n(zh-cn): update `astro-pages.mdx`
  src/content/docs/zh-cn/basics/astro-pages.mdx
Labels: i18n

#11148 i18n(fr): update `basics/astro-pages.mdx`
  src/content/docs/fr/basics/astro-pages.mdx
Labels: i18n

#11153 i18n(ko-KR): update `content-collections.mdx`
  src/content/docs/ko/guides/content-collections.mdx
Labels: i18n

#11154 i18n(ko-KR): update `astro-content.mdx`
  src/content/docs/ko/reference/modules/astro-content.mdx
Labels: i18n

#11151 i18n(zh-cn): update `content-collections.mdx` and `astro-content.mdx`
  src/content/docs/zh-cn/guides/content-collections.mdx
  src/content/docs/zh-cn/reference/modules/astro-content.mdx
Labels: i18n, Merge Queue

#11150 i18n(zh-cn): update `responsive-images.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n, Merge Queue

#11157 i18n(fr): update `guides/content-collections` & `modules/astro-content`
  src/content/docs/fr/guides/content-collections.mdx
  src/content/docs/fr/reference/modules/astro-content.mdx
Labels: i18n

#11161 update File() loader explanation closes #11027
  src/content/docs/en/reference/content-loader-reference.mdx
Labels: improve or update documentation

#11159 fix(tutorial): prevent character encoding issue in unit 4
  src/content/docs/en/tutorial/4-layouts/2.mdx
  src/content/docs/en/tutorial/4-layouts/3.mdx
Labels: improve or update documentation, tutorial

#11156 fix: update `routing.mdx`
  src/content/docs/en/guides/routing.mdx
Labels: consistency/formatting

#11166 i18n(zh-cn): Update `4-layouts/`
  src/content/docs/zh-cn/tutorial/4-layouts/2.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/3.mdx
Labels: i18n

#11167 i18n(zh-cn): Update `content-loader-reference.mdx`
  src/content/docs/zh-cn/reference/content-loader-reference.mdx
Labels: i18n, Merge Queue

#11168 i18n(zh-cn): Update `routing.mdx`
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n, Merge Queue

#11170 i18n(zh-cn): Update `tutorial/`
  src/content/docs/zh-cn/tutorial/2-pages/3.mdx
  src/content/docs/zh-cn/tutorial/3-components/2.mdx
  src/content/docs/zh-cn/tutorial/3-components/3.mdx
  src/content/docs/zh-cn/tutorial/4-layouts/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/1.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/2.mdx
  src/content/docs/zh-cn/tutorial/5-astro-api/3.mdx
  src/content/docs/zh-cn/tutorial/6-islands/1.mdx
Labels: i18n, Merge Queue

#11164 i18n(ko-KR): update `/tutorial/4-layouts/`
  src/content/docs/ko/tutorial/4-layouts/2.mdx
  src/content/docs/ko/tutorial/4-layouts/3.mdx
Labels: i18n

#11163 i18n(ko-KR): update `content-loader-reference.mdx`
  src/content/docs/ko/reference/content-loader-reference.mdx
Labels: i18n, Merge Queue

#11172 i18n(fr): update `content-loader-reference.mdx`
  src/content/docs/fr/reference/content-loader-reference.mdx
Labels: i18n

#11173 i18n(fr): update `guides/routing.mdx`
  src/content/docs/fr/guides/routing.mdx
Labels: i18n

#11175 i18n(ko-KR): create `actions-cant-be-loaded.mdx`
  src/content/docs/ko/reference/error-reference.mdx
  src/content/docs/ko/reference/errors/actions-cant-be-loaded.mdx
Labels: i18n

#11178 i18n(fr): add `reference/errors/actions-cant-be-loaded.mdx`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/actions-cant-be-loaded.mdx
Labels: i18n

#11176 fix: update `data-fetching.mdx`
  src/content/docs/en/guides/data-fetching.mdx
Labels: consistency/formatting

#11174 i18n(zh-cn): Fix typos
  src/content/docs/zh-cn/guides/server-islands.mdx
Labels: i18n

#11180 i18n(fr): update `guides/data-fetching.mdx`
  src/content/docs/fr/guides/data-fetching.mdx
Labels: i18n

#11183 i18n(zh-cn): update error reference docs
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/actions-cant-be-loaded.mdx
Labels: i18n, Merge Queue

#11177 i18n(zh-cn): Update `no-matching-renderer.mdx`
  src/content/docs/zh-cn/reference/errors/no-matching-renderer.mdx
Labels: i18n, Merge Queue

#11186 fix(docs-10876): Fix incorrect suggestion about output: "server" in forms recipe
  src/content/docs/en/recipes/build-forms.mdx
Labels: improve or update documentation

#11187 i18n(ko-KR): update `build-forms.mdx`
  src/content/docs/ko/recipes/build-forms.mdx
Labels: i18n

#11185 i18n(zh-CN): unify translation of "headless CMS"
  src/content/docs/zh-cn/getting-started.mdx
  src/content/docs/zh-cn/guides/cms/buttercms.mdx
  src/content/docs/zh-cn/guides/cms/datocms.mdx
  src/content/docs/zh-cn/guides/cms/payload.mdx
Labels: i18n, Merge Queue

#11184 i18n(zh-cn): update `data-fetching.mdx`
  src/content/docs/zh-cn/guides/data-fetching.mdx
Labels: i18n, Merge Queue

#11169 i18n(ru): add `i18n-guides\russian.md`
  i18n-guides/README.md
  i18n-guides/russian.md
Labels: i18n

#11155 i18n(ru): update `nav/ru.ts`
  src/content/nav/ru.ts
Labels: i18n

#11122 i18n(ru): update `ru/getting-started.mdx`
  src/content/docs/ru/getting-started.mdx
Labels: i18n

#11144 i18n(zh-tw): update `basics/astro-pages.mdx`
  src/content/docs/zh-tw/basics/astro-pages.mdx
Labels: i18n

#11121 i18n(es): Translate `craft-cms.mdx`
  src/content/docs/es/guides/cms/craft-cms.mdx
Labels: i18n

#11119 i18n(es): Translate error pages
  src/content/docs/es/reference/errors/env-invalid-variables.mdx
  src/content/docs/es/reference/errors/env-unsupported-get-secret.mdx
  src/content/docs/es/reference/errors/expected-not-esmimage.mdx
  src/content/docs/es/reference/errors/forbidden-rewrite.mdx
  src/content/docs/es/reference/errors/get-entry-deprecation-error.mdx
  src/content/docs/es/reference/errors/i18n-no-locale-found-in-path.mdx
  src/content/docs/es/reference/errors/invalid-content-entry-data-error.mdx
  src/content/docs/es/reference/errors/locals-reassigned.mdx
  src/content/docs/es/reference/errors/no-adapter-installed-server-islands.mdx
  src/content/docs/es/reference/errors/render-undefined-entry-error.mdx
Labels: i18n

#11120 i18n(es): Translate error pages
  src/content/docs/es/reference/errors/action-not-found-error.mdx
  src/content/docs/es/reference/errors/action-query-string-invalid-error.mdx
  src/content/docs/es/reference/errors/actions-returned-invalid-data-error.mdx
  src/content/docs/es/reference/errors/actions-used-with-for-get-error.mdx
  src/content/docs/es/reference/errors/actions-without-server-output-error.mdx
  src/content/docs/es/reference/errors/adapter-support-output-mismatch.mdx
  src/content/docs/es/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/es/reference/errors/content-entry-data-error.mdx
  src/content/docs/es/reference/errors/content-loader-invalid-data-error.mdx
  src/content/docs/es/reference/errors/content-loader-returns-invalid-id.mdx
  src/content/docs/es/reference/errors/env-invalid-variable.mdx
Labels: i18n

#11117 i18n(es): Translate error pages
  src/content/docs/es/reference/errors/rewrite-encountered-an-error.mdx
  src/content/docs/es/reference/errors/server-only-module.mdx
  src/content/docs/es/reference/errors/session-config-missing-error.mdx
  src/content/docs/es/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/es/reference/errors/session-storage-init-error.mdx
  src/content/docs/es/reference/errors/session-storage-save-error.mdx
  src/content/docs/es/reference/errors/session-without-supported-adapter-output-error.mdx
  src/content/docs/es/reference/errors/unknown-filesystem-error.mdx
Labels: i18n

#11126 i18n(ru): update `ru/reference/integrations-reference.mdx`
  src/content/docs/ru/reference/integrations-reference.mdx
Labels: i18n

#10583 i18n(ja): Add new `reference/content-loader-reference.mdx` translation
  src/content/docs/ja/reference/content-loader-reference.mdx
Labels: i18n

#11195 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#11048 i18n(ja): Add publish-to-npm.mdx
  src/content/docs/ja/reference/publish-to-npm.mdx
Labels: i18n

#11152 i18n(hi) - Create develop-and-build.mdx
  src/content/docs/hi/develop-and-build.mdx
Labels: i18n

#11200 fix(data-fetching): typo in a code snippet
  src/content/docs/en/guides/data-fetching.mdx
Labels: code snippet update

#11201 i18n(fr): update code blocks formatting in various files
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/guides/configuring-astro.mdx
  src/content/docs/fr/guides/data-fetching.mdx
  src/content/docs/fr/guides/dev-toolbar.mdx
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/guides/routing.mdx
  src/content/docs/fr/guides/typescript.mdx
  src/content/docs/fr/install-and-setup.mdx
Labels: i18n

#11145 i18n(ru): translate `guides/upgrade-to/v5.mdx`
  src/content/docs/ru/guides/upgrade-to/v5.mdx
  src/content/docs/ru/reference/integrations-reference.mdx
Labels: i18n

#11197 Update the Deno guide and logo
  public/logos/deno.svg
  src/content/docs/en/guides/deploy/deno.mdx
Labels: improve or update documentation

#11205 i18n(ko-KR): update `data-fetching.mdx`
  src/content/docs/ko/guides/data-fetching.mdx
Labels: i18n

#11207 i18n(ko-KR): update `configuration-reference.mdx`
  src/content/docs/ko/reference/configuration-reference.mdx
Labels: i18n

#11206 i18n(ko-KR): update `deno.mdx`
  src/content/docs/ko/guides/deploy/deno.mdx
Labels: i18n

#11208 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#11209 i18n(fr): update `guides/deploy/deno.mdx`
  src/content/docs/fr/guides/deploy/deno.mdx
Labels: i18n

#11210 i18n(fr): update `image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#11213 Fixes type syntax generated by our config reference script
  scripts/docgen.mjs
Labels: site improvement

#11202 Add docs for `experimental.headingIdCompat` flag
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/heading-id-compat.mdx
Labels: add new content, merge-on-release, minor-release

#11211 feat: document new experimental feature `preserveScriptsOrder`
  astro.sidebar.ts
  src/content/docs/en/reference/experimental-flags/preserve-scripts-order.mdx
Labels: add new content, merge-on-release, minor-release

#11193 i18n(zh-cn): imporve Manual Setup zh-cn tranlate
  src/content/docs/zh-cn/basics/project-structure.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n, Merge Queue

#11190 i18n(zh-cn): Update `build-forms.mdx`
  src/content/docs/zh-cn/recipes/build-forms.mdx
Labels: i18n, Merge Queue

#11217 i18n(fr): update formatting in `image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#11215 5.5.0 Minor release docs
  astro.sidebar.ts
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/experimental-flags/heading-id-compat.mdx
  src/content/docs/en/reference/experimental-flags/preserve-scripts-order.mdx
Labels: add new content, merge-on-release, minor-release

#11220 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#11221 fix: update `endpoints.mdx`
  src/content/docs/en/guides/endpoints.mdx
Labels: typo/link/grammar - quick fix!, consistency/formatting

#11219 i18n(ko-KR): update `configuration-reference.mdx` and create files
  src/content/docs/ko/reference/configuration-reference.mdx
  src/content/docs/ko/reference/experimental-flags/heading-id-compat.mdx
  src/content/docs/ko/reference/experimental-flags/preserve-scripts-order.mdx
Labels: i18n

#11218 i18n(zh-cn): Update some codeblocks
  src/content/docs/zh-cn/concepts/islands.mdx
  src/content/docs/zh-cn/guides/configuring-astro.mdx
  src/content/docs/zh-cn/guides/data-fetching.mdx
  src/content/docs/zh-cn/guides/dev-toolbar.mdx
  src/content/docs/zh-cn/guides/environment-variables.mdx
  src/content/docs/zh-cn/guides/routing.mdx
  src/content/docs/zh-cn/guides/typescript.mdx
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n

#11204 i18n(pt-BR): update `api-reference.mdx`
  src/content/docs/pt-br/guides/content-collections.mdx
  src/content/docs/pt-br/guides/endpoints.mdx
  src/content/docs/pt-br/guides/imports.mdx
  src/content/docs/pt-br/guides/middleware.mdx
  src/content/docs/pt-br/guides/routing.mdx
  src/content/docs/pt-br/guides/typescript.mdx
  src/content/docs/pt-br/guides/upgrade-to/v2.mdx
  src/content/docs/pt-br/guides/upgrade-to/v3.mdx
  src/content/docs/pt-br/guides/upgrade-to/v4.mdx
  src/content/docs/pt-br/recipes/call-endpoints.mdx
  src/content/docs/pt-br/reference/adapter-reference.mdx
  src/content/docs/pt-br/reference/api-reference.mdx
  src/content/docs/pt-br/reference/errors/action-called-from-server-error.mdx
  src/content/docs/pt-br/reference/errors/client-address-not-available.mdx
  src/content/docs/pt-br/reference/errors/get-static-paths-expected-params.mdx
  src/content/docs/pt-br/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/pt-br/reference/errors/get-static-paths-required.mdx
  src/content/docs/pt-br/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/pt-br/reference/errors/invalid-get-static-paths-entry.mdx
  src/content/docs/pt-br/reference/errors/invalid-get-static-paths-return.mdx
  src/content/docs/pt-br/reference/errors/no-matching-static-path-found.mdx
  src/content/docs/pt-br/reference/errors/prerender-dynamic-endpoint-path-collide.mdx
  src/content/docs/pt-br/reference/errors/redirect-with-no-location.mdx
  src/content/docs/pt-br/reference/errors/static-client-address-not-available.mdx
  src/content/docs/pt-br/reference/errors/static-redirect-not-available.mdx
  src/content/docs/pt-br/tutorial/5-astro-api/2.mdx
Labels: i18n

#11224 i18n(fr): update `guides/endpoints.mdx`
  src/content/docs/fr/guides/endpoints.mdx
Labels: i18n

#11229 i18n(pt-BR): translate `recipes/analyze-bundle-size.mdx`
  src/content/docs/pt-br/recipes/analyze-bundle-size.mdx
Labels: i18n

#11228 i18n(pt-BR): translate `referece/errors/prerender-client-address-not-available.mdx`
  src/content/docs/pt-br/reference/errors/prerender-client-address-not-available.mdx
Labels: i18n

#11194 feat(assets): document more utilities
  src/content/docs/en/reference/image-service-reference.mdx
Labels: add new content

#11223 i18n(fr): update `configuration-reference.mdx`
  src/content/docs/fr/reference/configuration-reference.mdx
Labels: i18n

#11225 i18n(fr): add `experimental-flags/preserve-scripts-order.mdx`
  src/content/docs/fr/reference/experimental-flags/preserve-scripts-order.mdx
Labels: i18n

#11232 i18n(ko-KR): update `storyblok.mdx`
  src/content/docs/ko/guides/cms/storyblok.mdx
Labels: i18n

#11236 i18n(ko-KR): update `view-transitions.mdx`
  src/content/docs/ko/guides/actions.mdx
  src/content/docs/ko/guides/prefetch.mdx
  src/content/docs/ko/guides/upgrade-to/v3.mdx
  src/content/docs/ko/guides/upgrade-to/v4.mdx
  src/content/docs/ko/guides/upgrade-to/v5.mdx
  src/content/docs/ko/guides/view-transitions.mdx
  src/content/docs/ko/reference/modules/astro-transitions.mdx
Labels: i18n

#10984 i18n(de): Update de.yml
  src/content/i18n/de.yml
Labels: i18n

#11233 i18n(ko-KR): update `image-service-reference.mdx`
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#11090 i18n - create actions.mdx in Polish
  src/content/docs/pl/guides/actions.mdx
Labels: i18n

#10588 i18n(ru): update some translations
  src/content/docs/ru/basics/layouts.mdx
  src/content/docs/ru/guides/cms/builderio.mdx
  src/content/docs/ru/guides/content-collections.mdx
  src/content/docs/ru/guides/internationalization.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/ru/guides/middleware.mdx
  src/content/docs/ru/guides/migrate-to-astro/index.mdx
  src/content/docs/ru/guides/routing.mdx
  src/content/docs/ru/guides/typescript.mdx
  src/content/docs/ru/guides/upgrade-to/v2.mdx
  src/content/docs/ru/guides/upgrade-to/v3.mdx
  src/content/docs/ru/guides/upgrade-to/v4.mdx
  src/content/docs/ru/recipes/call-endpoints.mdx
  src/content/docs/ru/reference/api-reference.mdx
  src/content/docs/ru/reference/errors/client-address-not-available.mdx
  src/content/docs/ru/reference/errors/content-schema-contains-slug-error.mdx
  src/content/docs/ru/reference/errors/get-static-paths-expected-params.mdx
  src/content/docs/ru/reference/errors/get-static-paths-invalid-route-param.mdx
  src/content/docs/ru/reference/errors/get-static-paths-required.mdx
  src/content/docs/ru/reference/errors/invalid-frontmatter-injection-error.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-path-param.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-paths-entry.mdx
  src/content/docs/ru/reference/errors/invalid-get-static-paths-return.mdx
  src/content/docs/ru/reference/errors/no-matching-static-path-found.mdx
  src/content/docs/ru/reference/errors/prerender-dynamic-endpoint-path-collide.mdx
  src/content/docs/ru/reference/errors/redirect-with-no-location.mdx
  src/content/docs/ru/reference/errors/static-client-address-not-available.mdx
  src/content/docs/ru/reference/errors/static-redirect-not-available.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
  src/content/docs/ru/tutorial/5-astro-api/2.mdx
Labels: i18n

#11237 i18n(zh-cn): update `storyblok.mdx`
  src/content/docs/zh-cn/guides/cms/storyblok.mdx
Labels: i18n

#11240 i18n(fr): update `guides/cms/storyblok.mdx`
  src/content/docs/fr/guides/cms/storyblok.mdx
Labels: i18n

#11244 Update from-hugo.mdx
  src/content/docs/en/guides/migrate-to-astro/from-hugo.mdx
Labels: Merge Queue, community resource

#11238 i18n(zh-cn): update `deno.mdx`
  src/content/docs/zh-cn/guides/deploy/deno.mdx
Labels: i18n

#11247 i18n(zh-cn): Update `from-hugo.mdx`
  src/content/docs/zh-cn/guides/migrate-to-astro/from-hugo.mdx
Labels: i18n

#11246 i18n(ko-KR): update `from-hugo.mdx`
  src/content/docs/ko/guides/migrate-to-astro/from-hugo.mdx
Labels: i18n

#11257 Fix heading level in directives reference
  src/content/docs/en/reference/directives-reference.mdx
Labels: typo/link/grammar - quick fix!

#11255 i18n(pt-BR): translate reference/errors/content-loader-returns-invalid-id.mdx
  src/content/docs/pt-br/reference/errors/content-loader-returns-invalid-id.mdx
Labels: i18n

#11254 i18n(pt-BR): translate reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/pt-br/reference/errors/cant-use-astro-config-module-error.mdx
Labels: i18n

#11253 i18n(pt-BR): translate reference/errors/actions-cant-be-loaded.mdx
  src/content/docs/pt-br/reference/errors/actions-cant-be-loaded.mdx
Labels: i18n

#11258 i18n(fr): update heading level in `directives-reference.mdx`
  src/content/docs/fr/reference/directives-reference.mdx
Labels: i18n

#11265 Disable Renovate package manager updates
  .github/renovate.json5
Labels: ci

#11273 Disable Renovate `.nvmrc` updates
  .github/renovate.json5
Labels: ci

#11274 i18n(pt-BR): translate reference/errors/unsupported-external-redirect.mdx
  src/content/docs/pt-br/reference/errors/unsupported-external-redirect.mdx
Labels: i18n

#11272 i18n(pt-BR): translate reference/errors/session-without-supported-adapter-output-error.mdx
  src/content/docs/pt-br/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#11271 i18n(pt-BR): translate reference/errors/session-storage-save-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-save-error.mdx
Labels: i18n

#11270 i18n(pt-BR): translate reference/errors/session-storage-init-error.mdx
  src/content/docs/pt-br/reference/errors/session-storage-init-error.mdx
Labels: i18n

#11269 i18n(pt-BR): translate reference/errors/session-config-without-flag-error.mdx
  src/content/docs/pt-br/reference/errors/session-config-without-flag-error.mdx
Labels: i18n

#11266 i18n(pt-BR): translate reference/errors/session-config-missing-error.mdx
  src/content/docs/pt-br/reference/errors/session-config-missing-error.mdx
Labels: i18n

#11277 i18n(ko-KR): update `directives-reference.mdx`
  src/content/docs/ko/reference/directives-reference.mdx
Labels: i18n

#11252 Update add-yaml-support.mdx
  src/content/docs/en/recipes/add-yaml-support.mdx
Labels: code snippet update

#11281 Disable Renovate Dashboard
  .github/renovate.json5
Labels: ci

#11283 i18n(fr): update `recipes/add-yaml-support.mdx`
  src/content/docs/fr/recipes/add-yaml-support.mdx
Labels: i18n

#11286 i18n(ko-KR): update `add-yaml-support.mdx`
  src/content/docs/ko/recipes/add-yaml-support.mdx
Labels: i18n

#11287 i18n(zh-cn): Update `add-yaml-support.mdx`
  src/content/docs/zh-cn/recipes/add-yaml-support.mdx
Labels: i18n

#11149 Update Astro to latest
  package.json
  pnpm-lock.yaml
Labels: site improvement

#11288 feat: remove cloudflare env limitation
  src/content/docs/en/guides/environment-variables.mdx
Labels: merge-on-release

#11289 i18n(zh-cn): Update `view-transitions.mdx`
  src/content/docs/zh-cn/guides/view-transitions.mdx
Labels: i18n

#11282 i18n(zh-cn): add `heading-id-compat.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/heading-id-compat.mdx
Labels: i18n

#11239 i18n(fr): add `experimental-flags/heading-id-compat.mdx`
  src/content/docs/fr/reference/experimental-flags/heading-id-compat.mdx
Labels: i18n

#11241 i18n(fr): update `guides/view-transitions.mdx`
  src/content/docs/fr/guides/view-transitions.mdx
Labels: i18n

#11242 i18n(fr): update `image-service-reference.mdx`
  src/content/docs/fr/reference/image-service-reference.mdx
Labels: i18n

#11292 i18n(ko-KR): update `environment-variables.mdx`
  src/content/docs/ko/guides/environment-variables.mdx
Labels: i18n

#11293 i18n(zh-cn): Update `environment-variables.mdx`
  src/content/docs/zh-cn/guides/environment-variables.mdx
Labels: i18n

#11248 i18n(zh-cn): Update `endpoints.mdx`
  src/content/docs/zh-cn/guides/endpoints.mdx
Labels: i18n, Merge Queue

#11294 i18n(zh-cn): Update `directives-reference.mdx`
  src/content/docs/zh-cn/reference/directives-reference.mdx
Labels: i18n, Merge Queue

#11297 i18n(fr): update code snippet in `guides/actions.mdx`
  src/content/docs/fr/guides/actions.mdx
Labels: i18n

#11299 i18n(zh-cn): Update `actions.mdx`
  src/content/docs/zh-cn/guides/actions.mdx
Labels: i18n

#11300 i18n(ko-KR): update `actions.mdx` and `image-service-reference.mdx`
  src/content/docs/ko/guides/actions.mdx
  src/content/docs/ko/reference/image-service-reference.mdx
Labels: i18n

#11284 i18n(es): add `reference/experimental-flags/index.mdx`
  src/content/docs/es/reference/experimental-flags/index.mdx
Labels: i18n

#11278 i18n(ru): update tutorial
  src/content/docs/ru/tutorial/0-introduction/1.mdx
  src/content/docs/ru/tutorial/0-introduction/index.mdx
  src/content/docs/ru/tutorial/1-setup/1.mdx
  src/content/docs/ru/tutorial/1-setup/2.mdx
  src/content/docs/ru/tutorial/1-setup/3.mdx
  src/content/docs/ru/tutorial/1-setup/4.mdx
  src/content/docs/ru/tutorial/1-setup/5.mdx
  src/content/docs/ru/tutorial/1-setup/index.mdx
  src/content/docs/ru/tutorial/2-pages/1.mdx
  src/content/docs/ru/tutorial/2-pages/2.mdx
  src/content/docs/ru/tutorial/2-pages/3.mdx
  src/content/docs/ru/tutorial/2-pages/4.mdx
  src/content/docs/ru/tutorial/2-pages/5.mdx
  src/content/docs/ru/tutorial/2-pages/index.mdx
  src/content/docs/ru/tutorial/3-components/1.mdx
  src/content/docs/ru/tutorial/3-components/2.mdx
  src/content/docs/ru/tutorial/3-components/3.mdx
  src/content/docs/ru/tutorial/3-components/4.mdx
  src/content/docs/ru/tutorial/3-components/index.mdx
  src/content/docs/ru/tutorial/4-layouts/1.mdx
  src/content/docs/ru/tutorial/4-layouts/2.mdx
  src/content/docs/ru/tutorial/4-layouts/3.mdx
  src/content/docs/ru/tutorial/4-layouts/index.mdx
  src/content/docs/ru/tutorial/5-astro-api/1.mdx
  src/content/docs/ru/tutorial/5-astro-api/2.mdx
  src/content/docs/ru/tutorial/5-astro-api/3.mdx
  src/content/docs/ru/tutorial/5-astro-api/4.mdx
  src/content/docs/ru/tutorial/5-astro-api/index.mdx
  src/content/docs/ru/tutorial/6-islands/1.mdx
  src/content/docs/ru/tutorial/6-islands/2.mdx
  src/content/docs/ru/tutorial/6-islands/3.mdx
  src/content/docs/ru/tutorial/6-islands/4.mdx
  src/content/docs/ru/tutorial/6-islands/index.mdx
Labels: i18n

#11276 i18n(pt-BR): translate reference/routing-reference.mdx
  src/content/docs/pt-br/guides/endpoints.mdx
  src/content/docs/pt-br/guides/routing.mdx
  src/content/docs/pt-br/reference/api-reference.mdx
  src/content/docs/pt-br/reference/routing-reference.mdx
Labels: i18n

#11285 Add StudioCMS guide and assets to CMS Section
  public/logos/studiocms.svg
  src/content/docs/en/guides/cms/studiocms.mdx
  src/data/logos.ts
Labels: add new content, 3rd-party guide

#10913 Add missing server context from cloudflare example
  src/content/docs/en/reference/modules/astro-env.mdx
Labels: improve or update documentation, Merge Queue

#11315 i18n(ko-KR): update `prerender-client-address-not-available.mdx`
  src/content/docs/ko/reference/errors/prerender-client-address-not-available.mdx
Labels: i18n

#11317 i18n(ko-KR): create `studiocms.mdx`
  src/content/docs/ko/guides/cms/studiocms.mdx
Labels: i18n

#11316 i18n(ko-KR): update `astro-env.mdx`
  src/content/docs/ko/reference/modules/astro-env.mdx
Labels: i18n

#11314 i18n(zh-cn): Update `astro-env.mdx`
  src/content/docs/zh-cn/reference/modules/astro-env.mdx
Labels: i18n
