Repository withastro/docs, pull requests merged in 2025-05, with the labels that each got.

#11587 Fix `i18n.mdx` snippet missing import and correct usage
  src/content/docs/en/recipes/i18n.mdx
Labels: code snippet update

#11588 i18n(ko-KR): update `i18n.mdx`
  src/content/docs/ko/recipes/i18n.mdx
Labels: i18n

#11589 i18n(ko-KR): update `astro-assets.mdx`
  src/content/docs/ko/reference/modules/astro-assets.mdx
Labels: i18n

#11590 i18n(fr): update code snippet in `recipes/i18n.mdx`
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#11476 i18n(ja): Update `guides/view-transitions.mdx`
  src/content/docs/ja/guides/upgrade-to/v3.mdx
  src/content/docs/ja/guides/view-transitions.mdx
Labels: i18n

#11538 i18n(ja): Update `basics/project-structure.mdx`
  src/content/docs/ja/basics/project-structure.mdx
Labels: i18n

#11607 i18n(ko-KR): update `xata.mdx`
  src/content/docs/ko/guides/backend/xata.mdx
Labels: i18n

#11612 i18n(fr): update `guides/backend/xata.mdx`
  src/content/docs/fr/guides/backend/xata.mdx
Labels: i18n

#11522 i18n(zh-cn): Update `configuration-reference.mdx` and related docs
  src/content/docs/zh-cn/guides/integrations-guide/cloudflare.mdx
  src/content/docs/zh-cn/guides/integrations-guide/netlify.mdx
  src/content/docs/zh-cn/guides/integrations-guide/node.mdx
  src/content/docs/zh-cn/guides/sessions.mdx
  src/content/docs/zh-cn/reference/api-reference.mdx
  src/content/docs/zh-cn/reference/configuration-reference.mdx
Labels: i18n

#11574 i18n(zh-cn): Update `/deploy/`
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
  src/content/docs/zh-cn/guides/deploy/vercel.mdx
Labels: i18n

#11537 i18n(zh-cn): Update `error-reference.mdx` & `reference/errors/`
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/cannot-extract-font-type.mdx
  src/content/docs/zh-cn/reference/errors/cannot-fetch-font-file.mdx
  src/content/docs/zh-cn/reference/errors/cannot-load-font-provider.mdx
  src/content/docs/zh-cn/reference/errors/cant-use-astro-config-module-error.mdx
  src/content/docs/zh-cn/reference/errors/experimental-fonts-not-enabled.mdx
  src/content/docs/zh-cn/reference/errors/font-family-not-found.mdx
  src/content/docs/zh-cn/reference/errors/session-config-missing-error.mdx
  src/content/docs/zh-cn/reference/errors/session-config-without-flag-error.mdx
  src/content/docs/zh-cn/reference/errors/session-without-supported-adapter-output-error.mdx
Labels: i18n

#11536 i18n(zh-cn): Update `astro-content.mdx`
  src/content/docs/zh-cn/reference/modules/astro-content.mdx
Labels: i18n

#11535 i18n(zh-cn): Update `cli-reference.mdx`
  src/content/docs/zh-cn/reference/cli-reference.mdx
Labels: i18n

#11613 Fix unclosed code block in Spanish `astro-config.mdx`
  src/content/docs/es/reference/modules/astro-config.mdx
Labels: i18n

#11527 i18n(zh-cn): Add `astro-config.mdx`
  src/content/docs/zh-cn/reference/modules/astro-config.mdx
Labels: i18n

#11526 i18n(zh-cn): Update `cms/` & `routing.mdx`
  src/content/docs/zh-cn/guides/cms/preprcms.mdx
  src/content/docs/zh-cn/guides/cms/strapi.mdx
  src/content/docs/zh-cn/guides/routing.mdx
Labels: i18n

#11523 i18n(zh-cn): Update `vercel.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/vercel.mdx
Labels: i18n

#11577 i18n(zh-cn): Update `responsive-images.mdx`
  src/content/docs/zh-cn/reference/experimental-flags/responsive-images.mdx
Labels: i18n

#11539 i18n(ja): Add`guides/on-demand-rendering.mdx`
  src/content/docs/ja/guides/integrations-guide/cloudflare.mdx
  src/content/docs/ja/guides/on-demand-rendering.mdx
Labels: i18n

#11597 i18n(es): translate `cannot-load-font-provider.mdx`
  src/content/docs/es/reference/errors/cannot-load-font-provider.mdx
Labels: i18n

#11598 i18n(es): translate `experimental-fonts-not-enabled.mdx`
  src/content/docs/es/reference/errors/experimental-fonts-not-enabled.mdx
Labels: i18n

#11599 i18n(es): translate `font-family-not-found.mdx`
  src/content/docs/es/reference/errors/font-family-not-found.mdx
Labels: i18n

#11525 i18n(zh-cn): Update `/deploy/cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n

#11615 i18n(zh-cn): Update `xata.mdx`
  src/content/docs/zh-cn/guides/backend/xata.mdx
Labels: i18n

#11618 i18n(zh-cn): Update `astro-assets.mdx`
  src/content/docs/zh-cn/reference/modules/astro-assets.mdx
Labels: i18n

#11617 i18n(zh-cn): Update `unsupported-external-redirect.mdx`
  src/content/docs/zh-cn/reference/errors/unsupported-external-redirect.mdx
Labels: i18n

#11616 i18n(zh-cn): Update `i18n.mdx`
  src/content/docs/zh-cn/recipes/i18n.mdx
Labels: i18n

#11443 i18n(es): translate `drupal.mdx`
  src/content/docs/es/guides/cms/drupal.mdx
Labels: i18n

#11603 i18n(ja): Update `guides/backend/xata.mdx`
  src/content/docs/ja/guides/backend/xata.mdx
Labels: i18n

#11601 i18n(ja): Update `guides/backend/index.mdx`
  src/content/docs/ja/guides/backend/index.mdx
Labels: i18n

#11584 i18n(zh-tw): update `zh-TW.yml`
  src/content/i18n/zh-TW.yml
Labels: i18n

#11579 i18n(ja): Update `i18/ja.yml`
  src/content/i18n/ja.yml
Labels: i18n

#11580 i18n(ja): Update`basics/astro-pages.mdx`
  src/content/docs/ja/basics/astro-pages.mdx
Labels: i18n

#11620 Add note to Cloudflare deploy guide about using Workers vs Pages
  src/content/docs/en/guides/deploy/cloudflare.mdx
Labels: improve or update documentation, Merge Queue

#11552 i18n(ja): Update `concepts/islands.mdx`
  src/content/docs/ja/concepts/islands.mdx
Labels: i18n

#11494 i18n(ja): Add `guides/migrate-to-astro/from-to-gatsby.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-gatsby.mdx
Labels: i18n

#11623 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#11609 Add upgrade instructions for Tailwind in styling guide
  src/content/docs/en/guides/styling.mdx
Labels: improve or update documentation

#11578 i18n(ja): Update `src/content/docs/ja/editor-setup.mdx`
  src/content/docs/ja/editor-setup.mdx
Labels: i18n

#11619 feat(fonts): local inference
  src/content/docs/en/reference/experimental-flags/fonts.mdx
Labels: improve or update documentation, merge-on-release

#11627 Update client-side-scripts.mdx
  src/content/docs/en/guides/client-side-scripts.mdx
Labels: improve or update documentation

#11633 i18n(pt): translate `astro-config.mdx`
  src/content/docs/pt-br/reference/modules/astro-config.mdx
Labels: i18n

#11631 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11630 i18n(ko-KR): update `styling.mdx`
  src/content/docs/ko/guides/styling.mdx
Labels: i18n

#11637 i18n(fr): update code snippet in `modules/astro-config.mdx`
  src/content/docs/fr/reference/modules/astro-config.mdx
Labels: i18n

#11628 i18n(fr): update `client-side-scripts.mdx`
  src/content/docs/fr/guides/client-side-scripts.mdx
Labels: i18n

#11638 i18n(pt-BR): update code snippet in `astro-config.mdx`
  src/content/docs/pt-br/reference/modules/astro-config.mdx
Labels: i18n

#11645 i18n(zh-cn): Update `client-side-scripts.mdx`
  src/content/docs/zh-cn/guides/client-side-scripts.mdx
Labels: i18n

#11642 i18n(ko-KR): update `astro-config.mdx`
  src/content/docs/ko/reference/modules/astro-config.mdx
Labels: i18n

#11641 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11650 i18n(zh-cn): Update `astro-config.mdx`
  src/content/docs/zh-cn/reference/modules/astro-config.mdx
Labels: i18n

#11594 i18n(ja): Add `guides/action.mdx`
  src/content/docs/ja/guides/actions.mdx
Labels: i18n

#11595 i18n(es): translate `umbraco.mdx`
  src/content/docs/es/guides/cms/umbraco.mdx
Labels: i18n

#11596 i18n(es): translate `cloudinary.mdx`
  src/content/docs/es/guides/media/cloudinary.mdx
Labels: i18n

#11600 i18n(ja): Update `guides/authentication.mdx`
  src/content/docs/ja/guides/authentication.mdx
Labels: i18n

#11585 i18n(ru): translate `guides/styling.mdx` and update related pages
  src/content/docs/ru/basics/astro-components.mdx
  src/content/docs/ru/basics/layouts.mdx
  src/content/docs/ru/guides/markdown-content.mdx
  src/content/docs/ru/guides/styling.mdx
  src/content/docs/ru/guides/upgrade-to/v3.mdx
  src/content/docs/ru/reference/api-reference.mdx
  src/content/docs/ru/reference/errors/reserved-slot-name.mdx
  src/content/docs/ru/tutorial/2-pages/4.mdx
  src/content/docs/ru/tutorial/2-pages/5.mdx
  src/content/docs/ru/tutorial/3-components/2.mdx
Labels: i18n

#11653 i18n(ko-KR): update `errors/`
  src/content/docs/ko/reference/errors/cannot-determine-weight-and-style-from-font-file.mdx
Labels: i18n

#11593 i18n(fr): update the French `i18n-guide`
  i18n-guides/français.md
Labels: i18n

#11649 i18n(zh-cn): Create cannot-determine-weight-and-style-from-font-file.mdx
  src/content/docs/zh-cn/reference/errors/cannot-determine-weight-and-style-from-font-file.mdx
Labels: i18n

#11636 i18n(fr): update `experimental-flags/fonts.mdx`
  src/content/docs/fr/reference/experimental-flags/fonts.mdx
Labels: i18n

#11646 i18n(fr): add `errors/cannot-determine-weight-and-style-from-font-file`
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/cannot-determine-weight-and-style-from-font-file.mdx
Labels: i18n

#11626 i18n(fr): update `guides/styling.mdx`
  src/content/docs/fr/guides/styling.mdx
Labels: i18n

#11657 fix(astro-components): update syntax highlighting and add link
  src/content/docs/en/basics/astro-components.mdx
Labels: typo/link/grammar - quick fix!, code snippet update

#11658 i18n(fr): update `basics/astro components`
  src/content/docs/fr/basics/astro-components.mdx
  src/content/docs/fr/basics/layouts.mdx
  src/content/docs/fr/guides/framework-components.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/reference/astro-syntax.mdx
  src/content/docs/fr/reference/errors/reserved-slot-name.mdx
  src/content/docs/fr/tutorial/4-layouts/1.mdx
Labels: i18n

#11621 i18n(fr): update `guides/deploy/cloudflare.mdx`
  src/content/docs/fr/guides/deploy/cloudflare.mdx
Labels: i18n

#11661 i18n(ko-KR): update `astro-components.mdx`
  src/content/docs/ko/basics/astro-components.mdx
Labels: i18n

#11662 i18n(ko-KR): update `sitemap.mdx`
  src/content/docs/ko/guides/integrations-guide/sitemap.mdx
Labels: i18n

#11654 i18n(ko-KR): update Korean translations of `tutorial`
  src/content/docs/ko/tutorial/0-introduction/1.mdx
  src/content/docs/ko/tutorial/0-introduction/index.mdx
  src/content/docs/ko/tutorial/1-setup/1.mdx
  src/content/docs/ko/tutorial/1-setup/2.mdx
  src/content/docs/ko/tutorial/1-setup/3.mdx
  src/content/docs/ko/tutorial/1-setup/4.mdx
  src/content/docs/ko/tutorial/1-setup/5.mdx
  src/content/docs/ko/tutorial/1-setup/index.mdx
Labels: i18n

#11668 i18n(ru): Add new `reference/modules/astro-i18n.mdx` translation
  src/content/docs/ru/reference/modules/astro-i18n.mdx
Labels: i18n

#11669 i18n(zh-cn): Update `astro-components.mdx`
  src/content/docs/zh-cn/basics/astro-components.mdx
Labels: i18n

#11648 i18n(zh-cn): update `guides/styling.mdx`
  src/content/docs/zh-cn/guides/styling.mdx
Labels: i18n

#10810 Update middleware.mdx
  src/content/docs/en/guides/middleware.mdx
Labels: improve or update documentation

#11397 docs(actions): add note about enctype="multipart/form-data" for file …
  src/content/docs/en/guides/actions.mdx
Labels: improve or update documentation

#11681 i18n(ko-KR): update `aws.mdx`
  src/content/docs/ko/guides/deploy/aws.mdx
Labels: i18n

#11683 i18n(ko-KR): update `imports.mdx`
  src/content/docs/ko/guides/imports.mdx
Labels: i18n

#11687 i18n(zh-cn): Update `middleware.mdx`
  src/content/docs/zh-cn/guides/middleware.mdx
Labels: i18n

#11684 i18n(ko-KR): update `middleware.mdx`
  src/content/docs/ko/guides/middleware.mdx
Labels: i18n

#11624 i18n(zh-cn): Add `/experimental-flags/fonts.mdx` & Update `/guides/fonts.mdx`
  src/content/docs/zh-cn/guides/fonts.mdx
  src/content/docs/zh-cn/reference/experimental-flags/fonts.mdx
Labels: i18n

#11690 i18n(fr): update `guides/actions.mdx`
  src/content/docs/fr/guides/actions.mdx
Labels: i18n

#11693 i18n(ko-KR): update `aws.mdx`
  src/content/docs/ko/guides/deploy/aws.mdx
Labels: i18n

#11675 i18n(fr): update `guides/deploy/aws.mdx`
  src/content/docs/fr/guides/deploy/aws.mdx
Labels: i18n

#11672 i18n(fr): improve the wording in `concepts`
  src/content/docs/fr/concepts/islands.mdx
  src/content/docs/fr/concepts/why-astro.mdx
Labels: i18n

#11647 i18n(ja): Add `guides/astro-db.mdx`
  src/content/docs/ja/guides/astro-db.mdx
  src/content/docs/ja/guides/integrations-guide/db.mdx
Labels: i18n

#11676 i18n(fr): add two new errors references
  src/content/docs/fr/reference/error-reference.mdx
  src/content/docs/fr/reference/errors/file-glob-not-supported.mdx
  src/content/docs/fr/reference/errors/file-parser-not-found.mdx
Labels: i18n

#11714 i18n(fr): update `guides/cms/decap-cms.mdx`
  src/content/docs/fr/guides/cms/decap-cms.mdx
Labels: i18n

#11712 i18n(fr): update `guides/backend`
  src/content/docs/fr/guides/backend/google-firebase.mdx
  src/content/docs/fr/guides/backend/index.mdx
  src/content/docs/fr/guides/backend/neon.mdx
  src/content/docs/fr/guides/backend/sentry.mdx
  src/content/docs/fr/guides/backend/supabase.mdx
  src/content/docs/fr/guides/backend/turso.mdx
  src/content/docs/fr/guides/backend/xata.mdx
Labels: i18n

#11718 i18n(ko-KR): update `turso.mdx`
  src/content/docs/ko/guides/backend/turso.mdx
Labels: i18n

#11709 i18n(fr): improve the wording and fix some things in `tutorial`
  src/content/docs/fr/tutorial/0-introduction/1.mdx
  src/content/docs/fr/tutorial/0-introduction/index.mdx
  src/content/docs/fr/tutorial/1-setup/1.mdx
  src/content/docs/fr/tutorial/1-setup/2.mdx
  src/content/docs/fr/tutorial/1-setup/3.mdx
  src/content/docs/fr/tutorial/1-setup/4.mdx
  src/content/docs/fr/tutorial/1-setup/5.mdx
  src/content/docs/fr/tutorial/1-setup/index.mdx
  src/content/docs/fr/tutorial/2-pages/1.mdx
  src/content/docs/fr/tutorial/2-pages/2.mdx
  src/content/docs/fr/tutorial/2-pages/3.mdx
  src/content/docs/fr/tutorial/2-pages/4.mdx
  src/content/docs/fr/tutorial/2-pages/5.mdx
  src/content/docs/fr/tutorial/2-pages/index.mdx
  src/content/docs/fr/tutorial/3-components/1.mdx
  src/content/docs/fr/tutorial/3-components/2.mdx
  src/content/docs/fr/tutorial/3-components/3.mdx
  src/content/docs/fr/tutorial/3-components/4.mdx
  src/content/docs/fr/tutorial/3-components/index.mdx
  src/content/docs/fr/tutorial/4-layouts/1.mdx
  src/content/docs/fr/tutorial/4-layouts/2.mdx
  src/content/docs/fr/tutorial/4-layouts/3.mdx
  src/content/docs/fr/tutorial/4-layouts/index.mdx
  src/content/docs/fr/tutorial/5-astro-api/1.mdx
  src/content/docs/fr/tutorial/5-astro-api/2.mdx
  src/content/docs/fr/tutorial/5-astro-api/3.mdx
  src/content/docs/fr/tutorial/5-astro-api/4.mdx
  src/content/docs/fr/tutorial/5-astro-api/index.mdx
  src/content/docs/fr/tutorial/6-islands/1.mdx
  src/content/docs/fr/tutorial/6-islands/2.mdx
  src/content/docs/fr/tutorial/6-islands/3.mdx
  src/content/docs/fr/tutorial/6-islands/4.mdx
  src/content/docs/fr/tutorial/6-islands/index.mdx
Labels: i18n

#11719 i18n(ko-KR): update `fonts.mdx`
  src/content/docs/ko/reference/experimental-flags/fonts.mdx
Labels: i18n

#11717 i18n(ko-KR): update `actions.mdx`
  src/content/docs/ko/guides/actions.mdx
Labels: i18n

#11622 i18n(it): Update tutorial
  src/content/docs/it/tutorial/0-introduction/1.mdx
  src/content/docs/it/tutorial/0-introduction/index.mdx
  src/content/docs/it/tutorial/1-setup/1.mdx
  src/content/docs/it/tutorial/1-setup/2.mdx
  src/content/docs/it/tutorial/1-setup/3.mdx
  src/content/docs/it/tutorial/1-setup/4.mdx
  src/content/docs/it/tutorial/1-setup/5.mdx
  src/content/docs/it/tutorial/1-setup/index.mdx
  src/content/docs/it/tutorial/2-pages/1.mdx
  src/content/docs/it/tutorial/2-pages/2.mdx
  src/content/docs/it/tutorial/2-pages/3.mdx
  src/content/docs/it/tutorial/2-pages/4.mdx
  src/content/docs/it/tutorial/2-pages/5.mdx
  src/content/docs/it/tutorial/2-pages/index.mdx
  src/content/docs/it/tutorial/3-components/1.mdx
  src/content/docs/it/tutorial/3-components/2.mdx
  src/content/docs/it/tutorial/3-components/3.mdx
  src/content/docs/it/tutorial/3-components/4.mdx
  src/content/docs/it/tutorial/3-components/index.mdx
  src/content/docs/it/tutorial/4-layouts/1.mdx
  src/content/docs/it/tutorial/4-layouts/2.mdx
  src/content/docs/it/tutorial/4-layouts/3.mdx
  src/content/docs/it/tutorial/4-layouts/index.mdx
  src/content/docs/it/tutorial/5-astro-api/1.mdx
  src/content/docs/it/tutorial/5-astro-api/2.mdx
  src/content/docs/it/tutorial/5-astro-api/3.mdx
  src/content/docs/it/tutorial/5-astro-api/4.mdx
  src/content/docs/it/tutorial/5-astro-api/index.mdx
  src/content/docs/it/tutorial/6-islands/1.mdx
  src/content/docs/it/tutorial/6-islands/2.mdx
  src/content/docs/it/tutorial/6-islands/3.mdx
  src/content/docs/it/tutorial/6-islands/4.mdx
  src/content/docs/it/tutorial/6-islands/index.mdx
Labels: i18n, tutorial

#11656 i18n(zh-cn): Update `error/`
  src/content/docs/zh-cn/reference/error-reference.mdx
  src/content/docs/zh-cn/reference/errors/file-glob-not-supported.mdx
  src/content/docs/zh-cn/reference/errors/file-parser-not-found.mdx
Labels: i18n

#11671 i18n(zh-cn): Update `sitemap.mdx`
  src/content/docs/zh-cn/guides/integrations-guide/sitemap.mdx
Labels: i18n

#11655 i18n(ja): Add `guides/syntax-highlighting.mdx`
  src/content/docs/ja/guides/syntax-highlighting.mdx
Labels: i18n

#11651 i18n(ja): Add `guides/server-islands.mdx`
  src/content/docs/ja/guides/server-islands.mdx
Labels: i18n

#11722 fix(guides/cms): update some FileTree and code snippets
  src/content/docs/en/guides/cms/contentful.mdx
  src/content/docs/en/guides/cms/ghost.mdx
  src/content/docs/en/guides/cms/hashnode.mdx
  src/content/docs/en/guides/cms/preprcms.mdx
  src/content/docs/en/guides/cms/sitecore.mdx
  src/content/docs/en/guides/cms/statamic.mdx
  src/content/docs/en/guides/cms/strapi.mdx
  src/content/docs/en/guides/cms/umbraco.mdx
Labels: code snippet update

#11715 i18n(fr): update `guides/cms/apostrophecms.mdx`
  src/content/docs/fr/guides/cms/apostrophecms.mdx
Labels: i18n

#11725 i18n(fr): update `guides/cms/ghost.mdx`
  src/content/docs/fr/guides/cms/ghost.mdx
Labels: i18n

#11733 i18n(ko-KR): update `cms/`
  src/content/docs/ko/guides/cms/contentful.mdx
  src/content/docs/ko/guides/cms/ghost.mdx
  src/content/docs/ko/guides/cms/hashnode.mdx
  src/content/docs/ko/guides/cms/preprcms.mdx
  src/content/docs/ko/guides/cms/sitecore.mdx
  src/content/docs/ko/guides/cms/statamic.mdx
  src/content/docs/ko/guides/cms/strapi.mdx
  src/content/docs/ko/guides/cms/umbraco.mdx
Labels: i18n

#11726 i18n(fr): update `guides/cms/hashnode.mdx`
  src/content/docs/fr/guides/cms/hashnode.mdx
Labels: i18n

#11692 Update required Node version to 18.20.8
  src/content/docs/en/guides/deploy/cloudflare.mdx
  src/content/docs/en/guides/deploy/netlify.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/tutorial/1-setup/1.mdx
Labels: improve or update documentation, merge-on-release, minor-release, Merge Queue

#11724 i18n(fr): update `guides/cms/contentful.mdx`
  src/content/docs/fr/guides/cms/contentful.mdx
Labels: i18n

#11727 i18n(fr): update `guides/cms/preprcms.mdx`
  src/content/docs/fr/guides/cms/preprcms.mdx
Labels: i18n

#11728 i18n(fr): update `guides/cms/sitecore.mdx`
  src/content/docs/fr/guides/cms/sitecore.mdx
Labels: i18n

#11729 i18n(fr): update `guides/cms/statamic.mdx`
  src/content/docs/fr/guides/cms/statamic.mdx
Labels: i18n

#11730 i18n(fr): update `guides/cms/strapi.mdx`
  src/content/docs/fr/guides/cms/strapi.mdx
Labels: i18n

#11731 i18n(fr): update `guides/cms/umbraco.mdx`
  src/content/docs/fr/guides/cms/umbraco.mdx
Labels: i18n

#11732 i18n(fr): improve wording in remaining `guides/cms`
  src/content/docs/fr/guides/cms/builderio.mdx
  src/content/docs/fr/guides/cms/buttercms.mdx
  src/content/docs/fr/guides/cms/caisy.mdx
  src/content/docs/fr/guides/cms/cloudcannon.mdx
  src/content/docs/fr/guides/cms/cosmic.mdx
  src/content/docs/fr/guides/cms/craft-cms.mdx
  src/content/docs/fr/guides/cms/crystallize.mdx
  src/content/docs/fr/guides/cms/datocms.mdx
  src/content/docs/fr/guides/cms/directus.mdx
  src/content/docs/fr/guides/cms/drupal.mdx
  src/content/docs/fr/guides/cms/flotiq.mdx
  src/content/docs/fr/guides/cms/frontmatter-cms.mdx
  src/content/docs/fr/guides/cms/gitcms.mdx
  src/content/docs/fr/guides/cms/hygraph.mdx
  src/content/docs/fr/guides/cms/index.mdx
  src/content/docs/fr/guides/cms/keystatic.mdx
  src/content/docs/fr/guides/cms/keystonejs.mdx
  src/content/docs/fr/guides/cms/kontent-ai.mdx
  src/content/docs/fr/guides/cms/microcms.mdx
  src/content/docs/fr/guides/cms/payload.mdx
  src/content/docs/fr/guides/cms/prismic.mdx
  src/content/docs/fr/guides/cms/sanity.mdx
  src/content/docs/fr/guides/cms/spinal.mdx
  src/content/docs/fr/guides/cms/storyblok.mdx
  src/content/docs/fr/guides/cms/studiocms.mdx
  src/content/docs/fr/guides/cms/tina-cms.mdx
  src/content/docs/fr/guides/cms/wordpress.mdx
Labels: i18n

#11735 5.8.0 minor release docs
  src/content/docs/en/guides/deploy/cloudflare.mdx
  src/content/docs/en/guides/deploy/netlify.mdx
  src/content/docs/en/install-and-setup.mdx
  src/content/docs/en/tutorial/1-setup/1.mdx
Labels: improve or update documentation, merge-on-release, minor-release, Merge Queue

#11737 i18n(fr): update `install-and-setup.mdx` and `tutorial/1-setup/1.mdx`
  src/content/docs/fr/install-and-setup.mdx
  src/content/docs/fr/tutorial/1-setup/1.mdx
Labels: i18n

#11740 i18n(fr): improve the wording in the remaining `guides/deploy`
  src/content/docs/fr/guides/deploy/aws.mdx
  src/content/docs/fr/guides/deploy/azion.mdx
  src/content/docs/fr/guides/deploy/buddy.mdx
  src/content/docs/fr/guides/deploy/cleavr.mdx
  src/content/docs/fr/guides/deploy/clever-cloud.mdx
  src/content/docs/fr/guides/deploy/deno.mdx
  src/content/docs/fr/guides/deploy/edgio.mdx
  src/content/docs/fr/guides/deploy/fleek.mdx
  src/content/docs/fr/guides/deploy/flightcontrol.mdx
  src/content/docs/fr/guides/deploy/flyio.mdx
  src/content/docs/fr/guides/deploy/github.mdx
  src/content/docs/fr/guides/deploy/gitlab.mdx
  src/content/docs/fr/guides/deploy/google-cloud.mdx
  src/content/docs/fr/guides/deploy/google-firebase.mdx
  src/content/docs/fr/guides/deploy/heroku.mdx
  src/content/docs/fr/guides/deploy/index.mdx
  src/content/docs/fr/guides/deploy/kinsta.mdx
  src/content/docs/fr/guides/deploy/microsoft-azure.mdx
  src/content/docs/fr/guides/deploy/render.mdx
  src/content/docs/fr/guides/deploy/sst.mdx
  src/content/docs/fr/guides/deploy/stormkit.mdx
  src/content/docs/fr/guides/deploy/surge.mdx
  src/content/docs/fr/guides/deploy/vercel.mdx
  src/content/docs/fr/guides/deploy/zeabur.mdx
  src/content/docs/fr/guides/deploy/zerops.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
Labels: i18n

#11749 i18n(zh-cn): Update `turso.mdx`
  src/content/docs/zh-cn/guides/backend/turso.mdx
Labels: i18n

#11748 i18n(zh-cn): Update `cms/`
  src/content/docs/zh-cn/guides/cms/contentful.mdx
  src/content/docs/zh-cn/guides/cms/ghost.mdx
  src/content/docs/zh-cn/guides/cms/hashnode.mdx
  src/content/docs/zh-cn/guides/cms/preprcms.mdx
  src/content/docs/zh-cn/guides/cms/sitecore.mdx
  src/content/docs/zh-cn/guides/cms/statamic.mdx
  src/content/docs/zh-cn/guides/cms/strapi.mdx
  src/content/docs/zh-cn/guides/cms/umbraco.mdx
Labels: i18n

#11747 i18n(ko-KR): update `/1-setup/1.mdx`
  src/content/docs/ko/tutorial/1-setup/1.mdx
Labels: i18n

#11746 i18n(ko-KR): update `install-and-setup.mdx`
  src/content/docs/ko/install-and-setup.mdx
Labels: i18n

#11745 i18n(ko-KR): update `netlify.mdx`
  src/content/docs/ko/guides/deploy/netlify.mdx
Labels: i18n

#11744 i18n(ko-KR): update `cloudflare.mdx`
  src/content/docs/ko/guides/deploy/cloudflare.mdx
Labels: i18n

#11752 i18n(fr): improve the wording in `integrations-guide`
  src/content/docs/fr/guides/astro-db.mdx
  src/content/docs/fr/guides/environment-variables.mdx
  src/content/docs/fr/guides/integrations-guide/alpinejs.mdx
  src/content/docs/fr/guides/integrations-guide/cloudflare.mdx
  src/content/docs/fr/guides/integrations-guide/db.mdx
  src/content/docs/fr/guides/integrations-guide/deno.mdx
  src/content/docs/fr/guides/integrations-guide/index.mdx
  src/content/docs/fr/guides/integrations-guide/markdoc.mdx
  src/content/docs/fr/guides/integrations-guide/mdx.mdx
  src/content/docs/fr/guides/integrations-guide/netlify.mdx
  src/content/docs/fr/guides/integrations-guide/node.mdx
  src/content/docs/fr/guides/integrations-guide/partytown.mdx
  src/content/docs/fr/guides/integrations-guide/preact.mdx
  src/content/docs/fr/guides/integrations-guide/react.mdx
  src/content/docs/fr/guides/integrations-guide/sitemap.mdx
  src/content/docs/fr/guides/integrations-guide/solid-js.mdx
  src/content/docs/fr/guides/integrations-guide/svelte.mdx
  src/content/docs/fr/guides/integrations-guide/tailwind.mdx
  src/content/docs/fr/guides/integrations-guide/vercel.mdx
  src/content/docs/fr/guides/integrations-guide/vue.mdx
Labels: i18n

#11756 i18n(zh-cn): Update `install-and-setup.mdx`
  src/content/docs/zh-cn/install-and-setup.mdx
Labels: i18n

#11755 i18n(zh-cn): Update `netlify.mdx`
  src/content/docs/zh-cn/guides/deploy/netlify.mdx
Labels: i18n, Merge Queue

#11754 i18n(zh-cn): Update `cloudflare.mdx`
  src/content/docs/zh-cn/guides/deploy/cloudflare.mdx
Labels: i18n, Merge Queue

#11758 docs: add astro-loader-i18n to community libraries
  src/content/docs/en/recipes/i18n.mdx
Labels: Merge Queue, community resource

#11763 fix(migrate-to-astro): replace `getEntryBySlug` with `getEntry`
  src/content/docs/en/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/en/guides/migrate-to-astro/from-nextjs.mdx
Labels: typo/link/grammar - quick fix!

#11761 Update astro:actions checkbox validation
  src/content/docs/en/reference/modules/astro-actions.mdx
Labels: code snippet update

#11762 i18n(fr): update `recipes/i18n.mdx`
  src/content/docs/fr/recipes/i18n.mdx
Labels: i18n

#11771 i18n(fr): Update `reference/modules/astro-actions` from #11761
  src/content/docs/fr/reference/modules/astro-actions.mdx
Labels: i18n

#11773 i18n(ko-KR): update `migrate-to-astro/`
  src/content/docs/ko/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/ko/guides/migrate-to-astro/from-nextjs.mdx
Labels: i18n

#11777 i18n(fr): improve the wording in `guides/migrate-to-astro`
  src/content/docs/fr/guides/media/cloudinary.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-create-react-app.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-docusaurus.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-eleventy.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gatsby.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gitbook.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-gridsome.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-hugo.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-jekyll.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nextjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-nuxtjs.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-pelican.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-sveltekit.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-vuepress.mdx
  src/content/docs/fr/guides/migrate-to-astro/from-wordpress.mdx
  src/content/docs/fr/guides/migrate-to-astro/index.mdx
Labels: i18n

#11723 i18n(ja): update `0-introduction/index.mdx`
  src/content/docs/ja/tutorial/0-introduction/index.mdx
Labels: i18n

#11783 fix(deploy): remove edgio deploy docs due to its bankrupt
  public/_redirects
  public/logos/edgio.svg
  src/components/DeployGuidesNav.astro
  src/content/docs/de/guides/deploy/edgio.mdx
  src/content/docs/en/guides/deploy/edgio.mdx
  src/content/docs/es/guides/deploy/edgio.mdx
  src/content/docs/fr/guides/deploy/edgio.mdx
  src/content/docs/ja/guides/deploy/edgio.mdx
  src/content/docs/ko/guides/deploy/edgio.mdx
  src/content/docs/pt-br/guides/deploy/edgio.mdx
  src/content/docs/ru/guides/deploy/edgio.mdx
  src/content/docs/zh-cn/guides/deploy/edgio.mdx
  src/data/logos.ts
Labels: i18n

#11789 Removed currently
  src/content/docs/en/guides/sessions.mdx
Labels: improve or update documentation

#11751 Improve documentation about ASTRO_KEY
  src/content/docs/en/guides/server-islands.mdx
Labels: improve or update documentation, Merge Queue

#11791 i18n(fr): update `guides/sessions.mdx`
  src/content/docs/fr/guides/sessions.mdx
Labels: i18n

#11767 Add example of using environment variables with GitHub Pages deployment
  src/content/docs/en/guides/deploy/github.mdx
Labels: improve or update documentation

#11797 i18n(ko-KR): update `google-firebase.mdx`
  src/content/docs/ko/guides/backend/google-firebase.mdx
Labels: i18n

#11802 Remove unneeded whitespace in actions.mdx code example [i18nIgnore]
  src/content/docs/en/guides/actions.mdx
  src/content/docs/fr/guides/actions.mdx
  src/content/docs/ko/guides/actions.mdx
  src/content/docs/pl/guides/actions.mdx
  src/content/docs/zh-cn/guides/actions.mdx
Labels: i18n

#11793 i18n(fr): update `guides/backend/google-firebase.mdx`
  src/content/docs/fr/guides/backend/google-firebase.mdx
Labels: i18n

#11704 i18n(ja): Add `guides/migrate-to-astro/from-pelican.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-pelican.mdx
Labels: i18n

#11703 i18n(ja): Add `guides/migrate-to-astro/from-jekyll.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-jekyll.mdx
Labels: i18n

#11701 i18n(ja): Add `guides/migrate-to-astro/from-gridsome.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-gridsome.mdx
Labels: i18n

#11705 i18n(ja): Add `guides/migrate-to-astro/from-sveltekit.mdx`
  src/content/docs/ja/guides/migrate-to-astro/from-sveltekit.mdx
Labels: i18n

#11792 i18n(fr): update `guides/server-islands.mdx`
  src/content/docs/fr/guides/server-islands.mdx
Labels: i18n

#11787 Add note on disabling default styles
  src/content/docs/en/reference/configuration-reference.mdx
  src/content/docs/en/reference/experimental-flags/responsive-images.mdx
Labels: add new content, merge-on-release, Merge Queue
